/* sns_share(PC) */
.sns_wrap{position:relative;display:inline-block;line-height:13px}
.sns_wrap .sns_share.show {display:block;}
.sns_wrap .sns_share {display:none;position:absolute;top:8px;right:0;border:1px solid #553de9;width:233px;z-index:100;}
.sns_wrap .sns_share .s_header {position:relative;height:35px;background:#f8f8f8;}
.sns_wrap .sns_share .s_title {margin:0;padding:10px 0 10px 20px;color:#010101;font-size:13px;text-align:left;letter-spacing:-0.02em;font-family:dotum}
.sns_wrap .sns_share .btn_close {display:block;padding:4px;position:absolute;top:8px;right:16px}
.sns_wrap .sns_share .bg_cls {display:inline-block;width:12px;height:11px;background:url(//img.danawa.com/img/market/ico_share.png) 0 -16px no-repeat;text-indent:-9999px;font-size:0;vertical-align:top;}
.sns_wrap .sns_share .s_content {padding:20px 6px 6px;background:#fff;}
.sns_wrap .sns_share .sns_lst{padding:0;margin:0;list-style:none}
.sns_wrap .sns_share .sns_lst:after{display:block;overflow:hidden;clear:both;content:""}
.sns_wrap .sns_share .sns_lst li {float:left;width:33.33%;padding:0 0 12px 0;text-align:center;}
.sns_wrap .sns_share .stxt {display:block;margin-top:2px;font-size:11px;color:#666;font-weight:normal;letter-spacing:-0.1em;font-family:dotum}
.sns_wrap .sns_share .i_sns {display:inline-block;width:45px;height:45px;background:url(//img.danawa.com/img/common/bg_share_190522.png) no-repeat;}
.sns_wrap .sns_share .i_sns.kakaotalk {background-position:0 0;}
.sns_wrap .sns_share .i_sns.line {background-position:-50px 0;}
.sns_wrap .sns_share .i_sns.facebook {background-position:-100px 0;}
.sns_wrap .sns_share .i_sns.twitter {background-position:0 -50px;}
.sns_wrap .sns_share .i_sns.kstory {background-position:-50px -50px;}
.sns_wrap .sns_share .i_sns.band {background-position:-100px -50px;}
.sns_wrap .sns_share .i_sns.email {background-position:0 -100px;}
.sns_wrap .sns_share .i_sns.shop_email {background-position:-50px -100px;}
.sns_wrap .sns_share .i_sns.code {background-position:-100px -100px;}
.sns_wrap .sns_share .i_sns.m_url {background-position:0 -150px;}
.sns_wrap .sns_share .i_sns.url {background-position:-50px -150px;}
.sns_wrap .sns_share .item_url {clear:both;display:block;zoom:1;clear:both;font-family:dotum}
.sns_wrap .sns_share .item_url:after{display:block;overflow:hidden;clear:both;content:""}
.sns_wrap .sns_share .item_url a:hover {text-decoration:none;}
.sns_wrap .sns_share .input_url {display:block;float:left;width:167px;height:24px;line-height:24px;padding:0 9px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#333;border:1px solid #dcdcdc;background-color:#fff;text-align:left;}
.sns_wrap .sns_share .copy_url {display:block;float:left;width:40px;text-align:center;height:24px;line-height:24px;border:1px solid #dcdcdc;color:#666;font-size:11px;font-weight:bold;border-left:none;}

/* url_share */
.sns_wrap .url_share.show {display: block;}
.sns_wrap .url_share {display:none;position:absolute;top:8px;right:0;padding:8px 10px 6px;border:1px solid #9d9d9d;border-radius:0;width:200px;z-index:10;background:#fff;font-family:dotum}
.sns_wrap .url_share .acc {display:inline-block;background:url(//img.danawa.com/img/market/ico_share.png) no-repeat;}
.sns_wrap .url_share .acc_l {width:11px;height:6px;background-position:0 -30px;}
.sns_wrap .url_share .acc {display:block;position:absolute;top:-6px;right:32px;z-index:10}
.sns_wrap .url_share .url_txt {margin:0;text-align:left;color:#464646;font-size:11px;line-height:16px}
.sns_wrap .url_share .btn_close {display:block;padding:4px;position:absolute;top:6px;right:6px;}
.sns_wrap .url_share .bg_cls {display:inline-block;width:10px;height:9px;background:url(//img.danawa.com/img/market/ico_share.png) -16px -16px no-repeat;text-indent:-9999px;font-size:0;vertical-align:top;}


/* share(모바일) */
.market.sns_share{position:fixed;top:0;left:0;right:0;bottom:0;z-index:5000;font-size:14px;line-height:1.25em}
.market.sns_share .s_wrap{position:absolute;z-index:10;top:50%;left:50%;padding:0 12px 15px 12px;width:242px;width:241px;border-radius:4px;background:#fff;-webkit-transform: translate(-50%,-50%);transform:translate(-50%,-50%);}
.market.sns_share .i_sns{display:inline-block;width:50px;height:50px;background:url(//img.danawa.com/img/m/common/sns_share_190523.png) no-repeat;background-size:190px auto;}
.market.sns_share .kakaotalk{background-position:0 -27px;}
.market.sns_share .line{background-position:-68px -27px;}
.market.sns_share .facebook{background-position:-136px -27px;}
.market.sns_share .twitter{background-position:0 -95px;}
.market.sns_share .kstory{background-position:-68px -95px;}
.market.sns_share .band{background-position:-136px -95px;}
.market.sns_share .url{background-position:0 -160px;}
.market.sns_share .s_header{position:relative}
.market.sns_share .s_title{padding:16px 0;text-align:center;line-height:1;font-size:19px;font-weight:normal;color:#0f0f0f;letter-spacing:-.5px}
.market.sns_share .btn_close{position:absolute;top:50%;right:0;margin-top:-15px;width:30px;height:30px;text-align:center}
.market.sns_share .btn_close .i_sns{display:inline-block;margin-top:5px;width:20px;height:19px;background-position:0 0;font-size:0;color:transparent;}
.market.sns_share .sns_lst li{float:left;margin-top:10px;width:33.333%;text-align:center !important}
.market.sns_share .sns_lst li:nth-child(3n){margin-right:0;}
.market.sns_share .sns_lst li:nth-child(-n+3){margin-top:0}
.market.sns_share .sns_lst:after{display:block;overflow:hidden;clear:both;content:""}
.market.sns_share .stxt{display:block;text-align:center;font-size:12px;color:#666;letter-spacing:-.5px}
.market.sns_share .item_url{position:relative;margin:10px 17px 0 15px;padding-right:57px;border:1px solid #bfbfbf;border-radius:3px;overflow:hidden;}
.market.sns_share .input_url{display:block;padding:8px 15px;border-right:1px solid #bfbfbf;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px;color:#666;background-color:#fff;text-align:left;box-sizing:border-box;}
.market.sns_share .copy_url{position:absolute;top:0;right:0;padding:8px 0;width:57px;height:100%;text-align:center;color:#33383e;font-size:13px}
.market.sns_share .s_dimm{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.6);cursor:pointer}
.market.sns_share .s_toast{position:absolute;z-index:5;bottom:-53px;left:50%;background:rgba(0,0,0,.4);border-radius:26px;border-radius:20px / 100%;-webkit-transform: translate(-50%,-50%);transform:translate(-50%,-50%);}
.market.sns_share .s_toast .txt{display:inline-block;white-space:nowrap;margin:0;padding:5px 20px 6px;text-align:center;line-height:1;color:#fff;font-size:15px}
#wrap_shop_danawa .con_items_btm .market.sns_share{top:0;right:0}
#wrap_shop_danawa .middle_btm_content .market.sns_share{top:0;left:0;right:0}
#wrap_shop_danawa .section_assemble .market.sns_wrap{top:0;right:0}
.pop_wrapper .sns_wrap .market.sns_share{top:0;right:0}