@charset "utf-8";

/* BHJ는 이 파일을 계속 수정 */
div {background:#fff}
p {font-size:12px;color:#333;}

/* project */
p_wrap {float: left;}
p_wrap p {font-size:12px;}

/* 2018-07-09 */
.lhk_test{margin:0;padding:0}
.lhk_test2{margin:0;padding:0}
.lhk_test3{margin:0;padding:0}
.lhk_test4{margin:0;padding:0}

.lhk_test5{margin:0;padding:0}
.lhk_test6{margin:0;padding:0}
.lhk_test7{margin:0;padding:0}