@charset "utf-8";

/* BHJ는 이 파일을 계속 수정 */
div {background:#fff}
p {font-size:12px;color:#333;}

/* project */
p_wrap {float: left;}
p_wrap p {font-size:12px;}

/* 2018-07-09 */
.lhk_test{margin:0;padding:0}
.lhk_test2{margin:0;padding:0}
.lhk_test3{margin:0;padding:0;font-size:12px;}
.lhk_test4{margin:0;padding:0}

.lhk_test5{margin:0;padding:0}
.lhk_test6{margin:0;padding:0}
.lhk_test7{margin:0;padding:0}

.project_01{margin:0;padding:0}
.project_02{margin:0;padding:0}
.project_03{margin:0;padding:0}
.project_04{margin:0;padding:0}
.project_05{margin:0;padding:0}
.project_06{margin:0;padding:0}
.project_07{margin:0;padding:0}
.project_08{margin:0;padding:0}
.project_09{margin:0;padding:0}
.project_10{margin:0;padding:0}

.tag_01{font-size:12px;font-weight:bold}
.tag_02{font-size:12px;font-weight:bold}
.tag_03{font-size:12px;font-weight:bold}
.tag_04{font-size:12px;font-weight:bold}

.feature_01{display:block;margin:0;padding:0;}
.feature_02{display:block;margin:0;padding:0;}
.feature_03{display:block;margin:0;padding:0;}
.feature_04{display:block;margin:0;padding:0;}
.feature_05{display:block;margin:0;padding:0;}

.project_1{display:block;margin:0;padding:0}
.project_2{display:block;margin:0;padding:0}
.project_3{display:block;margin:0;padding:0}