.hotfix_01{margin:0}
.hotfix_02{margin:0;padding:0}
.hotfix_03{margin:0;padding:0}

.hotfix_04{margin:0;padding:0}


.hotfix_04{margin:0;padding:0}

.hotfix_04{margin:0;padding:0}
.hotfix_04{margin:0;padding:0}
.hotfix_04{margin:0;padding:0}

.hotfix_stash{font-size:12px}