@charset "UTF-8";

$color_primary:#e53c39;
$color_secondary:#553de8;
$color_tertiary:#0473b8;

$color_primary_bg:#eee;

$color_primary_txt:#0f0f0f;
$color_secondary_txt:#333;
$color_tertiary_txt:#666;

$color_white:#fff;
$color_black: #000;

$color_border:#e0e0e0;

$color_bar:#e2e2e2;

/// 게시판 뱃지 컬러
//샵다나와 .sub_word_29	
$color_shopdnw:#e53b38;
$bg_shopdnw:rgba(229, 59, 56, 0.7);
//표준PC .sub_word_4	
$color_standard:#553de8;
$bg_standard:rgba(85, 61, 232, 0.7);
//판매점조립PC .sub_word_5	
$color_assamble:#3059bb;
$bg_assamble:rgba(48, 89, 187, 0.7);
//기업용pc .sub_word_7	
$color_company:#1b84e5;
$bg_company:rgba(27, 132, 229, 0.7);
//pc견적/역경매 .sub_word_10	
$color_auction:#186f28;
$bg_auction:rgba(24, 111, 40, 0.7);
//PC견적 .sub_word_16	
$color_estimate:#e538a2;
$bg_estimate:rgba(229, 56, 162, 0.7);
//미니샵 .sub_word_33	
$color_minishop:#ee4e00;
$bg_minishop:rgba(238, 78, 0, 0.7);
//샵다나와노트북 .sub_word_35	
$color_notebook:#d62817;
$bg_notebook:rgba(214, 40, 23, 0.7);
//하이엔드 .sub_word_43	
$color_highend:#5c0f45;
$bg_highend:rgba(92, 15, 69, 0.7);
//중고마켓 .sub_word_15	
$color_used:#202bb7;
$bg_used:rgba(32, 43, 183, 0.7);
