@charset "utf-8";

.test01{
	margin:0;
	padding:0;
}

.test02{
	font-size:12px
}

.test03{
	width:100%
}

.test04{
	width:100%
}

.test04{
	width:50%;
	float:left;
}

.test05{
	width:50%;
	float:right;
}

.test06{
	width:50%;
	float:right;
}