@charset "euc-kr";
/*
최종작업일자 : 2011년 4월 25,26,27일 
작업자 : P05
작업내용 : 오버레이어관련수정

최종작업일자 : 2011년 4월 15일 AM 9시 43분
작업자 : P05
작업내용 : cm추천 write박스 select box 밑 상품 z-index 표시 및 ie 에서 페이징 문제, 상품추가시 #productChoose width 커지는 문제


최종작업일자 : 2011년 4월 4일 AM 9시 00분
작업자 : P07
작업내용 : cm추천 노트북 css작성
*/	


/* CSS Document */
.offscreen{text-indent:-10000px; visibility:hidden;}
.boldText{font-size:12px; font-weight:bold; color:#000000;}
a:hover {text-decoration:none;}
caption{visibility:hidden;}
.text_hide {text-indent:-10000px; font-size:0; position:absolute; visibility:hidden; height:0; display:block; width:0; }

/* 타이틀 */
#noteCm{margin-top:10px;}

/* CM추천노트북 서브타이틀 */
.subtit {background:url("//img.danawa.com/new/section_m/cm_notebook/img/cm_subtitle_1.jpg") no-repeat scroll 0 0 transparent; width:132px; height:23px; margin:46px 0 0 30px;}


/* CM추천노트북 리스트 : 섹션개편에서 가져옴 */
.listArea{width:905px; margin-left:10px; position:relative; padding-bottom:10px;}

.searchBox {margin:10px 0 10px 0; text-align:center; position:relative;}
.searchBox .posRight {top:0; right:0;}
.searchBox label {font-size:12px; vertical-align:middle;}
.bbsType {border-collapse:collapse; width:100%; border-top:2px solid #989898;  margin-top:2px;}
.bbsType th {background:#f6f6f6; padding:10px 0; text-align:center; border-bottom:1px solid #bcbcbc; color:#333;}
.bbsType tbody td {border-bottom:1px solid #dbdbdb; padding:7px 0; color:#787878; font-size:12px;  color:#787878; width:798px; text-align:center;}
.bbsType tbody td span{padding:5px 0 0 0; word-break:break-all; -ms-word-break:break-all; word-wrap: break-word;white-space:-moz-pre-wrap; width:100%;}
/*.bbsType tbody td .txtOutput{}*/
.bbsType tbody a{font-size:12px; color:#333;}
.bbsType tbody .title {text-align:left; line-height:23px; padding-left:10px;}
.bbsType tbody .title .btn_set{padding-left:10px; vertical-align:top;}
.bbsType tbody .title .btn_set img{padding-right:2px; vertical-align:baseline;}
.bbsType tbody .name {text-align:center;}
.bbsType tbody .title a {font-size:12px; color:#333; font-weight:normal; padding-left:5px; vertical-align:middle;}
.bbsType tbody .name a {font-size:12px; color:#787878;}
.bbsType tbody .money{color:#ff6434; font-weight:bold;}


/*상품정보*/
.bbsType tbody .prod130 {margin:0; padding:15px 20px 20px 65px; font-size:12px;font-family:Tahoma, Geneva, sans-serif;list-style:none; text-align:left; word-wrap: break-word;white-space: -moz-pre-wrap;}
.bbsType tbody .prod130 li:after {content:" "; display:block; clear:both; height:0; visibility:hidden;}
.bbsType tbody .prod130 li{width:798px;border:2px solid #e6e6e6; margin:7px 0 8px 0;padding:13px 0 13px 13px; vertical-align:top;*zoom:1;}
.bbsType tbody .prod130 a{text-decoration:none;cursor:pointer}
.bbsType tbody .prod130 a strong{display:inline-block; margin:0;color:#000; font-family:Arial Black; font-size:20px;}
.bbsType tbody .prod130 .thumb{display:inline; overflow:hidden; float:left; position:relative;width:130px; height:130px; margin:0 15px 0 0;background:#fff;color:#666; text-align:center;}
.bbsType tbody .prod130 .thumb img{display:block;border:0}
.bbsType tbody .prod130 li .spec{display:inline-block; margin:0 0 0 15px; position:relative;}
.bbsType tbody .prod130 li .spec #Layer1{position:absolute; left:150px; top:63px; z-index:100;}
.bbsType tbody .prod130 li .spec #Layer1 td{border:none; text-align:left;}
.bbsType tbody .prod130 li .spec .priceNum{padding:8px 0; }
.bbsType tbody .prod130 li .spec .priceNum img{padding-right:1px;}
.bbsType tbody .prod130 li .spec .priceNum span{padding-left:8px; vertical-align:baseline;}
.bbsType tbody .prod130 li .spec .priceNum span img{padding-left:1px;}
.bbsType tbody .prod130 li .spec p{vertical-align:baseline; border-bottom:none;}
.bbsType tbody .prod130 p{width:630px; margin:0; color:#666666; line-height:1.8; font-size:11px;}


.bbsType .cnt {font-weight:bold;}
.bbsType .posRight {text-align:right; position:static;}
.bbsType tfoot td {padding:5px 0;}
.bbsType tfoot .indexBorder {border:0; background:#ffffff; padding:5px 0; text-align:center; margin-right:87px;}
.notice .title {background:url(//img.danawa.com/new/community/common_img/ico_notice.gif) no-repeat #f3f6fd 7px 9px; padding-left:25px; line-height:140%; }
.notice a, .notice a strong {color:#000; }
.bbsType tfoot .posRight {float:right; margin:20px 10px 0 0; height:23px;}

.indexBorder {text-align:center; position:static; zoom:1;margin-top:10px;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fff; font-family:Verdana; font-size:11px; text-decoration:none; width:20px;}
.gray a:hover{border:#fff  1px solid; font-color:#7e3bdb;}
.gray .next, .gray .prev {border:#969696 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#ffffff; color:#7e3bdb; border:1px solid #7e3bdb; font-weight:bold;}

.small a, .small span {width:16px; height:15px; padding:1px 0 0 0; font-size:11px;  text-align:center;color:#6b6b6b; border:1px solid #fff; font-family:Verdana; font-size:11px; text-decoration:none; line-height:16px;}
.small a:hover, .small .next, .small .prev {border:#969696 1px solid;}
.small .page_on, .small .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }
.small a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% -1px; width:16px; }
.small a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% -1px; width:16px; margin-right:2px;}
.indexBorder .posRight {margin-left:30px; vertical-align:top; padding:0;}
/*.inputStyle  {border:1px solid #BEBEBE; height:12px; padding:3px 5px;}*/
.textarea01{border:1px solid #BEBEBE; height:12px; padding:3px 9px;}

/* 노트북 문의하기 */
.cmtArea{width:925px; position:relative; padding:0; margin:30px 0 0 0;}
/* 노트북 문의하기 로그인/질문하기영역*/
.tit_box{background:url("//img.danawa.com/new/section_m/cm_notebook/img/q_box.gif") no-repeat; padding:20px 30px 0 30px;}
.subtit2 {background:url("//img.danawa.com/new/section_m/cm_notebook/img/cm_subtitle_2.jpg") no-repeat scroll 0 0 transparent; width:132px; height:23px; margin:0; padding-bottom:30px;}
.tit_box_bottom {background:url("//img.danawa.com/new/section_m/cm_notebook/img/q_box_bottom.gif") no-repeat scroll  transparent 0 0 ; width:925px; height:23px; margin:0;}
.tit_box .preQ {position:absolute; left:815px; top:20px;}

.loginBox {position:relative; background:#ffffff; width:864px; padding:0 10px 10px 0; height:22px; font-size:12px; zoom:1; overflow:hidden;}
.loginBox input {vertical-align:middle;}
.loginBox label {margin-left:5px;}
.loginBox .inputStyle {width:104px; padding:3px 5px; height:12px;}
.loginBox .posRight a {font-size:11px; color:#333;}
.loginBox .posRight  {font-size:10px; color:#666; right:20px; }

.txtareaWrapWrite textarea {width:791px;  height:47px; border:1px solid #c5c5c5; background:#fff; font-size:11px; overflow-y:auto; overflow-x:hidden; margin-right:-4px; zoom:1; }
.txtareaWrapWrite .Que_Btn {background:url("//img.danawa.com/new/section_m/cm_notebook/img/btn_que.gif") no-repeat scroll 0 0 transparent; height:49px; width:69px; position:absolute; right:31px;}

.txtareaWrap {float:left;}
.txtareaWrap textarea {width:770px;  height:41px; border:1px solid #c5c5c5; background:#fff; font-size:11px; overflow-y:auto; overflow-x:hidden; margin-right:-4px; zoom:1; padding:3px; float:left;}
.info_txt {font-size:11px; color:#888888; position:relative; float:right; right:75px; padding-top:5px; margin:0;}
.info_txt span {font-weight:bold; color:#666666;}

.txtareaWrapCmt {float:left;}
.txtareaWrapCmt textarea {width:700px;  height:41px; border:1px solid #c5c5c5; background:#fff; font-size:11px; overflow-y:auto; overflow-x:hidden; margin-right:-4px; zoom:1; padding:3px;}


/* 코멘트 리스트 */
.cmt_list {padding:50px 39px;}
.cmt_list img {vertical-align:top;}
.cmt_list dt {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
.cmt_list .image img {border:2px solid #a5a2a5; width:40px;}
.cmt_list .image {position:absolute; left:0; top:0;}
.cmt_list .user {margin:0px 0 10px 55px; font-size:11px; color:#999; }
.cmt_list .user .name a {font-size:11px; color:#333;}
.cmt_list .comment {margin:0 0 0 55px; font-size:11px; line-height:1.6;}
.cmt_list .writeCmt {margin:0px 0 0 55px; padding:0; border:0; background:#fff;}
.cmt_list .writeCmt input {right:0; overflow:visible; vertical-align:top; margin:0; padding:0; position:relative; float:right;}

.cmt_list #lastline {border:0; margin-bottom:20px; padding-bottom:20px; zoom:1; position:relative; min-height:47px; _height:47px;}/*마지막줄*/
.cmt_list li {border-bottom:1px dotted #d6d6d6; margin-bottom:20px; padding-bottom:20px; zoom:1; min-height:47px; _height:47px;}

.cmt_list .button {position:absolute; top:0; right:0; font-size:11px; color:#474747; vertical-align:top;}
.cmt_list .button button {overflow:visible; margin:0 2px; vertical-align:top; background:none; font-size:11px;}
.cmt_list .replyType { background:url("//img.danawa.com/new/d_news/img/bul_reply.gif") no-repeat left -14px; margin-left:55px; padding-left:15px; position:relative;}
.cmt_list .replyType .image {left:15px;}
.cmt_list .cmt_read .staff_comment {margin:0 0 0 10px; font-size:11px; line-height:1.6;}
.cmt_read .writeCmt {display:none;}
.cmt_write dd {display:none;}
.cmt_write dd.writeCmt {display:block; margin:0 0 0 0px;}
.cmt_write .user, .cmt_modify .user {margin-bottom:5px;}

.searchComment{background:#fff;}
.cmt_modify dd.comment {display:none;}
.cmt_modify dd.opinion_comment_a {margin:0 0 5px 55px; font-size:12px; color:#6246dd;}
.cmt_modify dd.opinion_comment_b {margin:0 0 5px 55px; font-size:12px; color:#ed1b23;}

.btnWrapper {position:relative;}
.btnWrapper .posRight {top:0;}

.prodCmt {margin:0;padding:15px 20px 10px  0; font-size:12px;font-family:Tahoma, Geneva, sans-serif;list-style:none; text-align:left;}
.prodCmt li{width:745px;border:2px solid #e6e6e6; margin-bottom:10px;padding:13px 0 13px 13px; vertical-align:top;*zoom:1;}
.prodCmt a{text-decoration:none;cursor:pointer}
.prodCmt a strong{display:inline-block; margin:0;color:#000; font-family:Arial; font-size:18px; font-weight:bold;}
.prodCmt .thumb{display:inline; overflow:hidden; float:left; position:relative;width:130px; margin:0 15px 0 0;background:#fff;color:#666;line-height:80px;text-align:center;}
.prodCmt .thumb img{display:block;border:0}
.prodCmt li .spec {display:inline-block; margin:0 0 0 15px;  position:relative;z-index:2000;}
.prodCmt li .spec #Layer2{position:absolute; left:177px; top:-120px; z-index:1000; display:block;}
.prodCmt li .spec .priceTxt{padding:8px 0 0 15px; font-family:Tahoma; font-size:15px; font-weight:bold; color:#5390ff; padding-bottom:2px;}
.prodCmt li .spec img{padding-right:1px;}
.prodCmt li .spec span{padding-left:8px; vertical-align:baseline;}
.prodCmt li .spec span img{padding-left:1px;}
.prodCmt li .spec p{ margin-top:3px; vertical-align:baseline;}
.prodCmt p{width:630px; margin:0; color:#666666; line-height:1.9; font-size:11px;}
table.type_01 {background:url(//img.danawa.com/new/section_m/cm_notebook/img/spec_bg3.gif);width:500px;height:95px;*height:82px;display:block;border-collapse:collapse;}
table.type_01 td.first {font-size:11px; color:#666; line-height:1.8; padding:15px 15px 0 15px;height:85px;}
table.type_01 td.last {background:url(//img.danawa.com/new/section_m/cm_notebook/img/spec_bg_bottom2.gif) no-repeat left top; width:500px; height:10px}
table.type_02 {background:url(//img.danawa.com/new/section_m/cm_notebook/img/spec_bg4.gif); width:550px; height:114px;overflow:hidden;border-collapse:collapse;}
table.type_02 td.first {width:100px;text-align:center;}
table.type_02 td.last {font-size: 11px;color:#666; line-height:1.8;padding:10px 15px 15px 10px;vertical-align:top;}


/*팝업디자인*/
#popup_body{width:725px;}
.confirmBtnSet{background-color:#ffffff; padding:15px; text-align:center;}

/* 상품등록*/
.vsproDuct {border-bottom:1px solid #b6b6b6; background-color:#fff;}
.prodTit {font-weight:bold; margin-left:10px; color:#000; padding:3px 0; text-align:center;}
.tabBox{position:relative; margin:0; background-color:#FFFFFF; padding:20px 20px 10px 20px;z-index:1;}
.tab {overflow:hidden; margin-bottom:-1px; _zoom:1; position:relative; z-index:1; }

.relationBox {border:1px solid #b0b0b0; position:relative; margin:0 0 10px 0; _zoom:1;z-index:2; }
#categoryChoose {padding:10px;}
.inactive {display:none;}
.categoryList {width:140px; float:left; margin-right:2px; display:inline;}
.categoryList dt {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_cateUIheader_pt.gif) repeat-x; height:20px; display:block; border:1px solid #2d5a93; border-bottom:0; font-size:12px; font-weight:bold; color:#fff; text-align:center; line-height:20px; vertical-align:middle;}
.categoryList select {width:140px; height:163px; overflow-y:auto ;border:1px solid #ddd;}

#productChoose {padding:10px; background-color:#f3f3f3;width:685px;}
.prodSearch {}
.prodSearch label {font-size:12px; color:#000; font-weight:bold; margin:0 10px;}
.prodSearch .inputStyle {width:100px; padding:3px 3px; height:11px;}
.prodSearch .searchLabel{padding-right:4px; margin:0;}

#categoryChoose{height:100%;}
.listWrapper {background-color:#FFFFFF; width:665px; border:1px solid #b0b0b0; margin:10px 0 0; padding:10px 9px; overflow-y:auto; height:180px; zoom:1;}
.dui-lib-selectbox * {vertical-align:middle;}
.dui-lib-selectbox .dui-lib-selectboxWrapper {vertical-align:middle; display:inline-block; position:relative; zoom:1; overflow:visible; background:url(//img.danawa.com/new/vs_new/img/bg_deco_selectBox.gif) no-repeat 0 0; font-size:0; margin-right:5px;}
.dui-lib-selectbox button {background:url(//img.danawa.com/new/vs_new/img/bg_deco_selectBox.gif) no-repeat 100% 0; display:inline-block; padding:0 25px 0 4px; margin-left:1px; white-space:nowrap; font-size:11px; line-height:25px; height:23px; overflow:visible;}
.dui-lib-selectbox .option {display:none;}

.dui-lib-selectbox .open .option {display:block; position:absolute; border:1px solid #c3c3c3; left:0px; top:22px; background:#fff; padding:0;}
.dui-lib-selectbox .option a {display:block; font-size:11px; color:#888; padding:2px 10px; line-height:18px; white-space:nowrap;}
.dui-lib-selectbox .option a.active {color:#711bdf; background:#f0f0f0;}

.productList {overflow:hidden; zoom:1;}
.productList li {width:49.9%; float:left; border-bottom:1px solid #e0e0e0; padding:5px 0 5px 0px; background:#fff; overflow:hidden; min-height:47px; _height:47px;}
.productList li input {position:absolute; z-index:-100; left:-10000px;}
.productList li label {display:block; cursor:pointer; width:100%;}

.productList .image {width:47px; z-index:1000; float:left; margin-right:10px; height:47px;}
.productList .image img {width:45px; height:45px; border:1px solid #dcdcdc;}
.productList li a, .productList li {font-size:12px; color:#000;}
.productList .price {font-weight:bold;color:#ff3246; margin-top:5px; display:block;}
.productList .price strong { font-size:16px;  font-family:Tahoma,Geneva,sans-serif;}
.productList .over {background:#efefef;}
#productChoose .prodSearchBtn{background:url("//img.danawa.com/new/vs_new/img/btn_tab_search.gif") no-repeat; width:33px; height:24px; padding:0; margin-top:3px;}

#categoryChoose select {overflow-y:auto;}
.relationResult {margin:10px; position:relative;}
.relationResult .select {width:630px; height:73px; vertical-align:top; overflow-y:auto; border:1px solid #ddd; font-size:12px;}
.relationResult .select ul {margin:5px;}
.relationResult .select li {height:16px;  margin-bottom:1px; overflow:hidden;}
.relationResult .select input { position:absolute; height:16px; line-height:16px; vertical-align:top; text-indent:-100px; left:-10000px;}
.relationResult .select label {background:#fff; height:16px; line-height:16px; vertical-align:top; cursor:pointer; display:block;}
.relationResult .posRight {right:0px; top:0;}
.relationResult .delete {background:url(//img.danawa.com/new/section_m/baby/img/bg_btn_delete.gif) no-repeat; width:69px; height:74px; vertical-align:top;}
.relationResult .delete span {display:none;}
.relationResult label.over {background:#3399ff; color:#fff;}
.result {width:633px; height:80px; border:1px solid #ddd;}

#direct_search{font-weight:bold; color:#000000; position:relative; zoom:1;}
.aCenter{position:relative; padding:10px 0 20px 0; text-align:center;}
.serSelectPo {position:absolute; left:150px; top:-5px; _top:0; *top:0;}

/* 버튼들 */
.cateBtn {position:relative; zoom:1;}
.cateBtn a.name {display:inline-block; height:21px; font-size:11px; color:#666; border:1px solid #c3c2c2; background:url('//img.danawa.com/new/vs_new/img/serCate_bg.gif') right; padding:0 25px 0 5px; line-height:22px;}

/* editor */
#writeEditor{width:100%; margin:0 0 10px 0; background:#fafafa;}
.editorBox{border-top:2px solid #8b8b8b;}
.rowsWhite{background-color:#ffffff; }
.rowsWhite{zoom:1; padding:5px 0; }
.rowsWhite dt {font-weight:bold; color:#000; font-size:12px;  text-align:left; left:0; padding:10px; line-height:20px; vertical-align:middle;}
.rowsWhite dt .text_labal{top:10px;}
.rowsWhite dd {margin:-40px 0 0 100px; padding:20px 0 0 10px; font-size:11px;}
.rowsWhite dd img{vertical-align:middle;}
.rowsWhite dd label{padding-right:35px;}

.rowsWhiteText{background-color:#ffffff; border-bottom:1px solid #b6b6b6;}
.rowsWhiteText{zoom:1; padding:0;}
.rowsWhiteText dt {font-weight:bold; color:#000; font-size:12px;  text-align:left; left:0; padding:10px; line-height:20px; vertical-align:middle;}
.rowsWhiteText dd {margin:-40px 0 0 100px; padding:15px 0 15px 10px; font-size:11px;}

.columns {border-top:1px solid #e0dfe3; zoom:1; padding:0; }
.columns dt {font-weight:bold; color:#000; font-size:12px;  text-align:left; left:0; padding:3px 0 3px 0; vertical-align:middle; text-align:center;}
.columns dt .text_labal{top:10px;}
.columns dd {margin:0; padding:15px 0 15px 0; font-size:11px; text-align:center; background-color:#FFFFFF;}
.columns dd img{vertical-align:middle;}
.columns dd label{padding-right:35px;}
.columns dd .cc{line-height:18px;}
.columns dd .inputStyle {width:618px; padding:3px 3px; height:15px;}
.columns dd .inputStyle2 {width:618px; padding:3px 3px; height:50px;}
.columns dd .textDate{padding-left:10px; vertical-align:middle; font-size:11px;}
.columns dd .dateBtn{position:absolute; right:20px;}
.columns dd .dayBtn_1{background:url("//img.danawa.com/new/vs_new/img/btn_1day.gif") no-repeat; width:38px; height:24px; margin-left:3px;}
.columns dd .dayBtn_10{background:url("//img.danawa.com/new/vs_new/img/btn_10day.gif") no-repeat; width:38px; height:24px; margin-left:3px;}
.columns dd .dayBtn_15{background:url("//img.danawa.com/new/vs_new/img/btn_15day.gif") no-repeat; width:38px; height:24px; margin-left:3px;}
.columns dd .dayBtn_20{background:url("//img.danawa.com/new/vs_new/img/btn_20day.gif") no-repeat; width:38px; height:24px; margin-left:3px;}
.columns dd .dayBtn_30{background:url("//img.danawa.com/new/vs_new/img/btn_1month.gif") no-repeat; width:44px; height:24px; margin-left:3px;}


/*상품추가후 결과*/
.popInsertProduct {background:#fff; overflow-y:hidden; overflow-x:hidden; zoom:1; z-index:11; }
.popInsertProduct ul {padding:0;}
.popInsertProduct li {position:relative; zoom:1; margin-left:30px;}
.popInsertProduct .listType {margin:0px; padding:10px 10px 5px 10px; font-size:12px; min-height:92px; _height:102px; border:1px solid #b6b6b6; width:580px;}
.popInsertProduct .listType dt {margin:0 0 0 100px; display:block; padding:0;}
.popInsertProduct .listType .image {position:absolute; left:10px; margin:0px; top:10px;}
.popInsertProduct .listType .desc {padding:0 0 0 100px; line-height:140%;  margin:0; color:#666;}
.popInsertProduct .listType .price{font-weight:bold; font-size:12px; color:#ff3246; margin:0; padding:3px 0 0 100px; display:block;}
.popInsertProduct .listType .inputStyle { margin:0; padding:3px 0 0 100px; display:block;}
.popInsertProduct .listType input{width:400px;}
.popInsertProduct .listType .txtbox{width:480px; height:37px;}

.rowRelationResult{background-color:#FFFFFF; zoom:1; padding:0 0 20px 0; display:inline-block;}
.rowRelationResult dt {font-weight:bold; color:#000; font-size:12px;  text-align:left; left:0; padding:10px; line-height:20px; vertical-align:middle;}
.rowRelationResult dt .text_labal{top:10px;}
.rowRelationResult dd {margin:0 0 0 50px; font-size:11px;}
.rowRelationResult dd img{vertical-align:middle;}
.rowRelationResult dd label{padding-right:35px;}
.rowRelationResult .posRight {right:20px; margin-top:-131px;}
.rowRelationResult .delete {background:url(//img.danawa.com/new/section_m/cm_notebook/img/btn_delete.gif) no-repeat; width:69px; height:131px; top:-116px;}
.rowRelationResult .delete span {display:none;}


/*상품 위치변경*/
.updown{position:absolute; width:20px; text-align:center;}
.updown .up{top:15px; position:relative; padding-bottom:25px;}
.updown .down{top:30px; position:relative;}

/* textBtn 설정 */
.textBtn, .textBtn * {background-image:url(//img.danawa.com/new/section_m/baby/img/bg_deco_sprite.gif); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer}
.btnStyle1 {background-position:right -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle1 button, .btnStyle1 input  {background-position:left -650px; font-size:12px; color:#000; height:23px; margin-right:2px; padding:1px 10px 0; vertical-align:top;}
.btnStyle2 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle2 button, .btnStyle2 input {background-position:right -650px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 10px; vertical-align:top;}
.btnStyle2 strong {background:none; color:#1272ea;}
.btnStyle3 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle; width:53px;}
.btnStyle3 button, .btnStyle3 input {background-position:right -710px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 5px; vertical-align:top; background-color:transparent;}
.searchBtn * {background-position:right -610px; color:#000000; cursor:pointer; font-size:11px; height:24px; margin-left:2px; width:36px;}
.surveyBtnBg * {background-image:url("//img.danawa.com/new/vs_new/img/surveyBtnBg.gif"); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer;}
.surveyBtn * {background-position:left 0px; color:#000000; cursor:pointer; font-size:11px; height:24px; margin-left:2px; width:60px; margin-right:0;}
.surveyDelBtn * {background-position:left -24px; color:#000000; cursor:pointer; font-size:11px; height:24px; margin-left:2px;; width:40px; margin-right:0px;}

li.cmtType {position:relative;}

.bbsType tbody .prod130 li .spec p.text_01 {float:left;font-weight:bold;font-size:12px !important;line-height:1.5em;}
.bbsType tbody .prod130 li .spec p.text_01 img {margin-right:10px;float:left;display:block}
.bbsType tbody .prod130 li .spec p.text_01 strong {display:block;float:left;width:520px;padding-top:12px;}
.prodCmt li .spec p.text_02 {float:left;font-size:12px !important;line-height:1.5em;font-weight:bold;width:700px !important;}
.prodCmt li .spec p.text_02 img {margin-right:10px;float:left;display:block;}
.prodCmt li .spec p.text_02 strong {display:block;float:left;width:580px;padding-top:12px;}
.bbsType tbody .prod130 p.title_01 {font-size:12px !important;line-height:1.3em;width:98%;}
.title_02 {font-size:12px !important;line-height:1.3em;}