/*

최종작업일자 : 2009년 8월 5일 PM 2시00분
작업자 : P06
작업내용 : con_list_name 오른쪽 폭 줄임

핵설명 FX: 아무것도 없음
       ie7 : 속성앞에 *
	   ie6 : 속성앞에 _

*/
* {margin:0; padding:0;}
img {border:0px;}
ul, li {list-style-type : none;}

/* 메인 */
/* 메인 레이어 */
#container{width:925px; margin-top:14px; *margin-top:0;}
#com_snb{width:155px; float:left; margin-right:10px; _margin-right:0px;}
#com_snb2{width:145px; float:left; margin-right:10px; _margin-right:0px;}
#com_top{width:760px; float:left; margin-bottom:20px; _margin-left:10px; _margin-bottom:0px;}
#com_dalgi{width:760px; float:left; margin-bottom:5px; _margin-left:10px;}
#com_bottom{width:760px; height:100%; float:right; margin-top:5px; *margin-top:0px;}
.tit_place{float:left; padding:10px 0 0 13px;}
.yellow{color:#fba103;}
#bt_box .big_black_tx a{font-size:18px; font-weight:bold; color:#333; letter-spacing:-1px;}
#bt_box .big_black_tx a:hover{text-decoration:underline; color:#333;}
#netizen_btx .black_tx{padding:15px 0 5px 0; _padding:0 0 5px 0;}
#netizen_btx .black_tx a{font-size:14px; font-weight:bold; color:#333; letter-spacing:-1px; line-height:120%;}
#netizen_btx .black_tx a:hover{text-decoration:underline; color:#333;}
.point_blue {padding:3px 0 3px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 11px; line-height:170%; _background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px;}
.point_blue a{font-size:12px; font-weight:bold; color:#394b8d;}
.point_blue a:hover{text-decoration:underline; color:#394b8d;}

/* 커뮤니티 로그인_네티즌가입추가_P04_090424 */
#com_login{width:153px; float:left; height:115px; background:url('//img.danawa.com/new/community_new/img/left_top_bg2.gif') repeat; border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
#com_login dl{padding-top:8px;}
#com_login dd{padding:1px 0 1px 7px;}
#com_login .che_p{margin-right:3px; *margin-right:0; vertical-align:middle; *vertical-align:baseline;}
#com_login .id_tx{border:solid 1px #bebebe; width:70px; height:16px; font-size:11px; color:#6d6d6f; padding:4px 0 0 3px; margin-right:7px;}
#com_login .tx_line{padding:0 8px 0 8px;}
#com_login .login_table{margin:9px 0 0 8px;}
#com_login .txt a{font-size:11px; font-family: "돋움","Arial","Verdana"; color:#666; float:left;}
#com_login .txt a:hover{text-decoration:underline; color:#666;}
#com_login .txt_b a{font-size:11px; font-weight:bold; font-family: "돋움","Arial","Verdana"; color:#333; float:left;}
#com_login .txt_b a:hover{text-decoration:underline; color:#333;}
#com_login .spot_bg{width:135px; height:1px; margin:3px 0 5px 8px;}
#com_login .neti{margin-left:19px;}

/* 커뮤니티 로그아웃_네티즌가입추가_P04_090424 */
#com_logout{width:153px; float:left; margin height:94px; background:url('//img.danawa.com/new/community_new/img/left_top_bg2.gif') repeat; border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
#com_logout ul{padding:8px 0 0 10px;}
#com_logout li{padding-bottom:3px;}
#com_logout .btn_out{padding-left:5px;}
#com_logout .b_tx{font-weight:bold; color:#ff6139;}
#com_logout .logout_table{margin:4px 0 1px 8px; *margin:5px 0 0 8px; _margin-left:5px; letter-spacing:-1px; float:left;}
#com_logout .txt a{font-size:11px; font-family: "돋움","Arial","Verdana"; color:#666; float:left;}
#com_logout .txt a:hover{text-decoration:underline; color:#666;}
#com_logout .tx_line{padding:0 8px 0 8px;}
#com_logout .spot_bg{width:135px; height:1px; margin:3px 0 0 10px;}
#com_logout .txt_b a{font-size:11px; font-weight:bold; font-family: "돋움","Arial","Verdana"; color:#333; float:left;}
#com_logout .txt_b a:hover{text-decoration:underline; color:#333;}
#com_logout .neti{ margin:4px 0 1px 19px;}

/* 왼쪽메뉴
#left_menu_com{border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; min-height:1298px; *min-height:1202px; _height:1202px; vertical-align:top;}*/
#left_menu_com{border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; width:153px; vertical-align:top;}

/* 왼쪽메뉴 펼쳐졌을때 _사용기 */
#left_use_menu_on {_padding-top:3px; padding-bottom:5px; padding-left:2px; *padding-left:0; _padding-bottom:0;}
#left_use_menu_on .txt_on {padding-left:5px; margin:4px 0;}
#left_use_menu_on .txt_on a{color:#929292;}
#left_use_menu_on .txt_on a:hover{text-decoration:underline; color:#929292;}
#left_use_menu_on table{border-collapse:collapse;}
#left_use_menu_on table td{padding:0; margin:0px; font-size:12px; color:#666; font-family:"돋움", Verdana, Tahoma; line-height:160%; letter-spacing:0px;}
#left_use_menu_on .lt{width:120px; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat left top;}
#left_use_menu_on .lb{background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat left bottom;}
#left_use_menu_on .rt{padding-right:5px; width:3px; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat right top;}
#left_use_menu_on .rb{padding-bottom:1px; *padding-bottom:0; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat right bottom;}
#left_use_menu_on .btm_s{_margin-bottom:8px;}

/* 왼쪽메뉴 펼쳐졌을때 _갤러리 */
#left_gallery_menu_on {_padding-top:3px; padding-bottom:5px; _padding-bottom:0;}
#left_gallery_menu_on .txt_on {padding-left:5px; margin:4px 0;}
#left_gallery_menu_on .txt_on a{color:#929292;}
#left_gallery_menu_on .txt_on a:hover{text-decoration:underline; color:#929292;}
#left_gallery_menu_on table{border-collapse:collapse;}
#left_gallery_menu_on table td{padding:0; margin:0px; font-size:12px; color:#666; font-family:"돋움", Verdana, Tahoma; line-height:160%; letter-spacing:0px;}
#left_gallery_menu_on .lt{width:120px; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat left top;}
#left_gallery_menu_on .lb{background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat left bottom;}
#left_gallery_menu_on .rt{padding-right:5px; width:3px; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat right top;}
#left_gallery_menu_on .rb{padding-bottom:1px; *padding-bottom:0; background:url('//img.danawa.com/new/community_new/img/left_menu_bg.gif') no-repeat right bottom;}
#left_gallery_menu_on .btm_s{_margin-bottom:8px;}


/* 만남의 광장 */
#left_meet {width:137px; margin:0 0 0 8px; _margin:0 0 0 4px; float:left;}
#tit_meet {height:20px; padding:9px 0 0 4px; border-bottom:1px solid #dfdfdf;}
#left_meet ul {padding:0; margin:8px 0;}
#left_meet li {padding:0px; margin:0px; padding-left:4px; line-height:160%;}
#left_meet li a{color:#444;}
#left_meet li a:hover {text-decoration: underline; color:#444;}

/* 메뉴 하단 리스트 */
#left_menu_list{width:137px; margin:0 0 0 8px; _margin:0 0 0 4px; float:left;}
#left_menu_list .bt{padding:0 0 2px 3px;}
#tit_menu{height:20px; padding:6px 0 0 4px; border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf;}
#left_menu_list ul {padding:0; margin:8px 0;}
#left_menu_list li {padding:0px; margin:0px; padding-left:4px; line-height:160%;}
#left_menu_list li a{color:#444;}
#left_menu_list li a:hover {text-decoration: underline; color:#444;}
#left_menu_list .s_txt {font-size:11px; padding:0px; margin:0px; padding-left:17px; line-height:160%; background:url('//img.danawa.com/new/community_new/img/br_arrow.gif') no-repeat 7px 10%;}
#left_menu_list .s_txt a{color:#787878;}
#left_menu_list .s_txt a:hover {text-decoration:underline; color:#787878;}

/* 블로그 전체 버튼 */
#left_blog {width:137px; margin-left:8px; padding-bottom:10px; *padding-bottom:6px;}

/* 블로그 세부메뉴 노출 */
#blog_box{margin:0px; padding:0; position:absolute; left:142px; margin-top:-160px}
#blog_box ul{margin:0px; padding-left:8px; clear:both;}
#blog_box li{padding:0 0 0 13px; background:url('//img.danawa.com/new/community_new/img/br_01.gif') no-repeat 8px 6px;}
#box_tit{padding:3px 5px 13px 18px;}
#box_close{padding:0 18px 16px 0;}
#blog_box img{margin-top:3px;}
#blog_box table{border-collapse: collapse;}
#blog_box table td{padding:0; margin:0px; font-size:12px; color:#666; font-family:"돋움", Verdana, Tahoma; line-height:160%; letter-spacing:0px;}
#blog_box a:link, a:visited{color:#666; text-decoration:none;}
#blog_box a:hover, a:active{color:#f70000; text-decoration:none;}
#blog_box .bg_l1{padding-top:5px; background:url('//img.danawa.com/new/community_new/img/box_bg.gif') no-repeat left top;}
#blog_box .bg_l2{padding:0; height:15px; background:url('//img.danawa.com/new/community_new/img/box_bg.gif') no-repeat left bottom;}
#blog_box .bg_r1{padding-right:3px; width:3px; background:url('//img.danawa.com/new/community_new/img/box_bg.gif') no-repeat right top;}
#blog_box .bg_r2{height:3px; width:3px; background:url('//img.danawa.com/new/community_new/img/box_bg.gif') no-repeat right bottom;}


/* 가운데 상단 -구- */
#community_ad{width:525px; margin-bottom:10px; _margin-bottom:11px; position:relative; float:left;}
#big_btn_num{right:20px; bottom:10px; position:absolute;}
.con_big_btn{border:4px solid #fda005;}
.con_big_btn img{display:block;}

/* 가운데 상단 */
#top_middle{width:525px; height:414px; float:left; padding:0 10px 0 0; _padding-right:0;}

/* 사용기 */
#use_box{width:525px; float:left; padding:0 10px 0 0; _padding-right:0;}
#use_box img{margin:0 -4px -4px 0;}
#img_box{float:left; padding:9px 0 10px 20px;}
#use_img{float:left; padding:3px 10px 0 0;}
#bt_box {position:relative;}
#all_num{position:absolute; width:61px; height:21px; top:192px; right:19px; background:url('//img.danawa.com/new/community_new/img/num_bg.gif') no-repeat;}
#all_num p{padding-top:5px; *padding-top:6px; text-align:center;}
#all_num img{padding:0 6px 4px 6px;}
#all_num .all_num_tx{color:#f4f4f4; font-size:11px;}
#all_num .all_num_tx a{color:#f4f4f4; font-size:11px;}
#all_num .all_num_tx a:hover{text-decoration:none;}

#bt_box table{width:525px; height:404px; background:url(//img.danawa.com/new/community_new/img/use_bg_2.gif) no-repeat left top;}
#bt_box ul{padding-top:7px;}
#bt_box li{padding-bottom:0px;}
#bt_box .conn_tx{width:490px; *width:400px;}
#bt_box .conn_tx a{ font-size:11px; font-weight:none; color:#666; line-height:16px;}
#bt_box .conn_tx a:hover{text-decoration:underline; color:#666;}
#bt_box .ss_tx{font-size:11px; color:#8f8f8f;}
.con_box {padding:10px 0 0 15px; width:380px; float:left;}
.con_box ul {height:200px;}
.con_box ul.con_box_listStyle li{padding:3px 0 3px 15px; _padding:5px 0 5px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 12px; line-height:190%; _line-height:175%;}
a.con_list{font-size:12px; font-weight:none; color:#333;}
a.con_list:hover{text-decoration:underline;}
a.con_list_blue{font-size:12px; font-weight:bold; color:#3c4a8b;}
a.con_list_blue:hover{text-decoration:underline; color:#394b8d;}
a.con_list_blue span{color:#3c4a8b;}

#bt_box .con_list_name{padding:14px 18px 10px 0; _padding:14px 20px 10px 0; float:right; text-align:right; line-height:140%;}
#bt_box .con_list_name li{padding:3px 0 2px 15px; line-height:180%;}

/* 쇼핑이야기, a/s이용후기 */
#shopping_bigtx{padding:12px 0 10px 30px; height:75px;}
#shopping_img{float:left; padding:9px 10px 0 0; _padding:9px 10px 4px 0;}
#shopping_img2{float:left; padding:3px 3px 0 0; _padding:3px 2px 4px 0;}
#bt_box .shopping_list{padding:15px 0 0 15px; _padding:15px 0 0 15px; float:left; height:200px;}
#bt_box .shopping_tx{width:470px;}
#bt_box .shopping_tx a{ font-size:11px; font-weight:none; color:#666; line-height:16px;}
#bt_box .shopping_tx a:hover{text-decoration:underline; color:#666;}
#bt_box ul.listStyle {}
#bt_box ul.listStyle li{padding:3px 0 3px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 12px; line-height:170%;}
#bt_box ul.listStyle li img{margin-right:3px;}

#bt_box .shopping_icon{padding:0 0 5px 0; *padding:0;}


/* 상단 오른쪽 */
#top_right{width:225px; float:right; padding-bottom:10px; _padding-bottom:0;}

/* 이벤트 */
#top_event{width:225px; float:right; padding-bottom:9px;}
#right_event h1{margin-top:2px;}
#right_event .h1_tit {float:left; padding:0 0 2px 7px;}
#right_event p img{padding-top:2px; float:right;}
#right_event ul#number {float:right;}
#right_event ul#number li{float:left; padding-left:2px;}
.evecon {clear:both; width:225px; height:135px; margin:24px 0 0 0; *margin:2px 0 0 0; padding:12px 0 0 7px; _padding:12px 0 0 0; background:url('//img.danawa.com/new/community_new/img/event_bg.gif') no-repeat; position:absolute;}
.evecon dt {float:left; width:80px; height:80px; padding-right:6px; _padding-left:7px;}
.evecon dd {float:left; width:113px;}
.evecon dd.mainEventTitle {float:left; width:113px; height:60px; line-height:16px;}
.evecon dd.mainEventTitle a{font-weight:bold; font-spacing:-1px; color:#333;}
.evecon dd.mainEventTitle a:hover{text-decoration:none;}
.evecon dd.mainEventDate {float:left; padding-top:5px; font-size:11px; color:#666666;}
.notice{padding:137px 0 0 7px; *padding:115px 0 0 7px; width:220px; position:relative;}
.notice_tx a{color:#333;}
.notice_tx a:hover{text-decoration:underline;}

/* 네티즌 소식 */
#netizen_sbox {width:225px; height:245px; float:right; padding:10px 0 10px 0;}
#netizen_sbox dl#btntab {height:30px; background:url('//img.danawa.com/new/community_new/img/netizen_tab_bg.gif') repeat-x; _margin-bottom:-4px;}
#netizen_sbox dl#btntab dd {float:left;}
.btn_more {float:right; padding:8px 5px 0 9px;}
#netizen_tx {width:225px; height:245px; background:url('//img.danawa.com/new/community_new/img/netizen_bg.gif') no-repeat 0 0;}
#netizen_tx .spot_bg{width:195px; height:1px; margin:3px 0 0 15px; background:url('//img.danawa.com/new/community_new/img/spot_04.gif') repeat-x;}
#netizen_btx {width:195px; height:100px; _height:85px; padding:0 0 0 15px; _padding:13px 0 0 15px;}
#netizen_btx .conn_tx {padding:4px 0 10px 0;}
#netizen_btx .conn_tx a{font-size:11px; font-weight:none; color:#666; line-height:16px;}
#netizen_btx .conn_tx a:hover{text-decoration:underline; color:#666;}

.netizen_box ul {width:195px; padding:10px 0 0 6px; _padding-top:0; letter-spacing:-1px;}
.netizen_box ul li{padding:4px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px; line-height:130%; _line-height:130%;}
.netizen_box1 ul {width:195px; padding:10px 0 0 6px; _padding-top:10px;}
.netizen_box1 ul li{padding:0 0 4px 15px; _padding:4px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px; line-height:160%; _line-height:120%;}
a.netizen_list{font-size:12px; font-weight:none; color:#333;}
a.netizen_list:hover{text-decoration:underline;}
a.netizen_list_blue{font-size:12px; font-weight:bold; color:#3c4a8b;}
a.netizen_list_blue:hover{text-decoration:underline; color:#394b8d;}
a.netizen_list_blue span{color:#3c4a8b;}



/* 가운데 중단(다알지) */
#tab_dalgi{width:110px; float:left; clear:both; padding-bottom:0px; *padding-bottom:5px;}
#tab_dalgi img{margin-bottom:0; *margin-bottom:-4px;}
#dalgi_sub{width:425px; height:155px; float:left; border-bottom:1px solid #ccc; border-top:1px solid #ccc;}
.dalgi_box{float:left;}
.dalgi_box ul {margin:9px 0 0 10px;}
.dalgi_box ul li{padding:4px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px; line-height:15px;}
a.dalgi_list{font-size:12px; font-weight:none; color:#666;}
a.dalgi_list:hover{text-decoration:underline;}
a.dalgi_list_blue{font-size:12px; font-weight:bold; color:#3c4a8b;}
a.dalgi_list_blue:hover{text-decoration:underline; color:#394b8d;}
a.dalgi_list_blue span{color:#3c4a8b;}
#dalgi_sub_time{float:right; padding-right:25px;}
#dalgi_sub_time ul{margin:10px 0 0 10px;}
#dalgi_sub_time li{padding:4px 0 4px 15px;}
#dalgi_sub_time .txt{font-size:11px; color:#a8a8a8; line-height:15px;}

#tema_dalgi{width:225px; height:157px; background:url('//img.danawa.com/new/community_new/img/tema_dalgi_bg.gif') no-repeat; float:left;}
#btn_arc{float:right; padding:11px 10px 0 0;}
#tema_img_tx{height:62px; width:200px; float:left; padding:14px 0 0 18px; _padding-top:0px;}
#tema_img_tx dl{_padding-top:14px;}
#tema_img_tx dt{float:left; padding-right:10px;}
#tema_img_tx dd{float:left; padding-top:10px; width:113px;}
#tema_img_tx dd a{color:#000; line-height:16px;}
#tema_img_tx dd a:hover{text-decoration:underline;}
#tema_list_tx{float:left; width:190px; padding:6px 0 0 18px; _padding:10px 0 0 18px;}
#tema_list_tx li{padding:0 0 0 6px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 0 8px;}
#tema_list_tx a{font-size:12px; font-weight:none; color:#666; line-height:18px;}
#tema_list_tx a:hover{text-decoration:underline;}

/* 이벤트 당첨소감 */
#event_win{float:left; width:525px; height:180px; background:url('//img.danawa.com/new/community_new/img/event_win_bg.gif') no-repeat 0 0; margin-right:10px;}
#event_win .btn_more {margin:2px 0px 0 0;}
#win_img_tx{width:500px; height:75px; margin:43px 0 0 20px;}
#win_img_tx dt{float:left; padding-right:10px;}
#win_img_tx dd{float:left; padding-top:5px;}
#win_img_tx .tit_tx a{font-weight:bold; color:#333;}
#win_img_tx .tit_tx a:hover{text-decoration:underline;}
#win_img_tx p{margin:6px 10px 0 0; padding-top:30px; *padding-top:0; width:400px;}
#win_img_tx .sstx a{font-size:11px; font-weight:normal; color:#787878; line-height:16px;}
#win_img_tx .sstx a:hover{text-decoration:underline;}
#win_list{padding:25px 0 0 20px; *padding:10px 0 0 20px;}
#win_list li{padding:4px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px; line-height:14px;}
#win_list li a{color:#333;}
#win_list li a:hover{text-decoration:underline;}
#win_user{padding:5px 0 0 0; font-size:11px; color:#a8a8a8; float:left;}
#win_sub_user{float:right; padding-right:25px;}
#win_sub_user ul{margin:10px 0 0 10px;}
#win_sub_user li{padding:4px 0 4px 15px;}
#win_sub_user .txt{font-size:11px; color:#a8a8a8; line-height:15px;}

/* 대결맞짱 */
#vs{float:left; width:225px; height:180px; background:url('//img.danawa.com/new/community_new/img/vs_bg.gif') no-repeat 0 0; margin-bottom:10px; _margin-bottom:10px;}
#vs .vs_tit{font-weight:bold; font-size:11px; color:#252525; letter-spacing:-1px; padding:14px 0 0 14px; clear:both;}
#vs .btn_more {margin:2px 0px 0 0;}
#vs_pro_2{margin:12px 15px 0 25px; height:92px;}
#vs_pro_2 dl{float:left; padding-bottom:11px; *padding-bottom:0;}
#vs_pro_2 dt{text-align:center; padding-bottom:3px;}
#vs_pro_2 dd a{color:#666; font-size:11px; letter-spacing:-1px;}
#vs_pro_2 dd a:hover{text-decoration:underline;}
#vs_pro_2 .hl{padding-bottom:10px;}
#vs_pro_2 .vs_icon{float:left; margin:23px 10px 0 10px;}

#vs_pro_3{margin:15px 3px 0 5px;}
#vs_pro_3 dl{float:left; padding-bottom:14px; *padding-bottom:0;}
#vs_pro_3 dt{text-align:center; padding-bottom:2px;}
#vs_pro_3 dd a{color:#666; font-size:11px; letter-spacing:-1px;}
#vs_pro_3 dd a:hover{text-decoration:underline;}
#vs_pro_3 .vs_icon{float:left; margin:23px 3px 0 3px;}
.vs_btn_part{padding:1px 0 0 86px; clear:both;}

/* diy&튜닝, 오버클럭, 노하우, 토론장 */
#diy&tuning{float:left; width:525px; height:157px; margin-bottom:10px;}
#tab_diy{width:110px; float:left;}
#tab_diy img{margin-bottom:0; *margin-bottom:-4px;}
.diy_sub{width:414px; height:155px; float:left; border-bottom:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; background:url('//img.danawa.com/new/community_new/img/diy_bg.gif') no-repeat;}
.diy_sub ul {margin-left:25px;}
.diy_sub ul li{padding:3px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 9px; line-height:15px;}
a.diy_list{font-size:12px; font-weight:none; color:#666;}
a.diy_list:hover{text-decoration:underline;}
a.diy_list_blue{font-size:12px; font-weight:bold; color:#3c4a8b;}
a.diy_list_blue:hover{text-decoration:underline; color:#394b8d;}
a.diy_list_blue span{color:#3c4a8b;}


/* 주간 커뮤니티 랭킹 */
#week_rank{float:left; width:225px; height:157px; background:url('//img.danawa.com/new/community_new/img/week_rank_bg2.gif') no-repeat 0 0; margin-left:10px; margin-bottom:10px;}
#week_rank .btn_more {margin:2px 0 0 0;}
#week_rank .rank_orange{color:#ff6600;}
#super_icon {margin:30px 0 0 0; *margin:9px 0 0 0; width:225px; height:127px;}
#super_icon dl{padding:8px 0 0 13px; *padding:10px 0 0 13px; _padding-top:10px;}
#super_icon dt{padding:5px 0 5px 0; *padding:0 0 0px 0; float:left; width:140px;}
#super_icon dd{padding:9px 20px 0 0; *padding:4px 20px 0 0; float:right;}
#week_rank .rank_tx a{font-size:11px; color:#666;}
#week_rank .rank_tx a:hover{color:#005ba8;}


/* 왁자지껄 이 상품 */
#this_pro{width:525px; height:149px; background:url('//img.danawa.com/new/community_new/img/this_pro_bg.gif') no-repeat 0 0; float:left;}
#this_pro ul#number {float:right; margin:9px 10px 0 0;}
#this_pro ul#number li{float:left; margin-left:2px;}
#pro_sub dt{float:left; padding:14px 0 0 40px; float:left; clear:both;}
#pro_sub dd{float:left; padding:14px 0 0 18px;}
#pro_sub .pro_img{float:left; border:1px solid #e2e2e2; width:92px; height:92px;}
#pro_sub .pro_tit_tx a{font-size:16px; letter-spacing:-1px; color:#333; font-weight:bold;}
#pro_sub .pro_tit_tx a:hover{text-decoration:underline;}
#pro_sub ul{float:left; width:200px; height:30px; padding-top:4px; padding-left:19px; *padding-left:3px;}
#pro_sub li{float:left; margin-right:5px; padding-top:7px;}
#pro_sub li.blog{float:left; padding-top:0px;}
#pro_sub .pro_list li{width:360px; padding:3px 0 4px 15px; background:url('//img.danawa.com/new/community_new/img/spot_02.gif') no-repeat 8px 8px;}
#pro_sub .pro_list_tx a{font-size:12px; font-weight:none; color:#9d9d9d;}
#pro_sub .pro_list_tx a:hover{text-decoration:underline;}


/* 다나와 클럽 */
#dw_club{width:225px; height:149px; background:url('//img.danawa.com/new/community_new/img/dwclub_bg.gif') no-repeat 0 0; float:left; margin-left:10px; margin-bottom:10px;}
#dw_club ul#number {float:right; padding:9px 10px 0 0;}
#dw_club ul#number li{float:left; padding-left:2px;}
#club_sub{margin:34px; *margin:3px 0 0 0; width:223px; height:92px; margin-left:1px; position:relative;}
.club_photo{position:absolute;}
.master{padding:70px 0 0 15px; font-weight:bold; position:absolute;}
.member{padding:98px 0 0 15px; color:#a7a7a7; font-size:11px; position:absolute;}
.club_yellow{color:#edd900; font-weight:bold;}



/* 갤러리 */
#com_gallery{width:525px; height:195px; background:url('//img.danawa.com/new/community_new/img/com_gallery_bg.gif') no-repeat; float:left; margin-right:10px;}
#com_gallery .btn_more {margin:4px 0px 0 0;}
#photo{*margin:55px 0 0 0; margin:25px 0 0 0px; *padding:0; padding-left:20px;}
#photo td{text-align:center;}
#photo .photo_img{border:4px solid #333;}
#photo .photo_tx a{font-weight:bold; color:#333;}
#photo .photo_tx a:hover{text-decoration:underline;}
#photo .photo_txs{color:#787878; font-size:11px;}


/* 추천 블로그 */
#good_blog{width:225px; height:195px; background:url('//img.danawa.com/new/community_new/img/good_blog_bg.gif') no-repeat; float:left;}
#photo_blog{margin:54px 0 0 17px;}
#photo_blog ul{float:left; padding-right:15px;}
#photo_blog li{padding-bottom:3px; text-align:center;}
#photo_blog .photo_blog_img{border:6px solid #eee; width:75px; height:75px;}
#photo_blog .photo_blog_tx a{color:#4b4b4b;}
#photo_blog .photo_blog_tx a:hover{text-decoration:underline;}

