@charset "euc-kr";
/* CSS Document */

/* init */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label,  table,  tbody, tfoot, thead, tr, th, td, button
{margin: 0; padding: 0;border: 0; font-size: 100%; background: transparent; font-family: "돋움", "Arial", "Verdana";}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0; font-size:12px;}
a {text-decoration:none;}
a img {border:none;}
legend, caption, hr {visibility:hidden;height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px; }
button {cursor:pointer;}

/* utils */
.posContainer {position:relative;}
.posRight {position:absolute; right:0;}
.offscreen { visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
.fullsize {width:100%;}
.size70 {width:70px;}
.size300 {width:300px;}
.size244 {width:244px;}
.posTop {top:0;}
.aCenter {text-align:center;}
.aRight {text-align:right;}
.searchInput {background:#ededed; border:1px solid #b1b1b1;}


/* list indexing */
.indexBorder {position:relative; text-align:center; margin:0px auto; width:100%; background:#fafafa; padding:10px 0;}
.indexBorder * { vertical-align:bottom;}
.indexBorder a, .indexBorder span {display:inline-block; padding:2px 6px 0 6px; height:18px;  margin-right:2px; color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:7px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:7px; margin-right:4px;}
.indexBorder .active {font-weight:bold;}
.indexBorder a:hover, .indexBorder .next, .indexBorder .prev {border:#c0c5e0 1px solid;}
.indexBorder .active, .indexBorder .active:hover {background:#8691c7; color:#fff; border:1px solid #8691c7; }

/* btn set */
.textBtn {background:url(//img.danawa.com/new/cpa/img/btnbg_set.gif) no-repeat; display:inline-block; }
.textBtn * {background:url(//img.danawa.com/new/cpa/img/btnbg_set.gif) no-repeat; margin-right:1px; display:inline-block; border:none; cursor:pointer; white-space:nowrap; overflow:visible; }
.btnType1 {background-position:right -30px; height:16px;}
.btnType1 * {background-position:left -30px; color:#666 !important; font-size:11px; padding:2px 4px 0 5px; height:14px;}
.btnType1 *:hover {text-decoration:none !important;}
.btnType2 {background-position:right 0; height:24px;}
.btnType2 * {background-position:left 0; vertical-align:top; color:#fff; font-size:12px; font-weight:bold; padding:5px 10px 0 19px; height:19px; }
.btnType2 button {height:24px; padding:0 10px 0 19px; line-height:24px;}
.btnType3 {background-position:right -60px; height:22px; position:relative;}
.btnType3 * {background-position:left -60px; color:#000; font-weight:bold; font-size:12px; padding:4px 10px 0 19px; height:18px;}
.btnType4 {background-position:right -230px; height:16px;}
.btnType4 * {background-position:left -230px; color:#b70069 !important; font-size:11px; padding:2px 4px 0 5px; height:14px; vertical-align:top;} 
.btnType5 {background-position:right -150px; height:70px; vertical-align:top;}
.btnType5 * {background-position:left -150px; color:#000 !important; font-size:12px; padding:30px 10px 0 19px; height:40px; vertical-align:top;} 
.btnType5 button {height:70px; padding:0 20px 0 24px; vertical-align:top;}
.btnType6 {background-position:right -360px; height:23px; vertical-align:top;}
.btnType6 * { color:#343434 !important; font-size:12px; font-weight:bold; vertical-align:top; margin-right:12px; background-position:left -360px;} 
.btnType6 button {height:23px; padding:0 5px 0 8px; vertical-align:top; line-height:23px; }
.btnTypeExcel {background-position:right -90px; height:23px; position:relative;}
.btnTypeExcel * {background-position:left -90px; color:#000; font-weight:bold; font-size:12px; padding:5px 10px 0 32px; height:19px;}
