
/* 가운데 네비게이션 */
div#section_use_pcbang {clear:both; width:446px; height:360px;}
div#section_use_pcbang .usenav {float:right; width:94px; height:360px; }
div#section_use_pcbang .usenav ul{padding-top:11px;}
div#section_use_pcbang .usenav ul li{height:43px;}

/* 기획전템플릿1 */
div#section_use_pcbang .usetemp1 {float:right; width:446px; height:360px; background:url('//img.danawa.com/new/main_new/img/bg_use_temp.gif') no-repeat;}
div#section_use_pcbang .usetemp1 .plan1 {float:left; margin:11px 3px; width:235px;}
div#section_use_pcbang .usetemp1 .centrino2_left {float:left; margin:0; width:238px;}
div#section_use_pcbang .usetemp1 .plantit {clear:both; padding:6px; margin-left:11px; width:198px; font-weight:bold; background-color:#e9e9e9;}
div#section_use_pcbang .usetemp1 dl#planlist1 {padding:10px 0 0 14px;}
div#section_use_pcbang .usetemp1 dl#planlist1 dd{padding-left:7px; width:195px; background:url('//img.danawa.com/new/main_new/img/bu_point.gif') no-repeat 0 6px; line-height:18px;}
div#section_use_pcbang .usetemp1 dl#planlist1 dd a{color:#858585; text-decoration:none;}
div#section_use_pcbang .usetemp1 dl#planlist1 dd a:hover {color:#6673A5; text-decoration:none;}
div#section_use_pcbang .usetemp1 .plan2 {float:left; margin:11px 3px 0 10px; width:185px; text-align:cetner;}
div#section_use_pcbang .usetemp1 .centrino2_right {float:left; margin:11px 3px 0 10px; width:185px;}
div#section_use_pcbang .usetemp1 dl#planthum {clear:both; padding:11px 0 10px 0;}
div#section_use_pcbang .usetemp1 dl#planthum dd {float:left; margin-bottom:10px; width:92px; text-align:center;}
div#section_use_pcbang .usetemp1 dl#planthum dd img{margin-bottom:7px;}
div#section_use_pcbang .usetemp1 dl#planthum dd a{font-size:11px; letter-spacing:-1px; color:#666666;}
div#section_use_pcbang .usetemp1 dl#planthum dd .price {font-size:11px; color:#3050A0;}
div#section_use_pcbang .usetemp1 dl#planlist2 {clear:both; margin-top:10px; padding:7px 0 0 0; border-top:1px solid #e9e9e9;}
div#section_use_pcbang .usetemp1 dl#planlist2 dd{width:185px; line-height:18px;}
div#section_use_pcbang .usetemp1 dl#planlist2 dd a{color:#858585; text-decoration:none; line-height:20px;}
div#section_use_pcbang .usetemp1 dl#planlist2 dd a:hover {color:#6673A5; text-decoration:none;}

/* 기획전템플릿2 */
div#section_use_pcbang .usetemp2 {float:right; width:446px; height:360px; background:url('//img.danawa.com/new/main_new/img/bg_use_temp.gif') no-repeat;}
div#section_use_pcbang .usetemp2 .plan1 {float:left; margin:11px 3px; width:235px;}
div#section_use_pcbang .usetemp2 .plantit {clear:both; padding:6px; margin-left:11px; width:198px; font-weight:bold; background-color:#e9e9e9;}
div#section_use_pcbang .usetemp2 dl#planlist1 {padding:10px 0 0 14px;}
div#section_use_pcbang .usetemp2 dl#planlist1 dd{padding-left:7px; width:195px; background:url('//img.danawa.com/new/main_new/img/bu_point.gif') no-repeat 0 6px; line-height:18px;}
div#section_use_pcbang .usetemp2 dl#planlist1 dd a{color:#858585; text-decoration:none;}
div#section_use_pcbang .usetemp2 dl#planlist1 dd a:hover {color:#6673A5; text-decoration:none;}
div#section_use_pcbang .usetemp2 .plan2 {float:left; margin:11px 3px 0 10px; width:185px; text-align:center;}
div#section_use_pcbang .usetemp2 dl#planthum {clear:both; padding:11px 0 10px 0;}
div#section_use_pcbang .usetemp2 dl#planthum dd {float:left; margin-bottom:12px; *margin-bottom:0; width:92px; text-align:center;}
div#section_use_pcbang .usetemp2 dl#planthum dd img{margin-bottom:6px;}
div#section_use_pcbang .usetemp2 dl#planthum dd a{font-size:11px; letter-spacing:-1px; color:#666666;}
div#section_use_pcbang .usetemp2 dl#planthum dd .price {font-size:11px; color:#3050A0;}
div#section_use_pcbang .usetemp2 dl#planlist2 {clear:both; margin-top:12px; padding:10px 0 0 0; *padding:5px 0 0 0; border-top:1px solid #e9e9e9;}
div#section_use_pcbang .usetemp2 dl#planlist2 dd{width:185px; line-height:18px; text-align:left;}
div#section_use_pcbang .usetemp2 dl#planlist2 dd a{color:#858585; text-decoration:none; line-height:20px; text-align:left;}
div#section_use_pcbang .usetemp2 dl#planlist2 dd a:hover {color:#6673A5; text-decoration:none; text-align:left;}

/* 기획전템플릿3 */
div#section_use_pcbang .usetemp3 {float:right; width:446px; height:360px; background:url('//img.danawa.com/new/main_new/img/bg_use_temp.gif') no-repeat;}
div#section_use_pcbang .usetemp3 .plan1 {float:left; margin:11px 3px; width:235px;}
div#section_use_pcbang .usetemp3 .plantit {clear:both; padding:6px; margin-left:11px; width:198px; font-weight:bold; background-color:#e9e9e9;}

div#section_use_pcbang .usetemp3 dl#planlist1 {padding:10px 0 0 14px;}
div#section_use_pcbang .usetemp3 dl#planlist1 dd{padding-left:7px; width:195px; background:url('//img.danawa.com/new/main_new/img/bu_point.gif') no-repeat 0 6px; line-height:18px;}
div#section_use_pcbang .usetemp3 dl#planlist1 dd a{color:#858585; text-decoration:none;}
div#section_use_pcbang .usetemp3 dl#planlist1 dd a:hover {color:#6673A5; text-decoration:none;}
div#section_use_pcbang .usetemp3 .plan2 {float:left; margin:11px 3px 0 10px; width:186px; text-align:cetner;}
div#section_use_pcbang .usetemp3 .keyword {margin:4px 0 5px 6px; padding:8px; width:157px; height:53px; border:1px solid #e7e7e7; background-color:#f8f8f8;}
/* 하늘색 볼드 12 */
div#section_use_pcbang .usetemp3 .keyword a.skyblue{padding:5px 0 5px 0;font-size:12px; font-weight:bold; color:#32acfe; text-decoration:none; letter-spacing:-2px; line-height:18px;}
div#section_use_pcbang .usetemp3 .keyword a.skyblue:hover{text-decoration:underline;}
/* 남색 볼드 11 */
div#section_use_pcbang .usetemp3 .keyword a.darkblue{padding:5px 0 5px 0; font-size:11px; font-weight:bold; color:#4c6a96; text-decoration:none; letter-spacing:-2px; line-height:18px;}
div#section_use_pcbang .usetemp3 .keyword a.darkblue:hover{text-decoration:underline;}
/* 하늘색 볼드 12 */
div#section_use_pcbang .usetemp3 .keyword a.gray{padding:5px 0 5px 0; font-size:11px; font-weight:normal; color:#acacac; text-decoration: none; letter-spacing:-2px; line-height:18px;}
div#section_use_pcbang .usetemp3 .keyword a.gray:hover{text-decoration:underline;}

div#section_use_pcbang .usetemp3 dl#planthum {clear:both; padding:11px 0 10px 0;}
div#section_use_pcbang .usetemp3 dl#planthum dd {float:left; margin-bottom:10px; width:93px; text-align:center;}
div#section_use_pcbang .usetemp3 dl#planthum dd img{margin-bottom:7px;}
div#section_use_pcbang .usetemp3 dl#planthum dd a{font-size:11px; letter-spacing:-1px; color:#666666;}
div#section_use_pcbang .usetemp3 dl#planthum dd .price {font-size:11px; color:#3050A0;}
div#section_use_pcbang .usetemp3 dl#planlist2 {clear:both; margin-left:5px; padding:10px 0 0 0; width:175px; border-top:1px solid #e9e9e9;}
div#section_use_pcbang .usetemp3 dl#planlist2 dd{line-height:18px;}
div#section_use_pcbang .usetemp3 dl#planlist2 dd a{color:#858585; text-decoration:none; line-height:20px;}
div#section_use_pcbang .usetemp3 dl#planlist2 dd a:hover {color:#6673A5; text-decoration:none;}

/* 쇼핑동영상 */
div#section_use_pcbang .shopmovie {float:right; width:411px; height:340px; padding:20px 15px 0 20px; background:url('//img.danawa.com/new/main_new/img/bg_use_temp.gif') no-repeat -456px 0;}
div#section_use_pcbang .shopmovie p.btn{float:right; width:40px;}
div#section_use_pcbang .shopmovie p.btn img{margin-right:4px;}
div#section_use_pcbang .shopmovie dl.movielist {clear:both; width:406px; height:130px; margin:3px 0 25px 5px;}
div#section_use_pcbang .shopmovie dl.movielist dd {float:left; width:121px; margin-right:16px;}
div#section_use_pcbang .shopmovie dl.movielist dd.none {float:left; width:121px; margin-right:0;}
div#section_use_pcbang .shopmovie dl.movielist dd img{*margin-bottom:5px; border:3px solid #3a3a3c;}
div#section_use_pcbang .shopmovie dl.movielist dd a{line-height:16px;}

/* 프로모션 */
div#section_use_pcbang .promotion {float:right; width:446px; height:360px; background:url('//img.danawa.com/new/main_new/img/bg_use_temp.gif') no-repeat;}
div#section_use_pcbang .promotion .centrino2_left {float:left; width:238px; height:360px; margin:0;}
div#section_use_pcbang .promotion .centrino2_left img{display:block;}
div#section_use_pcbang .promotion .centrino2_right {float:left; width:208px; height:360px; margin:0;}
div#section_use_pcbang .promotion dl#planthum {clear:both; width:188px; margin:10px; padding-top:10px;}
div#section_use_pcbang .promotion dl#planthum dd {float:left; margin-bottom:10px; width:89px; text-align:center;}
div#section_use_pcbang .promotion dl#planthum dd img{margin-bottom:7px;}
div#section_use_pcbang .promotion dl#planthum dd a{font-size:11px; letter-spacing:-1px; color:#666666;}
div#section_use_pcbang .promotion dl#planthum dd .price {font-size:11px; color:#3050A0;}
div#section_use_pcbang .promotion dl#company {clear:both; width:192px; height:95px; margin:0 8px 0 8px;  background-color:#E9E9E9;}
div#section_use_pcbang .promotion dl#company dd{float:left;}
div#section_use_pcbang .promotion dl#company dd img{display:block; margin:5px 0 0 5px;}
div#section_use_pcbang .promotion dl#planlist2 {clear:both; width:188px; margin:10px 10px 0 10px; padding-top:10px; border-top:1px solid #e9e9e9;}
div#section_use_pcbang .promotion dl#planlist2 dd{line-height:18px;}
div#section_use_pcbang .promotion dl#planlist2 dd a{color:#858585; text-decoration:none; line-height:20px;}
div#section_use_pcbang .promotion dl#planlist2 dd a:hover {color:#6673A5; text-decoration:none;}