/*
적용화면 : 외부UI
최종작업일자 : 2010년 1월 19일
작업자 :  
작업내용 : 외부ui gnb 추가

핵설명 FX: 아무것도 없음
       ie7 : 속성앞에 *
	   ie6 : 속성앞에 _
*/	   

/* default Selector */
*{margin:0; padding:0; font-family: "돋움", Dotum, "Arial", "Verdana", Dotum, Sans-serif; font-size:12px; color:#666666;}

table {border-collapse:collapse; padding:0;}
dl, dd{text-align:left;}

.title01 {clear:both; float:left; padding:2px 0 0 2px;}
.morebtn {float:right; height:20px; padding:2px 0 5px 5px;}
.conbtn{float:right; padding:2px 2px 5px 5px;}
.conbtn img{margin-left:3px;}
.btn01 {float:right;}
.point_blue {color:#3366cc;}
.search_in {width:168px; height:18px; border:1px solid #8c8c8c; background-color:#f3f3f3; color:#3366cc; font-weight:bold; line-height:19px;}
.listline01{height:1px; font-size:0px; line-height:0px; border-bottom:1px solid #dddddd;}
.listselt {color:#333333;}
.gray {font-size:11px; color:#767676; line-height:14px;}
.point_orange {color:#4266db;}
.point_orangeb {color:#4266db; font-weight:bold;}
.point_blue {color:#3366cc; font-weight:bold;}
.point_bluecon {color:#3366cc; font-size:11px;}
.point_bluepart {color:#5270ce;}
.blue_co {font-size:11px; color:#6D92DA;}
.imgmargin {margin:0 3px;}
.hit{
		padding: 1px 10px 0 30px; 
		background:url('//img.danawa.com/new/prod_list/img/ico_hit.gif') no-repeat; 
		line-height: 14px; 
		font-size:11px; 
		font-weight:bold; 
		letter-spacing:-1px; 
		color:#e31e10;
}
.smalltxt {padding-bottom:8px;}

/* 링크 스타일 */
a {}
a:hover {color:#6673A5;}

a.11_txt{font-size:11px; text-decoration: none; color:#333333;letter-spacing:-1px;}
a.11_txt:hover {font-size:11px; text-decoration: underline; color:#6673A5;letter-spacing:-1px;}

a.Namimg{font-size:12px; color:#333333; font-weight:bold; line-height:16px; text-decoration:none;}
a.Namimg:hover {font-size:12px; color:#3366cc; font-weight:bold; line-height:16px; text-decoration:underline;}

a.sInfo{font-size:12px; color:#666666; line-height:16px; text-decoration:none;}
a.sInfo:hover {font-size:12px; color:#666666; line-height:16px; text-decoration:underline;}

a.newstext{font-size:11px; color:#4266db; line-height:16px; text-decoration:none; letter-spacing:-1px;}
a.newstext:hover {font-size:11px; color:#4266db; line-height:16px; text-decoration:underline; letter-spacing:-1px;}

/* Layout Selector */
div#container {position:relative; width:100%;}/* 왼쪽과 오른쪽영역 감쌈 */
div#spot {width:100%; margin-bottom:10px;}/* 검색옵션과 광고 */

table.prodList {width:100%;}
table.prodList td.contents{vertical-align:top;}
table.prodList td.cside{width:200px; padding-left:10px; vertical-align:top;}

/* 세로형 카테고리 */
div#cateH {width:100%; margin-bottom:10px; background:url('//img.danawa.com/new/prod_list/img_partner/bg_cateB.gif') no-repeat; zoom:1;}
div#cateH .cateBarea {/*border-left:2px solid #7f7f7f; border-right:2px solid #7f7f7f;*/ background: repeat-y top right url('//img.danawa.com/new/prod_list/img_partner/bg_cateB_vertical2px.gif'); padding:0 2px;}
div#cateH .cateBarea dd.cateGroup {clear:both; display:block; float:left; width:110px; padding:7px 10px;  margin-right:10px; font-weight:bold; color:#000; text-align:right; line-height:17px;}
div#cateH .cateBarea dd.category {padding:7px 10px; line-height:18px; margin-left:130px;}
div#cateH .cateBarea dd.category a{color:#333;}
div#cateH .cateBarea dd.category a:hover{color:#333; text-decoration:underline;}
div#cateH .cateBarea dd.category a.Over{color:#fff; font-weight:bold; background:url('//img.danawa.com/new/prod_list/img_partner/bg_cateOver.gif') repeat; padding:4px 4px 3px 4px;}
div#cateH .cateBarea dd.category a.Over:hover{color:#fff; font-weight:bold; text-decoration:underline;}
div#cateH .cateBarea dd.category .catespace{color:#767676; margin:0 5px;}
div#cateH .cateBarea dd.cateLine {clear:both; width:100%; font-size:0; line-height:0; padding:0; margin:0; border-bottom:1px solid #e2e2e2;}

div#cateH dl.cateBtop {width:100%; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_bgT.gif') repeat;}
div#cateH dl.cateBtop dd{float:left; font-size:0; line-height:0; padding:0; margin:0;}
div#cateH dl.cateBtop dd.topLeft {width:3px; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_topL.gif') no-repeat;}
div#cateH dl.cateBtop dd.topRight {float:right; width:3px; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_topR.gif') no-repeat;}

div#cateH dl.cateBbot {width:100%; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_bgB.gif') repeat;}
div#cateH dl.cateBbot dd{float:left; font-size:0; line-height:0; padding:0; margin:0;}
div#cateH dl.cateBbot dd.botLeft {width:3px; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_botL.gif') no-repeat;}
div#cateH dl.cateBbot dd.botRight {float:right; width:3px; height:3px; background:url('//img.danawa.com/new/prod_list/img_partner/cateB_botR.gif') no-repeat;}

/* 카테고리 위치 정보 */
div#cataLocation {width:100%; margin-bottom:10px; background:repeat-y left top url('//img.danawa.com/new/prod_list/img_partner/bg_location_vertical3px.gif')}
div#cataLocation dl#cateArea {background:repeat-y right top url('//img.danawa.com/new/prod_list/img_partner/bg_location_vertical3px.gif'); overflow:hidden; zoom:1;}
div#cataLocation dl#cateArea dd{}  
div#cataLocation dl#cateArea dd.cateLoca {position:relative; display:block; float:left; padding:12px 10px 10px 25px; background:url('//img.danawa.com/new/prod_list/img/ico_location.gif') no-repeat 10px 12px;}
div#cataLocation dl#cateArea dd.cateLine {clear:both; width:100%; font-size:0; line-height:0; padding:0; margin:0; border-bottom:1px solid #e2e2e2;}
div#cataLocation dl#cateArea dd.category {position:relative; clear:both; padding:7px 12px 4px 12px; line-height:19px;}
div#cataLocation dl#cateArea dd.category .catespace{color:#c8c8c8; margin:0 3px;}
div#cataLocation dl#cateArea dd.category_AV {position:relative; clear:both; width:900px; height:20px; padding:9px 12px 4px 12px; letter-spacing:-1px; line-height:16px;}
div#cataLocation dl#cateArea dd.category_AV .catespace{color:#c8c8c8; margin:0 3px;}
div#cataLocation dl#cateArea img.linkBtn {position:absolute; bottom:5px; right:10px;}
div#cataLocation dl#cateArea dd.category_AV .PartTit{font-size:12px; font-weight:bold; letter-spacing:-1px; margin-right:7px; color:#2a4274;}

div#cataLocation dl#cateArea .plusIco {margin:0 5px;}

div#cataLocation dl.cateTop {width:100%; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_bgT.gif') repeat;}
div#cataLocation dl.cateTop dd{float:left; font-size:0; line-height:0; padding:0; margin:0;}
div#cataLocation dl.cateTop dd.topLeft {width:4px; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_topL.gif') no-repeat;}
div#cataLocation dl.cateTop dd.topRight {float:right; width:4px; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_topR.gif') no-repeat;}

div#cataLocation dl.cateBot {width:100%; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_bgB.gif') repeat;}
div#cataLocation dl.cateBot dd{float:left; font-size:0; line-height:0; padding:0; margin:0;}
div#cataLocation dl.cateBot dd.botLeft {width:4px; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_botL.gif') no-repeat;}
div#cataLocation dl.cateBot dd.botRight {float:right; width:4px; height:4px; background:url('//img.danawa.com/new/prod_list/img_partner/cate_botR.gif') no-repeat;}

/* 3차 카테고리 테마형의 CateTit는 유동적으로 변할 수 있기에 사이트별로 좀 봐야함...*/
div#cataLocation table.GroupCate{position:relative; clear:both;}
div#cataLocation table.GroupCate td.CateTit{width:90px; padding:3px 3px 0 0; float:left; font-size:12px; font-weight:bold; color:#2A4175; vertical-align:top;}
div#cataLocation table.GroupCate td .partline{font-weight:normal; margin:0 4px;}
div#cataLocation table.GroupCate td.CateDepth{}
div#cataLocation table.GroupCate td.CateDepth img{vertical-align:middle;}
div#cataLocation table.GroupCate td.CateDepth .catespace{color:#c8c8c8; margin:0 7px;}

/* 4차 카테고리 박스형 */
table#CateBox {border:1px solid #7b98e6;}
table#CateBox th{padding:6px 5px 3px 5px; background-color:#d4dffd; font-size:11px; font-weight:bold; color:#5871b4; text-align:center;}
table#CateBox td{border-right:1px solid #d4dffd; vertical-align:top; background-color:white;}
table#CateBox td.bluelNone{border:none;}
table#CateBox ul.CateBoxList {display:block; float:left; padding:4px 7px 4px 5px;}
table#CateBox ul.CateBoxList li{background:url('//img.danawa.com/new/prod_list/img/ico_cate.gif') no-repeat 0 50%; padding-left:5px; line-height:19px;}
table#CateBox ul.CateBoxList li img{vertical-align:middle;}
table#CateBox ul.CateBoxList li a:hover{color:#0066cc;}
.catePoint {font-size:0; line-height:0; height:0; padding:0; margin:0 20px;}

/* 검색옵션과 e형광고 관련 */
table.optionAndAD {width:100%;}
table.optionAndAD td.searchOPT{vertical-align:top;}
table.optionAndAD .optTab {position:relative; width:100%; height:32px; background:url('//img.danawa.com/new/prod_list/img_partner/opt_topR.gif') no-repeat right;}
table.optionAndAD ul#listTab {float:left; height:32px;}
table.optionAndAD ul#listTab li{float:left; list-style:none; margin:0px; padding:0px; font-size:0px; line-height:0px; height:32px;}
table.optionAndAD .optBtn{float:right; margin:0px; padding:0px; font-size:0px; line-height:0px; padding:6px 6px 0 0;}

table.optionAndAD .priceSel{width:100%; height:23px; background:url('//img.danawa.com/new/prod_list/img_partner/bg_priceR.gif') no-repeat right; background-color:#637397; padding:10px 0;}
table.optionAndAD .priceSel dl{float:left; height:23px; background:url('//img.danawa.com/new/prod_list/img_partner/bg_priceL.gif') no-repeat;}
table.optionAndAD .priceSel dt{display:block; float:left; font-weight:bold; color:#fff; margin-left:5px; padding:5px 5px 0 8px;}
table.optionAndAD .priceSel dd.priceIn{display:block; float:left; font-weight:bold; color:#fff;}
table.optionAndAD .priceSel dd.priceR{display:block; float:left; margin-left:10px;}
table.optionAndAD .priceInput {width:80px; height:10px; background-color:#fff; padding:5px; text-align:right; color:#000; font-weight:bold; border:none; margin-right:3px;}

table.optionAndAD td.eTypeAD{width:452px; padding-left:10px; vertical-align:top;}
table.optionAndAD table.adList {width:100%; border-top:1px solid #bdbdbd; border-left:1px solid #bdbdbd;}
/*table.optionAndAD table.adList td{display:block; float:left; border-right:1px solid #bdbdbd; border-bottom:1px solid #bdbdbd; height:13px; padding:5px 10px; text-align:center;}*/
table.optionAndAD table.adList td{border-right:1px solid #bdbdbd; border-bottom:1px solid #bdbdbd; height:23px; text-align:center;}
table.optionAndAD table.adList .adOn{background-color:#999;}
table.optionAndAD table.adList .adOn a{font-size:12px; font-weight:bold; color:#fff;}
table.optionAndAD table.adList .adOn a:hover{font-size:12px; font-weight:bold; color:#fff; text-decoration:underline;}

table.optionAndAD table.adList .adDis{background-color:#fff;}
table.optionAndAD table.adList .adDis a{font-size:12px; font-weight:normal; color:#000;}
table.optionAndAD table.adList .adDis a:hover{font-size:12px; font-weight:normal; color:#000; text-decoration:underline;}

table.optionAndAD .adBanner{width:450px; height:350px; border-right:1px solid #bdbdbd; border-bottom:1px solid #bdbdbd; border-left:1px solid #bdbdbd;}

/* 왼쪽 옵션부분 관련 */
/* e형 광고 있을 때 왼쪽 옵션 선택 부분 */
#optionMid {height:291px; margin:0px; border-left:2px solid #929CB6; border-right:2px solid #929CB6; padding:5px;}
#optionMid .optionscroll {
	width:100%;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFF;
	scrollbar-3dlight-color: #C5C5C5;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #C5C5C5;	
	scrollbar-track-color:#EBEBEB;
	scrollbar-arrow-color: #7AA5FF;
	overflow: auto;
	height:291px;
}

#spot .conlist {font-size :11px; color:#333333; font-weight:bold; line-height:19px;}
#spot .conlistnum {font-size :11px; color:#3366CC; font-weight:normal; line-height:19px; padding-top:5px;}	
#spot .option_nor {font-size :11px; color:#666666; font-weight:normal; padding:4px 0 2px 0; display:block; float:left;}
#spot .option_nor u{font-size :11px; color:#666666; font-weight:normal;}
#spot .option_line {font-size :11px; color:#666666; font-weight:normal; text-decoration:underline; padding:4px 0 2px 0; display:block; float:left;}
#spot .option_hot {font-size :11px; color:#4266db; font-weight:bold; margin-top:5px; display:block; float:left;}
#spot table.contableH {width:95%; border-bottom:1px solid #E9E9E9;}
#spot table.contableH td.optListbot{padding:0; height:1px; font-size:0; line-height:0; border-bottom:1px solid #E9E9E9;}
#spot table.contableH td{padding:2px 0;}
#spot table.contableH ul.contableopt {clear:both;}
#spot table.contableH ul.contableopt li{display:block; float:left;}
#spot table.contableH ul.contableopt li.optDashline{width:100%; height:5px; font-size:0; line-height:0; background:url('//img.danawa.com/search/img/bg_5line.gif') repeat;}

/* e형 광고 없을 왼쪽 옵션 선택 부분 */
#optionMidW {margin:0px; border-left:2px solid #637397; border-right:2px solid #637397; padding:5px;}
#spot table.contableW {width:100%; border-bottom:1px solid #E9E9E9;}
#spot table.contableW td.optListbot{padding:0; height:1px; font-size:0; line-height:0; border-bottom:1px solid #E9E9E9;}
#spot table.contableW td{padding:2px 0;}
#spot table.contableW ul.contableopt {clear:both;}
#spot table.contableW ul.contableopt li{display:block; float:left;}
#spot table.contableW ul.contableopt li.optDashline{width:100%; height:5px; font-size:0; line-height:0; background:url('//img.danawa.com/search/img/bg_5line.gif') repeat;}
#spot .check{margin:2px 2px 0px 0px; *margin:0px 2px 0px 0px; _margin:0px 2px 0px 0px; display:block; float:left;}
#spot .checkImg{padding-top:5px;}

#spot table#listOptionTable {}
#spot table#listOptionTable td{padding:2px 0;}

#spot u{font-size:11px; color:#333333;}

#spot table dl, table dt, table dd {list-style: none; margin: 0px; padding: 0px;}
#spot table dd {float: left;}
	
/* 검색옵션과 e형광고 관련 끝 */

/* 컨텐츠영역 #container 시작 */
/* 왼쪽 컨텐츠 div#contents 영역 시작 */
/* 검색옵션 */
dl#insearch {float:right; width:243px; height:30px;}
dl#insearch dd{display:block; float:left;}
dl#insearch img{padding:1px 0 0 4px;}

#seloption {height:35px; background:url('//img.danawa.com/new/prod_list/img_partner/bg_option.gif') repeat;}
#seloption dl#selradio {clear:both; float:left; padding:7px 0 0 7px;}
#seloption dl#selradio img{margin-left:3px; *margin-left:0px; _margin-left:0px;}
#seloption dl#selradio dd{display:inline;}

#seloption dl#infoMenu {clear:both; float:left; padding:10px 0 0 10px;}
#seloption dl#infoMenu .spaceline{color:#cccccc;}
#seloption dl#infoMenu dd{display:inline;}
#seloption dl#infoMenu dd a{color:#333333;}

#seloption dl#sellist {float:right; padding:7px 10px 0 0;}
#seloption dl#sellist dd{display:block; float:left; margin-left:5px;}

/* 가격비교상품 리스트형 목록 */
table#listType {clear:both; width:100%;}
table#listType td{padding:10px 5px; vertical-align:top;}
table#listType td.listline {padding:0px; height:1px; font-size:0px; line-height:0px; border-bottom:1px solid #dddddd;}

table#listType td.proImg{width:105px; text-align:center;}
table#listType dl#ImgBtn {width:105px;}
table#listType dl#ImgBtn dt{width:105px; text-align:center; padding:3px;}
table#listType dl#ImgBtn dd{display:block; float:left; width:105px; text-align:center;}
table#listType dl#ImgBtn dd .check{vertical-align:top;}
table#listType dl#ImgBtn dd img{}

table#listType td.proName {padding-bottom:0; vertical-align:middle;}
table#listType td.textInfo {padding-top:6px; padding-right:10px;}

table#listType ul#news {}
table#listType ul#news li{background:url('//img.danawa.com/new/prod_list/img/ico_news.gif') no-repeat 0 4px; padding-left:9px;}

table#listType td.priceInfo {width:115px; padding-top:20px;}
table#listType dl#price {}
table#listType dl#price dt{font-weight:bold; line-height:21px; margin-bottom:10px; }
table#listType dl#price dt span.point_orange{font-size:16px; font-family:Tahoma, Geneva, sans-serif;}
table#listType dl#price dd.reply{padding-top:5px; font-size:11px; color:#7c7c7c;}

table#listType td.btn {width:71px; padding-top:20px;}
table#listType td.btn img{margin:0 0 3px 0;}

/* 왼쪽 컨텐츠 div#contents 영역 끝 */

/* 오른쪽 컨텐츠 #cside 영역 시작 */
#section_con01 {width:200px; background:url('//img.danawa.com/new/prod_list/img/bg_cside01.gif') no-repeat; margin-bottom:15px;}
#section_con01 .con01_bottom{width:200px; height:5px; font-size:0; line-height:0; background:url('//img.danawa.com/new/prod_list/img/bg_cside01.gif') no-repeat bottom;}

/* 뉴스 */
#section_con01 dl#snews {clear:both; width:188px; padding:6px 6px 0 6px; margin-bottom:7px;}
#section_con01 dl#snews dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;  margin-bottom:9px;}
#section_con01 dl#snews dd p.thumImg{clear:both; display:block; float:left; width:75px; margin:0px 5px 5px 1px;}
#section_con01 dl#snews dd p.thumImg img{width:75px; height:75px;}
#section_con01 dl#snews dd p.context{display:block; float:left; width:102px; margin-top:10px;}
#section_con01 dl#snews dd p.context a{line-height:15px; font-weight:bold; color:#333333;}
#section_con01 dl#snews dd p.context a:hover{color:#6673A5;}

#section_con01 ul#snews_list {clear:both; width:182px; margin:3px 3px 0 3px;}
#section_con01 ul#snews_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

/* 쇼핑가이드 */
#section_con01 dl#sguide {clear:both; width:188px; padding:6px 6px 0 6px; margin:7px 0;}
#section_con01 dl#sguide dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;}
#section_con01 dl#sguide dd p.thumImg{clear:both; display:block; float:left; width:75px; height:75px; margin:5px 5px 5px 1px;}
#section_con01 dl#sguide dd p.thumImg img{width:75px; height:75px;}
#section_con01 dl#sguide dd p.context{display:block; float:left; width:102px; margin-top:10px;}
#section_con01 dl#sguide dd p.context a{line-height:16px; font-weight:bold; color:#333333;}
#section_con01 dl#sguide dd p.context a:hover{color:#6673A5;}

#section_con01 ul#sguide_list {clear:both; width:182px; margin:0 3px;}
#section_con01 ul#sguide_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

/* 리뷰 */
#section_con01 dl#review {clear:both; width:188px; padding:0 6px; margin:7px 0;}
#section_con01 dl#review dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;}
#section_con01 dl#review dd p.thumImg{clear:both; display:block; float:left; width:75px; height:75px; margin:5px 5px 5px 1px; text-align:center;}
#section_con01 dl#review dd p.thumImg img{width:75px; height:75px;}
#section_con01 dl#review dd p.context{display:block; float:left; width:102px; margin-top:10px;}
#section_con01 dl#review dd p.context a{line-height:16px; font-weight:bold; color:#333333;}
#section_con01 dl#review dd p.context a:hover{color:#6673A5;}

#section_con01 ul#review_list {clear:both; width:182px; margin:0 3px;}
#section_con01 ul#review_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

/* 제휴 추천기사 */
#section_con01 dl#partnews {clear:both; width:188px; padding:0 6px; margin:7px 0 0 0;}
#section_con01 dl#partnews dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;}

#section_con01 ul#part_list {clear:both; width:182px; margin:0 3px;}
#section_con01 ul#part_list li{padding:4px 0 0 6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 5px; line-height:14px; margin-top:5px;}

/* 테마다알지, 최신QNA */
#section_con02 {width:200px; background:url('//img.danawa.com/new/prod_list/img/bg_cside02.gif') no-repeat; margin-bottom:10px;}
#section_con02 dl#dragArea {clear:both; width:200px;}
#section_con02 dl#dragArea dd{}
#section_con02 dl#dragArea dd.space01{width:200px; height:4px; padding:0; font-size:0; line-height:0; background:url('//img.danawa.com/new/prod_list/img/bg_drag01.gif') no-repeat;}
#section_con02 dl#dragArea dd.space02{width:200px; height:5px; padding:0; font-size:0; line-height:0; background:url('//img.danawa.com/new/prod_list/img/bg_drag02.gif') no-repeat;}
#section_con02 dl#dragArea dd.dragBtn{width:192px; padding:0 4px; background-color:#ededed;}
#section_con02 dl#dragArea dd.bottom{width:200px; height:3px; padding:0; font-size:0; line-height:0; background:url('//img.danawa.com/new/prod_list/img/bg_cside02.gif') no-repeat bottom;}

#section_con02 dl#dragtheme {clear:both; width:190px; padding:7px 5px 5px 5px; background:url('//img.danawa.com/new/prod_list/img/bg_cside02.gif') no-repeat 0 -3px;}
#section_con02 dl#dragtheme dt{width:180px; height:24px; border-bottom:1px solid #d8d8d8; padding:3px 5px 0 5px;}
#section_con02 dl#dragtheme dd{width:185px; padding-left:5px;}
#section_con02 dl#dragtheme dd p.thumImg{clear:both; display:block; float:left; width:75px; height:75px; margin:7px 5px 7px 1px;}
#section_con02 dl#dragtheme dd p.context{display:block; float:left; width:92px; margin-top:10px;}
#section_con02 dl#dragtheme dd p.context a{line-height:16px; font-weight:bold; color:#333333;}
#section_con02 dl#dragtheme dd p.context a:hover{color:#6673A5;}

#section_con02 ul#drag_list {clear:both; width:174px; padding-top:4px; margin:0 3px;}
#section_con02 ul#drag_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

#section_con02 dl#qna {clear:both; width:190px; padding:5px; background:url('//img.danawa.com/new/prod_list/img/bg_cside02.gif') no-repeat 0 -3px;}
#section_con02 dl#qna dt{width:180px; height:24px; border-bottom:1px solid #d8d8d8; padding:3px 5px 0 5px;}

#section_con02 ul#qna_list {clear:both; width:174px; padding:7px 5px 0 5px; margin:0 3px;}
#section_con02 ul#qna_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

/* as이용후기 */
#section_con01 dl#as {clear:both; width:188px; padding:6px 6px 0 6px; margin-bottom:7px; }
#section_con01 dl#as dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;}
#section_con01 dl#as dd p.thumImg{clear:both; display:block; float:left; width:80px; height:80px; margin:5px 5px 5px 0;}
#section_con01 dl#as dd p.context{display:block; float:left; width:103px; margin-top:10px;}
#section_con01 dl#as dd p.context a{line-height:16px; font-weight:bold; color:#333333;}
#section_con01 dl#as dd p.context a:hover{color:#6673A5;}

#section_con01 ul#as_list {clear:both; width:182px; padding:7px 0; margin:0 3px;}
#section_con01 ul#as_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}

/* 추천사용기 */
#section_con01 dl#useview {clear:both; width:188px; padding:8px 6px 0 6px;}
#section_con01 dl#useview dt{height:24px; border-bottom:2px solid #d8d8d8; padding-top:3px;}
#section_con01 dl#useview dd p.thumImg{clear:both; display:block; float:left; width:80px; height:80px; margin:5px 5px 5px 0;}
#section_con01 dl#useview dd p.context{display:block; float:left; width:103px; margin-top:10px;}
#section_con01 dl#useview dd p.context a{line-height:16px; font-weight:bold; color:#333333;}
#section_con01 dl#useview dd p.context a:hover{color:#6673A5;}

#section_con01 ul#useview_list {clear:both; width:182px; padding-bottom:7px; margin:0 3px;}
#section_con01 ul#useview_list li{padding-left:6px; background:url('//img.danawa.com/new/prod_list/img/ico_arrow01.gif') no-repeat 0 3px; line-height:14px; margin-bottom:5px;}


/* 이벤트 */
#section_event {clear:both; width:200px; background:url('//img.danawa.com/new/prod_list/img/bg_event.gif') no-repeat; margin-bottom:10px;}
#section_event .con01_bottom{width:200px; height:5px; font-size:0; line-height:0; background:url('//img.danawa.com/new/prod_list/img/bg_cside01.gif') no-repeat bottom;}

#section_event dl#event{width:188px; padding:6px 6px 0 6px;}
#section_event dl#event dt{width:188px; height:20px;}
#section_event dl#event dt p.num{float:right;}
#section_event dl#event dt p.num img{padding:2px;}

#section_event dd {padding-top:5px;}
#section_event dd p.thumImg {clear:both; display:block; float:left; width:80px; height:80px; margin:5px 5px 5px 0;}
#section_event dd p.context {display:block; float:left; width:103px; margin-top:5px;}
#section_event dd p.context a{line-height:15px; font-weight:bold; color:#333333;}
#section_event dd p.context a:hover{color:#6673A5;}

#section_event dd p.date {display:block; float:left; padding-top:3px;  width:103px; font-size:11px; color:#767676;}
#section_event dd p.context_B {display:block; float:left; width:188px; margin-top:5px;}
#section_event dd p.context_B a{line-height:15px; font-weight:bold; color:#333333;}
#section_event dd p.date_B {display:block; float:left; padding-top:3px;  width:188px; font-size:11px; color:#767676;}
#section_event dd.uniSpace {clear:both; height:0; font-size:0; line-height:0; padding:0;}

/* gnb 추가 */
#head {margin:10px auto; width:100%; height:30px; overflow:hidden; background:url(//img.danawa.com/new/prod_list/img/gnb_bg_right.gif) no-repeat top right; /*min-width:870px;*/}
#head .navigation { overflow:hidden; background:url(//img.danawa.com/new/prod_list/img/gnb_bg_left.gif) no-repeat top left; margin-right:3px; zoom:1; }
#head .navigation ul {margin:3px 0 0 8px; overflow:hidden; }
#head .navigation ul:after {content:" "; display:block; visibility:hidden; clear:both;height:0;}
#head .navigation li { float:left;}

/* 제보제공 추가 */
.ProvideByDanawa {margin:20px 0 40px; padding:0; text-align:center;}
.ProvideByDanawa * {display:inline; font-size:11px; color:#767676; vertical-align:middle;}
.ProvideByDanawa a {color:#666;}
.ProvideByDanawa address {font-weight:bold; font-style:normal; font-size:11px; }

/* 제휴 GNB */
.jehu_gnb {background:url(//img.danawa.com/new/prod_list/img_partner/jehu_bg_deco_gnbPT.gif) repeat-x; height:30px; line-height:30px; width:100%; margin-bottom:10px;}
.jehu_gnb td {text-align:center;}
.jehu_gnb .firstChild {background:url(//img.danawa.com/new/prod_list/img_partner/jehu_bg_deco_gnbLT.gif) no-repeat; height:30px; line-height:30px; padding-left:5px;}
.jehu_gnb .lastChild {background:url(//img.danawa.com/new/prod_list/img_partner/jehu_bg_deco_gnbRT.gif) no-repeat right 0; height:30px; line-height:30px;  padding-right:5px;}








