/*
적용화면 : 검색


최종작업일자 : 2011년 2월 21일 16시 40분
작업자 : P03
작업내용 :  table#listTypeS dl#price dd.cardarea / table#listTypeS dl#price dd.cardarea a,a:hover / table#listTypeS dl#price dd span.cardPrice추가
            table#listTypeS td.priceInfo 수정

			
핵설명 FX: 아무것도 없음
       ie7 : 속성앞에 *
	   ie6 : 속성앞에 _
*/	   

/* Layout Selector */
#dirLink {border-bottom:1px solid #cdcdcd;} /* 바로가기 */
#overture {} /* 스폰서링크 */
#planCon {margin-bottom:25px;} /* 기획콘텐츠 */
#linkPrice {width:923px; border:1px solid #ececec; margin-bottom:25px;} /* 링크플라이스 */
#prodArea {position:relative;} /* 상품영역 */
#marketArea {} /* 장터상품영역 */
#infoArea {position:relative;} /* 장터상품영역 */

/* default Selector */
*{margin:0; padding:0; font-family: "돋움", Dotum, "Arial", "Verdana", Dotum, Sans-serif; font-size:12px; color:#333333;}

body {background-color:#ffffff; font-size:12px;}
 
table {border-collapse:collapse;}
dl, dd{text-align:left;}
img, fieldset, button {border:none;}
li {list-style:none;}
textarea {overflow:auto;}
select   {font-size:12px; font-family: "돋움","Arial","Verdana";  color:#333333; border:1px solid #cccccc;}
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
option {padding-right:6px;} /* Firefox Fix */
legend {display:noen;} /* For Screen Reader */
label {display:block; float:left; cursor:pointer; margin-left:3px; vertical-align:top; line-height:22px;}
.check {display:block; float:left;}

.clearB {clear:both;}
.marT5 {margin-top:5px}
.marT10 {margin-top:10px}
.marT20 {margin-top:20px}
.marT35 {margin-top:35px}
.marB5 {margin-bottom:5px;}
.marB10 {margin-bottom:10px;}
.borderNone {border:none;}
.imgAsol {position:absolute; top:10px; left:5px;}

/* 타이틀 및 공통버튼 */
.titleArea {clear:both; width:907px; height:15px; border-bottom:1px solid #cdcdcd; color:#000; padding:14px 0 8px 18px; background:url('//img.danawa.com/new/searchNew/img/ico_titType.gif') no-repeat 0 14px; margin-top:25px;}
.titleArea_none {clear:both; width:907px; height:15px; color:#000; padding:14px 0 10px 18px; background:url('//img.danawa.com/new/searchNew/img/ico_titType.gif') no-repeat 0 14px;}
.titType {float:left; font-size:13px; font-weight:bold; font-family:'굴림', Sans-serif; color:#000; margin-right:10px;}
.moreBtn {float:right; margin-right:5px;}
.writeBtn {float:right; padding-bottom:5px;}
.hit{
	display:block; 
	float:left; 
	padding: 2px 10px 0 30px;
	margin-top:2px;
	background:url('//img.danawa.com/new/prod_list/img/ico_hit.gif') no-repeat; 
	font-size:11px; 
	font-weight:bold; 
	letter-spacing:-1px; 
	color:#f87324;
}


/* 공통 칼라 적용 */
.gray {font-size:11px; color:#999; line-height:14px;}
.orange {color:#ff3300;}
.orangeB {color:#ff3300; font-weight:bold;}
.blue {color:#3366cc; font-weight:bold;}
.blueB {color:#3366cc; font-size:11px;}
.greenB {color:#3a7708; font-weight:bold;}
.listLinedark {background-color:#9b9b9b; height:1px; width:925px; font-size:0; line-height:0;}

/* 링크 스타일 */
a {text-decoration:none;}
a:hover {text-decoration:underline;}

a.more {text-decoration:underline; color:#095edf; letter-spacing:-1px; background:url('//img.danawa.com/new/searchNew/img/ico_moreBtn.gif') no-repeat 0 2px; padding-left:10px;}
a.more:hover {}

a.moreGray {text-decoration:underline; color:#666; letter-spacing:-1px; background:url('//img.danawa.com/new/searchNew/img/ico_moreBtn_gray.gif') no-repeat 0 2px; padding-left:10px;}
a.more:hover {}

a.conTitle{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:none; color:#095edf;}
a.conTitle:hover{text-decoration:underline;}
a.conTitle strong{font-size:13px; font-family:'굴림', Sans-serif; color:#095edf;}
a.conTitle b{font-size:13px; font-family:'굴림', Sans-serif; color:#095edf;}

a.sInfo {color:#666; line-height:16px;}

.blue_co {margin:0 20px 0 5px; font-size:11px; font-weight:bold; color:#6d92da; text-decoration:none;}
a.blue_co {margin:0 20px 0 5px; font-size:11px; font-weight:bold; color:#6d92da; text-decoration:none;}
a.blue_co:hover {margin:0 20px 0 5px; font-size:11px; font-weight:bold; color:#6d92da; text-decoration:underline;}

a.title{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}
a.title strong{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}
a.title b{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}


/* 상단메뉴 gnb 시작 */
div#gnb {width:950px; margin:0 auto; position:relative; margin-bottom:10px; *margin-bottom:0px;}
div#gnb .lnb {position:relative; width:942px; height:16px; padding:4px 8px 0 0;}
div#gnb .servMenu{float:right;}
div#gnb .servMenu li{float:left; display:block; line-height:18px; letter-spacing:-1px;}
div#gnb .servMenu li.log img{margin:0 5px 0 0;}
div#gnb .servMenu li a{font-size:11px; color:#333; margin:0 5px 0 4px;}
div#gnb .servMenu span{color:#ccc; font-size:11px;}
div#gnb .servMenu li a.servMore {background:url('//img.danawa.com/new/searchNew/img/btn_servmore.gif') no-repeat top right; padding-right:18px;}

div#gnb #servArea_f {position:absolute; top:22px; right:12px; border:1px solid #c8c8c8; padding:4px 5px 2px 5px; line-height:16px;}
div#gnb #servArea_f a.servAll{background:url('//img.danawa.com/new/searchNew/img/ico_allmore.gif') no-repeat right 1px; padding-right:8px;}

div#gnb .logo {float:left; padding:10px 25px 0 35px;}

/* 상단 검색 */
#BarTopN .srchArea {position:relative; padding:0px; float:left;}
#BarTopN .btn, #BarTopN .btn {float:left;}
#BarTopN .btn input, #BarTopN .btn input {text-indent: -1000em; float:left; border:0px solid #eee; background:url('//img.danawa.com/new/searchNew/img/btn_topSearch.gif') no-repeat; width:48px; height:37px; overflow:hidden;cursor:pointer;}

#BarTopN .srchFrm, #BarTopN .srchFrm {border:3px solid #3c4c9f; width:374px; height:27px; float:left; margin-right:4px;}
* html #BarTopN .srchFrm, * html #BarTopN .srchFrm {width:382px; height:27px;}
#BarTopN .sbBtnImg, #BarTopN .sbBtnImg {width:12px; height:27px; background:url('//img.danawa.com/new/searchNew/img/ico_search.gif') no-repeat 0 11px; float:left; cursor:pointer;}

#BarTopN .sn1{width:70px; height:19px; padding:8px 0 0 6px; font-size:12px; color:#767676; cursor:pointer; float:left; position:relative;} 
#BarTopN .sn2{width:254px; height:21px; padding:0 7px 0 7px; font-size:12px; color:#767676; float:left; margin:3px 0 0 3px; border-left:2px solid #dddddd;}
* html #BarTopN .sn2 {width:254px; padding:0 7px 0 7px;}
#BarTopN .sn2 input, #BarTopN .sn2 input {width:254px; height:18px; font-weight:bold; font-family:'돋움', sans-serif; border:#fff solid 0px; color:#000; font-size:14px; margin-top:3px;}
* html #BarTopN .sn2 input, * html #BarTopN .sn2 input {width:254px;}

#BarTopN {width:496px; position:relative; margin:4px 0 8px 0;}
#BarTopN .srchArea {float:left;}

#Search {display:block; width:496px; float:left; color:#7a7a7a; font-size:12px; }
* html #Search {padding:8px 0 0 0;width:100%;}
#Search .top {margin:0 0 -1px 0;padding:0 8px 0 0;text-align:right;}
* html #Search .top {margin:0 0 0 0;}

#BarTopN  #sbArea_f .dselObj {display:block; width:78px; cursor:pointer;}
* html #BarTopN  #sbArea_f .dselObj {width:83px;}
#BarTopN  #sbArea_f a {font-size:12px; color:#000; text-decoration:none;}
#BarTopN  #sbArea_f span {padding:4px 0 2px 3px;}
#BarTopN  #sbArea_f {width:81px; padding:0; border:#3c4c9f solid 1px; background-color:#fff; position:absolute; top:30px; left:2px; font-size:12px; letter-spacing:-1px; z-index:10001;}
#BarTopN  #sbArea_f, x:-moz-any-link {top:30px;}
#BarTopN  #sbArea_f, x:-moz-any-link, x:default {top:30px;}
* html #BarTopN  #sbArea_f {width:81px;}
#BarTopN  #sbArea_f .dselObj {display:block; width:78px; cursor:pointer;}
* html #BarTopN  #sbArea_f .dselObj {width:78px;}

/* 자동검색 */
#BarTopN  #Ser_auto {width:280px; *width:280px; padding:0; border:#d3d3d3 solid 1px; background-color:#fff; position:absolute; top:30px; left:95px; font-size:12px; letter-spacing:-1px; z-index:10002;}
* html #BarTopN  #Ser_auto {width:288px;}

#BarTopN #Ser_auto2 {width:280px; *width:280px; border:1px solid #d3d3d3;}
* html #BarTopN  #Ser_auto2 {width:288px;}

.autotxt {color:#ff3300; font-weight:bold;}
.autolist {
	SCROLLBAR-FACE-COLOR: #F5F5F5;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFF;
	SCROLLBAR-3DLIGHT-COLOR: #CBCBCB;
	SCROLLBAR-SHADOW-COLOR: #F5F5F5;
	SCROLLBAR-DARKSHADOW-COLOR: #CBCBCB;
	SCROLLBAR-TRACK-COLOR:#E9E9E9;
	SCROLLBAR-ARROW-COLOR: #C0C0C0;
}
table.autoListcon {width:100%;}
table.autoListcon td{padding:3px;}

table.autoHeader {width:100%; height:26px; background:url('//img.danawa.com/new/GNB/img/bg_auto_tit.gif') repeat;}
table.autoHeader td {padding:5px}

table.autoMiddle {width:100%; height:100px;}
table.autoMiddle td{padding:3px;}

table.autoNodata {width:100%; height:106px;}
table.autoNodata td{padding:10px; color:#9D9D9D; vertical-align:top; line-height:18px;}

table.autoBottom {width:100%; height:23px; background-color:#f5f5f5;}
table.autoBottom td{padding:3px;}

/* 상단 탭 */
div#gnb .menu_tab {clear:both; width:920px; height:37px; background:url('//img.danawa.com/new/searchNew/img/bg_gnb.jpg') no-repeat; padding:8px 15px 0 15px; margin:8px 0 10px 0; *margin:0 0 10px 0; _margin:0px;}
div#gnb .menu_tab ul{}
div#gnb .menu_tab li{float:left; display:block;}
div#gnb .menu_tab li.moreOver{float:left; display:block; position:relative; }
div#gnb .menu_tab img{float:left; display:block;}
div#gnb .menu_tab .spaceline{}

/* 메뉴 탭버튼_활성화 */
div#gnb .menu_tab ul .tabin{float:left; height:37px; background:url('//img.danawa.com/new/searchNew/img/tab_on_right.jpg') no-repeat top right; }
div#gnb .menu_tab a.tabon {
	float:left;
	display:block;
	height:23px;
	padding:13px 14px 0px 14px;
	background:url('//img.danawa.com/new/searchNew/img/tab_on_left.jpg') no-repeat top left;
	font-size:14px; 
	font-weight:bold;
	color:#0c1121;
	letter-spacing:-1px;
	text-decoration:none;}

/* 메뉴 탭버튼_비활성화 */
div#gnb .menu_tab ul .tabdis{float:left; display:inline; height:37px;}
div#gnb .menu_tab a.tabout {
	float:left;
	display:block;
	height:25px;
	padding:12px 16px 0px 16px;
	background:url('//img.danawa.com/new/searchNew/img/tab_dis_right.jpg') no-repeat right;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	
	text-decoration:none;
}

div#gnb .menu_tab a.servCmore{
	float:left;
	display:block;
	height:25px;
	padding:12px 14px 0px 14px;
	background:url('//img.danawa.com/new/searchNew/img/btn_cateMore.gif') no-repeat right;
	padding-right:12px;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	
	}

div#gnb .number_dis {padding:12px 0 0 5px; font-size:11px; font-weight:normal; color:#b7bddf; letter-spacing:0px;}
div#gnb .number_on {padding:13px 7px 0 7px; font-size:12px; font-weight:bold; color:#ff3300; letter-spacing:0px;}

div#gnb ul#servC_f {position:absolute; width:81px; _width:76px; top:-3px; left:0px; border:1px solid #5a6fb8;  background-color:#fff; margin:0; }
div#gnb ul#servC_f li{width:66px; background-color:#fff; line-height:19px; background:url('//img.danawa.com/new/searchNew/img/ico_gray.gif') no-repeat 8px 8px; padding-left:15px; }
div#gnb ul#servC_f li.topOver{width:81px; height:39px; background:url('//img.danawa.com/new/searchNew/img/btn_topOver.gif') no-repeat right; padding-left:0px;}

/* 상단메뉴 gnb 끝 */

/* 콘텐츠영역 #container 시작 */

/* 바로가기 */
a.dir {display:inline-block; font-size:12px; color:#ee5435; text-decoration:none; font-weight:bold; margin-left:10px; padding:2px 70px 2px 0; background:url('//img.danawa.com/new/searchNew/img/btn_dir.gif') no-repeat right; }
a.dir:hover {text-decoration:underline;}

/* 스폰서링크 */
ul.overList {clear:both; padding:10px 10px 5px 15px;}
ul.overList li{margin-bottom:5px; padding-left:8px; background:url('//img.danawa.com/new/searchNew/img/ico_overList.gif') no-repeat 0 4px;}
ul.overList li a.title{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}
ul.overList li a.title strong{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}
ul.overList li a.title b{font-size:13px; font-family:'굴림', Sans-serif; text-decoration:underline; color:#095edf;}
ul.overList li a.context{color:#000;}
ul.overList li a.context strong{color:#000;}
ul.overList li a.url{font-size:11px; color:#5cc00b;}

/* 기획콘텐츠 */
.imgArea {clear:both; width:920px; padding:5px 0 5px 5px; border-top:1px solid #cdcdcd;}
.imgArea img{float:left; margin-right:5px;}
.planConArea {clear:both; width:905px; padding:8px 10px 0 10px; background-color:#f5f5f5;}
.planConArea:after {content:" "; display:block; clear:both; height:0; visibility:hidden; padding:8px 10px 0 10px;}

dl.planConList {}
dl.planConList dt{clear:both; float:left; display:block; width:80px; font-weight:bold; color:#ce4900; padding-top:2px;}
dl.planConList dd{float:left; display:block; width:825px; }
dl.planConList dd span{margin:0 4px; color:#b2b2b2; line-height:17px;}

/* 빅배너 */
#bigBan {clear:both;}

/* 링크 플라이스 */
div.siteInfo {clear:both; width:883px; padding:20px 20px 10px 20px; margin-top:10px;}
div.siteInfo .Logo{float:left; width:140px;}
div.siteInfo dl.InfoList{}
div.siteInfo dl.InfoList dt{float:left; width:743px; font-weight:bold; margin-bottom:10px;}
div.siteInfo dl.InfoList dd.infoHeader{float:left; width:60px;}
div.siteInfo dl.InfoList dd.infoList{float:left; width:683px; margin-bottom:10px;}
div.siteInfo dl.InfoList dd a{margin-right:10px; color:#999; line-height:17px;}
div.prodInfo {clear:both; width:925px; padding:10px 0 0 0; _padding:10px 0; *padding:10px 0; background-color:#f5f5f5;}
div.prodInfo:after {content:" "; display:block; clear:both; height:0; visibility:hidden; padding:10px 0 0 0; _padding:10px 0; *padding:10px 0;}

div.prodInfo dl.prodList {float:left; width:153px; text-align:center; border-right:1px dashed #cdcdcd;}
div.prodInfo dl.prodList dt{}
div.prodInfo dl.prodList dt img{border:1px solid #cdcdcd;}
div.prodInfo dl.prodList dd{padding:5px 10px 0 10px; text-align:center; line-height:16px;}

div.prodInfo dl.prodList_None {float:left; width:153px; text-align:center;}
div.prodInfo dl.prodList_None dt{}
div.prodInfo dl.prodList_None dt img{border:1px solid #cdcdcd;}
div.prodInfo dl.prodList_None dd{padding:5px 10px 0 10px; text-align:center; line-height:16px;}

dl.planList {clear:both; padding:10px; margin-bottom:10px;}
dl.planList:after {content:" "; display:block; clear:both; visibility:hidden;}
dl.planList dt{clear:both; float:left; display:block; width:60px; font-weight:bold; color:#ce4900; padding-top:2px;}
dl.planList dd{float:left; display:block;}
dl.planList dd a{color:#10569b;}
dl.planList dd span{margin:0 7px; color:#b2b2b2; line-height:17px;}

/* 상품영역 */

/* 카테고리 옵션 */
.Number {font-size:11px; color:#999;}
#cateOpt {clear:both; position:relative;}

/* 상단 카테고리 위치정보 */
#cateOpt .cateTop {width:895px; height:23px; padding:9px 15px 0 15px; background:url('//img.danawa.com/new/searchNew/img/cateOpt_top.gif') no-repeat;}
#cateOpt .cateTop ul.location {float:left; margin-top:1px;}
#cateOpt .cateTop ul.location li{display:block; float:left;}
#cateOpt .cateTop ul.location li.locaTit {font-weight:bold;}
#cateOpt .cateTop ul.location li.locate {margin-left:5px; vertical-align:top;}
#cateOpt .cateTop ul.location li.locate a.ingCate{font-weight:bold; color:#095edf;}
#cateOpt .cateTop ul.location li img{display :block; float:left; margin-left:5px; position:absolute; top:8px;}
#cateOpt .cateTop .hotCate {float:right; background:url('//img.danawa.com/new/searchNew/img/ico_hotCate.gif') no-repeat; padding-left:75px;}
#cateOpt .cateTop .hotCate a{display :block; float:left; font-size:11px; line-height:17px; }
#cateOpt .cateTop .hotCate img{display :block; float:left; margin-left:5px;}

/* 카테고리 목록 */
a.plus{background:url('//img.danawa.com/new/searchNew/img/ico_plus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing-1px; margin-top:3px;}
a.plus strong {font-weight:bold; font-size:11px;}
a.minus{background:url('//img.danawa.com/new/searchNew/img/ico_minus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing-1px; margin-top:3px;}
a.minus strong {font-weight:bold; font-size:11px;}

#cateOpt .cateMid {width:903px; background-color:#fff; border-right:1px solid #9b9b9b; border-left:1px solid #9b9b9b; padding:10px 5px 0 15px;}
#cateOpt .cateMid:after {content:" "; display:block; clear:both; visibility:hidden;}
#cateOpt .cateMid .cateList {width:170px; margin-right:10px; float:left;}
#cateOpt .cateMid .cateList dt.cateDepth1{background:url('//img.danawa.com/new/searchNew/img/ico_cateDepth1.gif') no-repeat; font-weight:bold; padding-left:17px; margin-bottom:7px;}
#cateOpt .cateMid .cateList dd.cateDepth2 {margin-bottom:4px;}
#cateOpt .cateMid .cateList dd.cateDepth2 a{display:block; background:url('//img.danawa.com/new/searchNew/img/ico_cateDepth2.gif') no-repeat 0 4px; padding-left:9px; margin-left:9px; line-height:18px;}
#cateOpt .cateMid .cateList dd.more{margin:0 0px 10px 7px;}
#cateOpt .cateMid .cateList dd.more a.plus{background:url('//img.danawa.com/new/searchNew/img/ico_plus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;display:inline;}
#cateOpt .cateMid .cateList dd.more a.minus{background:url('//img.danawa.com/new/searchNew/img/ico_minus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;display:none;}

#cateOpt .cateMid .cateList2 {float:left;}
#cateOpt .cateMid .cateList2 li{float:left; width:153px; margin-right:10px; background:url('//img.danawa.com/new/searchNew/img/ico_cateDepth1.gif') no-repeat; font-weight:bold; padding-left:17px; margin-bottom:7px;}

#cateOpt .cateMid .catePartline {clear:both; width:893px; height:1px; border-top:1px dotted #b7b7b7; margin:13px 0; font-size:0; line-height:0;}

#cateOpt .addBtn {clear:both; height:23px; text-align:center; padding-top:13px; background:url('//img.danawa.com/new/searchNew/img/cateOpt_add.gif') no-repeat;}
#cateOpt .addBtn a.plus{background:url('//img.danawa.com/new/searchNew/img/ico_plus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;display:inline;}
#cateOpt .addBtn a.minus{background:url('//img.danawa.com/new/searchNew/img/ico_minus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;display:none;}

#cateOpt .cateAdd {clear:both; width:925px; background:url('//img.danawa.com/new/searchNew/img/cateOpt_add.gif') no-repeat 0 -36px;}

#cateOpt .cateMid_depth {width:903px; background-color:#fff; border-right:1px solid #9b9b9b; border-left:1px solid #9b9b9b; padding:10px 5px 0 15px;}
#cateOpt .cateMid_depth:after {content:" "; display:block; clear:both; visibility:hidden;}
#cateOpt .cateMid_depth ul.cateList_depth {clear:both; float:left; width:893px; padding-bottom:10px;}
#cateOpt .cateMid_depth ul.cateList_depth li{float:left; width:159px; margin:0 10px 5px 0; background:url('//img.danawa.com/new/searchNew/img/ico_cateDepth2.gif') no-repeat 0 2px; padding-left:9px;}
#cateOpt p.depthBtom{clear:both; width:925px; height:10px; padding-top:3px; background:url('//img.danawa.com/new/searchNew/img/cateOpt_adddepth.gif') no-repeat;}

/* 카테고리 옵션 */
#cateOpt table.otherList {clear:both; width:893px; margin:0 15px 0 15px; border-bottom:1px solid #e0e0e0; }
#cateOpt table.otherList th{width:80px; padding:9px 10px 4px 5px; font-weight:bold; color:#666; text-align:left; vertical-align:top; line-height:16px;}
#cateOpt table.otherList td{vertical-align:top; padding-bottom:5px;}
#cateOpt table.otherList td.sel{width:798px;}
#cateOpt table.otherList td ul.selList {clear:both; float:left; width:693px; padding:4px 0px;}
#cateOpt table.otherList td ul.selList li{display:block; float:left; margin-right:15px;}
#cateOpt table.otherList td ul.selList li .Number {font-size:11px; color:#999; margin-left:3px; line-height:22px;}

#cateOpt table.otherList td ul.selAll {clear:both; float:left; width:693px; padding:4px 0px;}
#cateOpt table.otherList td ul.selAll li{display:block; float:left; width:125px; margin-right:10px; line-height:16px;}
#cateOpt table.otherList td ul.selAll li label{line-height:16px; margin-top:3px;}
#cateOpt table.otherList td ul.selAll li .Number {font-size:11px; color:#999; margin-left:3px; line-height:22px;}

#cateOpt table.otherList td div.moreBtn {flaot:right; width:90px; line-height:23px; margin-top:5px;}
#cateOpt table.otherList td div.moreBtn a.plus{background:url('//img.danawa.com/new/searchNew/img/ico_plus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;}
#cateOpt table.otherList td div.moreBtn a.minus{background:url('//img.danawa.com/new/searchNew/img/ico_minus.gif') no-repeat ; font-size:11px; padding-left:15px; letter-spacing:-1px; margin-top:3px; font-weight:bold; color:#666666;}

#cateOpt table.priceS {margin:0 15px 0 15px;}
#cateOpt table.priceS th{width:80px; padding:4px 10px 4px 5px; font-weight:bold; color:#666; text-align:left; vertical-align:top; line-height:23px;}
#cateOpt table.priceS td{vertical-align:top; padding:4px 5px 4px 5px; font-weight:bold;}
#cateOpt table.priceS td img{margin-top:1px;}
.priceIn {width:68px; height:15px; border:1px solid #999; font-weight:bold; padding-top:3px;}

#cateOpt .cateBot {width:925px; height:2px; background:url('//img.danawa.com/new/searchNew/img/cateOpt_bot.gif') no-repeat; font-size:0; line-height:0;}

/* 리스트 옵션 */	
div.listOpt {clear:both; width:905px; height:15px; padding:5px 10px 15px 10px; _padding:5px 10px 5px 10px; border-bottom:1px solid #9b9b9b; margin-top:10px;}
div.listOpt .sortOpt{float:left; padding-top:5px;}
div.listOpt .sortOpt span{margin:0 7px; color:#b2b2b2;}
div.listOpt .sortOpt a.on{font-weight:bold;}
div.listOpt .typeOpt{float:right; padding-top:2px;}
div.listOpt .typeOpt img{margin-right:5px;}

/* 리스트 옵션 */	
div.infoOpt {clear:both; width:905px; height:15px; padding:5px 10px 15px 10px; border-top:1px solid #9b9b9b; background-color:#f5f5f5;}
div.infoOpt .sortOpt{float:left; padding-top:5px;}
div.infoOpt .sortOpt span{margin:0 7px; color:#b2b2b2;}
div.infoOpt .sortOpt a.on{font-weight:bold;}
div.infoOpt .typeOpt{float:right; padding-top:2px;}
div.infoOpt .typeOpt img{margin-right:5px;}
.TypeLine {clear:both; height:1px; width:925px; background-color:#dddddd; font-size:0; line-height:0; }
.infoTypeLine {clear:both; height:1px; width:925px; background-color:#dddddd; font-size:0; line-height:0; margin:10px 0 0 0;}

/* 리스트형_광고형 목록 */
table#listTypeAD {clear:both; position:relative; width:925px; border-bottom:1px solid #dddddd; background-color:#fffae8;}
table#listTypeAD td{vertical-align:top;}
table#listTypeAD td.proImg{width:80px; text-align:center; padding:10px;}
table#listTypeAD td.proName {width:790px; padding:15px 10px 0 5px;}
table#listTypeAD td.textInfo {width:515px; padding:10px 20px 10px 5px;; padding-right:20px;}
table#listTypeAD td.textInfo ul li{font-size:11px; color:#999; line-height:14px;}
table#listTypeAD td.textInfo .infoConarea{margin-top:10px;}
table#listTypeAD td.priceInfo {width:185px; padding-top:0px;}
table#listTypeAD dl#price {}
table#listTypeAD dl#price dt{line-height:21px; margin-bottom:10px; color:#ff3300;}
table#listTypeAD dl#price dt span.orangeB{font-size:16px; font-family:Tahoma, Geneva, sans-serif;}
table#listTypeAD dl#price dd.reply{padding-top:5px; font-size:11px; color:#7c7c7c;}


table#listTypeAD td.btn {width:65px; padding:0 10px 10px 10px;}
table#listTypeAD td.btn img{margin:0 0 3px 0;}
table#listTypeAD td.proImg div.icoADarea {position:relative;}
table#listTypeAD td.proImg .icoAD {position:absolute; top:-3px; left:-5px; _left:-45px;}
table#listTypeAD td.proImg .icoHIT {position:absolute; top:-3px; left:-5px; _left:-45px; display:none; _display:block; *display:block;}

/* 리스트형_일반형 목록 */
table#listType {clear:both; position:relative; width:925px; border-bottom:1px solid #dddddd;}
table#listType td{vertical-align:top;}
table#listType td.proImg{width:80px; text-align:center; padding:10px;}
table#listType td.proImg div.icoArea {position:relative;}
table#listType td.proImg .icoHIT {position:absolute; top:-3px; left:-5px; _left:-45px; display:none; _display:block; *display:block;}

table#listType td.proName {width:790px; padding:15px 10px 0 5px;}
table#listType td.proName img{display:block; float:left; margin:0 7px 0 0;}
table#listType td.proName a{display:block; float:left; margin:3px 5px 0 0;}
table#listType td.textInfo {width:515px; padding:10px 20px 10px 5px; padding-right:20px;}
table#listType td.textInfo .infoConarea{margin-top:10px;}
table#listType td.priceInfo {width:185px; padding-top:0px;}
table#listType dl#price {height:91px;}
table#listType dl#price dt{line-height:21px; margin-bottom:10px; color:#ff3300;}
table#listType dl#price dt span.orangeB{font-size:16px; font-family:Tahoma, Geneva, sans-serif;}
table#listType dl#price dd.reply{padding-top:5px; font-size:11px; color:#7c7c7c;}
table#listType dl#price dd.cardarea{margin-bottom:5px; line-height:13px; color:#4db186;}
table#listType dl#price dd span.cardName{color:#4db186; text-decoration:none;}
table#listType dl#price dd span.cardPrice{font-family:Tahoma; font-size:14px; font-weight:bold; color:#4db186;}
.cardlayer {width:80px; background:#fff; border:1px solid #666; padding:7px; line-height:15px; color:#4db186; font-size:12px;}

table#listType td.btn {width:65px; padding:0 10px 10px 10px;}
table#listType td.btn img{margin:0 0 3px 0;}

table#listType td.groupList {width:805px; padding:0 0 10px 5px;}

/* 리스트형_일반 쇼핑몰 목록 */
table#listTypeS {clear:both; width:925px; border-bottom:1px solid #dddddd;}
table#listTypeS td{}
table#listTypeS td.proImg{width:80px; text-align:center; padding:10px;}
table#listTypeS td.proName {width:515px; padding:10px 20px 10px 5px; padding-right:20px;}
table#listTypeS td.priceInfo {width:185px; padding:10px 0 5px 0;}
table#listTypeS dl#price {}
table#listTypeS dl#price dt{line-height:21px; margin-bottom:10px; color:#ff3300;}
table#listTypeS dl#price dt span.orangeB{font-size:16px; font-family:Tahoma, Geneva, sans-serif;}
table#listTypeS dl#price dd.reply{padding-top:5px; font-size:11px; color:#7c7c7c;}
table#listTypeS dl#price dd.cardarea{margin-bottom:5px; line-height:13px; color:#4db186;}
table#listTypeS dl#price dd span.cardName{color:#4db186; text-decoration:none;}
table#listTypeS dl#price dd span.cardPrice{font-family:Tahoma; font-size:14px; font-weight:bold; color:#4db186;}

table#listTypeS td.btn {width:65px; padding:0 10px 10px 10px;}
table#listTypeS td.btn img{margin:0 0 3px 0;}

/* 묶음형 목록 */
table#groupTable {width:805px; border:1px solid #dddddd; border-collapse:collapse; }
table#groupTable td{padding:0px;}
table#groupTable td.groupHd{}

table.groupHeadIn {width:805px; border-collapse:collapse; padding:0;}
table.groupHeadIn td{height:25px; background-color:#f4f4f4; font-weight:normal; text-align:center; color:#000000; line-height:25px;}
table.groupHeadIn td.goption{width:482px;}
table.groupHeadIn td.gprice{width:103px;}
table.groupHeadIn td.gmall{width:100px;}
table.groupHeadIn td.gBtn{width:120px;}

table#groupTable td.groupTd{padding:5px;}

table.groupTableIn {width:795px; border-collapse:collapse; padding:0;}
table.groupTableIn td{padding:0; margin:0; height:15px; vertical-align:middle;}
table.groupTableIn td.toption{width:452px;}
table.groupTableIn td.tprice{width:113px; text-align:right; padding-right:5px; line-height:21px;}
table.groupTableIn td.tmall{width:105px; text-align:center; line-height:21px;}
table.groupTableIn td.tBtn{width:110px; text-align:right;}
table.groupTableIn td.tBtn img{padding-top:2px;}

table.groupTableIn td.tpriceplan{width:125px; font-size:11px; color:#666666; line-height:21px;}/* 가격비교예정 */

.priceBig{font-size:15px; font-family:Tahoma, Geneva, sans-serif; color:#ff3300;}

/* 이미지형 목록 */
table#imgType {display:block; float:left; width:165px; margin:0 9px;}
table#imgType td{vertical-align:top;}
table#imgType td.proImg{text-align:center; padding:10px 0; }
table#imgType td.zoomBtn{width:145px; text-align:right; padding:0 10px;}
table#imgType td.hitArea{height:20px; line-height:23px;}
table#imgType td.proName{padding:5px 0 7px 0;}
table#imgType td.priceInfo{padding-top:0px;}
table#imgType dl#price {}
table#imgType dl#price dt{line-height:21px; margin-bottom:10px; color:#ff3300;}
table#imgType dl#price dt span.orangeB{font-size:12px;}
table#imgType dl#price dd.reply{padding-top:5px; font-size:11px; color:#7c7c7c;}

table#imgType td.btn {text-align:center;}
table#imgType td.btn img{padding:0 2px 20px 2px;}

/* 장터상품 */
table#marketType {clear:both; width:925px; border-bottom:1px solid #dddddd;}
table#marketType td{padding:5px 10px;}
table#marketType td.proImg{width:80px; text-align:center;}
table#marketType td.imgBtn{padding:5px 0 5px 0; width:26px; vertical-align:bottom;}
table#marketType td.proName {width:550px;}
table#marketType td.priceInfo {width:110px;}
table#marketType td.priceInfo span.orangeB{font-size:16px; font-family:Tahoma, Geneva, sans-serif;}
table#marketType td.textInfo {width:150px;}
table#marketType td.buyerInfo {width:110px; text-align:center;}

/* 정보콘텐츠 목록 */
table#infoType {clear:both; width:810px;}
table#infoType td{vertical-align:top;}
table#infoType td.proImg{width:82px; text-align:center; padding:15px 0 0 10px; }
table#infoType td.proImg img{width:80px; height:80px; border:1px solid #e0e0e0;}
table#infoType td.proName {padding:19px 0 4px 10px;}
table#infoType td.proName ul.nameList{}
table#infoType td.proName ul.nameList li.nameTit{margin-bottom:8px;}
table#infoType td.proName ul.nameList li.nameTit span{margin-left:20px;}
table#infoType td.proName ul.nameList li.nameCon{}

table#infoType td.proName ul.textInfo{float:left; margin-top:8px;}
table#infoType td.proName ul.textInfo li{float:left; margin-right:15px; font-size:11px; color:#999; line-height:14px;}
table#infoType td.proName ul.textInfo li a{margin-left:5px;}
table#infoType td.proName ul.textInfo img{margin:0 5px 5px 5px; vertical-align:bottom;}

table#infoType td.proName ul.blogInfo{float:right; margin-top:8px;}
table#infoType td.proName ul.blogInfo li{float:left;}
table#infoType td.proName ul.blogInfo li.blog{margin:4px 5px 0 0; font-size:11px; color:#663333; background:url('//img.danawa.com/new/searchNew/img/ico_blog.gif') no-repeat 0 2px; padding-left:10px;}
table#infoType td.proName ul.blogInfo li a{color:#155ea4; text-decoration:none;}
table#infoType td.proName ul.blogInfo li a:hover{color:#155ea4; text-decoration:underline;}

/* 갤러리 */
dl.photoList {float:left; width:122px; padding:20px 32px 20px 31px;}
dl.photoList dt{}
dl.photoList dt img{border:1px solid #8f8f8f;}
dl.photoList dd.title {margin-top:10px;}
dl.photoList dd.userName {margin-top:2px;}
dl.photoList dd.userName a{color:#a4a4a4; font-weight:bold; font-size:11px;}

/* 관련검색어 */
#uniKeyw {clear:both; width:925px; height:15px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; padding:15px 0; margin-top:50px;}
#uniKeyw dl{}
#uniKeyw dl dt{float:left; color:#000; font-weight:bold; font-size:13px; font-family:'굴림', sans-serif; margin:0 20px 0 10px;}
#uniKeyw dl dd{float:left; margin-right:10px;}
a.keyw{color:#095edf; text-decoration:underline;}


/* 하단 재검색 */
#BarFotN .srchArea {position:relative; top:2px; left:18px; *left:15px; padding:0px; float:left; width:455px; *width:470px;}
#BarFotN p.conment{width:387px; text-align:left; padding:40px 0 0 30px;}
#BarFotN .btn, #BarFotN .btn {float:left;}
#BarFotN .btn input, #BarFotN .btn input {text-indent: -1000em; float:left; border:0px solid #eee; background:url('//img.danawa.com/new/searchNew/img/btn_research.gif') no-repeat; width:48px; height:37px; overflow:hidden;cursor:pointer;}

#BarFotN .srchFrm, #BarFotN .srchFrm {border:3px solid #3c4c9f; width:330px; height:31px; float:left; margin-right:4px;}
* html #BarFotN .srchFrm, * html #BarFotN .srchFrm {width:338px; height:31px;}
#BarFotN .sbBtnImg, #BarFotN .sbBtnImg {width:12px; height:31px; background:url('//img.danawa.com/new/searchNew/img/ico_search.gif') no-repeat 0 13px; float:left; cursor:pointer;}

#BarFotN .sn1{width:70px; height:19px; padding:9px 0 0 6px; font-size:12px; color:#767676; cursor:pointer; float:left; position:relative;} 
#BarFotN .sn2{width:210px; height:21px; padding:0 7px 0 7px; font-size:12px; color:#767676; float:left; margin:5px 0 0 5px; border-left:2px solid #dddddd;}
* html #BarFotN .sn2 {width:210px; padding:0 7px 0 7px;}
#BarFotN .sn2 input, #BarFotN .sn2 input {width:210px; height:18px; font-weight:bold; font-family:'돋움', sans-serif; border:#fff solid 0px; color:#000; font-size:14px; margin-top:2px;}
* html #BarFotN .sn2 input, * html #BarFotN .sn2 input {width:210px;}

#BarFotN {width:452px; margin:0 auto; text-align:left; position:relative; margin-bottom:40px;}
#BarFotN .keyw {color:#3952de;}
#BarFotN .srchArea {padding:7px 0 0 0; float:left;}
#reSearch {color:#7a7a7a; font-size:12px; padding:7px 0 0 0; text-align:center; width:auto;}
* html #reSearch {padding:8px 0 0 0;width:100%;}
#reSearch .top {margin:0 0 -1px 0;padding:0 8px 0 0;text-align:right;}
* html #reSearch .top {margin:0 0 0 0;}

#BarFotN #sbArea_f_sub .dselObj {display:block; width:78px; cursor:pointer;}
* html #BarFotN #sbArea_f_sub .dselObj {width:83px;}
#BarFotN #sbArea_f_sub a {font-size:12px; color:#000; text-decoration:none;}
#BarFotN #sbArea_f_sub span {padding:4px 0 2px 3px;}
#BarFotN #sbArea_f_sub {width:81px; padding:0; border:#3c4c9f solid 1px; background-color:#fff; position:absolute; top:-212px; left:2px; font-size:12px; letter-spacing:-1px; z-index:10000;}
#BarFotN #sbArea_f_sub, x:-moz-any-link {top:-212px; }
#BarFotN #sbArea_f_sub, x:-moz-any-link, x:default {top:-212px; }
* html #BarFotN #sbArea_f_sub {width:83px;}
#BarFotN #sbArea_f_sub .dselObj {display:block; width:78px; cursor:pointer;}
* html #BarFotN #sbArea_f_sub .dselObj {width:83px;}

/* 검색결과 없을시 */
#nosearchArea {width:660px; margin:40px 133px 40px 122px;}
#nosearchArea .img{display:block; float:left; width:190px; height:140px; background:url('//img.danawa.com/new/searchNew/img/img_cha.jpg') no-repeat 20px 0;}
#nosearchArea .noResearch {float:left; width:430px; height:120px; padding-top:20px;}
#nosearchArea .noTit {font-size:14px; font-weight:bold; color:#000; padding-bottom:20px;}
#nosearchArea .noTit .orange{font-size:14px; font-weight:bold; color:#ff3300;}
#nosearchArea .noStit{color:#666; padding-bottom:5px;}
#nosearchArea .snArea {border:3px solid #2167f5; width:330px; height:31px; float:left; margin-right:4px;}
#nosearchArea .snArea input{width:300px; height:18px; font-weight:bold; font-family:'돋움', sans-serif; border:#fff solid 0px; color:#000; font-size:14px; margin:7px 5px 0 5px;}
#nosearchArea .snBtn input{text-indent: -1000em; float:left; border:0px solid #eee; background:url('//img.danawa.com/new/searchNew/img/btn_research.gif') no-repeat; width:48px; height:37px; overflow:hidden;cursor:pointer;}

#nosearchArea ul.hotKey {width:580px; clear:both; padding:10px 40px 30px 40px;}
#nosearchArea ul.hotKey li{float:left;}
#nosearchArea ul.hotKey li.title{float:left; color:#000; font-weight:bold; font-size:13px; font-family:'굴림', sans-serif; margin:0 25px 0 10px; line-height:21px;}
#nosearchArea ul.hotKey li .keyw {margin-right:20px; line-height:21px;}

#nosearchArea .bottomComent {width:620px; padding:20px; background:url('//img.danawa.com/new/searchNew/img/bg_nosearch.gif') no-repeat;}
#nosearchArea .bottomComent p{line-height:19px; color:#999;}
#nosearchArea .bottomComent ul{margin-left:10px; margin-bottom:15px; }
#nosearchArea .bottomComent ul li{background:url('//img.danawa.com/new/searchNew/img/ico_black.gif') no-repeat 0 6px; padding-left:8px; line-height:18px; font-weight:bold;}

/* 서비스 과부화 */
#conFailwrap {width:925px; height:400px; background:url('//img.danawa.com/new/searchNew/img/bg_servfollow.jpg') no-repeat; padding-top:150px;}
.failConArea {width:490px; height:242px; margin:0 auto; padding:90px 25px 0 25px; background:url('//img.danawa.com/new/searchNew/img/bg_servfcon.jpg') no-repeat; line-height:20px;}
.conBtn {margin:10px 0 50px 20px; *margin:30px 0 50px 20px; _margin:30px 0 50px 20px;}
.failCopy {width:490px; text-align:center; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#9e9e9e;}
.conblod {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#666666; font-weight:bold;}

.categoryLocation, .categoryLocation a {font-size:11px; color:#999; padding-top:7px;}


/* 쇼핑검색창 추가 */
.explore {margin:10px 5px 0 0; float:right; width:110px; color:#FFFFFF;text-decoration:none; }
.explore a{color:#FFFFFF; text-decoration:none; }
.explore a:hover{color:#FFFFFF; text-decoration:none;}
.explore img {margin-right: 6px; vertical-align:text-top;}
.explore  p {margin:2px 0 0 0;}