#wrapper {width:900px; margin:0 auto;}
	#header_wrap, #contents_wrap {position:relative; zoom:1;}
	#header_wrap {margin:0 0 20px; padding-top:20px;}
	#header_wrap h1, #header_wrap h2 {float:left; display:inline;}
	#navigation_wrap {clear:both;}
	a:hover {text-decoration:underline;}
	/* 헤더 */
	.headingGroup {margin-bottom:20px; zoom:1; overflow:hidden;}
	#header_wrap h1 {margin:0 0 0 20px;}
	#header_wrap h2 {margin:0 0 0 20px; }
	.top_wrap {position:absolute; right:10px; top:30px; zoom:1;}
	.top_wrap ul {zoom:1; float:right;}
	.top_wrap li {display:inline-block; zoom:1; font-size:12px; float:left; height:11px; color:#787878; border-right:1px solid #d2d2d2; padding-right:10px; margin-left:10px;}
	.top_wrap li a {color:#777;}
	#header_wrap .lastChild {padding:0; background:none; border:0;}
	/* 푸터 */
	#footer {text-align:center; padding:30px 0;}
	#footer p {color: #666;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	padding-bottom: 15px;}
	
	/* 네비게이션 */
	#navigation_wrap {height:47px; overflow:hidden; border-right:1px solid #383838; background:url(//img.danawa.com/new/sellerSupport/img/bg_deco_gnbpattern.gif) repeat-x #333; clear:both;}
	.nav li {float:left; display:inline; zoom:1;}
	.nav li a {color:#fff; display:inline-block; zoom:1; height:47px; position:relative;line-height:47px; vertical-align:middle; text-align:center;}
	.nav li a .ir {height:47px; display:block; position:absolute;left:0; top:0; cursor:pointer;}
	.nav li .menu1, .nav li .menu1 .ir {width:209px;}
	.nav li .menu1 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/menu_spr_1.gif);}
	.nav li .menu2, .nav li .menu2 .ir {width:209px;}
	.nav li .menu2 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/menu_spr_2.gif);}
	.nav li .menu3, .nav li .menu3 .ir {width:123px;}
	.nav li .menu3 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/menu_spr_3.gif);}
	.nav li .menu4, .nav li .menu4 .ir {width:134px;}
	.nav li .menu4 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/menu_spr_4.gif);}
	.nav li.active a .ir {background-position:0 bottom;}

	#subnavigation_wrap {height:40px; }
	.nav2 li {float:center; display:inline; zoom:1;}
	.nav2 li a {color:#fff; display:inline-block; zoom:1; height:40px; position:relative;line-height:40px; vertical-align:middle; text-align:center;}
	.nav2 li a .ir {height:34px; display:block; position:absolute;left:0; top:0; cursor:pointer;}
	.nav2 li .submenu1, .nav2 li .submenu1 .ir {width:159px;}
	.nav2 li .submenu1 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/btn_01.gif);}
	.nav2 li .submenu2, .nav2 li .submenu2 .ir {width:159px;}
	.nav2 li .submenu2 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/btn_02.gif);}
	.nav2 li .submenu3, .nav2 li .submenu3 .ir {width:159px;}
	.nav2 li .submenu3 .ir {background-image:url(//img.danawa.com/new/sellerSupport/img/btn_03.gif);}
	.nav2 li.active a .ir {background-position:0 bottom;}

	
	
	/* 컨텐츠 */
	.pageHeading {background:url(//img.danawa.com/research/img/icon_title.gif) no-repeat 0 0; padding-left:20px; font-size:16px; margin:0 0 10px 10px;}
	.description {font-size:12px; color:#787878; line-height:18px;}
	.description em {font-style:normal; color:#3a82d1; font-weight:bold;}
	.posRight {position:absolute; right:0; top:5px;}
	.alignRight {text-align:right;}
	.pointBox {border:2px solid #3a82d1; margin-bottom:20px; zoom:1; overflow:hidden;}
	
	/* 가격비교 링크 신청 테이블 */
	.paddingBox {padding:20px;}
	.priceLinkData {border-collapse:collapse; width:100%; background:#f3f3f3; margin-bottom:23px; }
	.priceLinkData th {text-align:left; width:12%; padding:5px 0 5px 25px; background:url(//img.danawa.com/new/sellerSupport/img/dot_bullet_f3f3f3.gif) no-repeat 15px center;}
	.priceLinkData td {width:auto; padding:5px 0;}
	.priceLinkData td input {width:95%; background:#fafafa; border:1px solid #d8d8d8; height:18px; line-height:18px; vertical-align:middle;}
	.priceLinkData td textarea {width:95%; border:1px solid #d8d8d8; line-height:18px; margin-bottom:10px;}
	/* 텍스트버튼 */
	.button_func, .button_func button {background-image:url(//img.danawa.com/new/sellerSupport/img/btn_deco_functional.gif);background-color:#fff; background-repeat:no-repeat; height:31px; line-height:31px; display:inline-block;}
	.button_func {background-position:right 0;}
	.button_func button {padding:0 7px 0 23px; margin-right:2px; overflow:visible; font-size:16px; font-weight:bold;}
	.noIcon {background-position:left 0;}
	.noIcon button {padding:0 10px; margin:0 0 0 2px; background-position:right 0;}
	.button_point, .button_point button {background-image:url(//img.danawa.com/new/sellerSupport/img/btn_deco_anchor.gif); background-repeat:no-repeat; background-color:#fff; height:31px; line-height:31px; display:inline-block;}
	.button_point {background-position:right 0;}
	.button_point button {padding:0 8px 0 10px; margin-right:2px; overflow:visible; font-size:16px; font-weight:bold; color:#fff;}
	
	.buttonContainer {overflow:hidden; zoom:1;}
	.buttonContainer_center {text-align:center; padding:10px 0;}
	.buttonContainer .button_point {float:right; margin-left:10px;}
	.buttonContainer .button_func {float:left;}
	
	/* 테이블 리스트 스타일 */
	.table_list {width:100%; border-collapse:collapse; padding:0; margin:0;}
	.table_list thead th {border-top:2px solid #999; background:#f6f6f6; padding:8px 0; color:#333;}
	.table_list td {border-top:1px solid #dbdbdb; padding:7px 3px;}
	.table_list td a { word-break:break-all; color:#333;}
	.table_list tfoot td {background:#fafafa; border-bottom:2px solid #989898; text-align:center;}
		
	.index , .date, .stat {text-align:center;}
	
	/* 페이지 네이션 */
	.indexBorder {text-align:center; position:relative; zoom:1;}
	.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
	.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
	.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
	.indexBorder a.active {font-weight:bold;}
	
	.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
	.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
	.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }
	
/* 게시판 모듈 - 리스트 */
.attachBox {border:1px solid #eeeded; padding:10px 20px 19px 19px; _zoom:1;}
.searchBox {margin:10px 0 10px; text-align:center; position:relative;}
.searchBox .posRight {top:0; right:0;}
.searchBox label {font-size:12px; vertical-align:middle;}
.searchBtn { background-position:0 -610px;}
.searchBtn * {background-position:right -610px; margin-left:2px;width:36px; height:24px;font-size:11px; color:#000; cursor:pointer;}
.write { background-position:right -580px;}
.write * {background-position:0 -580px; margin-right:2px; height:17px;font-size:12px; color:#000; cursor:pointer; padding:6px 10px 0 25px; font-weight:bold;}
.bbsType {border-collapse:collapse; width:100%; border-top:2px solid #989898; border-bottom:2px solid #989898; }
.bbsType th {background:#f6f6f6; padding:10px 0; text-align:center; border-bottom:1px solid #bcbcbc; color:#333;}
.bbsType tbody td {border-bottom:1px solid #dbdbdb; padding:7px; text-align:center; color:#787878; font-size:12px;}
.bbsType tbody .title {text-align:left;}
.bbsType tbody .name {text-align:center;}
.bbsType tbody .title a {font-size:12px; color:#333; font-weight:normal;}
.bbsType tbody .name a {font-size:12px; color:#787878;}
.bbsType .cnt {font-weight:bold;}
.bbsType .posRight {text-align:right; position:static;}
.bbsType tfoot td {padding:5px 0;}
.bbsType tfoot .indexBorder {border-top:1px solid #bcbcbc; background:#fafafa; padding:15px 0; text-align:center; margin-right:87px;}
.notice .title {background:url(//img.danawa.com/new/community/common_img/ico_notice.gif) no-repeat #f3f6fd 7px 9px; padding-left:25px; line-height:140%; }
.notice a, .notice a strong {color:#000; }
.bbsType tfoot .indexBorder .posRight {float:right; margin-top:-25px; margin-right:10px;}
.inputStyle {border:1px solid #bebebe; padding:5px 9px; height:12px;}

.indexBorder {text-align:center; position:relative; zoom:1;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

.small a, .small span {width:16px; height:15px; padding:1px 0 0 0; font-size:11px;  text-align:center;color:#6b6b6b; border:1px solid #fff; font-family:Verdana; font-size:11px; text-decoration:none; line-height:16px;}
.small a:hover, .small .next, .small .prev {border:#c5c5c5 1px solid;}
.small .page_on, .small .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }
.small a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% -1px; width:16px; }
.small a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% -1px; width:16px; margin-right:2px;}
.indexBorder .posRight {margin-left:30px; vertical-align:top; padding:0;}

/* 게시판 - 뷰 */
.view_BBS {border:1px solid #eee; padding:19px;}
.q_title {border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:20px; line-height:36px;}
.sortout {display:inline-block; background:url(//img.danawa.com/new/sellerSupport/img/bg_deco_sortout.gif) no-repeat; width:46px; height:36px; margin-right:15px; text-align:center; font-size:12px; color:#f96c3f;}
.q_article {padding:0 10px; font-size:12px; margin-bottom:30px; color:#666; word-break:break-all;}
.q_article p, .a_article p {margin:0; line-height:140%;}

.a_box {border:1px solid #eee; border-top:0;}
.a_title {border-top:2px solid #c2c2c2; border-bottom:1px solid #eee; background:#f3f3f3; line-height:33px; text-indent:10px; font-size:12px; font-weight:normal;}
.a_article {padding:10px; font-size:12px; color:#666; word-break:break-all;}
.view_footer {background:#fafafa; border-bottom:2px solid #989898; position:relative; zoom:1; padding:10px 20px; height:24px;}
.view_footer .posRight {top:10px; right:20px;}

/* textBtn 설정 */
.textBtn, .textBtn * { background-image:url(//img.danawa.com/new/section_m/baby/img/bg_deco_sprite.gif); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer}
.btnStyle1 {background-position:right -650px; height:24px; vertical-align:middle;}
.btnStyle1 button, .btnStyle1 input, .btnStyle1 a  {background-position:left -650px; font-size:12px; color:#000; height:23px; margin-right:2px; padding:1px 10px 0; vertical-align:middle; line-height:24px; text-decoration:none;}













