/*

최종작업일자 : 2010년 12월 14일
작업자 : P03
작업내용 : .bbsList td.qna_wrap / .qna_a  / .qna_q  / .qna_btnDelete 추가

최종작업일자 : 2011년 5월 27일
작업자 : P04
작업내용 : 버튼종류 추가 / inputSt1
*/


body {width:auto;}
.st #header {position:relative; zoom:1; width:auto; min-width:700px;}
.st #footer {width:auto;}
#header {margin:0 0 40px; padding-top:20px; z-index:2;}
#header h1, #header h2 {float:left; display:inline;}
#wrapper {margin:10px; min-width:900px;}
#contents {position:relative;zoom:1;}
/* 헤더 */
#header .headingGroup {margin-bottom:20px; zoom:1; overflow:hidden;}
#header h1 {margin:0 0 0 20px;}
#header h2 {margin:0 0 0 20px; }
/*전월 취소율*/
#header .cancel {position:absolute; right:10px; top:55px; zoom:1;}
#header .cancel strong {margin-right:5px; color:#525252;}
#header .cancel .cancel_rate {color:#f86724; font-weight:bold; text-decoration:underline; 
     background:url(//img.danawa.com//new/sellertool/img/c_blit.gif) no-repeat 0 0; display:inline-block;padding-left:7px;}

/* 개인탑메뉴 */
.top_wrap {position:absolute; right:10px; top:10px; zoom:1;}
.top_wrap ul {zoom:1; float:right;}
#header .top_wrap li {display:inline-block; zoom:1; font-size:12px; float:left; height:11px; color:#787878; border-right:1px solid #d2d2d2; padding-right:10px; margin-left:10px;}
.top_wrap li a {color:#777;}
.top_wrap li a.buttonShape {position:relative; top:-3px;}
#header li.lastChild {padding:0; background:none; border:0;}

/* gnb */
#navigation_wrap {height:50px; zoom:1; position:relative;}
#navigation_wrap .nav {background:url(//img.danawa.com//new/sellertool/img/bg_pt_gnb.gif) repeat-x #4e8c0b; height:50px; line-height:50px; zoom:1;}
#navigation_wrap .nav:after {clear:both; content:","; display:block; height:0; visibility:hidden;}
#navigation_wrap .nav li {float:left; padding:0 2%; position:relative; zoom:1; height:50px; line-height:50px; vertical-align:middle;}
#navigation_wrap .nav li.active {background: #5ca010 url(//img.danawa.com//new/sellertool/img/bg_pt_gnbover.gif) repeat-x;}
#navigation_wrap .nav li a {color:#fff; font-size:15px; font-weight:bold; line-height:50px;}
#navigation_wrap .nav li.active a {color:#fef001;}

.submenu {visibility:hidden; position:absolute;}
#navigation_wrap .nav li.active .submenu {visibility:visible; position:absolute; top:50px; border:1px solid #8ab956; border-top:0; background:#fff; width:100%; left:-1px; padding:5px 0;}
#navigation_wrap .nav li.active .submenu {_width:expression(document.body.clientWidth>120?"130px":"auto");}
#navigation_wrap .nav li.active .submenu li {line-height:18px; float:none; padding:0 10px 0 20px; height:auto; white-space:nowrap;}
#navigation_wrap .nav li.active .submenu li a {color:#679c2c; font-size:11px; font-weight:normal; line-height:18px;}
#navigation_wrap .nav li.active .submenu li a:hover {font-weight:bold; letter-spacing:-1px;}

/* 푸터 */
#footer {text-align:center; padding:30px 0; border-top:1px solid #eaeaea;}
#footer p {color: #666;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	padding-bottom: 15px;}
#footer p img {margin-right:15px; vertical-align:-4px;}


/* 텍스트 버튼 */
#wrapper .buttonShape {border:1px solid #bfbfbf; padding:1px 3px 0 3px; color:#787878; font-size:11px; display:inline-block; zoom:1; overflow:visible; background:#fff; height:17px; line-height:17px; vertical-align:middle; }
#wrapper a.buttonShape:hover {text-decoration:none; line-height:17px; vertical-align:middle; height:17px;}
#wrapper button.buttonShape {height:20px; line-height:20px; padding:0 3px; *margin-left:3px; vertical-align:middle; _height:14px; line-height:14px; _padding-top:1px;}
#wrapper *.activebutton {color:#fff; background-color:#5c5c5c;}

span.btnTypeExcel {background:url(//img.danawa.com/new/cpa/img/btnbg_set.gif) no-repeat; background-position:right -90px; height:23px; position:relative; display:inline-block;}
span.btnTypeExcel * {background:url(//img.danawa.com/new/cpa/img/btnbg_set.gif) no-repeat; background-position:left -90px; color:#000; font-size:12px; padding:5px 10px 0 32px; height:19px; margin-right:1px; display:inline-block; border:none; cursor:pointer; white-space:nowrap;}
.buttonShape3 {border:1px solid #306ddd; background:#4c95ee; color:#fff; font-weight:bold; font-size:11px; height:17px; line-height:17px; padding:0 6px; display:inline-block; zoom:1; overflow:visible; _height:14px; _line-height:14px; _padding-top:1px;}
.buttonShape4 {border:1px solid #ccc; background:#fff; color:#333; font-weight:bold; font-size:12px; text-align:top; height:20px; line-height:17px; padding:0 6px; display:inline-block; zoom:1; overflow:visible; _height:18px; _line-height:18px; _padding:1px 0 0 2px;}


.pointBigButton, .pointBigButton * {background:url(//img.danawa.com/new/sellertool/img/btn_deco_pointBigButton.gif) no-repeat left 0; display:inline-block; zoom:1; height:35px; line-height:35px; }
.pointBigButton {background-position:right 0;}
.pointBigButton * {padding:0 7px 0 10px; font-size:16px; color:#fff; margin-right:3px; font-weight:bold;}
/* commons */
.location {position:absolute; right:10px; top:5px; font-size:11px; color:#666; z-index:10; background:url(//img.danawa.com/new/main_new/img/bu_point.gif) no-repeat 0 center; padding-left:6px;}
.location a {font-size:11px; color:#666;}
.section {padding-bottom:30px; zoom:1; position:relative;}
.section:after {clear:both; content:","; display:block; height:0; visibility:hidden;}
.sectionHeading {background:url(//img.danawa.com/new/sellertool/img/bg_bullet_heading.gif) no-repeat 0 2px; padding-left:20px; font-size:16px; color:#000; line-height:20px; margin:0 0 10px 10px;}
.sectionHeading .subscript {line-height:20px;}
.sectionHeading em {font-style:normal; color:#489c23; font-weight:bold;}
h4.sectionHeading {background:none; text-indent:10px; font-size:12px; margin-left:0; padding-left:0;}
.subscript {font-size:11px; vertical-align:baseline; color:#999; margin-left:5px; font-weight:normal;}
.posRightTop {top:0; right:0; position:absolute;}
.pointText {color:#fb6624;}
.section .nobg {background:none;}
.information {background:url(//img.danawa.com/new/sellertool/img/bg_deco_information.gif) no-repeat 5px 0; padding-left:35px; line-height:16px; vertical-align:middle; color:#9a9a9a; font-size:11px; display:inline-block;}
.information strong {font-weight:bold; color:#83a928; font-size:11px;}
.submitContainer {text-align:center; margin:10px 0;}
/* 폼 인풋텍스트 */

.field_date {border:1px solid #999; width:80px; font-size:12px; vertical-align:middle; text-align:center;}
.textField {border:1px solid #999; width:90px;}
.inputSt1 {border:1px solid #f8f8f8; border-color:#d4d4d4; line-height:16px; height:12px; vertical-align:middle; padding:4px;}
.iconShape {display:inline-block; width:48px; height:17px; background:url(//img.danawa.com/new/sellertool/img/btn_deco_iconbg.gif) no-repeat; font-size:11px; line-height:18px; padding:1px 0 0;}

/* 테이블 스타일 columnGrid_type1 */
table.halfSize {width:49.5%;}
table.f_left {float:left;}
table.f_right {float:right;}

.columnGrid_type1, .rowGrid_type1, .columnGrid_type2, .columnGrid_type3  {width:100%; border-collapse:collapse; margin-bottom:10px;}
.columnGrid_type1 td, .columnGrid_type1 th {border:1px solid #e1e5ca; padding:5px 10px; text-align:center;}
.columnGrid_type1 td {color:#000;}
.columnGrid_type1 th {border-bottom:0; border-top:2px solid #e1e5ca; background-color:#f1f4df; color:#4c6f00;}
td.contentCell {text-align:left;}
.columnGrid_type1 strong, .columnGrid_type1 em {color:#fb8e24;}
.columnGrid_type1 em {font-style:normal;}
.columnGrid_type1 .productName img {float:left;}

/* 테이블 스타일 rowGrid_type1 */
.rowGrid_type1 {border-top:2px solid #cdcdcd;}
.rowGrid_type1 th, .rowGrid_type1 td {border:1px solid #cdcdcd; padding:5px 3px; white-space:nowrap;}
.rowGrid_type1 td * {vertical-align:middle;}
.rowGrid_type1 td {width:35%;}
.rowGrid_type1 th {background:#fafafa; text-align:center; width:15%;}
.onepairGrid td {width:85%;}
.onepairGrid th {width:15%;}

/* 테이블 스타일 columnGrid_type2 */
.columnGrid_type2 {border-top:2px solid #cdcdcd;}
.columnGrid_type2 th, .columnGrid_type2 td {border:1px solid #cdcdcd; padding:5px 2px; text-align:center;}
.columnGrid_type2 th {background:#fafafa; text-align:center; white-space:nowrap;}
.columnGrid_type2 .productName {text-align:left;}
.columnGrid_type2 .productName img {float:left; width:40px; height:40px; margin-right:10px;}
.columnGrid_type2 .productName .pointColor {color:#428fee;}
.columnGrid_type2 .pointLayer {color:#428fee;}
.columnGrid_type2 ul {float:right; background:url(//img.danawa.com/new/sellertool/img/bg_deco_equal.gif) no-repeat 97% center; padding-right:4%;}
.columnGrid_type2 li {display:inline; float:left; margin-right:10px; zoom:1;}
.columnGrid_type2 tfoot td {border:2px solid #cdcdcd ;border-left:0; border-right:0; line-height:24px; font-weight:bold;}
.columnGrid_type2 td.total {border:2px solid #f28b60; border-left:0; border-right:0; background:#fff3ee; color:#fb6624;}
.columnGrid_type2 .background td {background:#fcfcfc;}
.columnGrid_type2 .checkSpec td {text-align:left; padding-left:3px;}
.specContainer {background:url(//img.danawa.com//new/sellertool/img/bg_deco_checkspec.gif) no-repeat 0 bottom; margin-left:10px;}
.specContainer ul {background:url(//img.danawa.com//new/sellertool/img/bg_deco_checkspec_top.gif) no-repeat 0 top; float:none; padding-left:20px;}
.specContainer li {display:block; float:none; line-height:18px;}

/* 테이블 스타일 columnGrid_type3 */
.columnGrid_type3 {border-top:2px solid #cdcdcd;}
.columnGrid_type3 th {border:1px solid #cdcdcd; padding:5px 0 0 2px; text-align:center;}
.columnGrid_type3 td {border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;padding:5px 0 2px 2px; text-align:center;}/* 변경 */
.columnGrid_type3 th {background:#fafafa; text-align:center; white-space:nowrap; font-size:11px;}
.columnGrid_type3 td {font-size:11px;}
.columnGrid_type3 .productName {text-align:left;}
.columnGrid_type3 .productName img {float:left; width:40px; height:40px; margin-right:10px;}
.columnGrid_type3 .productName .pointColor {color:#428fee;}
.columnGrid_type3 .pointLayer {color:#428fee;}
.columnGrid_type3 ul {float:right; background:url(//img.danawa.com/new/sellertool/img/bg_deco_equal.gif) no-repeat 97% center; padding-right:4%;}
.columnGrid_type3 li {display:inline; float:left; margin-right:10px; zoom:1;}
.columnGrid_type3 tfoot td {border:2px solid #cdcdcd ;border-left:0; border-right:0; line-height:24px; font-weight:bold;}
.columnGrid_type3 td.total {border:2px solid #f28b60; border-left:0; border-right:0; background:#fff3ee; color:#fb6624;}
.columnGrid_type3 .background td {background:#fcfcfc;}
.columnGrid_type3 .checkSpec td {text-align:left;}
.columnGrid_type3 p {padding:6px 0;}
.columnGrid_type3 .textField {border-color:#d4d4d4; line-height:16px; height:14px; vertical-align:middle;}

/* 추가 */
.columnGrid_type3 tr.none td{border-bottom:none !important;}
.none {border-bottom:none !important;}

/* 탭인터페이스 */
.tab-heading {position:absolute; top:30px; height:33px; overflow:hidden; background:url(//img.danawa.com//new/sellertool/img/bg_deco_tabInterface.gif) no-repeat 0 -40px; cursor:pointer;}
.tab-heading span {height:33px; background:url(//img.danawa.com//new/sellertool/img/bg_deco_tabInterface.gif) no-repeat right -40px; display:inline-block; color:#7e7e7e; line-height:33px; padding:0 10px; margin-left:3px;}
.tab-heading em {color:#acacac; font-style:normal;}

.orderContainer {padding-top:33px;}
.orderContainer .tab-contents {border-top:2px solid #6b9110; display:block;}
.tab-contents {display:none;}


.activeTab {background-position:0 0; position:absolute; top:30px; height:33px; overflow:hidden;}
.activeTab span {background-position:right 0; color:#fff; height:33px; display:inline-block; line-height:33px; padding:0 10px; margin-left:3px;}
.activeTab em {color:#f0ff00; font-style:normal;}



/* 주문관리 */
.summary {background:url(//img.danawa.com/new/sellertool/img/bg_pt_summary.gif) repeat-x; height:36px; padding-left:20px;}
.summary dt, .summary dd {display:inline; line-height:36px;}
.summary strong, .summary em {color:#fb6624; font-style:normal;}
.summary dt {background:url(//img.danawa.com/new/sellertool/img/bg_bullet_summary.gif) no-repeat 0 4px; padding-left:9px; }
.summary dd {padding-right:11px; border-right:1px solid #b8b4b4; margin-right:10px;}
.summary dd.lastChild {border:0; padding:0; margin:0;}
.description {background:url(//img.danawa.com/new/sellertool/img/bg_deco_paragraph.gif) no-repeat 0 3px; padding-left:15px; font-size:11px;}
.referenceButton {background:#709711 url(//img.danawa.com/new/sellertool/img/btn_bg_reference.gif) no-repeat; width:79px; height:35px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }

/* 상품관리 */
.summary_produc {height:25px; padding-left:10px; font-weight:bold;}
.summary_produc strong {color:#fb6624; font-style:normal;}
.summary_box {height:26px; padding-left:10px; position:relative;}
.summary_box .textField {border-color:#d4d4d4; line-height:16px; height:16px; vertical-align:middle;}
.ex_right{ text-align:right; font-size:11px; padding-bottom:5px;}
.txt_bgcolor01 {background-color:#ffffe5;}
.txt_bgcolor02 {background-color:#d7f4fe;}
.txt_bgcolor03 {background-color:#ffe8d7;}
.txt_bgcolor04 {background-color:#e3ffd7;}
.process_box {height:26px; background-color:#eaeaea; padding:6px 0 0 10px;}
.guide_txt {height:25px; padding:15px 0 0 0; border-bottom:2px solid #cdcdcd; font-size:11px; color:#9a9a9a; text-align:right;}
.guide_txt dd {padding-top:20px;}

/* 조회결과 */
.result {position:relative; zoom:1;}
.result_option {margin:30px 0 5px;}
.result_option dt {font-weight:bold;}
.result_option dt, .result_option dd {display:inline;}
.result_option dd strong {color:#fb6624}

/* 페이지 네이션 */
.indexBorder {text-align:center; position:relative; zoom:1; padding-top:10px;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fff; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

/* 주문 상세내역 */
.buyerRequest {border-top:2px solid #6b9110; border-bottom:1px solid #cdcdcd; padding:10px; margin-bottom:20px; background-color:#fafafa;}
.buyerRequest .summary {background:none; margin:0; padding:0; height:auto;}
.buyerRequest .summary dt {background:none; padding-left:0;}
.buyerRequest .summary .buttonShape {margin-left:10px; position:relative; top:-2px;}
#wrapper .buttonShape2 {border:1px solid #428fee; padding:0px 3px 0; color:#428fee; font-size:12px; display:inline-block; background:#fff; height:19px; line-height:19px; vertical-align:middle; white-space:nowrap;}

/* 게시판 - 목록 */
.bbsHeader, .bbsListContainer {position:relative; zoom:1;}
.bbsSearchLayer {position:absolute; right:0; top:5px;}
.bbsSearchLayer * {vertical-align:middle;}
.bbsSearchLayer .textField {width:150px; border-color:#cfcfcf; line-height:16px; height:16px; vertical-align:middle;}
.bbsList {border-top:2px solid #6b9110;}
.bbsList thead th {background:url(//img.danawa.com/new/sellertool/img/bg_pt_summary.gif) repeat-x; height:36px; line-height:36px; color:#000; text-align:center;}
.bbsList td {text-align:center; padding:9px 0; border-top:1px solid #dbdbdb}
.bbsList td.article {text-align:left;}
.bbsList td.qna_wrap {text-align:left; background:#f3f3f3;}
.qna_a {background:url(//img.danawa.com/new/ccimall/img/bg_deco_replyTableA.gif) no-repeat 15px 3px; padding-left:50px; padding-bottom:10px; padding-right:80px;  margin-right:15px; color:#333; line-height:18px;  position:relative; zoom:1; }
.qna_q {background:url(//img.danawa.com/new/ccimall/img/bg_deco_replyTableQ.gif) no-repeat 0px 3px; padding-left:35px; padding-bottom:20px; padding-right:80px; margin:0 15px 15px 15px; border-bottom:1px solid #e6e6e6; color:#333; line-height:18px; position:relative; zoom:1;}
.qna_btnDelete {position:absolute; top:0; right:0;}
.qna_q:after,
.qna_a:after{clear:both; content:","; display:block; visibility:hidden; height:0;}

/* 게시판 - 뷰 */
.bbsViewHeader {border-top:2px solid #6b9110; border-bottom:1px solid #ededed; background:#fafafa; position:relative; margin-bottom:30px;}
.bbsViewTitle {color:#666; font-size:14px; background-image:none; vertical-align:middle; line-height:38px; height:38px; position:relative; zoom:1; top:0; padding-left:80px;}
.bbsViewTitle .serviceName {display:inline-block; zoom:1; background:#78a805; height:12px; border:1px solid #71a204; color:#fff; font-size:11px; vertical-align:middle; line-height:14px; position:absolute; left:20px; top:10px; padding:2px 2px 0;}
.bbsViewHeader .bbsViewInfo {position:absolute; right:0px; top:0px; line-height:38px; vertical-align:middle;}
.bbsViewHeader .bbsViewInfo dt, .bbsViewHeader .bbsViewInfo dd {display:inline; color:#a8a8a8; font-size:11px;}
.bbsViewHeader .bbsViewInfo dd {margin-right:20px; font-weight:bold;}
.bbsViewArticle {padding:0 20px 30px; border-bottom:2px solid #8b8b8b;}
.bbsViewFooter {text-align:right; margin:10px 0;}

/* 게시판 탭 */
.tapui {zoom:1;}
.tapui:after {clear:both; height:0; content:","; display:block; visibility:hidden;}
.tapui li, .tapui li a {zoom:1; background:url(//img.danawa.com/new/sellertool/img/bg_deco_bbsTapui.gif) no-repeat right 0; height:33px; line-height:33px; line-height:33px; vertical-align:top;}
.tapui li {float:left; background-position:right 0; margin-right:3px;}
.tapui li a {display:inline-block; background-position:left 0; padding:0 30px; color:#7e7e7e; margin-right:2px; font-weight:bold;}
.tapui li.active {background-position:right -41px;}
.tapui li.active a {background-position:left -41px; color:#fff;}
.tapui li a:hover {vertical-align:top; line-height:33px; font-weight:bold;}

#comment {margin:40px 0 0 0; position:relative; zoom:1;}
.cmt_header .title {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_comment.gif) no-repeat; width:405px; height:17px; margin:10px;}
.cmt_header .posRight {font-size:12px; top:15px;}
.cmt_header .cnt { font-weight:bold; color:#ff781c;}
#comment .boxSquare {background:#fafafa; border-bottom:2px solid #8b8b8b; border:1px solid #dcdcdc; margin:15px 0; min-height:108px; _height:108px;}
.loginBox {position:relative; background:#fff; padding:10px; font-size:12px; zoom:1; overflow:hidden;}
.loginBox input {vertical-align:middle;}
.loginBox .textField {position:static; background:#fafafa;}
.loginBox label {margin-left:5px;}
.loginBox .inputStyle {width:104px; padding:3px 5px; height:12px;}
.loginBox .posRight a {font-size:11px; color:#333;}
.loginBox .posRight  {font-size:10px; color:#666; right:20px;}
.loginBox p {text-align:right; margin:10px 70px 0 0;}
div.loginBox .txtareaWrap {padding:0 65px 0 130px; zoom:1; margin:0; }
div.loginBox .userName {position:absolute; top:22px; left:0;}
div.loginBox input {top:10px; right:0px;}

.writeCmt {position:relative; background:#fff; padding:10px 20px 10px 20px; zoom:1; overflow:hidden; }
.writeCmt .txtareaWrap {padding:0 75px 0 0px; zoom:1; }
.writeCmt .txtareaWrap textarea {height:45px; border:1px solid #c5c5c5; background:#fafafa; font-size:12px; overflow-y:auto; overflow-x:hidden; width:100%; margin-right:-4px; zoom:1;}
.writeCmt input {position:absolute; right:20px; top:0;}
.writeCmt .counter {text-align:right; font-size:11px; color:#888; margin-top:5px; margin-right:75px;}
.writeCmt .counter .cnt{color:#666; font-weight:bold;}
#comment .indexBorder {padding:10px 0 20px 0;}

/* 코멘트 리스트 */
.cmt_list {padding:14px 19px; border-top:1px solid #e0e0e0;}
.cmt_list img {vertical-align:top;}
.cmt_list dt {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
.cmt_list .image img {border:1px solid #a0a0a0; max-width:45px; max-height:45px;}
.cmt_list .image {position:absolute; left:0; top:0;}
.cmt_list .user {margin:0px 0 10px 55px; font-size:11px; color:#999; }
.cmt_list .user .name a {font-size:12px; color:#333;}
.cmt_list .comment {margin:0 0 0 55px; font-size:12px; word-wrap:break-word; color:#666; }
.cmt_list .writeCmt {margin:0px 0 0 55px; padding:0; border:0;}
.cmt_list .writeCmt input {right:0; overflow:visible; vertical-align:top; margin:0; padding:0;}

.cmt_list li {border-bottom:1px dashed #d6d6d6; margin-bottom:10px; padding-bottom:10px; zoom:1;position:relative; min-height:47px; _height:47px;}
.cmt_list .button {position:absolute; top:0; right:0; font-size:11px; color:#474747; vertical-align:top;}
.cmt_list .button button {overflow:visible; margin:0 5px; vertical-align:top; background:none;}
.cmt_list .replyType { background:url(//img.danawa.com/new/d_news/img/bul_reply.gif) no-repeat left 5px; margin-left:55px; padding-left:15px;}
.cmt_list .replyType .image {left:15px;}
.cmt_read .writeCmt {display:none;}
.cmt_write dd {display:none;}
.cmt_write dd.writeCmt {display:block; margin:0 0 0 0px;}
.cmt_write .user, .cmt_modify .user {margin-bottom:5px;}

.cmt_modify dd.comment {display:none;}
.btnWrapper {position:relative;}
.btnWrapper .posRight {top:0;}

/* 게시판 쓰기 */
.writeHeader {width:100%; margin-bottom:-1px;}
.writeHeader th {width:60px;}
.writeHeader th, .writeHeader td {border-bottom:1px solid #ededed; padding:7px 0;}
.writeHeader * {vertical-align:middle;}
.writeHeader .textField, .writeTitle {border:1px solid #d4d4d4; width:150px;}
input.writeTitle {width:50%;}
.inputFile {border:1px solid #d4d4d4; background:none;}
/* 페이지 네이션 */
.indexBorder {text-align:center; position:relative; zoom:1;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

/* textBtn 설정 */
.textBtn, .textBtn * { background-image:url(//img.danawa.com/new/section_m/baby/img/bg_deco_sprite.gif); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer}
.btnStyle1 {background-position:right -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle1 button, .btnStyle1 input  {background-position:left -650px; font-size:12px; color:#000; height:23px; margin-right:2px; padding:1px 10px 0; vertical-align:top;}
.btnStyle2 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle2 button, .btnStyle2 input {background-position:right -650px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 10px; vertical-align:top;}
.btnStyle2 strong {background:none; color:#1272ea;}
.btnStyle3 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle3 button, .btnStyle3 input {background-position:right -710px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 5px; vertical-align:top; background-color:transparent;}

/* 글쓰기 버튼 */
.bbsTextBtn, .bbsTextBtn * {background-image: url(//img.danawa.com/new/nCommunity/img/bg_deco_sprite.gif); background-position:0 -29px; background-repeat: no-repeat; height:23px; line-height:23px; border: 0px; cursor: pointer; display: inline-block; overflow: visible; white-space: nowrap;}
.bbsTextBtn * {background-position: 100% -29px; color: #000; cursor: pointer; font-size: 12px; font-weight: bold; margin-left: 2px; padding:1px 9px 0 7px; }
.writeIcon *, .listIcon * {margin-left:20px;}
.listIcon {background-position:0 -95px;}
.bbsTextBtn *:hover {font-weight:bold; text-decoration:none; line-height:23px; height:23px;}
.bbsBtnCont {position:absolute; right:0; bottom:10px;}

/* 공통 작은버튼_P04_110527*/
.table_btns a{display:block; background:url('//img.danawa.com/cms_img/cms_btn_overgra.gif') repeat-x; border: #93918e 1px solid; margin-top:3px; text-align:center; padding: 4px 2px 2px 2px;  text-decoration:none; color:#ffffff; letter-spacing:-1px;font-size:12px;}
.table_btns a:hover{ border: #544f46 1px solid; background: #544f46; color:#ffffff; letter-spacing:-1px; text-decoration:none; font-size:12px;}
.table_btns a:visited {color:#ffffff; letter-spacing:-1px; text-decoration:none;}

/* 공통 작은버튼_P04_100218*/
.floatR { float:right;}
.table_btns_blue a{display:block; background:url('//img.danawa.com/cms_img/cms_btn_overgra_blue.gif') repeat-x; border: #36689f 1px solid; margin-top:3px; text-align:center; padding: 4px 2px 2px 2px;  text-decoration:none; color:#ffffff; letter-spacing:-1px;font-size:12px;}
.table_btns_blue a:hover{ border: #1b42a5 1px solid; background: #1b42a5; color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}
.table_btns_blue a:visited {color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}

.table_btns_pink a{display:block; background:url('//img.danawa.com/cms_img/cms_btn_overgra_pink.gif') repeat-x; border: #752768 1px solid; margin-top:3px; text-align:center; padding: 4px 2px 2px 2px;  text-decoration:none; color:#ffffff; letter-spacing:-1px;font-size:12px;}
.table_btns_pink a:hover{ border: #a73795 1px solid; background: #a73795; color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}
.table_btns_pink a:visited {color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}

.table_btns_green a{display:block; background:url('//img.danawa.com/cms_img/cms_btn_overgra_green.gif') repeat-x; border: #009966 1px solid; margin-top:3px; text-align:center; padding: 4px 2px 2px 2px;  text-decoration:none; color:#ffffff; letter-spacing:-1px;font-size:12px;}
.table_btns_green a:hover{ border: #009966 1px solid; background: #009966; color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}
.table_btns_green a:visited {color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}

.table_btns_red a{display:block; background:url('//img.danawa.com/cms_img/cms_btn_overgra_red.gif') repeat-x; border: #bd3341 1px solid; margin-top:3px; text-align:center; padding: 4px 2px 2px 2px;  text-decoration:none; color:#ffffff; letter-spacing:-1px;font-size:12px;}
.table_btns_red a:hover{ border: #bd3341 1px solid; background: #bd3341; color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}
.table_btns_red a:visited {color:#ffffff; letter-spacing:-1px; text-decoration:none;font-size:12px;}




/* 레이어 팝업 */
.LayerArea table#LayerPackage td {}
.LayerArea table#LayerPackage td.Area_rt {width: 5px;}
.LayerArea table#LayerPackage td.Area_lt {padding: 10px 3px 7px 10px;  width: 262px;}
.LayerArea table#LayerPackage ul.paList li { background: url("//img.danawa.com/new/d_news/img/bul_list.gif") no-repeat scroll 0 5px transparent; display: block;  
line-height: 18px;padding-left: 7px;}
.LayerArea .Area_lt {background: url("//img.danawa.com/new/blog_product/img/bg_layer.gif") no-repeat scroll left top transparent;}
.LayerArea .Area_lb { background: url("//img.danawa.com/new/blog_product/img/bg_layer.gif") no-repeat scroll left bottom transparent; height: 5px;}
.LayerArea .Area_rt { background: url("//img.danawa.com/new/blog_product/img/bg_layer.gif") repeat scroll right top transparent; }
td, dl, dd{text-align: left;}
.LayerArea table#LayerPackage {border-collapse: collapse;}
.LayerArea table#LayerPackage {  border-collapse: collapse;}
body {color: #666666; font-family: "돋움",Dotum,"Arial","Verdana",Dotum,Sans-serif; font-size: 12px;}
li {list-style: none outside none;text-align: left;}
.LayerArea .titTxt { color: #515C7F; float: left; font-weight: bold; height: 20px; margin: 0;}
.LayerArea .Area_rb {background: url("//img.danawa.com/new/blog_product/img/bg_layer.gif") no-repeat scroll right bottom transparent;height: 5px; width: 5px;}
.LayerArea .titBtn{float:right; margin:0; display:block; height:20px; }
.LayerArea .closeBtn{font-size:11px; text-decoration:none; color:#515c7f; vertical-align:bottom;}
.LayerArea .titBtn img{float:left; display:block; margin-right:3px; border:0;}
	
/* 패키지구성 */
.LayerArea table#LayerPackage {border-collapse:collapse;}
.LayerArea table#LayerPackage td{}
.LayerArea table#LayerPackage td.Area_lt{width:262px; padding:10px 3px 7px 10px;}
.LayerArea table#LayerPackage .conText{float:left; width:262px; margin-top:10px; line-height:16px;}
.LayerArea table#LayerPackage ul.paList li{display:block; padding-left:7px; background:url('//img.danawa.com/new/d_news/img/bul_list.gif') no-repeat 0 5px; line-height:18px;}
.LayerArea table#LayerPackage td.Area_rt{width:5px;}
.LayerArea table#LayerPackage td.Area_lb{width:275px;}
.LayerArea table#LayerPackage td.Area_rb{width:5px;}
.LayerArea table#LayerPackage ul.paList {   clear: both; margin: 0; padding: 10px 0 0;}