/*
최종작업일자 : 2010년 8월 27일 PM 5시00분
작업자 : P07/P01
작업내용 :대결맞짱 퍼가기

핵설명 FX: 아무것도 없음
       ie7 : 속성앞에 *
	   ie6 : 속성앞에 _

*/
* {margin:0; padding:0;}
img {border:0px;}
ul, li {list-style-type : none;}


/* 대결맞짱 퍼가기 레이아웃 */
.viewBox{position:relative; left:0; width:758px; padding:0px;}
.topBox{width:760px; padding-top:64px; border:2px #3da535 solid; background:url("//img.danawa.com/new/vs_new/img/top_vscrap.jpg") no-repeat;}
#article_view{display:none;}

.con_caption{color:#666; font-size:12px; padding:20px 24px 20px 24px; margin-bottom:15px; border-bottom:dashed 1px #dcdcdc;  background:#fafafa;}
.text_hide {text-indent:-10000px; font-size:0; position:absolute; visibility:hidden; height:0; display:block; width:0; }

/* 게시판 - 뷰페이지 */
.arti_header {position:relative; zoom:1; display:block; background:#fff; padding:10px 10px 5px 10px;}

.arti_header ul.vsTitle {margin:0px 0 0px 5px; padding-top:10px; font-size:16px; font-weight:bold; color:#506ccd; min-height:16px; _height:16px; }
.arti_header ul.vsTitle li{display:block; float:left;}

.arti_header ul.vsTitle li.state_ready {height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_ready.gif") no-repeat;}
.arti_header ul.vsTitle li.state_progress {height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_progress.gif") no-repeat;}
.arti_header ul.vsTitle li.state_end{height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_end.gif") no-repeat;}

.content_title_versus{line-height:21px; margin-left:5px; color:#000; font-size:16px; font-weight:bold; background:url("//img.danawa.com/new/vs_new/img/title_versus.gif") 0 -3px no-repeat; padding:0 0 0 80px;}
.content_title_survey{line-height:21px; margin-left:5px; color:#000; font-size:16px; font-weight:bold; background:url("//img.danawa.com/new/vs_new/img/title_survey.gif") 0 -3px no-repeat; padding:0 0 0 80px;}
.content_title_battle{line-height:21px; margin-left:5px; color:#000; font-size:16px; font-weight:bold; background:url("//img.danawa.com/new/vs_new/img/title_battle.gif") 0 -3px no-repeat; padding:0 0 0 80px;}

.recommBox {position:absolute; top:15px; right:12px; background:url("//img.danawa.com/new/vs_new/img/bg_partic_box.gif") no-repeat; width:46px; height:36px;}
.recommBox dd {font-size:11px; color:#fa6c3e; margin:5px 5px 0 0px; font-weight:bold; text-align:center;}

.titleBar {clear:both; position:relative; zoom:1; height:auto; display:block; background:#fff; border-bottom:#ededed 1px solid; padding:0 10px 5px 10px; height:30px;}

.titleBar dt {padding-right:7px; background:url(//img.danawa.com/new/section_m/baby/img/bg_vLine10px.gif) no-repeat right top; margin-right:7px;}
.titleBar .cnt {font-weight:bold; color:#000;}
.titleBar .posRight {display:block; float:right; margin:10px 15px 10px 10px;}
.titleBar .posRight dt{margin-left:20px; font-size:12px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar .posRight dd{font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar a {color:#a8a8a8;}

.titleBar2 {clear:both; position:relative; zoom:1; height:auto; display:block; background:#fff; border-bottom:#ededed 1px solid; padding:0 10px 10px 10px; height:25px;}

.titleBar2 dt {padding-right:7px; background:url(//img.danawa.com/new/section_m/baby/img/bg_vLine10px.gif) no-repeat right top; margin-right:7px;}
.titleBar2 .cnt {font-weight:bold; color:#000;}
.titleBar2 .posRight {display:block; float:right; margin:10px 15px 10px 10px;}
.titleBar2 .posRight dt{margin-left:20px; font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar2 .posRight dd{font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar2 .username {display:block; float:left; clear:both; margin:5px 0 0 5px;}
.titleBar2 .username dt{font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar2 .username dd{font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar2 .username input{ vertical-align:middle;}
.titleBar2 a {color:#a8a8a8;}

.winnerMedal {position:absolute; z-index:1; top:-19px; left:-10px;}

/* 콘텐츠 */
.arti_contents {clear:both; font-size:12px; line-height:150%; margin:0; padding:0;  background:#fafafa;}
#boxContent{padding:0; margin:0;}
#boxContent .copyBox{background-color:#FFFFFF; height:48px; padding:10px 0; position:relative; zoom:1;}
#boxContent .copyBox .scrapBtn{position:absolute; top:20px; right:20px;}
#boxContent .copyrights{padding:0 9px;}
#boxContent .btnWrapper {background-color:#FFFFFF;}
.voteBtn{width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; z-index:1000; margin:25px 0;}
.btnRight{width:758px; text-align:right;}
.textBtn_m{font-size:12px; color:#000; font-weight:bold; width:58px; height:23px; background:url("//img.danawa.com/new/vs_new/img/btn_bg.gif") no-repeat scroll 0 0 transparent; margin:7px 5px 10px 0;}
.textBtn_r{font-size:12px; color:#000; font-weight:bold; width:58px; height:23px; background:url("//img.danawa.com/new/vs_new/img/btn_bg.gif") no-repeat scroll 0 0 transparent; margin:7px 9px 10px 0;}

/*콘텐츠_설문조사*/
#viewSurveyAnswer{padding-top:10px;}
#viewSurveyAnswer ul{margin-left:42px;}
#viewSurveyAnswer li{margin-bottom:30px;}
#viewSurveyAnswer .particiBox{padding:0; margin:0; background-color:#fff; border-top:1px solid #ebebeb; text-align:center; vertical-align:middle;}

/* 뷰페이지 2차설문그래프 */
#viewSurveyAnswer2dep{background-color:#fafafa; border:#d4d4d4 1px solid; width:680px; padding-top:10px;}
#viewSurveyAnswer2dep ul{margin-left:15px;}
#viewSurveyAnswer2dep li{margin-bottom:20px;}
.Q2dep{color:#000; font-size:12px; font-weight:bold; position:relative; background:url("//img.danawa.com/new/vs_new/img/title_survey2dep.gif") no-repeat scroll 0 0 transparent; height:20px; border-bottom:1px dashed #d4d4d4; padding:0 0 5px 70px; margin-right:15px;}
.surGraph2dep {position: relative; line-height: normal; white-space:nowrap; zoom:1;  font:dotum 12px; font-weight:bold; color:#333;}
.surGraph2dep .Rside {position:absolute; left:220px; bottom:0px; *bottom:0px; }
.surGraph2dep .gBar {position: relative; border-left: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH:190px; DISPLAY: inline-block; background: #e6e6e6; height: 10px; FONT-SIZE: 11px; border-right: #bebebc 1px solid;}
.surGraph2dep .gAction {position: relative; display: inline-block; background: #b7c516; height: 10px;}
.surGraph2dep .gPercent {font: 11px Arial, Helvetica, sans-serif,dotum; color: #999; line-height:100%;}
.surGraph2dep .gPercent STRONG {color: #b7c516; font: 18px Arial, Helvetica, sans-serif; padding-left:5px; padding-right:5px; line-height:100%;}

/*대결맞짱 메인 설문그래프 */
.surGraph {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.surGraph .Rside {position:absolute; left:220px; bottom:0px; *bottom:0px; }
.surGraph .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 190px; DISPLAY: inline-block; background: #e6e6e6; height: 10px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.surGraph .gAction {position: relative; DISPLAY: inline-block; background: #6346de; height: 10px;}
.surGraph .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.surGraph .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; padding-left:5px; padding-right:5px; line-height:100%;}

/*콘텐츠_배틀맞짱_대기*/
#versusBattle_ready {padding:0; margin:0;}
#versusBattle_ready .battleBox{background:url("//img.danawa.com/new/vs_new/img/battle_ready_bg.gif") no-repeat scroll 0 0 transparent; width:758px; height:279px; position:relative; zoom:1;}
#versusBattle_ready label {display:block; float:left;}
#versusBattle_ready .left {position:absolute; top:25px; left:135px; width:160px;}
#versusBattle_ready .l_img {padding:40px; width:80px; height:80px;}
#versusBattle_ready .l_prodName{ width:160px; font-size:12px;color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#versusBattle_ready .l_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center; }
#versusBattle_ready .l_price img{ vertical-align:middle; padding-right:3px;}
#versusBattle_ready .l_caption{font-size:12px; font-weight:bold; color:#6246dd; width:160px; text-align:center; vertical-align:middle; border:0;}
#versusBattle_ready .l_caption input{padding-right:3px;}
#versusBattle_ready .right {position:absolute; top:25px; left:465px; width:160px;}
#versusBattle_ready .r_img {display:block; padding:40px; width:80px; height:80px;}
#versusBattle_ready .battleBtn{background:url("//img.danawa.com/new/vs_new/img/btn_battle.gif") no-repeat scroll 0 0 transparent; width:105px; height:28px; margin-left:25px;}
#versusBattle_ready .particiBox{padding:0; margin:0; background-color:#fff; border-top:1px solid #ebebeb; height:15px;}

/*콘텐츠_배틀맞짱_진행*/
#viewVersusBattle_continue {padding:0; margin:0;}
#viewVersusBattle_continue .battleBox{background:url("//img.danawa.com/new/vs_new/img/continue_bg.gif") no-repeat scroll 0 0 transparent; width:758px; height:279px; position:relative;}
#viewVersusBattle_continue .l_img {position:absolute; top:65px; left:175px;}
#viewVersusBattle_continue .l_prodName{position:absolute; top:200px; left:135px; width:160px; font-size:12px;color:#6666; text-align:center;}
#viewVersusBattle_continue .l_price{position:absolute; top:220px; left:135px; width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersusBattle_continue .l_price img{ vertical-align:middle; padding-right:3px;}
#viewVersusBattle_continue .l_caption{position:absolute; top:240px; left:135px; width:160px; font-size:12px; font-weight:bold; color:#6246dd; text-align:center; vertical-align:middle;}
#viewVersusBattle_continue .l_caption input{padding-right:3px;}
#viewVersusBattle_continue .r_img {position:absolute; top:65px; left:506px;}
#viewVersusBattle_continue .r_prodName{position:absolute; top:200px; left:466px; width:160px; font-size:12px;color:#6666; text-align:center;}
#viewVersusBattle_continue .r_price{position:absolute; top:220px; left:466px; width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersusBattle_continue .r_price img{ vertical-align:middle; padding-right:3px;}
#viewVersusBattle_continue .r_caption{position:absolute; top:240px; left:466px; width:160px; font-size:12px; font-weight:bold; color:#fd383f; text-align:center; vertical-align:middle;}
#viewVersusBattle_continue .r_caption input{padding-right:3px;}
#viewVersusBattle_continue .graphBox{background-color:#fff; border-top:1px solid #ebebeb; height:70px;}
#viewVersusBattle_continue .graph{position:relative; top:50px; left:113px; margin-top:10px;}
#viewVersusBattle_continue .graphBox ul{position:relative; top:50px; background:url("//img.danawa.com/new/vs_new/img/opinion_bg.gif") no-repeat scroll 0 0 transparent; width:758px; height:126px; padding-top:10px;}
#viewVersusBattle_continue .graphBox ul input{ text-align:center;}
#viewVersusBattle_continue .graphBox .opnionLeft{position:absolute; width:266px; left:74px; color:#333;  line-height:30px;}
#viewVersusBattle_continue .graphBox .opnionLeft a{font-weight:bold; color:#333;}
#viewVersusBattle_continue .graphBox .opnionLeft .txtContent{color:#666; line-height:16px;}
#viewVersusBattle_continue .graphBox .opnionRight{position:absolute; width:266px; left:419px; color:#333; line-height:30px;}
#viewVersusBattle_continue .graphBox .opnionRight a{font-weight:bold; color:#333;}
#viewVersusBattle_continue .graphBox .opnionRight .txtContent{color:#666; line-height:16px;}
#viewVersusBattle_continue .graphBox .btnConfirm{margin-left:100px;}
#viewVersusBattle_continue .particiBox{padding:0; margin:0; background-color:#fff; text-align:center;}
#viewVersusBattle_continue .particiBox .voteBtn{width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; z-index:1000; padding:0; margin:10px 0 10px 0; }

/*콘텐츠_대결맞짱_ 2개*/
#viewVersus2 {padding:0; margin:0; position:relative;}
#viewVersus2 .battleBox{background:url("//img.danawa.com/new/vs_new/img/continue_bg.gif") no-repeat scroll 0 0 transparent; width:758px; height:279px; position:relative;}
#viewVersus2 label {display:block; float:left;}
#viewVersus2 .left {position:absolute; top:25px; left:135px; width:160px;}
#viewVersus2 .l_img {padding:40px; width:80px; height:80px;}
#viewVersus2 .l_prodName{width:160px; font-size:12px; color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#viewVersus2 .l_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersus2 .l_price img{ vertical-align:middle; padding-right:3px;}
#viewVersus2 .l_caption{width:160px; font-size:12px; font-weight:bold; color:#6246dd; text-align:center; vertical-align:middle;}
#viewVersus2 .l_caption input{padding-right:3px;}
#viewVersus2 .right {position:absolute; top:25px; left:465px; width:160px;}
#viewVersus2 .r_img {padding:40px; width:80px; height:80px;}
#viewVersus2 .r_prodName{width:160px; font-size:12px;color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#viewVersus2 .r_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersus2 .r_price img{vertical-align:middle; padding-right:3px;}
#viewVersus2 .r_caption{width:160px; font-size:12px; font-weight:bold; color:#fd383f; text-align:center; vertical-align:middle;}
#viewVersus2 .r_caption input{padding-right:3px;}
#viewVersus2 .graphBox{background-color:#fff; border-top:1px solid #ebebeb; height:70px;}
#viewVersus2 .graph{position:relative; top:50px; left:113px; margin-top:10px;}
#viewVersus2 .particiBox{padding:0; margin:0; background-color:#fff; text-align:center;}
#viewVersus2 .particiBox .voteBtn{width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; z-index:1000; padding:0; margin:10px 0 10px 0; }

/*대결맞짱 뷰페이지 2개짜리그래프 */
.viewVer2GraphL {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.viewVer2GraphL .Lside {position:absolute; left:17px; bottom:0px; *bottom:0px; }
.viewVer2GraphL .gBar {position:relative; border-left:#bebebc 1px solid; margin:0px 5px 0px 0px; width:250px; DISPLAY:inline-block; background:#e6e6e6; height:15px; font-size:11px; border-right:#bebebc 1px solid;}
.viewVer2GraphL .gAction {position:absolute; DISPLAY: inline-block; background: #6046dd; height: 15px; DISPLAY: inline-block;  right:0px;}
.viewVer2GraphL .gPercent {font: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.viewVer2GraphL .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.viewVer2GraphR {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.viewVer2GraphR .Rside {position:absolute; left:267px; bottom:0px; *bottom:0px; }
.viewVer2GraphR .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 250px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.viewVer2GraphR .gAction {position: relative; DISPLAY: inline-block; background: #fd383f; height: 15px;}
.viewVer2GraphR .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.viewVer2GraphR .gPercent STRONG {COLOR: #fd383f; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

/*콘텐츠_대결맞짱_ 3개*/
#viewVersus3 {padding:0; margin:0; position:relative;}
#viewVersus3 .battleBox{background:url("//img.danawa.com/new/vs_new/img/continue3_bg.gif") no-repeat scroll 0 0 transparent; width:758px; height:279px; position:relative;}
#viewVersus3 label {display:block; float:left;}
#viewVersus3 .left {position:absolute; top:25px; left:59px; width:160px;}
#viewVersus3 .l_img {padding:40px; width:80px; height:80px;}
#viewVersus3 .l_prodName{width:160px; font-size:12px;color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#viewVersus3 .l_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersus3 .l_price img{ vertical-align:middle; padding-right:3px;}
#viewVersus3 .l_caption{width:160px; font-size:12px; font-weight:bold; color:#6246dd; text-align:center; vertical-align:middle;}
#viewVersus3 .l_caption input{padding-right:3px;}
#viewVersus3 .center {position:absolute; top:25px; left:300px; width:160px;}
#viewVersus3 .c_img {padding:40px; width:80px; height:80px;}
#viewVersus3 .c_prodName{width:160px; font-size:12px;color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#viewVersus3 .c_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersus3 .c_price img{ vertical-align:middle; padding-right:3px;}
#viewVersus3 .c_caption{width:160px; font-size:12px; font-weight:bold; color:#8d9716; text-align:center; vertical-align:middle;}
#viewVersus3 .c_caption input{padding-right:3px;}
#viewVersus3 .right {position:absolute; top:25px; left:538px; width:160px;}
#viewVersus3 .r_img {padding:40px; width:80px; width:80px;}
#viewVersus3 .r_prodName{width:160px; font-size:12px;color:#6666; text-align:center; line-height:17px; padding:5px 0;}
#viewVersus3 .r_price{width:160px; font-size:12px; font-weight:bold; color:#2c2523; text-align:center;}
#viewVersus3 .r_price img{ vertical-align:middle; padding-right:3px;}
#viewVersus3 .r_caption{width:160px; font-size:12px; font-weight:bold; color:#fd383f; text-align:center; vertical-align:middle;}
#viewVersus3 .r_caption input{padding-right:3px;}
#viewVersus3 .graphBox{background-color:#fff; border-top:1px solid #ebebeb; height:70px;}
#viewVersus3 .graph{position:relative; top:50px; left:93px; margin-top:10px;}
#viewVersus3 .particiBox{padding:0; margin:0; background-color:#fff; text-align:center;}
#viewVersus3 .particiBox .voteBtn{width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; z-index:1000; padding:0; margin:10px 0 10px 0; }

/*대결맞짱 뷰페이지 3개짜리그래프 */
.viewVer3GraphL {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.viewVer3GraphL .Lside {position:absolute; left:-33px; bottom:0px; *bottom:0px; }
.viewVer3GraphL .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH:155px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.viewVer3GraphL .gAction {position: relative; DISPLAY: inline-block; background: #6046dd; height: 15px;}
.viewVer3GraphL .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.viewVer3GraphL .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.viewVer3GraphC {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.viewVer3GraphC .Cside {position:absolute; left:206px; bottom:0px; *bottom:0px; }
.viewVer3GraphC .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH:155px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.viewVer3GraphC .gAction {position: relative; DISPLAY: inline-block; background: #b7c516; height: 15px;}
.viewVer3GraphC .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.viewVer3GraphC .gPercent STRONG {COLOR: #b7c516; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.viewVer3GraphR {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.viewVer3GraphR .Rside {position:absolute; left:444px; bottom:0px; *bottom:0px; }
.viewVer3GraphR .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH:155px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.viewVer3GraphR .gAction {position: relative; DISPLAY: inline-block; background: #fd383f; height: 15px;}
.viewVer3GraphR .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.viewVer3GraphR .gPercent STRONG {COLOR: #fd383f; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

/*메인콘텐츠*/
.main_con {position:relative; zoom:1; display:block; float:left; width:531px; height:410px; border:solid 1px #d4d4d4;}
.state_ready {position:absolute; top:13px; left:13px; height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_ready.gif") no-repeat;}
.state_progress {position:absolute; top:13px; left:13px; height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_progress.gif") no-repeat;}
.state_end{position:absolute; top:13px; left:13px; height:16px; width:36px; background:url("//img.danawa.com/new/vs_new/img/icon_end.gif") no-repeat;}

/*메인콘텐츠 대결맞짱 2개일 경우*/
.winnerMedal {position:absolute; z-index:1; top:-29px; left:-30px;}
.main_versus2 {height:65px;}
.main_versus2  input{padding-right:3px;}
.main_versus2 .tit {height:64px; border-bottom:solid 1px #ededed;}
.main_versus2 .tit_versus {position:absolute; top:12px; left:53px; background:url("//img.danawa.com/new/vs_new/img/versusBy.gif") no-repeat scroll 0 0 transparent; height:22px; padding:2px 0 0 110px; color:#666; font-size:14px; font-weight:bold;}
.main_versus2 .period {position:absolute; right:10px; top:10px; font-size:11px;}
.main_versus2 .period img {margin-right:3px; display:inline-block; *display:inline; vertical-align:middle;}
.main_versus2 .sub_tit {position:absolute; top:40px; left:13px; background:url("//img.danawa.com/new/vs_new/img/tit_colon.gif") no-repeat scroll 0 0 transparent; height:15px; padding:0 0 0 12px;color:#000; font-size:14px; font-weight:bold;}
.main_versus2 .versus2 {position:relative; zoom:1; height:220px; background:url("//img.danawa.com/new/vs_new/img/versus2bg.gif") no-repeat scroll 0 0 transparent; border-bottom:solid 1px #ededed;}
.versus2 li.left{position:absolute; left:70px; top:50px;}
.versus2 li.right{position:absolute; left:360px; top:50px;}

.main_versus2 .l_img {position:absolute; top:7px; left:11px;}
.main_versus2 .l_txt {position:absolute; top:116px; left:-8px; width:120px; font-size:12px; font-weight:bold; color:#6246dd; text-align:center;}
.main_versus2 .r_img {position:absolute; top:7px; left:11px;}
.main_versus2 .r_txt {position:absolute; top:116px; left:-8px;  width:120px; font-size:12px; font-weight:bold; color:#fd383f; text-align:center;}
.main_versus2 .graph {position:absolute; top:280px;}
.main_versus2 .voteBtn{ width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; position:absolute; top:275px; left:200px;}
.main_versus2  em{display:none;}

/*메인콘텐츠 대결맞짱 3개일 경우 */
.main_versus3 {height:65px;}
.main_versus3 .tit {height:64px; border-bottom:solid 1px #ededed;}
.main_versus3 .tit_versus {position:absolute; top:12px; left:53px; background:url("//img.danawa.com/new/vs_new/img/versusBy.gif") no-repeat scroll 0 0 transparent; height:22px; padding:2px 0 0 110px; color:#666; font-size:14px; font-weight:bold;}
.main_versus3 .period {position:absolute; right:10px; top:10px; font-size:11px;}
.main_versus3 .period img {margin-right:3px; display:inline-block; *display:inline; vertical-align:middle;}
.main_versus3 .sub_tit {position:absolute; top:40px; left:13px; background:url("//img.danawa.com/new/vs_new/img/tit_colon.gif") no-repeat scroll 0 0 transparent; height:15px; padding:0 0 0 12px;color:#000; font-size:14px; font-weight:bold;}
.main_versus3 .versus3 {position:relative; zoom:1; height:220px; background:url("//img.danawa.com/new/vs_new/img/versus3bg.gif") no-repeat scroll 0 0 transparent; border-bottom:solid 1px #ededed;}
.versus3 li.left{position:absolute; left:30px; top:50px;}
.versus3 li.center{position:absolute; left:220px; top:50px;}
.versus3 li.right{position:absolute; left:410px; top:50px;}

.main_versus3 .l_img {position:absolute; top:7px; left:7px;}
.main_versus3 .l_txt {position:absolute; top:116px; left:-15px; width:120px; font-size:12px; font-weight:bold; color:#6246dd; text-align:center;}
.main_versus3 .c_img {position:absolute; top:7px; left:8px;}
.main_versus3 .c_txt {position:absolute; top:116px; left:-15px; width:120px; font-size:12px; font-weight:bold; color:#8d9716; text-align:center;}
.main_versus3 .r_img {position:absolute; top:7px; left:8px;}
.main_versus3 .r_txt {position:absolute; top:116px; left:-15px; width:120px; font-size:12px; font-weight:bold; color:#fd383f; text-align:center;}

.main_versus3 .graph {position:absolute; top:280px;}
.main_versus3 .voteBtn{width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; position:absolute; top:275px; left:200px;}
.main_versus3  em{display:none;}

/*메인콘텐츠 설문조사일 경우*/
.main_survey .tit {height:64px; border-bottom:solid 1px #ededed;}
.main_survey .tit_survey {position:absolute; top:12px; left:53px; background:url("//img.danawa.com/new/vs_new/img/surveyBy.gif") no-repeat scroll 0 0 transparent; height:22px; padding:2px 0 0 110px; color:#666; font-size:14px; font-weight:bold;}
.main_survey .period {position:absolute; right:10px; top:10px; font-size:11px;}
.main_survey .period img {margin-right:3px; display:inline-block; *display:inline; vertical-align:middle;}
.main_survey .sub_tit {position:absolute; top:40px; left:13px; background:url("//img.danawa.com/new/vs_new/img/tit_colon.gif") no-repeat scroll 0 0 transparent; height:15px; padding:0 0 0 12px;color:#000; font-size:14px; font-weight:bold;}
.main_survey .surveyAnswer {height:294px; border-bottom:1px solid #ededed; background-color:#f8f8f8;}
.main_survey .surveyAnswer em{display:none;}
.main_survey  li{ height:15px; margin-bottom:35px;}
.main_survey .graph {position:absolute; top:96px; left:15px;}
.main_survey .voteBtn{ width:134px; height:28px; background:url("//img.danawa.com/new/vs_new/img/btn_detail.gif") no-repeat scroll 0 0 transparent; position:absolute; top:345px; left:200px;}

/*대결맞짱 메인 2개짜리그래프 */
.ver2GraphL {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.ver2GraphL .Lside {position:absolute; left:17px; bottom:0px; *bottom:0px; }
.ver2GraphL .gBar {position:relative; border-left:#bebebc 1px solid; margin:0px 5px 0px 0px; width:250px; DISPLAY:inline-block; background:#e6e6e6; height:15px; font-size:11px; border-right:#bebebc 1px solid;}
.ver2GraphL .gAction {position:absolute; DISPLAY: inline-block; background: #6046dd; height: 15px; DISPLAY: inline-block; left:0px;}
.ver2GraphL .gPercent {font: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.ver2GraphL .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.ver2GraphR {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.ver2GraphR .Rside {position:absolute; left:267px; bottom:0px; *bottom:0px; }
.ver2GraphR .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 250px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.ver2GraphR .gAction {position: relative; DISPLAY: inline-block; background: #fd383f; height: 15px;}
.ver2GraphR .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.ver2GraphR .gPercent STRONG {COLOR: #fd383f; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

/*대결맞짱 메인 3개짜리그래프 */
.ver3GraphL {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.ver3GraphL .Lside {position:absolute; left:17px; bottom:0px; *bottom:0px; }
.ver3GraphL .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 120px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.ver3GraphL .gAction {position: relative; DISPLAY: inline-block; background: #6046dd; height: 15px;}
.ver3GraphL .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.ver3GraphL .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.ver3GraphC {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.ver3GraphC .Cside {position:absolute; left:206px; bottom:0px; *bottom:0px; }
.ver3GraphC .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 120px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.ver3GraphC .gAction {position: relative; DISPLAY: inline-block; background: #b7c516; height: 15px;}
.ver3GraphC .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.ver3GraphC .gPercent STRONG {COLOR: #b7c516; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

.ver3GraphR {position: relative; LINE-height: normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333;}
.ver3GraphR .Rside {position:absolute; left:396px; bottom:0px; *bottom:0px; }
.ver3GraphR .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 120px; DISPLAY: inline-block; background: #e6e6e6; height: 15px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.ver3GraphR .gAction {position: relative; DISPLAY: inline-block; background: #fd383f; height: 15px;}
.ver3GraphR .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.ver3GraphR .gPercent STRONG {COLOR: #fd383f; FONT: 18px Arial, Helvetica, sans-serif; line-height:100%;}

/*대결맞짱 메인 설문그래프 */
.surGraph {position:relative; line-height:normal; WHITE-SPACE: nowrap; zoom:1;  FONT:dotum 12px; font-weight:bold; color:#333; font-size:12px;}
.surGraph .Rside {position:absolute; left:230px; bottom:0px; *bottom:0px; }
.surGraph .gBar {position: relative; BORDER-LEFT: #bebebc 1px solid; MARGIN: 0px 5px 0px 0px; WIDTH: 190px; display: inline-block; background: #e6e6e6; height: 10px; FONT-SIZE: 11px; BORDER-RIGHT: #bebebc 1px solid;}
.surGraph .gAction {position: relative; DISPLAY: inline-block; background: #6346de; height: 10px;}
.surGraph .gPercent {FONT: 11px Arial, Helvetica, sans-serif,dotum; COLOR: #999; line-height:100%;}
.surGraph .gPercent STRONG {COLOR: #6046dd; FONT: 18px Arial, Helvetica, sans-serif; padding-left:5px; padding-right:5px; line-height:100%;}

.copyright {clear:both; position:relative; zoom:1; width:531px; height:46px; border:solid 1px #d4d4d4; border-top:0; background:url('//img.danawa.com/new/vs_new/img/copyrights.gif') -6px -1px;}