@charset "euc-kr";
/* CSS Document 
최종작업일자 : 2010년 7월 29일
작업자 :  
작업내용 : css 문서 작성
*/

/* Layout */
.section_wedding #header {width:1100px;margin:0 auto 10px; text-align:center; position:relative; zoom:1;}

#container {width:1100px; margin:0 auto; background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_main_pattern.gif) repeat-y;}
#container .wedding_deco_top { background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_main_top.gif) no-repeat; height:25px;}
#container .wedding_deco_bottom { background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_main_bottom.gif) no-repeat 0 bottom; height:57px; clear:both;}
#navigation {width:166px; float:left;}
#contents {float:right; width:915px;}
#contents .contents_wrapper {zoom:1;}
#productListContainer {width:596px; float:left; position:relative; z-index:5;}
#estimateContainer {width:299px; float:left;}
#footer {text-align:center; width:100%; margin:0 0 10px; }
#footer p {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#666; padding-bottom:15px;}
/* GNB */
.section_wedding #header h1 {text-align:center; margin:10px 0 5px;}
#header img {display:inline;}
.section_wedding .topMenu {position:absolute; right:45px; top:15px;}
.section_wedding #header .topMenu a {font-size:11px; font-weight:bold; background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_arrowdown.gif) no-repeat right 0; padding-right:15px;}
.section_wedding .topMenu li {display:inline;}
.section_wedding #header .topMenu li.log {background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_vlinetopmenu.gif) no-repeat center right; margin-right:10px;}
.section_wedding #header .topMenu li.log a {background:none;}
.section_wedding #header .topMenu a:hover {text-decoration:underline;}
#header .gnb {background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_gnbbackground.gif) no-repeat #b85cd4; height:64px; margin:0; text-align:center;}
#header .gnb ul {overflow:hidden; display:inline-block; margin:14px 0 0 0; *display:inline; *zoom:1;}
#header .gnb ul:after {clear:both; content:" "; display:block; height:0; visibility:hidden;}
#header .gnb li {float:left; display:inline;}
#header .gnb li a {color:#fff; font-weight:bold; font-size:12px;}
#header .gnb_menu1 {width:88px; margin-right:55px;}
#header .gnb_menu2 {width:104px; margin-right:59px;}
#header .gnb_menu3 {width:66px; margin-right:61px;}
#header .gnb_menu4 {width:86px;}
#header .gnb_menu5 {width:100px; margin-right:60px;}
.gnb_menu1 span.ir {width:88px; background:url(//img.danawa.com/new/section_m/wedding/img/gnbMenu_wedding01.gif) no-repeat;}
.gnb_menu2 span.ir {width:104px; background:url(//img.danawa.com/new/section_m/wedding/img/gnbMenu_wedding02.gif) no-repeat;}
.gnb_menu3 span.ir {width:66px; background:url(//img.danawa.com/new/section_m/wedding/img/gnbMenu_wedding03.gif) no-repeat;}
.gnb_menu4 span.ir {width:86px; background:url(//img.danawa.com/new/section_m/wedding/img/gnbMenu_wedding04.gif) no-repeat;}
.gnb_menu5 span.ir {width:100px; background:url(//img.danawa.com/new/section_m/wedding/img/gnbMenu_wedding05.gif) no-repeat;}
span.ir {display:inline-block; position:absolute; height:19px; overflow:hidden; }
.active span.ir {background-position:0 bottom;}

/* navigation */
#navigation {padding-top:10px;}
#navigation h2 {border-bottom:2px solid #7d7d7d; padding-bottom:12px; margin:0 18px 20px 16px; background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_estimateWedding.gif) no-repeat; height:56px;}
#navigation h2.ddanji {background-image:url(//img.danawa.com/new/section_m/wedding/img/title_deco_ddanjiWedding.gif);}
#navigation h2.package {background-image:url(//img.danawa.com/new/section_m/wedding/img/title_deco_packageWedding.gif);}
#navigation h2.cardInfomation {background-image:url(//img.danawa.com/new/section_m/wedding/img/title_deco_cardInfomation.gif);}
#navigation h2.userguide {background-image:url(//img.danawa.com/new/section_m/wedding/img/title_deco_userguide.gif);}
#navigation .categoryList {margin:0 16px 0 16px; zoom:1;}
#navigation .categoryList li {background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_dottedLine5n3.gif) repeat-x 0 100%; padding-bottom:5px; margin-bottom:5px; text-indent:5px; zoom:1; float:left; text-align:left;}

/* contents - 상단막대기 */
.explanation {margin:0 0 4px;}
.headLineBar {border:1px solid #a2a2a2; position:relative; z-index:1;}
.headLineBar .arrow {background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_steparrow.gif) no-repeat right 0; width:17px; height:31px; position:absolute; display:block; right:-17px; top:0px; z-index:999;}
.step1 {border:1px solid #686868; border-right:0; color:#000;z-index:2;}
.innerWrapper {height:31px; line-height:31px; background-image:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_linepattern.gif); background-repeat:repeat-x; text-indent:20px;}
.step2 .innerWrapper {background-position:0 -31px; text-indent:30px;}
.sortBar {height:32px; line-height:32px; background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_linepattern.gif) repeat-x 0 -63px; margin:0 0 13px 0; padding-left:10px; color:#ddd; position:relative; z-index:99;}
.sortBar * {vertical-align:middle;}
.sortBar button {background-color:transparent; margin:0 5px 0 10px; height:32px;}
.sortBar button.active {font-weight:bold; background:url(//img.danawa.com/new/section_m/wedding/img/icon_deco_downArrow_red.gif) no-repeat right center; padding-right:6px;}
.sortBar .posRight {top:0; right:15px; background:url(//img.danawa.com/new/section_m/wedding/img/bg_deco_moreProductView.gif) no-repeat right center; padding-right:8px;}
.sortBar .posRight a {color:#333;}
.sortBar .posRight a:hover {text-decoration:underline;}
/* contents - 상품목록 */
.productlist {margin:0 20px -1px 0;}
.productlist li {border-bottom:1px solid #e5e5e5; clear:both; min-height:130px; padding:10px 0; _height:130px; }
.productlist .specSummary {margin:5px 0;}
.productlist .specSummary a {color:#666; line-height:130%;}
.productlist .productTitle img {float:left; margin:0 10px 0px 0; display:inline;}
.productlist .productTitle strong {color:#333; font-size:12px;}
.productlist .price, .productlist .buttonContainer {margin:0 0 0 140px;position: relative; zoom:1;}
.productlist .price dt, .productlist .price dd {display:inline; margin-right:10px; }
.productlist .price dt img {vertical-align:middle; display:inline-block; padding-bottom:5px;}
.productlist .price dd {color:#f60; margin-right:20px;font-weight:bold;}
.productlist .price dd em {font-family: Tahoma, Geneva, sans-serif; font-size: 14px;  font-style:normal; }
.cnt_opinion {margin-left:10px; display:inline-block;}
.cnt_opinion {font-size:11px; color:#666; cursor:pointer;}
.cnt_opinion em {text-decoration:underline; font-style:normal; vertical-align:middle; line-height:20px;}

/* contents - 다나와 CM평가 팝레이어 */
.popopen {z-index:55;}
.popopen .popLayer_cmComment {display:block;}
.popLayer_cmComment {position:absolute; border:4px solid #777; width:450px; background:#fff; right:10px; top:18px; z-index:500; display:none;}
.popLayer_cmComment .innerContainer {position:relative; zoom:1; padding-top:30px;}
#contents .popLayer_cmComment h3 {background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_cmcomment.gif) no-repeat; width:270px; height:41px; margin:0px 0 0 40px;}
.popLayer_cmComment h3 em {position:absolute; height:0; font-size:0; overflow:hidden;}
.popLayer_cmComment .innerBox, .popLayer_estimateManage .innerBox, .registddanji .innerBox {margin:15px; border:1px solid #e4e4e4; background:#f5f5f5; padding:20px; line-height:16px;}
.popLayer_cmComment .innerBox p {line-height:12px; color:#666; line-height:150%;}
.popLayer_cmComment .closePopButton, .popLayer_estimateManage .closePopButton, .registddanji .closePopButton, .saveEstimate .closePopButton {background:url(//img.danawa.com/new/section_m/wedding/img/btn_deco_popClose.gif) no-repeat; width:15px; height:14px; display:block; position:absolute; right:16px; top:16px; cursor:pointer;}

/* contents - 견적서함 관리 */
.boxLayout {border:1px solid #d5d5d5; background-color:#fff; border-top:0;}
#estimateContainer .dui-lib-selectbox {top:4px; position:absolute;}
#estimateContainer .dui-lib-selectbox-radioWrapper {vertical-align:top;}
#estimateContainer .selectedItem {height:19px; line-height:19px;}
#estimateContainer .sortBar {margin:0;}
.manageButton {float:right; margin-right:20px; display:inline; position:relative; zoom:1;}
.manageButton a {font-size:11px; text-decoration:underline; color:#333;}
.manageButton .popLayer_estimateManage {position:absolute; border:#777 4px solid; background:#fff; width:340px; right:-20px; padding-top:30px;}
.manageButton .popLayer_estimateManage .innerBox {border:0; padding:0 10px;  overflow:hidden; background:#fff; zoom:1; margin:0;}
.popLayer_estimateManage h3 {background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_estimateManage.gif) no-repeat; width:118px; height:24px; margin:0px 0 15px 40px;}
.popLayer_estimateManage h3 em {position:absolute; height:0; font-size:0; overflow:hidden;}

.popLayer_estimateManage {display:none;}
.popopen .popLayer_estimateManage {display:block;}
.estimateItemList {color:#333;border:1px solid #d4d4d4; background:#f5f5f5; border-width:1px 0; padding:0 15px; overflow:hidden; zoom:1;}
.estimateItemList li {height:17px; line-height:17px; border-bottom:1px dotted #c2c2c2; position:relative; zoom:1; padding:6px 0; margin-bottom:-1px;}
.estimateItemList label input {border:0; font-size:12; font-family:돋움, Arial, Verdana; vertical-align:top;  width:180px; cursor:pointer; background:none; letter-spacing:-1px;}
.modify label input {border:1px solid #d4d4d4; background:#fff; height:16px; cursor:auto;}
.estimateItemList li .posRight {top:6px; right:0px;}
.estimateItemList li .modifyButton, .estimateItemList .modify .posRight {display:none;}
.estimateItemList li.modify .modifyButton {display:block;} 
.popLayer_estimateManage button {margin:0 2px 0 0; height:20px; vertical-align:top;}
.popLayer_estimateManage .dui-lib-button-set02 button {height:23px;}

.addItemContainer {padding:14px 70px 14px 19px; position:relative; zoom:1;}
.popLayer_estimateManage .addItemTextField {width:100%; border:1px solid #e4e4e4; background:#f5f5f5; height:16px;}
.addItemContainer .dui-lib-button-set01 {position:absolute; right:19px; top:14px;}

.manageHelpMsg {border:1px solid #d8d8d8; border-width:1px 0; padding:10px;}
.manageHelpMsg li {font-size:11px; color:#666; height:auto; line-height:18px;}

.popLayer_estimateManage .submit, .registddanji .submit, .saveEstimate .submit {text-align:center; margin:10px 0;}

/* contents - 견적서함 상단 인터페이스부 */
.tabInterface {background:#f7f7f7 url(//img.danawa.com/new/section_m/wedding/img/onepixel_bcbcbc.gif) repeat-x 0 100%; margin-bottom:8px; padding:7px 0 0 9px; overflow:hidden; _zoom:1;}
.tabInterface li {display:inline; float:left;}
.tabInterface li a {display:inline-block; padding:0 10px; height:30px;border:1px solid #e4e4e4; background:#f8f8f8; line-height:30px; border-bottom:0; color:#333;margin:0 -1px 0 0; position:relative; zoom:1; z-index:1;}
.tabInterface li.active a {border:1px solid #bcbcbc; background:#fff; border-bottom:0;  z-index:2; font-weight:bold; padding-bottom:1px; letter-spacing:-1px;}
#estimateContainer .buttonContainer {margin:0 0 7px 10px;}


/* contents - 견적서 결과 표시 */
.estimate_result {margin:0 0 7px 0;}
.estimate_result dt, .estimate_result dd {line-height:36px; color:#fff046; font-weight:bold;}
.estimate_result dt {position:absolute; text-indent:10px;}
.estimate_result dd {background:#515151; padding-right:10px; text-align:right;}
.estimate_result em {font-style:normal;}
.estimate_result dd em {font-family:'Arial Black', Helvetica, sans-serif; font-size: 18px; font-weight:normal; padding-right:3px;}
.estimate_result .normal {background:#1f1f1f;}

/* contents - 견적함에 담긴 상품카테고리 박스 */
.categoryContainer {position:relative; zoom:1; border-top:1px solid #fff;}
.categoryContainer h3 {line-height:27px; height:27px; background-color:#eee; text-indent:15px; font-size:12px;}
.categoryContainer .productIn {display:none;}
.open .productIn {display:block;}
.open h3 {background-color:#e6eff2;}
.productIn {margin:13px 15px -1px; border-bottom:1px solid #e3e3e3; padding-bottom:13px; background:#fff; position:relative; zoom:1;}
.productIn dt img {float:left; display:inline; margin-right:10px;}
.productIn dt strong {font-size:12px; color:#666;}
.productIn dd {margin:10px 0 0 90px;}
.productIn .price {color:#5151a9; line-height:18px;}
.productIn .normall {color:#1ea3cd;}
.productIn .price em {font-style:normal; font-weight:bold;}
.selectThis {position:absolute; left:35px; top:85px;}
.categoryContainer .rBtn {position:absolute; right:8px; top:8px; display:block; background:url(//img.danawa.com/new/section_m/wedding/img/btn_deco_toggleopen.gif) no-repeat 0 -14px; width:34px; height:10px; cursor:pointer;}
.open .rBtn {background-position:0 0;}

/* 견적딴지등록, 견적 저장  */
.ddanjiopen, .saveopen {position:relative; z-index:5;}
.ddanjiopen .registddanji, .saveopen .saveEstimate {display:block;}
.registddanji, .saveEstimate {position:absolute; border:#777 4px solid; background:#fff; width:450px; right:0px; padding-top:30px; z-index:1000; display:none;}
.saveEstimate {width:345px;}
.registddanji h3, .saveEstimate h3 {background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_registddanji.gif) no-repeat 20px 0; height:24px; margin:0px 15px 15px; padding:0 0 13px 20px; border-bottom:1px solid #dedede;}
.saveEstimate h3 {background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_saveestimate.gif) no-repeat 20px 0}
.registddanji h3 em, .saveEstimate h3 em {position:absolute; height:0; font-size:0; overflow:hidden;}
.registddanji .innerBox {background:none; border:0; padding:0;}

.writeForm {position:relative; zoom:1;}
.writeForm dd {margin:0px 0 5px;}
.writeForm .cnt {position:absolute; right:0; top:0; margin:0; font-size:11px; color:#888;}
.writeForm .inputStyle {border:1px solid #e4e4e4; background:#f5f5f5; width:100%;}
.writeForm textarea.inputStyle {height:278px;}

.saveEstimate .innerBox {margin:0 10px 20px; padding:0 20px 20px; position:relative; border-bottom:1px solid #dedede;}
.saveEstimate .innerBox p {margin-bottom:10px; font-weight:bold;}
.saveEstimate .message {margin:0 10px 20px; padding:0 10px 15px; border-bottom:1px solid #dedede;}
.saveEstimate .message li {padding-bottom:5px;}
#estimateContainer .saveEstimate .dui-lib-selectbox {position:relative; zoom:1; top:0;}


/* 견적 딴지 - 리스트 */
.boardContainer {width:730px; margin:44px auto 0; position:relative; zoom:1;}
.boardContainer .searchBox {margin-top:0;} 
.indexBorder .active {font-weight:bold; text-decoration:underline;}
/* 견적 딴지 - 뷰 override */
.boardContainer .arti_header {border-top:2px solid #333; z-index:1;}
.boardContainer .arti_header h2 {color:#333;}
.boardContainer .arti_contents {word-wrap:break-word;}
/* 견적 딴지 - 뷰 견적서레이어 */
.inner_estimateLayer {margin:30px 0;}
.inner_estimateLayer .estimate_result {margin:0; overflow:hidden; zoom:1; width:100%; background:#515151;}
.inner_estimateLayer .estimate_result dt {background:#515151; padding-left:3%; text-indent:0;}
.inner_estimateLayer .estimate_result .normal {background:#1f1f1f;}
.inner_estimateLayer .estimate_result dt, .inner_estimateLayer .estimate_result dd {width:22%; float:left;position:static; height:36px; line-height:36px; overflow:hidden;}
.inner_estimateLayer .estimate_result dd {padding-right:2.9%;}
.inner_estimateLayer .categoryContainer h3 {background:#e6f0f2}
.inner_estimateLayer .productlist {clear:both; border-bottom:1px solid #e5e5e5; min-height:145px; _height:145px; margin:10px 0 -1px 0;}
.inner_estimateLayer .productTitle strong {display:inline-block; margin-top:15px;}

/* 패키지서비스 - 리스트  */
 .bbsType .packagePrice, .bbsType .packageDescription {padding:15px 10px;}
 .boardContainer .packageDescription {text-align:left;}
 .boardContainer .packageDescription a {color:#666;}
 .boardContainer .packageDescription strong {display:block; color:#000; font-size:14px; margin-bottom:10px;}
 
 /* 패키지서비스 - 뷰 */
.packageViewHeader {position:relative; zoom:1;}
.packageViewHeader dt {position:absolute; padding:15px 0; width:150px; text-align:center; top:0; left:0;}
.packageViewHeader dd {margin:0 0 0 150px; min-height:70px; _height:70px; padding-top:15px;}
.arti_header .categoryContainer {margin-bottom:-1px;}
.arti_header .categoryContainer .productlist {border-bottom:0;}
.arti_header .inner_estimateLayer {border-bottom:3px solid #8b8b8b; margin-bottom:10px;}
.arti_header .productlist li {padding-left:40px; position:relative; zoom:1;}
.arti_header .productlist .checkthis {position:absolute; left:10px; top:60px;}

/* 견적서비스 이용 ti */
.useful {border:1px solid #d9d9d9; margin-top:20px; background:#fff; position:relative; zoom:1;}
.useful * {font-size:12px;}
.useful ol {margin:15px 15px 15px 35px;}
.useful h2 {height:49px; overflow:hidden; position:relative; zoom:1;}
.useful h2 .ir {position:absolute; width:297px; height:49px; left:0; top:0; background:url(//img.danawa.com/new/section_m/wedding/img/title_deco_usefultip.gif) no-repeat;}
.useful .tip {position:relative; zoom:1;}
.useful .tip ol {height:222px; width:230px; padding:0; margin:0 25px 25px 25px; padding-top:25px;}
.useful .tip .ir {position:absolute; width:241px; height:222px; background:url(//img.danawa.com/new/section_m/wedding/img/img_deco_usefulcontent.gif) no-repeat; left:25px; top:25px;}

/* 이용가이드 */
.guideImgList {padding-bottom:30px;}
.guideImgList li {font-size:0; margin:0; padding:0;}
.guideImgList li * {vertical-align:top;}
/* 카드 할인 정보 */
table.cardInfo td {text-align:center;line-height:20px;} 
#contents .cardInfo strong {margin:0; display:inline;}
/* common class */
.textTitle {position:absolute; z-index:-1;}
.btnWrapper {margin-bottom:10px;}
.alignRight {text-align:right;}
.updateAt {font-size:11px; color:#a1a1a1; margin:10px 0;}
/* clear */
#contents .contents_wrapper:after,
#container:after {clear:both; content:" "; display:block; height:0; visibility:hidden;}

