@charset "UTF-8";

$color_primary:#2964e0;
$color_secondary:#ec401e;

$color_primary_bg:#ededed;

$color_primary_txt:#0f0f0f;
$color_secondary_txt:#333;
$color_tertiary_txt:#666;
$color_fourth_txt:#999;


$color_white:#fff;
$color_black: #000;
