@charset 'UTF-8';
/// 기획전 메인
.type_exhibition{
    .sc_list{
        margin-top:10px;
        .thumb{
            img{
                width:100%;
            }
        }
        .badge{
            position: absolute;
            top:24%;
            left:9%;
            
        }
        a{
            position: relative;
            display:block;
            margin-bottom:8px;
        }
        li:last-child{
            a{
                margin-bottom:0;
            }
        }
    }
    .badge{
        position: relative;
        @extend %spliteAfter;
        &:before{
            position: absolute;
            width:1px;
            height:1px;
            margin:-1px;
            clip:rect(0 0 0 0);
            content:'HOT';
        }
        &:after{
            position: absolute;
            width:54px;
            height:23px;
            background-position:-204px -163px;
            top:24%;
            left:9%;
        }
        &.new{
            &:before{
                content:'NEW';
            }
            &:after{
                background-position: -204px -192px;
            }
        }
    }
}

// 이벤트/기획전
.sc_event {
    background-color: #e9e9e9;
}

.event_inner {
    margin: 8px 0;
    background-color: #fff;
}

.event_list {
    background-color: #e9e9e9;
    text-align: center;

    li {
        margin-bottom: 8px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// 이벤트 서브
.tit_event {
    margin-left: 16px;
}

.event_view {
    .ev_inner {
        text-align: left;
        margin-top: 1px;
        background-color: #fff;
        p {
            font-size: 1.5rem;
            color: #0f0f0f;
            padding-left: 14px;
            line-height: 2.2rem;
            padding: 0;
        }

    }

    img {
        width: 100%;
        display: block;
    }
}

/// 기획전 상세
.exhibition{
    .ev_inner{
        position: relative;
        overflow:hidden;
        padding-bottom:40px;
        margin-bottom:8px;
        height:300px;
        &.is_extended{
            padding-bottom:0;
            height:auto;
            .btn_more{
                display:none;
            }
        }
        .btn_more{
            position: absolute;
            left:0;
            bottom:0;
            height:40px;
            background-color:#fff;
            font-size: 1.5rem;
            color:#666;
            @extend %spliteAfter;
            &:after{
                background-position:-164px -40px;
                width:14px;
                height:8px;
                margin-left:8px;
            }
        }
    }
    .title_area{
        height: 20px;
    }
    
}