@charset "euc-kr";
/*
CSS Document

최종작업일자 : 2010년 8월 9일
작업자 : P03
작업내용 : .todayProd h3 에 폰트사이즈 지정

*/

/* layout */
#brandlog {width:1000px;}
.header .posRight {top:0; right:5px;}
.navigation {margin:10px 0 0;}
.advertise {margin:0 0 20px;}
.contents {overflow:hidden; zoom:1; position:relative;}
.contents .lside {float:left; width:790px; margin-right:20px; overflow:hidden;}
.contents .rside {float:left; width:190px; overflow:hidden; margin:0;}
.contents .innerLside {width:413px; margin-right:20px; float:left; margin-bottom:20px; position:relative; zoom:1;}
.contents .innerRside {width:357px; float:left; margin-bottom:20px; position:relative; zoom:1;}
.contents .con_full {clear:both; width:100%; position:relative; zoom:1;}

/* default -  listType */
.listTypeThumnail {margin:0 0 0 10px;}
.listTypeThumnail li {margin:0 0 15px; padding:0; zoom:1; overflow:hidden;}
.listTypeThumnail .image {display:inline-block; border:1px solid #e1e1e1; margin:0 10px 0 0; padding:1px; float:left;}
.listTypeThumnail .substance  {font-size:12px; margin-left:91px; margin-top:5px;}
.listTypeThumnail .substance dfn {font-style:normal;}

.listTypeTextOnly {margin:0 0 0 15px;}
.listTypeTextOnly a {font-size:12px; color:#666; }
.listTypeTextOnly li {padding-left:7px; background:url("//img.danawa.com/contents/brand/apple/img/bul_list.gif") no-repeat scroll 0 3px; margin-bottom:10px;}
.listTypeTextOnly .cnt {color:#f8560e; font-style:normal; font-weight:bold;}

.listTypeProduct {margin:10px; overflow:hidden; zoom:1;}
.listTypeProduct li {margin:0 0 10px; padding:0;}
.listTypeProduct .image {display:inline-block; border:1px solid #e1e1e1; margin:0 10px 0 0; float:left; position:relative; zoom:1;}
.listTypeProduct .title {margin-right:15px; color:#333;}
.listTypeProduct .specify, .listTypeProduct .minPrice  {font-size:12px; margin:5px 15px 0 142px; line-height:140%;}
.listTypeProduct .specify a { color:#666;}
.listTypeProduct .minPrice {color:#f9570e;}
.listTypeProduct .icon_recomm {background:url(//img.danawa.com/new/blog_brand/img/icon_hot.gif) no-repeat; width:39px; height:21px; position:absolute; left:0; top:10px;}

/* topmenu */
.top_menu {margin-bottom:10px;}
.top_menu li {display:inline;}
.top_menu .admin {background-position:left top; margin-left:1px;}
.top_menu .admin * {background-position:right -23px; margin-left:2px; padding-right:18px; padding-left:3px;}
.top_menu .btnSet *:hover {text-decoration:none; color:#000;}
.top_menu .join {background-position:right 0px; margin-left:1px;}
.top_menu .join * {background-position:left top; margin-right:2px; padding-left:5px; padding-right:3px;}
.top_menu .favorite {background-position:right 0px; margin-left:1px;}
.top_menu .favorite * {background-position:left -23px; margin-right:2px; padding-left:18px; padding-right:3px;}
.top_menu .login, .top_menu .logout, {background-position:right 0px; margin-left:1px;}
.top_menu .login *, .top_menu .logout * {background-position:left top; margin-right:2px; padding-left:5px; padding-right:3px;}
.counter {text-align:right; font-size:11px; color:#8e8e8e;}
.counter em {font-style:normal;}

/* event */
.event {background:none; margin:0; height:auto;}
.event .substance, .event .substance dfn {font-size:11px;}
.event .title {margin:0;}

/* product */
.productList .top_wrap {border:4px solid #d3e9c5; background:#fbfef7;}
.productList .listTypeProduct li { width:50%; float:left;}
.top_wrap .listTypeProduct li {margin:0;}
.top_wrap .listTypeProduct .image {border:5px solid #e1e1e1;}
.top_wrap .listTypeProduct .specify, 
.top_wrap .listTypeProduct .minPrice  {font-size:12px; margin:5px 15px 0 150px;}

/* todays prod */
.todayProd {border:1px solid #e1e1e1; position:relative; zoom:1;}
.todayProd h3 {background:#f7f7f7; font-size:12px;}
.todayProd .listTypeProduct {margin-top:20px;}
.todayProd .listTypeProduct a {display:block; text-align:center;}
.todayProd .listTypeProduct li {margin-bottom:30px;}
.todayProd .listTypeProduct .image {border:0; margin:0 auto 10px; display:block; text-align:center; float:none;}
.todayProd .listTypeProduct .title {color:#777;}
.todayProd .listTypeProduct .avgPrice,
.todayProd .listTypeProduct .minPrice {font-size:12px; margin:0; line-height:140%; background:url(//img.danawa.com/new/brandlog_new/img/icon_price.gif) no-repeat 0 -24px ; padding-left:40px; display:inline-block; height:14px; text-align:left; margin-left:35px;}
.todayProd .listTypeProduct .avgPrice {margin:10px 0 4px 35px;color:#666; background-position:0 0px; }
.todayProd .listTypeProduct .avgPrice em {font-style:normal;}


/* commons */
.contents .posRight {position:absolute; right:12px; top:12px;}
.getBox {border:1px solid #e1e1e1; background:#f7f7f7; margin:0 0 15px 0;}
.contents h3 {padding:10px 0 0 14px; height:21px;}
.listTypePlan:after,
#brandlog .listTypeProduct:after,
null{display:block; content:"."; height:0; visibility:hidden; clear:both;}