@charset "utf-8";

dt,dd{margin:0;padding:0;}

/*--------------- Temp Start ---------------*/

/* common */
.contemp{font-size:14px;line-height:1.5;color:#666;}
.contemp *{font-family:"Malgun Gothic","Dotum",sans-serif;font-size:100%;}
.contemp h1,.contemp h2,.contemp h3{margin:0;}
.contemp img{max-width:100%;}
.contemp a{font-family:inherit;color:inherit;text-decoration:underline;}
.contemp .txt_black{color:#333;}
.contemp .txt_red1{color:#a90013;}
.contemp .txt_brown1{color:#5d4848;}
.contemp .bg_red1{background:#bd1d21;color:#fff;}
.contemp .txt_big1{font-size:1.15em;}
.contemp .rel_info{font-size:0.86em;}


/* Temp Start */
@media (min-width:635px) {
/* Temp01 */
.contemp_1 {padding:0 0 40px; font-family:"Malgun Gothic";}
.contemp_1 .contemp_head {display:table; height:165px; vertical-align:middle; width:100%; margin-bottom:0;}
.contemp_1 .contemp_head .contemp_head_box {display:table-cell; vertical-align:middle; height:165px; padding:0 15px;}
.contemp_1 .contemp_head .contemp_title {text-align:center; font-size:48px; letter-spacing:-0.1em; line-height:48px; color:#000; margin-bottom:20px }
.contemp_1 .contemp_head .contemp_tt_text {text-align:center; font-size:18px; line-height:22px; letter-spacing:-0.1em; color:#666;}
.contemp_1 .con_video {border:15px solid #000; position:relative; padding-bottom:56.5%; margin-bottom:20px;}
.contemp_1 .con_video iframe {position:absolute; top:0; left:0; height:100%;}
.contemp_1 .con_item_box {display:table; *zoom:1; width:100%; margin-bottom:20px;}
.contemp_1 .con_item_box:after {content:""; display:block; clear:both;}
.contemp_1 .con_item_info {display:table-cell; vertical-align:top; *float:left; *width:60%;}
.contemp_1 .con_item_info .con_item_tt {background:#1b1b1b; font-size:20px; font-weight:bold; letter-spacing:-0.01em; color:#fff; padding:10px; line-height:25px;}
.contemp_1 .con_item_info .con_item_slogan {background:#f7f5f2; padding:10px; font-size:16px; line-height:26px; font-weight:bold; letter-spacing:-0.01em; color:#666;}
.contemp_1 .con_item_info .con_item_text {font-size:15px; line-height:24px; letter-spacing:-0.01em; color:#666; padding:10px 10px 0;}
.contemp_1 .con_item_photo {display:table-cell; width:360px; vertical-align:top; padding-left:11px; *float:left; *width:38%;}
.contemp_1 .con_item_photo img {width:100%;}
.contemp_1 .con_type1 .con_img_sec {*zoom:1; margin-bottom:10px;}
.contemp_1 .con_type1 .con_img_sec:after {content:""; display:block; clear:both;}
.contemp_1 .con_type1 .con_img_sec .img_item {float:left; position:relative; width:23.9%; font-size:0; line-height:0; }
.contemp_1 .con_type1 .con_img_sec .img_item + .img_item {margin-left:1.46%;}
.contemp_1 .con_type1 .con_img_sec .img_item img {width:100%;}
.contemp_1 .con_type1 .con_img_sec .img_item .img_label {position:absolute; right:0; bottom:0; width:28px; height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; background:#000; opacity:0.7; filter:alpha(opacity=70);}
.contemp_1 .con_type1 .con_info_sec {background:#f5f5f5; padding:15px;}
.contemp_1 .con_type1 .con_info_sec .con_info_tt {font-size:16px; font-weight:bold; color:#333; margin-bottom:10px;}
.contemp_1 .con_type1 .con_info_sec .con_info_list li {padding-left:15px; text-indent:-15px; font-size:14px; line-height:22px; color:#666; margin-bottom:5px;}
.contemp_1 .con_type1 .con_info_sec .con_info_list li .info_label {font-weight:bold; color:#000;}

/* Temp02 */
.contemp_2 {padding:0 0 40px; font-family:"Malgun Gothic";}
.contemp_2 .contemp_head {font-size:0; line-height:0; margin-bottom:35px;}
.contemp_2 .contemp_head img {width:100%;}
.contemp_2 .contemp_title1 {text-align:center; position:relative; margin-bottom:20px;}
.contemp_2 .contemp_title1:before {border-bottom:2px solid #111; content:"";display:block; position:absolute; top:50%; margin-top:-1px; left:0; width:100%; }
.contemp_2 .contemp_title1 .contemp_tt_text {display:inline-block; font-size:34px; font-weight:bold; letter-spacing:-0.025em; color:#111; background:#fff; padding:0 25px; max-width:70%; position:relative;}
.contemp_2 .con_main_box .con_main_brand {font-size:18px; font-weight:bold; line-height:20px; text-align:center; color:#111; margin-bottom:5px;}
.contemp_2 .con_main_box .con_main_brand .brand_label {color:#666; display:inline-block; margin-right:10px;}
.contemp_2 .con_main_box .con_main_slogan {text-align:center; font-size:18px; line-height:23px; color:#111; margin-bottom:10px;}
.contemp_2 .con_main_box .con_main_spec {font-size:14px; line-height:18px; color:#757575; margin-bottom:15px; text-align:center;}
.contemp_2 .con_main_box .con_main_img {text-align:center; font-size:0; line-height:0; margin-bottom:20px;}
.contemp_2 .con_main_box .con_main_info {background:#f5f5f5; border-bottom:2px solid #d1d1d1; padding:15px;}
.contemp_2 .con_main_box .con_main_info .con_main_text {font-size:16px; line-height:26px; margin-bottom:15px; color:#333;}
.contemp_2 .con_main_box .con_main_info .con_main_item {text-indent:-12px; padding-left:12px; font-size:15px; line-height:18px; font-weight:bold; margin-bottom:8px; color:#333;}
.contemp_2 .con_sub_box {padding:8px 0;}
.contemp_2 .con_sub_box .con_list_item {*zoom:1; padding:20px 0; display:table; width:100%;}
.contemp_2 .con_sub_box .con_list_item:after {content:""; display:block; clear:both;}
.contemp_2 .con_sub_box .con_list_item + .con_list_item {border-top:2px solid #efefef;}
.contemp_2 .con_sub_box .con_list_item .con_list_img {display:table-cell; vertical-align:top; width:355px; *float:left; *width:30%;}
.contemp_2 .con_sub_box .con_list_item .con_list_info {display:table-cell; vertical-align:top; padding-left:20px; *float:left; *width:65%;}
.contemp_2 .con_sub_box .con_list_item .con_list_title {*zoom:1; display:table; margin-bottom:15px;}
.contemp_2 .con_sub_box .con_list_item .con_list_title:after {content:""; display:block; clear:both;}
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_num {display:table-cell; vertical-align:top; padding-top:5px; *float:left; }
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_num span {font-size:14px; font-weight:bold; color:#fff; text-align:center; width:33px; height:36px; line-height:36px; background:#515151; display:block;}
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_name {display:table-cell; vertical-align:middle; font-size: 18px; font-weight:bold; line-height:22px; color:#757575; word-break:keep-all; padding-left:10px; *float:left; *padding-top:5px;}
.contemp_2 .con_sub_box .con_list_item .con_list_text1 {font-size:14px; line-height:20px; font-weight:bold; letter-spacing:-0.01em; color:#333; margin-bottom:15px;}
.contemp_2 .con_sub_box .con_list_item .con_list_text2 {font-size:13px; line-height:19px; color:#757575;}
.contemp_2 .con_img_title {position:relative; text-align:center; margin-bottom:35px;}
.contemp_2 .con_img_title:before {border-bottom:2px solid #bebebe; content:"";display:block; position:absolute; top:50%; margin-top:0; left:0; width:100%; }
.contemp_2 .con_img_title .img_title_text {display:inline-block; font-size:22px; font-weight:bold; letter-spacing:-0.025em; color:#666; background:#fff; padding:0 15px; max-width:70%; position:relative;}
.contemp_2 .con_img_list {*zoom:1;}
.contemp_2 .con_img_list:after {content:""; display:block; clear:both;}
.contemp_2 .con_img_item {float:left; font-size:0; line-height:0;}
.contemp_2 .con_img_item img {width:100%;}
.contemp_2 .half_Sec  {padding-bottom:20px;}
.contemp_2 .half_Sec .con_img_item {width:48.63%;}
.contemp_2 .half_Sec .con_img_item + .con_img_item {margin-left:2.74%}
.contemp_2 .third_sec .con_img_item {width:31.5%;}
.contemp_2 .third_sec .con_img_item + .con_img_item {margin-left:2.75%}
.contemp_2 .con_img_item .con_img_text {text-align:center; font-size:14px; line-height:18px; color:#666; margin-top:10px;}

/* Temp03 */
.contemp_3 {padding:0 0 40px 0; font-family:"Malgun Gothic";}
.contemp_3 .contemp_head {display:table; height:132px; vertical-align:middle; width:100%; margin-bottom:0;}
.contemp_3 .contemp_head .contemp_head_box {display:table-cell; vertical-align:middle; height:132px; padding:0 5px;}
.contemp_3 .contemp_head .contemp_title {text-align:left; font-size:46px; letter-spacing:-0.1em; line-height:48px; color:#5d4848; margin-bottom:10px }
.contemp_3 .contemp_head .contemp_tt_text {text-align:left; font-size:16px; line-height:22px; letter-spacing:-0.1em; color:#5d4848;}
.contemp_3 .con_item_box {display:table; width:100%; margin-bottom:20px; *zoom:1;}
.contemp_3 .con_item_box:after {content:""; display:block; clear:both;}
.contemp_3 .con_item_info {display:table-cell; vertical-align:top; *float:left; *width:60%;}
.contemp_3 .con_item_info .con_item_tt {background:#f9f5f0; font-size:24px; font-weight:bold; letter-spacing:-0.01em; color:#5d4848; padding:10px 10px 0; line-height:30px; border-top:2px solid #7d7061;}
.contemp_3 .con_item_info .con_item_slogan {background:#f9f5f0; padding:10px; font-size:15px; line-height:20px; font-weight:bold; letter-spacing:-0.01em; color:#666;}
.contemp_3 .con_item_info .con_item_text {font-size:14px; line-height:22px; letter-spacing:-0.01em; color:#666; padding:10px 10px 0;}
.contemp_3 .con_item_photo {display:table-cell; width:360px; vertical-align:top; padding-left:20px; *float:left; *width:35%;}
.contemp_3 .con_img_box1 .con_img_tt {background:#5d4848; font-size:16px; font-weight:bold; line-height:20px; color:#fefefe; padding:4px 15px 4px;}
.contemp_3 .con_img_box1 .con_img_sec {font-size:0; line-height:0; margin-bottom:20px;}
.contemp_3 .con_img_box1 .con_img_sec img {width:100%;max-width:699px !important;}
.contemp_3 .con_img_box1 .con_img_text {font-size:15px; line-height:25px; color:#666; margin-bottom:20px;}
.contemp_3 .con_type1 .con_img_sec {*zoom:1; margin-bottom:10px;}
.contemp_3 .con_type1 .con_img_sec:after {content:""; display:block; clear:both;}
.contemp_3 .con_type1 .con_img_sec .img_item {float:left; position:relative; width:48.63%; font-size:0; line-height:0; margin-bottom:20px; border:1px solid #ebebeb; box-sizing:border-box;}
.contemp_3 .con_type1 .con_img_sec .img_item + .img_item {margin-left:2.74%; *margin-left:1.5%;}
.contemp_3 .con_type1 .con_img_sec .img_item img {width:100%;max-width:699px !important}
.contemp_3 .con_type1 .con_img_sec .img_item.full_section {width:100%; margin-left:0;}
.contemp_3 .con_type1 .con_img_sec .img_item .img_label {position:absolute; right:0; bottom:0; width:28px; height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; background:#000; opacity:0.7; filter:alpha(opacity=70);z-index:9;}
.contemp_3 .con_type1 .con_info_sec {border:1px solid #978979; background:#f9f9f9; padding:5px 15px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list {list-style:none;margin:0;padding:0;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li {padding-left:27px;  font-size:14px; line-height:22px; color:#757575; margin-bottom:5px; padding:5px 0 0} /* text-indent:-27px; */
.contemp_3 .con_type1 .con_info_sec .con_info_list li + li {border-top:1px dotted #ccc;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label {font-weight:bold; color:#7d7061; display:inline-block; width:20px; text-indent:0; margin-right:7px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label:after {content:"|"; color:#ccc; float:right;}


/* Temp04 */
.contemp_4 {padding:0 0 40px; font-family:"Malgun Gothic"; background:url(//img.danawa.com/new/community_new/temp/img/temp4_bg.png) top center no-repeat; background-size:100%;}
.contemp_4 .contemp_head {width:100%; margin-bottom:0; padding:35px 0;}
.contemp_4 .contemp_head .contemp_title {text-align:center; font-size:50px; letter-spacing:-0.1em; color:#343434; line-height:54px; margin-bottom:20px;}
.contemp_4 .contemp_head .contemp_tt_text {text-align:center; font-size:18px; line-height:22px; letter-spacing:-0.1em; color:#666;}
.contemp_4 .con_body_title {border-top:2px solid #959595; border-bottom:2px solid #959595;}
.contemp_4 .con_body_title .title {border-bottom:2px solid #959595; padding:10px 0; text-align:center; font-size:20px; line-height:24px; font-weight:bold; color:#757575;}
.contemp_4 .con_body_title .title span {display:inline-block; margin:0 5px;}
.contemp_4 .con_body_title .tt_text {padding:15px 0; font-size:15px; line-height:24px; color:#666;}
.contemp_4 .temp4_type1_box {border-bottom:2px solid #959595; padding-top:30px;}
.contemp_4 .box_table {display:table; margin-bottom:30px; width:100%; *zoom:1;}
.contemp_4 .box_table:after {content:""; display:block; clear:both;}
.contemp_4 .box_table .box_img {display:table-cell; vertical-align:top; width:412px; *float:left; *width:40%;}
.contemp_4 .box_table .box_title_text {display:table-cell; vertical-align:top; padding-left:28px; *float:right; *width:55%;}
.contemp_4 .box_table .box_title_text .box_title {margin-bottom:20px;}
.contemp_4 .box_table .box_title_text .prod_name {font-size:20px; font-weight:bold; color:#757575; line-height:24px; padding-left:45px; text-indent:-45px;}
.contemp_4 .box_table .box_title_text .go_detail {margin:12px 0 0 !important;}
.contemp_4 .box_table .box_title_text .go_detail a {display:inline-block; text-decoration:none; border:1px solid #d3d3d3; height:22px; line-height:21px; padding:0 10px; font-size:14px; color:#0275e0; font-weight:bold;}
.contemp_4 .box_table .box_title_text .go_detail a:after{vertical-align:middle; content:"";display:inline-block;margin:-1px 0 0 12px;border:3px solid transparent;border-right-width:0;border-left-color:#0275e0;}
.contemp_4 .box_table .box_title_text .box_info {font-size:15px; line-height:24px; color:#666;}
.contemp_4 .box_sepc_mo {display:none;}
.contemp_4 .box_sepc table {border-collapse:collapse; width:100%;}
.contemp_4 .box_sepc table caption {display:none;}
.contemp_4 .box_sepc table thead th {border-top:1px solid #808080;border-bottom:1px solid #808080; font-family:Dotum; height:25px; font-size:12px; color:#666; font-weight:normal;text-align:center;}
.contemp_4 .box_sepc table tbody td {border-top:1px solid #808080;border-bottom:1px solid #808080; font-family:Dotum; height:25px; font-size:12px; color:#666; text-align:center;}
.contemp_4 .box_sepc table .pdl70 {padding-left:70px;}
.contemp_4 .box_sepc table .pdr70 {padding-right:70px;}
.contemp_4 .box_text {background:#fff; font-size:15px; line-height:24px; color:#666; padding-bottom:30px; margin-top:18px;}
.contemp_4 .temp4_text {padding:15px 0; border-bottom:2px solid #959595; font-size:15px; line-height:24px; color:#666;}
.contemp_4 .temp4_list {*zoom:1; padding:30px 0; border-bottom:2px solid #959595}
.contemp_4 .temp4_list:after {content:""; display:block; clear:both;}
.contemp_4 .temp4_list .temp4_item {float:left; width:31.5%;}
.contemp_4 .temp4_list .temp4_item + .temp4_item {margin-left:2.75%; *margin-left:1.5%}
.contemp_4 .temp4_list .temp4_item .item_photo {margin-bottom:20px;}
.contemp_4 .temp4_list .temp4_item .item_photo img {width:100%;}
.contemp_4 .temp4_list .temp4_item .item_name {font-size:18px; font-weight:bold; color:#757575;}
.contemp_4 .temp4_list .temp4_item .go_detail {margin:10px 0 20px !important;}
.contemp_4 .temp4_list .temp4_item .go_detail a {display:inline-block; text-decoration:none; border:1px solid #d3d3d3; height:22px; line-height:21px; padding:0 10px; font-size:14px; color:#0275e0; font-weight:bold;}
.contemp_4 .temp4_list .temp4_item .go_detail a:after{vertical-align:middle; content:"";display:inline-block;margin:-1px 0 0 12px;border:3px solid transparent;border-right-width:0;border-left-color:#0275e0;}
.contemp_4 .temp4_list .temp4_item .item_detail_table {border-collapse:collapse; width:100%; border-bottom:1px solid #c9c9c9;}
.contemp_4 .temp4_list .temp4_item .item_detail_table caption {display:none;}
.contemp_4 .temp4_list .temp4_item .item_detail_table th {border-top:1px solid #c9c9c9; font-family:Dotum; padding:8px 0; font-size:12px; color:#757575; text-align:left;}
.contemp_4 .temp4_list .temp4_item .item_detail_table td {border-top:1px solid #c9c9c9; font-family:Dotum; padding:8px 0; font-size:12px; color:#757575;}
.contemp_4 .temp4_list .temp4_item .item_detail_table td a {color:#1624de}

/* Temp05 */
.contemp_5 {padding:0 0 40px; font-family:"Malgun Gothic";}
.contemp_5 .contemp_head {*zoom:1; border-bottom:1px solid #eee; padding:30px 0; margin-bottom:30px;}
.contemp_5 .contemp_head:after {content:""; display:block; clear:both;}
.contemp_5 .contemp_head .contemp_head_box {*zoom:1; display:table;}
.contemp_5 .contemp_head .contemp_head_box:after {content:""; display:block; clear:both;}
.contemp_5 .contemp_head .contemp_title {display:table-cell; width:260px; font-size:30px; line-height:40px; font-weight:bold; color:#526192; letter-spacing:-0.075em; vertical-align:top; *float:left; *width:35%;}
.contemp_5 .contemp_head .contemp_tt_text {display:table-cell; font-size:14px; line-height:22px; letter-spacing:-0.015em; color:#666; vertical-align:top; *float:left; *width:60%;}
.contemp_5 .cont_list {padding-bottom:45px;}
.contemp_5 .cont_list .cont_item {*zoom:1; display:table; margin-bottom:15px;}
.contemp_5 .cont_list .cont_item:after {content:""; display:block; clear:both;}
.contemp_5 .cont_list .cont_photo {display:table-cell; width:240px; *float:left; *width:35%;}
.contemp_5 .cont_list .cont_photo img {width:232px; height:232px; border:4px solid #eee;}
.contemp_5 .cont_list .cont_info {display:table-cell; padding-left:20px; vertical-align:top; *float:left; *width:60%;}
.contemp_5 .cont_list .cont_info .info_tt {font-size:20px; font-weight:bold; letter-spacing:-0.05em; color:#333; line-height:24px; margin-bottom:12px;}
.contemp_5 .cont_list .cont_info .info_box {*zoom:1; margin-bottom:7px;}
.contemp_5 .cont_list .cont_info .info_box:after {content:""; display:block; clear:both;}
.contemp_5 .cont_list .cont_info .info_box .info_label {float:left; font-size:12px; line-height:16px; color:#757575; font-family:Dotum; width:13%;}
.contemp_5 .cont_list .cont_info .info_box .info_txt {float:left; font-size:12px; line-height:16px; color:#333; font-family:Dotum; width:87%;}
.contemp_5 .cont_list .cont_info .info_spec {font-size:12px; line-height:16px; color:#333; margin-bottom:10px;}
.contemp_5 .cont_list .cont_info .info_spec li {display:inline; font-family:Dotum;}
.contemp_5 .cont_list .cont_info .info_spec li + li:before {content:"/ ";}
.contemp_5 .cont_list .cont_info .temp5_btn_area {margin-bottom:15px; font-size:0; line-height:0;}
.contemp_5 .cont_list .cont_info .temp5_btn_area .btn_review {display:inline-block; padding:2px 15px 2px 4px; border:1px solid #4266db; font-size:11px; margin-right:10px; font-family:Dotum; color:#4266db; height:12px; line-height:14px; text-decoration:none; background:url(//img.danawa.com/new/community_new/temp/img/temp5_btn.png) 90% 5px no-repeat;}
.contemp_5 .cont_list .cont_info .temp5_btn_area .btn_price {display:inline-block; background:#4266db url(//img.danawa.com/new/community_new/temp/img/temp5_btn.png) 90% -19px no-repeat; padding:3px 16px 3px 5px;  font-size:11px; font-family:Dotum; color:#fff; height:12px; line-height:14px; text-decoration:none;}
.contemp_5 .cont_list .info_box2 {*zoom:1; padding:10px 15px;}
.contemp_5 .cont_list .info_box2:after {content:""; display:block; clear:both;}
.contemp_5 .cont_list .info_box2 .info_label {float:left; width:10%; font-size:13px; line-height:16px; padding:4px 0; font-weight:bold; color:#205eb0;}
.contemp_5 .cont_list .info_box2 .info_txt {float:left; width:90%; font-size:13px; line-height:16px; padding:4px 0; font-weight:bold; color:#333; letter-spacing:-0.02em;}
.contemp_5 .cont_list .info_box2.bg_yellow {background:#fbf6e9;}
.contemp_5 .cont_list .info_box2.bg_mint {background:#ebf8f4;}
.contemp_5 .cont_list .info_box2.bg_pink {background:#fbf0f2;}
.contemp_5 .cont_list .info_box2.bg_green {background:#f5f7ea;}
.contemp_5 .cont_list .item_text {font-size:14px; line-height:22px; color:#666;}


/* Temp06 */
.contemp_6 {padding:0 0 40px; font-family:"Malgun Gothic";}
.contemp_6 .contemp_head {*zoom:1; padding:17px 0; border-bottom:2px solid #d9d9d9; display:table; width:100%; margin-bottom:25px;}
.contemp_6 .contemp_head:after {content:""; display:block; clear:both;}
.contemp_6 .contemp_head .head_img {display:table-cell; width:240px; padding-right:30px; *float:left; *width:30%;}
.contemp_6 .contemp_head .head_title {display:table-cell; *float:left; *width:60%; vertical-align:middle;}
.contemp_6 .contemp_head .head_title .title_text {font-size:40px; letter-spacing:-0.1em; line-height:52px; color:#454545;}
.contemp_6 .contemp_head .head_title .title_text .red {font-weight:bold; color:#a90013; display:block;}
.contemp_6 .cont_text {font-size:16px; line-height:24px; letter-spacing:-0.005em; color:#333; padding-bottom:25px;}
.contemp_6 .cont_prod {*zoom:1; margin-bottom:35px;}
.contemp_6 .cont_prod:after {content:""; display:block; clear:both;}
.contemp_6 .cont_prod .cont_item {float:left; width:46.5%;}
.contemp_6 .cont_prod .cont_item + .cont_item {float:right; width:46.5%;}
.contemp_6 .cont_prod .cont_item .cont_photo img {width:100%;}
.contemp_6 .cont_prod .cont_item .cont_photo {margin-bottom:5px;}
.contemp_6 .cont_prod .cont_item .cont_title {display:table; width:100%; *zoom:1;}
.contemp_6 .cont_prod .cont_item .cont_title:after {content:""; display:block; clear:both;}
.contemp_6 .cont_prod .cont_item .cont_title .tt_num {display:table-cell; width:90px; text-align:center; font-size:52px; letter-spacing:-0.025em; color:#a90013; vertical-align:middle; *float:left; *width:20%;}
.contemp_6 .cont_prod .cont_item .cont_title .tt_name {display:table-cell; font-size:22px; line-height:26px; letter-spacing:-0.025em; color:#a90013; vertical-align:middle; *float:left; *width:80%;}
.contemp_6 .cont_prod .cont_item .cont_info {border-collapse:collapse; border-bottom:1px solid #ccc; width:100%;}
.contemp_6 .cont_prod .cont_item .cont_info caption {display:none;}
.contemp_6 .cont_prod .cont_item .cont_info th {text-align:left; border-top:1px solid #ccc; font-size:14px; line-height:16px; padding:9px 0 9px 15px; color:#111;}
.contemp_6 .cont_prod .cont_item .cont_info td {text-align:left; border-top:1px solid #ccc; font-size:12px; line-height:16px; color:#111; padding:9px 0; font-family:Dotum;}
.contemp_6 .cont_prod .cont_item .cont_info .info_tt {width:90px;}
.contemp_6 .cont_bbs {padding-bottom:35px;}
.contemp_6 .cont_bbs .bbs_tt {background:#f3f3f3; padding:4px 0 4px 52px; position:relative; margin-bottom:15px;}
.contemp_6 .cont_bbs .bbs_tt .bbs_num {background:#bd1d21; color:#fff; width:34px; height:100%; font-size:20px; text-align:center; font-weight:bold; position:absolute; top:0; left:0;}
.contemp_6 .cont_bbs .bbs_tt .bbs_num:after {content:""; border-left:4px solid #bd1d21; border-top:4px solid transparent;  border-bottom:4px solid transparent; width:0; height:0; position:absolute; top:50%; margin-top:-2px; left:34px;}
.contemp_6 .cont_bbs .bbs_tt .bbs_name {font-size:20px; font-weight:bold; color:#c31528; line-height:22px;}
.contemp_6 .cont_bbs .bbs_con {font-size:14px; line-height:22px; color:#666; margin-bottom:15px;}
.contemp_6 .cont_bbs .bbs_link .link_red {font-size:12px; color:#bd1d21; text-decoration:underline; font-family:Dotum;}



/* Temp07 */
.contemp_7 {padding:25px 0 40px; font-family:"Malgun Gothic";}
.contemp_7 .contemp_head {border:9px solid #f2f2f0; font-family:"Malgun Gothic"; padding:0 0 20px; margin-bottom:0;}
.contemp_7 .contemp_slogan {text-align:center; font-size:28px; letter-spacing:-0.1em; line-height:52px; color:#656774;}
.contemp_7 .contemp_title {text-align:center; font-size:46px; letter-spacing:-0.1em; line-height:52px; color:#656774; font-weight:bold;}
.contemp_7 .con_section {padding:45px 0 0;}
.contemp_7 .con_section .conbody_title_box {margin-bottom:10px;}
.contemp_7 .conbody_title_box .conbody_title { margin:0 auto 18px; text-align:center;}
.contemp_7 .conbody_title_box .conbody_title:after {content:""; border-top:2px solid; border-bottom:2px solid; width:100%; height:2px; display:block; margin:-16px 0 0;}
.contemp_7 .conbody_title_box .conbody_title .bg_box {display:inline-block; background:#fff; font-size:22px; letter-spacing:-0.03em; font-weight:bold; padding:0 15px;}
.contemp_7 .conbody_title_box .con_text {font-size:14px; line-height:22px; color:#757575; text-align:justify;}
.contemp_7 .con_list {*zoom:1; border:1px solid #eaeaea; display:table;}
.contemp_7 .con_list:after {content:""; display:block; clear:both;}
.contemp_7 .con_list .con_item {*float:left; display:table-cell; width:33.2%; padding-bottom:50px; position:relative; vertical-align:top;}
.contemp_7 .con_list .con_item + .con_item {border-left:1px solid #eaeaea;}
.contemp_7 .con_list .con_item .item_name {height:84px; text-align:center; display:table; width:100%; overflow:hidden;}
.contemp_7 .con_list .con_item .item_name .name_link {display:block; text-align:center; font-size:18px; font-weight:bold; letter-spacing:-0.07em; line-height:24px; text-decoration:none; display:table-cell; vertical-align:middle; height:84px; padding:0 14px; overflow:hidden; position:relative;}
.contemp_7 .con_list .con_item .item_thumb {max-width:210px; margin:0 auto 15px !important;}
.contemp_7 .con_list .con_item .item_text {padding:0 14px; font-size:13px; line-height:19px; letter-spacing:-0.025em; color:#666;}
.contemp_7 .con_list .con_item .item_text .item_slogan {margin-bottom:5px;}
.contemp_7 .con_list .con_item .item_info {*zomm:1; position:absolute; bottom:15px; height:20px; left:0; width:100%; }
.contemp_7 .con_list .con_item .item_info:after {content:""; display:block; clear:both;}
.contemp_7 .con_list .con_item .item_info .item_info_tt {float:left; margin-left:14px; width:82px; height:20px; line-height:18px; font-size:13px; letter-spacing:-0.05em; font-weight:bold; color:#fff; text-align:center;}
.contemp_7 .con_list .con_item .item_info .item_info_tt * {vertical-align:middle;}
.contemp_7 .con_list .con_item .item_info .item_info_tt .arrow {content:"";display:inline-block;margin:-2px 0 0 5px;border:3px solid transparent;border-right-width:0;border-left-color:#fff;}
.contemp_7 .con_list .con_item .item_info .item_price {float:right; font-size:12px; font-weight:bold; line-height:20px; margin-right:14px;}
.contemp_7 .con_list .con_item .item_info .item_price strong {font-size:16px; font-family:"Century Gothic"; display:inline-block; margin-top:-3px;}
.contemp_7 .con_list .con_item .item_info .item_price * {vertical-align:middle;}

.contemp_7 .clr_green .conbody_title:after {border-top:2px solid #afcecf; border-bottom:2px solid #afcecf;}
.contemp_7 .clr_green .bg_box {color:#197b82;}
.contemp_7 .clr_green .item_name .name_link {color:#1f7177;}
.contemp_7 .clr_green .item_info .item_info_tt {background:#1f7177;}
.contemp_7 .clr_green .item_info .item_price {color:#1f7177;}

.contemp_7 .clr_sky .conbody_title:after {border-top:2px solid #bfe4fb; border-bottom:2px solid #bfe4fb;}
.contemp_7 .clr_sky .bg_box {color:#2777d1;}
.contemp_7 .clr_sky .item_name .name_link {color:#2777d1;}
.contemp_7 .clr_sky .item_info .item_info_tt {background:#2777d1;}
.contemp_7 .clr_sky .item_info .item_price {color:#2777d1;}

.contemp_7 .clr_violet .conbody_title:after {border-top:2px solid #ddbffb; border-bottom:2px solid #ddbffb;}
.contemp_7 .clr_violet .bg_box {color:#5e4499;}
.contemp_7 .clr_violet .item_name .name_link {color:#5e4499;}
.contemp_7 .clr_violet .item_info .item_info_tt {background:#5e4499;}
.contemp_7 .clr_violet .item_info .item_price {color:#5e4499;}
}



@media (max-width:634px) {
.contemp *{ font-family:"AppleGothic","Malgun Gothic","Dotum",sans-serif;}

/* Temp01 */
.contemp_1 {padding:0 10px 40px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_1 .contemp_head {display:table; height:113px; vertical-align:middle; width:100%; margin-bottom:0;}
.contemp_1 .contemp_head .contemp_head_box {display:table-cell; vertical-align:middle; height:113px; padding:0 15px;}
.contemp_1 .contemp_head .contemp_title {text-align:center; font-size:38px; letter-spacing:-0.025em; line-height:38px; color:#000; margin-bottom:20px }
.contemp_1 .contemp_head .contemp_tt_text {text-align:center; font-size:16px; line-height:20px; letter-spacing:-0.025em; color:#666;}
.contemp_1 .con_video {border:5px solid #000; position:relative; padding-bottom:56.5%; margin-bottom:20px;}
.contemp_1 .con_video iframe {position:absolute; top:0; left:0; height:100%;}
.contemp_1 .con_item_box {width:100%; margin-bottom:20px;}
.contemp_1 .con_item_info .con_item_tt {background:#1b1b1b; font-size:17px; font-weight:bold; letter-spacing:-0.025em; color:#fff; padding:15px 5px; line-height:22px;}
.contemp_1 .con_item_info .con_item_slogan {background:#f7f5f2; padding:15px 10px; font-size:15px; line-height:22px; font-weight:bold; letter-spacing:-0.025em; color:#666;}
.contemp_1 .con_item_info .con_item_text {font-size:15px; line-height:21px; letter-spacing:-0.01em; color:#666; padding:15px 10px;}
.contemp_1 .con_item_photo {width:100%;}
.contemp_1 .con_item_photo img {width:100%;}
.contemp_1 .con_type1 .con_img_sec {*zoom:1;}
.contemp_1 .con_type1 .con_img_sec:after {content:""; display:block; clear:both;}
.contemp_1 .con_type1 .con_img_sec .img_item {float:left; position:relative; width:48.5%; font-size:0; line-height:0; margin-bottom:10px; }
.contemp_1 .con_type1 .con_img_sec .img_item:nth-child(even) {float:right;}
.contemp_1 .con_type1 .con_img_sec .img_item img {width:100%;}
.contemp_1 .con_type1 .con_img_sec .img_item .img_label {position:absolute; right:0; bottom:0; width:28px; height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; background:#000; opacity:0.7; filter:alpha(opacity=70);}
.contemp_1 .con_type1 .con_info_sec {background:#f5f5f5; padding:15px;}
.contemp_1 .con_type1 .con_info_sec .con_info_tt {font-size:16px; font-weight:bold; color:#333; margin-bottom:10px;}
.contemp_1 .con_type1 .con_info_sec .con_info_list li {padding-left:15px; text-indent:-15px; font-size:14px; line-height:20px; color:#666; margin-bottom:5px;}
.contemp_1 .con_type1 .con_info_sec .con_info_list li .info_label {font-weight:bold; color:#000;}

/* Temp02 */
.contemp_2 {padding:0 10px 30px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_2 .contemp_head {font-size:0; line-height:0; margin-bottom:20px;}
.contemp_2 .contemp_head img {width:100%;}
.contemp_2 .contemp_title1 {text-align:center; position:relative; margin-bottom:10px;}
.contemp_2 .contemp_title1:before {border-bottom:2px solid #111; content:"";display:block; position:absolute; top:50%; margin-top:-1px; left:0; width:100%; }
.contemp_2 .contemp_title1 .contemp_tt_text {display:inline-block; font-size:28px; font-weight:bold; letter-spacing:-0.025em; color:#111; background:#fff; padding:0 10px; max-width:70%; position:relative;}
.contemp_2 .con_main_box .con_main_brand {font-size:16px; font-weight:bold; line-height:20px; text-align:center; color:#111; margin-bottom:10px;}
.contemp_2 .con_main_box .con_main_brand .brand_label {color:#666; display:inline-block; margin-right:10px;}
.contemp_2 .con_main_box .con_main_slogan {text-align:center; font-size:16px; line-height:18px; color:#111; margin-bottom:10px;}
.contemp_2 .con_main_box .con_main_spec {font-size:14px; line-height:18px; color:#757575; margin-bottom:15px; text-align:center;}
.contemp_2 .con_main_box .con_main_img {text-align:center; font-size:0; line-height:0; margin-bottom:20px;}
.contemp_2 .con_main_box .con_main_info {background:#f5f5f5; border-bottom:2px solid #d1d1d1; padding:15px;}
.contemp_2 .con_main_box .con_main_info .con_main_text {font-size:16px; line-height:21px; margin-bottom:15px; color:#333;}
.contemp_2 .con_main_box .con_main_info .con_main_item {text-indent:-12px; padding-left:12px; font-size:15px; line-height:18px; font-weight:bold; margin-bottom:8px; color:#333;}
.contemp_2 .con_sub_box {padding:8px 0;}
.contemp_2 .con_sub_box .con_list_item {padding:20px 0; width:100%;}
.contemp_2 .con_sub_box .con_list_item + .con_list_item {border-top:2px solid #efefef;}
.contemp_2 .con_sub_box .con_list_item .con_list_img {width:100%; margin-bottom:10px;}
.contemp_2 .con_sub_box .con_list_item .con_list_img img {width:100%;}
.contemp_2 .con_sub_box .con_list_item .con_list_title {display:table; margin-bottom:10px;}
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_num {display:table-cell; vertical-align:top; padding-top:5px;}
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_num span {font-size:14px; font-weight:bold; color:#fff; text-align:center; width:33px; height:36px; line-height:36px; background:#515151; display:block;}
.contemp_2 .con_sub_box .con_list_item .con_list_title .con_list_name {display:table-cell; vertical-align:middle; font-size: 18px; font-weight:bold; line-height:20px; color:#757575; word-break:keep-all; padding-left:10px;}
.contemp_2 .con_sub_box .con_list_item .con_list_text1 {font-size:14px; line-height:20px; font-weight:bold; letter-spacing:-0.01em; color:#333; margin-bottom:15px;}
.contemp_2 .con_sub_box .con_list_item .con_list_text2 {font-size:13px; line-height:19px; color:#757575;}
.contemp_2 .con_img_title {position:relative; text-align:center; margin-bottom:20px;}
.contemp_2 .con_img_title:before {border-bottom:2px solid #bebebe; content:"";display:block; position:absolute; top:12px; margin-top:0; left:0; width:100%; }
.contemp_2 .con_img_title .img_title_text {display:inline-block; font-size:20px; line-height:24px; font-weight:bold; letter-spacing:-0.025em; color:#666; background:#fff; padding:0 12px; max-width:60%; position:relative;}
.contemp_2 .con_img_item {margin-bottom:10px; font-size:0; line-height:0;}
.contemp_2 .con_img_item img {width:100%;}
.contemp_2 .third_sec {padding-top:20px;}
.contemp_2 .half_Sec .con_img_item {width:100%;}
.contemp_2 .third_sec .con_img_item {width:85%; margin:0 auto 17px;}
.contemp_2 .con_img_item .con_img_text {text-align:center; font-size:14px; line-height:18px; color:#666; margin-top:10px;}

/* Temp03 */
.contemp_3 {padding:0 10px 30px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_3 .contemp_head {display:table; height:124px; vertical-align:middle; width:100%; margin-bottom:0;}
.contemp_3 .contemp_head .contemp_head_box {display:table-cell; vertical-align:middle; height:124px;}
.contemp_3 .contemp_head .contemp_title {text-align:left; font-size:34px; line-height:36px; color:#5d4848; margin-bottom:10px }
.contemp_3 .contemp_head .contemp_tt_text {text-align:left; font-size:15px; line-height:19px; color:#5d4848;}
.contemp_3 .con_item_box {width:100%; margin-bottom:20px;}
.contemp_3 .con_item_info {vertical-align:top;}
.contemp_3 .con_item_info .con_item_tt {background:#f9f5f0; font-size:21px; font-weight:bold; color:#5d4848; padding:10px 10px 0; line-height:25px; border-top:2px solid #7d7061;}
.contemp_3 .con_item_info .con_item_slogan {background:#f9f5f0; padding:10px; font-size:15px; line-height:20px; color:#666;}
.contemp_3 .con_item_info .con_item_text {font-size:14px; line-height:21px; color:#666; padding:10px;}
.contemp_3 .con_item_photo {width:100%; vertical-align:top; text-align:center;}
.contemp_3 .con_img_box1 .con_img_tt {background:#5d4848; font-size:14px; font-weight:bold; line-height:20px; color:#fefefe; padding:2px 10px 5px;}
.contemp_3 .con_img_box1 .con_img_sec {font-size:0; line-height:0; margin-bottom:10px;}
.contemp_3 .con_img_box1 .con_img_text {font-size:15px; line-height:20px; color:#666; margin-bottom:15px;}
.contemp_3 .con_type1 .con_img_sec {*zoom:1; margin-bottom:10px;}
.contemp_3 .con_type1 .con_img_sec:after {content:""; display:block; clear:both;}
.contemp_3 .con_type1 .con_img_sec .img_item {float:left; position:relative; width:48.63%; font-size:0; line-height:0; margin-bottom:10px; border:1px solid #ebebeb; box-sizing:border-box;}
.contemp_3 .con_type1 .con_img_sec .img_item + .img_item {margin-left:2.74%;}
.contemp_3 .con_type1 .con_img_sec .img_item img {width:100%;}
.contemp_3 .con_type1 .con_img_sec .img_item.full_section {width:100%; margin-left:0;}
.contemp_3 .con_type1 .con_img_sec .img_item .img_label {position:absolute; right:1px; bottom:1px; width:28px; height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; background:#000; opacity:0.7; filter:alpha(opacity=70);}
.contemp_3 .con_type1 .con_info_sec {border:1px solid #c8c1b9; background:#f9f9f9; padding:10px 15px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list {list-style:none;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li {padding-left:27px; text-indent:-27px; font-size:14px; line-height:18px; color:#757575; margin-bottom:5px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li + li {border-top:1px dotted #ccc; padding-top:5px}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label {font-weight:bold; color:#7d7061; display:inline-block; width:20px; text-indent:0; margin-right:7px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label:after {content:"|"; color:#ccc; float:right;}

/* Temp04 */
.contemp_4 {padding:0 0 30px; font-family:"AppleGothic","Malgun Gothic"; background:url(//img.danawa.com/new/community_new/temp/img/temp4_bg.png) top center no-repeat; background-size:100%;}
.contemp_4 .contemp_head {margin-bottom:0; padding:30px 10px 23px;}
.contemp_4 .contemp_head .contemp_title {text-align:center; font-size:42px; color:#343434; line-height:43px; margin-bottom:15px;}
.contemp_4 .contemp_head .contemp_tt_text {text-align:center; font-size:16px; line-height:20px; color:#666;}
.contemp_4 .con_body_title {border-top:2px solid #959595; border-bottom:2px solid #959595;}
.contemp_4 .con_body_title .title {border-bottom:2px solid #959595; padding:15px 40px; text-align:center; font-size:20px; line-height:24px; font-weight:bold; color:#757575; word-break:keep-all; position:relative;}
.contemp_4 .con_body_title .title span {position:absolute; bottom:17px;}
.contemp_4 .con_body_title .title span.bar_left {left:30px;}
.contemp_4 .con_body_title .title span.bar_right {right:30px;}
.contemp_4 .con_body_title .tt_text {padding:15px 10px; font-size:14px; line-height:21px; color:#666; text-align:justify;}
.contemp_4 .temp4_type1_box {border-bottom:2px solid #959595; padding:30px 10px 0;}
.contemp_4 .box_table {margin-bottom:30px; width:100%; box-sizing:border-box;}
.contemp_4 .box_table .box_img {width:100%;}
.contemp_4 .box_table .box_img img {width:100%;}
.contemp_4 .box_table .box_title_text .box_title {margin:15px 0 10px;}
.contemp_4 .box_table .box_title_text .prod_name {font-size:20px; font-weight:bold; color:#757575; line-height:24px; padding-left:45px; text-indent:-45px;}
.contemp_4 .box_table .box_title_text .go_detail {margin:12px 0 0;}
.contemp_4 .box_table .box_title_text .go_detail a {display:inline-block; text-decoration:none; border:1px solid #d3d3d3; height:22px; line-height:23px; padding:0 10px; font-size:14px; color:#0275e0; font-weight:bold;}
.contemp_4 .box_table .box_title_text .go_detail a:after{vertical-align:middle; content:"";display:inline-block;margin:-8px 0 0 12px;border:3px solid transparent;border-right-width:0;border-left-color:#0275e0;}
.contemp_4 .box_table .box_title_text .box_info {font-size:15px; line-height:21px; color:#666;}
.contemp_4 .box_sepc {display:none;}
.contemp_4 .box_sepc_mo table {border-collapse:collapse; width:100%;}
.contemp_4 .box_sepc_mo table caption {display:none;}
.contemp_4 .box_sepc_mo table th {border-top:1px solid #808080;border-bottom:1px solid #808080; font-family:Dotum; height:25px; font-size:12px; color:#666; font-weight:normal;}
.contemp_4 .box_sepc_mo table tr + tr th {border-top:2px solid #808080;}
.contemp_4 .box_sepc_mo table td {border-top:1px solid #808080;border-bottom:1px solid #808080; font-family:Dotum; height:25px; font-size:12px; color:#666; text-align:center;}
.contemp_4 .box_text {background:#fff; font-size:15px; line-height:21px; color:#666; padding:10px 0 30px;}
.contemp_4 .temp4_text {padding:15px 10px; border-bottom:2px solid #959595; font-size:15px; line-height:21px; color:#666;}
.contemp_4 .temp4_list_wrap {padding:20px 10px 0;}
.contemp_4 .temp4_list .temp4_item {margin-bottom:40px;}
.contemp_4 .temp4_list .temp4_item .item_photo {margin-bottom:10px;}
.contemp_4 .temp4_list .temp4_item .item_photo img {width:100%;}
.contemp_4 .temp4_list .temp4_item .item_name {font-size:18px; font-weight:bold; color:#757575;}
.contemp_4 .temp4_list .temp4_item .go_detail {margin:10px 0 20px;}
.contemp_4 .temp4_list .temp4_item .go_detail a {display:inline-block; text-decoration:none; border:1px solid #d3d3d3; height:22px; line-height:23px; padding:0 10px; font-size:14px; color:#0275e0; font-weight:bold;}
.contemp_4 .temp4_list .temp4_item .go_detail a * {vertical-align:middle;}
.contemp_4 .temp4_list .temp4_item .go_detail a:after{vertical-align:middle; content:"";display:inline-block;margin:-8px 0 0 12px;border:3px solid transparent;border-right-width:0;border-left-color:#0275e0;}
.contemp_4 .temp4_list .temp4_item .item_detail_table {border-collapse:collapse; width:100%; border-bottom:1px solid #c9c9c9;}
.contemp_4 .temp4_list .temp4_item .item_detail_table caption {display:none;}
.contemp_4 .temp4_list .temp4_item .item_detail_table th {border-top:1px solid #c9c9c9; font-family:Dotum; padding:8px 0; font-size:12px; color:#757575; }
.contemp_4 .temp4_list .temp4_item .item_detail_table td {border-top:1px solid #c9c9c9; font-family:Dotum; padding:8px 0; font-size:12px; color:#757575;}
.contemp_4 .temp4_list .temp4_item .item_detail_table td a {color:#1624de}

/* Temp05 */
.contemp_5 {padding:0 0 40px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_5 .contemp_head {*zoom:1; border-bottom:1px solid #eee; padding:20px 10px; margin-bottom:30px;}
.contemp_5 .contemp_head:after {content:""; display:block; clear:both;}
.contemp_5 .contemp_head .contemp_title {font-size:34px; line-height:40px; font-weight:bold; color:#526192; letter-spacing:-0.075em; vertical-align:top; margin-bottom:15px;}
.contemp_5 .contemp_head .contemp_tt_text {font-size:14px; line-height:20px; letter-spacing:-0.015em; color:#666; vertical-align:top;}
.contemp_5 .cont_list {padding-bottom:45px;}
.contemp_5 .cont_list .cont_item {margin-bottom:15px;}
.contemp_5 .cont_list .cont_photo {width:80%; margin:0 auto 15px; }
.contemp_5 .cont_list .cont_photo img {width:100%; border:4px solid #eee; box-sizing:border-box;}
.contemp_5 .cont_list .cont_info {padding:0 10px; vertical-align:top;}
.contemp_5 .cont_list .cont_info .info_tt {font-size:20px; font-weight:bold; letter-spacing:-0.05em; color:#333; line-height:26px; margin-bottom:15px; word-break:break-all;}
.contemp_5 .cont_list .cont_info .info_box {*zoom:1; margin-bottom:7px;}
.contemp_5 .cont_list .cont_info .info_box:after {content:""; display:block; clear:both;}
.contemp_5 .cont_list .cont_info .info_box .info_label {float:left; font-size:12px; line-height:16px; color:#757575; font-family:Dotum; width:13%;}
.contemp_5 .cont_list .cont_info .info_box .info_txt {float:left; font-size:12px; line-height:16px; color:#333; font-family:Dotum; width:87%;}
.contemp_5 .cont_list .cont_info .info_spec {font-size:12px; line-height:16px; color:#333; margin-bottom:15px;}
.contemp_5 .cont_list .cont_info .info_spec li {display:inline; font-family:Dotum;}
.contemp_5 .cont_list .cont_info .info_spec li + li:before {content:"/ ";}
.contemp_5 .cont_list .cont_info .temp5_btn_area {margin-bottom:15px; font-size:0; line-height:0;}
.contemp_5 .cont_list .cont_info .temp5_btn_area .btn_review {display:inline-block; padding:2px 15px 2px 4px; border:1px solid #4266db; font-size:11px; margin-right:10px; font-family:Dotum; color:#4266db; height:12px; line-height:14px; text-decoration:none; background:url(//img.danawa.com/new/community_new/temp/img/temp5_btn.png) 90% 5px no-repeat;}
.contemp_5 .cont_list .cont_info .temp5_btn_area .btn_price {display:inline-block; background:#4266db url(//img.danawa.com/new/community_new/temp/img/temp5_btn.png) 90% -19px no-repeat; padding:3px 16px 3px 5px;  font-size:11px; font-family:Dotum; color:#fff; height:12px; line-height:14px; text-decoration:none;}
.contemp_5 .cont_list .info_box2 {*zoom:1; padding:10px 15px;}
.contemp_5 .cont_list .info_box2:after {content:""; display:block; clear:both;}
.contemp_5 .cont_list .info_box2 .info_label {float:left; width:13%; font-size:14px; line-height:20px; padding:4px 0; font-weight:bold; color:#205eb0;}
.contemp_5 .cont_list .info_box2 .info_txt {float:left; width:87%; font-size:14px; line-height:20px; padding:4px 0; font-weight:bold; color:#333; letter-spacing:-0.02em;}
.contemp_5 .cont_list .info_box2.bg_yellow {background:#fbf6e9;}
.contemp_5 .cont_list .info_box2.bg_mint {background:#ebf8f4;}
.contemp_5 .cont_list .info_box2.bg_pink {background:#fbf0f2;}
.contemp_5 .cont_list .info_box2.bg_green {background:#f5f7ea;}
.contemp_5 .cont_list .item_text {font-size:14px; line-height:20px; color:#666; padding:0 10px;}

/* Temp06 */
.contemp_6 {padding:0 0 20px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_6 .contemp_head {padding:30px 0 0;width:100%; margin-bottom:5px;}
.contemp_6 .contemp_head .head_img {width:85%; margin-left:10px;}
.contemp_6 .contemp_head .head_img img {width:100%;}
.contemp_6 .contemp_head .head_title {padding:0 10px;}
.contemp_6 .contemp_head .head_title .title_text {font-size:36px; letter-spacing:-0.1em; line-height:44px; color:#454545; padding-top:5px;}
.contemp_6 .contemp_head .head_title .title_text .red {font-weight:normal; color:#a90013; display:block;}
.contemp_6 .cont_text {font-size:16px; line-height:21px; letter-spacing:-0.005em; color:#333; padding:0 10px 40px;}
.contemp_6 .cont_prod {*zoom:1; padding:0 10px;}
.contemp_6 .cont_prod .cont_item { margin-bottom:30px}
.contemp_6 .cont_prod .cont_item .cont_photo img {width:100%;}
.contemp_6 .cont_prod .cont_item .cont_photo {margin-bottom:5px;}
.contemp_6 .cont_prod .cont_item .cont_title {display:table; width:100%; *zoom:1;}
.contemp_6 .cont_prod .cont_item .cont_title:after {content:""; display:block; clear:both;}
.contemp_6 .cont_prod .cont_item .cont_title .tt_num {display:table-cell; width:90px; text-align:center; font-size:52px; letter-spacing:-0.025em; color:#a90013; vertical-align:top;}
.contemp_6 .cont_prod .cont_item .cont_title .tt_name {display:table-cell; font-size:22px; line-height:26px; letter-spacing:-0.025em; color:#a90013; vertical-align:middle;}
.contemp_6 .cont_prod .cont_item .cont_info {border-collapse:collapse; border-bottom:1px solid #ccc; width:100%;}
.contemp_6 .cont_prod .cont_item .cont_info caption {display:none;}
.contemp_6 .cont_prod .cont_item .cont_info th {text-align:left; border-top:1px solid #ccc; font-size:14px; line-height:16px; padding:9px 0 9px 20px; color:#111;}
.contemp_6 .cont_prod .cont_item .cont_info td {text-align:left; border-top:1px solid #ccc; font-size:12px; line-height:16px; color:#111; padding:9px 0; font-family:Dotum;}
.contemp_6 .cont_prod .cont_item .cont_info .info_tt {width:25%;}
.contemp_6 .cont_bbs {padding:0 10px 35px;}
.contemp_6 .cont_bbs .bbs_tt {background:#f3f3f3; position:relative; margin-bottom:10px; display:table; width:100%;}
.contemp_6 .cont_bbs .bbs_tt .bbs_num {background:#bd1d21; color:#fff; width:38px; height:100%; font-size:20px; text-align:center; font-weight:bold; display:table-cell;}
.contemp_6 .cont_bbs .bbs_tt .bbs_num:after {content:""; border-left:4px solid #bd1d21; border-top:4px solid transparent;  border-bottom:4px solid transparent; width:0; height:0; position:absolute; top:50%; margin-top:-2px; left:34px;}
.contemp_6 .cont_bbs .bbs_tt .bbs_name {display:table-cell; font-size:20px; font-weight:bold; color:#c31528; line-height:22px; padding:4px 0 4px 14px;}
.contemp_6 .cont_bbs .bbs_con {font-size:14px; line-height:20px; color:#666; margin-bottom:15px;}
.contemp_6 .cont_bbs .bbs_link .link_red {font-size:12px; color:#bd1d21; text-decoration:underline; font-family:Dotum;}


/* Temp07 */
.contemp_7 {padding:10px 10px 30px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_7 .contemp_head {border:9px solid #f2f2f0; font-family:"AppleGothic","Malgun Gothic"; padding:18px 15px 20px; margin-bottom:0;}
.contemp_7 .contemp_slogan {text-align:center; font-size:18px; letter-spacing:-0.075em; line-height:120%; color:#656774; margin-bottom:10px; word-break:keep-all;}
.contemp_7 .contemp_title {text-align:center; font-size:34px; letter-spacing:-0.1em; line-height:120%; color:#656774; font-weight:bold; word-break:keep-all;}
.contemp_7 .con_section {padding:25px 0 0;}
.contemp_7 .con_section .conbody_title_box {margin-bottom:10px;}
.contemp_7 .conbody_title_box .conbody_title { margin:0 auto 18px; text-align:center;}
.contemp_7 .conbody_title_box .conbody_title:after {content:""; border-top:2px solid #eee; border-bottom:2px solid #eee; width:100%; height:2px; display:block; margin:-16px 0 0;}
.contemp_7 .conbody_title_box .conbody_title .bg_box {display:block; background:#fff; font-size:20px; line-height:24px; letter-spacing:-0.03em; font-weight:bold; width:65%; margin:0 auto;word-break:keep-all;}
.contemp_7 .conbody_title_box .conbody_title .bg_box em {font-style:normal; background:#fff; display:inline-block;}
.contemp_7 .conbody_title_box .con_text {font-size:14px; line-height:18px; color:#757575; text-align:justify;}
.contemp_7 .con_list {border:1px solid #eaeaea;}
.contemp_7 .con_list .con_item {padding:0 10px 15px;}
.contemp_7 .con_list .con_item + .con_item {border-top:1px solid #eaeaea;}
.contemp_7 .con_list .con_item .item_name {text-align:center; width:100%;}
.contemp_7 .con_list .con_item .item_name .name_link {display:block; text-align:center; font-size:18px; font-weight:bold; letter-spacing:-0.07em; line-height:24px; text-decoration:none; padding:10px 14px;  position:relative;}
.contemp_7 .con_list .con_item .item_thumb {max-width:210px; margin:0 auto 7px !important;}
.contemp_7 .con_list .con_item .item_text {padding:0 0 15px; font-size:14px; line-height:22px; letter-spacing:-0.025em; color:#666;}
.contemp_7 .con_list .con_item .item_text .item_slogan {margin-bottom:5px;}
.contemp_7 .con_list .con_item .item_info {*zomm:1; height:20px; width:100%; }
.contemp_7 .con_list .con_item .item_info:after {content:""; display:block; clear:both;}
.contemp_7 .con_list .con_item .item_info .item_info_tt {float:left; width:82px; height:20px; line-height:15px; font-size:13px; letter-spacing:-0.05em; font-weight:bold; color:#fff; text-align:center; padding:3px 0 2px;}
.contemp_7 .con_list .con_item .item_info .item_info_tt * {vertical-align:middle;}
.contemp_7 .con_list .con_item .item_info .item_info_tt .arrow {content:"";display:inline-block;margin:-2px 0 0 5px;border:3px solid transparent;border-right-width:0;border-left-color:#fff;}
.contemp_7 .con_list .con_item .item_info .item_price {float:right; font-size:12px; font-weight:bold; line-height:20px;}
.contemp_7 .con_list .con_item .item_info .item_price strong {font-size:16px; font-family:"Century Gothic"; display:inline-block; margin-top:-3px;}
.contemp_7 .con_list .con_item .item_info .item_price * {vertical-align:middle;}

.contemp_7 .item_info_text {text-align:justify; line-height:18px;}

.contemp_7 .clr_green .conbody_title:after {border-top:2px solid #afcecf; border-bottom:2px solid #afcecf;}
.contemp_7 .clr_green .bg_box {color:#197b82;}
.contemp_7 .clr_green .item_name .name_link {color:#1f7177;}
.contemp_7 .clr_green .item_info .item_info_tt {background:#1f7177;}
.contemp_7 .clr_green .item_info .item_price {color:#1f7177;}

.contemp_7 .clr_sky .conbody_title:after {border-top:2px solid #bfe4fb; border-bottom:2px solid #bfe4fb;}
.contemp_7 .clr_sky .bg_box {color:#2777d1;}
.contemp_7 .clr_sky .item_name .name_link {color:#2777d1;}
.contemp_7 .clr_sky .item_info .item_info_tt {background:#2777d1;}
.contemp_7 .clr_sky .item_info .item_price {color:#2777d1;}

.contemp_7 .clr_violet .conbody_title:after {border-top:2px solid #ddbffb; border-bottom:2px solid #ddbffb;}
.contemp_7 .clr_violet .bg_box {color:#5e4499;}
.contemp_7 .clr_violet .item_name .name_link {color:#5e4499;}
.contemp_7 .clr_violet .item_info .item_info_tt {background:#5e4499;}
.contemp_7 .clr_violet .item_info .item_price {color:#5e4499;}


}


@media (max-width:480px) {

/* Temp03 */
.contemp_3 {padding:0 10px 30px; font-family:"AppleGothic","Malgun Gothic";}
.contemp_3 .contemp_head {display:table; height:124px; vertical-align:middle; width:100%; margin-bottom:0;}
.contemp_3 .contemp_head .contemp_head_box {display:table-cell; vertical-align:middle; height:124px;}
.contemp_3 .contemp_head .contemp_title {text-align:left; font-size:34px; line-height:36px; color:#5d4848; margin-bottom:10px }
.contemp_3 .contemp_head .contemp_tt_text {text-align:left; font-size:15px; line-height:19px; color:#5d4848;}
.contemp_3 .con_item_box {width:100%; margin-bottom:20px;}
.contemp_3 .con_item_info {vertical-align:top;}
.contemp_3 .con_item_info .con_item_tt {background:#f9f5f0; font-size:21px; font-weight:bold; color:#5d4848; padding:10px 10px 0; line-height:25px; border-top:2px solid #7d7061;}
.contemp_3 .con_item_info .con_item_slogan {background:#f9f5f0; padding:10px; font-size:15px; line-height:20px; color:#666;}
.contemp_3 .con_item_info .con_item_text {font-size:14px; line-height:20px; color:#666; padding:10px;}
.contemp_3 .con_item_photo {width:100%; vertical-align:top; text-align:center;}
.contemp_3 .con_img_box1 .con_img_tt {background:#5d4848; font-size:14px; font-weight:bold; line-height:20px; color:#fefefe; padding:2px 10px 5px;}
.contemp_3 .con_img_box1 .con_img_sec {font-size:0; line-height:0; margin-bottom:10px;}
.contemp_3 .con_img_box1 .con_img_text {font-size:15px; line-height:20px; color:#666; margin-bottom:15px;}
.contemp_3 .con_type1 .con_img_sec {*zoom:1; margin-bottom:10px;}
.contemp_3 .con_type1 .con_img_sec:after {content:""; display:block; clear:both;}
.contemp_3 .con_type1 .con_img_sec .img_item {float:none; position:relative; width:100%; font-size:0; line-height:0; margin-bottom:10px; border:1px solid #ebebeb; box-sizing:border-box;}
.contemp_3 .con_type1 .con_img_sec .img_item + .img_item {margin-left:0;}
.contemp_3 .con_type1 .con_img_sec .img_item img {width:100%;}
.contemp_3 .con_type1 .con_img_sec .img_item.full_section {width:100%; margin-left:0;}
.contemp_3 .con_type1 .con_img_sec .img_item .img_label {position:absolute; right:1px; bottom:1px; width:28px; height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; display:block; background:#000; opacity:0.7; filter:alpha(opacity=70);}
.contemp_3 .con_type1 .con_info_sec {border:1px solid #c8c1b9; background:#f9f9f9; padding:10px 15px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list {list-style:none;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li {padding-left:27px; text-indent:-27px; font-size:14px; line-height:18px; color:#757575; margin-bottom:5px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li + li {border-top:1px dotted #ccc; padding-top:5px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label {font-weight:bold; color:#7d7061; display:inline-block; width:20px; text-indent:0; margin-right:7px;}
.contemp_3 .con_type1 .con_info_sec .con_info_list li .info_label:after {content:"|"; color:#ccc; float:right;}

}


@media (min-width:699px) {
.contemp_3 {padding:0 32px 40px 0;}
}




.btb_co{display:none;}
