@charset "UTF-8";

/* Initialize */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquopte,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button,input{margin:0;padding:0;}
ol,ul{list-style:none;}
img{border:none;}
body{font-family:Dotum,Arial,Verdana,san-serif;}

/* Catalog Banner */
.goods_catalog{border:1px solid #dbdbdb;width:610px;font-size:11px;overflow:hidden;padding:15px 0 12px;}
.goods_catalog ul{overflow:hidden;margin-left:-1px;}
.goods_catalog li{float:left;width:130px;padding:18px 11px 12px 10px;border-left:1px solid #e6e6e6;text-align:center;}
.goods_catalog li a{display:block;text-decoration:none;line-height:15px;color:#999;}
.goods_catalog li a:hover{text-decoration:underline;}
.goods_catalog .thumb{display:block;margin:0 auto 9px;width:100px;height:100px;}
.goods_catalog .name{display:block;height:28px;overflow:hidden;margin-bottom:4px;cursor:pointer;}
.goods_catalog .price{color:#000;font-family:"Tahoma";}
