@charset "euc-kr";

/* default Selector */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body {font-family:Dotum, AppleGothic, sans-serif;font-size: 12px; text-align:left;background-color:#fff;*word-break:break-all;-ms-word-break:break-all;babackground:url(//g.danawa.com/contents/brand/dnwcf/img/cf_pattern.gif) repeat left top;}

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:0;}
body, input, textarea, select, table {font-family:Dotum, AppleGothic, sans-serif; color:#333; font-size:12px;}
img, fieldset, button {border:0;}
hr, button img {display:none;}
li {list-style:none;}
em, address {font-style:normal;}
a {color:#0033ac; text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}
legend, .blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0;}
img {vertical-align:top;}
button {border:0; background:none; background-repeat:no-repeat; cursor:pointer;}

/* link */
a{color:#666;text-decoration:none;}
a:hover {text-decoration:underline;}

/* Type Selector */
img, fieldset, button,iframe {border:0 none}
em,address{font-style:normal}
li {list-style:none;}
hr{display:none}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.blind {display:block;overflow:hidden;position:absolute;left:0;top:-5000px}
table {border-collapse:collapse;}

/* layout */
#top_area {height:30px;background:#fff;width:100%;}
#wrap_event {clear:both;*zoom:1;overflow:hidden;width:100%;min-height:100%;height:auto !important;_height:994px;background:url(//img.danawa.com/contents/brand/dnwcf/img/main_bg.jpg) no-repeat center 0;}
#wrap_event2 {clear:both;*zoom:1;overflow:hidden;width:100%;min-height:100%;height:auto !important;_height:994px; background:url(//img.danawa.com/contents/brand/dnwcf/img/event1_bg.jpg) no-repeat center 0;}
#wrap_event3 {clear:both;*zoom:1;overflow:hidden;width:100%;min-height:100%;height:auto !important;_height:994px; background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_bg.jpg) no-repeat center 0;}
#wrap_event4 {clear:both;*zoom:1;overflow:hidden;width:100%;min-height:100%;height:auto !important;_height:994px; background:url(//img.danawa.com/contents/brand/dnwcf/img/download_bg.jpg) no-repeat center 0;}
#wrap_event5 {clear:both;*zoom:1;overflow:hidden;width:100%;min-height:100%;height:auto !important;_height:994px; background:url(//img.danawa.com/contents/brand/dnwcf/img/result_bg.jpg) no-repeat center 0;}

#content_text {width:1024px;margin:0 auto;position:relative;}
#content_event {width:100%;padding-top:233px;}
.content_event_line {background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_content.png) repeat-x 0 0;width:100%;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/bg_content.png', sizingMethod='scale');}
.content_center {width:1024px;margin:0 auto;clear:both;overflow:hidden;*zoom:1;}

/* top area */
#top_area h1 {float:left;}
#top_area .right_login_area {float:right;display:inline-block;margin-right:9px;margin-top:6px;}
#top_area .top_area_in {width:1024px;margin:0 auto;}

/* bg */
/*
.bg_left {overflow:visible; background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_box_left.gif) no-repeat 0 0;margin-left:50px;height:194px;}
.bg_right {background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_box_right.gif) no-repeat 100% 0; display:inline-block; padding:0 0px 0px 0px; margin-left:50px; white-space:nowrap;overflow:visible;height:194px;cursor:pointer}
*/

/* box */
.box {height:194px;width:1024px;}

/* png bg */
.title_event_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_event_1.png) no-repeat 0 0;width:1024px;height:68px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/title_event_1.png', sizingMethod='crop');display:block;cursor:pointer;}
.title_event_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_event_2.png) no-repeat 0 0;width:1024px;height:68px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/title_event_2.png', sizingMethod='crop');display:block;cursor:pointer;}
.title_event_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_event_3.png) no-repeat 0 0;width:1024px;height:68px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/title_event_3.png', sizingMethod='crop');display:block;cursor:pointer;}
.title_event_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_event_4.png) no-repeat 0 0;width:1024px;height:68px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/title_event_4.png', sizingMethod='crop');display:block;cursor:pointer;}
.text_event_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/text_event_1.png) no-repeat 0 0;width:484px;height:80px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/text_event_1.png', sizingMethod='crop');display:block;position:absolute;top:72px;left:99px;cursor:pointer;}
.img_event_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/img_event_1.png) no-repeat 0 0;width:1024px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/img_event_1.png', sizingMethod='crop');display:block;cursor:pointer;}
.img_event_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/img_event_2.png) no-repeat 0 0;width:1024px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/img_event_2.png', sizingMethod='crop');display:block;cursor:pointer;}
.img_event_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/img_event_3.png) no-repeat 0 0;width:1024px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/img_event_3.png', sizingMethod='crop');display:block;cursor:pointer;}
.img_event_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/img_event_4.png) no-repeat 0 0;width:1024px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/img_event_4.png', sizingMethod='crop');display:block;cursor:pointer;}
.go_event_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/go_event_1.png) no-repeat 0 0;width:265x;height:80px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/go_event_1.png', sizingMethod='crop');display:block;cursor:pointer;position:absolute;right:27px;top:20px;}
.img_left_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/img_left_1.png) no-repeat 0 0;width:460px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/img_left_1.png', sizingMethod='crop');display:block;cursor:pointer;}
.text_right_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/text_right_1.png) no-repeat 0 0;width:320px;height:194px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.danawa.com/contents/brand/dnwcf/img/text_right_1.png', sizingMethod='crop');display:block;cursor:pointer;position:absolute;right:0px;top:0px;}

/* layer */
#layer_1,#layer_2,#layer_3,#layer_4 {position:relative;*zoom:1;width:1024px;margin:0 auto;}

/* pop */
#pop_area {margin:0 auto;}
#pop_area1 {margin:0 auto;width:742px;}
#pop_area2 {margin:0 auto;width:618px;}
/*
#pop_area3 {margin:0 auto;width:618px;}
*/
#pop_area4 {margin:0 auto;width:618px;}
#pop_area5 {margin:0 auto;width:618px;}
#pop_area6 {margin:0 auto;width:618px;}
#pop_area7 {margin:0 auto;width:775px;background:#353535;}

#pop_area7 .btn_close_x {position:absolute;z-index:998;background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_close_x.gif) #353535 no-repeat 97% 15px;width:743px;height:40px;cursor:pointer;display:block;left:0px;top:40px;}
#pop_area7 .bg_dark {width:743px;height:5px;position:absolute;z-index:998;background:#353535;left:0px;top:856px;}

#pop_area8 {margin:0 auto;width:730px;height:841px;background:#353535;position:relative;}
#pop_area8 .btn_close_x {position:absolute;z-index:998;background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_close_x.gif) #353535 no-repeat 97% 15px;width:730px;height:40px;cursor:pointer;display:block;left:0px;top:0px;}
#pop_area8 .bg_dark {width:730px;height:5px;position:absolute;z-index:998;background:#353535;left:0px;top:807px;}
#pop_area8 .p_re {top:0px !important;}
#pop_area9 {margin:0 auto;width:775px;background:#353535;}
#pop_area9 .btn_close_x {position:absolute;z-index:998;background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_close_x.gif) #353535 no-repeat 97% 15px;width:743px;height:40px;cursor:pointer;display:block;left:0px;top:40px;}
#pop_area9 .bg_dark {width:750px;height:5px;position:absolute;z-index:998;background:#353535;left:0px;top:825px;}

.bg_dark2 {width:750px;height:5px;position:absolute;z-index:998;background:#353535;left:0px;top:856px;}

.p_re {position:relative;z-index:999;top:30px;}
.p_re2 {position:relative;z-index:999;top:0px;}

.btn_close_x {background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_close_x.gif) no-repeat left top;width:23px;height:23px;cursor:pointer;display:block;position:absolute;right:22px;top:13px;}
.pop1 {background:#000;height:534px;width:742px;position:absolute;top:133px;z-index:999;}
.movie_player {position:absolute;top:47px;left:11px;}

/*
.pop2 .text_02 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_text_2.jpg) no-repeat left top;width:548px;height:188px;text-indent:-9999em;margin:0 auto;position:relative;top:123px;}
*/
.pop4 {width:618px;height:605px;position:absolute;z-index:999;top:172px;background:#353535;}
.pop4 .title_01 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_title_1.jpg) no-repeat center 36px;width:540px;height:47px;text-indent:-9999em;padding-top:36px;margin:0 auto;border-bottom:1px solid #515151;}
.pop4 .photo_list {width:540px;*width:540px;margin:0 auto;text-align:center;border-bottom:1px solid #515151;padding-top:20px;padding-bottom:11px;}
.pop4 .photo_text {width:229px;margin:0 auto;text-align:center;display:inline-block;}
.pop4 .right_info_text {text-align:right;margin-right:40px;position:relative;top:18px;}
.mr13 {margin-right:20px !important;}

.pop5 {background:#353535;width:618px;height:668px;position:absolute;z-index:999;top:172px;}
.pop5 .title_01 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_title_2.jpg) no-repeat center 34px;width:540px;height:38px;text-indent:-9999em;margin:0 auto;padding-top:36px;margin-bottom:10px;border-bottom:1px solid #515151;}
.pop5 .img_map {width:542px;margin:0 auto;}
.pop5 .right_info_text {text-align:right;margin-right:38px;position:relative;top:38px;}

.pop6 {background:#353535;width:618px;height:567px;position:absolute;z-index:999;top:172px;}
.pop6 .title_01 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_title_3.jpg) no-repeat center 34px;width:540px;height:36px;text-indent:-9999em;margin:0 auto;padding-top:36px;margin-bottom:21px;border-bottom:1px solid #515151;}
.pop6 .img_map {width:542px;margin:0 auto;}
.pop6 .right_info_text {text-align:right;margin-right:38px;position:relative;top:40px;}
.pop7 {width:767px;height:790px;position:absolute;z-index:99;top:70px}
.pop8 {width:730px;height:810px;position:absolute;z-index:99;top:70px;background:#353535;}
.pop8 .game_start {background:#000;height:588px;position:relative;margin-top:36px;width:673px;left:42px;}
.pop8 .text_imgs {margin-left:42px;}
.pop9 {width:767px;height:790px;position:absolute;z-index:99;top:70px}

.game_menu {float:left;}
.game_menu2 {float:left;width:100%;}
.game_menu span {padding:0px;float:left;display:block;}
.game_menu a {float:left;margin:1px 0 0 1px;}
.bg_black {clear:both;background:#000;height:528px;}

.game_vs {padding:61px 0 0 36px;overflow:hidden;}
.game_vs img {}
.game_vs span {padding:0px;float:left;display:block;margin-top:77px;}
.game_menu a {float:left;}

.game_graph {margin-top:19px;margin-left:34px;overflow:hidden;clear:both;}
.bg_graph {width:606px;height:7px;background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_graph.gif) repeat-x left top;}
.bg_graph span {width:606px;height:7px;background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_graph_percent.gif) repeat-x left top;display:block;}
.game_graph .text {position:relative;width:606px;}
.game_graph .text .text_start {position:absolute;left:0px;top:6px;background:url(//img.danawa.com/contents/brand/dnwcf/img/text_start.gif) no-repeat left top;width:29px;height:11px;display:block;}
.game_graph .text .text_finish {position:absolute;right:0px;top:6px;background:url(//img.danawa.com/contents/brand/dnwcf/img/text_finish.gif) no-repeat left top;width:31px;height:11px;display:block;}

.goods_price {margin:78px 0 0 37px;float:left;}

/*
;overflow-y:scroll;overflow-x:hidden;scrollbar-face-color: #333333; scrollbar-shadow-color: #333333; scrollbar-highlight-color: #666666; scrollbar-3dlight-color: #101010; scrollbar-darkshadow-color: #070707; scrollbar-track-color: #101010; scrollbar-arrow-color: #000000
*/

/* go link */
.btn_type1 {width:135px;height:40px;display:block;position:absolute;top:40px;left:490px;text-indent:-9999em;overflow:hidden;}
.btn_type2 {width:120px;height:40px;display:block;position:absolute;top:40px;right:210px;text-indent:-9999em;overflow:hidden;}
.btn_type3 {width:110px;height:40px;display:block;position:absolute;top:40px;right:30px;text-indent:-9999em;overflow:hidden;}
.btn_type4 {width:135px;height:40px;display:block;position:absolute;top:112px;left:490px;text-indent:-9999em;overflow:hidden;}
.btn_type5 {width:150px;height:40px;display:block;position:absolute;top:112px;right:210px;text-indent:-9999em;overflow:hidden;}
.btn_type6 {width:150px;height:40px;display:block;position:absolute;top:112px;right:20px;text-indent:-9999em;overflow:hidden;}

/* game day nums */


.day_0 {background:url(//img.danawa.com/contents/brand/dnwcf/img/day_entry.gif) no-repeat;background-position:0 0;width:11px;height:18px;display:block;position:absolute;top:307px;left:427px;}
.day_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/day_entry.gif) no-repeat;background-position:-19px 0;width:11px;height:18px;display:block;position:absolute;top:307px;left:427px;}
.day_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/day_entry.gif) no-repeat;background-position:-41px 0;width:11px;height:18px;display:block;position:absolute;top:307px;left:427px;}
.day_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/day_entry.gif) no-repeat;background-position:-61px 0;width:11px;height:18px;display:block;position:absolute;top:307px;left:427px;}
.day_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/day_entry.gif) no-repeat;background-position:-81px 0;width:11px;height:18px;display:block;position:absolute;top:307px;left:427px;}

/* game menu */

.plan_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_1.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_2.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_3.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_4.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_5.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_6.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_7.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.plan_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/plan_8.gif) no-repeat;background-position:0 0;width:83px;height:78px;}

.going_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_1.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_2.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_3.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_4.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_5.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_6.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_7.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.going_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/going_8.gif) no-repeat;background-position:0 0;width:83px;height:78px;}

.result_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_1.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_2.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_3.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_4.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_5.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_6.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_7.gif) no-repeat;background-position:0 0;width:83px;height:78px;}
.result_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_8.gif) no-repeat;background-position:0 0;width:83px;height:78px;}



.vs_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_4.gif) no-repeat;background-position:0 0;width:156px;height:160px;}
.vs_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_8.gif) no-repeat;background-position:0 0;width:156px;height:160px;}
.vs_16 {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_16.gif) no-repeat;background-position:0 0;width:156px;height:160px;}
.vs_32 {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_32.gif) no-repeat;background-position:0 0;width:156px;height:160px;}
.vs_final {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_final.gif) no-repeat;background-position:0 0;width:156px;height:160px;}
.vs_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/vs_final.gif) no-repeat;background-position:0 0;width:156px;height:160px;}

.game_title_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_1.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_2.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_3.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_6.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_4.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_5.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_7.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}
.game_title_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/title_8.gif) no-repeat center top;width:303px;height:71px;margin-left:151px;margin-top:22px}

.confirm_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_5.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_1.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_2.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_3.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_8.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_4.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_6.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}
.confirm_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/confirm_7.gif) no-repeat left top;width:316px;height:344px;float:left;margin-top:78px;position:relative;}


/* btn types */
.btn_entry_view {background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_entry_view.gif) no-repeat left top;width:125px;height:20px;display:block;text-indent:-9999em;margin:8px 15px 8px 0;_margin:8px 7px 8px 0;float:right;overflow:hidden;}
.btn_start {background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_start.gif) no-repeat left top;width:170px;height:170px;display:block;position:absolute;top:210px;right:46px;text-indent:-9999em;overflow:hidden;}
.btn_confirm {width:126px;height:126px;display:block;position:absolute;bottom:5px;right:2px;text-indent:-9999em;overflow:hidden;}
.btn_compare_price {background:url(//img.danawa.com/contents/brand/dnwcf/img/btn_compare_price.gif) no-repeat left top;width:281px;height:36px;display:block;text-indent:-9999em;overflow:hidden;margin-top:2px;}


.start_1 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_1.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_2 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_2.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_3 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_3.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_4 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_4.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_5 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_5.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_6 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_6.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_7 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_7.jpg) no-repeat left top;width:673px;height:529px;position:relative;}
.start_8 {background:url(//img.danawa.com/contents/brand/dnwcf/img/start_8.jpg) no-repeat left top;width:673px;height:529px;position:relative;}


#effect1,#effect2,.w_222 {width:222px;background:#000;float:left;}

/* my_entry_state */
.my_entry_state {clear:both;*zoom:1;overflow:hidden;width:618px;margin-left:30px;}
/* 
overflow-y:scroll;overflow-x:hidden;scrollbar-face-color: #333333; scrollbar-shadow-color: #333333; scrollbar-highlight-color: #666666; scrollbar-3dlight-color: #101010; scrollbar-darkshadow-color: #070707; scrollbar-track-color: #101010; scrollbar-arrow-color: #000000
*/
.my_entry_state .my_entry {text-align:center;margin-top:38px;}

/* table */
.tbl_entry {margin-top:10px;border-bottom:1px solid #656362;}
.tbl_entry th {border-top:1px solid #656362;border-bottom:1px solid #656362;background:#151515;text-align:center;padding:8px 0 6px 0;}
.tbl_entry td {text-align:center;color:#fff;vertical-align:top;border-bottom:1px solid #33312f;}
.tbl_entry td.td_1 {padding:9px 0 5px 0;}
.tbl_entry td.td_2 {padding:9px 0 5px 0;}
.tbl_entry td.td_3 {font-size:11px;padding:10px 0 5px 0;}
.tbl_entry td.td_4 {text-align:left;padding:9px 0 5px 0;}
.tbl_entry td.td_4 em {color:#fe7070;font-style:normal;}
.tbl_entry td.td_5 {padding:5px 0 5px 0;}
.tbl_entry .bline td {border-bottom:1px solid #656362;}

.price_vs {background:#fff;text-align:center;height:26px;display:inline-block;float:left;width:220px;margin:0 auto;}
.img_size {width:281px;height:305px;overflow:hidden;background:#fff;text-align:center;margin-left:1px;}


.winner_1 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1014.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_2 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1018.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_3 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1021.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_4 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1025.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_5 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1028.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_6 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1101.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_7 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1104.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}
.winner_8 {clear:both;background:url(//img.danawa.com/contents/brand/dnwcf/img/event2_1108.jpg) no-repeat 0 top;width:607px;height:550px;margin-left:35px;}

.scroll {margin-top:10px;width:618px;height:715px;background:#353535;}

#pop_area3 {margin:0 auto;width:820px;height:705px;}
/*
.pop2 {background:#353535;width:618px;height:445px;position:absolute;z-index:999;top:50px;}
.pop2 .text_01 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_text_1.jpg) no-repeat left top;width:353px;height:178px;text-indent:-9999em;margin:0 auto;position:relative;top:123px;}
.pop2 .text_02 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_1014.jpg) no-repeat left top;width:518px;height:680px;text-indent:-9999em;margin:0 auto;position:relative;top:30px;}

*/

.pop2 {background:#353535;width:820px;height:705px;position:absolute;z-index:999;top:50px;}
/*
.pop2 .text_01 {background:url(//img.danawa.com/contents/brand/dnwcf/img/pop_text_1.jpg) no-repeat left top;width:353px;height:178px;text-indent:-9999em;margin:0 auto;position:relative;top:123px;}
.pop2 .text_02 {background:url(//img.danawa.com/contents/brand/dnwcf/img/result_1014.jpg) no-repeat left top;width:518px;height:680px;text-indent:-9999em;margin:0 auto;position:relative;top:30px;}
*/
.title_winner {text-align:center;margin:33px 0 27px 0;}
.text_1 {font-size:11px;color:#9b9b9b;width:735px;margin:0 auto;letter-spacing:-1px;line-height:14px;}
.dot_email {background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_dot.gif) no-repeat left top;width:751px;height:33px;margin:0 auto;text-align:right;margin-top:11px;}
.dot_email span {font-size:11px;color:#c6c6c6;display:inline-block;margin:5px 10px 0 0;}
.bg_winner {width:820px;height:549px;background:url(//img.danawa.com/contents/brand/dnwcf/img/bg_winner.gif) no-repeat left top;}
.left_winner {margin:62px 0 0 51px;_margin:62px 0 0 25px;float:left;width:400px;}
.right_winner {width:360px;float:left;margin:40px 0 0 0;}
.text_2 {color:#fff;font-size:12px;line-height:14px;margin:0px 0 7px 10px;}
.text_3  {margin-left:10px;}
.text_3 ul {width:85px;float:left;}
.text_3 ul li {color:#fff;font-size:12px;line-height:16px;}
.text_4 {color:#fff;font-size:12px;line-height:16px;margin:43px 0 10px 25px;}
.text_5 {color:#fff;font-size:12px;line-height:16px;margin:43px 0 18px 25px;}
.text_6 {color:#fff;font-size:12px;line-height:16px;margin:48px 0 10px 25px;}
.text_7 {color:#fff;font-size:12px;line-height:16px;margin:48px 0 10px 25px;}
.text_8 {color:#fff;font-size:12px;line-height:16px;margin:43px 0 10px 25px;}
.text_9 {color:#fff;font-size:12px;line-height:16px;margin:43px 0 10px 25px;}
.text_10 {color:#fff;font-size:12px;line-height:16px;margin:5px 0 10px 10px;}

.text_3 ul.w_1 {width:78px;}
.text_3 ul.w_2 {width:88px;}
.text_3 ul.w_3 {width:88px;}
.bg_scroll {width:380px;height:480px;overflow-y:scroll;overflow-x:hidden;scrollbar-face-color: #333333; scrollbar-shadow-color: #333333; scrollbar-highlight-color: #666666; scrollbar-3dlight-color: #101010; scrollbar-darkshadow-color: #070707; scrollbar-track-color: #101010; scrollbar-arrow-color: #000000}

.wtitle {margin-bottom:0px;height:15px;overflow:hidden;}
