@charset "euc-kr";

/* 코멘트 */
#comment {margin:40px 0 0 0; border-top:2px solid #8b8b8b; position:relative; zoom:1;}
.cmt_header .title {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_comment.gif) no-repeat; width:405px; height:17px; margin:10px;}
.cmt_header .posRight {font-size:12px; top:15px;}
.cmt_header .cnt { font-weight:bold; color:#ff781c;}
#comment .boxSquare {background:#fafafa; border-bottom:2px solid #8b8b8b; border:1px solid #dcdcdc; margin:15px 0; min-height:108px; _height:108px;}
.loginBox {position:relative; background:#fff; padding:20px 20px 10px 20px; font-size:12px; zoom:1; overflow:hidden;}
.loginBox input {vertical-align:middle;}
.loginBox label {margin-left:5px;}
.loginBox .inputStyle {width:104px; padding:3px 5px; height:12px;}
.loginBox .posRight a {font-size:11px; color:#333;}
.loginBox .posRight  {font-size:10px; color:#666; right:20px;}
.writeCmt {position:relative; border-bottom:1px solid #e0e0e0; background:#fff; padding:0 20px 10px 20px; zoom:1; overflow:hidden; }
.writeCmt .txtareaWrap {padding-right:75px; zoom:1; }
.writeCmt .txtareaWrap textarea {height:45px; border:1px solid #c5c5c5; background:#fafafa; font-size:12px; overflow-y:auto; overflow-x:hidden; width:100%; margin-right:-4px; zoom:1;}
.writeCmt input {position:absolute; right:20px; top:0;}
.writeCmt .counter {text-align:right; font-size:11px; color:#757575; margin-top:5px; margin-right:75px;}
.writeCmt .counter .cnt{color:#666; font-weight:bold;}
#comment .indexBorder {padding:10px 0 20px 0;}

/* 코멘트 리스트 */
.cmt_list {padding:14px 19px;}
.cmt_list img {vertical-align:top;}
.cmt_list dt {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
.cmt_list .image img {border:1px solid #a0a0a0; max-width:45px; max-height:45px;}
.cmt_list .image {position:absolute; left:0; top:0;}
.cmt_list .user {margin:0px 0 10px 55px; font-size:11px; color:#757575; }
.cmt_list .user .name a {font-size:12px; color:#333;}
.cmt_list .comment {margin:0 0 0 55px; font-size:12px; word-wrap:break-word; color:#666; }
.cmt_list .writeCmt {margin:0px 0 0 55px; padding:0; border:0;}
.cmt_list .writeCmt input {right:0; overflow:visible; vertical-align:top; margin:0; padding:0;}

.cmt_list li {border-bottom:1px dashed #d6d6d6; margin-bottom:10px; padding-bottom:10px; zoom:1;position:relative; min-height:47px; _height:47px;}
.cmt_list .button {position:absolute; top:0; right:0; font-size:11px; color:#474747; vertical-align:top;}
.cmt_list .button button {overflow:visible; margin:0 5px; vertical-align:top; background:none;}
.cmt_list .replyType { background:url(//img.danawa.com/new/d_news/img/bul_reply.gif) no-repeat left 5px; margin-left:55px; padding-left:15px;}
.cmt_list .replyType .image {left:15px;}
.cmt_read .writeCmt {display:none;}
.cmt_write dd {display:none;}
.cmt_write dd.writeCmt {display:block; margin:0 0 0 0px;}
.cmt_write .user, .cmt_modify .user {margin-bottom:5px;}

.cmt_modify dd.comment {display:none;}
.btnWrapper {position:relative;}
.btnWrapper .posRight {top:0;}

/* 페이지 네이션 */
.indexBorder {text-align:center; position:relative; zoom:1;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

/* textBtn 설정 */
.textBtn, .textBtn * { background-image:url(//img.danawa.com/new/section_m/baby/img/bg_deco_sprite.gif); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer}
.btnStyle1 {background-position:right -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle1 button, .btnStyle1 input  {background-position:left -650px; font-size:12px; color:#000; height:23px; margin-right:2px; padding:1px 10px 0; vertical-align:top;}
.btnStyle2 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle2 button, .btnStyle2 input {background-position:right -650px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 10px; vertical-align:top;}
.btnStyle2 strong {background:none; color:#1272ea;}
.btnStyle3 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle3 button, .btnStyle3 input {background-position:right -710px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 5px; vertical-align:top; background-color:transparent;}

.posRight {position:absolute; right:0;}
.offscreen {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
