@charset "euc-kr";

.modalWindowLayer {position:absolute; top:50%; left:50%; width:720px; height:330px; margin:-165px 0 0 -360px;display:none}
.modal_Container {background:#fff; border:5px solid #4b4b4b; height:100%; position:relative; zoom:1;}
.productInfo {margin:24px 24px 25px;}
.productInfo a {color:#666;}
.productInfo img {float:left; margin-right:10px;}
.productInfo strong {font-size:18px; color:#000; display:inline-block; margin-top:10px; font-family:Tahoma;}
.productInfo p {font-size:12px; color:#999; margin:10px 0 0; height:42px; overflow:hidden;}
.mall_list {margin:0 13px 13px; height:195px; overflow-y:auto; overflow-x:hidden; width:667px; left:10px; top:120px; position:absolute;}
.mall_list table {border-collapse:collapse; width:100%; padding:0;}
.mall_list table th {width:50%; background:#4f7cc0; color:#fff; font-weight:bold; text-align:center; height:29px; line-height:29px;}
.mall_list table th.rside {background-color:#584fa2;}
.mall_list table td {border:1px solid #dfdfdf; height:32px; padding:0 5px}
.mall_list table.dataCell td {border:0; padding:0;}
.dataCell .mallName {font-weight:bold; color:#000; width:50%; text-indent:10px;}
.dataCell .price {font-weight:bold; color:#333;}
.dataCell .price strong {color:#fc6700; font-family: Tahoma, Geneva, sans-serif;}
.closeModal button {background:url(//img.danawa.com/new/section_m/delivery/img/btn_closeModal.gif) no-repeat; position:absolute; right:10px; top:10px; width:24px; height:25px;}
.delivery .popSubCategoryLayer{display:none}
#pageCover{
	display:none;
	position:absolute;
	background:url("//img.danawa.com/new/section_m/delivery/img/diagonals.png") repeat scroll 50% 50% #666666;
	opacity:0.5;
	/* IE6, IE7 에서 opacity 속성 사용 */
	filter: alpha(opacity=50);
	/* IE8에서 opacity 속성 사용 */
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#ajaxLoader{
	display:none;
	position:absolute;
	top:50%; 
	left:50%; 
	width:32px; 
	height:32px; 
	margin:-8px 0 0 -16px;
}

