@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*
font-family: 'Noto Sans KR', sans-serif;
*/
body {position:relative;}
.dpg_wrap a {color:#666;}
.dpg_wrap img {vertical-align:top;}
#danawa_wrap {position:relative; z-index:0;}

/* Common*/
.mgb25{margin-bottom:25px !important;}

.dpg_wrap {border-top:1px solid #b3b3b3;}
/*------------ 이벤트 개요 안내 및 HEAD 영역  ------------*/
.dpg_top {background:#e4ebef url(//img.danawa.com/new/community_new/dpg_event/img/dpg_top.jpg) top center no-repeat; height:710px; position:relative;}
.dpg_top h1.logo {position:absolute; top:60px; left:50%; margin-left:-550px;}
.dpg_top .top_util {position:absolute; top:65px; left:50%; margin-left:300px; text-align:right; width:250px; font-family:"Malgun Gothic"; color:#666; line-height:16px;}
.dpg_top .top_util * {vertical-align:middle;}
.dpg_top .top_util a {font-size:14px; display:inline-block; margin:-3px 3px 0;}
.dpg_top .go_dpg {display:block; width:298px; height:30px; top:526px; left:50%; margin-left:-377px; position:absolute; text-indent:-9999px; background:#fff; opacity:0; filter:alpha(opacity=0);}


/*------------ 스탬프영역 ------------*/
.dpg_middle {padding-top:50px;}
.dpg_stamp_wrap {width:1100px; margin:0 auto; position:relative;}
.dpg_stamp_top {background:url(//img.danawa.com/new/community_new/dpg_event/img/dpg_stamp_top.png) top left no-repeat; height:85px;}
.dpg_stamp_top h2.dpg_stamp_title {text-align:center; padding:35px 0 0 0;margin:0;font-size:26px; font-weight:bold; color:#000; font-family:"Malgun Gothic";}
.dpg_stamp_top h2.dpg_stamp_title2 {text-align:center; padding:35px 0 0 0;margin:0;font-size:26px; font-weight:bold; color:#888; font-family:"Malgun Gothic";}
.dpg_stamp_top h2.dpg_stamp_title .dpg_stamp_name {display:inline-block; margin-right:10px; font-family:"Malgun Gothic";}
.dpg_stamp_area {background:url(//img.danawa.com/new/community_new/dpg_event/img/dpg_stamp_bg.png) top left repeat-y;}
.dpg_stamp_area .stamp_area {width:940px; margin-left:80px;}
.dpg_stamp_area .stamp_area .num {width:80px; height:80px; display:block; font-size:34px; text-align:center; font-weight:bold; color:#fff; font-family: 'Noto Sans KR', sans-serif; line-height:80px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_empty.png) top left no-repeat;}
.dpg_stamp_area .stamp_area ul {*zoom:1;margin:0;padding:0;list-style:none;}
.dpg_stamp_area .stamp_area li {margin:0;padding:0;list-style:none;}
.dpg_stamp_area .stamp_area ul:after {content:""; display:block; clear:both;}
.dpg_stamp_area .stamp_area .stamp_area_item {position:relative;}
.dpg_stamp_bottom {background:url(//img.danawa.com/new/community_new/dpg_event/img/dpg_stamp_btm.png) top left no-repeat; height:211px; width:1116px; padding-top:33px;}
.dpg_stamp_bottom * {vertical-align:middle;}
.dpg_stamp_bottom .btn_dpg_stamp {display:block; width:244px; margin:0 auto; border:2px solid; text-align:center; height:56px; line-height:53px; font-size:26px; letter-spacing:-0.1em; font-weight:bold; font-family:"Malgun Gothic"; border-radius:40px; }
.dpg_stamp_bottom .btn_dpg_stamp:hover {text-decoration:none;}
.dpg_stamp_bottom .btn_dpg_stamp_no {display:block; width:248px; margin:0 auto; background:#ccc; text-align:center; height:60px; line-height:55px; font-size:26px; letter-spacing:-0.1em; font-weight:bold; font-family:"Malgun Gothic"; border-radius:40px;  color:#fff;}
.dpg_stamp_bottom .btn_dpg_stamp_no:hover {text-decoration:none;}
.dpg_stamp_bottom .dpg_stamp_text {text-align:center; font-size:16px; line-height:24px; font-weight:bold; color:#fff; padding:60px 0 0 0;font-family:"Malgun Gothic"; width:1060px;margin:0;}

/* 151208 응모자수 추가 */
.dpg_stamp_wrap .entry {position:absolute; top:-30px; right:110px; font-family:"Malgun Gothic"; font-size:14px; font-weight:bold; color:#fff;}
.dpg_stamp_wrap .entry span { font-family:"Malgun Gothic";}


/* 비회원 레이어 */
.guest_layer {position:absolute; top:0; left:0; width:1100px;}
.guest_layer .guest_top {background:url(//img.danawa.com/new/community_new/dpg_event/img/guest_top.png) top left no-repeat; height:85px;padding:0;margin:0;}
.guest_layer .guest_middle {background:url(//img.danawa.com/new/community_new/dpg_event/img/guest_bg.png) top left repeat-y; width:1100px; text-align:center; font-size:22px; line-height:32px; font-weight:bold; color:#fff; font-family:"Malgun Gothic"; display:table-cell; vertical-align:middle;}
.guest_layer .guest_bottom {background:url(//img.danawa.com/new/community_new/dpg_event/img/guest_bottom.png) top left no-repeat; height:244px;margin:0;padding:0;}

/* 16개 스탬프 */
.dpg_stamp_area.type1 .stamp_area ul {list-style:none;margin:0;padding:0;margin-left:30px}
.dpg_stamp_area.type1 .stamp_area li {float:left;margin:12px 15px;height:80px;width:80px;list-style:none;padding:0;}
.dpg_stamp_area.type1 .stamp_area li + li + li + li + li + li + li + li + li {margin:12px 15px 0;list-style:none;padding:0;}
.dpg_stamp_area.type1 .stamp_area li .stamp_area_item img {width:80px;}

/* 5개 스탬프 */
.dpg_stamp_area.type2 .stamp_area ul {margin:0 0 0 85px;list-style:none;}
.dpg_stamp_area.type2 .stamp_area li {float:left;margin:12px 21px 0;height:112px; width:112px;list-style:none;padding:0;}
.dpg_stamp_area.type2 .stamp_area .num {width:112px; height:112px; display:block; font-size:47px; text-align:center; font-weight:bold; color:#fff; font-family: 'Noto Sans KR', sans-serif; line-height:112px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_empty2.png) top left no-repeat;}
.dpg_stamp_area.type2 .stamp_area li .stamp_area_item img {width:112px;}

/* 10개 스탬프 */
.dpg_stamp_area.type3 .stamp_area ul {margin:0 0 0 85px;padding:0;list-style:none;}
.dpg_stamp_area.type3 .stamp_area li {float:left;margin:12px 21px;height:112px;width:112px;list-style:none;padding:0;}
.dpg_stamp_area.type3 .stamp_area .num {width:112px; height:112px; display:block; font-size:47px; text-align:center; font-weight:bold; color:#fff; font-family: 'Noto Sans KR', sans-serif; line-height:112px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_empty2.png) top left no-repeat;}
.dpg_stamp_area.type3 .stamp_area li .stamp_area_item img {width:112px;}
.dpg_stamp_area.type3 .stamp_area li + li + li + li + li + li {margin:12px 21px 0;padding:0;}

/* 15개 스탬프 */
.dpg_stamp_area.type4 .stamp_area ul {margin-left:30px;list-style:none;}
.dpg_stamp_area.type4 .stamp_area li {float:left; margin:12px 15px; height:80px; width:80px;list-style:none;padding:0;}
.dpg_stamp_area.type4 .stamp_area li + li + li + li + li + li + li + li + li {margin:12px 15px 0 70px;}
.dpg_stamp_area.type4 .stamp_area li + li + li + li + li + li + li + li + li + li {margin:12px 15px 0;}
.dpg_stamp_area.type4 .stamp_area li .stamp_area_item img {width:80px;}


/*------------ 이벤트 스탬프 내용 안내 ------------*/
.dpg_stamp_info {background:#e4ebef; padding:70px 0 55px;}
.dpg_stamp_info h3 {margin:0;padding:0;}
.dpg_stamp_info .stamp_info_wrap {width:1100px; *zoom:1; margin:0 auto;padding:0;display:table;list-style:none;}
.dpg_stamp_info .stamp_info_wrap:after {content:""; display:block; clear:both;}
.dpg_stamp_info .stamp_info_wrap .stamp_item {float:left; display:table-cell; vertical-align:middle; width:249px; height:104px; margin:0 7px 15px 8px; position:relative; padding:0 0 0 102px;list-style:none;background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_info_bg.png) top left no-repeat;}
.dpg_stamp_info .stamp_info_wrap .stamp_item .stamp_icon {position:absolute; top:12px; left:12px;padding:0;margin:0;}
.dpg_stamp_info .stamp_info_wrap .stamp_item .stamp_icon img {width:80px;}
.dpg_stamp_info .stamp_info_wrap .stamp_item dl {height:104px; display:table-cell; vertical-align:middle; width:225px;}
.dpg_stamp_info .stamp_info_wrap .stamp_item dt {font-size:15px; font-weight:bold; color:#000; letter-spacing:-0.02em; margin:-1px 0 3px; font-family:"Malgun Gothic";}
.dpg_stamp_info .stamp_info_wrap .stamp_item dd {font-size:13px;line-height:18px;letter-spacing:-0.02em;color:#4c4c4c;font-family:"Malgun Gothic";margin:0;padding:0;}

.event_infomation_wrap {*zoom:1; width:1100px; margin:0 auto; padding:60px 0; }
.event_infomation_wrap:after {content:""; display:block; clear:both;}
.event_infomation_wrap .event_info01 {float:left; width:540px;}
.event_infomation_wrap .event_info02 {float:left; width:560px;}
.event_infomation_wrap .event_title {font-size:20px;font-weight:bold;color:#1f1d1d; letter-spacing:-0.02em; margin:0 0 10px 0; font-family: 'Noto Sans KR', sans-serif;padding:0;}
.event_infomation_wrap .event_info_list {margin:0;padding:0;list-style:none;}
.event_infomation_wrap .event_info_list li {font-size:14px;line-height:30px;color:#4c4c4c; font-family: 'Noto Sans KR', sans-serif; letter-spacing:-0.02em;list-style:none;margin:0;padding:0;}
.event_infomation_wrap .event_info_list li.purple {color:#4025b3;}


/*------------ FOOTER ------------*/
.dpg_foot {border-top:1px solid #d9d9d9; padding:35px 0 40px; background:#fff;}
.dpg_foot .copy {text-align:center; font-family:Tahoma; font-size:10px; color:#666}


/*------------ 이벤트 참가자 정보입력 폼 레이어팝업 ------------*/
.blind {position:fixed; top:0; left:0; width:100%; height:120%; background:#000; opacity:0.5; filter:alpha(opacity=50); display:none; z-index:9;}
.event_layer_form {display:none; z-index:10; position:absolute; top:821px; left:50%; width:1050px; height:464px; margin-left:-525px; background:url(//img.danawa.com/new/community_new/dpg_event/img/evt_layer_bg.png) top left no-repeat;}
.event_layer_form .evt_layer_title {text-align:center; font-size:35px; font-weight:bold; letter-spacing:-0.1em; color:#333; font-family:"Malgun Gothic"; margin:55px 0 45px;padding:0;}
.event_layer_form .evt_layer_title span {color:#f55857;font-family:"Malgun Gothic"; font-weight:bold;}
.event_layer_form .evt_close {position:absolute; top:37px; right:37px; cursor:pointer;}
.event_layer_form .evt_content {*zoom:1; padding-left:65px; width:920px;}
.event_layer_form .evt_content:after {content:""; display:block; clear:both;}
.event_layer_form .evt_content .evt_form_area {float:left; width:400px; margin:0; }
.event_layer_form .evt_content .evt_form_area dt {float:left; width:100px; font-size:16px; font-weight:bold; color:#333; font-family:"Malgun Gothic";}
.event_layer_form .evt_content .evt_form_area dt label {font-family:"Malgun Gothic";}
.event_layer_form .evt_content .evt_form_area dd {float:left; width:300px; padding:0; margin:0; position:relative;}
.event_layer_form .evt_content .evt_form_area dd select {width:62px; height:28px; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 0 0 4px;}
.event_layer_form .evt_content .evt_form_area dd .tel_input {width:36px; height:26px; border:1px solid #b3b3b3; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 5px;}
.event_layer_form .evt_content .evt_form_area dd .zip_input {width:51px; height:26px; border:1px solid #b3b3b3; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 5px;}
.event_layer_form .evt_content .evt_form_area dd .adress_input {width:287px; height:26px; border:1px solid #b3b3b3; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 5px; margin-top:8px;}
.event_layer_form .evt_content .evt_form_area dd .btn_zip {width:70px; background:#808080; color:#fff; font-size:13px; font-weight:bold; height:28px; font-family:"Malgun Gothic"; border:0; }
.event_layer_form .evt_content .evt_form_area dd * {vertical-align:middle;}
.event_layer_form .evt_content .evt_agree_text {float:right; width:480px; margin:0;}
.event_layer_form .evt_content .evt_agree_text > dt {font-size:16px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; margin:-4px 0 10px;}
.event_layer_form .evt_content .evt_agree_text > dt * {vertical-align:middle;}
.event_layer_form .evt_content .evt_agree_text > dd {margin:0; border:1px solid #dce4eb; border-top:1px solid #9699a0; height:103px; width:485px; overflow-y:scroll; overflow-x:hidden; font-size:14px; line-height:21px; letter-spacing:-0.02em; color:#666; font-family:"Malgun Gothic";}
.event_layer_form .evt_content .evt_agree_text > dd ul,.event_layer_form .evt_content .evt_agree_text > dd ol {margin:0; padding:0; list-style:none;}
.event_layer_form .evt_content .evt_agree_text dd pre {margin:0; font-size:14px; line-height:21px; letter-spacing:-0.03em; color:#666; font-family:"Malgun Gothic";white-space:pre-wrap}
.event_layer_form .btn_evt_comp {display:block; width:248px; height:60px; border-radius:30px; background:#f55857; font-size:26px; line-height:55px; font-weight:bold; text-align:center; color:#fff; letter-spacing:-0.1em; font-family:"Malgun Gothic"; margin:50px auto 0;}
.event_layer_form .btn_evt_comp:hover {text-decoration:none;}

/* Privacy Term */
.private_corp{zoom:1;margin:7px 0 8px;}
.private_corp:after{content:"";display:block;clear:both;height:0;}
.private_corp .corp_info{float:left;width:219px;border:1px solid #ebebeb;margin-left:5px;}
.private_corp .corp_owner{margin-left:0;}
.private_corp .corp_head{background:#f7f7f7;text-align:center;font-size:12px;line-height:16px;padding:5px 5px 3px;}
.private_corp .corp_head .pri_type{display:block;font-weight:bold;color:#666;}
.private_corp .corp_head .corp_name{font-weight:bold;color:#f60;}
.private_corp .corp_term{font-size:12px;line-height:16px;padding:11px 10px 9px;min-height:150px;margin:0; list-style:none;}
.private_corp .pri_list{padding:0;margin:0;}
.private_corp .pri_list p{margin: 0;}
.private_corp .pri_list .pri_title{display:block;margin-bottom:2px;}
.private_corp .pri_list .pri_item + .pri_item{margin-top:9px;}

.event_layer_form .txt_error {color: red; font-size: 12px; font-weight: bold; letter-spacing: -1px; display:block; position:absolute; bottom:-18px; left:0;}




/*------------ 이벤트 종료 : 당첨자 발표 ------------*/
.stamp_end_wrap {background:#e4ebef url(//img.danawa.com/new/community_new/dpg_event/img/end_bg.png) top center no-repeat;}
.dpg_end_top {height:250px; position:relative;}
.dpg_end_top h1.logo {position:absolute; top:60px; left:50%; margin-left:-550px;}
.dpg_end_top .top_util {position:absolute; top:65px; left:50%; margin-left:300px; text-align:right; width:250px; font-family:"Malgun Gothic"; color:#666; line-height:16px;}
.dpg_end_top .top_util * {vertical-align:middle;}
.dpg_end_top .top_util a {font-size:14px; display:inline-block; margin:-3px 3px 0;}
.dpg_end_top .stamp_end_title {text-align:center;padding:95px 0 20px;margin:0;}
.dpg_end_top .stamp_end_text {text-align:center; font-size:23px; letter-spacing:-0.02em; color:#4c4c4c; font-family: 'Noto Sans KR', sans-serif;}
.prize_wrap {border:5px solid #5d53b6; border-top:0; width:1090px; margin:0 auto; background:#fff;}
.prize_wrap .prize_text {background:#5d53b6; text-align:center; color:#fff; height:45px; line-height:45px; font-size:20px; font-weight:600; font-family:"Malgun Gothic";}
.prize_wrap .prize_section {padding:60px 55px;}
.prize_wrap .prize_section .prize_title {font-size:22px; font-weight:bold; color:#5945cb; margin-bottom:15px; font-family:"Malgun Gothic";}
.prize_wrap .prize_section .prize_list {*zoom:1; padding:0 0 45px 0;margin:0;list-style:none;}
.prize_wrap .prize_section .prize_list:after {content:""; display:block; clear:both;}
.prize_wrap .prize_section .prize_list > li {float:left; width:230px; margin:0 0 0 20px;list-style:none;padding:0;}
.prize_wrap .prize_section .prize_list > li:first-child {margin-left:0;}
.prize_wrap .prize_section .prize_list .prize_part dt {font-size:16px; font-weight:bold; line-height:26px; color:#000; font-family:"Malgun Gothic";}
.prize_wrap .prize_section .prize_list .prize_part dd {font-size:14px; line-height:26px; color:#333; font-family:"Malgun Gothic";}
.prize_wrap .prize_section .prize_list2 {border:1px solid #ccc; overflow-y:scroll; overflow-x:hidden; padding:5px 10px;height:258px;margin:0;list-style:none;}
.prize_wrap .prize_section .prize_list2 li {font-size:14px; line-height:26px; color:#333; font-family:"Malgun Gothic";list-style:none;margin:0;padding:0;}


/*------------ DPG스탬프 프론트  ------------*/
.front_evt_layer {z-index:10; position:fixed; top:50%; left:50%; width:1050px; height:464px; margin:-232px 0 0 -525px; background:url(//img.danawa.com/new/community_new/dpg_event/img/evt_layer_bg.png) top left no-repeat;}
.front_evt_layer .evt_layer_title {text-align:center; font-size:35px; font-weight:bold; letter-spacing:-0.1em; color:#333; font-family:"Malgun Gothic"; margin:55px 0 45px;}
.front_evt_layer .evt_layer_title span {color:#f55857;}
.front_evt_layer .evt_close {position:absolute; top:37px; right:37px; cursor:pointer;margin:0;padding:0;}
.front_evt_layer .evt_content {*zoom:1; padding-left:65px; width:920px; font-family:"Malgun Gothic";}
.front_evt_layer .evt_content:after {content:""; display:block; clear:both;}
.front_evt_layer .evt_content .evt_section {float:left; width:393px; margin:0; }
.front_evt_layer .evt_content .evt_section .evt_sec_title {margin:0 0 15px; padding:0; font-size:16px; line-height:23px; letter-spacing:-0.02em; font-weight:bold; color:#333;}
.front_evt_layer .evt_content .evt_section .evt_sec_title span {color:#f55857;}
.front_evt_layer .evt_content .evt_form_area {*zoom:1; background:#ededed; padding:13px 0 13px 20px; margin:0 0 15px;}
.front_evt_layer .evt_content .evt_form_area:after {content:""; display:block; clear:both;}
.front_evt_layer .evt_content .evt_form_area dt {float:left; width:100px; font-size:16px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding-top:2px;}
.front_evt_layer .evt_content .evt_form_area dd {float:left; width:250px; padding:0; margin:0;}
.front_evt_layer .evt_content .evt_form_area dd select {width:62px; height:28px; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 0 0 4px;}
.front_evt_layer .evt_content .evt_form_area dd .tel_input {width:36px; height:26px; border:1px solid #b3b3b3; font-size:14px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; padding:0 5px;}
.front_evt_layer .evt_content .evt_form_area dd * {vertical-align:middle;}
.front_evt_layer .evt_content .evt_sec_info {list-style:none; padding:0; margin:0;}
.front_evt_layer .evt_content .evt_sec_info li {font-size:14px; line-height:23px; letter-spacing:-0.02em; color:#666;list-style:none;margin:0;padding:0;}
.front_evt_layer .evt_content .evt_sec_info li strong {color:#f55857;}
.front_evt_layer .evt_content .evt_section2 {float:right; width:480px; margin:0;}
.front_evt_layer .evt_content .evt_agree_text {margin:0;}
.front_evt_layer .evt_content .evt_agree_text dt {font-size:16px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; margin:-4px 0 10px;}
.front_evt_layer .evt_content .evt_agree_text dt * {vertical-align:middle;}
.front_evt_layer .evt_content .evt_agree_text dd {margin:0; border:1px solid #dce4eb; border-top:1px solid #9699a0; height:109px; width:465px; overflow-y:scroll; overflow-x:hidden; padding:5px; font-size:14px; line-height:21px; letter-spacing:-0.02em; color:#666; font-family:"Malgun Gothic";}
.front_evt_layer .evt_content .evt_agree_text dd pre {margin:0; font-size:14px; line-height:21px; letter-spacing:-0.03em; color:#666; font-family:"Malgun Gothic";white-space:pre-wrap}
.front_evt_layer .evt_content .evt_section2 .evt_agree_chk {font-size:16px; font-weight:bold; color:#333; font-family:"Malgun Gothic"; margin:5px 0 0;}
.front_evt_layer .evt_content .evt_section2 .evt_agree_chk * {vertical-align:middle;}
.front_evt_layer .btn_evt_comp {display:block; width:126px; height:60px; border-radius:30px; background:#f55857; font-size:26px; line-height:55px; font-weight:bold; text-align:center; color:#fff; letter-spacing:-0.1em; font-family:"Malgun Gothic"; margin:35px auto 0;}
.front_evt_layer .btn_evt_comp:hover {text-decoration:none;}

/*------------ DPG스탬프 & 이벤트 배너  ------------*/
.pop_event_item {position:absolute;width:130px;height:150px;z-index:99;}
.pop_event_item a {display:block;}
.pop_event_item  img {vertical-align:top;}
.pop_event_item.pop_stamp {height:160px;}
.pop_event_item .pop_close {position:absolute;top:10px;right:10px;width:12px;height:12px;display:block;background:#fff;opacity:0; filter:alpha(opacity=0);}
.pop_event_item .today_chk {position:absolute;bottom:9px;left:0;width:130px;text-align:center;font-size:11px;letter-spacing:-0.1em;color:#fff;font-family:Dotum;margin:0;}
.pop_event_item.pop_stamp .today_chk {top:135px;}
.pop_event_item .today_chk * {vertical-align:middle;}
.pop_event_item .today_chk input[type="checkbox"] {margin:-1px 2px 0 0;}
.pop_event_item .today_chk label {cursor:pointer;}

/*------------ DPG스탬프 팝업  ------------*/
.pop_stamp_layer {position:fixed; width:454px; height:282px; border:2px solid #5c53b5; z-index:9; background:#fff; top:50%; left:50%; margin:-143px 0 0 -229px; display:none;}
.pop_stamp_layer .stamp_layer_tt {margin:40px 0 0 39px; position:relative; z-index:2;}
.pop_stamp_layer .stamp_layer_close {position:absolute; top:20px; right:20px; width:17px; height:17px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_close.png) top left no-repeat; text-indent:-9999px; z-index: 99;}
.pop_stamp_layer .stamp_img {position:absolute; top:60px; right:15px; margin:0; z-index:0;}
.pop_stamp_layer .stamp_info {padding:3px 0 0 39px; position:relative; z-index:1; margin:0; height:120px; display:table-cell; vertical-align:middle;}
.pop_stamp_layer .stamp_info dt {font-size:16px; font-weight:bold; color:#000; line-height:18px; margin-bottom:10px; font-family:"Malgun Gothic";}
.pop_stamp_layer .stamp_info dd {margin:0; font-size:14px; line-height:18px; color:#333; font-family:"Malgun Gothic";}
.pop_stamp_layer .btn_stamp_go {position:absolute; top:205px; left:50%; margin-left:-109px; width:218px; height:37px; line-height:35px; text-align:center; display:block; background:#544ab1; border-radius:20px; font-size:16px; font-weight:bold; color:#fff; font-family:"Malgun Gothic"; letter-spacing:-0.1em; }
.pop_stamp_layer .btn_stamp_go:hover {text-decoration:none;}

/*------------ DPG스탬프 완료 팝업  ------------*/
.pop_stamp_end {position:fixed; width:454px; height:282px; border:2px solid #5c53b5; z-index:9; background:#fff; top:50%; left:50%; margin:-143px 0 0 -229px; display:none;}
.pop_stamp_end .stamp_layer_tt {margin:40px 0 0 39px; position:relative; z-index:2;}
.pop_stamp_end .stamp_layer_close {position:absolute; top:20px; right:20px; width:17px; height:17px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_close.png) top left no-repeat; text-indent:-9999px;}
.pop_stamp_end .stamp_info {padding:3px 0 0 39px; position:relative; z-index:1; margin:0; height:120px; display:table-cell; vertical-align:middle;}
.pop_stamp_end .stamp_info dt {font-size:16px; font-weight:normal; text-align:center; color:#333; line-height:22px; font-family:"Malgun Gothic";}
.pop_stamp_end .stamp_info dd {margin:0; font-size:16px; line-height:22px; color:#333; font-family:"Malgun Gothic"; text-align:center;}
.pop_stamp_end .stamp_info dd .red {color:#dd2828;}
.pop_stamp_end .btn_stamp_go {position:absolute; top:205px; left:50%; margin-left:-84px; width:168px; height:37px; line-height:35px; text-align:center; display:block; background:#544ab1; border-radius:20px; font-size:16px; font-weight:bold; color:#fff; font-family:"Malgun Gothic"; letter-spacing:-0.1em; }
.pop_stamp_end .btn_stamp_go:hover {text-decoration:none;}
.pop_stamp_layer .event_info_text {margin:46px 0 0; text-align:center; font-size:12px; letter-spacing:-0.1em; color:#333; font-family:"Malgun Gothic";}


/*------------ DPG이벤트 팝업  ------------*/
.pop_event_layer {position:fixed; display:none; width:446px; height:289px; border:2px solid #353d41; z-index:10; background:#fff; top:50%; left:50%; margin:-146px 0 0 -225px;}
.pop_event_layer .layer_close {position:absolute; top:20px; right:20px; width:17px; height:17px; background:url(//img.danawa.com/new/community_new/dpg_event/img/stamp_close.png) top left no-repeat; text-indent:-9999px;}
.pop_event_layer .event_gift {position:absolute; top:47px; left:35px; margin:0;}
.pop_event_layer .event_gift2 {position:absolute; top:47px; left:76px; margin:0;}
.pop_event_layer .event_info {padding-left:137px; margin-top:67px;}
.pop_event_layer .event_info dt {margin-bottom:20px;}
.pop_event_layer .event_info dt * {vertical-align:middle;}
.pop_event_layer .event_info dt span {display:inline-block;}
.pop_event_layer .event_info dd {margin:0; font-size:16px; font-weight:bold; line-height:20px; color:#000; font-family:"Malgun Gothic";}
.pop_event_layer .event_info dd em {font-style:normal; font-size:14px; font-weight:normal; display:block;}
.pop_event_layer .event_info2 {padding-left:178px; margin-top:50px;}
.pop_event_layer .event_info2 dt {margin-bottom:10px;}
.pop_event_layer .event_info2 dd {margin:0; font-size:16px; font-weight:bold; line-height:20px; color:#000; font-family:"Malgun Gothic";}
.pop_event_layer .btn_event_area {position:absolute; top:222px; left:0; width:100%; text-align:center;}
.pop_event_layer .btn_event_area a {display:inline-block; margin:0 2px}
.pop_event_layer .btn_event_area a:hover {text-decoration:none;}
.pop_event_layer .btn_event_area a.btn_comp {width:80px; height:37px; line-height:35px; font-size:16px; font-weight:bold; letter-spacing:-0.1em; color:#fff; background:#e84e4e; border-radius:20px; font-family:"Malgun Gothic";}
.pop_event_layer .btn_event_area a.btn_comp2 {padding:0 20px; height:37px; line-height:35px; font-size:16px; font-weight:bold; letter-spacing:-0.1em; color:#fff; background:#e84e4e; border-radius:20px; font-family:"Malgun Gothic";}
.pop_event_layer .btn_event_area a.btn_cancel {width:78px; height:35px; line-height:34px; font-size:16px; font-weight:bold; letter-spacing:-0.1em; color:#333; background:#fff; border:1px solid #bfbfbf; border-radius:20px; font-family:"Malgun Gothic";}

.pop_event_layer .event_lot {text-align:center; margin:15px 0 0;}
.pop_event_layer .event_lot dt {margin-bottom:10px;}
.pop_event_layer .event_lot dd {margin:0;font-size:16px; font-weight:bold; line-height:20px; color:#000; font-family:"Malgun Gothic";}

/*----------  여영자스탬프 팝업 (DPG스탬프 (.pop_stamp_layer 와 연계) ----------*/
.yyj_stamp {background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_yyj_stamp_layer.gif) 0 0 no-repeat #fff; border:2px solid #000;}
.yyj_stamp .stamp_info dd {width:89%;}
.yyj_stamp .stamp_img {top:103px; left:30px; margin:0;}
.yyj_stamp .stamp_layer_tt {margin:37px 0 0 0; padding-left:5px; text-align:center;}
.yyj_stamp .stamp_info {display:block; padding:25px 0 0 159px; height:120px;}
.yyj_stamp .btn_stamp_go {position:static; margin:20px auto 0; width:151px; background:#ec4b4b;}
.yyj_stamp .event_info_text {margin:20px 0 0 0;}

.yyj_item .today_chk {top:146px;}


/*----------  dpg 스탬프 어워드 ----------*/
.award { background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_dpg_awd_01.jpg) top center repeat-x #f5f5f5;}
.award .inner_wrap {position:relative; margin:0 auto 0; width:1100px;}
.award .inner_wrap h3 {text-align:center;}
.award .btn {position:absolute; text-indent:-9999em;}

.section_award_info {padding-top:0px; min-height:710px; box-sizing:border-box;}
.section_award_info .btn {top:581px;}
.section_award_info .yyj_stamp_go {left:113px; width:250px; height:40px;}
.section_award_info .go_dpg {left:561px; width:210px; height:40px;}
.section_award_info .inner_wrap {height:680px; background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_top_inner_wrap.jpg) top center repeat-x;}

.section_awrad_winner {padding-bottom:50px;}
.section_awrad_winner .inner_wrap {border-top:3px solid #000; border-bottom:3px solid #000;}
.section_awrad_winner h3 {position:absolute; top:-17px; width:100%;}
.section_awrad_winner .odd {background:#fbfbfb;}
.section_awrad_winner .awdlist > li {padding:21px 0 21px 168px;border-top:1px solid #c2c2c2;list-style:none;margin:0;}
.section_awrad_winner .awdlist > li:first-child {border:0;}
.section_awrad_winner .awdlist > li > img {float:left; margin-left:-118px;}
.section_awrad_winner .info {min-height:86px; font-size:0;}
.section_awrad_winner .info h4 {margin:14px 0;}
.section_awrad_winner .info table,
.section_awrad_winner .info table td {font-family:'Malgun Gothic'; font-size:14px;}
.section_awrad_winner .info caption {visibility:hidden; font-size:0; width:0; height:0;}
.section_awrad_winner .info td {padding:0 28px 8px 0;}

.section_reaward {padding-bottom:80px;}
.section_reaward ul {margin:23px auto 0; width:1000px; font-size:0;}
.section_reaward ul li {display:inline-block; margin:0 0 0 25px;padding:0;list-style:none;}
.section_reaward ul li:first-child {margin:0;}

.section_winner_interview {padding:43px 0 35px; background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_dpg_awd_02.jpg) top center repeat-x #5bcef1;}
.section_winner_interview .inner_wrap {height:178px; background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_wi_inner_wrap.jpg) 0 0 no-repeat;}
.section_winner_interview .btn_hamburger {top:76px; right:37px; width:190px; height:140px;}

.section_yyj_event {padding-top:54px; background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_dpg_awd_03.jpg) top center repeat-x #645bc7;}
.section_yyj_event .inner_wrap {padding-bottom:48px; height:623px; box-sizing:border-box; border-bottom:1px solid #938dd8; background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_yyj_inner_wrap.jpg) 0 0 no-repeat;}
.section_yyj_event .find_stamp_go {top:218px; left:213px; width:273px; height:40px;}
.section_yyj_event .awd_gift {position:absolute; top:378px; left:228px;}

.event_infomation_wrap {background:#fff;}

/* dpg 스탬프 어워드 게시판 페이지 */

/*reset*/

.board img {max-width:100%;}

.award.board {position:relative; margin:0 auto; max-width:699px; width:100%;} 
.award.board .btn {position:absolute;}

.board .btn_01 { width:30.329%; height:1.028%; top:16.8571%; left:22.0314%;}

.board .btn_02,
.board .btn_03,
.board .btn_04,
.board .btn_05,
.board .btn_06{top:63.8285%; width:15.4506%; height:1.1142%;}

.board .btn_02 {left:8.5836%;}
.board .btn_03 {left:25.608%;}
.board .btn_04 {left:42.3462%;}
.board .btn_05 {left:58.9413%;}
.board .btn_06 {left:75.9656%;}
.board .btn_07 {top:74.6857%; right:21.6022%; width:26.3233%; height:4%;}
.board .btn_08 {top:88.6857%; right:27.8969%; width:36.1945%; height:1.1428%;}

.board .btn_09,
.board .btn_10,
.board .btn_11,
.board .btn_12 {bottom:1.6%;}

.board .btn_09 {left:12.8755%; width:17.8826%; height:4.3428%;}
.board .btn_10 {left:31.1874%; width:19.0271%; height:4.3428%;}
.board .btn_11 {left:54.37925%; width:18.8841%; height:4.2857%;}
.board .btn_12 {left:73.6766%; width:15.8798%; height:2.2285%;}

.board .section_award_info {position:relative; min-height:initial;}
.board .section_award_info .go_dpg {position:absolute; bottom:8.74%; left:22.17%; width:30.32%; height:5.39%; text-indent:-9999em;}

.board .section_awrad_winner {padding:0;}
.board .section_awrad_winner h3 {position:relative; top:10px;}
.board .section_awrad_winner .awdlist {margin:0 auto; width:83%;}
.board .section_awrad_winner .awdlist_ul > li {padding:12% 0 3% 22.22%; min-height:30px; border-top:1px solid #c2c2c2; background-position:0 0; background-repeat:no-repeat; background-size:100%;margin:0;list-style:none;}
.board .section_awrad_winner .awdlist_ul > li:first-child {border:0;}
.board .section_awrad_winner .awdlist_ul > .li01 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_01.gif);}
.board .section_awrad_winner .awdlist_ul > .li02 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_02.gif);}
.board .section_awrad_winner .awdlist_ul > .li03 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_03.gif);}
.board .section_awrad_winner .awdlist_ul > .li04 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_04.gif);}
.board .section_awrad_winner .awdlist_ul > .li05 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_05.gif);}
.board .section_awrad_winner .awdlist_ul > .li06 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_06.gif);}
.board .section_awrad_winner .awdlist_ul > .li07 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_07.gif);}
.board .section_awrad_winner .awdlist_ul > .li08 {background-image:url(//img.danawa.com/new/community_new/dpg_event/img/bg_awdtable_08.gif);}
.board .section_awrad_winner .info {min-height:30px;}
.board .section_awrad_winner .info table {width:100%;}
.board .section_awrad_winner .info td {min-width:20%; padding:0 1% 2% 0; vertical-align:top; font-size:12px; word-break:break-all;}

.board .section_second {position:relative;}
.board .section_second .reawd {position:absolute; top:7%; left:7%; width:86.4%; font-size:0; text-align:center;}
.board .section_second .reawd li {display:inline-block; margin:0 1.6% 0 0; width:18.6%; text-indent:0;padding:0;list-style:none;}
.board .section_second .reawd li:last-child {margin-right:0;}
.board .section_second .btn_hamburger {position:absolute; top:34.75%; right:21.03%; width:26.6%; height:10.67%;}
.board .section_second .find_stamp_go {position:absolute; bottom:25.99%; right:27.62%; width:35.76%; height:3.09%;}

/* hitbrand stamp event */
.hitbrand_stamp {z-index:100}
.hitbrand_stamp_layer {z-index:100;border-color:#ff8a92;background:#fff;}
.hitbrand_stamp_layer .stamp_layer_tt {margin:35px 0 0 39px;}
.hitbrand_stamp_layer .stamp_img {top:75px;}
.hitbrand_stamp_layer .stamp_img .stamp_nb {z-index:98;position:absolute;top:40px;right:75px;}
.hitbrand_stamp_layer .stamp_img .stamp_bg {z-index:99;position:absolute;top:0px;right:0px;}
.hitbrand_stamp_layer .btn_stamp_go {background-color:#e5555f;}
.hitbrand_stamp_layer .stamp_notice {padding:30px 0 0 39px;font-size:16px;font-weight:bold;color:#000;font-family:"Malgun Gothic","맑은 고딕","돋움",dotum,"굴림",gulim,Arial,Helvetica,sans-serif;}
.hitbrand_stamp_layer .btn_stamp_go {top:215px;}

/* hitbrand_wrap */
.hitbrand_top {background:#f4dfdd url(//img.danawa.com/new/hitbrand/hit2015_2/stamp_event/img/hitbrand_topbanner.jpg) center top no-repeat;height:915px;position:relative;}
.hitbrand_top .go_hitbrand {display:block;width:260px;height:60px;top:444px;left:50%;margin-left:230px;position:absolute;text-indent:-9999px;background:#fff; opacity:0;filter:alpha(opacity=0);}
.hitbrand_top .view_hit_prod {display:block;position:absolute;width:177px;height:26px;bottom:3px;left:50%;margin-left:-440px;text-indent:-9999px;background:#fff;opacity:0;filter:alpha(opacity=0);}
.hitbrand_goods_wrap {background:#f7e3e0;margin:0 auto;padding:83px 0 86px 0;}
.hitbrand_goods {width:1100px;margin:0 auto;text-align:center;}
.hitbrand_goods .tit_goods {background:url(//img.danawa.com/new/hitbrand/hit2015_2/stamp_event/img/hitbrand_tit_goods.jpg) no-repeat;width:641px;height:61px;text-indent:-9999px;display:block;margin:0 auto;}
.hitbrand_goods .txt_goods {display:block;margin:39px auto 33px auto;}
.hitbrand_goods .goods_items_list {zoom:1;clear:both;margin-left:30px;}
.hitbrand_goods .goods_items_list:after {content:"";display:block;height:0;overflow:hidden;clear:both;}
.hitbrand_goods .goods_items_list li {float:left;margin:0 20px 19px 0;padding:0;list-style:none;}
.hitbrand_wrap .event_infomation_wrap .event_info_list li {*letter-spacing:-0.12em;margin:0;padding:0;list-style:none;}

/* hitbrand facebook event */
.hitbrand_facebook_top {background:#208adc url(//img.danawa.com/new/hitbrand/hit2015_2/img/facebook_topbanner.jpg) center top no-repeat;height:1414px;position:relative;}
.hitbrand_facebook_top .go_hitbrand {display:block;width:260px;height:60px;top:590px;left:50%;margin-left:-50px;position:absolute;text-indent:-9999px;background:#fff; opacity:0;filter:alpha(opacity=0);}
.hitbrand_facebook_top .view_hit_prod {display:block;position:absolute;width:473px;height:48px;bottom:34px;left:50%;margin-left:-240px;text-indent:-9999px;background:#fff;opacity:0;filter:alpha(opacity=0);}
.hitbrand_facebook_event {background:#208adc;}
.hitbrand_facebook_event .tit_goods {background:url(//img.danawa.com/new/hitbrand/hit2015_2/img/facebook_tit_goods.jpg) no-repeat;width:641px;height:61px;margin-bottom:55px;}
.hitbrand_facebook_event .goods_items_list li {margin:0 0 16px 0;padding:0;list-style:none;}

/* newterm_stamp */
.newterm_stamp {background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_newterm_stamp_layer.gif) 0 0 no-repeat #fff;z-index:100;}
.btn_stamp_wrap {position:relative;z-index:2;}
.btn_stamp_go2 {background:#ec4b4b;position:absolute;font-size:16px;color:#fff;letter-spacing:-0.1em;font-family:"Malgun Gothic";border-radius:20px;font-weight:bold;line-height:35px;text-align:center;display:block;height:37px;width:151px;top:-35px;left:217px;cursor:pointer;}
.btn_stamp_go2:hover{text-decoration:none;color:#fff;}
.newterm_item .today_chk{top:145px;}
.newterm_top {background:#def5ed url(//img.danawa.com/new/community_new/dpg_event/img/bg_newterm_topbanner.jpg) no-repeat;height:877px;background-position:center top;}
.newterm_top_bg{background:url(//img.danawa.com/new/community_new/dpg_event/img/newterm_topbanner.png) no-repeat;height:877px;position:relative;background-position:center top;}
.newterm_top .btn_nterm_prod {display:block;position:absolute;width:159px;height:30px;bottom:77px;right:50%;margin-right:254px;text-indent:-9999px;cursor:pointer;}

/* cheerup_3040_stamp */
.btn_stamp_go3{background-color: #c43a25;}
.newterm_item{left:650px; top:1575px;}

/* social_layer_form */
.social_layer_form {top:50%; left:50%; width:582px; height:500px; margin-left:-291px; background:none; background-color:#fff; border-radius: 15px; position:fixed;}
.social_layer_form .evt_close {top:25px; right: 25px;}
.social_layer_form .evt_layer_title {margin-top:42px; font-size:32px; margin-bottom:25px;}
.social_layer_form .evt_content{width:auto;}
.social_layer_form .evt_content .evt_form_area dt{width:60px;}
.social_layer_form .tit_inpt_mid {margin-top:10px;}
.social_layer_form .evt_content  {padding-left:50px;}
.social_layer_form .evt_content .evt_form_area .tit_agree{width:260px; margin-top:20px; line-height: 30px;}
.social_layer_form .evt_content .evt_form_area dd .adress_input{width:410px;}
.social_layer_form .privacy_text_area{width:480px; height: 120px; overflow-y:scroll; overflow-x:hidden; border:1px solid #b3b3b3;}
.social_layer_form .list_item{list-style: none; padding:0 10px; font-size:14px; color: #666; font-family: "Malgun Gothic"; line-height: 21px; letter-spacing: -0.5px;}
.social_layer_form .tit_pri_agree label{margin-left:5px; line-height: 30px;font-size:16px; font-family: "Malgun Gothic"; font-weight: bold; color:#333;}
.social_layer_form .btn_evt_comp{margin:17px auto 27px; width:150px;}

/* horr_stamp */
.horr_stamp{background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_horr_stamp_layer.jpg) 0 0 no-repeat #fff;border:2px solid #9c0406;z-index:100;}
.horr_stamp .btn_stamp_go2{background: #9c0406; top:-55px;}
.horr_stamp .btn_stamp_go10{top:-35px;}

/* hitbrand2016f event */
.hitbrand2016f_top{background:url(//img.danawa.com/new/hitbrand/hit2016_1/stamp_event/img/hit2016f_bg.jpg)no-repeat center #91CDF1;}
.hitbrand2016f_top .view_hit_prod {bottom:62px; margin-left:-400px;}
.hitbrand2016f_wrap{background-color:#91cdf1;}
.hitbrand2016f_wrap{background-color:#91cdf1;}
.hitbrand2016f_wrap .tit_goods {background:url(//img.danawa.com/new/hitbrand/hit2016_1/stamp_event/img/hitbrand_tit_goods.png);}
.hitbrand2016f_wrap .goods_items_list  {margin:0;}

/* academy stamp event */
.academy label{color:#000;}
.acdm_stamp {background:url(//img.danawa.com/new/community_new/dpg_event/img/bg_acdm_stamp_layer.png) 0 -5px no-repeat #FFF5E8; border:4px solid #624212;width:444px;height: 272px;}
.acdm_stamp .stamp_img{top:90px;}
.acdm_stamp .btn_stamp_go2{background-color: #C43A25;position:relative;left:50px;top:auto;margin-top:15px;}
.acdm_stamp .stamp_info dd{width:217px}

/* stamp_info_form */
.mb29{margin-bottom:29px !important;}
.mb30{margin-bottom:30px !important;}
.stamp_info_form .privacy_text_area{margin:10px;}
.stamp_info_form .privacy_text_area p{font-family: "Malgun Gothic";font-size:14px;color:#666;margin:10px;}
.stamp_info_form .evt_content dd.tit_inpt_mid{font-family:"Malgun Gothic";font-size:14px;font-weight: bold;color:#333;width:500px;margin:5px 0 0 45px;}
.stamp_info_form .btn_evt_comp{margin:40px auto 0;}
.event_layer_form .evt_content .evt_agree_text dt{margin:5px 0;}
.evt_agree_text dt label{font-family: "Malgun Gothic";font-size:14px;color:#333;margin:5px 0;}

/* hitbrand2016s_top event */
.hitbrand2016s_top{background:#ecb0b0 url(//img.danawa.com/new/hitbrand/hit2016_2/stamp_event/img/hit2016s_bg.jpg)no-repeat center;}
.hitbrand2016s_top .go_hitbrand {top:435px;}
.hitbrand2016s_top .view_hit_prod {width:748px;height:41px;bottom:42px;margin-left:-370px;}
.hitbrand2016s_wrap {background-color:#ecb0b0;}
.hitbrand2016s_wrap .tit_goods {background:url(//img.danawa.com/new/hitbrand/hit2016_2/stamp_event/img/hitbrand_tit_goods.png);}
.hitbrand2016s_wrap .goods_items_list  {margin:0;}
.goods_items_list a {display:inline-block}
.hitbrand_stamp .today_chk {color:#0b0b0b;}

/* hit_2016s_layer */
.hit_2016s_layer {border-color:#58161a;background:url(//img.danawa.com/new/newblog/img/stamp_bg_hit2016s.png) no-repeat;}
.hit_2016s_layer .btn_stamp_go {background-color:#58161a;}
.hit_2016s_layer .stamp_layer_tt {margin:29px 0 0 95px;}
.hit_2016s_layer .stamp_layer_close {background:url(//img.danawa.com/new/newblog/img/stamp_close_w.png) no-repeat;}
.hit_2016s_layer .stamp_notice {padding:59px 0 0 15px;font-size:15px;letter-spacing:-0.05em;}
.hit_2016s_layer .p_red {margin:10px 0 0 35px;color:#e11616;font-size:17.5px;font-weight:bold;font-family:"Malgun Gothic","맑은 고딕";letter-spacing:-0.08em;}

/* academy_event */
.academy_top{background:#26aeba;}
.academy_top .center_wrap {width:1100px;text-align:center;margin:0 auto;position:relative;}
.btn_link {position:absolute;text-indent:-9999px;display:inline-block;background:url(//img.danawa.com/new/common/bg_blank1.png) repeat;}
.btn_link_01 {width:160px;height:160px;top:645px;left:914px;}
.btn_link_02 {width:165px;height:38px;top:1140px;left:84px;}
.btm_goods_wrap img {vertical-align:top;}
.academy_goods_wrap {background:#bee4e7 url(//img.danawa.com/new/community_new/dpg_event/img/academy_bg_img.png) bottom center no-repeat;margin:0 auto;text-align:center;}
.academy_goods_wrap .goods_items_list {position:absolute;width:0;height:0;text-indent:-9999px;line-height:0;top:-9999px;left:-9999px;}

/* fool_stamp */
.fool_item {height:160px;}
.fool_stamp {width:444px;height:278px;}
.fool_stamp {border-color:#2d1d7f;background:#fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_fool_layer.jpg) no-repeat;}
.fool_stamp .stamp_layer_tt {margin:34px 0 0 78px;}
.fool_stamp .stamp_info dt {margin-bottom:8px;}
.fool_stamp .stamp_info {padding:26px 0 0 160px;height:112px;display:block;}
.fool_stamp .stamp_img {top:103px;left:31px;right:inherit;}
.fool_stamp .btn_stamp_go2 {background-color:#2d1d7f;top:-49px;left:204px;}
.fool_stamp .event_info_text {text-align:left;margin:13px 0 0 27px;}

.fool_top {background:#2d1d7f url(//img.danawa.com/new/community_new/dpg_event/img/fool_top_img.jpg) top center no-repeat;}
.center_wrap {width:1100px;text-align:center;margin:0 auto;position:relative;}
.fool_top_bg {height:1105px;}
.btn_link_go {width:491px;height:85px;bottom:45px;left:305px;}
.fool_top_bg .btn_prod1 {width:180px;height:160px;top:525px;left:750px;}
.fool_top_bg .btn_prod2 {width:170px;height:150px;top:680px;left:90px;}
.fool_top_bg .btn_prod3 {width:170px;height:160px;top:730px;left:260px;}
.fool_top_bg .btn_prod4 {width:230px;height:160px;top:720px;left:585px;}
.fool_top_bg .btn_prod5 {width:330px;height:160px;top:530px;left:400px;}
.fool_wrap .wide_wrap {background:#1384ca;}
.fool_wrap .wide_wrap .btn_link_1 {width:356px;height:76px;top:230px;left:688px;}

.fool_evn_info,.fool_evn_info .event_infomation_wrap  {background:#412da3;}
.fool_evn_info .event_infomation_wrap .event_title {color:#fff;}
.fool_evn_info .event_infomation_wrap .event_info_list li {color:#d9d9d9;}

/* ryzen_top */
.ryzen_top {background:#060608;}
.ryzen_top .btn_link_01 {top:550px;left:470px;}
.ryzen_top .btn_link_02 {top:915px;left:100px;}

/* hit2017f_top */
.hit2017f_top{background:#375790 url(//img.danawa.com/new/hitbrand/hit2017_1/stamp_event/img/bg_top.jpg)no-repeat center;}
.hit2017f_top .go_hitbrand {width:180px;height:180px;top:320px;margin-left:310px;}
.hit2017f_top .view_hit_prod {bottom:62px;margin-left:-400px;}
.hit2017f_goods_wrap {background:#36568f;margin:0 auto;padding:0;}

/* hit2017s_top */
.hit2017s_top{height:1039px;background:#79100a url(//img.danawa.com/new/hitbrand/hit2017_2/stamp_event/img/bg_top.jpg)no-repeat top center;}
.hit2017s_top .go_hitbrand {width:200px;height:200px;top:460px;margin-left:245px;}
.hit2017s_top .view_hit_prod {bottom:56px;margin-left:-405px;}
.hit2017s_goods_wrap {height:1305px;background:#79100a url(//img.danawa.com/new/hitbrand/hit2017_2/stamp_event/img/bg_goods.jpg) no-repeat top center;background-size:cover;margin:0 auto;padding:0;}

/* renew_stamp */
.renew_stamp {background:#CDD8B8 url(//img.danawa.com/new/event_v6/img/bg_top_180130.jpg) no-repeat top center; height: 1470px;}
.renew_stamp .go_event {position:absolute; bottom:67px; left:50%; margin-left:-455px; width: 140px; height:30px;}
.renew_stamp_btm {background:#CDD8B8 url(//img.danawa.com/new/event_v6/img/bg_btm_180130.jpg) no-repeat top center; height: 570px;}

/* stm */
.stm {border-color:#3187D1; background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_lucky2018_layer.png?v=2) no-repeat;}
.stm .stamp_layer_tt {margin:25px 0 3px 88px;}
.stm .stamp_info {padding-top:20px; padding-left:150px; letter-spacing: -.7px;}
.stm .btn_stamp_go2 {background-color:#3187D1; top:-40px;}
.stm .today_chk {bottom:0;}
.stm .event_info_text {margin-top:18px; font-size:13px; letter-spacing: -.6px;}
.stm .btn_stamp_go2 span {font-size:12px; vertical-align: top;}
/* .v1803 */
.v1803_01 {background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_cong_v180301.png?v=2) no-repeat;}
.v1803_01 .stamp_layer_tt {margin-left:70px;}
.v1803_01 .stamp_info dt{font-weight: normal;}
.v1803_01 .stamp_info dd{font-size:16px;}

.v1803_02 {background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_cong_v180302.png?v=2) no-repeat; border-color:#EA5D24;}
.v1803_02 .stamp_layer_tt {margin-left:70px;}
.v1803_02 .stamp_info {font-size:14px; padding:15px 0 0 160px;}
.v1803_02 .stamp_info dt{letter-spacing: -2.5px;}
.v1803_02 .btn_stamp_go2 {top:-35px; background-color:#EA5D24;}

.v1803_03 {background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_cong_v180303.png?v=2) no-repeat; border-color:#10917D;}
.v1803_03 .stamp_layer_tt {margin-left:70px;}
.v1803_03 .stamp_info dt{font-weight:normal;}
.v1803_03 .stamp_info dd{font-weight:bold;}
.v1803_03 .btn_stamp_go2 {top:-45px; background-color:#10917D;}

.v1803_04 {background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_cong_v180304.png?v=2) no-repeat; border-color:#F89B1C;}
.v1803_04 .stamp_layer_tt {margin-left:70px;}
.v1803_04 .stamp_info {padding-top:25px;}
.v1803_04 .stamp_info dt{font-weight:normal; font-size:14px;}
.v1803_04 .stamp_info dd{font-weight:bold;}
.v1803_04 .btn_stamp_go2 {top:-45px; background-color:#D77C00;}

.v1803_05 {background: #fff url(//img.danawa.com/new/community_new/dpg_event/img/bg_cong_v180305.png?v=2) no-repeat; border-color:#934ECE;}
.v1803_05 .stamp_layer_tt {margin-left:70px;}
.v1803_05 .stamp_info {padding-left:155px; padding-top:22px;}
.v1803_05 .stamp_info dt{font-weight:bold;}
.v1803_05 .stamp_info dd{font-weight:normal;}
.v1803_05 .btn_stamp_go2 {top:-45px; background-color:#934ECE;}

.v1807_01 {background: #fff url(//img.danawa.com/img/event/stamp/bg_cong_v180706.png?v=1834) no-repeat; border-color:#1D3A4D;}
.v1807_01 .stamp_layer_tt {margin:28px 0 3px 106px}
.v1807_01 .stamp_info {padding-left:160px; letter-spacing:-.3px}
.v1807_01 .btn_stamp_go2 {top:-50px; background:#1D3A4D}
.v1807_01 .event_info_text {font-size:12px; letter-spacing:-1.2px; margin-top:22px}
.v1807_16 .stamp_info dt {margin-bottom:0}
.pop_stp {height:200px}

/* stamp_type1 */
.pop_type1 .pop_close {background:url(//img.danawa.com/new/common/bg_blank1.png) repeat; position: absolute; top:5px; right:5px; width:20px; height:20px; text-indent:-9999px}
.pop_type1 {position: absolute; width:130px; height:200px; z-index: 99;}
.pop_type1 .today_chk {position: absolute; bottom:10px; margin:0; color:#666; width:100%; text-align: center;font-size:11px;letter-spacing:-1px;}
.pop_type1 input {vertical-align:-2px;margin-right:2px;}
.pop_type1 .today_chk_v2 {color:#bebebe;}
.pop_type1 .today_chk_v3 {color:#f2f2f2;}
.screen_out {position: absolute; clip: rect(0 0 0 0); overflow:hidden; margin:-1px; width:1px; height:1px}
.stamp_type1 {position:fixed; width:448px; height:282px; z-index:9; background:#fff; top:50%; left:50%; margin:-143px 0 0 -229px}
.stamp_layer_tt {position:relative; z-index:2; margin:0}
.stamp_layer_close {position:absolute; right:0; top:0; width:60px; height:60px; background:url(//img.danawa.com/new/common/bg_blank1.png) repeat; text-indent:-9999px; z-index: 99;}
.stamp_img {margin:0}
.stamp_info { position: absolute; z-index:1; margin:0; height:64px; display:table-cell; vertical-align:middle; right:15px; top:110px; width:270px}
.stamp_info dt {font-size:16px; font-weight:bold; color:#000; height:16px; font-family:"Malgun Gothic"; letter-spacing: -.5px; margin-bottom:5px}
.stamp_info dd {margin:0; font-size:14px; line-height:18px; color:#333; font-family:"Malgun Gothic"; display:table-cell; vertical-align: middle; height:32px;letter-spacing: -.5px}
.btn_stamp_go {position:absolute; top:205px; left:50%; margin-left:-109px; width:218px; height:37px; line-height:35px; text-align:center; display:block; background:#544ab1; border-radius:20px; font-size:16px; font-weight:bold; color:#fff; font-family:"Malgun Gothic"; letter-spacing:-0.1em; }
.btn_stamp_go:hover {text-decoration:none;}
.btn_stamp_go2 {display:block;background:url(//img.danawa.com/new/common/bg_blank1.png) repeat;text-indent:-9999px;position: static;width:auto}
.btn_stamp_wrap {position: absolute; z-index: 2; top:174px; right:67px; width:200px; height:40px}
.event_info_text {position: absolute; bottom:20px; margin:0;width:100%; text-align:center;color:#333; font-size:12px;font-family:"Malgun Gothic"; letter-spacing: -1.2px}