@charset "UTF-8";

/* Initialize */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquopte,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button,input{margin:0;padding:0;}
ol,ul{list-style:none;}
img,fieldset{border:none;}
body{font-family:"돋움",Dotum,Arial,Verdana,san-serif;}

/* Article Banner */
.article_banner {border-top:1px dashed #d9d9d9;border-bottom:1px dashed #d9d9d9;font-size:15px;font-weight:bold;color:#0066ff;overflow:hidden;padding:11px 0 9px;}
.article_banner .comment{line-height:25px;}
.article_banner .to_danawa {float:right;}
.article_banner .to_danawa img {vertical-align:middle;}

/* Hot Issue */
.hot_issue {border:1px solid #dfdfdf;padding:14px 13px 13px;width:187px;height:334px;position:relative;}
.hot_issue h1{background: url("//img.danawa.com/new/dvd_prime/img/title_it_news.png") no-repeat scroll 0 2px transparent;height: 13px;text-indent: -9999em;width: 75px;overflow:hidden;}
.hot_issue .thumb_issue {margin-top:17px;text-align:center;height:110px;}
.hot_issue .thumb_issue a{display:inline-block;*zoom:1;width:80px;height:110px;text-decoration:none;text-align:center;color:#333;}
.hot_issue .thumb_issue a+a{margin-left:15px;}
.hot_issue .thumb_issue a:hover{text-decoration:underline;}
.hot_issue .thumb_issue .issue_title{font-size:12px;font-weight:bold;line-height:15px;color:#333;height:30px;overflow:hidden;display:block;text-align:left;margin-top:7px;}
.hot_issue .issue_list_cont{border-top:1px dashed #d9d9d9;margin:16px 1px 0;padding-top:15px;}
.hot_issue .issue_list li{font-size:12px;line-height:16px;background:url("//img.danawa.com/new/newmain/img/icon_bul_01.png") no-repeat scroll 0 5px transparent;padding-left:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:5px;_width:187px;}
.hot_issue .issue_list li a{text-decoration:none;color:#666;}
.hot_issue .issue_list li a:hover {text-decoration:underline;}
.hot_issue .issue_list li .hit {color:#333;font-weight:bold;*padding-right:15px;*background:url('//img.danawa.com/new/newmain/img/icon_hit.gif') no-repeat right 1px;}
.hot_issue .issue_list li .hit:after{content:"";display:inline-block;width:11px;height:9px;background:url('//img.danawa.com/new/newmain/img/icon_hit.gif') no-repeat;margin-left:5px;}
.hot_issue .index {font-size:11px;color:#999;position:absolute;bottom:11px;right:15px;}
.hot_issue .index .page{float:left;margin-right:6px;margin-top:1px;}
.hot_issue .index .btn_nav {display:block;float:left;background:url("//img.danawa.com/new/newmain/img/icon_arrow_01.png") no-repeat scroll -11px -29px transparent;height:12px;width:12px;overflow:hidden;cursor:pointer;text-indent:-999em;}
.hot_issue .index .nav_prev {background-position:0 -29px;width:11px;}

/* #pop_header */
#pop_header {border-bottom:1px solid #4878d0;height:60px;background:#4376d4;margin:0;padding:0;position:relative;}
#pop_header h1 {margin:0;padding:0;position:absolute;top:5px;left:18px;}
#pop_header h1 img {vertical-align:middle;}
#pop_header .danawa_txt {font-size:11px;color:#fff;font-family:dotum,'돋움',sans-serif;position:absolute;top:26px;left:126px;}
#pop_header .btn_close {background:url("//img.danawa.com/new/ppuang/img/btn_close.gif") no-repeat left top;width:40px;height:18px;display:inline-block;text-indent:-9999em;position:absolute;right:20px;top:20px;}

/* #pop_cont */
#pop_content {clear:both;overflow:hidden;}
#pop_wrap .txt_img1 {text-align:center;margin:30px 0 }
#pop_wrap .search_input_wrap {border:4px solid #2b5db6;margin:0 136px 0 74px;_margin:0;*width:334px;*margin:0 auto;}
#pop_wrap .search_input_in {margin:0 0 0 0;padding:8px 27px 0px 10px;vertical-align:top;height:19px;/*background:url(//img.danawa.com/new/ppuang/img/ico_search_arrow.gif) no-repeat right top;cursor:pointer;*/_margin:0;}
#pop_wrap .search_input_wrap input {width:100%;border:0 none;font-family:dotum,'돋움',sans-serif;color:#666;}
.search_area {position:relative;*width:400px;margin:0 auto;}
.search_area legend {display:none;}
.btn_pop_search {position:absolute;right:76px;top:0px;*top:0px;*right:-31px;}
.danawa_sale_mall {clear:both;overflow:hidden;zoom:1;margin:35px 0 0 74px;}
.danawa_sale_mall dt {float:left;font-weight:bold;width:130px;color:#3c3c3c;font-size:12px;}
.danawa_sale_mall dd {float:left;color:#4266db;font-size:11px;font-family:dotum,'돋움',sans-serif;width:280px;}
.danawa_sale_mall dd a {color:#4266db;font-size:11px;font-family:dotum,'돋움',sans-serif;}