@charset "utf-8";

/*  layout */
.top_image_content{background:url(//img.danawa.com/new/goods_list/v1/img/img_850_250.jpg) no-repeat center 0;width:850px;height:250px;position:relative;overflow:hidden;}
.table_spec_content{border-top:1px solid #b3b3b3;clear:both;overflow:hidden;*zoom:1;margin:19px 25px 25px 25px;}
.w850{width:850px;margin:0 auto;}
.w800{width:800px;margin:0 auto;}
.mt25{margin-top:25px;}

.tbl_spec_type1{border-collapse:collapse;border:1px solid #b3b3b3;border-top:none;width:100%;}
.tbl_spec_type1 td {border-right:1px solid #e6e6e6;text-align:center;border-top:1px solid #e6e6e6;width:9.5%;margin:0;padding:2px 0;height:20px;}
.tbl_spec_type1 th {border-right:1px solid #d7d7d7;text-align:center;border-top:1px solid #e6e6e6;width:10.5%;padding:0 8px;margin:0;padding:0;}
.tbl_spec_type1 .first td,
.tbl_spec_type1 .first th {border-top:none;}
.tbl_spec_type1 .r_line{border-right:1px solid #d7d7d7;}
.tbl_spec_type1 .btn_ar td{padding:5px 0;}
.tbl_spec_type1 .img_td{padding-bottom:9px;}
.tbl_spec_type1 .img_td2{padding-bottom:0;vertical-align:middle;height:72px;}

.tbl_spec_type2{border-left:none;border-right:none;}
.tbl_spec_type2 .r_none,
.tbl_spec_type2 .r_none {border-right:none;}
.tbl_spec_type1 td {width:8.8%;}
.tbl_spec_type2 th.w12{width:12%;}
.tbl_spec_type2 th{border-right:1px solid #b3b3b3;}


.bg_g td,
.bg_g th{background-color:#f7f7f7;}

.bg_g2 td,
.bg_g2 th{background-color:#fafafa;}

.line_dgrey td,
.line_dgrey th{border-top:1px solid #b3b3b3;}


.tit_th{text-align:center;font-size:11px;}
.title_spec_t1{font-weight:normal;color:#767676;text-align:center;display:block;font-size:11px;letter-spacing:-0.5px;}
.title_spec_t2{font-weight:normal;color:#333;text-align:left;display:block;font-size:11px;padding-left:5px;letter-spacing:-0.25px;}
.title_goods_t1{color:#333;display:block;text-align:center;font-size:12px;letter-spacing:-1.1px;}
.txt_spec_t1{color:#333;font-size:11px;}
.txt_spec_t2{color:#767676;font-size:11px;}
.txt_spec_strong{color:#0375e0;font-size:11px;}
.page_first_title{font-weight:bold;font-size:12px;color:#333;line-height:18px;padding:5px 0 0 0;letter-spacing:-1px;}
.img_wrap1{padding:4px 4px 2px 4px;height:70px;width:70px;overflow:hidden;}
.btn_price_compare{width:60px;height:18px;line-height:20px;font-size:11px;display:inline-block;font-weight:bold;color:#fff;background-color:#0375e0;}
.btn_price_compare:hover{color:#fff;}
.btn_movie_play{width:108px;height:108px;display:block;text-indent:-999em;position:absolute;top:117px;left:275px;border-radius:50%;}

a:hover{color:#333;}


