@charset "UTF-8";

/* default Selector */
body,input,button,select,input,txtArea,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,ul,ol,li,legend,hr,em,addres,div,p,strong,fieldset,form{margin:0;padding:0;}
html,body{width:100%;height:100%;position:relative;}
html{overflow-y:scroll}
body,input,textarea,select,button,table {font-size:12px;font-family:'돋움',Dotum,Helvetica,AppleGothic,Sans-serif;text-align:left;background:#fff;*word-break:break-all;-ms-word-break:break-all;color:#666}

/* link */
a{text-decoration:none;color:#666;}
a:hover,a:active,a:focus,a:visited {text-decoration:underline;color:#666}

/* Type Selector */
img, fieldset, button,iframe {border:0 none}
ul,ol{list-style:none}
em,address{font-style:normal}
hr{display:none}

/* Common */
.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* 레이아웃 */
.login_v3_wrap {width:800px;margin:0 auto;height:100%;}
.login_header_wrap {border-bottom:2px solid #c0c0c0;clear:both;overflow:hidden;padding-bottom:7px;margin-top:205px;position:relative;}	
/*#header h1 {float:left;margin-right:16px;}*/
.txt_top_login{float:left;}
.link_cs{position:absolute;padding-right:6px;display:block;line-height:16px;font-size:11px;color:#666;background:url(//img.danawa.com/new/newmain/img/icon_arrow_01.png) no-repeat right -90px;bottom:5px;}
#content {clear:both;*zoom:1;}
#content:after {content:"";display:block;clear:both;}
.bottom_content {clear:both;overflow:hidden;border-bottom:1px solid #e8e8e8;padding-bottom:12px;*zoom:1;}
#footer {clear:both;overflow:hidden;*zoom:1;text-align:center;margin-top:23px;}
#footer address { margin:5px 0 10px 18px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#757575; text-align:center;}
#footer address strong { color:#666; font-size:9px; font-family:Verdana, Arial, Helvetica, sans-serif; }

.middle_content {clear:both;*zoom:1;}
.middle_content:after {content:"";display:block;clear:both;}
.right_line {background:url(//img.danawa.com/new/login_new/img/bg_layout_dot.gif) repeat-y right 3px;position:relative;}
.bg_white {background:#fff;width:2px;height:6px;position:absolute;right:0px;bottom:0px;}
.middle_center_content {width:260px;float:left;margin-right:10px;}
.middle_right_content {width:120px;float:left;margin-top:24px;}

.box_login {background:url(//img.danawa.com/new/login_new/img/bg_login_box.gif) no-repeat;background-position:0 0;width:382px;height:132px;margin:0px 0 0 24px;position:relative;top:24px;}
.box_login label {font-size:12px;color:#666;}
.input_id_box {position:absolute;top:24px;left:23px;}
.input_id_box label {width:54px;display:inline-block;vertical-align:middle;}
.input_id_box input {width:148px;height:17px;border:1px solid #bcbcbc;vertical-align:middle;}
.input_pw_box {position:absolute;left:23px;top:46px;}
.input_pw_box label {width:54px;display:inline-block;vertical-align:middle;font-size:12px;color:#666;}
.input_pw_box input {width:148px;height:17px;border:1px solid #bcbcbc;vertical-align:middle;}
.check_id {position:absolute;top:73px;left:81px;}
.check_id input {display:inline-block;vertical-align:middle;margin-right:8px;*margin-right:3px;}
.check_id label {display:inline-block;vertical-align:middle;*margin-top:2px;}
.btn_login {position:absolute;left:237px;top:24px;}
.btn_login_center {text-align:center;margin-top:14px;padding-bottom:25px;}
.btn_login_center a {display: inline-block; height: 22px}
.btn_type1 {border:1px solid #bfbfbf;background:#fff;color:#666;padding:4px 12px 1px 12px;*padding:4px 12px 1px 12px;display:inline-block;cursor:pointer;}
:root .btn_type1 {padding:3px 12px 2px 12px;}
.btn_type1:hover {text-decoration:none;}

/* box_notice */
.box_notice {background:url(//img.danawa.com/new/login_new/img/bg_notice_box.gif) no-repeat;background-position:0 0;width:260px;height:93px;margin:11px 0 0 0px;}
.box_notice h3 {color:#666;font-size:12px;padding:9px 0 0 16px;}
.box_notice li {list-style:none;color:#949494;font-size:11px;background:url(//img.danawa.com/new/login_new/img/bul_dot.gif) no-repeat;background-position:0 4px;padding:0 0 0 8px;line-height:15px;}
.box_notice li a {font-size:11px;color:#757575;}
.box_notice ul {margin:4px 0 0 18px;}
.login_wide legend {position:absolute;visibility:hidden;top:-10000px;left:-10000px;}

.mr5 {margin-right:5px;}
.mr3 {margin-right:3px;}

/* text_list */
.text_list {margin:10px 0 0 0;*margin:7px 0 0 0;}
.text_list li {background:url(//img.danawa.com/new/login_new/img/bul_dot.gif) no-repeat;background-position:0 8px;line-height:22px;margin-bottom:2px;padding:0 0 0 8px;vertical-align:top;font-size:11px;}
.text_list li .text_in {font-size:11px;color:#757575;line-height:14px;}
.btn_ad_information {display:inline-block;vertical-align:middle;margin-left:5px;}

/* banner_area1 */
.banner_area1 {overflow:hidden;}
#wrap_login.login_update {width:800px;}
.login_update #header {padding:269px 0 15px 0;}
.login_update #header h1{margin-right:3px;}
.login_update #header h2 {background:url(//img.danawa.com/new/login_new/img/txt_login.png) no-repeat;text-indent:100%;overflow:hidden;white-space:nowrap;margin:8px 0 0 0;}
.txt_login {background-position: 0 0;width:61px;height:22px;}
.login_update .content {margin:0;padding:53px 0;}
.middle_content:before, .middle_content:after {content:"";display: block;height:0;overflow:hidden;}
.middle_content:after {clear:both;}
.middle_content {*zoom:1;} 
.middle_left_content {width:360px;min-height:302px;float:left;margin:0;padding:0 19px 0 54px;}
.middle_right_content {width:295px;}
.login_radio_area {*zoom:1;margin:0 0 9px 0;position:relative;}
.login_radio_area li {float:left;color:#757575;margin:3px 19px 0 0;}
.login_radio_area:after{content:"";display:block;clear:both;}

.login_radio_area .non_member {float:right;margin:0;}
.non_member:after,.non_member:before {display:block;overflow:hidden;clear:both;content:""}
a.btn_nonmember {display:block;float:left;color:#2964e0;border:1px solid #2964e0;height:17px;line-height:17px;padding:2px 6px 0px;letter-spacing:-0.02em;}
a.btn_nonmember:hover {text-decoration:none;color:#2964e0;}

.non_member .help_wrap {float:left;position:relative;}
.btn_tooltip {display:block;margin:3px 0 0 7px;cursor:pointer;}
.order_layer {width:234px;top:-50px;left:-115px;}
.help_wrap:hover .order_layer {display:block;}
.order_layer .tip_txt {text-align:center;}

.bottom_center_content {clear:both;margin:0 54px}
.ntc_list {padding-top:18px;}
.ntc_list li {margin-bottom:4px;padding-left:12px;background:url(//img.danawa.com/img/auth/dot.gif) 0 6px no-repeat;letter-spacing:-0.02em;color:#666;line-height:16px;}
a.point_link {color:#2964e0;}

.login_area{background:#fff;border:none;margin:0;width:340px;margin-bottom:11px;}
.login_area li input{vertical-align:middle;*vertical-align:baseline;margin-right:5px;margin-bottom:2px;}
.login_input_area {position:relative;margin-top:15px;}
.login_input_area .input_box {width:238px;height:38px;*height:39px;border:1px solid #b3b3b3;margin:0 0 10px 0;position:relative;}
.login_input_area .input_box input {width:223px;height:33px;padding:3px 0 2px 15px;color:#1a1a1a;font-weight:bold;font-size:16px;line-height:30px;display:block;position:relative;z-index:8;-webkit-appearance:none;border:0;border-radius:0;zoom:1;}
.login_input_area .input_box label {color:#757575;font-weight:bold;font-size:16px;line-height:16px;position:absolute;top:12px;left:16px;background:#fff;z-index:8;}
.login_input_area .input_box placeholder {color:#757575;font-weight:bold;font-size:16px;line-height:22px;}
.login_input_area .input_box input::-webkit-input-placeholder {color:#757575;font-weight:bold;font-size:16px;line-height:24px;}/* WebKit browsers */
.login_input_area .input_box input:-moz-placeholder {color:#757575;font-weight:bold;font-size:16px;line-height:22px;}/* Mozilla Firefox 4 to 18 */
.login_input_area .input_box input::-moz-placeholder {color:#757575;font-weight:bold;font-size:16px;line-height:22px;}/* Mozilla Firefox 19+ */
.login_input_area .input_box input:-ms-input-placeholder {color:#757575;font-weight:bold;font-size:16px;line-height:22px;}/* Internet Explorer 10+ */
.login_input_area .last {margin:0;}
.login_input_area .btn_login {display:block;width:90px;height:90px;background:url(//img.danawa.com/new/login_new/img/btn_login.png) 0 -200px no-repeat;top:0;right:0;left:auto;cursor:pointer;text-indent:100%;overflow:hidden;white-space:nowrap;}
.login_help_menu {margin:9px 0 0 0;}
.login_help_menu .help_item {padding:0 9px 0 0; margin:0 5px 0 0; font-size:11px;color:#757575;letter-spacing: .25px;background:url(//img.danawa.com/new/danawa_main/v1/img/bg_gnb_mark.png) right -10px no-repeat;}
.login_help_menu .help_join {background:none; margin:0; padding:0;}
.login_help_menu .save_id {background:none;}
.help_item a{font-size:11px;color:#757575;letter-spacing: -1px;}
.help_auto input {vertical-align:-2px;margin:0 5px 0 0;}
.help_auto label {letter-spacing: -1px;}
.login_sns {margin-top:24px;}
.login_sns_list {*zoom:1;margin:8px 0;}
.login_sns_list:after{content:"";display:block;clear:both;}
.tit_login_sns{font-size:11px;color:#757575;font-family:"돋움",dotum;font-weight:normal;}
.txt_sns_notice{color:#757575; font-size:11px;}

.sns_login_naver {width:166px;height:44px;background:url(//img.danawa.com/new/login_new/img/btn_join_naver.jpg) no-repeat;display:block;text-indent:-9999px;margin:0 8px 8px 0;float:left;}
.btn_login_navr {display:block;width:166px;height:44px;}
.sns_login_facebook {width:166px;height:44px;background:url(//img.danawa.com/new/login_new/img/btn_join_facebook.jpg) no-repeat;display:block;text-indent:-9999px;float:left;margin:0 0 8px 0 ;}
.sns_login_kakaotalk {width:166px;height:44px;background:url(//img.danawa.com/new/login_new/img/btn_join_kakao.jpg) no-repeat;display:block;text-indent:-9999px;float:left;margin-right:8px;}
.sns_login_daum {width:166px;height:44px;background:url(//img.danawa.com/new/login_new/img/btn_join_daum.jpg) no-repeat;display:block;text-indent:-9999px;float:left;}
.btn_login_fb, .btn_login_katalk,.btn_login_daum,.btn_login_navr {display:block;width:166px;height:44px;}
.link_ad_info {display:block;margin-left:178px;font-size:11px;letter-spacing:-0.25px;line-height:11px;color:#767676;margin-top:7px;text-align:left;width:120px;font-weight:bold;letter-spacing:-1px;}
.link_ad_info:hover,.link_ad_info:link {color:#767676;font-weight:bold;}
.txt_error {font-size:11px;color:#e01c1c; letter-spacing:-0.25px;margin:10px 0 -2px 0;height:11px;line-height:11px;}

.banner_250_250 {width:250px;height:250px;padding-left:40px;border-left:1px solid #e5e5e5;overflow:hidden;}
.banner_250_250 img{width:250px;height:250px;overflow:hidden;}
#footer {margin:0; border-top:1px solid #d5d5d5;}
#footer address {margin-top:27px;}

/* login_v3_wrap */
.login_content_wrap {margin:80px 0 120px 0;}
.login_header_wrap {position:relative;}
.login_header_wrap .link_cs{position:absolute;padding-right:6px;display:block;line-height:14px;font-size:11px;color:#666;background:url(//img.danawa.com/new/newmain/img/icon_arrow_01.png) no-repeat right -90px;bottom:10px;right:2px;}
.top_logo {float:left;margin-left:-7px;}
.txt_top_login {font-family:"Malgun Gothic","맑은 고딕",dotum,'돋움',gulim,'굴림','Apple Gothic',Helvetica,sans-serif;font-size:24px;color:#333;font-weight:bold;letter-spacing:-2px;height:24px;float:left;margin-left:15px;line-height:27px;*line-height:27px;margin-left:0;}

/* resp_content_wrap */
.set_nick_wrap {width:260px;margin:20px auto 0 auto;}
.resp_content_wrap {text-align:center;}
.con_top_tit {text-align:center;font-weight:bold;font-size:20px;font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',gulim,'굴림','Apple Gothic',Helvetica,sans-serif;color:#333;letter-spacing:-1px;}
.nick_inpt_area .input_box {width:260px;height:40px;*height:39px;position:relative;}
.nick_inpt_area .input_box input {width:243px;height:38px;border:1px solid #b3b3b3;color:#1a1a1a;font-weight:bold;font-size:16px;line-height:30px;display:block;position:relative;z-index:8;-webkit-appearance:none;border-radius:0;zoom:1;padding:0 0 0 15px;}
.nick_inpt_area .input_box.focus input {color:#1a1a1a;}
.nick_inpt_area .input_box .red_txt {border-color:#e01c1c;}
.set_nick_wrap .txt_error_area {width:260px;text-align:center;margin:0 auto;}
.set_nick_wrap .txt_error {text-align:left;}
.login_v3_wrap .btn_mback {display:none;}

.guide_txt_area {text-align:center;margin:29px 0 20px 0;}
.guide_txt {color:#666;font-size:12px;font-weight:normal;line-height:20px;}
.btn_nick_enter {background:#0375E0;color:#fff;text-align:center;width:260px;height:40px;cursor:pointer;margin-top:10px;font-size:15px;font-weight:bold;font-family:"Malgun Gothic";letter-spacing:-.06em;}
.btn_center_wrap {text-align:right;margin-top:8px;}
.btn_gray_sty {text-align:right;font-size:11px;text-decoration:none;color:#666;}
.user_photo_area {position:relative;height:81px;}
.user_photo_80 {border-radius:50%;overflow:hidden;width:80px;height:80px;}

/* login_error */
.login_error .input_box {border-color:#e01c1c;}
.login_input_area .focus {border-color:#3273d9;}
.login_error .input_box.focus {border-color:#3273d9;}
.login_error .focus {border-color:#e01c1c;}
.txt_error_area .txt_error {font-size:12px;}

/* myicon_inpt_box */
.myicon_inpt_box {width:100px;height:90px;clear:both;position:absolute;bottom:0;left:50%;margin-left:-50px;}
.myicon_inpt_box:after {display:block;overflow:hidden;clear:both;content:""}
.file_input_div {position:relative;width:100px;height:90px;margin-bottom:20px;}
.file_input_hidden{font-size:73px;position:absolute;right:0px;top:0px;opacity:0;filter:alpha(opacity=0);-ms-filter: "alpha(opacity=0)";-khtml-opacity:0;-moz-opacity:0;cursor:pointer;}
.file_input_button {display:inline-block;width:100px;height:90px;position:absolute;bottom:0;right:0px;background:url(//img.danawa.com/img/auth/ico_add_photo.png) bottom right no-repeat;border:none;cursor:pointer;text-indent:-9999px;background-size:31px;padding:10px 30px 40px 30px;cursor:pointer;}

.file_input_textbox{float:left;margin-left:104px;width:85px;border:none;height:20px;}
.myicon_right .input_wrap3 {position:relative;}
.myicon_right .txt_notok {position:absolute;top:8px;left:110px;font-size:11px;}

/* del_account_wrap */
.guide_txt2 {margin-top:18px;}
.clr_blue {color:#3273d9;}
.btn_delete_wrap {margin:40px auto 0 auto;overflow:hidden;width:400px;}
.btn_del_no {width:193px;height:32px;display:block;text-indent:-9999px;background:url(//img.danawa.com/new/login_new/img/btn_del_no.jpg) no-repeat;float:left;margin-right:14px;}
.btn_del_yes {width:193px;height:32px;float:left;text-indent:-9999px;background:url(//img.danawa.com/new/login_new/img/btn_del_yes.jpg) no-repeat;}
.btn_footer_member {display:none;}

/* mobile_version */
.icon_mb {background:url(//img.danawa.com/new/mdnw/img/icon_s.png) no-repeat;}
.ico_danawa {background-position:0 0;width:90px;height:20px;overflow:hidden;display:block;text-indent:-9999em;padding:10px 0 8px 0;}
.ico_member_back {background-position:12px -30px;width:45px;height:44px;overflow:hidden;display:block;text-indent:-9999em;}
.btn_mback {background:none;border:0 none;cursor:pointer;position:absolute;left:0px;top:0px;width:45px;height:44px;}
.ico_mhp {background-position:-50px -40px;width:14px;height:23px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:12px;position:relative;top:-2px;}
.ico_mi {background-position:-100px -40px;width:20px;height:22px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:12px;position:relative;top:-2px;}
.ico_mzoom {background-position:-100px 0;width:20px;height:18px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:5px;}

@media screen and (-webkit-min-device-pixel-ratio:2){
	.icon_mb {background:url(//img.danawa.com/new/mdnw/img/icon_b.png) no-repeat;-webkit-background-size:150px 150px;background-size:150px 150px;}
	.li_dot01 li{background:url(//img.danawa.com/new/mdnw/img/icon_bul_b.png) no-repeat 0 4px;-webkit-background-size:4px 4px;background-size:4px 4px;}
	.icon_19_limit {background:url(//img.danawa.com/new/mdnw/img/bg_b19.png) no-repeat;-webkit-background-size:55px auto;background-size:55px auto;}
}

.ico_danawa {background-position:0 0;width:90px;height:20px;overflow:hidden;display:block;text-indent:-9999em;padding:10px 0 8px 0;}
.ico_member_back {background-position:12px -30px;width:45px;height:44px;overflow:hidden;display:block;text-indent:-9999em;}
.btn_mback {background:none;border:0 none;cursor:pointer;position:absolute;left:0px;top:0px;width:45px;height:44px;}
.ico_mhp {background-position:-50px -40px;width:14px;height:23px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:12px;position:relative;top:-2px;}
.ico_mi {background-position:-100px -40px;width:20px;height:22px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:12px;position:relative;top:-2px;}
.ico_mzoom {background-position:-100px 0;width:20px;height:18px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:5px;}


/* adult_content_wrap */
.login_adult_wrap {position:absolute;width:790px;height:760px;top:50%;margin-top:-380px;left:50%;margin-left:-395px;}
.login_adult_wrap .login_header_wrap {margin-top:0;}
.adult_content_wrap {margin:80px 0 80px 0;}
.top_adult_content {margin:0 50px 50px 50px;width:523px;background:#f4f4f4 url(//img.danawa.com/new/login_new/img/ico_adult_certi.gif) 60px 34px no-repeat;padding:25px 7px 25px 170px}
.big_txt_noti {font-size:20px;color:#333;font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",gulim,"굴림",'Apple Gothic',Helvetica,sans-serif;margin-bottom:15px;letter-spacing:-1px;}
.small_txt_noti {font-size:12px;color:#666;font-family:"돋움",dotum;line-height:20px;}
.tit_middle_area {font-size:20px;color:#333;font-weight:bold;font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",gulim,"굴림",'Apple Gothic',Helvetica,sans-serif;letter-spacing:-1px;}
.txt_middle_area {font-size:11px;color:#666;font-family:"돋움",dotum;margin:15px 0 0 0;}
.btn_join_sty1 {display:inline-block;width:269px;height:46px;line-height:43px;margin: 0 3px;background:#3273d9;vertical-align:top;cursor:pointer;color:#fff;font-size:18px;font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",gulim,"굴림",AppleGothic,Helvetica,sans-serif;font-weight:bold;border-radius:3px;color:#fff;text-align:center;}
.btn_join_sty1:hover,.btn_join_sty1:active,.btn_join_sty1:focus,.btn_join_sty1:visited,.btn_join_sty1:link {color:#fff;text-decoration:none;}
.btn_bg_mobile {background:url(//img.danawa.com/new/login_new/img/btn_bg_phone.png) no-repeat;width:12px;height:20px;display:inline-block;margin-right:10px;vertical-align:-5px;*vertical-align:-2px;}
.btn_bg_ipin {background:url(//img.danawa.com/new/login_new/img/btn_bg_ipin.png) no-repeat;width:19px;height:19px;display:inline-block;margin-right:6px;vertical-align:-4px;*vertical-align:0;}
.certify_opt_mobile {margin:40px 0 23px 0;}
.middle_certi_content {float:left;margin-left:44px;}
.screen_out, .login_label{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;clear:both;}

.top_content_14 {margin:0 50px 44px 50px;width:523px;background:#f4f4f4 url(//img.danawa.com/new/login_new/img/ico_age_14.png) 103px 34px no-repeat;padding:33px 7px 30px 210px;line-height:30px;}
.top_content_14 .big_txt_noti {margin-bottom:13px;}
.login_age_wrap .certify_opt_mobile {margin-top:12px}
.login_age_wrap .middle_certi_content {margin-left:47px;margin-top:3px;}

/* footer_type1.v2 */
.footer_type1.v2{position:relative;margin-top:56px;border-top:1px solid #d5d5d5;padding-top:50px;}
.service_list {position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:246px;height: 12px;}
.service_list .item{float:left;width:80px;position:relative;}
.item .bar{width:1px;height: 11px;position:absolute;left:0;background:#C5C5C5;}
.service_list .item .link{color:#000;}
.footer_type1 {margin:0;width:800px;padding-top:26px;text-align:center;}
.footer_type1 address { margin:5px 0 40px 18px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#757575; font-style:normal;}

.sns_convert {margin-top:84px;}
.layer_show {position:relative;}
.layer_show .help_layer {display:block;}
.btn_help {display:inline-block;width:258px;height:38px;line-height:40px;font-size:11px;color:#666;font-weight:bold;border:1px solid #adadad;}
.btn_help:hover {text-decoration:none;}
.btn_help .txt {display: inline-block;font-family:"Malgun Gothic";font-size:15px;letter-spacing:-.06em;}
.ico_help {display:inline-block;background:url(//img.danawa.com/img/common/icon_help_v2.png) no-repeat;text-indent:-9999px;} /* 실서버 배포 후 ico_help 로 파일명 바꾸기 */
.acc_l {width:10px;height:12px;background-position:0 0;}
.acc_r {width:10px;height:12px;background-position:-14px 0;}
.acc_bl {width:10px;height:12px;background-position:-28px 0;}
.acc_br {width:10px;height:12px;background-position:-42px 0;}
.help_layer .acc_l,.help_layer .acc_r {display:block;position:absolute;top:-11px;left:20px;z-index:10;}
.acc_bl, .acc_br {display:block;position:absolute;bottom:-11px;left:127px;z-index:10;}
.tooltip {width:16px;height:16px;background-position:0 -16px;margin:12px 0 0 8px;vertical-align:top;}
.tooltip_v2 {width:14px;height:14px;background-position:-20px -16px;vertical-align:top;}
.help_layer {display:none;position:absolute;z-index:10;padding:10px;border:1px solid #333;background:#fff;border-radius:5px;}
.convert_layer {width:296px;text-align:left;top:42px;left:193px;}
.tip_tit {display:block;margin-bottom:6px;font-size:13px;color:#0f0f0f;font-family:"Malgun Gothic";}
.tip_txt {line-height:19px;font-size:12px;color:#666;}

/* 반응형 */
@media screen and (max-width: 640px) {
	body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin:0;padding:0;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
	.resp_login_wrap .login_footer_wrap,.footer_type1 {display:none;}
	.resp_login_wrap .btn_footer_member {display:block;text-align:center;}
	.resp_login_wrap .btn_footer_member .foot_copy {color:#999;font-size:14px;}
	.resp_login_wrap .login_v3_wrap .btn_mback {display:block;}
	.resp_login_wrap,.set_nick_wrap {width:100%;}
	.resp_login_wrap #header {background:#3d414d;position:relative;height:44px;padding:0;margin-top:0;border-bottom:none;}
	.resp_login_wrap .top_logo {display:none;}
	.resp_login_wrap .header_opt {display:none;}
	.resp_login_wrap .txt_top_login {float:none;text-align:center;color:#fff;font-size:19px;line-height:44px;height:44px;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
	.resp_content_wrap {margin:0 16px;}
	.resp_login_wrap .con_top_tit {font-size:20px;color:#333;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
	.resp_login_wrap .guide_txt {font-size:14px;}
	.resp_login_wrap .input_box input::-webkit-input-placeholder {color:#b2b2b2;font-weight:normal;}
	.resp_login_wrap .input_box input::-moz-placeholder {color:#b2b2b2;font-weight:normal;}
	.resp_login_wrap .input_box input:-moz-placeholder {color:#b2b2b2;font-weight:normal;}
	.resp_login_wrap .input_box input:-ms-input-placeholder {color:#b2b2b2;font-weight:normal;} /* IE10+ */
	.resp_login_wrap .input_box input[type=text],
	.resp_login_wrap .input_box input[type=password],
	.resp_login_wrap .input_box input[type=search],
	.resp_login_wrap .input_box input[type=email]
	{background:transparent;border:0 none;width:100%;font-size:16px;-webkit-apperance:none;color:#333;font-weight:bold;}
	.resp_login_wrap .nick_inpt_area .input_box {border:none;border-bottom:1px solid #d9d9d9;width:100%;}
	.resp_login_wrap .nick_inpt_area .input_box input {width:98%;padding:0 0 0 2%;}
	.resp_login_wrap .btn_nick_enter {box-sizing:border-box;width:100%;height:44px;background:#3273d9;border:1px soild #3273d9;color:#fff;color:#fff;text-indent:0;font-size:20px;font-weight:bold;letter-spacing:-.06em;text-align:center;border-radius:4px;line-height:42px;padding:0;}
	.resp_login_wrap .btn_center_wrap {margin-top:18px;}
	.resp_login_wrap .btn_gray_sty {font-size:15px;}
	.resp_login_wrap .input_img_btn {background:url(//img.danawa.com/new/login_new/img/ico_add_mphotox2.png) bottom right no-repeat;background-size:41px 41px;}
	.resp_login_wrap .login_content_wrap {margin:40px 0 160px 0;}
	.resp_login_wrap .set_nick_wrap .txt_error_area {width:auto;}
	.resp_login_wrap .txt_error_area {display:block;color:#e02828;font-size:13px;padding-bottom:10px;text-align:left;}
	.resp_login_wrap .btn_del_no,.btn_del_yes {display:block;width:100%;float:none;text-indent:0;font-size:20px;font-weight:bold;line-height:44px;letter-spacing:-1px;text-align:center;display:block;border-radius:4px;box-sizing:border-box;height:44px;}
	.btn_del_no,.btn_del_no:link,.btn_del_no:hover,.btn_del_no:visited {background:#3273d9;color:#fff;}
	.btn_del_yes {display:block;width:100%;float:none;background:#fff;border:1px solid #999;margin-top:15px;color:#333;}
	.btn_del_yes:link{color:#333;}
	.btn_delete_wrap{width:100%;}
	.del_account_wrap .guide_txt{text-align:left;}

	.btn_help {box-sizing:border-box;width:100%;height:44px;line-height:44px;font-size:18px;color:#333;font-weight:bold;border-color:#999;border-radius:4px;}
	.btn_help .txt {font-size:20px;}
	.tooltip {width:18.5px;height:18.5px;margin-top:12px;background:url(//img.danawa.com/img/m/common/ico_tooltip.png) no-repeat;background-size:18.5px auto;}
	.help_layer {background:#e9e9e9;border:none;}
	.convert_layer {top:40px;left:10%;width:68%;}
	.tip_tit {font-size:12px;}
	.tip_txt {color:#333;}
	.ico_help.acc_r {width:11px;height:9px;top:-9px;left:auto;right:14px;background:url(//img.danawa.com/img/m/common/tip_acc_r.png) no-repeat;background-size:11px 9px;}
}
