@charset "utf-8";

/* Initialize */
html {height:100%;}
body {position:relative;height:100%;padding:0;margin:0;color:#393e41;-webkit-text-size-adjust:none;font-family:"Apple Gothic","Droid Sans","돋움",dotum,Helvetica,Arial,Sans-serif;}
body,th,td,input,select,textarea,button {font-family:-apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,'Malgun Gothic','맑은 고딕',sans-serif;color:#333;}
h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,button,input,select,textarea,p,fieldset{margin:0;padding:0;}
li{list-style:none;}
img{border:none;}
em {font-style:normal;}
button,input,select,textarea{font-family:inherit;-webkit-border-radius:0;border-radius:0;background:0 0;border:0}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset;} 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
a{color:inherit;text-decoration:none;}
a:hover{text-decoration:none;}

/* common */
.blind {text-indent:-9999em;position:absolute;top:-9999em;}
.screen_out {display:block;font-size:1px;height:1px;line-height:0;overflow:hidden;position: absolute;text-indent: 10px;white-space: nowrap;width:1px;color:transparent;}
.body_color{background:#ededed}
.hide{display:none !important;}
.show{display:block !important;}

/* ico transform */
.icon_tf90 {transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.icon_tf180 {transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.icon_tf270 {transform:rotate(270deg);-ms-transform:rotate(270deg);-webkit-transform:rotate(270deg);}
.icon_tf360 {transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);}

/* header_section */
.header_section{z-index:9;margin-bottom:-1px;height:44px;width:100%;background-color:#fff;}
.header_section .hs_title{text-align:center;color:#282828;font-size:19px;font-weight:bold;line-height:45px;}
.header_section .btn_back_l{position:absolute;top:0;left:0;display:block;margin-left:5px;padding:11px 15px;border:0;background:#fff}
.header_section .ico_back {display:block;width:12px;height:20px;text-indent:-9999px;background:url(//img.danawa.com/img/m/prod/icons_blog_big.png) no-repeat;background-position:-80px -200px;-webkit-background-size: 150px auto;background-size: 150px auto;}

/* navigation fix */
.container_mypage.fix{padding-top:43px}
.container_mypage.fix .navi_section{position:fixed;top:0;z-index:100;width:100%;background:#fff}

/* container_mypage common */
.container_mypage .clear:after{display:block;overflow:hidden;clear:both;content:""}
.container_mypage .button{display:inline-block;padding:9px;border:1px solid #bfbfbf;font-size:14px;color:#333}
.container_mypage .main_box{border-top:10px solid #ededed}
.container_mypage .mb_header{position:relative;padding:19px 20px 14px;}
.container_mypage .mb_header .mbh_title{display:inline-block;font-size:16px;color:#0f0f0f}
.container_mypage .mb_header .mbh_title02{display:inline-block;font-size:15px;font-weight:normal;color:#0f0f0f}
.container_mypage .mb_header .mbh_title_sub{padding-left:5px;font-size:12px;color:#666}
.container_mypage .mb_header .mbh_more{position:absolute;top:19px;right:15px;display:block;padding:0 5px;font-size:12px;color:#a0a0a0}
.container_mypage .mb_header .mbh_more:after{content:"";display:inline-block;margin-top:4px;margin-left:4px;width:6px;height:9px;background-position:-60px 0}

/* background */
.mb_header .mbh_more:after,
.mp_photo .btn_profile .ico:after{background-image:url(//img.danawa.com/img/m/mypage/icon_common.png);-webkit-background-size:150px auto;background-size:150px auto;}

/* gnb */
.gnb_wrap{width:100%;overflow-x:auto}
.gnb_inner{display:table;table-layout:inherit;min-width:100%;padding:0 15px;white-space:nowrap;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #bfbfbf}
.gnb_wrap .item{display:table-cell;text-align:center}
.gnb_wrap .item a{position:relative;display:block;margin:0 5px;padding:10px 8px 12px;font-size:15px;color:#0f0f0f}
.gnb_wrap .item.on a{font-weight:bold;color:#0375e0}
.gnb_wrap .item.on a:after{content:"";position:absolute;bottom:-1px;left:0;width:100%;height:2px;border-radius:2px;overflow:hidden;background:#0375e0}

/* main_profile */
.main_profile{position:relative;padding:28px 20px 34px 90px}
.mp_photo{position:absolute;left:20px;top:28px;margin-right:15px}
.mp_photo .btn_profile .img{position:relative;display:block;width:55px;height:55px;border-radius:55px;overflow:hidden}
.mp_photo .btn_profile img{position:absolute;top:-50%;right:-50%;left:-50%;bottom:-50%;width:auto;height:100%;margin:auto;}
.mp_photo .btn_profile .ico{position:absolute;bottom:-1px;right:-5px;width:20px;height:20px;border:1px solid #b4b4b4;border-radius:22px;background:#fff;line-height:0;font-size:0;color:transparent;overflow:hidden;}
.mp_photo .btn_profile .ico:after{content:"";display:block;margin-top:4px;margin-left:4px;width:12px;height:12px;background-position:-30px 0}
.mp_nick{font-weight:bold;font-size:16px;color:#333;word-break:break-all}
.mp_nick .level{padding-right:5px;color:#8b38e5}
.mp_id{margin-top:2px;color:#666;word-break:break-all}
.mp_point{margin-top:5px;color:#333}

/* main_order */
.mo_summary {padding-bottom:14px}
.mo_summary .item{float:left;width:20%;text-align:center}
.mo_summary .count{display:block;padding:12px 0;width:100%;font-size:30px;color:#0f0f0f}
.mo_summary .state{display:block;width:100%;font-size:12px;color:#333}
.mo_summary .on .count{color:#0375e0}
.mo_list{border-top:1px solid #f2f2f2}
.mo_list .mb_header{padding-bottom:0}
.mo_list .info_box a{position:relative;display:block;padding:20px 20px 20px 112px;min-height:80px}
.mo_list .info_box .img{position:absolute;top:20px;left:20px;width:80px;height:80px}
.mo_list .info_box .img img{display:block;width:100%;height:100%}
.mo_list .info_box .subj{display:-webkit-box;overflow:hidden;white-space:normal;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;line-height:1.36em}
.mo_list .info_box .price{padding-top:  4px;color:#0f0f0f}
.mo_list .info_box .price .num{font-weight:bold;font-size:16px}
.mo_list .info_box .price .won{font-weight:bold;font-size:13px}
.mo_list .info_box .price .count{font-size:13px}
.mo_list .info_box .state{padding-top:4px;font-weight:bold;font-size:15px;color:#0f0f0f}
.mo_list .desc_box{padding:14px 20px;background:#f8f8f8;}
.mo_list .desc_box .row + .row{margin-top:3px}
.mo_list .desc_box .col{font-size:13px;color:#666;word-break:break-all}
.mo_list .desc_box .col+.col:before{content:"";display:inline-block;margin:0 15px;width:1px;height:10px;background:#e4e4e4;}
.mo_list .desc_box a{text-decoration:underline}

/* main_wish */
.mw_list{padding-bottom:20px;width:100%;overflow-x:auto}
.mw_list_inner{display:table;table-layout:inherit;white-space:nowrap;padding-left:10px;-webkit-box-sizing:border-box;box-sizing:border-box}
.mw_list .item{display:table-cell}
.mw_list .item a{position:relative;display:block;margin:0 10px;width:115px;font-size:15px;color:#0f0f0f}
.mw_list .item .img{width:115px;height:115px;overflow:hidden}
.mw_list .item .img img{display:block;width:100%;height:100%}
.mw_list .item .subj{display:-webkit-box;overflow:hidden;margin-top:20px;white-space:normal;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;line-height:1.15em;color:#505050}
.mw_list .item .price{margin-top:7px;font-size:15px;color:#0f0f0f}
.mw_list .item .price .num{font-weight:bold}
.mw_list .item_blank{padding-bottom:7px;text-align:center}
.mw_list .item_blank .txt{margin-bottom:19px;font-size:15px;color:#333}

/* main_link */
.ml_list .item{border-top:1px solid #f2f2f2}
.ml_list .link{display:block;padding:18px 20px;width:100%;color:#282828;box-sizing:border-box}
.ml_noti{padding:15px 20px 22px;border-top:1px solid #f2f2f2;font-size:12px;color:#666}

/* right_fix_area */
.right_fix_area{position: fixed;right: 10px;bottom: 63px;z-index: 986;width: 44px;opacity:1}/* overflow: hidden; */
.btn_bx_fix{opacity:.94;width:42px;height:42px;background-color:#fff;text-align:center;display:block;font-size:12px;color:#505050;border:1px solid #d9d9d9;border-radius:4px;font-weight:normal;margin-top:7px;} /* 2341 */
.icon_top_fixgo{width:12px;height:10px;display:block;margin:0 auto;margin-top:11px;background:url(//img.danawa.com/img/m/prod/icons_blog_big.png) no-repeat;background-position:-40px -50px;-webkit-background-size:150px auto;background-size:150px auto;color:transparent;}