@charset "utf-8";

/* Layout */
#danawa_container{position:relative;width:auto;z-index:1;}
.danawa_product_list #danawa_header .danawa_gnb_center{width:1050px;}
.danawa_product_list #danawa_header .danawa_search_center{width:1050px;}
.danawa_product_list .footer_top_content{width:1050px;}
.danawa_product_list .footer_danawa_address{width:1050px;}
#danawa_content{width:1050px;margin:0 auto;zoom:1;padding-top:19px;*position:relative;}
#danawa_content:after{content:"";display:block;clear:both;}
.aside_media{position:absolute;top:0;right:0;height:100%;bottom:0;width:210px;border-left:1px solid #e6e6e6;display:none;background:#fff;overflow-x:hidden;overflow-y:auto;zoom:1;}
.prodlist_wrap{padding-bottom:50px;}


/* Common Module */
button::-moz-focus-inner{padding:0;}
.prod_price_selector .price_input{border:1px solid #757575;background:#fff;line-height:19px;padding:0 4px;height:19px;width:115px;vertical-align:top;margin-top:-3px;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;}
.prod_price_selector .btn_search{border:1px solid #d4d4d4;font-size:11px;color:#666;padding:2px 4px 0;height:21px;vertical-align:top;background:#fff;margin:-3px 0 0 4px;overflow:visible;}
.prodbtn_del_small{width:11px;height:11px;padding:0;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_pack.png) no-repeat 2px 2px white;border:1px solid #b3b3b3;vertical-align:top;margin-top:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.prodbtn_del_small span{display:block;text-indent:-200px;overflow:hidden;}
.view_dic{text-decoration:underline;cursor:help;}
.btn_basic_grey{display:inline-block;vertical-align:top;font-size:11px;line-height:14px;font-weight:bold;color:#333;border:1px solid #d4d4d4;padding:1px 6px;background-color:#fff;}
button.btn_basic_grey{height:20px;padding:2px 6px 0;}
.btn_basic_grey:hover{text-decoration:none;}
.hide_indent{display:block;text-indent:-900px;overflow:hidden;text-align:left;}
.head_ico{display:inline-block;vertical-align:top;font-size:11px;line-height:14px;height:13px;letter-spacing:-1px;padding:1px 4px 0;text-decoration:none;border:1px solid #e6e6e6;color:#333;zoom:1;background:#fff;}
.head_ico img{vertical-align:top;}
.hico_hit{padding:0;height:14px;}
.hide_txt{text-indent:-1000px;display:block;overflow:hidden;text-align:left;}
.bg_prod_txt{background:url(//img.danawa.com/new/goods_list/v1/img/text_cat_list.png) no-repeat;}
.btn_tiny{font-size:11px;line-height:14px;padding:2px 4px 0;display:inline-block;text-decoration:none;border:1px solid;cursor:pointer;vertical-align:top;}
button.btn_tiny{height:18px;line-height:13px;overflow:visible;}
.btn_tiny_grey{border-color:#d4d4d4;background:#fff;color:#666;}
.btn_tiny_blue{border-color:#0275e0;background:#0275e0;color:#fff;}
.hidden_txt {display:block;text-indent:-999px; width:1px;height:1px;overflow:hidden;}

/* Category Navigation */
.category_nav{border-bottom:1px solid #b3b3b3;margin-bottom:50px;*zoom:1;}
.category_nav li{list-style:none;}
.category_nav .cat_list{margin:0;padding:0;}
.category_nav .main_item{border:1px solid;border-color:#e6e6e6 #b3b3b3;border-bottom-width:0;vertical-align:top;*zoom:1;}
.category_nav .main_item:first-child{border-top-color:#b3b3b3;}
.category_nav .main_item .reduce_ls {letter-spacing:-1px;}
.category_nav .main_link{display:block;font-size:12px;line-height:16px;color:#000;font-weight:bold;text-decoration:none;padding:11px 30px 8px 13px;}
.category_nav .now_main_cat{margin:0 0 -1px;border:1px solid #0275e0;}
.category_nav .now_main_cat:first-child{border-top-color:#0275e0;}
.category_nav .now_main_cat .main_link{background:#0275e0;color:#fff;}
.category_nav .now_main_cat .sub_cat_wrap{display:block;}
.category_nav .now_main_cat .cat_banner{display:block;}
.category_nav .now_main_cat .sub_cat_list{padding:5px 12px 4px 14px;}
.category_nav .now_main_cat + .main_item{border-top-color:#0275e0;}
.category_nav .show_sub_cat{position:relative;margin:0;border-color:#0275e0;z-index:20;}
.category_nav .show_sub_cat .main_link{background:#0275e0;color:#fff;}
.category_nav .show_sub_cat:first-child{border-top-color:#0275e0;}
.category_nav .show_sub_cat + .main_item{border-top-color:#0275e0;}

/* Option Navigation */
.spec_list_wrap {border-top:2px solid #5a5a5a;border-bottom:1px solid #5a5a5a; background:#fbfbfb;}
.option_nav{font-size:12px;line-height:16px;margin-bottom:15px;}
.option_nav button{cursor:pointer;-webkit-border-radius:0;border-radius:0;}
.option_nav li{list-style:none;}
.option_nav input[type=checkbox]{vertical-align:top;}
.option_nav .nav_header{padding:12px 10px 8px 0;*zoom:1;}
.option_nav .nav_header:after{content:"";display:block;clear:both;}
.option_nav .head_info{float:left;}
.option_nav .nav_title{margin:0 5px 0 0;padding:1px 0;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.option_nav .nav_title .txt_img{display:block;width:56px;height:15px;background:url(//img.danawa.com/new/goods_list/v1/img/text_cat_list.png) no-repeat scroll -150px 0;text-indent:-200px;overflow:hidden;}
.option_nav .nav_title_2 .txt_img{background-position:-220px 0;width:52px;}
.option_nav .nav_title_3 .txt_img{background-position:0 -250px;width:91px; height:15px;}
.option_nav .btn_spec_view{font-size:11px;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 100% -795px;padding:0 12px 0 0;margin:0;border:none;height:16px;overflow:visible;}
.option_nav .btn_spec_view strong{font-size:11px;}

.option_nav .btn_all_opt:hover, .option_nav .btn_all_opt:focus,
.option_nav .btn_spec_view:hover, .option_nav .btn_spec_view:focus{text-decoration:underline;}
.option_nav .spec_list:after{content:"";display:block;clear:both;}
.option_nav .spec_item{margin:0;border-top:1px solid #e6e6e6;padding:9px 0 0px 14px;zoom:1;display:block;/*position:relative;*/}
.option_nav .spec_item:after{content:"";display:block;clear:both;}
.option_nav .item_dt{font-weight:bold;float:left;width:120px;margin:0;padding:0 0 9px;}
.option_nav .item_dd{margin:0 0 0 120px;padding:0;display:block;}
.option_nav .double_line .spec_opt_view{}	/* margin-top:-10px; */
.option_nav .spec_opt_view{/*width:104px;height:24px;position:absolute;bottom:0; right:16px;*/float:right;zoom:1;margin-top:-25px;margin-right:10px;padding:0;}
.option_nav .item_list{margin:0;padding:0;*zoom:1;}
.option_nav .sub_item{display:inline-block;width:150px;vertical-align:top;margin:0 0px 10px 0;*display:inline;*zoom:1;}
.option_nav .sub_item label{display:inline-block;width:110px;height:auto;vertical-align:top;overflow:hidden;height:16px;word-wrap:break-word;word-break:break-all;-ms-word-break:break-all;}	/* text-overflow: ellipsis; white-space:nowrap;*/

.option_nav .sub_item input{margin:0 5px 0 0;padding:0;vertical-align:middle;*margin-top:-5px;}
.option_nav .sub_checked{font-weight:bold;color:#333;}
.option_nav .item_list_all{display:none;}
.show_sub_item .item_list_all{display:block;margin-top:-3px;}
.show_sub_item.double_line .spec_opt_view{margin-top:-25px;}

/* Product List Common */
.prod_search_set{overflow:hidden;font-size:12px;color:#333;width:202px;}
.prod_search_set .search_input{border:1px solid #757575;background:#fff;-webkit-border-radius:0;border-radius:0;border-right-width:0;float:left;height:23px;line-height:23px;padding:0 0 0 8px;margin:0;color:#333;font-size:12px;width:167px;-webkit-appearance:none;}
.prod_search_set .submit_search_list{float:left;width:25px;height:25px;border:none;padding:0;margin:0;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_pack.png) -145px 5px #757575;cursor:pointer;color:#fff;-webkit-border-radius:0;border-radius:0;}
.prod_search_set .submit_search_list span{text-indent:-200px;overflow:hidden;text-align:left;display:block;}
.prod_list_opts{zoom:1;padding:10px 15px 9px 11px;border-bottom:1px solid #b3b3b3;}
.prod_list_opts:after{content:"";display:block;clear:both;}
.prod_list_opts select{-webkit-border-radius:0;border-radius:0;border:1px solid #808080;height:19px;}
.prod_list_opts li{list-style:none;}
.prod_list_opts .order_opt{float:left;font-size:12px;line-height:16px;}
.prod_list_opts .order_item{float:left;padding:0 9px 0 8px;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 0 -649px;}
.prod_list_opts .order_item:first-child{background:none;padding-left:0;}
.prod_list_opts .order_item a{color:#666;padding:0 3px;}
.prod_list_opts .order_list{margin:6px 0 0 0;padding:0;overflow:hidden;}
.prod_list_opts .order_list .selected a{color:#000;font-weight:bold;}
.prod_list_opts .prod_select {float:left; width:123px; height:25px; margin-right:6px;}

.prod_spec_set{font-size:11px;color:#666;line-height:17px;margin:0;}
.prod_spec_set a{color:#666;}
.prod_spec_set dd{margin:0;}
.prod_spec_set .spec_list{margin:0;padding:0;font-size:11px;}
.prod_spec_set .spec_item{display:inline-block;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 100% -947px;padding-right:8px;font-size:11px;*display:inline;*margin-right:4px;*zoom:1;}
.prod_spec_set .spec_item_last{background-image:none;padding-right:0;}
.prod_price_set{font-weight:bold;text-align:right;}
.prod_price_set dl{margin:0;}
.prod_price_set dd{margin:0;display:inline-block;vertical-align:top;font-size:inherit;*display:inline;*zoom:1;}
.prod_price_set .num{font-family:"Century Gothic";}
.prod_price_set .low_price{color:#000;}
.tab_intro {float:right;}

.prod_num_nav{margin-top:30px;border:1px solid #e6e6e6;text-align:center;}
.prod_num_nav div{font-size:inherit;}
.prod_num_nav .num_nav_wrap{display:inline-block;vertical-align:top;line-height:34px;font-size:14px;color:#666;*display:inline;*zoom:1;}
.prod_num_nav .edge_nav{float:left;width:34px;height:36px;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_pack.png) no-repeat scroll;text-align:left;text-indent:-200px;overflow:hidden;}
.prod_num_nav .nav_prev{background-position:-50px -50px;}
.prod_num_nav .nav_next{background-position:-100px -50px;}
.prod_num_nav .number_wrap{float:left;}
.prod_num_nav .num{float:left;color:#666;font-weight:bold;width:38px;border:solid #e6e6e6;border-width:0 1px;height:34px;padding-top:2px;}
.prod_num_nav .num + .num{border-left-width:0;}
.prod_num_nav .now_on{background:#fafafa;color:#000;}

.prod_no_result{padding:100px 10px;text-align:center;}
.prod_no_result .no_result_msg{background:url(//img.danawa.com/new/goods_list/v1/img/bg_no_result.png) no-repeat scroll 3px 0;padding:4px 0 0 115px;margin:0 auto;max-width:100%;min-height:95px;text-align:left;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.prod_no_result .nothing_comment{font-size:14px;font-weight:bold;color:#0275e0;line-height:20px;margin-bottom:13px;}
.prod_no_result .search_advice{margin:0;padding:0;font-size:11px;color:#676767;line-height:16px;}
.prod_no_result .adv_item{background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 0 -1295px;padding:0 0 0 7px;margin:0 0 2px;}


/* Product List Common */
.main_prodlist li{list-style:none;}
.main_prodlist div,.main_prodlist strong{font-size:inherit;}
.main_prodlist .product_list{margin:0;padding:0;}
.main_prodlist .search_mark{color:#0462ba;text-decoration:underline;font-weight:bold;background:#f0f5f9;}

/* Product List - List Type */
.main_prodlist_list .prod_item{border-top:1px solid #b3b3b3;padding:18px 0 0;}
.main_prodlist_list .prod_item:first-child{border-top-width:0;}
.main_prodlist_list .prod_name{font-weight:bold;color:#000;font-size:15px;line-height:1.6em;margin-right:6px;vertical-align:top;}
.main_prodlist_list .prod_name strong{font-size:inherit;}
.main_prodlist_list .prod_main_info{display:table;width:100%;}
.main_prodlist_list .thumb_info,.main_prodlist_list .main_info,.main_prodlist_list .price_info{display:table-cell;vertical-align:top;*float:left;}
.main_prodlist_list .thumb_info{width:160px;padding-bottom:20px;}
.main_prodlist_list .thumb_image{margin:2px 0 5px;}
.main_prodlist_list .thumb_link{display:block;width:140px; height:140px;}
.main_prodlist_list .thumb_link img{vertical-align:top;width:130px;max-width:100%;max-height:100%;}
.main_prodlist_list .main_info{padding:0 0 20px 0;width:565px;}
.main_prodlist_list .head_info{margin-bottom:14px;}
.main_prodlist_list .prod_spec_set{margin-bottom:13px;}
.main_prodlist_list .prod_rel_content{font-size:11px;line-height:16px;color:#666;padding:13px 0 0 0;border-top:1px solid #e6e6e6;position:relative;}
.main_prodlist_list .prod_rel_content .rel_item{clear:both;margin:0 0 2px;overflow:hidden;}
.main_prodlist_list .prod_rel_content dt{float:left;display:block;height:19px;text-indent:0;margin:1px 7px 0 0;font-size:11px;font-weight:bold;}
.main_prodlist_list .prod_rel_content dd{margin:0px;font-size:11px;float:left;}
.main_prodlist_list .price_info{width:125px;margin-bottom:20px;}
.main_prodlist_list .main_price{margin:40px 0 14px;}
.main_prodlist_list .low_price{font-size:16px;line-height:22px;}
.main_prodlist_list .low_price .num{font-size:20px;}
.main_prodlist_list .prod_rel_content .discount_item {position:absolute; top:14px;left:220px;width:260px;z-index:99;}
.main_prodlist_list .prod_rel_content .mark_blue {color:#0375e0;font-weight:normal;}
.main_prodlist_list .prod_rel_content .underline {text-decoration:underline;}
a.btn_factory_location {display:inline-block; background:#b2b2b2;color:#fff;width:63px;text-align:center;padding:3px 0;font-size:11px;line-height:11px;margin-left:5px;}
a.btn_factory_location:hover{text-decoration:none;}
.main_prodlist_list .prod_rel_content .icon_wrap {margin-left:10px;}
.main_prodlist_list .btn_style{display:inline-block;color:#fff;text-align:center;font-weight:normal;width:87px; padding:5px 0;margin-top:4px;font-size:11px;line-height:11px;}
.main_prodlist_list .btn_style:hover{text-decoration:none;}
.main_prodlist_list .btn_prod_info {background:#42b2c9;}
.main_prodlist_list .btn_contract{background:#8ca1f0;}
.main_prodlist_list .btn_go_nara {font-weight:bold;text-align:left;letter-spacing:-1px; width:92px;padding:8px 10px;background: url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat 97px -1780px #0275e0;font-size:13px;margin-top:10px;}
.main_prodlist_list .nara_icon {text-indent:100%;overflow:hidden;white-space:nowrap;}

/* Developer Insert */
.product_list_area_cover{position:absolute;background:url(//img.danawa.com/new/goods_list/v1/img/bg_load_cover.png) repeat;background:rgba(255,255,255,.5);top:0px;display:none;z-index:1;}
.product_list_area_cover div{top:100px;text-align:center;position:relative;}
.product_list_cover{position:absolute;background:url(//img.danawa.com/new/goods_list/v1/img/bg_load_cover.png) repeat;background:rgba(255,255,255,.5);top:0px;display:none;z-index:1;}
.product_list_cover div{top:100px;text-align:center;position:relative;}

.manager_edit_area {width:700px; margin-left:150px;text-align:left;padding-bottom:10px;}
.manager_edit_area .manager_area_dl{overflow:hidden;background:#f1f1f1;padding:13px 0 13px 4px;font-weight:bold;font-size:13px;line-height:13px;}
.manager_edit_area .manager_area_dt{float:left;margin-left:13px;display:inline-block;padding-top:2px;}
.manager_edit_area .manager_area_dd {float:left;margin-left:4px;display:inline-block;line-height:11px;}
.manager_edit_area .input_manager_rank {width:53px; height:13px; padding:2px 3px; border:1px solid #555; line-height:11px;margin:0;vertical-align:top;}
.manager_edit_area .manager_area_btn {color:#fff; background:#555;width:34px; height:19px;border:none;margin:0 0 0 4px; padding:0;cursor:pointer;font-size:11px;}

/*nara marekt icon list*/
.nara_icon {display:inline-block;width:19px;height:19px;background: url(//img.danawa.com/new/nara_market/img/icon_nara_v2.gif) 0 0 no-repeat;vertical-align:middle;margin-right:3px;}
.nara_icon_01 {background-position:0 0;}
.nara_icon_02 {background-position:0 -20px;}
.nara_icon_03 {background-position:0 -40px;}
.nara_icon_04 {background-position:0 -60px;}
.nara_icon_05 {background-position:0 -80px;}
.nara_icon_06 {background-position:0 -100px;}
.nara_icon_07 {background-position:0 -120px;}
.nara_icon_08 {background-position:0 -140px;}
.nara_icon_09 {background-position:0 -160px;}
.nara_icon_10 {background-position:0 -180px;}
.nara_icon_11 {background-position:0 -200px;}
.nara_icon_12 {background-position:0 -220px;}
.nara_icon_13 {background-position:0 -240px;}
.nara_icon_14 {background-position:0 -260px;}
.nara_icon_15 {background-position:0 -280px;}
.nara_icon_16 {background-position:0 -300px;}
.nara_icon_17 {background-position:0 -320px;}
.nara_icon_18 {background-position:0 -340px;}
.nara_icon_19 {background-position:0 -360px;}
.nara_icon_20 {background-position:0 -380px;}
.nara_icon_21 {background-position:0 -400px;}
.nara_icon_22 {background-position:0 -420px;}
.nara_icon_23 {background-position:0 -440px;}
.nara_icon_24 {background-position:0 -460px;}
.nara_icon_25 {background-position:0 -480px;}
.nara_icon_26 {background-position:0 -500px;}
.nara_icon_27 {background-position:0 -520px;}
.nara_icon_28 {background-position:0 -540px;}
.nara_icon_29 {background-position:0 -560px;}
.nara_icon_30 {background-position:0 -580px;}
.nara_icon_31 {background-position:0 -600px;}
.nara_icon_32 {background-position:0 -620px;}
.nara_icon_33 {background-position:0 -640px;}
.nara_icon_34 {background-position:0 -660px;}
.nara_icon_35 {background-position:0 -680px;}
.nara_icon_36 {background-position:0 -700px;}
.nara_icon_37 {background-position:0 -720px;}
.nara_icon_38 {background-position:0 -740px;}
.nara_icon_39 {background-position:0 -760px;}
.nara_icon_40 {background-position:0 -780px;}
.nara_icon_41 {background-position:0 -800px;}
.nara_icon_42 {background-position:0 -820px;}
.nara_icon_43 {background-position:0 -840px;}
.nara_icon_44 {background-position:0 -860px;}


/*nara market detail view page*/
.nara_contents .blog_option_nav {margin:0;}
.blog_top {border-top:2px solid #5a5a5a; border-bottom:1px solid #5a5a5a;padding:19px 0;}
.blog_top .prod_img_area {width:270px; float:left;}
.blog_top .prod_img {width:230px; height:230px;margin:0 auto;}
.blog_top .prod_img img {width:230px; height:230px;overflow:hidden;}
.blog_top .prod_info_area {width:575px; display:inline-block;}
.blog_top .btn_go_nara {display:block;width:180px; height:36px; margin:30px auto 0;background:url(//img.danawa.com/new/newblog/img/btn_go_nara.png) 0 0 no-repeat; text-indent:100%;overflow:hidden;white-space:nowrap;}
.nara_blog_wrap .nara_box {border:1px solid #b3b3b3; line-height:1.5em;}
.prod_img_area {text-align:center;}
.nara_table{width:100%;border-collapse:collapse;font-size:12px;color:#666666; font-size:13px;letter-spacing:-0.5px;}
.nara_table caption{width:1px; height:1px; position:absolute; overflow:hidden; left:-9999px;display:none;}
.nara_table th {background:#f5f5f5; font-weight:bold;padding:7px 0 7px 12px;border-bottom:1px solid #d4d4d4; text-align:left;}
.nara_table td {padding:7px 0 7px 12px;border-bottom:1px solid #d4d4d4;}
.nara_table tr.last td,.nara_table tr.last th{border-bottom:none;}
.nara_table_type1 {font-size:11px;}
.nara_table_type1 .table_title{width:117px;}
.nara_table_type1 .table_txt{width:171px;}
.nara_table_type2 .table_title{width:160px;}
.nara_table_type2 .table_txt{width:238px;}
.nara_table_type2 .table_txt02{width:290px;}
.nara_table_type3 .name {width:200px;}
.nara_table_type3 .value {border-right:1px solid #e7e7e7;border-left:1px solid #e7e7e7;}
.nara_table_type3 .unit {width:200px;}
.nara_table_type3 th {text-align:center;}
.nara_table_type3 tbody th {text-align:left; background:#fff;}
.nara_table .clear_bold {font-weight:normal; display:block;}
.nara_tit {display:block; height:15px; margin:32px 0 15px;background:url(//img.danawa.com/new/newblog/img/text_nara_title.png) 0 0  no-repeat; overflow:hidden; text-indent:100%;white-space:nowrap;}
.nara_tit_01{width:192px;background-position:0 0;}
.nara_tit_02{width:88px;background-position:0 -20px;}
.nara_tit_03{width:88px;background-position:0 -40px;}
.nara_tit_04{width:88px;background-position:0 -60px;}
.nara_tit_05{width:88px;background-position:0 -80px;}
.special_list{padding:20px 23px 5px;}
.special_list li {list-style: none; color:#666; margin-bottom:13px;}
.special_list li span.text_b{display:block; font-weight:bold;}
.special_list li span.sub_text {display:block; text-indent:5px;}
.nara_blog_wrap  .nara_icon {display:block;float:left;text-indent:100%;overflow:hidden;white-space:nowrap;}


.option_nav .head_opt{float:right;}
.option_nav .btn_all_opt{font-size:12px;color:#000;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 100% -697px;border:none;padding:0 16px 0 0;overflow:visible;font-weight:bold;}
.option_nav .btn_spec_view{font-size:11px;background:url(//img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 100% -795px;padding:0 12px 0 0;margin:0;border:none;height:16px;overflow:visible;}
.option_nav .btn_spec_view strong{font-size:11px;}
.option_total_show .btn_all_opt{background-position:100% -747px;}
.option_nav .btn_view_less{background-position:100% -846px;}