@charset "euc-kr";

/* common */
body {background:none;}

/* 로딩브릿지 */
.loadBridge {width:575px; margin:0 auto; padding-top:20px;}
.line_box {border-top:2px solid #6b6b6b; border-bottom:2px solid #6b6b6b; padding:30px 0 25px 0; text-align:center; margin-bottom:30px; margin-top:8px;}

.gray_box {width:535px; height:102px; margin:25px 0;}
.gray_box_left {float:left;}
.gray_box_right {float:right;}
.gray_box_bg {background-color:#f7f7f7; float:left; height:102px;}
.care {width:505px; margin:20px 0 0 20px; font-size:11px; color:#777;}
.flo_left {float:left;}
.care ul{ float:right; padding:5px 25px 0 0;}
.care li{background:url(//img.danawa.com/new/common/loadingBridge/img/icom_spot.gif) no-repeat 0 6px;padding-left:7px; line-height:18px; text-align:left;}

.loading_txs {font-size:11px; color:#a8a8a8;}
.loading_bar {background-color:#f2f2f2; margin:0 auto; text-align:center; width:360px; margin-top:15px; margin-bottom:15px;}

#footer {text-align:center; width:100%; margin:0 0 10px; }
#footer p {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#666; padding-bottom:15px;}

/* 비밀번호 변경 페이지 */
#password_wrap h1 {width:925px;border-bottom:2px solid #6b6b6b;margin-top:50px;padding-bottom:8px;}
#password_wrap h1 a {text-indent:-9999em;display:block;height:26px;width:118px;overflow:hidden;background:url(//img.danawa.com/new/common/loadingBridge/img/logo.jpg) no-repeat 0 0;margin-left:20px;}
#password_wrap h2.type1 {background:url(//img.danawa.com/new/new_common/img/title_password_change.gif) no-repeat 0 0;text-align:center;width:325px;height:44px;margin:0 auto;text-indent:-9999em;margin-top:48px;}
#password_wrap .text_type1 {background:url(//img.danawa.com/new/new_common/img/text_password_change.gif) no-repeat 0 0;width:564px;height:45px;text-indent:-9999em;display:block;margin:58px 0 0px 20px;}
#password_wrap .text_type2 {line-height:1.6em;margin:22px 0 0 20px;}


/* confirm_box */
.confirm_box {border:3px solid #c2d5ff;padding:24px 27px 17px 27px;margin:25px 20px 18px 20px;}
.confirm_box .type1 {margin-left:13px;padding-bottom:5px;}
.confirm_box .type1 li {background:url(//img.danawa.com/new/new_common/img/bul_01.gif) no-repeat 0 9px;padding-left:11px;vertical-align:top;line-height:24px;height:24px;}
.confirm_box .type1 li label{font-weight:bold;width:111px;display:inline-block;}
.confirm_box .type1 li span {font-size:11px;color:#999;}
.input_type1 {width:164px;height:14px;border-top:1px solid #9f9f9f;border-left:1px solid #9f9f9f;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;margin-right:12px;}

.confirm_box .type2 {padding-top:15px;padding-left:10px;}
.confirm_box .type2 li {background:url(//img.danawa.com/new/new_common/img/icon_mark.gif) no-repeat 0 2px;padding-left:14px;vertical-align:top;line-height:16px;font-size:11px;margin-bottom:4px;}
.confirm_box .type2 li  em {color:#4266db;font-size:11px;font-style:normal;}

.confirm_box .right_text {color:#4366db !important;;font-size:11px;}
.confirm_box .password_point {background:url(//img.danawa.com/new/new_common/img/ico_re_arrow.gif) no-repeat 0 0;padding-left:10px;color:#4366db !important;;font-size:11px;margin-left:25px;font-weight:bold;}

/* password_explain_box */
.password_explain_box {border:1px solid #cfcfcf;overflow:hidden;margin-top:4px;margin-left:25px;padding:8px 0 4px 9px;width:720px;}
.password_explain_box .left_list {float:left;width:390px;}
.password_explain_box .right_list {float:left;width:320px;}
.password_explain_box li {background:url(//img.danawa.com/new/new_common/img/ico_ybar.gif) no-repeat 0 5px;padding-left:7px;line-height:16px;font-size:11px;}


/* button types */
.btn_center {text-align:center;}
.btn_confirm {background:url(//img.danawa.com/new/new_common/img/btn_confirm.gif) no-repeat left top;width:78px;height:29px;display:inline-block;}
.btn_next_change {background:url(//img.danawa.com/new/new_common/img/btn_next_change.gif) no-repeat left top;width:126px;height:29px;display:inline-block;}

/* margin */

.margin_r10 {margin-right:10px;}

/* footer types */

.footer_type1 {width:925px;border-top:2px solid #6b6b6b;padding-top:26px;text-align:center;margin-top:55px;}
.footer_type1 address { margin:5px 0 10px 18px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#9e9e9e; font-style:normal;}
.footer_type1 address strong { color:#666; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; }
