@charset "euc-kr";

body { 
	font-family: "?¸¿?", "Arial", "Verdana";	
	font-size: 12px; color:#333333; 
	text-align:left;
	margin:0 auto;
	position:relative;
 }
#danawa_wrap #container {
	margin-top:0;
}
td table {text-align:left;}
.mar_bot30 {margin-bottom:30px;}
.popbody { 
	font-family: "?¸¿?", "Arial", "Verdana";	
	font-size: 12px; color:#333333; 
	margin:0 0 0 0px;
	text-align:left;
	SCROLLBAR-FACE-COLOR: #F5F5F5;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFF;
	SCROLLBAR-3DLIGHT-COLOR: #CBCBCB;
	SCROLLBAR-SHADOW-COLOR: #F5F5F5;
	SCROLLBAR-DARKSHADOW-COLOR: #CBCBCB;
	SCROLLBAR-TRACK-COLOR:#E9E9E9;
	SCROLLBAR-ARROW-COLOR: #C0C0C0;	
 }
 
.SCbody { 
	font-family: "?¸¿?", "Arial", "Verdana";	
	font-size: 12px; color:#333333; 
	margin:0 0 0 0px;
	scrollbar-width:13px;
	SCROLLBAR-FACE-COLOR: #F5F5F5;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFF;
	SCROLLBAR-3DLIGHT-COLOR: #CBCBCB;
	SCROLLBAR-SHADOW-COLOR: #F5F5F5;
	SCROLLBAR-DARKSHADOW-COLOR: #CBCBCB;
	SCROLLBAR-TRACK-COLOR:#E9E9E9;
	SCROLLBAR-ARROW-COLOR: #C0C0C0;	
 }

td   { font-family: "?¸¿?", "Arial", "Verdana";	font-size: 12px; color:#333333; word-break:break-all; }

A:link {COLOR: #333333;	TEXT-DECORATION: none;}
A:visited {COLOR:#999999; TEXT-DECORATION: none;}
A:active {COLOR: #333333; TEXT-DECORATION: none;}
A:hover {color : #027A12; TEXT-DECORATION: underline;}

select
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 border: #CACACA 1px solid;
}

.bdclr {border: #CACACA 1px solid;}

.vtcm { vertical-align:middle;}

.openinput
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 height				: 16px;
 BACKGROUND-COLOR	: #ffffff;
 border			    : #CACACA 1px solid;
}

.textreply
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 width              :630px;
 height				: 52px;
 BACKGROUND-COLOR	: #ffffff;
 border			    : #CACACA 1px solid;
}


.textreply_s
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 width              : 620px;
 height				: 52px;
 BACKGROUND-COLOR	: #ffffff;
 border			    : #CACACA 1px solid;
}
.maricon { margin-top:5px;}

/* login */
.logininput
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 height				: 16px;
 BACKGROUND-COLOR	: #ffffff;
 border			    : #CACACA 1px solid;
}

.marketpro 
{ color: #333333; line-height:17px;}
a.marketpro:link {   font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;}
a.marketpro:visited {   font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;}
a.marketpro:active {   font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;}
a.marketpro:hover {   font-size: 12px; font-weight: normal; color: #027A12; text-decoration: underline;}

a.listUnder:link {COLOR: #333333;	TEXT-DECORATION: none;}
a.listUnder:visited {COLOR:#999999; TEXT-DECORATION: none;}
a.listUnder:active {COLOR: #333333; TEXT-DECORATION: none;}
a.listUnder:hover {color : #027A12; TEXT-DECORATION: underline;}

.notice 
{ color: #333333; line-height:17px;}
a.notice:link {   font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;}
a.notice:visited {   font-size: 12px; font-weight: normal; color: #999999; text-decoration: none;}
a.notice:active {   font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;}
a.notice:hover {   font-size: 12px; font-weight: normal; color: #027A12; text-decoration: underline;}

.cateselect 
{ color: #333333; line-height:17px;}
a.cateselect:link {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cateselect:visited {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cateselect:active {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cateselect:hover {   font-size: 12px; font-weight: bold; color: #027A12; text-decoration: underline;}

.click 
{ color: #027A12; line-height:17px;}
a.click:link {   font-size: 12px; font-weight: bold; color: #027A12; text-decoration: underline;}
a.click:visited {   font-size: 12px; font-weight: bold; color: #027A12; text-decoration: underline;}
a.click:active {   font-size: 12px; font-weight: bold; color: #027A12; text-decoration: underline;}
a.click:hover {   font-size: 12px; font-weight: bold; color: #027A12; text-decoration: underline;}

/*11text*/
.small_text { font-family: ?¸¿?; font-size: 11px;line-height:16px; color:#88731C;}
.thecheat_text { font-family: ?¸¿?; font-size: 11px;line-height:16px; color:#517C84;}

.nfooter
{ color: #FFFFFF; line-height:17px;}
a.nfooter:link {   font-size: 12px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
a.nfooter:visited {   font-size: 12px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
a.nfooter:active {   font-size: 12px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
a.nfooter:hover {   font-size: 12px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}


/*location*/
.dmall_location
{ font-size: 11px; color: #666666; margin:0; padding:0; height:none;}
a.dmall_location:link {   font-size: 11px; font-weight: normal; color: #666666; text-decoration: none;}
a.dmall_location:visited {   font-size: 11px; font-weight: normal; color: #666666; text-decoration: none;}
a.dmall_location:active {   font-size: 11px; font-weight: normal; color: #666666; text-decoration: none;}
a.dmall_location:hover {   font-size: 11px; font-weight: normal; color: #027A12; text-decoration: underline;}


.slink 
{ color: #666666; line-height:17px;}
a.slink:link {   font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline;}
a.slink:visited {   font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline;}
a.slink:active {   font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline;}
a.slink:hover {   font-size: 12px; font-weight: normal; color: #027A12; text-decoration: underline;}

.text_money { font-family:?¸¿?; font-size: 12px; font-weight:normal; color:#D82901;}
.text_money2 { font-family:?¸¿?; font-size: 12px;}
.small_txtver { font-family:vernada; font-size: 11px; font-weight:normal;}

img {
	border: none;
}

.img_gray1
{
	border: 1px solid #C6C6C6;
}

.img_yellow
{ 
	border: 1px solid #ECE3C5;
}

.img_white
{ 
	border: 1px solid #FFFFFF;
}



/*title*/
.title
{ font-size: 14px; color: #333333;font-weight: bold;}

.reply_table
{ 
	border: 1px solid #BDBDBD;
}

.reply_table2
{ 
	border: 2px solid #BDBDBD;
}

.reply_table3
{
	border-top: 0px solid #8AC177;
	border-right: 2px solid #8AC177;
	border-bottom: 2px solid #8AC177;
	border-left: 2px solid #8AC177;
}
.reply_table4
{
	border-top: 0px solid #BE7926;
	border-right: 2px solid #BE7926;
	border-bottom: 2px solid #BE7926;
	border-left: 2px solid #BE7926;
}

.reply_table5
{
	border-top: 0px solid #BE7926;
	border-right: 2px solid #BE7926;
	border-bottom: 0px solid #BE7926;
	border-left: 2px solid #BE7926;
}

.searchtxt { color: #1A6FC0;}

.detailtxt
	{ line-height:18px;}

/*process*/
.cess1
{ font-size: 14px; color: #FF6600;font-weight: bold;text-decoration: underline;}
a.cess1:link {   font-size: 14px; font-weight: bold; color: #FF6600; text-decoration: underline;}
a.cess1:visited {   font-size: 14px; font-weight: bold; color: #FF6600; text-decoration: underline;}
a.cess1:active {   font-size: 14px; font-weight: bold; color: #FF6600; text-decoration: underline;}
a.cess1:hover {   font-size: 14px; font-weight: bold; color: #FF6600; text-decoration: underline;}

.cess2
{ font-size: 12px; color: #333333;font-weight: bold;text-decoration: underline;}
a.cess2:link {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cess2:visited {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cess2:active {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}
a.cess2:hover {   font-size: 12px; font-weight: bold; color: #333333; text-decoration: underline;}

.printbg {
	font-family: "?¸¿?", "Arial", "Verdana";
	font-size: 12px;
	color:#333333;
	margin:0 0 0 0px;
	text-align:left;
	SCROLLBAR-FACE-COLOR: #F5F5F5;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFF;
	SCROLLBAR-3DLIGHT-COLOR: #CBCBCB;
	SCROLLBAR-SHADOW-COLOR: #F5F5F5;
	SCROLLBAR-DARKSHADOW-COLOR: #CBCBCB;
	SCROLLBAR-TRACK-COLOR:#E9E9E9;
	SCROLLBAR-ARROW-COLOR: #C0C0C0;
	background-attachment: fix;
	background-repeat: repeaty;
	background-image: url(//img.danawa.com/new/openmarket/common/pop_cibg5.gif);
}

.categ_01_bgcolor{ background-color:#F0F3DF; padding-top:3; width:143px; height:20px;}

.categ_01
{ font-size: 12px; color: #207502;font-weight: bold;text-decoration: none;}
a.categ_01:link {   font-size: 12px; font-weight: bold; color: #207502; text-decoration: none;}
a.categ_01:visited {   font-size: 12px; font-weight: bold; color: #207502; text-decoration: none;}
a.categ_01:active {   font-size: 12px; font-weight: bold; color: #207502; text-decoration: none;}
a.categ_01:hover {   font-size: 12px; font-weight: bold; color: #207502; text-decoration: underline;}

.categ_02
{ font-size: 12px; color: #31631B;font-weight: bold;text-decoration: none;}
a.categ_02:link {   font-size: 12px; font-weight: bold; color: #31631B; text-decoration: none;}
a.categ_02:visited {   font-size: 12px; font-weight: bold; color: #31631B; text-decoration: none;}
a.categ_02:active {   font-size: 12px; font-weight: bold; color: #31631B; text-decoration: none;}
a.categ_02:hover {   font-size: 12px; font-weight: bold; color: #31631B; text-decoration: underline;}

.categ_03
{ font-size: 12px; color: #31631B;font-weight: bold;text-decoration: none;}
a.categ_03:link {   font-size: 12px; font-weight: normal; color: #31631B; text-decoration: none;}
a.categ_03:visited {   font-size: 12px; font-weight: normal; color: #31631B; text-decoration: none;}
a.categ_03:active {   font-size: 12px; font-weight: normal; color: #31631B; text-decoration: none;}
a.categ_03:hover {   font-size: 12px; font-weight: normal; color: #31631B; text-decoration: underline;}

.categ_04
{ font-size: 12px; color: #D63D00;font-weight: bold; background-color: #FEFFD2; text-decoration: underline;}
a.categ_04:link {   font-size: 12px; font-weight: bold; color: #D63D00; background-color: #FEFFD2; text-decoration: underline;}
a.categ_04:visited {   font-size: 12px; font-weight: bold; color: #D63D00; background-color: #FEFFD2; text-decoration: underline;}
a.categ_04:active {   font-size: 12px; font-weight: bold; color: #D63D00; background-color: #FEFFD2; text-decoration: underline;}
a.categ_04:hover {   font-size: 12px; font-weight: bold; color: #D63D00; background-color: #FEFFD2; text-decoration: underline;}

/*¿?¹??ß¾?±¤°? °?·?*/
.box {font-family: "?¸¿?"; font-size: 9pt;color: #222222; background-color:#ffffff; border:1px solid #b9b9b9; margin:1px 0 0 0}
.boxblue {font-family: "?¸¿?"; font-size: 9pt;color: #222222; background-color:#ffffff; border:1px solid #86A1B6; margin:1px 0 0 0}

.category {font-family: "?¸¿?"; font-size: 9pt; color: #222222; text-decoration: none;}
a.category:link {font-family: "?¸¿?"; font-size: 9pt; color: #222222; text-decoration: none;}
a.category:visited {font-family: "?¸¿?"; font-size: 9pt; color: #222222; text-decoration: none;}
a.category:hover {font-family: "?¸¿?"; font-size: 9pt; color: #45A1FC; text-decoration: none;}

.go{color:#666666;}
a.go:link {  color: #666666; text-decoration: none;}
a.go:visited { color: #666666; text-decoration: none;}
a.go:active {  color: #666666; text-decoration: none;}
a.go:hover {  color: #fb620e; text-decoration: none;}

.orange_b { font-family: "?¸¿?"; font-size: 12px; color: #ff7800; font-style: normal; text-decoration: none; font-weight: bold;}
a.orange_b:link {font-family: "?¸¿?"; font-size: 12px; color: #ff7800; text-decoration: none; font-weight: bold;}
a.orange_b:visited {font-family: "?¸¿?"; font-size: 12px; color: #ff7800; text-decoration: none; font-weight: bold;}
a.orange_b:hover {font-family: "?¸¿?"; font-size: 12px; color: #ff7800; text-decoration: underline; font-weight: bold;}


.blueb { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:link { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:visited { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:active { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:hover { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}

.sponsor { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:link { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:visited { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666;}
a.sponsor:active { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:hover { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; }

.blue_tit { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #5287B8; font-weight: bold;}
.blue_l { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #006dd3; }

.blue_basic { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #99BAD1; }

.blue_menu { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #0F5A8F; }
a.blue_menu:link {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none;}
a.blue_menu:visited {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none;}
a.blue_menu:active {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none;}
a.blue_menu:hover {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none;}

.blue_menu_b { font-family: "?¸¿?"; font-size: 14px; font-style: normal; text-decoration: none; color: #0F5A8F;  font-weight: bold;}
a.blue_menu_b:link {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:visited {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:active {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:hover {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}


.black_b { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; font-weight: bold;}
.black { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; }

.cate { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #ffffff; }
a.cate:link {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none;}
a.cate:visited {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none;}
a.cate:active {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none;}
a.cate:hover {   font-size: 12px; font-style: normal; color: #F1FFCB; text-decoration: underline;}

.catebold { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #ffffff; font-weight: bold;}
a.catebold:link {  font-family: "?¸¿?"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:visited {   font-family: "?¸¿?"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:active {   font-family: "?¸¿?"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:hover {   font-family: "?¸¿?"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}

.basic { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.basic:link {  font-family: "?¸¿?"; font-size: 12px; color: #666666; text-decoration: none;}
a.basic:visited {   font-family: "?¸¿?"; font-size: 12px; color: #666666; text-decoration: none;}
a.basic:active {   font-family: "?¸¿?"; font-size: 12px; color: #666666; text-decoration: none;}
a.basic:hover {   font-family: "?¸¿?"; font-size: 12px; color: #666666; text-decoration: none;}

.gray33 { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #333333; }
a.gray33:link {  font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;}
a.gray33:visited {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;}
a.gray33:active {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;}
a.gray33:hover {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;}

.gray33_b { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #333333; font-weight: bold; }
a.gray33_b:link {  font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none; font-weight: bold;}
a.gray33_b:visited {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}
a.gray33_b:active {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}
a.gray33_b:hover {   font-family: "?¸¿?"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}

.gray00 { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; }
a.gray00:link {  font-family: "?¸¿?"; font-size: 12px; color: #000000; text-decoration: none;}
a.gray00:visited {   font-family: "?¸¿?"; font-size: 12px; color: #000000; text-decoration: none;}
a.gray00:active {   font-family: "?¸¿?"; font-size: 12px; color: #000000; text-decoration: none;}
a.gray00:hover {   font-family: "?¸¿?"; font-size: 12px; color: #000000; text-decoration: none;}

.adlink { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #ffffff; }
a.adlink:link {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: underline;}
a.adlink:visited {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none;}
a.adlink:active {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none;}
a.adlink:hover {   font-size: 12px; font-style: normal; color: #F1FFCB; text-decoration: underline;}

.linkday { font-family: "?¸¿?"; font-size: 12px; font-style: normal; text-decoration: underline; color: #2379C8; }
a.linkday:link {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline;}
a.linkday:visited {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline;}
a.linkday:active {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline;}
a.linkday:hover {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline;}

tit_text
{color: #639BB4; font-size: 12px; font-weight: bold;}

/* INPUT */
.inputSearch
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #000000;
 height				: 18px;
 BACKGROUND-COLOR	: #EBF5DE;
 border-right		: #7F9DB9 1px solid;
 border-top			: #7F9DB9 1px solid;
 border-left		: #7F9DB9 1px solid;
 border-bottom		: #7F9DB9 1px solid;
}

.input
{
 font-size			: 12px;
 font-family		: "?¸¿?","Arial","Verdana";
 color				: #333333;
 height				: 18px;
 BACKGROUND-COLOR	: #ffffff;
 border-right		: #cecec7 1px solid;
 border-top			: #cecec7 1px solid;
 border-left		: #cecec7 1px solid;
 border-bottom		: #cecec7 1px solid;
}

.text_price
{color:#1272E9;}

.orange_price{color:#FF6600;}
a.orange_price:link {  color: #FF6600; text-decoration: none;}
a.orange_price:visited { color: #FF6600; text-decoration: none;}
a.orange_price:active {  color: #FF6600; text-decoration: none;}
a.orange_price:hover {  color: #FF6600; text-decoration: underline;}

.gong_table1
{
	border-top: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	border-bottom: 0px ;
	border-left: 1px solid #BDBDBD;
}

.gong_table2
{
	border-top: 0px;
	border-right: 1px solid #BDBDBD;
	border-bottom: 1px  solid #BDBDBD;
	border-left: 1px solid #BDBDBD;
}

.gong_table3
{ background:url(//img.danawa.com/new/openmarket/common/bg_gong_table3.gif) repeat-y;
/* border-top: 0px;
	border-right: 2px solid #6BBDBC;
	border-bottom: 0px ;
	border-left: 2px solid #6BBDBC;*/
}

.price_m {
	font-size: 12px;
	color:#6F6F6F;
	text-decoration: line-through;
}

.gonglink 
{ color: #000000; line-height:17px;}
a.gonglink:link {   font-size: 12px; font-weight: normal; color: #000000; text-decoration: none;}
a.gonglink:visited {   font-size: 12px; font-weight: normal; color: #666666; text-decoration: none;}
a.gonglink:active {   font-size: 12px; font-weight: normal; color: #000000; text-decoration: none;}
a.gonglink:hover {   font-size: 12px; font-weight: normal; color: #257F8C; text-decoration: underline;}

.gonglink2 
{ color: #257F8C; line-height:17px;}
a.gonglink2:link {   font-size: 12px; font-weight: bold; color: #257F8C; text-decoration: none;}
a.gonglink2:visited {   font-size: 12px; font-weight: bold; color: #257F8C; text-decoration: none;}
a.gonglink2:active {   font-size: 12px; font-weight: bold; color: #257F8C; text-decoration: none;}
a.gonglink2:hover {   font-size: 12px; font-weight: bold; color: #257F8C; text-decoration: underline;}

.gong_cate1
{ color: #000000; line-height:17px;}
a.gong_cate1:link {   font-size: 12px; font-weight: bold; color: #000000; text-decoration: none;}
a.gong_cate1:visited {   font-size: 12px; font-weight: bold; color: #000000; text-decoration: none;}
a.gong_cate1:active {   font-size: 12px; font-weight: bold; color: #000000; text-decoration: none;}
a.gong_cate1:hover {   font-size: 12px; font-weight: bold; color: #257F8C; text-decoration: underline;}

.gong_cate1_on
{ color: #000000; line-height:17px;}
a.gong_cate1_on:link {   font-size: 14px; font-weight: bold; color: #FF3300; text-decoration: none;}
a.gong_cate1_on:visited {   font-size: 14px; font-weight: bold; color: #FF3300; text-decoration: none;}
a.gong_cate1_on:active {   font-size: 14px; font-weight: bold; color: #FF3300; text-decoration: none;}
a.gong_cate1_on:hover {   font-size: 14px; font-weight: bold; color: #FF3300; text-decoration: underline;}

.gong_cate2
{ color: #000000; line-height:17px;}
a.gong_cate2:link {   font-size: 12px; font-weight: bold; color: #3B969B; text-decoration: none;}
a.gong_cate2:visited {   font-size: 12px; font-weight: bold; color: #3B969B; text-decoration: none;}
a.gong_cate2:active {   font-size: 12px; font-weight: bold; color: #3B969B; text-decoration: none;}
a.gong_cate2:hover {   font-size: 12px; font-weight: bold; color: #3B969B; text-decoration: underline;}

.tab01_on
{ color: #136780; background-color: #F4FAF9;text-align: center;}
.tab01_on:link {font-size: 12px; font-weight:bold; color:#136780; text-decoration: none;text-align: center;}
.tab01_on:visited {font-size: 12px; font-weight:bold; color:#136780; text-decoration: none;text-align: center;}
.tab01_on:active {font-size: 12px; font-weight:bold; color:#136780; text-decoration: none;text-align: center;}
.tab01_on:hover {font-size: 12px; font-weight:bold; color:#136780; text-decoration: underline;text-align: center;}

.tab01_out
{ color: #437F88; background-color: #8ECBC6;text-align: center;}
.tab01_out:link {font-size: 12px; font-weight:bold; color:#437F88; text-decoration: none;text-align: center;}
.tab01_out:visited {font-size: 12px; font-weight:bold; color:#437F88; text-decoration: none;text-align: center;}
.tab01_out:active {font-size: 12px; font-weight:bold; color:#437F88; text-decoration: none;text-align: center;}
.tab01_out:hover {font-size: 12px; font-weight:bold; color:#437F88; text-decoration: underline;text-align: center;}

.tab02_on
{ color: #000000; background-color: #FFFFFF;text-align: center;}
.tab02_on:link {font-size: 12px; font-weight:bold; color:#000000; text-decoration: none;text-align: center;}
.tab02_on:visited {font-size: 12px; font-weight:bold; color:#000000; text-decoration: none;text-align: center;}
.tab02_on:active {font-size: 12px; font-weight:bold; color:#000000; text-decoration: none;text-align: center;}
.tab02_on:hover {font-size: 12px; font-weight:bold; color:#000000; text-decoration: underline;text-align: center;}

.tab02_out
{ color: #858585; background-color: #D7D7D7;text-align: center;}
.tab02_out:link {font-size: 12px; font-weight:bold; color:#858585; text-decoration: none;text-align: center;}
.tab02_out:visited {font-size: 12px; font-weight:bold; color:#858585; text-decoration: none;text-align: center;}
.tab02_out:active {font-size: 12px; font-weight:bold; color:#858585; text-decoration: none;text-align: center;}
.tab02_out:hover {font-size: 12px; font-weight:bold; color:#858585; text-decoration: underline;text-align: center;}

.table_color01 {color: #666666;font-size: 12px;font-weight:bold;background-color: #DCDCDC;text-align: center;}
.table_color01_line {background-color: #A5A5A5;text-align: center;}

.table_color02 { color: #35686B; font-size: 12px; font-weight:bold; background-color: #E1F2F5;}
.table_color02_line {background-color: #8FBEBD;}

.table_color03 { color: #515153; font-size: 12px; font-weight:bold; background-color: #F6F6D3;text-align: center;}

.table_color04 { background-color: #F6F7E7;font-size: 12px;font-weight:bold;text-align: center;}

.table_color05 {
	background-color: #000000;
	border: 1px solid #000000;
	
}

/*lnb?ß°¡_110516_P04*/
.dmallnb {width:160px; background: url('//img.danawa.com/new/openmarket/common/bg_mn.gif');}
.dmall_viewtit{color:#333; font-size:14px; font-weight:bold; background-color:#efefef; height:50px; padding-left:10px;}
.marL15 {*margin-left:5px; _margin-left:5px;}

#btn_layer {position:relative;}
#btn_layer h4 {height:22px;background:#f4f4f4;color:#666;padding:10px 0 0 12px;}
.btn_cont {position:absolute;top:0px;left:3px;*left:-2px;width:299px;min-height:112px;height:auto !important;height:112px;border:1px solid #c7c7c7;background:#fff;}
.btn_close_x {position:absolute;top:0px;right:0px;_right:-2px;}
.btn_cont ul {margin:7px 0 0 11px;}
.btn_cont li {font-size:12px;color:#666;line-height:22px;}

/* ±¸¸???±? Æ?¾÷ */
.popup_container {width:330px;height:225px;background:#fff;border:2px solid #888; position:absolute; z-index:100; left:330px; top:490px; text-align:center;}
.popup_upline {width:100%;height:22px;background:#f4f4f4; padding-top:9px;}
.popup_upline h5 {float:left; color:#666; margin-left:20px; font-weight:normal;}
.popup_upline a {display:block; float:right; width:10px; height:10px; overflow:hidden; background:url('//img.danawa.com/new/openmarket/btn/btn_close_x2.gif') no-repeat; text-indent:-9999em; margin-right:10px;}
.popup_message {width:260px; height:60px; border:1px solid #cdcdcd; background-color:#f6f6f6; padding:12px; margin:15px 22px 0 22px;}
.popup_message img {float:left;}
.popup_message p {margin:2px 0 0 80px; text-align:left; color:#808080;}
p.popup_question {margin-top:25px;}
.popup_answer {margin:19px 0 0 90px;}
.popup_answer a {display:block; width:70px; height:12px; border:1px solid #bebebe; padding:4px 0; font-weight:bold; float:left; margin-right:5px; text-decoration:none; color:#000;}
.popup_answer a.popup_answer_yes{background:#10a12a; border:1px solid #10a12a; color:#fff;}

/* ½?±?¾???°?·¡ Æ?¸????° */
.new_safe_deal {text-align:left; position:relative; padding:0 1px;}
.new_safe_deal h4 {background:url('//img.danawa.com/new/openmarket/main/title_newsafe.gif') no-repeat; text-indent:-9999em; width:130px; height:14px; float:left;}
.new_safe_deal a.go_more {display:block; float:right; margin-top:2px;}
/*.new_safe_deal ul {clear:both; border:1px solid #d5d5d5; padding:0 11px 10px 9px; top:10px; position:relative; margin:0 1px 20px; *padding:12px 12px 5px 8px;}
.new_safe_deal ul li a:link, .new_safe_deal ul li a:visited, .new_safe_deal ul li a:hover, .new_safe_deal ul li a:active {color:black; word-spacing:-1px;}
.new_safe_deal ul li{clear:both; height:55px; margin-top:11px; }
.new_safe_deal ul li img.safe_thumb{float:left; width:55px; height:55px; margin-right:5px;}
.new_safe_deal ul li div.goods_info{float:left; padding-top:4px; width:149px; display:table; height:50px;}
.new_safe_deal ul li div.goods_info div{display:table-cell; vertical-align:middle;}
.new_safe_deal ul li p {font-size:12px; }
.new_safe_deal ul li p img.icon_safedeal{vertical-align:middle; margin-left:5px;}
.new_safe_deal ul li dl {margin-top:6px;}
.new_safe_deal ul li dl dt{clear:both;float:left; display:block; background:url('//img.danawa.com/new/openmarket/main/list_dot.gif') no-repeat 0 7px; padding-left:4px;color:#6f6f6f; font-size:11px; padding-top:1px;}
.new_safe_deal ul li dl dd {float:left; display:block; background:url('//img.danawa.com/new/openmarket/main/icon_won.gif') no-repeat 0 1px; padding-left:13px; color:red; margin-left:5px;}*/

.new_safe_deal table {table-layout:auto; border:1px solid #d5d5d5; width:100%; padding:10px; border-collapse:collapse; margin-bottom:10px; height:280px;}
.new_safe_deal table caption {height:22px; width:233px;}
.new_safe_deal table td.top_td {padding-top:11px;} 
.new_safe_deal table td.bottom_td {padding-bottom:11px;}
.new_safe_deal table td.safe_thumb {width:55px; height:63px; padding-left:10px;}
.new_safe_deal table td.safe_thumb img {width:55px; height:55px;}
.new_safe_deal table .goods_info {padding:2px 12px 0 4px; word-spacing:-1px;}
.new_safe_deal table td.goods_info p{margin-bottom:5px; line-height:1.2;}
.new_safe_deal table td.goods_info p a {color:#323232;}
.new_safe_deal table td.goods_info p img.icon_safedeal{vertical-align:middle; margin-left:5px; margin-top:-2px;}
.new_safe_deal table td.goods_info dl dt{clear:both;float:left; display:block; background:url('//img.danawa.com/new/openmarket/main/list_dot.gif') no-repeat 0 7px; padding-left:4px;color:#6f6f6f; font-size:11px; padding-top:1px;}
.new_safe_deal table td.goods_info dl dd{float:left; display:block; background:url('//img.danawa.com/new/openmarket/main/icon_won.gif') no-repeat 0 1px; padding-left:13px; color:#D82901; margin-left:5px;}

/* QR???? */
a.banner_qr {display:block; margin-top:10px;}

/* Æ?¸?°?½?Æ? ??´? ¿?¼? ¼??¤ */
.reg_marketgoods {text-align:right; padding:20px 0 5px;*padding-bottom:1px}
.search_marketgoods {border-top:2px solid #027a12;text-align:left;}
.search_marketgoods input {vertical-align:top;*vertical-align:baseline;margin-right:3px;*margin-right:0;}
.search_marketgoods select {border:1px solid #7f9db9;}
.search_option1 {padding:11px 5px 9px 6px;overflow:auto;_padding-bottom:0;}
.sub_marketgoods .search_option1 {padding:7px 5px 7px 6px;}
.search_option1 .search_inputs {float:left; margin-right:40px;}
.search_option1 .select_category {width:140px;background:#ffffe1;}
.search_option1 .select_class {background:#fbedbe; width:75px;}
.search_option1 .select_location {background:#fffee0;width:49px;}
.sub_marketgoods .select_location {width:53px;}
.search_option1 .openinput {width:152px; border:1px solid #c9cbc8;vertical-align:middle;position:relative;top:-1px;*top:-3px}
.search_option1 .narrow_search {width:126px;}
.search_option1 .search_inputs img {vertical-align:middle;position:relative;top:-1px;*top:-3px;}
.deal_way {float:left;margin-top:2px;*margin-top:0;}
.deal_way label {margin-right:3px;}
.choice_member {float:right; margin-top:1px; *margin-top:5px;}
.choice_member ul li {float:left;margin-left:14px;}
.choice_member ul li a {display:block;background:url('//img.danawa.com/new/openmarket/common/ico_gene.gif') no-repeat 0 2px; padding-left:13px; color:#343434;*background-position:0 0;}
.choice_member ul li a:hover {text-decoration:none;}
.choice_member ul li a.company_member {background-image:url('//img.danawa.com/new/openmarket/common/ico_company.gif');}
.search_option2 {clear:both;background:#f1f7f3; overflow:auto; height:28px;margin:0 2px 0 1px;*margin:0;}
.marketgoods_category li {float:left;font-size:11px;}
.marketgoods_category li a {display:block; border-top:1px solid #97cb9b; border-right:1px solid #97cb9b;height:17px; width:40px;padding:7px 5px 3px 29px; *padding:9px 5px 1px 29px; color:#666;background:url('//img.danawa.com/new/openmarket/main/cate_new.png') no-repeat 12px 6px;letter-spacing:-1px;}
.marketgoods_category li a:hover{text-decoration:none;}
.marketgoods_category li a.cate_all {border-left:1px solid #97cb9b; padding:7px 5px 3px; *padding:9px 5px 1px;width:51px;background-image:none;text-align:center;}
.marketgoods_category li a.cate_used {background:url('//img.danawa.com/new/openmarket/main/cate_used.png') no-repeat 11px 6px; padding-left:28px; width:46px;}
.marketgoods_category li a.selected {background-color:#c2e8cd;font-weight:bold;color:#333;}
.option_etc {float:right;font-size:11px; padding-right:6px; letter-spacing:-1px;}
.option_etc dl, .option_etc dl dt, .option_etc dl dd {float:left; font-size:11px; }
.option_etc dl dt {margin:7px 6px 0 0;*margin-top:8px;}
.option_etc dl dd {margin:4px 10px 0 0;}
.option_etc dl dd select {width:85px;letter-spacing:0; font-size:11px;}
.option_etc .reg_mobile {background:url('//img.danawa.com/new/openmarket/main/reg_mobile.png') no-repeat 17px 0; height:14px; display:block; float:left; margin-top:6px; padding-top:1px; margin-right:6px;*background-position:23px 3px; *margin-top:3px; *height:17px;*padding-top:2px}
.option_etc .reg_mobile input {margin-right:15px; *vertical-align:middle;*position:relative; *top:-2px;}
.option_etc .view_qnt {margin-top:4px;letter-spacing:0;}

/* ·¹??¾?Æ?¾÷ */
.LayerPopup_Wrap {}
.LayerPopup_Wrap p{ margin:0; padding:0;}
.LayerPopup_footer {height:22px; width:390px; padding-right:10px; padding-top:3px; background:#ccc;  text-align:right;  font-size:11px; font-family:?¸¿?; color:#333; border-top:1px solid #fff;}
.LayerPopup_footer a {font-size:11px; font-family:?¸¿?; color:#333; text-decoration: none;}
.LayerPopup_footer a:hover {font-size:11px; font-family:?¸¿?; color:#333; text-decoration:underline;}
.LayerPopup_footer *{ vertical-align: text-bottom;}
.LayerPopup_footer img { margin-bottom:3px;}

.btn_minishop_go {margin-top:7px;}
.pop_con {margin:10px 14px 0 14px;}

.footer_option{color:white; font-size:11px; margin-left:10px; *margin-left:5px; float:left; margin-top:2px; *margin-top:0;}
.footer_option input {margin-right:5px;*margin-right:2px; position:relative; top:2px;}

/* tabs_market */
.tabs_market ul{clear:both;zoom:1;overflow:hidden;100%;margin:20px 0;}
.tabs_market li {float:left;text-align:center;width:25%;}
.tabs_market li a{background-color:#f8f8f8; border-top:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-bottom:1px solid #4a4a4a;margin-right:-1px;display:block;padding:11px 0 0 0;height:23px;}
.tabs_market li a span {}
.tabs_market li.select {}
.tabs_market li .txt1 {background:url(//img.danawa.com/new/openmarket/common/bg_tabs_txt.gif) no-repeat;background-position:0 0;width:94px;height:14px;display:inline-block;}
.tabs_market li .txt2 {background:url(//img.danawa.com/new/openmarket/common/bg_tabs_txt.gif) no-repeat;background-position:-211px 0;width:38px;height:14px;display:inline-block;}
.tabs_market li .txt3 {background:url(//img.danawa.com/new/openmarket/common/bg_tabs_txt.gif) no-repeat;background-position:-382px 0;width:61px;height:14px;display:inline-block;}
.tabs_market li .txt4 {background:url(//img.danawa.com/new/openmarket/common/bg_tabs_txt.gif) no-repeat;background-position:-558px 0;width:84px;height:14px;display:inline-block;}

.tabs_market li.select .txt1 {background-position:0 -37px;width:94px;}
.tabs_market li.select .txt2 {background-position:-211px -37px;width:48px;}
.tabs_market li.select .txt3 {background-position:-382px -37px;width:71px;}
.tabs_market li.select .txt4 {background-position:-558px -37px;width:100px;}
.tabs_market li.select a {background:#fff;border-top:1px solid #4a4a4a;border-right:1px solid #4a4a4a;border-left:1px solid #4a4a4a;border-bottom:1px solid #fff;position:relative;z-index:2;}
.tabs_market li.last a{margin-right:0px;}

.pop_text_wrap{background:#fff;border:1px solid #e3e3eb;}
.pop_text_wrap a.report_right{text-align:left;display:block;color:#676767;padding:12px;line-height:18px;}
.pop_text_wrap a.report_right:hover{text-decoration:none;color:#676767;}
.pop_text_wrap a.report_right img{margin-top:4px;}
.pop_text_wrap textarea{border:none;height:110px;*border:1px solid #fff}

.txt_point_01 { color:#DA3E00;}
.txt_point_02 { color:#fff;}
.txt_point_03 { color:#D92B00;}
.txt_point_04 { color:#247E05;}
.txt_point_05 { color:#AA6443;}
.txt_point_06 { color:#578200;}
.txt_point_07 { color:#DA3E00; font-size:14px;}

.categ_sort { background-color:#E5EFB0; color:#B94109;}

.add_info {border-bottom:2px solid #f3e9c6;margin:0 0 15px;padding:0px 0 10px;position:relative;}
.prod_explain_view {color:#333333;padding:30px 0 0px;}
.prod_explain_bottom {left:0;position:absolute;top:0;}
.prod_explain_bottom .date {color:#9b641d;font-size:12px;font-weight:bold;}
.prod_explain_bottom .title {color:#9b641d;font-size:12px;font-weight:bold;}
.free_add_info table {width:100%;}

/* specail_popup ???? ??¸®¿? 
.special_popup {border:5px solid #0375e0;position:absolute;width:390px;left:50%;margin-left:-200px;z-index:9999;background-color:#fff;}
.special_popup img {display:block;}
.special_popup .popup_bottom {background:#f4f4f4;overflow:hidden;height:25px;}
.special_popup .popup_bottom .close_pop {float:right;margin:7px 0 0;}
.special_popup .popup_bottom .close_pop input {float:left;*margin-top:-5px;}
.special_popup .popup_bottom .close_pop label {color:#333333;float:left;font-size:11px;margin:0 0 0 10px;*margin:1px 0 0 8px;}
.special_popup .popup_bottom .close_pop .close_btn {background:url(//img.danawa.com/new/common/btn_popup_close.png) no-repeat scroll 0 0 transparent;float:left;text-indent:-999em;width:8px;height:8px;margin:2px 8px 0;}
.special_popup .blind {display:block;}	  */




