@charset "utf-8";

.spon_bt{font-familydotum,Gulim,sans-serif; font-size:12px; font-weight:bold; color:#000000;}

.spon_tit{font-familydotum,Gulim,sans-serif; font-size: 12px; font-weight:normal; color:#0043a8;text-decoration: underline;}
a.spon_tit{font-familydotum,Gulim,sans-serif; font-size: 12px; font-weight:normal; color:#0043a8;text-decoration: underline;}
a.spon_tit:hover {font-familydotum,Gulim,sans-serif; font-size: 12px; font-weight:normal; text-decoration:underline; color:#0043a8;}

.s_txt{font-size:12px; font-weight:normal; color:#000000; }
a.s_txt{font-size:12px; font-weight:normal; text-decoration:none; color:#000000;}
a.s_txt:hover {font-size:12px; font-weight:normal;  text-decoration:underline; color:#000000;}
a.s_txt strong {font-size:12px; text-decoration:none; color:#000000;}

.spon_url{font-size:11px; font-weight:normal; color:#278805;}
a.spon_url {font-size:11px; font-weight:normal; text-decoration:none; color:#278805;}
a.spon_url:hover{font-size:11px; font-weight:normal; text-decoration:underline; color:#278805;}

ul#overture_list{margin:0px; padding:0px; padding-left:10px;list-style-type:none; clear:both; line-height:17px;}
ul#overture_list li{padding:0 0 3px 8px; background: url('//img.danawa.com/new/common/overture_point.gif') no-repeat 0 6px; line-height:17px;}

div#overture_t1{margin:0px 0px 10px 0px;}
div#overture_t1 img{margin-top:10px;}
div#overture_t1 table{width:100%; border-collapse: collapse;}
div#overture_t1 table td{margin:0px; padding:0px; padding-top:3px;}
div#overture_t1 .spon_titmar{padding-right:19px;}

div#overture_t1 .over_l1{padding-top:8px; background: url('//img.danawa.com/new/common/overture_bg2.gif') no-repeat left top;}

div#overture_t1 .over_l2{height:10px; background: url('//img.danawa.com/new/common/overture_bg2.gif') no-repeat left bottom;}
div#overture_t1 .over_r1{width:6px; background: url('//img.danawa.com/new/common/overture_bg2.gif') no-repeat right top;}
div#overture_t1 .over_r2{height:10px; width:6px; background: url('//img.danawa.com/new/common/overture_bg2.gif') no-repeat right bottom;}

div#overture_t2{margin:0px 0px; clear:both; padding-top:20px;}
div#overture_t2 .spon_bt {font-size:13px; font-weight;bold; margin:3px 0 3px 3px;}
div#overture_t2 table{width:100%; border-collapse: collapse;}
div#overture_t2 table td{margin:0px; padding:0px;}

div#overture_t2 table#spon_title {width:100%; margin:0px 0px 10px 10px;}
div#overture_t2 table#spon_title img{margin-right:10px;}

div#overture_t2 dl{margin:0px; padding:0px;}
div#overture_t2 dl dt{float:left; margin:0px; padding:4px 0px 13px 7px;}
div#overture_t2 dl dd{float:right;margin-left:0;}

div#overture_t2 .over_l1{padding-top:6px; background: url('//img.danawa.com/new/common/overture_bg.gif') no-repeat left top;}
div#overture_t2 .over_l2{height:10px; background: url('//img.danawa.com/new/common/overture_bg.gif') no-repeat left bottom;}
div#overture_t2 .over_r1{width:6px; background: url('//img.danawa.com/new/common/overture_bg.gif') no-repeat right top;}
div#overture_t2 .over_r2{height:10px; width:6px; background: url('//img.danawa.com/new/common/overture_bg.gif') no-repeat right bottom;}

div#overture_t3{margin:0px 0px;}
div#overture_t3 table{width:100%; border-collapse: collapse;}
div#overture_t3 table td{margin:0px; padding:0px;}

div#overture_t3 dl{margin:0px; padding:0px;}
div#overture_t3 dl dt{float:left; margin:0px; padding:4px 0px 13px 10px;}
div#overture_t3 dl dd{float:right;}

div#overture_t3 .over_l1{padding-top:6px; background: url('//img.danawa.com/new/common/overture_bg3.gif') no-repeat left top;}
div#overture_t3 .over_l2{height:10px; background: url('//img.danawa.com/new/common/overture_bg3.gif') no-repeat left bottom;}
div#overture_t3 .over_r1{width:6px; background: url('//img.danawa.com/new/common/overture_bg3.gif') no-repeat right top;}
div#overture_t3 .over_r2{height:10px; width:6px; background: url('//img.danawa.com/new/common/overture_bg3.gif') no-repeat right bottom;}

div#overture_t3 .spon_bt {font-size:12px; font-weight;bold; margin-left:7px;}
div#overture_t3 a.spon_tit{font-size:12px; font-weight:bold; text-decoration:underline; color:#2D4A91; line-height:16px;}
div#overture_t3 a.spon_tit:hover {text-decoration:underline;}
div#overture_t3 a.s_txt {font-size:12px; font-weight: normal; text-decoration:underline; color:#666666; line-height:16px;}
div#overture_t3 a.s_txt:hover {text-decoration:underline;}
div#overture_t3 a.spon_url {font-size:11px; font-weight: normal; text-decoration:none; color:#999999; line-height:16px;}
div#overture_t3 a.spon_url:hover {text-decoration:underline;}

div#overture_t4{clear:both;}
div#overture_t4 dl#overture_bolg{width:231px; background:url('//img.danawa.com/new/common/overture_bg4.gif') no-repeat; margin-bottom:10px;}
div#overture_t4 dl.overture_bolg_730{width:730px !important; background:url('//img.danawa.com/new/common/overture_bg5.gif') no-repeat !important; margin-bottom:10px;}
div#overture_t4 dl#overture_bolg .overture_title {float:left; padding:10px 0 5px 7px;font-size:13px; font-weight:bold; color:#000000;}
div#overture_t4 dl#overture_bolg .guidebtn{float:right; height:17px; padding:7px 5px 15px 5px;}
div#overture_t4 dl#overture_bolg .guidebtn img{margin-right:3px;}
div#overture_t4 dl#overture_bolg dd{text-align:center;}
div#overture_t4 dl#overture_bolg dd.overList{margin-right:5px;}
div#overture_t4 dl#overture_bolg dd.con_bottom{height:5px; background:url('//img.danawa.com/new/common/overture_bg4.gif') no-repeat left bottom;}
div#overture_t4 dl#overture_bolg dd.con_bottom2{height:5px; background:url('//img.danawa.com/new/common/overture_bg5.gif') no-repeat left bottom;}

div#overture_t4 dl#overture_bolg dd.overList ul#overture_list{margin:0px; padding:0px; padding-left:7px;list-style-type:none; clear:both; line-height:17px;}
div#overture_t4 dl#overture_bolg dd.overList ul#overture_list li{padding:0 0 3px 8px; background: url('//img.danawa.com/new/common/overture_point.gif') no-repeat 0 6px; line-height:17px;}

.overture_w360 {width:360px;overflow:hidden;margin-top:20px;}
div#overture_t4 dl.overture_w360 {background: url("//img.danawa.com/new/common/overture_bg6.gif") no-repeat 0 0 !important;margin-bottom: 10px;width:360px !important;}
div#overture_t4 dl.overture_w360 dd.con_bottom {background: url("//img.danawa.com/new/common/overture_bg6.gif") no-repeat left bottom !important;height:5px;width:360px !important;}
div#overture_t4 dl.overture_w360 dd.overList ul#overture_list li {background: url("//img.danawa.com/new/common/overture_point.gif") no-repeat 0 14px !important;}


div#overture_t5 .spon_url{font-size:11px; font-weight:normal; color:#278805;font-family:dotum,sans-serif;}
div#overture_t5 .s_txt {font-size:12px !important;font-weight:normal;color:#000000;font-family:dotum,sans-serif;}
div#overture_t5 .spon_tit{ font-size:12px !important;font-weight:normal;color:#095EDF;text-decoration: underline;font-family:dotum,sans-serif;}


div#overture_t5{clear:both;height:240px;background:#f3f3f3;}
div#overture_t5 .overture_head .head_title {float:left; padding:4px 0 0px 13px;*padding:14px 0 5px 13px;   font-size:14px; font-weight:bold; color:#000000;}
div#overture_t5 .overture_head .guidebtn{float:right; height:16px; padding:11px 0px 0px 5px;}
div#overture_t5 .overture_head .guidebtn img{margin-right:12px;}
div#overture_t5 .overture_head dd.overList{margin-right:5px;}

div#overture_t5 ul#overture_list{margin:0px; padding:0px; padding-left:14px;list-style-type:none; clear:both; line-height:16px;}
div#overture_t5 ul#overture_list li{padding:0 0 0px 9px; background: url('//img.danawa.com/new/common/overture_point.gif') no-repeat 0 6px; line-height:16px;}

.appl_right_banner div.big_b {padding:0;border-bottom:1px solid ##e6e6e6;margin-bottom:1px;}
.appl_right_banner div.big_b img {}
.btm_url {margin-top:0px;}
.h_overhidden {height:32px;overflow:hidden;width:210px;}
.h_over3line {height:48px; margin-bottom:10px;}
.h_overhidden_15 {height:15px;overflow:hidden;}
.h_overhidden4 {height:32px;overflow:hidden;width:330px;padding:8px 0 8px 0;_padding:5px 0 5px 0;}

.overture_head {padding:0px 0 2px 0;*padding:0px 0 7px 0;overflow:hidden;zoom:1;}
.margin_bottom {margin-bottom:15px !important;height:48px !important}
#overture_list .btm_url {margin-bottom:5px;}
.ad1 {vertical-align:middle;display:inline-block;margin-left:4px;margin-top:0px !important;}
.ad2 img {vertical-align:middle;display:inline-block;margin-left:4px;position:relative;top:-2px;}
.ad3 img {vertical-align:middle;display:inline-block;margin-left:4px;}