@charset "utf-8";

/* Common */
body,form,fieldset,legend,input,textarea,button,select,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,div,span{margin:0;padding:0;}
body,input,textarea,select,button{font-size:14px;line-height:1.25em;font-family:'Apple Gothic','Droid Sans',dotum,'돋움',Gulim,'굴림',Helvetica,Arial,verdana,Sans-serif;}
body{color:#424242;font-size:14px;font-family:'Apple Gothic','Droid Sans',dotum,'돋움',Gulim,'굴림',Helvetica,Arial,verdana,Sans-serif;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
a{color:inherit;text-decoration:none;}
a:hover{text-decoration:none;}
address {font-style:normal;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px}

/* clear */
.ua_header:after {content:""; display:block; clear:both}

/* skip types */
.skip{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap;left:-1px;}
.skip_m{overflow: hidden;position: absolute;width: 1px;height: 1px;font-size: 1px;line-height: 1px;text-indent: 4px;}
.screen_out {display:block;font-size:1px;height:1px;line-height:0;overflow:hidden;position: absolute;text-indent: 10px;white-space: nowrap;width:1px;color:transparent;}


/* Compare Product */
.prod_compare .compare_head{position:relative;box-shadow:0 3px 3px rgba(0,0,0,.15);z-index:10;*zoom:1;}
.prod_compare .head_main{background:#5c8ddf;text-align:center;padding:10px 50px;}
.prod_compare .head_main h2{font-size:16px;color:#fff;line-height:22px;}
.prod_compare .head_main .prodlist_ico{display:block;position:absolute;width:34px;height:34px;text-indent:-200px;overflow:hidden;border:none;top:4px;}
.prod_compare .link_back{left:7px;background-position:4px -392px;}
.prod_compare .toggler_share{right:7px;background-position:3px -446px;}
.prod_compare .head_sub{background:#fff;border-bottom:1px solid #b8b8b8;overflow:hidden;position:relative;padding:6px 10px;*zoom:1;}
.prod_compare .head_sub .sns_list{float:left;}
.prod_compare .head_sub .ico_sns{display:block;float:left;width:29px;height:29px;overflow:hidden;margin-right:6px;text-indent:-200px;padding:0;border:none;cursor:pointer;}
.prod_compare .sns_facebook{background-position:0 0;}
.prod_compare .sns_twitter{background-position:-50px 0;}
.prod_compare .sns_me2day{background-position:-100px 0;}
.prod_compare .sns_kakaot{background-position:0 -50px;}
.prod_compare .sns_kakaos{background-position:-50px -50px;}
.prod_compare .sns_line{background-position:-100px -50px;}
.prod_compare .head_sub .other_share{float:right;}
.prod_compare .head_sub .btn_share{height:29px;width:29px;float:left;position:relative;border:1px solid #cdcdcd;background:#e7e7e7;background:-moz-linear-gradient(top,#fff 0%,#e7e7e7 100%);background:-webkit-linear-gradient(top,#fff 0%,#e7e7e7 100%);background:linear-gradient(top,#fff 0%,#e7e7e7 100%);overflow:hidden;padding:0;vertical-align:top;border-radius:3px;margin-left:6px;}
.prod_compare .head_sub .prodlist_ico{display:block;position:absolute;width:100%;height:100%;top:0;left:0;text-indent:-200px;overflow:hidden;}
.prod_compare .share_url .prodlist_ico{background-position:3px -496px;}
.prod_compare .share_msg .prodlist_ico{background-position:3px -544px;}
.prod_compare caption{caption-side:bottom;height:0;line-height:0;overflow:hidden;text-indent:-999em;text-align:left;}
.prod_compare .compare_body{overflow:hidden;border-bottom:1px solid #8f8f8f;padding-left: 86px;}
.prod_compare .compare_basis{float:left;width:85px;border-right:1px solid #8f8f8f;margin-left: -86px;}
.prod_compare .basis_table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%;}
.prod_compare .basis_table th{font-size:14px;line-height:18px;font-weight:normal;color:#21232a;background:#f8f8f8;border-top:1px solid #d8d8d8;text-align:left;letter-spacing:-1px;overflow:hidden;padding:6px 4px 6px 8px;vertical-align:top;}
.prod_compare .basis_table .my_choice th{border-top-width:0;}
.prod_compare .basis_table .prod_info th{}	 /* border-top-color:#8f8f8f; */
.prod_compare .basis_table .compare_num{display:block;font-size:16px;color:#553de8;font-weight:bold;margin:2px 0;}
.prod_compare .compare_items{position:relative;overflow:hidden;width: 100%;background: #fff;}
.prod_compare .compare_items .item_wrap{position:absolute;top:0;left:0;}
.prod_compare .items_table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:auto;}
.prod_compare .items_table td{font-size:14px;line-height:18px;width:90px;text-align:center;color:#000;padding:6px 5px;word-break:keep-all;border:solid #d8d8d8;border-width:1px 1px 0;}
.prod_compare .items_table .my_choice td{border-top-width:0;background:#f8f8f8;color:#b182f1;font-weight:bold;}
.prod_compare .items_table .prod_info td{/*vertical-align:top;*/}   /* border-top-color:#8f8f8f; */
.prod_compare .items_table .prod_thumb{display:block;padding:0 5px;margin:4px auto 8px;}
.prod_compare .items_table .prod_name{width:90px;word-break:break-all;}
.prod_compare .items_table .lowest_price{color:#553de8;}
.prod_compare .items_table .selected{background:#78c341;color:#fff;}
.prod_compare .recent_list li{border-bottom:1px solid #ddd;padding:1px;}
.prod_compare .recent_list .recent_item{display:block;position:relative;padding:5px 24px 3px 9px;}
.prod_compare .recent_list .prod_name{font-size:14px;color:#000;line-height:18px;margin-bottom:1px;}
.prod_compare .recent_list .category{font-size:12px;color:#666;}
.prod_compare .recent_list .prodlist_ico{position:absolute;height:10px;width:8px;right:10px;top:50%;margin-top:-4px;background-position:0 -600px;}

/* Compare Coach Mark */
.compare_spec_layer{position:fixed;top:124px;right:10px;z-index:3100;}
.compare_spec_layer .label_go_compare{font-size:13px;display:none;text-align:right;line-height:18px;color:#ffde00;float:left;margin-right:10px;vertical-align:middle;}
.show_coach .compare_spec_layer .label_go_compare{display:block;}
.compare_spec_layer .btn_go_compare{background:#21232a;border:none;height:36px;color:#fff;font-size:18px;line-height:23px;border-radius:3px;box-shadow:1px 1px 3px rgba(0,0,0,.3);padding:0 7px;border:1px solid #fff;}
.compare_spec_layer .btn_go_compare .sel_nums{background:#78c341;color:#fff;display:inline-block;border-radius:50%;min-width:23px;height:23px;text-align:center;}


/* layout */
#wrap_pc_area{width:100%;height:100%;}
	#content_area{}


/* nav */

.tabs_menu {width:100%;border-bottom:1px solid #f3f3f3;clear:both;overflow:hidden;}
.tabs_menu li{float:left;height:45px;}
.tabs_menu li a{font-weight:bold;font-size:15px;display:block;line-height:45px;color:#666;letter-spacing:0;text-align:center;font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',sans-serif;letter-spacing:-1px;}
.tabs_menu li.select .select_under_line{border-bottom:3px solid #009a9c;;height:42px;}/* padding:0 3px; */
.tabs_menu li.select a {color:#009a9c}
.col_01{width:33.3%;}
.col_02{width:33.3%;}
.col_03{width:33.4%;}
.col_04{width:50%;}

/* 조립갤러리 있는 경우 */
.on_as .col_01{width:24%;}
.on_as .col_02{width:18%;}
.on_as .col_03{width:32%;}
.on_as .col_05{width:26%;}

.navi_num_plus{font-size:11px;margin-left:2px;}


/* txt types */ 
.top_goods_subject{padding:10px 10px 9px;border-bottom:5px solid #f3f3f3;}
.txt_subject_01{font-weight:bold;color:#000;font-size:15px;line-height:18px;max-height:36px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-wrap:break-word;;margin:0;padding:0;}

.top_goods_subject2{border-bottom:none;}
.promotion_area{min-height:400px;}/* background-color:#f9f9f9; */


.zoom_spec_shadow{padding:8px 10px 10px 10px;border-bottom:5px solid #f3f3f3;}/* background-color:#fff; */
.goods_zoom_area{padding:0px 0 0px 0;text-align:center;position:relative;overflow:hidden;}
.goods_zoom_imgs{}	   /* max-width:640px; */
.zoom_img_150{width:150px;height:150px;}
.zoom_img_w100{width:100%;}
.zoom_numers{position:absolute;bottom:2px;background-color:rgba(0,0,0,.3);color:#fff;display:block;left:50%;margin:0 0 0 -24px;width:48px;height:22px;line-height:22px;font-weight:normal;font-size:16px;letter-spacing:-1px;border-radius:10px ;}

.goods_zoom_spec{background-color:#f3f3f3;padding:8px 10px;}
.goods_spec_txt{font-size:12px;color:#666;letter-spacing:-0.1px;line-height:15px;margin:0;padding:0;word-wrap:break-word;word-break:break-all;-ms-word-break:break-all;}

/* paging */
.paging_area {position:relative;padding:8px 0 0px 0;left:6px;}
.paging_main {display:inline-block;height:20px;text-align:center;width:100%;}
.paging_main .num_page {background-color:#b9b8ac;border-radius:6px;display:inline-block;height:8px;width:8px;overflow:hidden;text-indent:12px;vertical-align:top;margin:0px 12px 0px 0;border:0 none;}
.paging_main  em.num_page {background-color:#78c341;}
.paging_main .choice_num_page {background-color:#009a9c;}
.paging_main .choice_num {background-color:#009a9c;}


.pc_goods_table{margin:10px;}
.pc_goods_table2 {margin:10px 0;}
.tbl_goods_t1 th,
.tbl_goods_t1 td {border-bottom:1px solid #d5d5d5; padding:9px 10px 6px 10px; text-align:left; font-size:12px;}
.tbl_goods_t1 th {width:85px; background-color:#f8f8f8; color:#333;border-right:1px solid #d5d5d5;font-weight:normal;}
.tbl_goods_t1 td {color:#555;padding-right:10px}
.tbl_goods_t1{padding:0px 10px 10px 10px;}
.tbl_goods_t1{width:100%; border:1px solid #d5d5d5;border-collapse:collapse;border-spacing:0;margin-top:-1px}
.bor_leline{border-left:1px solid #d5d5d5;}
.tbl_goods_t1  .bor_center{text-align:center;font-family:century gothic;}
.tbl_goods_t1  .bor_right{text-align:right;padding-right:10px;}
.shidden {left:-10000px; top:auto;width:1px;  height:1px; overflow:hidden;}
.num_red{font-size:12px;font-style:normal;color:#ea3f2d}
.th_bar{color:#d5d5d5;font-size:12px;}
.pc_goods_table2 .thc{text-align:center;color:#666;}
.centruy{font-family:"Century Gothic", Sans-serif, arial, "돋움", Dotum, "굴림";font-size:12px;color:#555;}
.tbl_goods_t1 .bor_center .centruy{color:#333}

.pc_detail_area{margin:10px;background-color:#dedede;min-height:120px;}
.pc_txt_area1{padding:0px 10px 30px 10px;}
.txt_detail_01{color:#555;font-size:11px;line-height:16px;margin:0;padding:0;}
.txt_clip_line2{max-height:36px;overflow:hidden;}


.used_list_t1 li {padding:10px;border-bottom:1px solid #f3f3f3;clear:both;overflow:hidden;}
.used_list_t1 li:last-child {border-bottom:0;}
.btm_none li{position:relative;}
.block_link {display:block;display:table;}
.title_s01 {padding:0;margin:0;font-size:13px;line-height:16px;color:#000;word-wrap:break-word;word-break:break-all;-ms-word-break:break-all;}
.title_nums {padding:0px 0 0 0;color:#666;font-size:12px;}
.tltle_bar{color:#d5d5d5;font-size:12px;}
.thumb_style{display:table-cell;*float:left;clear:both;overflow:hidden;vertical-align:middle}
.thumb_style2{width:45px;height:43px;display:block;position:absolute;top:50%;right:10px;margin:-22px 0 0 0;}
.thumb_style3{display:block;*float:left;margin-right:8px;}
.thumb_img01{width:80px;height:60px;margin-right:10px;float:left;}
.thumb_img02{width:45px;}
.thumb_img03{width:60px;}
.title_s01_price{margin-top:11px;width:100%;}
.price_s01_tit{color:#000;font-size:11px;margin-right:6px;}
.price_t01_wrap{color:#ea3f2d;font-size:14px;}
.price_t01{font-size:15px;font-style:normal;font-weight:bold;}
.price_black_t01{color:#000;}
.price_number_t01{color:#000;font-size:13px;float:right;}
.num_t01{color:#ea3f2d;font-style:normal;}
.block_right_txt{display:table-cell;vertical-align:middle;padding:0;width:100%;overflow:hidden;}
.bloc_right_align{vertical-align:middle;display:inline-block;}

.title_area_t1{background-color:#e5e5e5;min-height:26px;}
.h3_t1{font-size:12px;color:#000;line-height:26px;margin:0 0 0 10px;font-weight:normal;}


.used_list_t2 li{padding:15px 10px;}
.used_list_t3 li{padding:14px 10px;border-bottom:1px solid #f3f3f3;}
.txt_list_t1{position:relative;}
.title_s02{overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;font-size:13px;color:#333;white-space:nowrap;margin:0 80px 12px 0;padding:0;}
.title_s02_date{color:#666;font-size:12px;}
.title_date_pos{position:absolute;right:0px;top:1px;text-align:right;}
.star_mark_title{color:#666;font-sizE:12px;}
.star_mark_wrap{width:56px;height:10px;background:url(//img.danawa.com/new/mdnw/pc/img/bg_starpoint_off.png) no-repeat 0 0;background-size:56px auto;}
.star_mark_wrap span{display:block;height:10px;background:url(//img.danawa.com/new/mdnw/pc/img/bg_starpoint_on.png) no-repeat 0 0 ;float:left;background-size:56px auto;}
.star_mark_wrap .strar_point_explain{display:block;text-indent:-999em;font-size:1px;color:transparent;}
.star_mark_type1{display:inline-block; vertical-align:middle;margin-left:7px;position:relative;top:-1px;}
.star_mark_type2{float:left;display:block;position:relative;top:0px;}

.goods_score{overflow:hidden;}
.goods_score_list{float:left;width:33.3%;}
.goods_score_center{text-align:center;}
.goods_score_last{width:33.4%;text-align:right}

.text_ellipsis_line1{text-overflow:ellipsis;word-wrap:break-word;white-space:nowrap;max-height:16px;display:block;overflow:hidden;}
.purchase_postscript{border-bottom:5px solid #f3f3f3;}
.purchase_postscript .used_list_t1 li{border-bottom:none;} 
.make_notice{padding:10px;}
.txt_smp_01{color:#666;font-size:12px;line-height:16px;margin:0;padding:0;}

.btn_cart_area{padding:14px 10px;background-color:#f3f3f3;}

.btn_cart_t01{color:#fff;font-size:17px;text-align:center;display:block;background-color:#009a9c;height:45px;line-height:45px;}
.txt_cart_01{color:#666;font-size:12px;line-height:18px;margin:15px 0 0 0;padding:0;}

.bg_f3{background-color:f3f3f3}

/* icons */
.icons_pc {background:url(//img.danawa.com/new/mdnw/pc/img/icons.png) no-repeat;color:transparent;}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
	.icons_pc {background:url(//img.danawa.com/new/mdnw/pc/img/icons_b.png) no-repeat;-webkit-background-size:100px auto;background-size:100px auto;}
}

.icons_replay_arw{background-position:0 0px;width:24px;height:15px;display:block;text-indent:-9999em;overflow:hidden;margin-left:3px;}


.my_shopping_cont{background-color:#f3f3f3;padding:9px 8px 10px 9px;}
.tabs_shopping_list{overflow:hidden;clear:both;width:100%;}
.tabs_list_t01{height:40px;float:left;width:33.3%;display:table;}
.tabs_list_link{display:block;text-align:center;color:#666;font-size:13px;height:40px;line-height:16px;background-color:#fff;letter-spacing:-0.3px;display:table-row;}
.vc_align{vertical-align:middle;display:inline-block;display:table-cell;text-align:center;border-right:1px solid #f3f3f3;}
.tabs_link_select{background-color:#555;color:#fff;}

.nav_menu_fixed {position:fixed;z-index:987;top:0px;}
.nav_menu_area{width:100%;background-color:#fff;}
.fixed_top_margin{}

.hide{display:none !important;}
.btn_area_t1{padding:0px 35px;}
.pc_goods_title{font-size:13px;color:#000;padding-bottom:9px;font-weight:bold;}
.page_none_txt{min-height:360px;vertical-align:middle;text-align:Center;display:table;width:100%;}
.txt_01{color:#333;font-size:14px;vertical-align:middle;display:table-cell;text-align:Center;line-height:24px;}


.btn_compare_confirm{background-color:#553de8;height:26px;font-size:13px;line-height:26px;padding:0 10px;color:#fff;display:inline-block;text-align:center;margin-top:5px;}
.bg_change{background-color:#ebebfe;}
.bg_change th{background-color:#ebebfe !important;}




/* list_my_notice  */
.list_my_notice{border-bottom:1px solid #d5d5d5;border-top:10px solid #f3f3f3;}
.list_t {border-top:1px solid #d5d5d5;height:40px;position:relative;background-color:#fff;line-height:40px;padding:0 0 0 10px;}
.alink{display:block;height:40px;}
.link_title{color:#444;font-size:13px;margin:0 30px 0 0;padding:0;overflow:hidden;max-height:30px;}
.ico_arw3 {background:url(//img.danawa.com/new/mdnw/pc/img/icon_link_arw.png) no-repeat;-webkit-background-size:6px auto;background-size:6px auto;background-position:0 0px;width:6px;height:10px;display:block;text-indent:-9999em;position:absolute;right:10px;top:50%;margin-top:-5px;}

.title_s03{color:#111;font-size:16px;line-height:20px;margin:0;padding-bottom:4px;}
.text_ellipsis_line2{max-height:20px;display:block;width:98%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.top_txt_area{padding:15px;clear:both;overflow:hidden;}
.tltle_bar2:after{content:"|";color:#666;font-size:12px;}
.pc_detail_area2{margin:0 15px;background-color:#fff;}
.pc_txt_area2{margin:10px 0px;}
.txt_detail_02{color:#444;font-size:13px;line-height:20px;}
.notice_my_area .block_link,
.notice_my_area .block_right_txt{display:block;}

.title_area{position:relative;padding:3px 0 0 0;}
.btn_info_more{background:url(//img.danawa.com/new/mdnw/pc/img/icon_more_plus.png) no-repeat;-webkit-background-size:8px auto;background-size:8px auto;background-position:88% center;display:block;position:absolute;right:0px;top:-4px;padding:4px 18px 3px 8px;border:1px solid #e0e0e0;color:#333;font-size:12px;}


.select_mg2{margin:0 0 6px 0;border:1px solid #bbb;padding-left:10px;}
.select_mg2 select{color:#666;font-size:12px;}

.select_frame5{padding:0px 3px 0px 10px;border-bottom:1px solid #bbb;background:url(//img.danawa.com/new/mdnw/pc/v2/img/bg_select_arw.png) #fff no-repeat;background-size:43px auto;background-position:100% center;}
.select_frame5 select{width:100%;background:transparent;border:none;display:block;font-size:12px;line-height:18px;height:30px;color:#666;-webkit-border-radius:0px;border-radius:0;-webkit-appearance:none;}
		
/* placholder */
.input_t::-webkit-input-placeholder{color:#333;font-size:12px;padding-top:2px;font-weight:normal;}
.wrap_input{height:18px;overflow:hidden;border:1px solid #bbb;padding:6px 10px 6px 10px;display:block;background-color:#fff;margin-bottom:6px;border-left:1px solid #c9c9c9;}
.input_t{display:block;font-weight: 500;color:#333;font-size:14px;width:100%;height:16px;line-height:15px;border:none;-webkit-appearance: none; background:transparent; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.form_select_area{padding:8px 104px 2px 10px;border-bottom:1px solid #f3f3f3;position:relative;}
.form_w100{width:100%;clear:both;overflow:hidden;}
.form_col_w1{width:37%;float:left;}
.form_col_w2{width:63%;float:left;position:relative;left:-1px;}
.form_col_w3{position:absolute;right:10px;top:8px;}
.btn_opinion_detail{border:0 none;background-color:#4d57be;height:32px;line-height:32px;color:#fff;font-size:13px;cursor:pointer;min-width:86px;text-align:center;padding:0 0px;}
.icon_write_pencle{background-position:0 -30px;width:13px;height:16px;display:inline-block;vertical-align:middle;margin-right:5px;position:relative;top:-2px;}
.title_nums2{position:relative;margin-bottom:5px;}
.right_icons_t1{position:absolute;right:0px;top:-5px;}
.reply_reply_area .right_icons_t1{right:10px;}
.btn_ricons{border:0 none;background:none;cursor:pointer;padding:3px;}
.icon_replay_r{background-position:-40px 0px;width:20px;height:18px;display:block;text-indent:-9999em;overflow:hidden;}
.icon_singo_r{background-position:-70px 0px;width:20px;height:18px;display:block;text-indent:-9999em;overflow:hidden;margin-left:6px;}
.icon_write_r{background-position:-38px -30px;width:20px;height:18px;display:block;text-indent:-9999em;overflow:hidden;}
.icon_delx_r{background-position:-68px -28px;width:20px;height:18px;display:block;text-indent:-9999em;overflow:hidden;margin-left:7px;}

.reply_reply_area{padding-left:35px;border-bottom:1px solid #f3f3f3;}
.reply_type{position:relative;}
.reply_type .icons_replay_arw{position:absolute;left:10px;top:22px;}
.insert_form_area{height:auto !important;min-height:172px;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;position:relative;top:-1px;padding-right:70px;clear:both;}
/* background:url(//img.danawa.com/new/mdnw/pc/v2/img/bg_textarea_wrap.png) repeat-y right top; */
.textarea_wrap{padding:0 10px;min-height:172px;clear:both;overflow:hidden;}
.type_textarea{width:100%;border:0 none;min-height:158px;padding:7px 0;color:#666;font-size:13px;line-height:17px;float:left;}
.textarea_btn_r{background-color:#f3f3f3;width:70px;min-height:172px;height:auto !important;position:absolute;top:0;right:0;bottom:0;display:table;}
	.vc_middle{display:table-cell;vertical-align:middle;text-align:center;}



.textarea_word_limit{color:#333;font-size:12px;text-align:center;display:block;}

.btn_cancle_w{margin:0 auto;text-align:center;display:block;height:30px;background-color:#fff;border:1px solid #999;color:#555;font-size:13px;padding:0 14px;}
.btn_reg_w{margin:0 auto;text-align:center;display:block;height:32px;background-color:#009a9c;color:#fff;border:0 none;padding:0 14px;}
.mb7{margin-bottom:7px;}

.used_list_t4 .reply_type{padding:15px 0px 0 0;border-bottom:none;}
.used_list_t4 .block_link{padding-bottom:15px;}
.insert_form_area{margin-bottom:0px;}
.replay_padding{padding:0 10px;}
.replay_padding .block_right_txt{padding-right:0px;}
.replay_padding{border-bottom: 1px solid #f3f3f3;}


.arw_txtarea{background:url(//img.danawa.com/new/mdnw/pc/v2/img/icon_arw_write.png) no-repeat;background-size:14px auto;background-position:0 0;width:14px;height:9px;display:block;position:absolute;top:-9px;left:18px;}

/* goods_company_info */
.goods_company_info{margin-bottom:4px;position:relative;}
	.company_name{color:#4e56be;font-size:12px;font-weight:normal;}
.goods_company_info .star_mark_wrap{position:absolute;right:0px;top:0px;}
.used_list_t5 .block_right_txt {padding-right:0px;}


.buy_info_conts{padding:10px 10px 0 10px;}
.text_ellipsis_line3{word-wrap:break-word;margin-bottom:6px;}
.txt_buy01{font-size:13px;color:#000;line-height:19px;margin:10px 0}
.txt_buy02{font-size:13px;color:#666;line-height:19px;margin:10px 0}
.txt_buy03{padding:10px 10px 6px 10px;font-size:12px;color:#333;text-align:center;background:#f1f1f1}
.order_num{color:#929292}
.buy03_date:after{content:"|";display:inline-block;margin:0 6px 0 10px;color:#d5d5d5}
.title_more{}
.img_buy_area{clear:both;overflow:hidden;margin-bottom:-10px;}
.img_w100{width:100%;float:left;}
.buy_info_conts .make_notice{padding:0 0 20px 0;}
.title_header{padding:3px 0 14px 0;clear:both;overflow:hidden;}
.title_cname{color:#4e56be;font-size:15px;font-weight:normal;display:inline-block;}
.btn_more_plus{border:0 none;display:inline-block;background:none;position:relative;top:1px;}
.icon_more_plus{background-position:0 -60px;width:13px;height:13px;display:block;text-indent:-9999em;overflow:hidden;margin-left:0px;}

.btn_w2{clear:both;overflow:hidden;}
.fl .btn_cart_t01{margin-left:5px;}
.btn_naver{background-color:#fff;color:#000;font-size:15px;height:44px;line-height:44px;padding: 0  0;border:1px solid #bbb;display:block;margin-right:5px;text-align:center;}
.btn_facebook{background-color:#fff;color:#000;font-size:15px;height:44px;line-height:44px;padding: 0  0;border:1px solid #bbb;display:block;margin-left:5px;text-align:center;}
.icon_naver{display:inline-block;background:url(//img.danawa.com/img/market/app/icon_naver.png) no-repeat;background-size:19px auto;background-position:0 center;padding:1px 0 0 26px;height:44px;position:relative;top:-1px;}
.icon_facebook{display:inline-block;background:url(//img.danawa.com/img/market/app/icon_facebook.png) no-repeat;background-size:19px auto;background-position:0 center;padding:1px 0 0 26px;height:44px;position:relative;top:-1px;}
.fl{float:left;width:50%;}
.f_bar{position:relative;text-indent:-10px;margin-left:10px;margin-top:8px;}
.f_bar:before{content:"-";display:block;float:left;margin-right:10px;}
.txt_cart_list {padding:7px 0 20px 0;}
.btn_cart_wrap{margin-top:10px}

.blue_link{color:#1583e1;font-size:12px;text-decoration:underline;}


.img_w100{margin-bottom:10px;}

/* 돋보기추가 */
.btn_search_start{border:0 none;background:#4d57be;position:absolute;top:-1px;right:0px;width:33px;height:33px;}
.icon_search{background-position:-40px -60px;width:16px;height:16px;display:block;margin:0 auto;}
.wrap_input_new{padding: 6px 40px 6px 10px;}

/* 로고 및 안내 추가 */
.ua_header {padding:10px; position:relative;}
.ua_logo {float:left; margin:10px 0;}
.ua_total {position:absolute; right:10px; width:60%; height:44px;}
.ua_total  .title_s01_price {position:absolute; right:50px; width:auto; margin:13px 0;}
.ua_total .price_s01_tit {margin-right:10px}
.ua_total .price_t01_wrap {color:#ea3f2d;}
.ua_link {position:absolute; right:0; height:43px}

.cart_info {margin-top:10px; font-size:13px; color:#666;}
.ci_title {display:block;margin-bottom:6px}
.ci_txt {display:block; padding-left:5px; letter-spacing: -1px;}
.ci_tit {margin-top:6px;}
.ci_txt a {color:#009a9c;text-decoration:underline;}

.btn_copy {position:absolute;top:11px;right:10px;display:inline-block;height:41px;line-height:41px;padding:0 10px;text-align:center;color:#000;font-size:15px;border:1px solid #bbb;}

.total_price {padding:15px 0 0 0;background:#e5e5e5;}
.total_price .inner {padding:0 10px;height:50px;line-height:50px;background:#fff;}
.total_price .title_s01_price {text-align:right;}
.total_price .price_t01_wrap {color:#ea3f2d;}
.total_price .price_s01_tit {font-size:13px;}

.modal_layer {display:none;}
.dim_bg{background:rgba(0,0,0,0.6);height:130%;width:100%;position:fixed;top:0;left:0px;z-index:989;transition:background-color .3s;}
.layer_container{position:fixed;height:auto;top:50%;left:50%;z-index:999;border-radius:4px;overflow:hidden;background-color:#fff;}
.layer_share {width:240px;margin:-64px 0 0 -120px;}
.ly_header {position: relative;padding:17px 0;text-align:center;}
.ly_header .tit {color:#282828;font-size:19px;}
.ly_content {padding-bottom:4px;}
.btn_ly_close {background:url(//img.danawa.com/new/mdnw/v2/img/icons_blog_sns.png) no-repeat;-webkit-background-size:190px auto;background-size:190px auto;background-position:0 0;width:20px;height:20px;display:block;text-indent:-9999em;}
.layer_container .btn_ly_close {position: absolute;top:15px;right:15px;}
.input_url{display:block;margin:0 auto;width:172px;height:33px;padding:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:15px;color:#000;line-height:34px;text-decoration:none;border:1px solid #e6e6e6;background-color:#fff;}
.txt_url {font-size:12px;color:#a0a0a0;text-align:center;}

.ico_kc {display:inline-block;width:8px;height:13px;background:url(//img.danawa.com/img/common/ico_kc.gif) 0 0 no-repeat;text-indent:-9999px;margin-right:4px;vertical-align:-1px}

/* assemble_area */
.assemble_area .title_nums{margin-bottom:7px}
.price_btn_wrap{margin-top:5px;}
.price_btn_wrap::after{content:"";display:block;clear:both}
.ap_price{float:left;font-size:14px;font-weight:bold;color:#0f0f0f;margin-top:5px}
.ap_price .price{font-size:16px}
.ap_btn{float:right}
.ap_btn .detail{padding:6px 10px;font-size:11px;border:1px solid #bbb;color:#333;background:#fff}

.prod_img{display:inline-block;position:relative;overflow:hidden;width:80px;height:60px;margin-right:10px}
.prod_img .thumb_img01{position:absolute;margin:auto;top:-100%;right:-100%;bottom:-100%;left:-100%;width:100%;min-height:100%;height:auto;}

/* section_pc_assemble */
.section_pc_assemble{position:relative;padding:8px 5px 10px;border-bottom:5px solid #f3f3f3;}
.section_pc_assemble .title_area{margin:0 5px}
.assemble_list{display:table;width:100%}
.assemble_list:after{content:"";display:block;clear:both}
.assemble_list li{display:inline-block;width:33.3%;padding:0 5px;box-sizing:border-box}
.assemble_list li img{width:100%}
.btn_assemble_go{display:block;position:absolute;top:2px;right:0;font-size:13px;color:#666}
.btn_assemble_go:after{content:"";display:inline-block;width:7px;height:12.5px;background:url(//img.danawa.com/img/market/app/app_arrow_more.png) no-repeat;-webkit-background-size:7px auto;background-size:7px auto;vertical-align:-1px;margin-left:7px}
.assemble_list .title{font-size:12px;color:#333;margin-top:3px}
.assemble_list .price{display:-webkit-box;word-break:keep-all;font-size:12px;color:#000;font-weight:bold;margin-top:3px}
.assemble_list .price .num{font-size:17px}
.assemble_list .date{font-size:12px;color:#666;margin-top:3px}

/* review_bottom_wrap */
.review_bottom_wrap{margin-top:15px}
.raw_notice{margin-bottom:15px;text-align:center;font-size:12px;color:#4e56be}
.rpg_notice{margin-top:15px}

/* right_fix_area(하단 top버튼) */
.right_fix_area{position:fixed;right:10px;bottom:63px;z-index:986;width:44px;opacity:1;line-height:17.5px}
.right_fix_area a{text-decoration:none}
.btn_bx_fix{opacity:.94;width:42px;height:42px;background-color:#fff;vertical-align:top;text-align:center;display:block;font-size:14px;color:#333;border:1px solid #bebebe;border-radius:50%;font-weight:normal}
.icon_top_fixgo{background:url(//img.danawa.com/img/market/app/icon_top.png);background-size:14px auto;width:14px;height:8px;display:block;margin:8px auto 4px;text-indent:-9999px}

/* 조립갤러리 동영상 */
.yt_icon{position:absolute;width:47%;left:26.5%;top:33%}
.youtube_wrap{position:relative;width:100%;height:0;top:0;padding-top:52%;margin:10px 0}
.youtube_wrap iframe,.youtube_wrap object,.youtube_wrap embed{position:absolute;width:100%;height:100%;top:0;left:0}

/* PC견적 앱 개선 작업 요청(상품정보 개선) */
.info_img{margin-bottom:14px}
.info_img img{display:block;width:100%}

.info_more_wrap button{width:100%;height:40px;line-height:40px;border:0;background:#009a9c;text-align:center;color:#fff;font-size:13px}
.info_more_wrap button:after{content:"";display:inline-block;width:10px;height:6px;background:url(//img.danawa.com/img/market/app/btn_more_down.png) no-repeat;background-size:10px auto;margin-left:8px;vertical-align:1px}

.header{height:46px}
.sc_h{border-bottom:1px solid #e0e0e0;text-align:center;padding:13px 0}
.sc_h .tit_logo{font-size:19px;line-height:19px}
.sc_h .btn_close{position:absolute;left:10px;top:13px}
.sc_h .btn_close .i_close{position:relative;display:inline-block;overflow:hidden;background:url(//img.danawa.com/img/m/market/bg_mshop_v1.9.2.png) no-repeat;background-size:300px 300px;background-position:-5px -94px;width:20px;height:20px;text-indent:-9999px}

.sc_popup_wrap{background:#fff;padding:22px 20px;min-height:calc(100vh - 46px);box-sizing:border-box}
.sc_popup_wrap p{padding:0;margin:0}
.sc_popup_wrap .scp_title{font-size:16px;color:#333;margin-bottom:10px}
.sc_popup_wrap .scp_title .c_blue{color:#14a0e0}
.sc_popup_wrap .scp_contents{color:#666;font-size:13px;margin-bottom:10px}
.scp_table table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
.scp_table table th{height:30px;color:#fff;font-weight:normal;background:#14a0e0;text-align:center;border:1px solid #a1d9f3;border-width:0px 1px;font-size:13px;box-sizing:border-box}
.scp_table table td{height:43px;padding:9px 6px 8px;line-height:14px;color:#666;text-align:center;border:1px solid #d5d5d5;font-size:12px;box-sizing:border-box}
.scp_table table th:first-child{border-left-color:#14a0e0}
.scp_table table th:last-child{border-right-color:#14a0e0}
.scp_table table tbody tr:first-child td{border-top:0}
.scp_table table td:first-child{color:#333}
.sc_s2{margin-top:25px}
.sc_s2 .scp_table table th{padding:9px 6px 8px;height:43px}

.info_round_wrap{text-align:center}
.info_round{display:inline-block;width:102px;height:102px;border-radius:50%;background:#f8f8f8;text-align:center;vertical-align:top}
.ifr_title{font-size:16px;font-weight:bold;color:#0f0f0f;margin-top:39px}
.info_round:last-child .ifr_title{margin-top:18px}
.ifr_sub{font-size:12px;color:#333;margin-top:3px}
.info_plus_icon{display:inline-block;font-size:16px;font-weight:bold;color:#333;margin:42px 12px 0}

.info_txt_wrap{margin-top:18px}
.itw_title{font-weight:bold;font-size:15px;color:#333;margin-bottom:8px}
.info_txt_wrap ul li{font-size:14px;color:#666;margin-top:5px}

.itw_table{margin:8px 0}
.itw_table table{width:100%;border-collapse:collapse;border-spacing:0}
.itw_table table th, .itw_table table td{border:1px solid #d5d5d5;font-size:13px}
.itw_table table th{width:70px;background:#f8f8f8;color:#666;font-weight:normal}
.itw_table table td{padding:5px 10px}
.itw_table table td p{position:relative;padding-left:8px;line-height:15px;margin:5px 0;color:#555}
.itw_table table td p:before{content:"·";display:block;position:absolute;top:0;left:0}
.itw_table_info{font-size:12px;color:#555}

.assemble_wrap .youtube_wrap{margin:24px 0}
.assemble_wrap .img_w100{margin-top:24px}
.assemble_wrap .img_buy_area .img_w100{margin-top:0}
.assemble_wrap .agi_txt{font-size:13px;color:#666;line-height:19px;margin-bottom:24px}
.assemble_wrap .agi_txt:last-child{margin-bottom:0}
.assemble_wrap .make_notice{margin-top:34px}