@charset "euc-kr";

/* Type Selector */
body {color:#333333;}
*{margin:0; padding:0; font-family: "돋움", Dotum, "Arial", "Verdana", Dotum,Sans-serif; font-size: 12px;}
a:link, a:visited, a:active {color: #333333; text-decoration: none;}
a:hover {text-decoration:none;}

/* Type Selector */
a:link, a:visited, a:active {color: #333333; text-decoration:none;}
a:hover {color:#6673A5; text-decoration:none;}
a.f11 {font-size:11px; color:#666666;}
a:hover.f11 {font-size:11px; color:#6673A5;}
a.fixbold {font-size:12px; font-weidht:bold; color:#333333;}
a:hover.fixbold {font-size:12px; font-weidht:bold; color:#6673A5;}
.bmargin1 {margin-bottom:10px;}
.bmargin2 {margin-bottom:11px;}
.bmargin3 {margin-bottom:10px; _margin-bottom:7px;}
.more {float:right; padding-right:3px;}/* 더보기버튼 */
.unitext {color:#5867AE;}
.h1_tit {float:left; width:100%; padding:3px 0 6px 1px; *padding:3px 0 6px 1px; border-bottom:1px solid #ececec;}/* 타이틀 */
.h1_titnon {float:left; width:100%; padding:3px 0 6px 6px; *padding:3px 0 6px 6px;}/* 타이틀 */

/* Layout Selector */
div#av_spot {position:relative; width:925px; height:249px; background:url('//img.danawa.com/new/av/img/bg_spot.gif') no-repeat;}
div#av_snb {float:left; width:180px; margin-right:15px;  *margin-bottom:0; }
div#av_contents {float:left; width:520px; margin-right:15px;  *margin-bottom:0;}
div#av_cside {float:right; width:195px; *margin-bottom:0;}

/* 카테고리 */
#cate {position:absolute; float:left; top:0; left:0; width:267px; height:249px;}
#cate dl#cateD2 {}
#cate dl#cateD2 dd{clear:both; padding:5px 0 3px 5px; display:block;}
#cate dl#cateD2 .space{padding:0 2px;}
#cate dl#cateD2 dd dl#cateD3 {}
#cate dl#cateD2 dd ul.cateD3 li{float:left;}

/* 금주의 인기상품 */
#weekBest {position:absolute; float:left; top:0; left:0; width:150px; height:249px;}
#weekBest .tit_weekbest {margin:7px 0 2px 0; width:150px; height:14px; background:url(//img.danawa.com/new/av/img/h1_weekbest.gif) no-repeat;}
#weekBest li {margin-top:10px; height:55px; clear:both;}
#weekBest .proimg{width:60px; height:60px; float:left; margin-right:10px;}
#weekBest .proname{width:80px;float:left; font-size:11px; color:#666; margin-bottom:3px; padding-top:10px;}
#weekBest .proname a{ font-size:11px; color:#666; text-decoration:normal;}
#weekBest .proname a:hover{ font-size:11px; color:#666; text-decoration:underline;}
#weekBest .proprice{width:80px;float:left; color:#e31e10; font-weight:bold;}

/* 키비쥬얼 */
#keyv {position:absolute; float:left; top:0; left:150px; width:570px; height:249px;}

/* 오늘의 초특가 */
#adNdownp {float:right; width:195px; height:249px; padding-left:10px;}
#adNdownp .ad1{width:195px; height:140px;}
#adNdownp dl#priced{width:195px; margin-top:6px;}
#adNdownp dl#priced dt{float:left; width:82px; height:82px; margin:8px 10px 0 0;}
#adNdownp dl#priced dt img{border:1px solid #e3e3e3;}
#adNdownp dl#priced dd.btn{float:left; padding-left:65px; margin:6px 0 4px 0; width:33px;}
#adNdownp dl#priced dd.btn img{margin-left:3px;}
#adNdownp dl#priced dd.protit{float:left; width:98px; margin-top:9px;}
#adNdownp dl#priced dd.protit a.f11 {font-size:12px;}
#adNdownp dl#priced dd.protit a:hover.f11 {font-size:12px;}
#adNdownp dl#priced dd.default{float:left; width:98px; margin:3px 0 3px 0; text-decoration:line-through; font-weight:bold; color:#666666;}
#adNdownp dl#priced dd.price{float:left; width:98px;}

/* 오늘의 초특가 수정 */
#adNdownp dl#priced2{width:195px; margin-top:6px;}
#adNdownp dl#priced2 dt{position:relative; float:left; width:82px; height:82px; margin:8px 10px 0 0;}
#adNdownp dl#priced2 dt img{border:1px solid #e3e3e3;}
#adNdownp dl#priced2 dt .overImg{position:absolute; left:0; top:0; width:36px; height:36px; border:none;}
#adNdownp dl#priced2 dd.title{float:left; margin:10px 0 1px 0;}
#adNdownp dl#priced2 dd.btn{float:right; display:inline; margin:10px 0 1px 0;}
#adNdownp dl#priced2 dd.btn img{margin-left:3px;}
#adNdownp dl#priced2 dd.protit{float:left; width:98px; padding-top:4px; line-height:16px;}
#adNdownp dl#priced2 dd.protit a.f11 {font-size:12px;}
#adNdownp dl#priced2 dd.protit a:hover.f11 {font-size:12px;}
#adNdownp dl#priced2 dd.price{float:left; width:98px; padding-top:4px;}

/* 광고 */
div#av_snb .ad2{width:180px; height:195px;}

/* 눈에띄는 신상품 */
#bestpro {width:168px; height:315px; padding:6px; background:url('//img.danawa.com/new/av/img/bg_bestpro.gif') no-repeat;}
#bestpro .down{margin:0 3px 3px 5px;}
#bestpro dl#newpro{float:left; padding:5px 4px; width:160px; border-bottom:1px solid #ececec;}
#bestpro dl#newpro dt{float:left; margin-right:10px; width:80px;}
#bestpro dl#newpro dd.btxt {float:left; width:70px; margin-top:10px; font-weight:bold; line-height:16px;}
#bestpro dl#newpro dd.price {clear:both; width:160px; padding-top:4px;}
#bestpro dl#newpro dd.price .down{margin:0 3px 3px 5px;}
#bestpro dl#prolist {clear:both; height:116px; padding-top:2px;}
#bestpro dl#prolist dd{float:left; width:56px; height:56px; text-align:center; padding-top:2px;}
#bestpro dl#prolist .proImg {border:0; padding:2px;}
#bestpro dl#prolist .proImg_on {border:2px solid #8598D9;}
#bestpro dl#guide {clear:both; padding-top:18px; overflow:hidden;}
#bestpro dl#guide dd{padding-left:7px; background:url('//img.danawa.com/new/av/img/ico_guide.gif') no-repeat 0 3px; letter-spacing:-1px;}

/* 새것같은 중고 */
#market {width:168px; height:201px; padding:6px; background:url('//img.danawa.com/new/av/img/bg_market.gif') no-repeat;}
#market dl#title {height:24px;}
#market dl#title dt{float:left; padding:3px 0 0 1px; width:120px;}
#market dl#title dd{float:right; padding-top:3px;}
#market dl#title dd img{margin-left:3px;}
#market dl#list dt{float:left; width:80px; padding:5px 9px 5px 0; border-top:1px solid #ececec;}
#market dl#list dd.btxt{float:left; width:78px; padding:10px 0; border-top:1px solid #ececec;}
#market dl#list dd.price{float:left; width:78px; color:#ff3300;}

/* 뉴스 */
div#article {width:520px; height:195px; background:url('//img.danawa.com/new/av/img/bg_news.gif') no-repeat;}
div#article .news_tab {height:30px; padding:0 0 5px 4px;}

/* 탭버튼_활성화 */
div#article .news_tab ul .tabin{float:left; height:30px; background:url('//img.danawa.com/new/av/img/tab_article_r.gif') no-repeat top right;}
div#article .news_tab ul .tabin img{margin:0 5px 2px 0; vertical-align:top;}
div#article .news_tab a.tabon {float:left;display:block;height:20px;padding:9px 17px 0 17px;background:url('//img.danawa.com/new/av/img/tab_article_l.gif') no-repeat top left;text-decoration:none;font-weight:bold;color:#000000;}
div#article .news_tab a.tabon:hover {color:#000000}

/* 탭버튼_비활성화 */
div#article .news_tab ul .tabdis{float:left; display:inline; height:30px;}
div#article .news_tab ul .tabdis img{margin:0 5px 2px 0; vertical-align:top;}
div#article .news_tab a.tabout {float:left;display:block;height:20px;padding:9px 17px 0 17px;text-decoration:none;font-weight:bold;color:#666666;}
div#article .news_tab a.tabout:hover {color:#666666;}
div#article .news_tab .tv{float:right; padding:4px 2px 0 0;}
div#article dl#news_list {width:515px; padding:1px 5px 0 0;}
div#article dl#news_list dd{float:left;}
div#article dl#news_list dd.btn{float:right; padding:4px 0px 0 10px;}
div#article dl#news_list dd.btn img{margin-right:3px;}
div#article dl#news_list dl.news_b{clear:both; width:248px; height:82px; *height:80px; margin-right:15px;}
div#article dl#news_list dl.news_b dt{float:left; width:75px; height:84px; *height:81px; margin-right:10px;}
div#article dl#news_list dl.news_b dd.btxt{float:left; width:163px; padding:5px 0 0 0; font-weight:bold; line-height:17px;}
div#article dl#news_list dl.news_b dd.stxt{float:left; width:163px; padding:3px 0 0 0; line-height:14px;}
div#article dl#news_list dl.news_b dd.stxt a{font-size:11px; color:#787878;}
div#article dl#news_list dl#news_s{width:240px; padding-left:4px;}
div#article dl#news_list dl#news_s dd{width:240px; padding-left:5px; background:url('//img.danawa.com/new/main_new/img/bu_point.gif') no-repeat 0 7px; line-height:19px;}
div#article dl#news_list dl#news_s dd img{padding:3px 0 3px 0;}

/* 동영상 추가 */
div#article table#Movarea{width:520px; background-color:#ffffff;}
div#article table#Movarea td.MovSpace01{width:160px; padding:6px; border-right:1px solid #eeeeee;}
div#article table#Movarea td.MovSpace02{width:160px; padding:6px;}
div#article table#Movarea td.MovBtn{text-align:right;}
div#article table#Movarea td.MovBtn img{margin-left:3px;}
div#article dl.Movlist {width:121px; margin:0 17px 4px 18px; }
div#article dl.Movlist dt{display:block; width:121px; text-align:center;}
div#article dl.Movlist dt img{border:3px solid #3A3A3C;}
div#article dl.Movlist dd{display:block; width:121px; text-align:left; margin-top:3px;}
div#article dl.Movlist dd a{font-weight:bold;}

/* hit product */
#hitpro {width:520px; height:327px; background:url('//img.danawa.com/new/av/img/bg_hitpro.gif') no-repeat;}
#hitpro #pro {float:left; width:409px; height:327px;}
#pro #best1 {height:131px; overflow:hidden;}
#hitpro #pro dl#best1{float:left; padding:23px 15px 23px 15px; *padding:23px 10px 23px 15px; width:379px; *width:384px;}
#hitpro #pro dl#best1 dt{float:left; padding:0 20px 0 0px; width:130px;}
#hitpro #pro dl#best1 dd{float:left; width:219px;}
#hitpro #pro dl#best1 dd.btxt a{float:left; width:219px; margin-top:3px; font-size:14px; font-weight:bold; line-height:18px;}
#hitpro #pro dl#best1 dd.stxt {float:left; width:219px; margin:3px 0; font-size:11px; color:#757575; line-height:14px;}
#hitpro #pro dl#best1 dd.price {width:219px; margin-top:5px;}
#hitpro #pro dl#best1 dd.price .down{margin:0 3px 7px 0px;}
#hitpro #pro dl.best{float:left; padding:15px; width:174px;}
#hitpro #pro dl.best dt{float:left; margin-right:10px; width:80px;}
#hitpro #pro dl.best dd{float:left; width:84px;}
#hitpro #pro dl.best dd.btxt {float:left; width:84px; margin-top:10px; line-height:17px;}
#hitpro #pro dl.best dd.price {clear:both; width:174px; margin-top:10px;}
#hitpro #pro dl.best dd.price .down{margin:0 3px 3px 5px;}
#hitpro dl#avCategory {float:left; width:111px; padding-top:66px;}
#hitpro dl#avCategory dd {width:111px; height:31px; overflow:hidden;}
#hitpro dl#avCategory dd img{display:block;}

/* 기획전 */
#plan {width:490px; height:198px; padding:15px 15px 0 15px; background:url('//img.danawa.com/new/av/img/bg_plan.gif') no-repeat;}
#plan dl#banner {float:left; width:250px; margin-right:15px;}
#plan dl#banner dd{position:relative; width:250px; margin-bottom:10px; background-color:#ffffff; border:1px solid #e6e6e6; text-align:right;}
#plan dl#banner dd .overImg{position:absolute; left:0; top:0; width:42px; height:42px;}
#plan dl#title {float:left; width:220px; height:25px; padding-top:5px; border-bottom:1px solid #e1e1e1;}
#plan dl#title dt{float:left; padding:3px 0 0 1px;}
#plan dl#title dd{float:right; padding-top:3px;}
#plan dl#title dd img{margin-left:3px;}
#plan dl#bestlist {float:left; padding-top:8px; width:220px;}
#plan dl#bestlist dd{clear:both; line-height:19px;}
#plan dl#notice {float:left; width:220px; margin-top:8px; border-top:1px solid #e1e1e1}
#plan dl#notice dd{padding-top:10px; line-height:19px;}

/* 쇼핑도우미 */
#shelp {width:183px; _width:184px; height:189px; _height:190px; padding:6px 6px 0 6px; _padding:5px 5px 0 5px; background:url('//img.danawa.com/new/av/img/bg_shelp.gif') no-repeat;}
#shelp dl#cont {clear:both; padding:8px 0 0px 2px; _padding:0px 0 0px 2px; *padding:2px 0 0px 2px;}
#shelp dl#bestnum {clear:both; height:20px; padding:4px 5px 0 5px; margin-top:0px; border-top:1px solid #ececec; overflow:hidden;}
#shelp dl#bestnum dd{height:19px; padding-left:5px; background:url('//img.danawa.com/new/main_new/img/bu_point.gif') no-repeat 0 7px; line-height:19px;}

/* 상품 사용기/다알지, 방문 tipntech */
#useguide {width:183px; _width:184px; height:315px; _height:317px; padding:6px; _padding:5px; background:url('//img.danawa.com/new/av/img/bg_useguide.gif') no-repeat;}
#useguide dl#title {height:25px; border-bottom:1px solid #ececec;}
#useguide dl#title dt{float:left; padding:3px 0 0 1px; width:120px;}
#useguide dl#title dd{float:right; padding-top:3px;}
#useguide dl#title dd img{margin-left:3px;}
#useguide dl#uselist {width:180px; padding:8px 0 8px 0;}
#useguide dl#uselist dd{line-height:17px; margin-bottom:3px;}
#useguide dl#tiptech {clear:both; width:180px; padding:6px 0 0 0;}
#useguide dl#tiptech dt{float:left; width:77px; margin:2px 6px 6px 0;}
#useguide dl#tiptech dt img{border:1px solid #e3e3e3;}
#useguide dl#tiptech dd.btxt{float:left; padding-top:5px; width:97px; line-height:17px;}
#useguide dl#tiptech dd.stxt{float:left; width:180px; line-height:14px;}

/* 설문조사 */
#poll {width:195px; _width:189px; height:170px; padding:6px 0 6px 0; background:url('//img.danawa.com/new/av/img/bg_poll.gif') no-repeat;}
#poll dl#polllist{width:180px; padding:5px;}
#poll dl#polllist dd{line-height:18px; margin:0;}
#poll dl#polllist dd input{width:12px; height:12px; margin:1px 0px 2px 4px; padding:0; vertical-align:middle;}
#poll dl#polllist dd label{height:18px; margin:0; padding:0;}
#poll p.polltxt{clear:both; width:178px; margin:0 1px; padding:7px;background-color:#f5f5f5;}
#pollbtn {width:195px; height:31px; background:url('//img.danawa.com/new/av/img/bg_poll.gif') no-repeat bottom; text-align:center;}
#pollbtn img{padding-left:3px;}

/* 쇼핑도우미 팝업 */
#popArea{width:611px; padding:0 15px 15px 15px;}
div#popCate{width:611px; height:115px; background:url('//img.danawa.com/new/av/img/tit_pop_shelp.jpg') no-repeat;}
div#popCate dl#keyword{float:right; margin:40px 10px 10px 0;}
div#popCate dl#keyword dt{float:left; margin-right:8px; font-weight:bold; color:#314090;}
div#popCate dl#keyword dd{float:left; margin-right:8px;}
div#popCate dl#keyword dd a{text-decoration:underline;}
div#popCate dl#tabCate{clear:both; padding:18px;}
div#popCate dl#tabCate dd{float:left; margin:0 13px;}
div#popCate dl#tabCate dd a.dis{font-size:12px; font-weight:bold; color:#d4dbf9; text-decoration:none;}
div#popCate dl#tabCate dd a:hover.dis{font-size:12px; font-weight:bold; color:#d4dbf9; text-decoration:underline;}
div#popCate dl#tabCate dd a.on{font-size:14px; font-weight:bold; color:#f6ff90; text-decoration:underline;}
div#helpList{width:571px; padding:10px 20px; background:url('//img.danawa.com/new/av/img/pop_shelp_listbg.gif') no-repeat;}
div#helpList dl#conList{}
div#helpList dl#conList dd{height:24px; background:url('//img.danawa.com/new/av/img/line_dash.gif') repeat-x bottom; line-height:25px;}
div#helpList dl#conList dd a.on{padding-left:10px; margin-left:8px; background:url('//img.danawa.com/new/av/img/ico_shelp.gif') no-repeat 0 3px; line-height:25px; font-weight:bold; color:#64a112;}
div#helpList dl#conList dd a.dis{padding-left:10px; margin-left:8px; line-height:25px;}

div#number table{height:30px; margin:0 auto;}
div#number table td{text-align:center;}
div#number table a{margin-right:5px;}
div#number table td .imgmar{margin-bottom:3px;}

div#helpCon {width:575px; height:350px; padding:15px; border:3px solid #b3bbe7;}
.helpFrame {
	scrollbar-face-color:#ffffff;
	scrollbar-highlight-color:#fffffff;
	scrollbar-3dlight-color: #A4AEE2;
	scrollbar-shadow-color: #ffffff;
	scrollbar-darkshadow-color: #A4AEE2;
	scrollbar-track-color:#EFEFEF;
	scrollbar-arrow-color: #A4AEE2;
	line-height:17px;
}

/* 눈에 띄는 신상품 수정 */
#container .noticed_new {background:none;border:1px solid #dadada;width:178px;padding:6px 0;height:313px; position:relative;overflow:hidden;}
.noticed_new .h1_tit {float:none;padding-bottom:7px;margin:0 5px; width:auto;}
#container .noticed_new #newpro{float:none;text-align:center;clear:both;padding:4px 4px 2px;width:auto;margin:0 5px;*padding-top:5px;}
#container .noticed_new #newpro dt {float:none;width:120px;height:120px;margin:0 auto;text-align:center;overflow:hidden;}
#container .noticed_new #newpro dt img {width:120px; height:auto;max-height:120px;cursor:pointer;}
#container .noticed_new #newpro dd.btxt {float:none;margin:2px 4px 0;width:auto;line-height:1.1;height:2em;overflow:hidden;*padding-top:2px;*height:22px;word-break:keep-all;}
#container .noticed_new #newpro dd.btxt a{color:#363533;font-size:11px;}
#container .noticed_new #newpro dd.price {margin-top:2px;margin-left:-4px;}
.noticed_new #prolist {position:relative; padding-top:19px;}
.noticed_new .list_nav {position:absolute;top:5px;right:5px;letter-spacing:-1px;}
.noticed_new .list_nav span {display:inline-block;width:13px;height:12px; cursor:pointer;}
.noticed_new .list_nav .list_nav_prev {background:url('//img.danawa.com/new/main_new/img/btn_arcticle_prv.gif') no-repeat;}
.noticed_new .list_nav .list_nav_next {background:url('//img.danawa.com/new/main_new/img/btn_arcticle_next.gif') no-repeat;}
.noticed_new .list_nav span span {display:none;}
.noticed_new .newgood_list {overflow:hidden;margin-left:8px;height:54px;margin-bottom:3px;}
.noticed_new .newgood_list ul {overflow:hidden;}
.noticed_new .newgood_list li {float:left; margin-right:2px;height:54px;width:54px;}
.noticed_new .newgood_list li a {display:block;border:2px solid #fff;border-color:transparent;}
.noticed_new .newgood_list li a:hover {border-color:#8598d9;}
.noticed_new .newgood_list li a.selected {border-color:#8598d9;}
.noticed_new .newgood_list li img {width:50px;height:50px;}
.noticed_new #guide {background:#f4f4f4;padding:6px 10px 0; height:31px; position:absolute; bottom:0; width:158px;}
.noticed_new #guide li {background:url("//img.danawa.com/new/av/img/ico_guide.gif") no-repeat scroll 0 3px transparent;padding-left:7px;word-break:keep-all;line-height:1.2;height:2.2em;overflow:hidden;*line-height:1.3;*background-position:0 2px;}
.noticed_new #guide li a {font-size:11px;color:#666;}

/* TV/AV 아이콘 추가 */
#adNdownp dl#priced2 #lowProdDt img {border:none;}
#lowProdDt .icon_sale {display:block;position:absolute;background:url('//img.danawa.com/new/newmain/img/icon_sale_red.png') no-repeat;width:58px;height:32px;top:-1px;left:-7px;text-align:center;color:#fff;font-size:12px;padding-top:3px;}
#lowProdDt .icon_sale strong {font-size:16px;font-family:Arial, Helvetica, sans-serif;}
#hitpro #pro {position:relative;}
#pro .more_view {font-size:11px;color:#757575;padding-right:5px;position:absolute;top:16px;right:16px;line-height:1.2;clear:both;background:url("//img.danawa.com/new/newmain/img/icon_arrow_01.png") no-repeat scroll right -247px transparent;*background-position:right -248px;}


#dnw_wrap #container:after{clear:both; content:""; display:block; visibility:hidden; height:0;}
/* vs_wrap */
.vs_wrap {}
.vs_head {position:relative;}
.vs_head .btn_more_view { background:url(//img.danawa.com/new/av/img/bt_more_view.gif) no-repeat right 0;width:38px;height:10px;position:absolute;right:5px;top:3px;display:block;text-indent:-9999em;}
.vs_head  .vs_tit {background:url(//img.danawa.com/new/av/img/bg_vs_tit.gif) no-repeat;background-position:5px 2px;width:100px;height:14px;text-indent:-999em;padding:3px 0 7px 6px;}
.vs_wrap .gray_box .poll_txt {color:#333;font-weight:bold;line-height:16px;letter-spacing:-1px;}
.vs_wrap .gray_box {background:#f5f5f5;padding:8px 6px 6px 8px;margin:0 1px;}
.vs_wrap .vs_img .img_vs3 li {float:left;background:url(//img.danawa.com/new/av/img/bg_vs.gif) no-repeat 100% 0;padding-right:27px;width:40px;}
.vs_wrap .vs_img .img_vs2 li {float:left;background:url(//img.danawa.com/new/av/img/bg_vs_big.gif) no-repeat 100% 0;padding-right:73px;width:40px;}
.vs_wrap .vs_img .img_vs2 {margin:10px 0px 0 21px;}
.vs_wrap .vs_img li .thumb img{width:40px;height:40px;overflow:hidden;}
.vs_wrap .vs_img li .thumb {width:40px;height:40px;overflow:hidden;display:block;margin-bottom:5px;}
.vs_wrap .vs_img ul {clear:both;*zoom:1;overflow:hidden;margin:10px 0 0 10px;}
.vs_wrap .vs_img li.last {background:none;padding-right:0px;}
.vs_wrap .vs_img li .vs_txt {line-height:13px;text-align:center;}	/* height:39px;overflow:hidden; */
.vs_wrap .vs_img li .vs_txt a {color:#666;font-size:11px;}
.vs_wrap .vs_img li .vs_txt a:hover {text-decoration:underline;}
.vs_wrap .btn_join_vs {background:url(//img.danawa.com/new/av/img/btn_vs_join.gif) no-repeat;background-position:0 0;border:none;width:55px;height:21px;display:inline-block;line-height:999px;overflow:hidden;}