@charset "euc-kr";

/* basic */
body,input,button,select,input,txtArea,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,ul,ol,li,legend,hr,em,addres,div,p,strong,fieldset,form{margin:0; padding:0;font-size:12px;font-family:Dotum,Helvetica,AppleGothic,Sans-serif;}
html, body {height: 100%;width: 100%;}

/* layout */
.point_content_area{margin-top:10px;}

/* htitle_group */
.htitle_group {clear:both;*zoom:1;overflow:hidden;padding:10px 0 14px 0;}
.htitle_group li {float:left;background:url(//img.danawa.com/new/mypage/img/bg_title_arw.gif) no-repeat right 1px;padding:0 10px 0 0;vertical-align:top;height:12px;margin-right:10px;}
.htitle_group li.last {background:none;}
.htitle_group h3 {background:url(//img.danawa.com/new/mypage/img/bg_title_h3.gif) no-repeat 0 0;height:15px;text-indent:-9999em;}
.htitle_group h4 {background:url(//img.danawa.com/new/mypage/img/bg_title_h4.gif) no-repeat 0 0;height:15px;text-indent:-9999em;}
.htitle_group h5 {background:url(//img.danawa.com/new/mypage/img/bg_title_h5.gif) no-repeat 0 0;height:15px;text-indent:-9999em;}
.tith3_01 {background-position:0 0;width:82px;}
.tith4_01 {background-position:0 0;width:64px;}
.tith5_01 {background-position:0 0;width:122px;}

/* point_top_area */
.point_top_area {width:760px;}
.point_top_border {border:3px solid #dadde2;border-bottom:none;height:9px;}
.point_btm_border {border:3px solid #dadde2;border-top:none;height:9px;}
.point_mid_area {background:#fff1;clear:both;*zoom:1;}
.point_mid_area:after{clear:both; content:""; display:block; visibility:hidden; height:0;}

.left_level_area {width:158px;float:left;}
.mid_level_area {width:450px;float:left;border-right:1px dashed #e1e1e1;height:136px;margin-top:6px;}
.right_level_area {width:150px;float:left;text-align:left;}

/* bgcom */
.bgcom {background:url(//img.danawa.com/new/mypage/img/bg_level.gif) no-repeat;}
.qmark {background-position:0 0;width:12px;height:12px;display:inline-block;vertical-align:top;margin-left:1px;}
.emark {background-position:0 -14px;width:12px;height:12px;display:inline-block;vertical-align:top;margin-left:1px;position:relative;top:-1px;}

/* title */
.ti_1 {background-position:-20px 1px;width:94px;height:13px;display:inline-block;vertical-align:top;line-height:999em;}
.ti_2 {background-position:-20px -14px;width:74px;height:13px;display:inline-block;vertical-align:top;line-height:999em;}
.ti_3 {background-position:-20px -29px;width:64px;height:13px;display:inline-block;vertical-align:top;line-height:999em;}


/* left_level_area */
.level_number {background:url(//img.danawa.com/new/mypage/img/bg_level_circle.gif) no-repeat;width:90px;height:90px;margin-top:6px;}
.level_number span {font-size:16px;font-weight:bold;color:#fff;font-family: Century Gothic,arial,sans-serif;display:inline-block;margin-right:2px;position:relative;top:-10px;} 
.level_number strong {font-size:60px;font-weight:bold;color:#fff;font-family: Century Gothic,arial,sans-serif;}
.level_nicname strong{color:#333;font-size:11px;font-weight:bold;}
.level_nicname {color:#757575;font-size:11px;margin:15px 0 2px 0;}

.mid_top {clear:both;border-bottom:1px solid #ededed;margin-right:18px;height:69px;margin-top:0px;text-align:left;padding-top:14px;}
.mid_btm {height:40px;position:relative;text-align:left;padding:19px 0 0 12px;z-index:7;}
.mid_btm .qmark {position:relative;top:-1px;left:2px;}
.mid_btm .line_2 {zoom:1;margin:2px 0 0 0;}
.mid_btm .line_2:after {content:"";display:block;clear:both;}
.mid_btm .line_2 .tx_1 {float:left;margin-right:6px;} 

/* point_numlist */
.point_numlist {margin:0 0 0 10px;clear:both;*zoom:1;}
.point_numlist:after{clear:both; content:""; display:block; visibility:hidden; height:0;}
.point_numlist li {float:left;text-align:left;}
.point_numlist li .nump {font-size:18px;font-weight:bold;font-family: Century Gothic,arial,sans-serif;height:12px;}
.point_numlist li .nump strong {font-size:19px;font-family: Century Gothic,arial,sans-serif;}
.point_numlist li .nump em {font-style:normal;font-size:10px;display:inline-block}
.point_numlist li.blue_tit {color:#4266db;width:156px;text-align:left;}
.point_num_tit {overflow:hidden;height:13px;margin-bottom:14px;}
.point_numlist li.lgray_tit {width:134px;}
.point_numlist li.dgray_tit {width:130px;}

/* btn type */
.btn_level_method {color:#3355d8;font-size:11px;}
.btn_level_method:hover {color:#3355d8;font-size:11px;}
.btn_level_method .arw {background-position:0 -77px;width:3px;height:10px;display:inline-block;vertical-align:top;margin-left:1px;}
.btn_detail_view {color:#333;font-size:11px;letter-spacing:-1px;margin-left:5px;}
.btn_detail_view:hover {color:#333;font-size:11px;}
.btn_detail_view .arw {background-position:-40px -77px;width:3px;height:10px;display:inline-block;vertical-align:top;margin-left:8px;}

.btn_mypoint_view {background:#4060d8;padding:9px 13px 6px 13px;position:absolute;right:20px;top:18px;}
.btn_mypoint_view .bt_txt {color:#fff;font-size:12px;font-weight:bold;display:inline-block;}
.btn_mypoint_view .arw {background-position:-80px -77px;width:3px;height:10px;display:inline-block;vertical-align:top;margin-left:6px;}


/* txt  */
.tx_1 {font-size:11px;color:#757575;}
.tx_1 strong{font-size:11px;color:#757575;}
.tx_2 {font-size:11px;color:#333;margin-top:5px;}
.tx_2 strong{font-size:12px;color:#333;}
.tx_2 .tx_p {display:inline-block;margin-left:5px;}
.tx_3 {font-size:11px;color:#757575;margin:4px 0 0 22px;}
.tx_4 {font-size:11px;color:#757575;margin:0 0 6px 29px;}
.tx_4 em{color:#b3c5e4;font-size:44px;font-family: Century Gothic,arial,sans-serif;display:inline-block;margin-right:5px;}
.tx_img1 {width:101px;height:32px;text-indent:-9999em;background-position:0 -43px;margin:14px 0 0 21px;}
.tx_5 {font-size:11px;color:#51608c;margin:0 0 0 23px;letter-spacing:-1px;}
.tx_5 strong{font-size:11px;color:#51608c;letter-spacing:-1px;}

.dotx_list{ text-align:left;}
.dotx_list li {font-size:11px;color:#666;line-height:20px;}

.banner_point_area {clear:both;*zoom:1;overflow:hidden;}
.banner_point_area div {float:left;width:373px;}
.banner_point_area .banner_right {float:right;}

/* margin */
.margin1 {margin:22px 0 60px 0;}
.margin2 {margin:22px 0 20px 0;}


/* calendar_head */
.calendar_head {position:relative;margin-bottom:15px;margin-right:100px;}
.calendar_head span {display:inline-block;vertical-align:middle;}
.calendar_head .bgcom {width:7px;height:18px;display:block;text-indent:-9999em;}
.calendar_head .ico_pr {background-position:0 -100px;}
.calendar_head .ico_ne {background-position:-41px -100px;}
.calendar_head .ico_pr_off {background-position:-70px -100px;}
.calendar_head .ico_ne_off {background-position:-111px -100px;}
.btn_cal_prev {background:none;border:0 none;display:inline-block;vertical-align:middle;margin-right:12px;position:relative;top:1px;}
.btn_cal_next {background:none;border:0 none;display:inline-block;vertical-align:middle;margin-left:12px;position:relative;top:1px;}
.cal_date {color:#666;font-size:22px;font-family: Century Gothic,arial,sans-serif;display:inline-block;vertical-align:middle;}
.date_mid {font-size:22px;margin:0 18px;color:#4c4c4c;}
.ico_cal {display:inline-block;vertical-align:middle;}
.ico_cal span {background:url(//img.danawa.com/new/mypage/img/ico_calendar.gif) no-repeat 0 0;width:14px;height:16px;display:block;text-indent:-9999em;margin-left:8px;}
.calendar_head .ui-datepicker-trigger {display:inline-block;vertical-align:middle;margin-left:5px;}

/* cal_term_select */
.cal_term_select {clear:both;*zoom:1;overflow:hidden;position:absolute;right:-100px;top:3px;border:1px solid #bcbcbc;background:#f4f4f4;}
.cal_term_select li {float:left;background:url(//img.danawa.com/new/mypage/img/bg_cal_term.gif) #f4f4f4 no-repeat 100% 0;height:18px;padding-right:1px;width:40px;text-align:center;}
.cal_term_select li strong {font-weight:bold;font-size:12px;}

.cal_term_select button {background:#f4f4f4;color:#666;font-size:11px;height:18px;display:block;text-align:center;line-height:20px;width:40px;}
.cal_term_select li.select button {background:#fff;color:#000;font-size:11px;}
.cal_term_select li.select {background:url(//img.danawa.com/new/mypage/img/bg_cal_term.gif) no-repeat 100% -20px;border-left:1px solid #bcbcbc;margin-left:-1px;}
.cal_term_select li span {display:block;}
.cal_term_select li.first {}
.cal_term_select li.last {background:none;}

.bbsType_point tbody td.tb_select1 {text-align:left;padding-left:10px;}
.bbsType_point tbody td.tb_cont {text-align:left;padding-left:10px;}
.bbsType_point tbody td.tb_select2 {text-align:left;padding-left:18px;}
.bbsType_point th {color:#333;font-weight:bold;font-size:12px;}
.bbsType_point .tb_cont {color:#333;}
.bbsType_point .tb_select1 {color:#333;}
.select_ty01 {width:156px;height:22px;color:#333;font-weight:bold;font-size:12px;}
.select_ty02 {width:92px;height:22px;color:#333;font-weight:bold;font-size:12px;}

.bbsType_point tbody td.tb_select2 em {letter-spacing:3px;}

.tx_pink {color:#d82078;font-weight:bold;font-size:12px;}
.tx_blue {color:#4060d8;font-weight:bold;font-size:12px;}
.tx_gray {color:#707070;font-weight:bold;font-size:12px;}
.px {font-size:11px;font-weight:normal;}
.tx_blind {position:absolute;top:-9999em;text-indent:-9999em;}

/* img_community_point */
.img_community_point {background:url(//img.danawa.com/new/mypage/img/img_point01.jpg) no-repeat 0 0;width:760px;height:533px;position:relative;margin-bottom:40px;}
.img_community_point ul {padding:388px 0 0 45px;}
.img_community_point li{float:left;text-align:left;font-size:11px;}
.img_community_point li p {font-size:11px;color:#555;line-height:16px;}
.img_community_point li.l01 {width:248px;}
.img_community_point li.l02 {width:242px;}
.img_community_point li.l03 {width:200px;}

.btn_newPoint_view {width:356px;height:38px;display:block;text-indent:-9999em;position:absolute;bottom:0px;left:192px;}

.bbsType tfoot .indexBorder {padding:10px 0;}
.bbsType tfoot .indexBorder .posRight {float:right; margin-top:-25px; margin-right:10px;}

.indexBorder {text-align:center; position:relative; zoom:1;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;margin-right:2px;vertical-align:bottom; line-height:20px; vertical-align:middle;background:url(//img.danawa.com/new/mypage/img/bg_paging_dot.gif) no-repeat 0 6px;padding:0 0 0 6px;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:12px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:12px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}
.indexBorder a, .indexBorder .posRight span {background:none;padding:0;}

.gray a, .gray span {color:#6b6b6b; border:none; font-family:dotum,sana-serif; font-size:12px; text-decoration:none;width:12px;}
.gray a:hover, .gray .next, .gray .prev {border:none;}
.gray .page_on, .gray .page_on:hover {background:none; color:#fff;border:0 none;color:#3d3bff;font-weight:bold;}


.indexBorder  .page_on {background:url(//img.danawa.com/new/mypage/img/bg_paging_dot.gif) no-repeat 0 6px;}
.indexBorder .page_on:hover  {background:url(//img.danawa.com/new/mypage/img/bg_paging_dot.gif) no-repeat 0 6px;}
.indexBorder  .bgno {background:none;}
.indexBorder  .bgno:hover {background:none;}

.indexBorder  .bgno img {position:relative;top:-2px;}



/* category Header */
.naviHead{display:block; width:155px; height:212px; background:url(//img.danawa.com/new/mypage/img/tit_index.gif) no-repeat 0 -615px;}
.naviHead_area .level .nick_new{font-size:11px;color:#757575;word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-break:break-all;line-height:14px;font-weight:normal;}
.naviHead_area .nick_new  {font-size:11px;color:#333;font-weight:normal;}
.naviHead_area .nick_new strong {font-size:11px;color:#333;}
.naviHead_area .level span{color:#333;}
.naviHead_area .level{ padding-left:10px; color:#666;font-size:11px;letter-spacing:-1px;}
.naviHead_area .level strong {font-size:12px;color:#333;letter-spacing:0;}
.naviHead_area .level .f11 {font-size:11px;letter-spacing:0;}
.naviHead_area .level .f12 {font-size:12px;letter-spacing:0;}
.naviHead_area .level .level_number2 {color:#4060d8;font-weight:bold;font-family: Century Gothic,arial,sans-serif;font-size:17px;}
.naviHead_area .level .level_number2 span {color:#4060d8;font-weight:bold;font-family: Century Gothic,arial,sans-serif;font-size:17px;}
.naviHead_area .level .level_number2 .ml2 {margin-left:1px;}


.naviHead_area .user_nick{padding-top:2px; width:80px; height:30px;line-height:14px;}
.naviHead_area li{margin:0px 0 3px 0; width:130px; float:left;}
.naviHead_area .user_rew a {background:url(//img.danawa.com/new/mypage/img/bg_m_arw.gif) no-repeat 100% 2px;padding-right:7px;}
.naviHead_area li.line {margin-bottom:8px;}
.naviHead_area li.line dl {border-bottom:1px solid #eaeaea;margin-bottom:3px;padding-bottom:3px;overflow:hidden;}
.img_myt1 {float:left;}
.naviHead_area .level2 {}
.naviHead_area .level2 .level_number2 {display:inline-block;}
.naviHead_area .level2 a {*line-height:140%;}


 /* wrap_pop_point */
.ca7 {color:#a7bbfd;font-size:12px;font-weight:bold;font-style:normal;}
.wrap_pop_point #pop_header {color:#393939;}
.wrap_pop_point #footer_pop{background:#939393;}
.wrap_pop_point #content_pop {margin: 10px;}
.wrap_pop_point * {font-family:Dotum,gulim,Helvetica,AppleGothic,Sans-serif;}

.right_nickname_cont {clear:both;*zoom:1;overflow:hidden;padding:14px 0 15px 0;}
.right_nickname_cont {float:right;}

.right_nickname_cont .in_search {width:95px;height:16px;border:1px solid #666;border-right:none;color:#111;padding:3px 0 1px 7px;vertical-align:middle;line-height:100%;margin:0;font-size:11px;}
.right_nickname_cont .btn_nick_search {width:32px;height:22px;background:url(//img.danawa.com/new/community_new/img/btn_nick_search.gif) no-repeat left top;text-indent:-9999em;display:inline-block;vertical-align:middle;border:0 none;}
.right_nickname_cont .rla {color:#666;font-size:11px;display:inline-block;margin-left:4px;vertical-align:middle;}
.right_nickname_cont .rd {display:inline-block;vertical-align:top;height:13px;position:relative;top:3px;}


/* tabs_ranking */
.tabs_ranking {background:url(//img.danawa.com/new/community_new/img/bg_tabs_pdot.gif) repeat-x left bottom;height:35px;clear:both;*zoom:1;overflow:hidden;}
.tabs_ranking ul {clear:both;*zoom:1;overflow:hidden;}
.tabs_ranking li {float:left;list-style:none;}
.tabs_ranking li.current {}
.tabs_ranking li a {display:block;background:#f0f0f0;font-weight:bold;height:33px;line-height:33px;border:1px solid #dfdfdf;width:186px;text-align:center;}
.tabs_ranking li a em {font-style:normal;}
.tabs_ranking li.current a {color:#222;font-weight:bold;background:#fff;border-bottom:none;padding-bottom:1px;}
.tabs_ranking li.current a em {color:#325dd6;}
.tabs_ranking li.first a {border-left:none;border-right:none;}
.ranking_period {font-size:11px;color:#666;padding:11px 0 11px 12px;}
.ranking_period strong {font-weight:bold;font-size:12px;}
.margin8 {margin:13px 0 0px 8px;padding:0;}
.tbl_lev_list {border-top:2px solid #dfdfdf;width:100%;border-collapse:collapse;}
.tbl_lev_list th {border-bottom:1px solid #efefef;text-align:center;font-family: Century Gothic,arial,sans-serif;color:#666;font-weight:bold;font-size:12px;}
.tbl_lev_list td {border-bottom:1px solid #efefef;text-align:center;height:31px;}
.tbl_lev_list .ranking_state {background:#f6f5f5;}
.tbl_lev_list .ranking_id {text-align:left;}
.tbl_lev_list .ranking_id strong {display:inline-block;margin-left:16px;margin-right:3px;color:#5272db;font-family: Century Gothic,arial,sans-serif;font-size:13px;}
.tbl_lev_list .bLine {border-left:1px solid #efefef;}

.rst {background:url(//img.danawa.com/new/community_new/img/icon_main_ranking2.gif) no-repeat;background-position:center 0;height:12px;line-height:18px;margin-right:2px;display:inline-block;font-weight:bold;}
.rst em {position:absolute;top:-9999em;left:-9999em;}
.ico_ranking_hippen {background-position:center -106px;width:37px;margin-left:1px;}
.ico_ranking_new {background-position:center -31px;display:block;}
.ico_ranking_up {color:#d82078;}
.ico_ranking_up .ico_ty {background:url(//img.danawa.com/new/community_new/img/icon_main_ranking2.gif) no-repeat;background-position:left -57px;width:10px;height:12px;display:inline-block;vertical-align:middle;margin-right:3px;}
.ico_ranking_dn {color:#4060d8;}
.ico_ranking_dn .ico_ty {background:url(//img.danawa.com/new/community_new/img/icon_main_ranking2.gif) no-repeat;background-position:left -85px;width:10px;height:12px;display:inline-block;vertical-align:middle;margin-right:3px;}
.ico_upcolor {color:#d82078;}
.ico_dncolor {color:#4060d8;}

.rst_num {background:url(//img.danawa.com/new/community_new/img/icon_main_ranking.gif) no-repeat;background-position:center 0;height:24px;line-height:18px;margin-right:2px;display:inline-block;text-indent:-999em;overflow:hidden;width:22px;position:relative;top:-5px;}

.ran1 {background-position:5px 0;}
.ran2 {background-position:5px -25px;}
.ran3 {background-position:5px -49px;}
.ran4 {background-position:5px -74px;}
.ran5 {background-position:5px -99px;}
.wrap_pop_point .dotx_list li{list-style:none;}
.wrap_pop_point .dotx_list li strong {font-size:11px;}


 /* paging_pop */
.paging_pop {text-align:center;position:relative;*zoom:1;margin-top:20px;}
.paging_pop a,
.paging_pop span {background:url(//img.danawa.com/new/mypage/img/bg_paging_dot.gif) no-repeat 0 3px;padding:0 0 0 6px;display:inline-block; height:12px;margin-right:2px;vertical-align:top;line-height:100%; }
.paging_pop a.active {font-weight:bold;}

.paging_pop a,
.paging_pop span {color:#6b6b6b;font-size:12px;text-decoration:none;width:12px;}
.paging_pop a:hover,
.paging_pop .page_on,
.paging_pop .page_on:hover {color:#3d3bff;font-weight:bold;}

.paging_pop .bgno {background:none;padding:0 0 0 0;}
.paging_pop .parw {background:url(//img.danawa.com/new/community_new/img/bg_paging.gif) no-repeat;background-position:0 0;text-indent:-9999em;width:14px;height:12px;display:block;vertical-align:top;overflow:hidden;}
.paging_pop .bfisrt {background-position:3px -20px;right:6px;}
.paging_pop .bprev {background-position:-12px -20px;margin:0 0 0 0px;right:5px;}
.paging_pop .bnext {background-position:6px 0;margin-right:3px;}
.paging_pop .blast {background-position:-12px 0;}


.deduction_date {color:#d82078;font-size:12px;font-weight:bold;text-align:right;padding:10px 0 16px 0;}
.margin9 {margin:20px 0 50px 14px;}
.margin9 li{line-height:16px;margin:0px 0 7px 0;}

/* tbl_point  */
.tbl_point {border-collapse:collapse;width:100%;border-top:2px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.tbl_point .thead th {background:#f0f0f0;color:#222;height:33px;}
.tbl_point th {border-right:1px solid #dfdfdf;text-align:center;font-weight:bold;}
.tbl_point .thead .using_point {color:#2347bc;}
.tbl_point td {border-right:1px solid #dfdfdf;text-align:center;font-weight:bold;padding:0;}
.tbl_point .last {border-right:none;}
.tbl_point .now_have {color:#757575;vertical-align:top;padding-top:38px;}
.tbl_point .deduction_schedule {color:#d82078;vertical-align:top;padding-top:15px;}
.tbl_point .point_ct {font-family: Century Gothic,arial,gulim,dotum,sans-serif;font-size:16px;font-weight:normal;}
.tbl_point .point_ct  strong {font-family: Century Gothic,arial,gulim,dotum,sans-serif;font-size:20px;}
.tbl_point .point_c1 {font-size:16px;}
.tbl_point .point_c2 {font-size:16px;color:#4266db;}
.tbl_point .point_c3 {font-size:18px;color:#222;}
.tbl_point .point_c3 strong {font-size:28px;}
.tbl_point .point_c4 {font-size:18px;color:#2347bc;}
.tbl_point .point_c4 strong {font-size:28px;color:#2347bc;}
.tbl_point .fir td {padding-top:32px;}
.tbl_point .sec td {padding-bottom:32px;}
.tbl_point caption {position:absolute;top:-9999px;}
.point_arw {background:url(//img.danawa.com/new/community_new/img/bg_arw_pop.gif) no-repeat;background-position:center center;width:18px;height:70px;padding-bottom:0;display:block;text-align:center;margin:0 auto;}
.dotx_list .line_2 {margin-left:8px;font-size:11px;}

/* tbl_point2 */
.tbl_point2 {width:100%;border-collapse:collapse;border-bottom:2px solid #b8b8b8;table-layout:fixed;}
.tbl_point2 caption {position:absolute;left:0;top:-9999em;width:100%;display:none;}
.tbl_point2 th {background:#ededed;text-align:center;color:#444;font-weight:bold;font-size:12px;height:28px;}
.tbl_point2 .first th {border-bottom:1px solid #e1e1e1;border-top:2px solid #b8b8b8;}
.tbl_point2 .first td {border-bottom:1px solid #e1e1e1;border-top:2px solid #b8b8b8;}
.tbl_point2 td {color:#111;font-weight:bold;font-size:12px;text-align:center;border-left:2px solid #e1e1e1;vertical-align:middle;line-height:100%;height:28px;}
.tbl_point2 th p {line-height:normal;height:11px;}
.tbl_point2 td p {line-height:normal;height:11px;}

/* tbl_point3 */
.tbl_point3  {border-right:2px solid #e1e1e1;border-top:2px solid #b8b8b8;}
.tbl_point3 td {border-bottom:1px solid #e1e1e1;font-weight:normal;background:#fff;}
.tbl_point3 th {border-right:2px solid #e1e1e1;border-left:2px solid #e1e1e1;height:37px;color:#444;font-size:14px;}
.tbl_point3 .first td {border-top:1px solid #e1e1e1;}
.tbl_point3 td p {color:#666;}

/* layout */
#wrap_mgaja {width:100%;display:block;overflow:hidden;}
#header_mgaja {height:142px;width:100%;position:fixed;_position:absolute;background:#fff;z-index:999; -webkit-backface-visibility:hidden;}
#content_mgaja {width:100%;padding-top:142px;}
#footer_mgaja {padding:70px 0 150px 0;text-align:center;}
#footer_mgaja address {font-size:11px;color:#333;font-style:normal;}

#info2 {position:absolute;top:-142px;}
#info3 {position:absolute;top:-142px;}


/* header */
.hgroup {height:100px;position:relative;width:1002px;margin:0 auto;}
.potit {background:url(//img.danawa.com/new/community_new/img/bg_title_info.png) no-repeat;height:44px;}
.ponav {background:url(//img.danawa.com/new/community_new/img/bg_navi.gif) no-repeat;}
.pobtn {background:url(//img.danawa.com/new/community_new/img/btn_point_info2.gif) no-repeat;}

.hgroup h1 a{background-position:0 0;width:112px;text-indent:-9999em;display:block;position:absolute;top:29px;left:4px;}
.hgroup h2 {background-position:0 -50px;width:255px;height:28px;text-indent:-9999em;position:absolute;top:29px;left:130px;}
.hgroup .potit2 {background-position:0 -400px;width:225px;height:28px;text-indent:-9999em;position:absolute;top:29px;left:130px;}
.hgroup .htxt {position:absolute;left:402px;top:29px;font-size:12px;line-height:20px;color:#333;}
.hgroup .htxt strong {font-size:12px;color:#333;}

 /* btns */
.btn_center_area {text-align:center;margin:30px 0 -18px 0;}
.btn_mypoint_inquiry {background-position:0 0;height:46px;width:194px;display:block;position:absolute;right:0px;top:26px;text-indent:-9999em;}
.btn_point_active {display:inline-block;}
.btn_point_active span {background-position:0 -50px;height:55px;width:348px;display:block;text-indent:-9999em;}
.btn_mago {background-position:0 -150px;height:28px;width:143px;display:block;position:absolute;right:0px;top:-6px;text-indent:-9999em;}
.btn_evgo {background-position:-200px -150px;height:28px;width:143px;display:block;position:absolute;right:0px;top:-2px;text-indent:-9999em;}

/* navi */
.navi_wrap {height:42px;width:100%;background:#60759f;_overflow:hidden;}
.navi_center {width:1002px;margin:0 auto;min-width:1002px;}
.navi_center ul:after{display:block;clear:both;content:''}	
.navi_center ul {clear:both;*zoom:1;width:100%;border-left:1px solid #fff;}

.navi_center li {float:left;list-style:none;}
.navi_2c li {width:50%;}
.navi_3c li {width:33.3%;}
.navi_center li a {display:block;border-right:1px solid #fff;height:42px;line-height:42px;}
.navi_center li.current a {background:#223786;border-right:2px solid #fff;border-left:1px solid #fff;}
.navi_center li.first a{border-left:1px solid #fff;}
/*
.navi_center li.current.first  a {border-left:2px solid #fff;}	*/
.navi_center li span {margin:0 auto;display:block;height:42px;text-align:center;text-indent:-999em;}
.navi_center li .na1 {background-position:0 13px;width:86px;}
.navi_center li .na2 {background-position:0 -67px;width:86px;}
.navi_center li .na3 {background-position:0 -147px;width:126px;}
.navi_center li .na4 {background-position:0 -224px;width:180px;}
.navi_center li .na5 {background-position:0 -308px;width:123px;}
.navi_center li.current .na1 {background-position:0 -27px;}
.navi_center li.current .na2 {background-position:0 -107px;}
.navi_center li.current .na3 {background-position:0 -187px;}
.navi_center li.current .na4 {background-position:0 -267px;}
.navi_center li.current .na5 {background-position:0 -347px;}
.navi_center li.current .navi_arw {background:url(//img.danawa.com/new/community_new/img/bg_navi_arw.gif) no-repeat center 0;position:relative;top:0px;}


.content_box {width:100%;border-bottom:2px solid #abaebf;}
.contnet_center {width:1002px;margin:0 auto;position:relative;padding-bottom:58px;}
.bg_sky {background:#f6fcfc;}
.bt_top {background:url(//img.danawa.com/new/community_new/img/bt_top.gif) no-repeat 0 0;position:absolute;right:0px;bottom:0px;width:88px;height:44px;display:block;text-indent:-9999em;}

/* texts */
.cont_text {width:850px;margin:0 auto;}

.cotext1 {line-height:20px;font-size:12px;color:#333;}
.cotext2 {line-height:18px;font-size:11px;color:#555;}
.cotext3 {color:#666;padding-top:12px;}
.cotext4 {line-height:18px;font-size:11px;color:#222;}
.cotext5 {line-height:20px;font-size:12px;color:#666;position:relative;margin-top:25px;}
.cotext5 .stit_btxt {position:absolute;top:22px;left:0px;font-size:11px;color:#666;letter-spacing:-1px;}
.cotext5 .potit_s4 {position:absolute;left:0px;top:2px;}
.cotext5 .potit_s5 {position:absolute;left:0px;top:3px;}
.cotext5 .stit_rtxt1 {padding-left:82px;}
.cotext5 .stit_rtxt2 {padding-left:113px;}
.h_exp {text-indent:-9999em;height:1px;}

/* backgr imgs */
.coimg1 {background:url(//img.danawa.com/new/community_new/img/img_info_01.jpg) no-repeat 0 0;width:850px;height:602px;margin:0 auto;text-indent:-999em;margin-top:12px;}
.coimg2 {background:url(//img.danawa.com/new/community_new/img/img_info_02.jpg) no-repeat 0 0;width:850px;height:45px;margin:0 auto;padding-top:227px;}

/* point_level_10 */
.point_level_10 {}
.level10_img {background:url(//img.danawa.com/new/community_new/img/bg_point_level10.gif) no-repeat 0 0;width:685px;height:349px;margin:0 auto;position:relative;}
.level20_img {background:url(//img.danawa.com/new/community_new/img/bg_point_level20.gif) no-repeat 0 0;width:807px;height:468px;margin:0 auto;position:relative;padding-bottom:5px;}


 /* cont_title */
.cont_title {padding-top:70px;width:850px;margin:0 auto;}
.potit_01 {background-position:0 -100px;width:415px;text-indent:-9999em;}
.potit_02 {background-position:0 -150px;width:650px;text-indent:-9999em;}
.potit_03 {background-position:0 -200px;width:650px;text-indent:-9999em;}
.potit_04 {background-position:0 -250px;width:650px;text-indent:-9999em;height:37px;}
.potit_05 {background-position:0 -300px;width:650px;text-indent:-9999em;height:40px;}
.potit_06 {background-position:0 -350px;width:650px;text-indent:-9999em;}
.potit_07 {background-position:0 -400px;width:650px;text-indent:-9999em;}
.potit_08 {background-position:0 -450px;width:650px;text-indent:-9999em;}
.potit_09 {background-position:0 -500px;width:650px;text-indent:-9999em;}
.potit_10 {background-position:0 -550px;width:650px;text-indent:-9999em;}
.potit_11 {background-position:0 -600px;width:650px;text-indent:-9999em;}
.potit_12 {background-position:0 -650px;width:650px;text-indent:-9999em;}
.potit_13 {background-position:0 -700px;width:140px;text-indent:-9999em;}
.potit_14 {background-position:-200px -700px;width:140px;text-indent:-9999em;}
.potit_15 {background-position:-400px -700px;width:140px;text-indent:-9999em;}
.potit_22 {background-position:0 -820px;width:650px;text-indent:-9999em;height:76px;}
.potit_s1 {background-position:0 -750px;width:82px;height:16px;display:inline-block;text-indent:-9999em;margin-bottom:20px;float:left;}
.potit_s2 {background-position:-200px -750px;width:132px;height:16px;display:inline-block;text-indent:-9999em;margin-bottom:20px;float:left;}
.potit_s3 {background-position:-400px -750px;width:98px;height:16px;display:inline-block;text-indent:-9999em;}
.potit_s4 {background-position:0 -781px;width:140px;height:16px;display:inline-block;text-indent:-9999em;}
.potit_s5 {background-position:-200px -781px;width:140px;height:16px;display:inline-block;text-indent:-9999em;}
.potit_s6 {background-position:-400px -780px;width:184px;height:16px;text-indent:-9999em;display:block;position:absolute;right:0px;top:-29px;}
.potit_s7 {background-position:0 -900px;width:184px;height:16px;text-indent:-9999em;display:block;position:absolute;right:0px;top:-29px;}
.potit_s8 {background-position:0 -933px; width:252px; height:18px; text-indent:-9999em; display:block; position: absolute; top:0; left:0;}

/* line */
.btmline {border-bottom:1px solid #e9ecf3;padding-bottom:35px;margin-bottom:22px !important;}

/* polimg */
.polimg .cont_title {padding-top:0px;}
.polimg {padding-left:155px;width:745px;margin:0 auto;min-height:115px;}
.l_img1 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img1.gif) no-repeat;background-position:0px 0;padding-top:28px;padding-bottom:24px;}
.l_img2 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img2.gif) no-repeat;background-position:0px 0;padding-top:32px;padding-bottom:20px;}
.l_img3 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img3.gif) no-repeat;background-position:0px 0;padding-top:17px;}
.l_img4 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img4.gif) no-repeat;background-position:0px 0px;padding-top:22px;padding-bottom:20px;}
.l_img5 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img5.gif) no-repeat;background-position:0px 93px;padding-top:23px;}
.l_img6 {background:url(//img.danawa.com/new/community_new/img/bg_circle_img6.gif) no-repeat;background-position:0px 0;padding-top:19px;padding-bottom:20px;}

/* col */
.coimg2 ul {clear:both;*zoom:1;overflow:hidden;}
.coimg2 li {list-style:none;float:left;}
.coi_1 {width:232px;}
.coi_2 {width:224px;}
.coi_3 {width:233px;}
.coi_4 {width:155px;}


/*  list types */
.dotx_list{ text-align:left;}
.dotx_list li {font-size:11px;color:#666;line-height:18px;list-style:none;height:20px;}

.board_icon_list {background:url(//img.danawa.com/new/community_new/img/img_info_03.gif) no-repeat 35px 0;height:240px;}
.board_icon_list2{background:url(//img.danawa.com/new/community_new/img/img_info_03_3.gif) no-repeat 35px 0;height:auto;}
.board_icon_list3{background:url(//img.danawa.com/new/community_new/img/img_info03.png) no-repeat 35px 0;height:auto;}
.board_icon_list4{background:url(//img.danawa.com/new/community_new/img/img_info_v170808.png) no-repeat 35px 0;height:auto;}
.board_icon_list5{background:url(//img.danawa.com/new/community_new/img/img_info_v180709.png) no-repeat 35px 0;height:auto;}
.board_icon_list ul {clear:both;*zoom:1;overflow:hidden;width:100%;padding-top:0px;margin-bottom:15px;padding-bottom:1px;}
.board_icon_list li {list-style:none;font-weight:bold;font-size:12px;color:#111;float:left;width:164px;text-align:center;}
.board_icon_list2  ul{margin-left:19px;}
.board_icon_list3  ul{margin-left:19px;}
.board_icon_list4  ul{margin-left:19px;}
.board_icon_list5  ul{margin-left:19px;}
.board_icon_list2 li{width:130px}
.board_icon_list3 li{width:130px}
.board_icon_list4 li{width:130px}
.board_icon_list5 li{width:130px}
.board_icon_list li a {font-weight:bold;font-size:12px;color:#111;text-decoration:none;height:12px;display:block;width:100px;margin:0 auto;padding-top:101px;line-height:normal;}
.board_icon_list li a:hover {text-decoration: underline;}

.noti_list li {list-style:none;font-size:12px;color:#444;line-height:24px;}

/* margin */
.margin_2 {margin:0px 0 14px 0;}
.margin_3 {margin:14px 0 -11px 0;}
.pt70 {padding-top:70px;}
.pt10 {padding-top:10px;}
.pt0 {padding-top:0px;}
.mt18 {margin-top:18px;}
.mt50 {margin-top:50px !important;}

/* text_clear */
.text_clear {clear:both;*zoom:1;overflow:hidden;width:850px;margin:0 auto;}
.text_clear .cont_title {width:150px;float:left;padding-top:0px;}
.text_clear .cont_text {width:700px;float:left;}

/* tool_tip_layer */
#tool_tip_layer {position:relative;z-index:99;text-align:left;}
.tool_tip_size {border:1px solid #888;position:absolute;z-index:98;background:#fff;}
.tool_tip_title {background:#f4f4f4;height:30px;position:relative;vertical-align:middle;}
.tool_tip_title .tootip_titxt {font-weight:normal;font-size:11px;color:#666;font-family:dotum,AppleGothic,Helvetica,sans-serif;vertical-align:middle;height:18px;margin-left:20px;padding-top:9px;}
.tool_tip_title .btn_layer_close {background:url(//img.danawa.com/new/newblog/img/icon_layer.gif) no-repeat;background-position:0 -20px;width:12px;height:12px;display:block;position:absolute;right:10px;top:8px;text-indent:-9999em;}
.tool_tip_title .layer_ico_arrw2 {width:12px;height:11px;display:block;position:absolute;width:12px;height:8px;left:94px;top:-7px;background:url(//img.danawa.com/new/newblog/img/icon_layer.gif) no-repeat;background-position:0 0;z-index:1;}
.tool_tip_cont {color:#333;line-height:20px;padding:20px;min-height:60px;height:auto !important;}
.tool_tip_cont em {font-style:normal;font-weight:bold;color:#2343b8;}
.tool_tip_cont .tip_txt2 {margin-top:16px;}

.btn_tooltip_area {margin:20px 0 15px 0;text-align:center;}
.btn_psystem_info {background:#4060d8;padding:7px 10px 4px 12px;display:inline-block;}
.btn_psystem_info .bt_txt {color:#fff;font-size:12px;font-weight:bold;display:inline-block;}
.btn_psystem_info .arw {background-position:-80px -77px;width:3px;height:10px;display:inline-block;vertical-align:top;margin-left:8px;}
.mt35 {margin-top:35px;}
.tool_tip_img {margin:20px 0 0 0;}	/* text-indent:-9999em;background:url(//img.danawa.com/new/community_new/img/bg_point_level10.gif) no-repeat 0 0;background-size:340px 173px; */
.tool_tip_img img {width:390px;}
.tool_tip_img .h_exp {text-indent:-9999em;font-size:1px;}

#content_pop2 {padding:0;}
#content_pop2 .member_note {position:relative;background:#fafafa;border-bottom:1px dashed #b2b2b2;min-height:106px;height:auto !important;padding:9px;}
#content_pop2 .my_info_img {border:1px solid #e7e7e7;width:45px;height:45px;overflow:hidden;position:absolute;left:9px;top:9px;}
#content_pop2 .my_info_img img {width:45px;height:45px;}
#content_pop2 .my_info_txt {padding-left:55px;position:relative;}
#content_pop2 .my_info_txt .now_lv {display:block;font-family: Century Gothic,arial,Dotum,Helvetica,AppleGothic,sans-serif;color:#8c38e5;font-weight:bold;font-size:22px;}
#content_pop2 .my_info_txt .now_lv.level_m {color:#0a745f}
#content_pop2 .my_info_txt .now_lv.level_g {color:#aa4800}
#content_pop2 .my_info_txt .nick_info {font-size:14px;color:#757575;font-weight:bold;margin-top:2px;}
#content_pop2 .my_info_txt .nic {font-size:14px;color:#333;font-family:Dotum,gulim,Helvetica,AppleGothic,sans-serif;}
#content_pop2 .my_info_txt	.txt_join_date {color:#555;font-size:12px;font-family:gulim,Dotum,Helvetica,AppleGothic,sans-serif;margin-top:14px;}
#content_pop2 .my_info_txt	.txt_tot_point {color:#555;font-size:12px;font-family:gulim,Dotum,Helvetica,AppleGothic,sans-serif;margin-top:4px;}
#content_pop2 .my_info_txt  .bt_note {background:url(//img.danawa.com/new/community_new/img/btn_pop_note.gif) no-repeat;background-position:0 0;width:37px;height:21px;display:block;text-indent:-999em;position:absolute;right:10px;top:0px;}

.recently_write_list {position:relative;padding:16px 0 0 9px;}
.recently_write_list li {background:url(//img.danawa.com/new/community_new/img/bul_pop_dot.gif) no-repeat;background-position:0 8px;padding-left:7px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding-right:10px;_width:182px;}
.recently_write_list li a {color:#333;font-size:12px;line-height:22px;}
.recently_write_list ul {margin:9px 0 0 1px;}
.recently_write_list  .bt_more_view {background:url(//img.danawa.com/new/community_new/img/btn_pop_note.gif) no-repeat;background-position:0 -50px;width:40px;height:11px;display:block;text-indent:-999em;padding:3px;position:absolute;right:10px;top:18px;}

.pop_ranking_none {background:url(//img.danawa.com/new/community_new/img/img_none.gif) no-repeat 0 126px;padding:154px 0 0 85px;width:240px;margin:0 auto;}
.pop_ranking_none p {color:#385ad8;font-size:14px;font-weight:bold;}

/* level20_tbl */
.level20_tbl{margin-top:12px;margin-bottom:-10px;}
.tbl_level{border-collapse:collapse;width:100%;border-top:2px solid #d3d3d3;border-bottom:2px solid #d3d3d3;margin:0;padding:0;border-left:1px solid #e1e1e1;}
.tbl_level caption{overflow:hidden;visibility:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0;}
.tbl_level th{border-right:1px solid #e1e1e1;font-size:12px;color:#666;height:33px;background:#ededed;text-align:center;}
.tbl_level td{border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;text-align:center;color:#666;font-size:14px;height:27px;}
.tbl_level .lev_1{width:11%;color:#4060d8;font-family:Century Gothic,'Apple Gothic','Droid Sans',dotum,Gulim,Helvetica,Arial,verdana,Sans-serif;font-weight:bold;}
.tbl_level .point_1{width:39%;font-family:Century Gothic,'Apple Gothic','Droid Sans',dotum,Gulim,Helvetica,Arial,verdana,Sans-serif;font-size:12px;}
.tbl_level .lev_2{width:11%;color:#4060d8;font-family:Century Gothic,'Apple Gothic','Droid Sans',dotum,Gulim,Helvetica,Arial,verdana,Sans-serif;font-weight:bold;}
.tbl_level .point_2{width:39%;font-family:Century Gothic,'Apple Gothic','Droid Sans',dotum,Gulim,Helvetica,Arial,verdana,Sans-serif;}
.tbl_level .point_2 strong{font-size:24px;display:inline-block;vertical-align:middle;font-weight:normal;}

/* sns_login_area */
.sns_login_area {background:#f8f8f8;border:1px solid #d6d6d6;width:153px;height:220px;border-bottom:none;}
.user_photo_area {overflow:hidden;width:80px;height:80px;margin:12px 36px 9px 36px;}
.user_photo {border-radius:50%;overflow:hidden;width:80px;height:80px;}
.my_nickname {overflow:hidden;line-height:20px;color:#333;text-align:center;margin-bottom:0;}
.my_id {font-size:12px;color:#666;font-family:dotum;text-align:center;margin-bottom:5px;}
.ico_sns_set {display:inline-block;width:16px;text-indent:-9999px;*font-size:0;*text-indent:0}
.ico_fb {background:url(//img.danawa.com/new/mypage/img/ico_mypage_facebook.gif) no-repeat}
.ico_naver {background:url(//img.danawa.com/new/mypage/img/ico_mypage_naver.gif) no-repeat}
.ico_katalk {background:url(//img.danawa.com/new/mypage/img/ico_mypage_kakao.gif) no-repeat}
.ico_daum {background:url(//img.danawa.com/new/mypage/img/ico_mypage_daum.gif) no-repeat}
.user_level_area {position:relative;}
.user_level {position:absolute;bottom:8px;right:23px;width:30px;height:28px;background:#0375e0;color:#fff;z-index:10;border-radius:50%;text-align:center;font-family:'Century Gothic';font-size:13px;font-weight:bold;line-height:27px;letter-spacing:1px}
.user_nick {display:inline-block;vertical-align:bottom;}
.my_box{clear:both;*zoom:1;}
.my_box:after{clear:both; content:"";display:block;visibility:hidden;}
.my_box_left {float:left;margin-left:8px;font-size:11px;vertical-align:middle;line-height:22px;}
.my_box_right {float:right;margin-right:8px;text-align:right;color:#0375e0;font-family:'Century Gothic','Apple Gothic','Droid Sans',dotum,Gulim,Arial,Sans-serif;font-size:15px;font-weight: bold;vertical-align:top}
.point_style_won {font-family: dotum,gulim,arial,sans-sefif;font-size:12px;font-weight:normal}
.btn_box {font-size:11px;line-height:20px;padding:0 5px;height:18px;border:1px solid #b3b3b3;color:#333;background:#fff;display:inline-block;text-align:center;}
.edit_myinfo {margin-left:36px;margin-top:6px;}
.edit_myinfo:hover {text-decoration:none;color:#333;}
.mypage_social_wrap .top_banner {background: url(//img.danawa.com/new/mypage/img/bg_top_banner.jpg);width:760px;height:137px;}

/* point_level_g */
.plg_body li {list-style:none}
.point_level_g:after,.plg_head:after,.plg_body ul li:after {content:""; display:block; clear:both}
.level_l,.level_m,.level_g {font-family:'Century Gothic'}
.point_level_g {width:790px; margin:20px auto 40px; padding-top:38px; position: relative;}
.plg_cl {float:left; width:380px}
.plg_cr {float:right; width:380px; border-top:1px solid #f2f2f2}
.level_l {color:#8b38e5;font-weight:bold;white-space:nowrap;font-size:14px;}
.level_m {color:#0a745f;font-weight:bold;white-space:nowrap;font-size:14px;}
.level_g {color:#ac1070;font-weight:bold;white-space:nowrap;font-size:14px;}
.plg_head {border-top:1px solid #33383E; border-bottom:1px solid #D6D7D8}
.plg_head .th,.plg_body .td {float:left; height:41px; line-height:41px; width:100px; font-size:15px; font-family:Malgun Gothic; text-align:right}
.plg_head .th {height:43px; line-height: 43px}
.plg_cr .level,.plg_cl .level {background:#f8f8f8;text-align:center}
.plg_table .minp {width:120px}
.plg_table .maxp {width:122px; padding-right:38px}
.plg_body .minp {padding-right:12px; width:108px; font-family:Dotum; color:#666}
.plg_body .maxp {width:115px; padding-right:35px;font-family:Dotum; color:#666}
.plg_body li {border-bottom:1px solid #f2f2f2}
.plg_cr .plg_body .minp {width:122px}
.plg_cr .plg_body .maxp {width:108px;padding:0}
/* level_g */
span.txt_god {line-height: 300%; font-size: 36px}

/* point_level_g */
.plg_body li {list-style:none}
.point_level_g:after,.plg_head:after,.plg_body ul li:after {content:""; display:block; clear:both}
.level_l,.level_m,.level_g {font-family:'Century Gothic'}
.point_level_g {position: relative; width:790px; margin:20px auto 40px}
.plg_cl {float:left; width:380px}
.plg_cr {float:right; width:380px; border-top:1px solid #f2f2f2}
.level_l {color:#8b38e5;font-weight:bold;white-space:nowrap;font-size:14px;}
.level_m {color:#0a745f;font-weight:bold;white-space:nowrap;font-size:14px;}
.level_g {color:#ac1070;font-weight:bold;white-space:nowrap;font-size:14px;}
.plg_head {border-top:1px solid #33383E; border-bottom:1px solid #D6D7D8}
.plg_head .th,.plg_body .td {float:left; height:41px; line-height:41px; width:100px; font-size:15px; font-family:Malgun Gothic; text-align:right}
.plg_head .th {height:43px; line-height: 43px}
.plg_cr .level,.plg_cl .level {background:#f8f8f8;text-align:center}
.plg_table .minp {width:120px}
.plg_table .maxp {width:122px; padding-right:38px}
.plg_body .minp {padding-right:12px; width:108px; font-family:Dotum; color:#666}
.plg_body .maxp {width:115px; padding-right:35px;font-family:Dotum; color:#666}
.plg_body li {border-bottom:1px solid #f2f2f2}
.plg_cr .plg_body .minp {width:122px}
.plg_cr .plg_body .maxp {width:108px;padding:0}
