@charset "utf-8";

/* default Selector */
body,input,button,select,input,txtArea,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,ul,ol,li,legend,hr,em,addres,div,p,strong,fieldset,form{margin:0; padding:0;font-size:12px;font-family:Dotum,Helvetica,AppleGothic,Sans-serif;}
html,body{width:100%;height:100%;}
html{overflow-y:scroll}
body {font-size:12px;font-family:Dotum,Helvetica,AppleGothic,Sans-serif;text-align:left;background-color:#fff;*word-break:break-all;-ms-word-break:break-all;background:url(//img.danawa.com/new/newmain/img/bg_top_line.gif) #fff repeat-x left top}

/* link */
a{color:#666;text-decoration:none;}
a:hover {text-decoration:underline;}

/* Type Selector */
img, fieldset, button,iframe {border:0 none}
hr{display:none}


/* layout */
#pop_wrap {margin:4px;}
#pop_head {position:relative;background:url(//img.danawa.com/new/ymall/img/bg_pop_head.gif) repeat-x left top;height:42px;width:100%;}
#pop_content {border:5px solid #c8c8c8;border-top:none;position:relative;_zoom:1;}

/* pop_head */
#pop_head .ph_l {background:url(//img.danawa.com/new/ymall/img/bg_pop_ymall.gif) no-repeat left top;position:absolute;left:0px;top:0px;width:9px;height:42px;_z-index:1;}
#pop_head .ph_r {background:url(//img.danawa.com/new/ymall/img/bg_pop_ymall.gif) no-repeat -22px top;position:absolute;right:-1px;top:0px;width:9px;height:42px;_z-index:1;}
#pop_head h1 {position:absolute;left:19px;top:13px;}

/* pop_content */
#pop_content .pc_l {background:url(//img.danawa.com/new/ymall/img/bg_pop_ymall.gif) no-repeat;background-position:0 -45px;position:absolute;left:-5px;bottom:-5px;_bottom:-7px;width:15px;height:12px;}
#pop_content .pc_r {background:url(//img.danawa.com/new/ymall/img/bg_pop_ymall.gif) no-repeat;background-position:0 -57px;position:absolute;right:-5px;_right:-6px;bottom:-22px;width:77px;height:29px;}
#pop_content .btn_close_x {width:53px;height:21px;background:url(//img.danawa.com/new/ymall/img/bg_pop_ymall.gif) no-repeat;background-position:0 -64px;position:absolute;right:22px;bottom:0;text-indent:-9999em;}
.day_close {position:absolute;bottom:-33px;left:4px;vertical-align:middle;}
.day_close input {margin-right:5px;}
.day_close label {color:#666;font-size:11px;position:relative;top:-2px;}
