@charset "utf-8";

/* mask */
.mask_t,
.mask {display:none;line-height:1.425em !important;}
.over .mask {position:absolute; left:0; top:0; opacity: 0.6; filter:alpha(opacity=60); background-color:#000000;line-height:1.4em;}
.over .mask_t {position:absolute; left:0; top:0; vertical-align:middle; text-align:center; font-size:11px; color:#fff; z-index:99;font-size:11px;}
.over .mask_t em {font-size:11px;}

.supplies_list2 {border:1px solid #d8d8d8;width:196px;height:79px;margin-bottom:0px;clear:both;overflow:hidden;zoom:1;}
.supplies_list2 h4 {width:116px; margin:9px 0 8px 7px; height:13px; text-align:left; text-indent:-999em; background:url("//img.danawa.com/new/newmain/img/bg_h4_car.gif") no-repeat left top;}
.supplies_list2 ul {margin-left:4px;}
.supplies_list2 li {position:relative; float:left; margin-left:2px;}
.supplies_list2 li.over .mask {display:block; width:45px; height:45px; vertical-align:middle; z-index:1;}
.supplies_list2 li.over .mask_t {display:block; width:45px; height:38px; padding:7px 5px 0 0px;}
.supplies_list2 li a,
.supplies_list2 li a img {display:block;width:45px;height:45px;}
.supplies_list2 li a:hover {text-decoration:none;}
.supplies_list2 li a {display:inline-block; overflow:hidden width:45px; height:45px; text-align:center; vertical-align:middle;}
.supplies_list2 em {font-style:normal;}
