@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,p{margin:0;padding:0;font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',gulim,'굴림',AppleGothic,Helvetica,Sans-serif}
body,input,textarea,select,button,table{font-size:15px;line-height:1.25em}
body{background:#fff;color:#666;font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',gulim,'굴림',AppleGothic,Helvetica,Sans-serif;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}


/* skip types */
.skip{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap;left:-1px;}
.screen_out {display:block;font-size:1px;height:1px;line-height:0;overflow:hidden;position: absolute;text-indent: 10px;white-space: nowrap;width: 1px;color:transparent}
.screen_out2{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;clear:both;}

/* guide */
#wrap_area{width:100%;height:100%;}
.rweb_wrap{border:1px solid #e6e6e6;max-width:728px;margin:50px 0;}
	.rweb_contents{padding:18px 8px 18px 18px;}
	.img_list_t1{clear:both;overflow:hidden;*zoom:1;width:100%;margin-bottom:10px;}
	.img_list_t1 li{float:left;width:33.3%;}
	.img_list_t1 li.last{width:33.4%;}
	.img_list_t1 li a{float:left;display:block;margin:0px 10px 0 0;}
	.img_list_t1 li img{float:left;width:100%;max-width:224px;}
	.btm_text_box{clear:both;overflow:hidden;*zoom:1;width:100%;}
	.btm_left_area{float:left;width:66.6%;}
	.btm_left_mr{margin-right:10px;border:1px solid #8b38e5;}
	.btm_left_box{background-color:#fff;height:71px;display:table;width:100%;}
	.btm_left_txt{text-align:center;display:table-cell;vertical-align:middle;word-wrap:break-word;word-break:break-all;-ms-word-break:break-all;padding:0 10px;}
	.txt_t1{color:#8b38e5;font-size:16px;font-weight:bold;line-height:24px;}
	.btm_right_area{float:left;width:33.4%;}
	.btm_right_mr{margin-right:10px;}
	.btm_right_box{background-color:#8b38e5;height:73px;display:table;width:100%;}
	.btm_right_txt{text-align:center;display:table-cell;vertical-align:middle;*padding-top:18px;}
	.btn_dpg_go{color:#fff;font-size:18px;display:block;font-weight:bold;line-height:24px;}
	.icon_txt_tringle{margin-left:5px;}

@media only screen and (min-width:730px){
	.rweb_wrap{margin:50px 0;}
	.rweb_contents{padding:18px 8px 18px 18px;}
	.rweb_wrap{width:728px;}
}

@media (min-width: 321px) and (max-width: 729px) {
	.rweb_wrap{margin:50px 0;}
	.rweb_contents{padding:13px 3px 13px 13px;}
	.rweb_wrap{padding:0 0 0 0;}
	.btm_left_area{width:100%;margin-bottom:10px;}
	.btm_right_area{width:100%;}
	.btm_right_box{height:57px;}
	.btm_left_txt{text-align:left;}
	}


@media screen and (max-width: 320px) {
	.rweb_wrap{margin:37px;}
	.rweb_contents{padding:12px 2px 12px 12px;}
	.btm_left_area{display:none;}
	.btm_right_area{width:100%;}
	.btm_right_box{height:47px;}
	.btm_right_txt{*width:220px;}
	.btn_dpg_go{font-size:16px;line-height:24px;*line-height:47px;}
	.img_list_t1 li{clear:both;width:100%;}
	.img_list_t1 li.last{width:100%;}
	.img_list_t1 li img{width:100%;max-width:100%;clear:both;text-align:center;}
	.img02, .last{display:none;}
	.btm_left_txt{text-align:left;}
}