@charset "euc-kr";

td{ font-family: "돋움"; font-size: 12px; color:#666666;line-height: 130%;}
select { color:black; font-size: 9pt; border-width:1px; border-style:solid solid solid solid;}
img { border : 0 }

.box {font-family: "돋움"; font-size: 9pt;color: #222222; background-color:#ffffff; border:1px solid #b9b9b9;margin:1 0 0 0}
.boxblue {font-family: "돋움"; font-size: 9pt;color: #222222; background-color:#ffffff; border:1px solid #86A1B6;margin:1 0 0 0}

.category {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:link {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:visited {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:hover {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: underline}

.orange_b { font-family: "돋움"; font-size: 12px; color: #ff7800; font-style: normal; text-decoration: none; font-weight: bold;}
a.orange_b:link {font-family: "돋움"; font-size: 12px; color: #ff7800; text-decoration: none; font-weight: bold;}
a.orange_b:visited {font-family: "돋움"; font-size: 12px; color: #ff7800; text-decoration: none; font-weight: bold;}
a.orange_b:hover {font-family: "돋움"; font-size: 12px; color: #ff7800; text-decoration: underline; font-weight: bold;}


.blueb { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:link { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:visited { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:active { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}
a.blueb:hover { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; font-weight: bold;}

.sponsor { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:link { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:visited { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666;}
a.sponsor:active { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.sponsor:hover { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #006dd3; }


.blue_l { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #006dd3; }

.blue_basic { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #99BAD1; }

.blue_menu { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #0F5A8F; }
a.blue_menu:link {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none}
a.blue_menu:visited {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none}
a.blue_menu:active {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none}
a.blue_menu:hover {   font-size: 12px; font-style: normal; color: #0F5A8F; text-decoration: none}

.blue_menu_b { font-family: "돋움"; font-size: 14px; font-style: normal; text-decoration: none; color: #0F5A8F;  font-weight: bold;}
a.blue_menu_b:link {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:visited {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:active {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}
a.blue_menu_b:hover {   font-size: 14px; font-style: normal; color: #0F5A8F; text-decoration: none; font-weight: bold;}


.black_b { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; font-weight: bold;}
.black { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; }

.cate { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #ffffff; }
a.cate:link {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none}
a.cate:visited {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none}
a.cate:active {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none}
a.cate:hover {   font-size: 12px; font-style: normal; color: #F1FFCB; text-decoration: underline}

.category {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:link {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:visited {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: none}
a.category:hover {font-family: "돋움"; font-size: 9pt; color: #222222; text-decoration: underline}

.category03 {font-family: "돋움"; font-size: 8pt; color: #1D9AB9; text-decoration: none}
a.category03:link {font-family: "돋움"; font-size: 8pt; color: #1D9AB9; text-decoration: none}
a.category03:visited {font-family: "돋움"; font-size: 8pt; color: #1D9AB9; text-decoration: none}
a.category03:hover {font-family: "돋움"; font-size: 8pt; color: #086A82; text-decoration: underline}

.cate_line {font-family: "돋움"; font-size: 9pt; color: #bbbbbb; text-decoration: none}

.catebold { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #ffffff; font-weight: bold;}
a.catebold:link {  font-family: "돋움"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:visited {   font-family: "돋움"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:active {   font-family: "돋움"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}
a.catebold:hover {   font-family: "돋움"; font-size: 12px; color: #ffffff; text-decoration: none;  font-weight: bold;}

.basic { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #666666; }
a.basic:link {  font-family: "돋움"; font-size: 12px; color: #666666; text-decoration: none}
a.basic:visited {   font-family: "돋움"; font-size: 12px; color: #666666; text-decoration: none}
a.basic:active {   font-family: "돋움"; font-size: 12px; color: #666666; text-decoration: none}
a.basic:hover {   font-family: "돋움"; font-size: 12px; color: #666666; text-decoration: none}

.gray33 { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #333333; }
a.gray33:link {  font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none}
a.gray33:visited {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none}
a.gray33:active {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none}
a.gray33:hover {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none}

.gray33_b { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #333333; font-weight: bold; }
a.gray33_b:link {  font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none; font-weight: bold;}
a.gray33_b:visited {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}
a.gray33_b:active {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}
a.gray33_b:hover {   font-family: "돋움"; font-size: 12px; color: #333333; text-decoration: none;  font-weight: bold;}

.gray00 { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: none; color: #000000; }
a.gray00:link {  font-family: "돋움"; font-size: 12px; color: #000000; text-decoration: none}
a.gray00:visited {   font-family: "돋움"; font-size: 12px; color: #000000; text-decoration: none}
a.gray00:active {   font-family: "돋움"; font-size: 12px; color: #000000; text-decoration: none}
a.gray00:hover {   font-family: "돋움"; font-size: 12px; color: #000000; text-decoration: none}

.adlink { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #ffffff; }
a.adlink:link {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: underline}
a.adlink:visited {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none}
a.adlink:active {   font-size: 12px; font-style: normal; color: #ffffff; text-decoration: none}
a.adlink:hover {   font-size: 12px; font-style: normal; color: #F1FFCB; text-decoration: underline}

.linkday { font-family: "돋움"; font-size: 12px; font-style: normal; text-decoration: underline; color: #2379C8; }
a.linkday:link {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline}
a.linkday:visited {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline}
a.linkday:active {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline}
a.linkday:hover {   font-size: 12px; font-style: normal; color: #2379C8; text-decoration: underline}

tit_text
{color: #639BB4; font-size: 12px; font-weight: bold;}

/* INPUT */
.inputSearch
{
 font-size			: 12px;
 font-family		: "돋움","Arial","Verdana";
 color				: #000000;
 height				: 18px;
 BACKGROUND-COLOR	: #EBF5DE;
 border-right		: #7F9DB9 1px solid;
 border-top			: #7F9DB9 1px solid;
 border-left		: #7F9DB9 1px solid;
 border-bottom		: #7F9DB9 1px solid;
}

.input
{
 font-size			: 12px;
 font-family		: "돋움","Arial","Verdana";
 color				: #333333;
 height				: 18px;
 BACKGROUND-COLOR	: #ffffff;
 border-right		: #cecec7 1px solid;
 border-top			: #cecec7 1px solid;
 border-left		: #cecec7 1px solid;
 border-bottom		: #cecec7 1px solid;
}

.text_price
{color:#1272E9;}

.orange_price{color:#FF6600;}
a.orange_price:link {  color: #FF6600; text-decoration: none}
a.orange_price:visited { color: #FF6600; text-decoration: none}
a.orange_price:active {  color: #FF6600; text-decoration: none}
a.orange_price:hover {  color: #FF6600; text-decoration: underline}

.go{color:#666666;}
a.go:link {  color: #666666; text-decoration: none}
a.go:visited { color: #666666; text-decoration: none}
a.go:active {  color: #666666; text-decoration: none}
a.go:hover {  color: #fb620e; text-decoration: none}

.elec_alist {margin-top:10px; border:1px solid red;}
.elec_alist td *{padding:5px;}