@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:"Malgun Gothic","맑은 고딕",dotum,'돋움',gulim,'굴림',AppleGothic,Helvetica,Sans-serif;font-size:11px}
img,fieldset{border:0}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
caption{display:none}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
.clr{zoom:1;}
.clr:after {content:"";display:block;clear:both;}
/*.btm_sign {height:60px;}*/
.btm_sign .w_50{margin:15px 0;}
.w_50{width:50%;float:left;}
.w_50 strong {font-size:16px;letter-spacing:-0.05em;}
hr{border-top:1px dashed #989898;color:transparent;}

/* layout */
#pop_wrap {margin:0 auto;padding:20px 20px 50px;}
#pop_header {position:relative;}
#pop_container {position:relative;padding:0 20px;}

/* pop_content */
#pop_content{min-width:620px;max-width:800px;margin:0 auto;}
.half_form {position:relative;}
.half_form .date {position:absolute;top:0;left:0;font-size:12px;color:#000;text-align:left;letter-spacing:-0.05em;}
.tit_area {text-align:center;padding-top:20px;}
.tit_area h1 {font-size:22px;font-family:"Malgun Gothic","맑은 고딕",dotum,'돋움',gulim,'굴림',AppleGothic,Helvetica,Sans-serif;letter-spacing:-0.05em;}
.tit_area .sub_txt {font-size:16px;margin-left:5px;}

/* pop_tbl */
.pop_tbl {margin:10px 0;border:2px solid #333;width:100%;border-collapse:collapse;table-layout:fixed;font-family:"Malgun Gothic","맑은 고딕",dotum,'돋움',gulim,'굴림',AppleGothic,Helvetica,Sans-serif;}
.pop_tbl td {border:1px solid #989898;padding:3px 5px;font-size:12px;}
.pop_tbl .th {border-left:1px solid #989898;border-bottom:1px solid #989898;font-size:14px;}
.info_tbl .line {border-left:2px solid #333;font-size:16px;font-weight:bold;padding:5px 0;}

.odr_tbl {margin-bottom:0;}
.odr_tbl th {font-size:14px;padding:5px 0;}
.odr_tbl td {text-align:center;padding:5px;}
.odr_tbl .prod {text-align:left;height:24px;word-break:break-all;}
.odr_tbl .prod_name {display:block;min-height:34px;}
.odr_tbl .line {border-left:2px solid #333;}

/* pnt_r */
.pnt_r h1 {color:#ea2127;}
.pnt_r .pop_tbl {border-color:#ec1d25;}
.pnt_r .line {border-left-color:#ec1d25;}

.as_tbl td,.as_tbl th {border:1px solid #999;text-align:center;height:30px;line-height:30px;font-size:14px;}
/*.as_tbl th {background:#eee;}*/
.as_tbl tbody {border-bottom:1px solid #000;}
.txta {width:100%;resize:none;padding:10px;box-sizing:border-box;font-size:14px;height:100px;overflow-y:hidden;border:none;}
.as_tbl .btm {text-align:left;height:60px;font-size:14px;}
.blink {display:inline-block;width:150px;}
.blink2 {display:inline-block;width:80px;}
.as_tbl .date {text-align:left;position:static;font-size:14px;float:left;width:70%;} 
.as_tbl .sign {float:left;width:30%;}

@media print{
	@page {
		size:29.7cm;  /* A4 size */
		margin:0;
		padding:0;/* this affects the margin in the printer settings */
	}
	#pop_wrap{padding:0;margin:0;}
	.pop_tbl{min-width:620px;}
	.half_form{margin-top:20px;}
	.paper {
		margin:0;
		padding:0;
		border:0;
		border-radius:initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
	}
	.paper hr {display:none;}
	.paper .half_form.pnt_r {page-break-before:always;margin:0;padding:0;}
}
