@charset "utf-8";

/* Reset */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0;font-family:'Apple Gothic','Droid Sans','µ¸¿ò',dotum,'±¼¸²',Gulim,Helvetica,Arial,verdana,Sans-serif;}
body{-webkit-text-size-adjust:none}
.bg_e8 {background:#E8E8E8;}
.bg_grd{ height:100%;padding-top:40px;	 padding-bottom:10px;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E8E8E8));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E8 100%);
}
.logo_pos{position:absolute;right:12px;top:12px;width:53px;height:12px;}

.logo_img{background:url(//img.danawa.com/new/common/bg_logo.png) no-repeat 0 0;width:53px;height:12px;display:block;text-indent:-999em;}
.img_service_check{background:url(//img.danawa.com/new/common/bg_triangle_check.png) no-repeat 0 0;width:140px;height:112px;display:block;margin:0 auto;}
.txt_hidden{text-indent:-9999em;display:block;}
.txt_service_check{padding-top:30px;margin:0 auto;color:#333;font-size:13px;line-height:16px;}
.txt_service_check em{font-style:normal;}
.txt_align_left{text-align:left;}


.txt_type1{color:#000;font-size:12px;}
.color_blue{color:#0375e0;}
.color_black{color:#000;}
.wn{font-weight:normal;} 
.f13{font-size:13px;}

.box_detail_content{margin-top:18px;background:#f7f7f7;height:52px;padding:10px 0 14px 16px;border:1px solid #fff;
-webkit-box-shadow: 0px 2px 9px -4px rgba(102,102,102,1);
-moz-box-shadow: 0px 2px 9px -4px rgba(102,102,102,1);
box-shadow: 0px 2px 9px -4px rgba(102,102,102,1);
}

.title_h3{font-size:15px;margin-bottom:5px;}
.dot_txt_list1 li{line-height:18px;color:#333;background:url(//img.danawa.com/new/common/ico_dot.png) no-repeat 0 6px;padding:0 0 0 8px;list-style:none;font-size:13px;}
.txt_type1{margin-top:18px;font-size:12px;}

.responsive_area{margin:0 auto;width:500px;}
.box_detail_content	 {width:484px;}

 @media all and (min-width:320px){
	.responsive_area{margin:0 auto;width:288px;}
	.box_detail_content	 {width:262px;}
}
@media all and (min-width:480px){
	.responsive_area{width:400px;}
	.box_detail_content{width:384px;}
}

@media all and (min-width:580px){
	.responsive_area{width:500px;}
	.box_detail_content{width:484px;}
}


@media screen and (-webkit-min-device-pixel-ratio:1.5){
	.dot_txt_list1 li{background:url(//img.danawa.com/new/common/ico_dot.png) no-repeat 0 7px;background-size:2px auto;}
	.logo_img{background:url(//img.danawa.com/new/common/bg_logo_big.png) no-repeat 0 0;background-size:53px auto;}
	.img_service_check{background:url(//img.danawa.com/new/common/bg_triangle_checkbig.png) no-repeat;background-size:140px auto;}
}
