@charset "euc-kr";

/* common*/
legend, caption {visibility:hidden;height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px; }
table {border-collapse: collapse; border-spacing: 0; font-size:12px;}
.offscreen {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}

/* social_shopping */
.social_shopping h3.top_img {background:url(//img.danawa.com/new/socialShopping/img/img_social_shopping.jpg) no-repeat left top;width:925px;height:198px;text-indent:-9999em;margin-top:5px;}
.social_shopping .explain {text-align:right;color:#767676;font-size:11px;margin-top:7px;}

/* tabs_area */
.social_shopping .tabs_area{background:#79a0ee;padding-bottom:2px;}
.social_shopping .tabs_area ul.tabs {background:url(//img.danawa.com/new/socialShopping/img/bg_tabs.gif) repeat-x left bottom;height:30px;padding-left:2px; float:left;}
.social_shopping .tabs_area .tabs li {float:left;cursor:pointer;font-weight:bold;color:#375ad7;vertical-align:top;margin:3px 2px 0 0px;}
.social_shopping .tabs_area .tabs li a {font-weight:bold;color:#2d51d0;padding:7px 16px 3px 15px;line-height: 17px;background:#c8d7f6;display:block;}
.social_shopping .tabs_area .tabs li a:hover {text-decoration:none;}
.social_shopping .tabs_area .tabs li.select a {background:#fff;padding:7px 16px 6px 15px;}

.social_shopping .tabs_area .search_btn {text-align:right; margin-right:6px;height:30px;}
.social_shopping .tabs_area .search_btn img {position:relative; top:6px;}
.social_shopping .tabs_area .search_box {border:1px solid #707f9e; height:16px; width:220px; margin-top:5px; color:#333; font-size:12px; padding-top:3px;z-index: 0;position: static;}

.social_shopping .tabs_area .items {clear:both;*zoom:1;background:url(//img.danawa.com/new/socialShopping/img/bg_dot.gif) repeat-x left bottom;margin:0 6px;padding:14px 0 12px 12px;}
.social_shopping .tabs_area .items .now_location {color:#333;}
.social_shopping .tabs_area .items strong {color:#4166db;}
.social_shopping .tabs_area .items:after {clear:both; content:""; display:block; visibility:hidden; height:0;}
.social_shopping .tabs_area .items dt {float:left;font-weight:bold;color:#333;margin-right:28px;padding-bottom:10px;}
.social_shopping .tabs_area .items dt a {font-weight:bold;color:#333;}
.social_shopping .tabs_area .items dd {float:left;color:#666;margin-right:24px;text-align:center;line-height:18px;white-space:nowrap;}
.social_shopping .tabs_area .items dd a {color:#666;}
.social_shopping .tabs_area .items dd.select,
.social_shopping .tabs_area .items dd.select a {color:#4166db;font-weight:bold;}
.social_shopping .tabs_area .items dd.select {}
.social_shopping .tabs_area .items dd.select img {text-align:center;margin:0 auto;}
.social_shopping .tabs_area .items .last {margin-right:0px;}
.social_shopping .tabs_area .tab_content {background:#fff;margin:0 2px;}
.social_shopping .tabs_area .none {background:none;}

/* arw box */
.arw {background:url(//img.danawa.com/new/socialShopping/img/icon_arw.gif) no-repeat center bottom;padding-bottom:6px;width:7px;height:5px;position:relative;z-index:998;margin-top:-3px;_margin-top:-12px;}
:root .arw {margin:0 auto;margin-top:-3px;}
.address_box {*zoom:1;border:1px solid #e6e6e6;background:#fafafa;width:833px;padding:4px 0 2px 0;margin-top:10px;float:right;margin-right:7px;}
.address_box a {color:#999;font-size:11px;font-weight:normal;}
.address_box strong {color:#4166db;font-size:11px;}
.address_box td {padding:4px 13px 2px 13px;background:none;text-align:left;vertical-align:top;}
.address_box td.last {padding:4px 0px 2px 13px;}

/* sort_items */

.sort_items {clear:both;border-bottom:2px solid #d9d9d9;*zoom:1;}
.sort_items:after {clear:both; content:""; display:block; visibility:hidden; height:0;}
.sort_items ul {margin:18px 0 7px 0;float:right;}
.sort_items li {float:left;background:url(//img.danawa.com/new/socialShopping/img/bg_sort_items.gif) no-repeat right 0px;height:10px;padding:0 6px 0 5px;font-size:11px;vertical-align:top;line-height:100%;}
.sort_items li a {font-size:11px;}
.sort_items li.last {background:none;padding:0 14px 0 5px;}
.sort_items li.select,
.sort_items li.select a {color:#4166db;font-weight:bold;}

/* goods_list */
.goods_list {clear:both;*zoom:1;border-bottom:1px solid #e6e6e6;padding:0 15px 10px 15px;}

.goods_list_layout {width:100%;}
.goods_list_layout .col_01 {width:321px;}
.goods_list_layout .col_02 {width:307px;}
.goods_list_layout .col_03 {width:133px;*width:123px;}
.goods_list_layout .col_04 {width:164px;}
.goods_list_layout .location_gray {background:#f3f3f3;font-size:11px;color:#4166db;padding:3px 2px 3px 2px;margin-right:10px;}
.goods_list_layout .location_gray .gt {background:url(//img.danawa.com/new/socialShopping/img/bg_location.gif) no-repeat 0 4px;width:3px;display:inline-block;line-height:100%;padding-right:4px;}
:root .goods_list_layout .location_gray .gt {height:10px;padding-right:0px;}
.goods_list_layout .loc_title {color:#4166db;font-weight:bold;display:inline-block;padding-top:2px;}
.goods_list_layout td {vertical-align:top;}
.goods_list_layout td.loc {padding-top:21px;text-align:left;}
.goods_list_layout td.loc strong {font-size:11px;}
.goods_list_layout td.times {padding-top:17px;}
.goods_list_layout td.times p {float:right;margin-right:-2px;}
.goods_list_layout td.img_box p {border:1px solid #d9d9d9;padding:9px;margin:8px 0 0 0;_margin:7px 0 0 0;float:left;}
.goods_list_layout td.img_box img {width:300px;height:163px;}
.goods_list_layout td.texts {padding:16px 0 0 30px;height:102px;}
.goods_list_layout td.texts .ss_title {font-size:14px;font-weight:bold;line-height:1.5em;}
.goods_list_layout td.texts .ss_title a {font-size:14px;font-weight:bold;color:#000;}
.goods_list_layout td.texts .ss_explain {margin-top:2px;line-height:1.5em;}
.goods_list_layout td.texts .ss_explain a {line-height:1.5em;}
.goods_list_layout td.price_colum {margin-right:20px;}
.goods_list_layout td.price_colum .nor_price {text-decoration:line-through;color:#767676;margin-bottom:5px;font-size:14px;font-weight:bold;padding-top:7px;}
.goods_list_layout td.price_colum .nor_price em {font-family:Tahoma,Geneva,sans-serif;font-style:normal;font-size:15px;font-weight:normal;letter-spacing:1px;}
.goods_list_layout td.price_colum  .right_price {float:right;width:177px;}

.goods_list_layout .buy_nums {text-align:right;}
.goods_list_layout .buy_nums .buy_people {font-weight:bold;font-size:14px;color:#333;margin-top:22px;}
.goods_list_layout .total_nums {margin-top:5px;}
.goods_list_layout .bg_percent {background:url(//img.danawa.com/new/socialShopping/img/bg_percent_box.gif) no-repeat left top;width:66px;height:66px;padding:25px 0 0 0px;text-align:center;float:left;margin-right:0px;margin-left:24px;_margin-left:12px;}


/* 가격 */
.num0 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 0px;text-indent: -9999em;display:block;width:15px;float:left;}
.num1 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -33px;text-indent: -9999em;display:block;width:15px;float:left;}
.num2 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -66px;text-indent: -9999em;display:block;width:15px;float:left;}
.num3 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -99px;text-indent: -9999em;display:block;width:15px;float:left;}
.num4 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -132px;text-indent: -9999em;display:block;width:15px;float:left;}
.num5 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -165px;text-indent: -9999em;display:block;width:15px;float:left;}
.num6 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -198px;text-indent: -9999em;display:block;width:15px;float:left;}
.num7 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -231px;text-indent: -9999em;display:block;width:15px;float:left;}
.num8 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -264px;text-indent: -9999em;display:block;width:15px;float:left;}
.num9 {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -297px;text-indent: -9999em;display:block;width:15px;float:left;}
.comma {height:24px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -330px;text-indent: -9999em;display:block;width:8px;float:left;}

.won {height:22px;background:url(//img.danawa.com/new/newmain/img/icon_price.png) no-repeat;background-position:0 -363px;text-indent: -9999em;display:block;width:15px;float:left;}

/* day */
.day1 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 0px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day2 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -17px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day3 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -34px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day4 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -51px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day5 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -68px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day6 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -85px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day7 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -102px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day8 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -119px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day9 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -136px;text-indent: -9999em;display:block;width:13px;float:left;overflow:hidden;margin-top:3px;}
.day0 {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -154px;text-indent: -9999em;display:block;width:13px;float:left;margin-top:3px;}

.day_text {height:17px;background:url(//img.danawa.com/new/socialShopping/img/bg_days.gif) no-repeat;background-position:0 -183px;text-indent: -9999em;display:block;width:13px;float:left;margin-right:10px;margin-top:3px;}

/* time */
.time0 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 0;text-indent: -9999em;display:block;width:17px;float:left;}
.time1 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -21px;text-indent: -9999em;display:block;width:17px;float:left;}
.time2 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -42px;text-indent: -9999em;display:block;width:17px;float:left;}
.time3 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -63px;text-indent: -9999em;display:block;width:17px;float:left;}
.time4 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -84px;text-indent: -9999em;display:block;width:17px;float:left;}
.time5 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -105px;text-indent: -9999em;display:block;width:17px;float:left;}
.time6 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -126px;text-indent: -9999em;display:block;width:17px;float:left;}
.time7 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -147px;text-indent: -9999em;display:block;width:17px;float:left;}
.time8 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -168px;text-indent: -9999em;display:block;width:17px;float:left;}
.time9 {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:0 -189px;text-indent: -9999em;display:block;width:17px;float:left;}

.colon {height:21px;background:url(//img.danawa.com/new/socialShopping/img/bg_time.gif) no-repeat;background-position:-1px -210px;text-indent: -9999em;display:block;width:6px;float:left;}

/* percent */
.percent0 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 0;display:inline-block;width:9px;overflow:hidden;}
.percent1 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -13px;display:inline-block;width:9px;overflow:hidden;}
.percent2 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -26px;display:inline-block;width:9px;overflow:hidden;}
.percent3 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -39px;display:inline-block;width:9px;overflow:hidden;}
.percent4 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -52px;display:inline-block;width:9px;overflow:hidden;}
.percent5 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -65px;display:inline-block;width:9px;overflow:hidden;}
.percent6 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -78px;display:inline-block;width:9px;overflow:hidden;}
.percent7 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -91px;display:inline-block;width:9px;overflow:hidden;}
.percent8 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -104px;display:inline-block;width:9px;overflow:hidden;}
.percent9 {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -117px;display:inline-block;width:9px;overflow:hidden;}

.percent_p {height:13px;background:url(//img.danawa.com/new/socialShopping/img/bg_percent.gif) no-repeat;background-position:0 -130px;display:inline-block;width:13px;margin-left:1px;}


/* btn types */
.btn_types {padding:14px 0 10px 0;float:right;line-height:0.825em;}
.btn_buy_go {background:url(//img.danawa.com/new/socialShopping/img/btn_types.gif) no-repeat;background-position:0 0px;text-indent: -9999em;display:block;width:153px;height:47px;overflow:hidden;cursor:pointer;}
.btn_blog_after {background:url(//img.danawa.com/new/socialShopping/img/btn_types.gif) no-repeat;background-position:0 -59px;text-indent: -9999em;display:block;width:84px;height:19px;overflow:hidden;cursor:pointer;float:left;margin-right:5px;}
.btn_facebook {background:url(//img.danawa.com/new/socialShopping/img/btn_types.gif) no-repeat;background-position:0 -99px;text-indent: -9999em;display:block;width:19px;height:19px;overflow:hidden;cursor:pointer;float:left;margin-right:3px;}
.btn_twitter {background:url(//img.danawa.com/new/socialShopping/img/btn_types.gif) no-repeat;background-position:0 -138px;text-indent: -9999em;display:block;width:19px;height:19px;overflow:hidden;cursor:pointer;float:left;margin-right:3px;}
.btn_metoday {background:url(//img.danawa.com/new/socialShopping/img/btn_types.gif) no-repeat;background-position:0 -172px;text-indent: -9999em;display:block;width:19px;height:19px;overflow:hidden;cursor:pointer;float:left;}


/* 제휴쇼핑몰 특가 */
.business_malls h3 {background:url(//img.danawa.com/new/socialShopping/img/tit_business_mall.jpg) no-repeat left top;width:130px;height:33px;text-indent:-9999em;margin-top:20px;}
.business_malls table {border:2px solid #dedede;width:100%;margin-top:2px;margin-bottom:13px;}
.business_malls table td {border-left:1px solid #dedede;border-bottom:1px solid #dedede;width:20%;text-align:center;padding:12px 0;vertical-align:top;}
.business_malls table caption {position:static;}

.buy_caution {margin-bottom:30px;}
.buy_caution li {color:#767676;font-size:11px;vertical-align:top;line-height:1.6em;}

/* 페이징[기존] */
.indexBorder {text-align:center; position:relative; zoom:1;padding:10px 0;background:#f8f8f8;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {}
.indexBorder .active {background:#5d5d5d;color:#fff;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

/* 모달 페이지 커버 */
#pageCover{
	display:none;
	position:absolute;
	background:#FFFFFF;
	opacity:0.5;
	/* IE6, IE7 에서 opacity 속성 사용 */
	filter: alpha(opacity=50);
	/* IE8에서 opacity 속성 사용 */
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}


