@charset "utf-8";

.gnbRootMenuStyle a {text-indent:-9999em;display:block;}
.img_sts1{background:url(//img.danawa.com/new/stealth/img/img_sts1.jpg) no-repeat 0 0;width:925px;height:367px;text-indent:-9999em;margin-top:6px;}
.img_sts2{background:url(//img.danawa.com/new/stealth/img/img_sts2.jpg) no-repeat 0 0;width:925px;height:621px;position:relative;}
.img_sts2 p{text-indent:-9999em;}
.sts_check{background:#92c9e7;width:925px;height:181px;position:relative;margin-bottom:30px;}
.txt_sts1{background:url(//img.danawa.com/new/stealth/img/txt_sts1.gif) no-repeat 0 0;width:107px;height:14px;text-indent:-9999em;position:absolute;top:34px;left:69px;}
.btn_sts1{width:218px;height:44px;display:block;text-indent:-9999em;position:absolute;left:152px;bottom:163px;}
.btn_sts2{width:218px;height:44px;display:block;text-indent:-9999em;position:absolute;left:555px;bottom:163px;}
.btn_sts3{width:122px;height:24px;display:block;text-indent:-9999em;position:absolute;left:382px;bottom:66px;}

.sts_check_list{position:absolute;left:185px;top:34px;}
.sts_check_list li{line-height:20px;vertical-align:top;color:#2e4579;}

.st_event_result {padding:10px 0 30px 0;}