@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
body,input,textarea,select,button,table{font-size:15px;line-height:1.25em}
body{background:#fff;color:#666;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
table{border-collapse:collapse}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
a:visited {color:#666}
.skip{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap}
.hidden {display:none;}
.screen_out {display:block;font-size:1px;height:1px;line-height:0;overflow:hidden;position: absolute;text-indent: 10px;white-space: nowrap;width: 1px;color:transparent}
.skip_tb {font-size: 0;height: 0;left: -999em;line-height: 0;overflow: hidden;position: absolute;visibility: hidden;width: 0;}
.fn {font-weight:normal !important;}

/* Layout */
#main_content {width:100%;height:100%;}
#main_myinfo {padding:20px 0 20px 0;}
#wrap_gray {background:#f2f4f4;}
#login_content {padding:10px 0 20px 0;}
#reg_content {padding-bottom:20px;}
#set_area {padding-bottom:0px;}
#reg_list_content {}


/* notice */
.notice {font-size:12px;color:#333;margin-left:16px;}
.notice .icon_notice img {width:23px;display:inline-block;vertical-align:middle;margin-right:9px;}
.notice p {letter-spacing:-1px;overflow:hidden;display:block;text-overflow:ellipsis;white-space:nowrap;margin-right:10px;}
.notice p a {color:#333;font-size:12px;}

/* top_banner */
.top_banner {height: 160px;text-align:center;width:100%; border-radius: 5px;background:#fff;}
.top_banner_margin {margin:0 16px;}
.thumb {position:relative;width:288px;height: 160px;}
.top_banner img {width:288px;height: 160px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.top_banner .thumb {display:inlie-block;}
.top_banner .left_time {position:absolute;top:-42px;left:20px;display:block;width:200px;color:#28afef;font-weight:bold;letter-spacing:-1px;float:left;text-align:left;}
 /* -webkit-appearance:none :개별선택 */

/* hot_products */
.hot_products {clear:both;overflow:hidden;text-align:center;margin:0 8px 0 16px;padding-bottom:20px;}
.hot_products  h2 {color:#000;font-size:15px;letter-spacing:-1px;margin:15px 0 8px 0;text-align:left;}
.products_list {float:left;text-align:center;}

/* img_box */
.img_box {position:relative;}
.title_box {	position:absolute; left:0; bottom:4px;opacity: 0.3; filter:alpha(opacity=30); background:#000;height:24px;width:100%;text-align:center;}
.img_title {position:absolute;right:5px;bottom:7px;width:90%x;text-align:right; font-size:13px; color:#fff; z-index:99;height:16px;line-height:18px;font-weight:bold;overflow:hidden;}/*  text-shadow: 1px 1px 2px #000; */

/* product_wrap */
.product_wrap {width:100%;clear:both;overflow:hidden;}
.product_wrap ul {width:50%;}
.product_wrap ul li {margin-right:8px;margin-bottom:6px}
.product_wrap ul li img{width:100%;}


/* paging */
.paging_main {display:inline-block;position:absolute;top:-32px;height:16px;text-align:center;width:100%;}
.paging_main .num_page {background-color:#e1e3e6;border-radius:4px 4px 4px 4px;box-shadow:0 1px 0 rgba(0, 0, 0, 0.08) inset;display:inline-block;height:8px;margin-top:8px;overflow:hidden;text-indent:10px;vertical-align:top;width:8px;	 margin-right:8px;}
.paging_main em.num_page {background-color:#646a77;}
.paging_position {position:relative;}


.paging_tips {display:inline-block;height:24px;text-align:center;width:100%;}
.paging_tips .num_page {background-color:#a0a3ab;border-radius:6px;display:inline-block;height:12px;width:12px;margin-top:8px;overflow:hidden;text-indent:12px;vertical-align:top;	 margin-right:8px;}		  /* box-shadow:0 1px 0 rgba(0, 0, 0, 0.08) inset; */
.paging_tips  em.num_page {background-color:#28afef;}



/* main_myinfo */
.myinfo_area {margin:0 0px;}
.myinfo_area h2 {font-size:13px;color:#666;margin:16px 0 8px 16px;font-weight:normal;}
.myinfo_area h3 {font-size:16px;color:#333;padding:16px 0 0 16px;}
.mybox_list ul { }
.mybox_list li {background:#fff;height:52px;position:relative;border-top:1px solid #e1e3e6;}
.mybox_list li a {display:block;height:52px;}
.mybox_list li .li_right {position:absolute;right:16px;top:16px;height:20px;}
.mybox_list li .li_right em {font-style:normal;color:#28afef;font-weight:bold;font-size:16px;}
.mybox_list li.first {border-top:none;}
.ntxt {color:#ccc;font-size:14px;}
.bprice {color:#28afef;font-size:16px;font-weight:bold;}
.mybox_list li .li_right .arrow {vertical-align:middle;}
.mybox_list li .sns_right {position:absolute;right:12px;top:11px;}
.mybox_list li .sns_right a {height:40px;display:inline-block;margin-right:4px;vertical-align:middle;color:transparent;}
.notice_list li {min-height:52px;height:auto !important;line-height:20px;border-bottom:1px solid #e1e3e6;border-top:none;}
.notice_list li a {min-height:52px;height:auto !important;line-height:20px;}
.notice_list li h3 {margin-right:50px;padding-bottom:16px;word-break:break-all;word-wrap:break-word;clear:both;overflow:hidden;}
.notice_list li h3.normal {font-weight:normal;}
.notice_list li .wdate {text-align:right;float:right;margin-right:0px;color:#999;font-size:14px;font-weight:normal;	}
.notice_list li .li_right {top:32%;}

.mybox_logout h3 {color:#ccc;}

/* open_txt */
.notice_list li.open_area {height:auto !important;background:#f2f4f4;border-bottom:1px solid #bbbdbf;}
.notice_list li .open_txt {font-size:15px;line-height:20px;color:#666;padding:13px 16px;}


/* icons */
.icon {display:inline-block;overflow:hidden;background-repeat:no-repeat;color:transparent;white-space:nowrap}
.icon {background-image:url(//img.danawa.com/new/tdnw/img/icon_small.png) no-repeat;}
.ico_speaker {background:url(//img.danawa.com/new/tdnw/img/ico_speaker_s.png) no-repeat;background-position:0 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
	.icon{background-image:url(//img.danawa.com/new/tdnw/img/icon_big.png);-webkit-background-size:250px 250px;background-size:250px 250px}
	.ico_speaker {background:url(//img.danawa.com/new/tdnw/img/ico_speaker_b.png) no-repeat;-webkit-background-size:20px 20px;background-size:20px 20px}
}
.arrow {width:13px;height:22px;background-position:0 0;margin-left:15px;}
.arrow2 {width:4px;height:8px;background-position:-40px -40px;display:inline-block;vertical-align:middle;line-height:999px;overflow:hidden;margin-left:2px;}
.arrow3 {width:14px;height:10px;background-position:-80px -40px;display:inline-block;vertical-align:middle;line-height:999px;overflow:hidden;margin-left:6px;}
.arrow4 {width:16px;height:14px;background-position:-200px 0;display:inline-block;vertical-align:middle;line-height:999px;overflow:hidden;margin-left:6px;}

.arrow_open {transform:rotate(90deg);margin-right:-4px; margin-top:8px;
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.icon_time {width:15px;height:16px;background-position:-120px -40px;display:inline-block;vertical-align:middle;line-height:999px;overflow:hidden;margin-right:3px;}
.ico_search {width:20px;height:20px;background-position:-40px 0;display:block;position:absolute;left:16px;top:10px;}
.ico_search span {text-indent:-9999em;display:block;}
.none {background:none;width:28px;height:20px;}

.ico_app_danawa {background-position:0 -110px;}
.ico_app_market {background-position:-70px -110px;}
.ico_app_pc {background-position:-140px -110px;}
.ico_app_car {background-position:0 -180px;}
.ico_app_camping {background-position:-70px -180px;}
.ico_app_event {background-position:-140px -180px;}

.ico_new {width:20px;height:20px;background-position:-120px 0;display:inline-block;vertical-align:middle;line-height:999px;overflow:hidden;}


/* sns_btn */
.sns_btn {margin-top:7px;position:relative;text-align:center;}
.sns_btn a {height:40px;display:inline-block;margin-right:4px;vertical-align:middle;color:transparent}
.sns_btn .btn_reg {color:#fff;padding:0 15px;text-align:center;}

.kakao     {background-position:0 -60px;width:40px;}
.mypep    {background-position:-50px -60px; width:40px;}
.twitter    {background-position:-100px -60px;width:40px;}
.facebook {background-position:-150px -60px;width:40px;}

.sns_right .kakao     {background-position:-220px -40px;width:30px;}
.sns_right .mypep    {background-position:-220px -80px; width:30px;}
.sns_right .twitter    {background-position:-220px -120px;width:30px;}
.sns_right .facebook {background-position:-220px -160px;width:30px;}


/* search_path */
.search_path {padding:20px 0;}
.search_path h2 {text-indent:-9999em;}
.search_path .path_now {color:#000;font-size:15px;margin:0px 16px 9px 16px;font-weight:bold;}
.search_path .path_now a {color:#000;font-size:15px;}

 /* search_box */
.search_margin {margin:0 16px 10px 16px;min-width:200px;}
.search_box {border-radius:4px;background:#f2f4f4;height:40px;padding:0px 0 0 43px;position:relative;}
.search_box input {width:100%;border:0 none;color:#999;font-size:14px;padding:11px 0;background:none;-webkit-appearance:none;border-radius:0}
.search_box_blue {background:#28afef;}
.search_box_blue input {color:#fff;font-weight:bold;}
.search_box_blue .ico_search  {background-position:-80px 0;}

.lately_search_word {background:#f2f4f4;min-height:44px;position:relative;border-bottom:1px solid #e1e3e6;}
.lately_search_word h4{color:#333;font-size:16px;padding:13px 0 0 15px;}


/* search_word_list */
.search_word_list {}
.search_word_list li {position:relative;border-bottom:1px solid #e1e3e6;}
.search_word_list li a {display:block;min-height:44px;}
.search_word_list li .item {color:#333;font-size:15px;font-weight:bold;display:block;padding:13px 0 0 15px;}
.search_word_list li .arrow {position:absolute;right:16px;top:12px;text-indent:-9999em;display:block;}

/* search_result_area */
.search_result_area2 {border-top:1px solid #bbbdbf;}
.search_none {padding:15px 16px 20px 16px;}

/* check_area */
.check_area {text-align:right;margin: 6px 16px 0px 0;clear:both;overflow:hidden;}
.check_area .input_chb  label {color:#333;font-weight:bold;font-size:15px;letter-spacing:-1px;}
.check_area .input_chb {float:right;width:126px;margin:0;}

 /* search_photo_list */
.search_photo_list {}
.search_photo_list li {border-bottom:1px solid #e1e3e6;position:relative;vertical-align:middle;clear:both;overflow:hidden;min-height:74px;height:auto !important;}
.search_photo_list li a {display:block;padding:0px 89px 0px 78px;display:table;height:74px;}
.search_photo_list .thumb_img {position:absolute;left:16px;top:8px;}
.search_photo_list .thumb_img img {width:50px;height:50px;}
.search_photo_list .subject {color:#333;font-size:15px;line-height:16px;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;vertical-align:middle;display:inline-block;word-break:break-all;word-wrap:break-word;display:table-cell;}
.search_photo_list .btn_reg { position:absolute;right:16px;top:17px;display:block;}

/* select_area */
.select_area {padding:0 8px 0 16px;border-bottom:1px solid #e1e3e6;}
.select_area ul {width:100%;clear:both;overflow:hidden;margin:12px 0;}
.select_area li {width:50%;float:left;}
.select_area li select {width:100%;height:25px;}
.select_area li .select_wrap {margin-right:8px;}

/* more_view */
.more_view {background:#f2f4f4;height:40px;vertical-align:middle;font-weight:bold;}

/* button types */
.btn_more_view {color:#333;font-size:15px;line-height:40px;display:block;text-align:center;}
.btn_more_view:visited {color:#333;}
.btn_word_delete {display:block;color:#666;background:#fff;width:66px;height:22px;line-height:22px;border:1px solid #e1e3e6;border-radius:4px;position:absolute;right:16px;top:10px;font-size:13px;text-align:center;letter-spacing:-1px;font-weight:bold;}
.btn_word_delete:active {background:#202226;color:#fff;border:1px solid #202226;}

.btn_reg {
font-size:20px;font-weight:bold;line-height:40px;color:#fff;padding:0 8px;height:40px;text-align:center; letter-spacing:-1px;
font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;
background-color:#545a66;	  /* etc */
background: -webkit-gradient(linear, left top, left bottom, from(#545a66), to(#454b58)); /* webkit */
background: -moz-linear-gradient(top,#545a66, #454b58); /* Firefox */
border-radius: 4px;	}/* text-shadow:5px 5px 5px rgba(0,0,0,.3); */
.btn_reg:active {background:#202226;color:#fff;}

.btn_type1 {
background-color:#bbbdc2;	  /* etc */
background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc2), to(#b5b7bd)); /* webkit */
background: -moz-linear-gradient(top,#bbbdc2, #b5b7bd); /* Firefox */
border-radius:4px;color:#fff !important;font-size:13px;font-weight:bold;height:24px;line-height:24px;padding:0 10px;letter-spacing:-1px;display:inline-block;}
.btn_type1:active {background:#202226;color:#fff !important;}
.btn_type2 {
border:1px solid #e1e3e6;background:#fff;
border-radius:4px;color:#28afef !important;font-size:13px;font-weight:bold;height:24px;line-height:24px;padding:0 9px;letter-spacing:-1px;display:inline-block;}
.btn_type2:active {background:#202226;color:#fff !important;border:1px solid #202226;}
.btn_type3 {
border:1px solid #e1e3e6;	background:#fff;
border-radius:4px;color:#666 !important;font-size:13px;font-weight:bold;height:24px;line-height:24px;padding:0 9px;letter-spacing:-1px;display:inline-block;margin-left:7px;}
.btn_type3:active {background:#202226;color:#fff !important;border:1px solid #202226;}
.btn_type3_2 {height:22px;line-height:22px;}
.btn_type4 {
border:1px solid #e1e3e6;	background:#fff;
border-radius:4px;color:#666 !important;font-size:20px;font-weight:bold;height:38px;line-height:38px;letter-spacing:-1px;display:inline-block;}
.btn_type4:active {background:#202226;color:#fff !important;border:1px solid #202226;}
.btn_type5 {font-size:13px;}
.btn_type5 em {color:#999;font-style:normal;font-weight:normal;}
 .btn_type6:active {background:#202226;color:#fff !important;}
.btn_type6 {
font-size:20px;font-weight:bold;line-height:40px;color:#fff;padding:0 8px;height:40px;text-align:center;
font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;
background-color:#28afef;border-radius: 4px;}
.btn_type6:active {background:#202226;color:#fff;}
.btn_center {text-align:center;margin:20px 0 0 0;}
.btn_center	 .btn_reg {display:inline-block;color:#fff;padding:0 15px;}
.btn_both {padding:20px 16px;position:relative;border-top:1px solid #e1e3e6;}
.btn_both  .pr {position:absolute;right:16px;top:20px;}


.btn_start{
font-size:20px;font-weight:bold;line-height:40px;color:#fff;padding:0 8px;height:40px;text-align:center;
letter-spacing:-1px;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;
background-color:#28afef;	border-radius: 4px;letter-spacing:-1px;}
.btn_start:active {background:#28afef;color:#fff;}
.btn_start:visited {color:#fff;}

.btn_work  {margin:13px 30px 0 30px;}
.btn_work .btn_start {display:block;}

.login_state .btn_type1 {
background-color:#bbbdc2; /* etc */
background: -webkit-gradient(linear, left top, left bottom, from(#545a66), to(#454b58)); /* webkit */
background: -moz-linear-gradient(top,#545a66, #454b58); /* Firefox */
border-radius:4px;color:#fff !important;}
.login_state	.btn_type1:active {background:#202226;color:#fff;}


.btn_full_size {margin:20px 4px 0 16px;}
.btn_full_size .btn_row1 {clear:both;*zoom:1;width:100%;}
.btn_full_size .btn_row1 li {width:50%;float:left;margin-right:0px;}
.btn_full_size .btn_row1 li a {display:block;margin-right:12px;text-align:center;font-size:13px;}
.btn_full_size .btn_row2 {clear:both;*zoom:1;overflow:hidden;margin-right:12px;padding-top:12px;}

.btn_full_size .btn_reg {height:40px;color:#fff;display:block;font-size:20px;font-weight:bold;}
.btn_full_size .btn_reg em {font-style:normal;color:#c8c8c8;font-size:20px;font-weight:normal;}
.btn_full_size .btn_reg:active {background:#202226;color:#fff;}

.btn_full_size2 {margin:10px 70px 0 70px;}
.btn_full_size2 .btn_type4 {display:block;text-align:center;}
.btn_full_size2 .btn_type6 {display:block;text-align:center;color:#fff;}
.btn_full_size2 .btn_reg {height:40px;color:#fff;display:block;font-size:20px;font-weight:bold;}
.btn_full_size2 .btn_reg em {font-style:normal;color:#c8c8c8;font-size:20px;font-weight:bold;}

.btn_full_size2 .btn_type6:active {background:#28afef;color:#fff;}
.btn_full_size2 .btn_reg:active {background:#202226;color:#fff;}


.btn_full_size3 {margin:10px 45px 0 45px;}
.btn_full_size3 .btn_reg {height:50px;line-height:22px;padding-top:10px;letter-spacing:-1px;}
.btn_full_size3 .btn_reg .email {font-size:16px;font-weight:normal;line-height:22px;letter-spacing:-px;}

.btn_full_size4 {margin:20px 70px 20px 70px;}

.small_btn {clear:both;*zoom:1;overflow:hidden;width:100%;}
.small_btn li	 {width:50%;float:left;}
.small_btn li	 a {display:block;margin-right:14px;}
.small_btn li	 .btn_type4 {font-size:13px;color:#666;font-weight:bold;letter-spacing:-1px;height:22px;line-height:22px;}
.small_btn li	 .btn_type4:active {background:#202226;color:#fff;}

/* search none : txt type */
.txt1 {color:#464c59;line-height:22px;font-size:15px;font-weight:bold;}
.txt1 em {font-weight:bold;font-style:normal;color:#28afef;font-size:15px;}
.txt2 {color:#666;line-height:22px;font-size:15px;}
.txt5 {color:#666;line-height:44px;font-size:36px;text-align:left;}

.btm_txt2 {text-align:center;margin:20px 45px 0 45px;}
.btm_txt2 .txt3 {line-height:18px;font-size:13px;color:#999;}
.btm_txt2 .txt3 em {font-size:13px;font-style:normal;color:#28afef;}

.btm_txt3 {text-align:left;margin:20px 16px 0px 16px;}
.btm_txt3 .txt4 {line-height:18px;color:#999;font-size:13px;}
.btm_txt3 .txt4 em {font-size:13px;font-style:normal;color:#28afef;}

.mark_check {margin:10px 0;}
.mark_check li {line-height:18px;font-size:13px;color:#999;}


/* event_view */
.event_view {margin:20px 16px;}

/* event_img */
.event_img img {width:100%;}
.event_title {color:#333;font-weight:bold;font-size:18px;line-height:22px;margin-bottom:14px;}
.event_view .left_time {color:#28afef;font-size:14px;font-weight:bold;line-height:13px;margin-bottom:16px;}


/* comment_list */
.comment_list li {border-top:1px solid #bbbdbf;padding:20px 0 0px 0;}
.comment_list li .top_area {position:relative;margin:0px 16px 10px 16px;}
.comment_list li .ltxt strong {color:#333;font-size:15px;}
.comment_list li .ltxt .lp1 {letter-spacing:-1px;}
.comment_list li .ltxt .wdate {color:#999;font-size:15px;}
.comment_list li .top_area .rtxt {color:#666;font-size:14px;position:absolute;right:0px;top:0px;}
.comment_list li .top_area .rtxt em {font-style:normal;font-weight:bold;font-size:14px;color:#28afef;}
.comment_list li .replay_txt {margin:10px 16px 0 16px;word-break:break-all;word-wrap:break-word;padding-bottom:10px;}
.comment_list li .bottom_area {margin:0px 16px 20px 16px;position:relative;min-height:24px;}
.comment_list li .bottom_area .word_limit {position:absolute;right:0px;top:0px;color:#999;font-size:13px;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
.comment_list li .bottom_area mtxt {color:#666;font-size:15px;letter-spacing:-1px;line-height:20px;word-break:break-all;word-wrap:break-word}
.comment_list li .reply_2depth {border-top:1px solid #e1e3e6;background:#f2f4f4;clear:both;padding:20px 16px 10px 16px;}
.comment_list li .reply_2depth .arrow4 {position:absolute;left:0px;top:0px;margin:0px 9px 0 0;width:16px;vertical-align:top;}
.comment_list li .reply_2depth .ltxt {padding:0px 0 0 24px;position:relative;}
.comment_list li .reply_2depth .ltxt strong{display:inline-block;margin-bottom:6px;position:relative;top:-3px;}
.comment_list li .reply_2depth .ltxt .wdate{display:inline-block;margin-bottom:6px;position:relative;top:-3px;}

.comment_list li .reply_2depth	 .replay_txt {margin:0px 0px 0 24px;}
.comment_list li .reply_2depth .bottom_area {margin:0px 0 10px 0;}
.comment_list li .rbtn {position:absolute;right:0px;top:0px;}

/* textarea_block */
.textarea_block {margin:0px 16px 0 16px;}
.textarea_block fieldset {border:0 none;}
.textarea_block legend {display:none;margin:0;padding:0;}
.textarea_block .textarea_wrap {background:#f2f4f4;border-radius:4px;border:1x solid #ff0000;padding:10px 10px 10px 10px;min-height:40px;margin-bottom:10px;}
.textarea {color:#999;font-size:14px;border:0 none;-webkit-appearance:none;border-radius:4px;outline: 0 none;resize: none;background:#f2f4f4;width:100%; resize: horizontal;word-wrap: break-word;}

.reply_2depth .textarea_wrap {background:#fff;padding:10px 10px 10px 10px;}
.reply_2depth .textarea	{background:#fff;}
.reply_2depth .textarea_block {margin:0px 0 0 0px;}
.textarea_2depth {margin:0 0 0 24px;}


/* 최근 등록 상품 */
/* product_explain */
.product_explain {background:#f2f4f4;padding:20px 16px;}
.product_path {color:#666;font-size:15px;line-height:16px;margin-bottom:8px;}
.product_title {color:#333;font-size:18px;line-height:22px;font-weight:bold;}
.product_lowprice {color:#28afef;font-size:15px;line-height:22px;margin-top:4px;}


/* product_link */
.product_link {position:relative;padding:20px 0;min-height:132px;}
.product_link:after{display:block;clear:both;content:''}
.product_link .thumb {width:132px;position:absolute;left:16px;top:20px;}
.product_link .thumb img {width:132px;height:132px;}
.product_link .btn_link {position:absolute;right:0px;top:30px;width:172px;text-align:center;}
.product_link .basic_money {color:#28afef;margin-top:8px;font-size:15px;font-weight:bold;letter-spacing:-1px;text-align:center;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}
.product_link .btn_reg {display:inline-block;color:#fff;width:140px;padding:0 0px;}
.product_link .btn_reg:active {background:#202226;color:#fff;}
.product_link .btn_type4 {width:138px;text-align:center;margin-bottom:8px;}
.product_link .btn_type4:active {background:#202226;color:#fff !important;}

/* user_images */
.user_images {border-top:1px solid #bbbdbf;padding:20px 16px;margin-top:-1px;}
.user_images h2 {color:#000;font-size:15px;letter-spacing:-1px;font-weight:bold;margin-bottom:12px;}
.user_images h2 em {font-style:normal;font-weight:bold;color:#28afef;font-size:15px;}
.user_images_cont img {width:100%;margin:0 0 16px 0;float:left;}
.user_images_cont img {width:100% !important;height:auto !important;}
.user_images_cont  div {width:100% !important;}

.btn_center .basic_money {color:#28afef;margin-top:8px;font-size:15px;font-weight:bold;letter-spacing:-1px;text-align:center;font-family:'Apple Gothic','Droid Sans','돋움',dotum,'굴림',Gulim,Helvetica,Arial,verdana,Sans-serif;}


.none_image {text-align:Center;margin:30px 0;}
.none_image img {width:106px;height:98px;text-align:Center;}
.reg_none_text {text-align:center;}
.reg_none_text .txt_none1 {font-size:15px;line-height:22px;color:#464c59;font-weight:bold;}
.reg_none_text .txt_none2 {font-size:15px;line-height:22px;color:#666;}
.reg_none_text .txt_none2 em {color:#28afef;font-style:normal;}

.reg_none_text .txt_money {font-size:15px;line-height:22px;color:#28afef;font-weight:bold;letter-spacing:-1px;margin-top:10px;}
.user_info .screen_out {display:block;font-size:0;height:1px;left:-9999px;line-height:0;overflow:hidden;position:absolute;text-indent:-9999px;width:1px;}

input[type="text"], input[type="password"], input[type="submit"], input[type="search"] {border-radius:0;}

/* login_area */
.login_area{clear:both;margin:0 20px;padding-bottom:9px;position:relative;}
.invisible {display:none;}
.user_info{overflow:hidden;padding-right:102px;}

.cont_tf{background-color:#FFFFFF;border:0 none;border-radius:4px;height:30px;margin-top:10px;overflow:hidden;padding:5px 35px 5px 8px;position:relative;}
.cont_tf .tf_g{border:0 none;height:30px;line-height:20px;margin:0;padding:0;width:100%;}
.check_login{color:#666;font-size:15px;padding:12px 0 0;vertical-align:middle;display:inline-block;overflow:hidden;clear:both;}
.check_login .btn_login { background-color:#28afef;border:1px solid #28afef;border-radius:4px;cursor:pointer;height:91px;position:absolute;right:0;top:10px;width:91px;}
.check_login .btn_login span {color:#F4F4F4;font-size:20px;font-weight:bold;line-height:64px;}
.check_login .btn_login:active {background:#202226;color:#fff;border:1px solid #202226;}
.check_login .btn_login span:active {background:#202226;color:#fff;}

.join_info {background:#fff;padding:25px 16px;}
.txt_join1 {color:#464c59;font-weight:bold;font-size:16px;line-height:20px;margin-bottom:5px;}
.txt_join2 {color:#666;font-size:15px;line-height:20px;}

/* select_list */
.select_list {clear:both;overflow:hidden;*zoom:1;padding:20px 0;margin:0 16px;}
.select_list li {float:left;width:33.3%;}
.select_list li .select_wrap {margin-right:12px;display:block;}
.select_list li select {width:100%;color:#444;font-size:14px;height:24px;}
.select_list li.last {float:left;width:33.3%;}
.select_list li.last  .select_wrap{margin-right:0px;}
.select_list3 li {float:left;width:25% !important;}

/* sort_list2 */
.sort_list2 {width:100%;}
.title_list {width:100%;clear:both;overflow:hidden;background:#bbbdbf;}
.title_list li {float:left;width:33.3%;font-size:13px;font-weight:bold;color:#fff;text-align:center;height:24px;line-height:24px;}
.title_list .left_16 {text-align:left;}
.title_list .left_16 span {padding-left:28px;}
.title_list .right_16 {text-align:right;}
.title_list .right_16 span {padding-right:20px;}
.title_list .left_align {width:80%;text-align:left;}
.title_list .left_align span {padding-left:16px;}

 /* number_list */
.number_list {width:100%;clear:both;overflow:hidden;}
.number_list li {float:left;width:33.3%;color:#28afef;font-size:20px;font-weight:bold;text-align:center;height:52px;line-height:52px;}

/* product_state_list */
.product_state_list {border-collapse: collapse;width:100%;}
.product_state_list tr {cursor:pointer;}
.product_state_list th {background:#bbbdbf;font-size:13px;font-weight:bold;color:#fff;text-align:center;height:24px;line-height:24px;cursor:pointer;}
.product_state_list td {border-bottom:1px solid  #e1e3e6;vertical-align:middle;cursor:pointer;}
.product_state_list .pnum {text-align:Center;width:12%;font-size:14px;color:#666;}
.product_state_list .pnum	 a {font-size:14px;color:#666;}
.product_state_list .pdetail {width:66%;padding:12px 0 12px 10px;line-height:22px;}
.product_state_list .pdetail a .ppath {font-size:14px;color:#666;}
.product_state_list .pdetail a .pdate {font-size:14px;color:#999;}
.product_state_list .pdetail a .pname {color:#333;font-weight:bold;font-size:15px;}
.product_state_list .pdetail .ppath {font-size:14px;color:#666;}
.product_state_list .pdetail .pdate {font-size:14px;color:#999;}
.product_state_list .pdetail .pname {overflow:hidden;display:block;text-overflow:ellipsis;white-space:nowrap;width:200px;color:#333;font-weight:bold;font-size:15px;}
.product_state_list .pstate {text-align:Center;width:22%;}
.product_state_list .pstate a {font-size:14px;color:#666;}
.product_state_list .pstate .pmoney {font-size:14px;color:#666;margin-bottom:6px;}
.product_state_list2 .pdate {width:22%;font-size:13px;text-align:Center;color:#666;}
.product_state_list2 .pdetail {width:54%;}
.product_state_list2 .pstate {width:24%;text-align:Center;letter-spacing:-1px;color:#666;font-size:13px;}
.product_state_list2 .apply_done {color:#666;font-size:13px;font-weight:bold;}
.product_state_list2 .refund_done {color:#28afef;font-size:13px;font-weight:bold;}
.product_state_list2 .none {text-align:center;color:#666;font-size:15px;line-height:16px;vertical-align:middle;padding:20px 0;}
.product_state_list2 .skip_tb {display:none;}
.product_state_list2 .pdetail a .pname2 {color:#333;font-weight:bold;font-size:15px;}
.txt_none_style  {text-align:center !important;color:#666 !important;font-size:15px !imporatnt;line-height:16px;vertical-align:middle;padding:20px 0;}
.search_photo_list li.txt_none_style  {padding:20px 0 0px 0;font-size:15px;min-height:40px;}

/* reg_view_list */
.reg_view_list dl {border-bottom:1px solid #e1e3e6;clear:both;*zoom:1;overflow:hidden;}
.reg_view_list dt {margin:0 0px 0 16px;font-weight:bold;letter-spacing:-1px;}
.reg_view_list dd {font-size:15px;color:#333;}
.reg_view_list .goods_name dd {color:#28afef;}
.reg_view_list .goods_name dd a{color:#28afef;font-size:15px;}
.reg_view_list .goods_name dt {float:left;width:68px;padding:19px 0;}
.reg_view_list .goods_name dd {padding:19px 0;}
.reg_view_list .path_category dt {float:left;width:68px;padding:19px 0;}
.reg_view_list .path_category dd {padding:19px 0;}
.reg_view_list .goods_photo {padding-bottom:8px;}
.reg_view_list .goods_photo dt {padding:19px 0 12px 0;}
.reg_view_list .goods_photo dd {padding:0 10px;}

.reg_view_list2 {padding:20px 0 6px 0;border-bottom:1px solid #bbbdbf;}
.reg_view_list2 dl {clear:both;*zoom:1;overflow:hidden;margin-bottom:12px;}
.reg_view_list2 dt {margin:0 0px 0 16px;font-weight:bold;letter-spacing:-1px;float:left;width:82px;font-size:16px;color:#666;}
.reg_view_list2 dd {font-size:16px;color:#333;float:left;font-weight:bold;}
.reg_view_list2 dd strong {color:#2cb0ef;font-size:16px;line-height:16px}
.reg_view_list2 .type2 dt {width:60%;margin-left:0px;}
.reg_view_list2 .type2 dt span {padding-left:16px;font-size:16px;}
.reg_view_list2 .type2 {width:100%;}
.reg_view_list2 .type2 dd {text-align:right;float:right;position:absolute;right:16px;}
.reg_view_list2 .type2 dd strong.black {color:#666;font-size:16px;}

.photo_none {background:url(//img.danawa.com/new/tdnw/img/bg_photo.gif) no-repeat center center;}
.photo_none span {display:block;text-indent:-999em;}

.goods_photo ul {clear:both;overflow:hidden;*zoom:1;width:100%;min-height:100%;margin:0 0;}
.goods_photo li {float:left;width:20%;text-align:center;margin-bottom:12px;}

/*	  view_txt */
.view_txt {margin:16px 16px;line-height:22px;letter-spacing:-1px;color:#333;font-size:15px;}

/* return_reason */
.return_reason {background:#f2f4f4;border-top:1px solid #bbbdbf;border-bottom:1px solid #bbbdbf;padding:18px 0;}
.return_reason dl {border-bottom:none; }
.return_reason dt {color:#333;font-weight:bold;font-size:15px;letter-spacing:-1px;padding-bottom:10px;}
.return_reason dd {color:#666;font-size:15px;margin-left:16px;}

/* btm_txt_area */
.btm_txt_area {border-top:1px solid #e1e3e6;padding:20px 16px 0 16px;}
.btm_txt_area .saved_money {color:#28afef;font-size:15px;font-weight:bold;letter-spacing:-1px;}

/* use_info_tab */
.use_info_tab {border-bottom:1px solid #e1e3e6;padding:12px 16px;}
.use_info_tab ul {width:100%;clear:both;overflow:hidden;*zoom:1;}
.use_info_tab ul li {width:50%;float:left;}
.use_info_tab ul li a {display:block;color:#999;font-size:16px;font-weight:bold;letter-spacing:-1px;background:#fff;border:1px solid #c8cacc;height:38px;line-height:39px;text-align:center;}
.use_info_tab ul li a.tabl {border-right:none;border-radius:4px 0 0 4px;}
.use_info_tab ul li a.tabr {border-left:none;border-radius:0 4px 4px 0;}
.use_info_tab ul li.current a {display:block;color:#fff;font-size:16px;font-weight:bold;letter-spacing:-1px;background:#28afef;border:1px solid #28afef;height:38px;line-height:39px;text-align:center;}

.use_info_tab ul li a.tabl:active {background:#202226;color:#fff;border:1px solid #202226;border-right:none;}
.use_info_tab ul li a.tabr:active {background:#202226;color:#fff;border:1px solid #202226;border-left:none;}

/* txt_happy_money */
.txt_happy_money {padding: 17px 16px 17px 16px;}
.txt_happy_money h3 {color:#333;font-weight:bold;font-size:16px;line-height:22px;margin-bottom:2px;}
.txt_happy_money p {color:#666;font-size:15px;line-height:22px;}
.txt_happy_money p em {color:#28afef;font-size:15px;font-style:normal;}
.txt_happy_money h4 {color:#28afef;font-size:15px;font-weight:bold;line-height:22px;margin:10px 0 4px 0;}
.txt_happy_money li { color:#666;font-size:15px;line-height:22px;}
.txt_happy_money .blue_color {color:#28afef;font-size:15px;line-height:22px;}
.txt_happy_money h3.blue_color {color:#28afef;font-size:16px;line-height:22px;}
.txt_happy_money .image {margin:12px 50px 30px 50px;}
.txt_happy_money .image_last {margin:12px 50px 0px 50px;}
.txt_happy_money .image img {width:100%;}

/* txt_join_content */
.txt_join_content {padding: 13px 16px;}

/* the_other_service */
.the_other_service {margin: 0 10px;}
.the_other_service h3 {color:#333;font-size:15px;font-weight:bold;padding:20px 0 6px 6px;}
.the_other_service ul {clear:both;overflow:hidden;*zoom:1;}
.the_other_service li {float:left;width:25%;margin-bottom:12px;text-align:center;}

.app_list li a {display:block;width:60px;height:60px;text-indent:-999em;text-align:center;margin:0 auto;}
.app_list li p {color:#666;font-size:13px;line-height:13px;text-align:center;width:60px;padding-top:8px;margin:0 auto;}


/* vision_info */
.vision_info {text-align:center;}
.vision_info .txt_visiton {color:#333;font-weight:bold;font-size:16px;line-height:22px;}
.vision_info .txt_blue {color:#28afef;font-weight:bold;font-size:16px;line-height:22px;}

address {text-align:Center;color:#666;font-size:14px;line-height:22px;padding-top:30px;padding-bottom:20px;}


/* space common */
.p16 {padding:0 16px;}
.ptb20 {padding:20px 0;}
.mb10{margin-bottom:10px;}
.mb12{margin-bottom:12px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mr0 {margin-right:0px !important;}
.mr45 {margin:0 45px;}


/* responsive web */
@media all and (min-width:320px){
	.photo_wrap .photo_size {width:48px !important;height:48px !important;}
	.photo_none {background-size:48px 48px;}
	.photo_none span {width:48px;height:48px;}
}

@media all and (max-width:320px){
	.photo_wrap .photo_size {width:48px !important;height:48px !important;}
	.photo_none {background-size:48px 48px;}
	.photo_none span {width:48px;height:48px;}
	.product_state_list .pdetail .pname {width:200px;}
}

@media all and (min-width:480px){
	.top_banner {background:#fff;}
	.notice {margin-left:24px;}
	.top_banner_margin {margin:0 24px;}
	.product_wrap ul li {margin-right:12px;margin-bottom:10px}
	.hot_products {margin:0 12px 30px 24px;}
	.hot_products2 {margin:0 12px 0px 24px;}
	.photo_wrap .photo_size {width:72px !important;height:72px !important;}
	.photo_none {background-size:72px 72px;}
	.photo_none span {width:72px;height:72px;}
	.product_state_list .pdetail .pname {width:360px;}
}

@media all and (min-width:640px){
	.notice {margin-left:32px;}
	.top_banner {background:#fff;}
	.top_banner_margin {margin:0 32px;}
	.product_wrap ul li {margin-right:16px;margin-bottom:14px}
	.hot_products {margin:0 16px 40px 32px;}
	.hot_products2 {margin:0 16px 0px 32px;}
	.photo_wrap .photo_size {width:96px !important;height:96px !important;}
	.photo_none {background-size:96px 96px;}
	.photo_none span {width:96px;height:96px;}
	.product_state_list .pdetail .pname {width:440px;}
}

.input_chb  input[type="checkbox"] {
-webkit-appearance: checkbox;
box-sizing: border-box;
}


/* input_chb */
.input_chb{display:block;position:relative;width:120px;height:18px;margin:10px 0 3px;float:left;}
.input_chb input {margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
.input_chb label {background:url(//img.danawa.com/new/tdnw/img/bg_checkbox.png) no-repeat;-webkit-background-size:21px 36px;background-size:21px 36px }

.input_chb .chb{z-index:100;position:absolute;top:1px;left:2px;width:107px;height:18px;border:none;opacity:0}
.input_chb label{display:inline-block;position:absolute;height:18px;padding-left:28px;top:0;left:0;background-position:0 -19px; line-height:21px;color:#666;font-size:15px;cursor:pointer;}
.input_chb .chb:checked +label{background:url(//img.danawa.com/new/tdnw/img/bg_checkbox.png) no-repeat;background-position:0 0;-webkit-background-position:0 0;-webkit-background-size:21px 36px;background-size:21px 36px;}
.input_chb3 {padding-bottom:0px;left:16px;top:-3px;}
.input_chb3 label {color:#333;letter-spacing:-1px;font-weight:bold;}

.input_margin {margin:0 16px 0 16px;}

.input_chb2{display:block;position:relative;width:100%;height:18px;}
.input_chb2 input {margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
.input_chb2 label {background:url(//img.danawa.com/new/tdnw/img/bg_checkbox.png) no-repeat;-webkit-background-size:21px 36px;background-size:21px 36px }

.input_chb2 .chb{z-index:100;position:absolute;top:1px;right:0px;width:22px;height:24px;border:none;opacity:0}
.input_chb2 label{display:block;width:100%;position:absolute;height:18px;padding-left:28px;top:16px;right:0;background-position:100% -19px; line-height:21px;color:#333;font-size:16px;font-weight:bold;cursor:pointer;}
.input_chb2 .chb:checked +label{background:url(//img.danawa.com/new/tdnw/img/bg_checkbox.png) no-repeat;background-position:100% 0;-webkit-background-position:100% 0;-webkit-background-size:21px 36px;background-size:21px 36px;}


/* event_paging */
.event_paging {text-align:Center;border-top:1px solid #bbbdbf;padding:15px 0 20px 0;}
.event_paging .nums {color:#666;font-size:18px;font-weight:bold;display:inline-block;vertical-align:middle;padding:0 20px;}
.event_paging .nums a {color:#666;font-size:18px;}
.event_paging .prev_off {background-position:-160px -30px;width:13px;height:20px;display:inline-block;line-height:9999px;overflow:hidden;font-size:0px;vertical-align:middle;}
.event_paging .next_on {background-position:0 0;width:13px;height:20px;display:inline-block;line-height:9999px;overflow:hidden;font-size:0px;vertical-align:middle}

.event_paging .prev_on {background-position:0 0;width:13px;height:20px;display:inline-block;line-height:9999px;overflow:hidden;font-size:0px;vertical-align:middle;transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */}

.event_paging .next_off {background-position:-160px -30px;width:13px;height:20px;display:inline-block;line-height:9999px;overflow:hidden;font-size:0px;vertical-align:middle;transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */ }

/* view_copuon */
.view_copuon {margin:20px 16px 0 16px;}
.view_copuon .coupon_blue_box {background-color:#2cb0ef;border-radius: 4px;padding:10px;}
.view_copuon .coupon_white_box {background-color:#fff;border-radius: 4px;padding:10px;text-align:center;}
.view_copuon .coupon_price {text-align:center;color:#fff;font-size:24px;font-weight:bold;padding:13px 0 3px 0;}
.view_copuon .coupon_company {text-align:center;padding-top:6px;}
.view_copuon .coupon_company img {width:110px;height:36px;overflow:hidden;}
.view_copuon .coupon_title {padding-top:4px;color:#333;font-weight:bold;}
.view_copuon .coupon_goods {padding-top:7px;}
.view_copuon .coupon_goods img {width:248px;height:120px;overflow:hidden;}

/* goods_inforomation */
.goods_inforomation {margin:0 16px 0px 16px;padding-bottom:21px;}
.goods_inforomation h2 {color:#333;font-weight:bold;font-size:15px;letter-spacing:-1px;margin:20px 0 3px -3px;}
.goods_inforomation ul {margin-left:3px;margin-bottom:-5px;}
.goods_inforomation li {background:url(//img.danawa.com/new/tdnw/img/bul_dot1.gif) no-repeat;background-position:0 6px;color:#666;font-size:13px;padding-left:8px;line-height:18px;}
.goods_inforomation li strong {font-weight:bold;display:block;}

/* coupon_list */
.coupon_list {}
.coupon_list li {clear:both;text-align:center;min-height:55px;height:auto !important;border-bottom:1px solid #e1e3e6;position:relative;}
.coupon_list li a {display:block;padding-top:18px;}
.coupon_list li .cdate {position:absolute;left:16px;top:18px;color:#666;font-size:14px;}
.coupon_list li .cimg {text-align:center;padding:0 0px 0 0px;word-break:break-all;word-wrap:break-word;font-size:14px;color:#666;}
.coupon_list li .cimg img {width:50px;height:16px;overflow:hidden;vertical-align:middle;display:inline-block;margin-right:10px;}
.coupon_list li .cprice {position:absolute;right:16px;top:18px;font-size:14px;text-align:right;color:#333;font-size:16px;font-weight:bold;}

/* text types */
.txt_none {color:#666 !important;font-size:15px !important;padding-top:20px;text-align:center;}
.btm_txt {color:#999;font-size:14px;text-align:center;margin:20px 0 0 0;clear:both;overflow:hidden;}


/* tbl_coupon */
.tbl_coupon  {width:100%;border-collapse:collapse;}
.tbl_coupon caption {display:none;}
.txt_none {color:#666 !important;font-size:15px !important;padding-top:20px;text-align:center;}
.tbl_coupon th {background:#bbbdbf;font-size:13px;font-weight:bold;color:#fff;text-align:left;height:24px;line-height:24px;cursor:pointer;padding-left:16px;}
.tbl_coupon td {border-right:1px solid #e1e3e6;border-bottom:1px solid #e1e3e6;text-align:center;vertical-align:middle;}
.tbl_coupon .ctitle {display:block;color:#666;font-size:12px;letter-spacing:-1px;margin-top:1px;}
.tbl_coupon .cimg {display:block;}
.tbl_coupon .cimg img {width:50px;height:16px;overflow:hidden;}
.tbl_coupon .cprice	{display:block;font-size:15px;color:#333;font-weight:bold;margin-top:5px;}
.tbl_coupon a {display:block;padding:12px 0 12px 0;}
.tbl_coupon td.last {width:33.4%;border-right:none;}

.tbl_coupon .bg_whtie {background-color:#fff;border-radius: 4px;padding:6px 6px 4px 6px;text-align:center;display:block;margin:0 12px;}
.tbl_coupon a:active {background-color:#2cb0ef;}
.tbl_coupon a:active .cprice {color:#fff;}
.tbl_coupon a.click {background-color:#2cb0ef;}
.tbl_coupon a.click .cprice {color:#fff;}

 /* border types */
.bt1 {border-top:1px solid #e1e3e6;padding-top:20px;}
.btno {border-top:none !important;}
.bbline {border-bottom:1px solid #bbbdbf;}

.notice .link_block {display:block;padding:7px 0;}

/* hot_products2 */
.hot_products2 {padding-bottom:0px;margin-top:5px;margin-bottom:0px;}
.hot_products2 h2 {color:#000;font-size:15px;letter-spacing:-1px;font-weight:bold;margin-bottom:12px;	}
.hot_products2 h2 em {font-style:normal;font-weight:bold;color:#28afef;font-size:15px;}
.hot_products2 .btn_center {margin-top:9px !important;}

.title_gray {background:#bbbdbf;font-size:13px;font-weight:bold;color:#fff;text-align:left !important;height:24px;line-height:24px;cursor:pointer;text-align:left;padding-left:16px;}

/* account_confirm_form */
.account_confirm_form {padding-top:10px;}
.account_confirm_form dl {clear:both;overflow:hidden;margin:0 16px;}
.account_confirm_form dt {float:left;width:90px;padding-top:22px;color:#333;font-weight:bold;font-size:15px;}
.input_type1{background-color:#f2f4f4;border:0 none;border-radius:4px;height:30px;margin-top:10px;overflow:hidden;padding:5px 35px 5px 8px;position:relative;}
.input_type1 .input1{border:0 none;height:30px;line-height:20px;margin:0;padding:0;width:100%;background:#f2f4f4;color:#999;font-size:14px;}
.input_white {background:#fff !important;}
.input_white .input1 {background:#fff !important;color:#666 !important;}
.btns {overflow:hidden;}
.btns .btn_type3 {margin:0 10px 0 1px;}
.mb_3 {margin-bottom:-3px !important;}
.select_type1 {margin:10px 0 0 0;}
.select_type1 em {color:#28afef;font-size:16px;line-height:30px;font-style:normal;font-weight:bold;}
.select_type1.line2 {word-break:break-all;word-wrap:break-word;line-height:18px;min-height:16px;height:auto !important; }	/* word-break:break-all;word-wrap:break-word;line-height:20px;padding-bottom:40px;min-height:20px;height:auto !important; */
.select_type1.line2 em {line-height:18px;min-height:16px;height:auto !important;padding-right: 20px; display: block; -ms-word-break: break-all; -ms-word-wrap: break-word;word-break:break-all;word-wrap:break-word;}
.select_type1 select {height:25px;text-align:center;color:#444;text-align:center;width:36%;}
.select_type1 .w100 {width:66%}
.account_confirm_form .select_padding {padding-top:15px;}

/* agree_area */
.agree_area {padding:18px 0 46px 0;}
.agree_area h3 {color:#333;font-size:15px;font-weight:bold;letter-spacing:-1px;line-height:20px;padding-left:16px;margin-bottom:4px;}
.agree_area ol {}
.agree_area  li .dot_text {background:url(//img.danawa.com/new/tdnw/img/ico_dot.gif) no-repeat 5px 8px;padding-left:12px;line-height:20px;font-size:15px;color:#666;margin-left:17px;margin-bottom:10px;margin-right:16px;}


/* refund_information */
.refund_information {padding:20px 0;}
.refund_information ol{margin:0 16px;}
.refund_information li {list-style:none;color:#666;font-size:15px;line-height:20px;margin-bottom:10px;}
.refund_information li .blue_color {color:#28afef;font-size:15px;line-height:20px;font-style:normal;}

/* copyright_content */
.copyright_content {padding:20px 16px;word-break:break-all;word-wrap:break-word;}
.rbox_ex {background:#f2f4f4; word-break:break-all;word-wrap:break-word;border-radius:4px;margin:14px 0;padding:14px 16px;}
.rbox_ex em {color:#28afef;font-size:15px;line-height:22px;font-style:normal;font-weight:bold;}

/* tip_content */
.tip_content {}
.ios_tips {padding:30px 0 20px 0;}
.an_tips {padding:30px 0 20px 0;}

.img_ios4_tip {text-align:center;margin:0 30px;}
.img_ios4_tip img {width:100%;}

.img_ios5_tip {text-align:center;margin:0 30px;}
.img_ios5_tip img {width:100%;}

.img_an_tip {text-align:center;margin:0 40px;}
.img_an_tip img {width:100%;}

/* view_txt img 100% fix */
#view_img img {width:100% !important;height:100% !important;}
#view_img div img {width:100%;height:100%;}

/* input_type2 */
.input_type2 {vertical-align:middle;}
.input_type2 .input_type2_wrap {background-color:#f2f4f4;border:0 none;border-radius:4px;height:30px;margin-top:10px;overflow:hidden;padding:5px 8px 5px 8px;position:relative;display:block;}
.input_type2 .input1{border:0 none;height:30px;line-height:20px;margin:0;padding:0;width:100%;background:#f2f4f4;color:#999;font-size:14px;}
.inwrap {width:90px;float:left;}
.input_bar {float:left;display:inline-block;vertical-align:middle;height:10px;padding:18px 4px 0 4px;}

/* search_auto_area */
.search_auto_area {position:absolute;width:100%;min-height:100%;height:auto !important;height:100%;left:0px;top:80px;z-index:999;background:#fff;}
.search_auto_area .icox {background-position:-220px -197px;width:12px;height:22px;display:inline-block;vertical-align:middle;overflow:hidden;margin-left:3px;}
.search_auto_area .right_btn {position:absolute;right:16px;top:10px;}
.search_auto_area .right_btn .btn_word_delete {position:static;right:0px;top:0px;width:auto;padding:0 10px;}
.search_auto_area .right_btn .btn_delete {margin-right:7px;float:right;}
.search_auto_area .right_btn .btn_left {position:static;float:right;}

.mr64 {margin-right:64px;position:relative;}
.voice_search {	display:block;position:absolute;right:-48px;top:0px;width:40px;height:40px;border:1px solid #e1e3e6;border-radius:4px;font-size:0;line-height:0;cursor:pointer;background:#fff;}
.ico_voice {background-position:-210px -220px;width:20px;height:30px;display:block;margin-left:10px;}

.report_txt {background:#fff;padding:20px 16px;}
.tit_report {color:#333;font-weight:bold;font-size:16px;line-height:16px;margin-bottom:10px;}
.txt_report {color:#666;font-size:15px;line-height:20px;}

.textarea_block .textarea_wrap2	 {background:#fff;min-height:80px;}
.textarea_wrap2 .textarea {background:#fff;font-size:14px;color:#ccc;}

.report_inssert {border-top:1px solid #e1e3e6;border-bottom:1px solid #e1e3e6;padding-top:10px;}
.word_limit_box {background:#f2f4f4;height:32px;}
.word_limit_box .word_txt {color:#999;font-size:13px;text-align:right;margin-right:13px;line-height:32px;}

.title_product_area {position:relative;}
.title_product_area .rbtn {position:absolute;right:0px;top:-7px;}
.title_product_area .rbtn .btn_type3 {height:22px;line-height:22px;}
.btn_center3 {padding-bottom:20px;}
.btn_center3 .btn_reg {padding:0 26px;}

.product_link {height:auto !important;}
.txt_number {color:#333;font-size:15px;font-weight:bold;letter-spacing:-1px;line-height:20px;margin-top:4px;}
.product_link .btn_link {}
.h172 {min-height:174px;}

.keyword_searh_none {padding:0px 16px 20px;margin-top:-10px;}
.txt2 .color_t1 {color:#464c59 !important;font-size:15px;font-weight:bold;}

/* txt_t */
.txt_t {position:relative;}
.txt_none3 {font-size:15px;line-height:22px;color:#464c59;margin-top:14px;vertical-align:middle;text-align:left;padding-left:30px;}
.txt_none3 a {font-size:15px;color:#464c59;vertical-align:middle;}
.txt_t  .ico_speaker {display:inline-block;width:20px;height:20px;vertical-align:middle;margin-right:7px;position:absolute;left:0px;top:2px;}

/* tdnw_popup */
.pop_content {padding:30px 18px 60px;}
.pop_content .title {background:url(//img.danawa.com/new/tdnw/img/bg_line_sd.gif) repeat-x 0 bottom;background:url(//img.danawa.com/new/tdnw/img/bg_line.gif) repeat-x 0 bottom / 1px 3px rgba(0,0,0,0);margin:0 0 25px;padding:0 0 22px;}
.pop_content .title img {display:block;margin:0 auto;max-width:559px;width:100%;}
.pop_content p {color:#4a4440;font-size:15px;}
.pop_bottom {background:#332f2c;bottom:0;height:42px;left:0;position:fixed;width:100%;}
.pop_bottom label {color:#FFFFFF;font-size:15px;float:left;margin:12px 0 0 15px;}
.pop_bottom input {margin:0 10px 0 0;}
.pop_bottom .btn_close {float:right;margin:13px 15px 0 0;}
.pop_bottom .btn_close img {display:block;height:15px;width:15px;}


