@charset "utf-8";

/* Layout */
body{font-size:13px;}
a:hover{text-decoration:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;}
input,select,textarea{border-radius:0;}
input[type=text], input[type=password], textarea{background:#fff;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;}
.cheer_content{padding-top:45px;}
.cheer_section{}

/* Common */
.chico_ver{background:url(//img.danawa.com/new/share/mobile/img/icon_ull_ver_sd.png) no-repeat;background:url(//img.danawa.com/new/share/mobile/img/icon_ull_ver_hd.png) no-repeat rgba(0,0,0,0.01);background-size:30px auto;}
.chico_btns{background:url(//img.danawa.com/new/share/mobile/img/icon_ull_btns_sd.png) no-repeat;background:url(//img.danawa.com/new/share/mobile/img/icon_ull_btns_hd.png) no-repeat rgba(0,0,0,0.01);background-size:200px auto;}
.chbtn_big{height:25px;padding:8px 20px;border:none;margin:0;font-size:16px;line-height:24px;font-weight:bold;border-radius:21px;display:inline-block;text-align:center;}
.chbtn_big .chico_ver{padding-right:24px;}
button.chbtn_big{height:43px;overflow:visible;}
.chbtn_mid{height:20px;padding:3px 14px;margin:0;font-size:14px;line-height:20px;font-weight:bold;border-radius:14px;display:inline-block;text-align:center;}
.chbtn_mid .chico_ver{padding-right:18px;}
button.chbtn_mid{height:28px;overflow:visible;}
.tel_wrap{overflow:hidden;zoom:1;}
.tel_wrap input{float:left;}
.tel_wrap select{float:left;}
.tel_wrap .tel_div{float:left;text-align:center;width:14px;}
.add_guide_list li:before{content:"- ";}
.cheer_layer{border:2px solid #ffc95c;border-radius:15px;background:#fff;padding:20px 15px;color:#795b4a;font-size:14px;line-height:18px;position:absolute;}
.cheer_layer .btn_close_layer{width:25px;height:25px;text-indent:-300px;overflow:hidden;border:none;background-position:0 -50px;top:13px;right:13px;position:absolute;}
.cheer_layer .main_comment{font-weight:bold;}
.box_intro{border:1px solid #db3631;color:#000;padding:8px 11px;}

.info_form_set .form_item{overflow:hidden;padding:4px 0;zoom:1;}
.info_form_set input,.info_form_set select,.info_form_set textarea{font-size:13px;}
.info_form_set .form_label{float:left;width:40px;font-size:13px;line-height:20px;padding-top:3px;}
.info_form_set .input_wrap{margin-left:41px;color:#333; color:#e8e8e8;}
.info_form_set .info_input{border:1px solid #fff;height:28px;line-height:26px;-webkit-box-sizing:border-box;box-sizing:border-box;width:200px;padding:0 8px;color:#333;font-weight:bold;}
.info_form_set input[type=file]{height:28px; color:#e8e8e8;}
.info_form_set textarea.info_input{resize:vertical;height:100px;line-height:20px;padding:8px;width:100%;}
.info_form_set .tel_wrap{float:none;overflow:visible;}
.info_form_set .tel_wrap:after{content:"";display:block;clear:both;}
.info_form_set .tel_wrap select{padding:0 0 0 8px;width:77px;height:28px;border:none;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;*width:70px;}
.info_form_set .tel_wrap .info_input{width:48px;}
.info_form_set .tel_wrap .tel_div{line-height:26px;width:13px;height:28px;}
.info_form_set .msg_limit{text-align:right;font-size:12px;line-height:16px;margin-top:6px;}
.info_form_set .msg_limit .num{font-weight:bold;}

.agree_form_set .agree_title{font-size:14px;font-weight:bold;line-height:20px;margin-bottom:4px;}
.agree_form_set .agree_term_frame{border:1px solid #fff;overflow:auto;font-size:12px;line-height:16px;margin-bottom:5px;padding:1px 0;}
.agree_form_set .term_text{height:50px;overflow:auto;padding:7px 9px;}
.agree_form_set .agree_q{font-size:14px;line-height:16px;margin-bottom:4px; color:#e8e8e8;}
.agree_form_set .agree_select{text-align:center;font-size:14px;line-height:20px;font-weight:bold; color:#fff;}
.agree_form_set .agree_select label{margin:0 4px;}
.agree_form_set .agree_check{text-align:right;font-size:13px;font-weight:bold;color:#000;margin-top:6px;}

.enews_form_sect .get_enews{font-size:14px;line-height:20px;font-weight:bold;margin-bottom:2px;}
.enews_form_sect .get_enews input{margin-right:4px;}
.enews_form_sect .add_guide_list{font-size:12px;line-height:16px;}
.enews_form_sect .add_guide_list li{font-size:14px;margin-bottom:4px; color:#e8e8e8;}

.dot_guide_list li{clear:both;padding-left:5px;}
.dot_guide_list li:before{content:"";display:block;float:left;width:2px;height:2px;margin:6px 0 0 -5px;background:#8a8a8a;}

.chico_sns{display:inline-block;width:28px;height:28px;vertical-align:top;}
.chico_sns span{display:block;text-indent:-200px;overflow:hidden;}
.ico_sns_facebook{background-position:0 0;}
.ico_sns_twitter{background-position:-40px 0;}
.ico_sns_katalk{background-position:-80px 0;}
.ico_sns_off.ico_sns_facebook {background-position: 0 -100px;}
.ico_sns_off.ico_sns_twitter {background-position: -40px -100px;}
.ico_sns_off.ico_sns_katalk {background-position: -80px -100px;}

.story_par{color:#737373;font-size:13px;line-height:18px;}
.story_par dt{color:#735d50;font-weight:bold;display:block;}

.btn_close_big{background:url(//img.danawa.com/new/share/mobile/img/icon_btn25_ull_sd.png) no-repeat 0 0;background:url(//img.danawa.com/new/share/mobile/img/icon_btn25_ull_hd.png) no-repeat rgba(0,0,0,0.01) 0 0;background-size:20px auto;width:20px;height:20px;border:none;}
.btn_close_big span{display:block;text-indent:-300px;overflow:hidden;}
.btn_ull_close_big{position:absolute;}
.msg_text p{padding-top:4px;}

.sns_msg_form{background:#f0f2f5;padding:20px 24px 14px;}
.sns_msg_form .inner_area{}
.sns_msg_form .form_top_area{overflow:hidden;zoom:1;margin-bottom:5px;line-height:20px;}
.sns_msg_form .sns_selector{float:left;}
.sns_msg_form .chico_sns{margin-right:7px;}
.sns_msg_form .board_info{float:right;font-size:14px;font-weight:bold;color:#333;padding-top:10px;}
.sns_msg_form .input_text{width:100%;height:60px;-webkit-box-sizing:border-box;box-sizing:border-box;border:none;font-size:12px;line-height:16px;color:#000;resize:vertical;padding:6px;margin-bottom:8px;}
.sns_msg_form .has_guide{color:#999;}
.sns_msg_form .sub_area{overflow:hidden;zoom:1;}
.sns_msg_form .limit_info{float:left;font-size:12px;color:#999;line-height:16px;}
.sns_msg_form .now_num{font-weight:bold;}
.sns_msg_form .btn_submit{float:right;background:#2457ca;border:none;color:#fff;}

.sns_board{font-size:14px;line-height:16px;color:#737373;padding:0 24px;}
.sns_board .msg_item{border-bottom:1px solid #e8e8e8;padding:12px 0 10px;}
.sns_board .msg_info{overflow:hidden;zoom:1;margin-bottom:3px;}
.sns_board .name{color:#2457ca;font-weight:bold;font-size:14px;}
.sns_board .date{color:#999;margin-left:5px;}
.sns_board .btn_del{border:none;background:none;font-size:14px;color:#999;padding:0;float:right;}

.letter_num_nav{text-align:center;font-size:13px;line-height:24px;color:#735d50;}
.letter_num_nav .nav_btn{vertical-align:top;padding:0;border:none;height:24px;width:24px;margin:0 3px;}
.letter_num_nav .nav_btn span{display:block;text-indent:-200px;overflow:hidden;}
.letter_num_nav .nav_prev{background-position:-94px -46px;}
.letter_num_nav .nav_next{background-position:-144px -46px;}
.letter_num_nav .nums_wrap{display:inline-block;*display:inline;}
.letter_num_nav .num{display:inline-block;width:24px;height:24px;text-align:center;vertical-align:top;margin:0 4px;color:#735d50;}
.letter_num_nav .now_page_on,
.letter_num_nav .now_page{background:#2457ca;color:#fff;border-radius:50%;position:static;font-size:inherit;font-weight:normal;letter-spacing:0;left:auto;top:auto;}

.post_input{border:1px solid #85a0da;font-family:inherit;background:#fff;color:#333;width:100%;padding:0 8px;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*width:150px;}
input.post_input,
select.post_input{font-size:13px;height:28px;line-height:26px;font-weight:bold;}
.ev_form .ev_label{float:left;font-size:13px;color:#333;line-height:20px;padding-top:3px;zoom:1;}
.ev_form .ev_form_item{overflow:hidden;padding:4px 0;}
.ev_form .ev_form_item .post_input{width:200px;}
.ev_form .ev_input_wrap{margin-left:40px;*margin-left:10px; }
.ev_form .tel_wrap .post_input{width:48px;*width:44px;}
.ev_form .tel_wrap select.post_input{width:76px;padding:0;}
.ev_form .tel_wrap .tel_div{width:14px;line-height:26px;}
.ev_form .ev_input_address .post_input{width:100%; margin-bottom:5px;}


.txt_hide{display:block;text-indent:-2000px;overflow:hidden;}

/* Header */
.cheer_header_wrap{background:#2E416B;color:#fff;position:fixed;top:0;left:0;width:100%;z-index:2;}
.cheer_header_wrap .sect_deco{background:url(//img.danawa.com/new/share/mobile/img/bd_header.png) repeat-x;position:absolute;bottom:-3px;height:3px;left:0;width:100%;}
.cheer_header{width:320px;margin:0 auto;padding:3px 0 2px;}
.cheer_header a{color:#fff;}
.cheer_header .nav_list{margin:0;padding:0;list-style:none;font-size:13px;line-height:20px;font-weight:bold;display:table;text-align:center;width:100%;zoom:1;}
.cheer_header .nav_item{display:table-cell;*float:left;}
.cheer_header .nav_link{display:block;padding:10px 0;}
.cheer_header .selected .nav_link_2{color:#6ad5ff;}
.cheer_header .selected .nav_link_3{color:#ff82c6;}
.cheer_header .selected .nav_link_4{color:#ffdd78;}
.cheer_header .selected .nav_link_5{color:#5ABA4A;}
.cheer_header .selected .nav_link_6{color:#9af78a;}
.cheer_wing_banner{position:fixed;right:24px;bottom:40px;z-index:100;}
.cheer_wing_banner .ban_link{display:block;}
.cheer_wing_banner img{display:block;width:88px;height:88px;}
.cheer_wing_banner .btn_close_wing{position:absolute;background:none;background:url(//img.danawa.com/new/share/mobile/img/icon_btn24_ull_sd.png) no-repeat 0 0;background:url(//img.danawa.com/new/share/mobile/img/icon_btn24_ull_hd.png) no-repeat rgba(0,0,0,0.01) 0 0;background-size:20px auto;text-indent:-300px;overflow:hidden;border:none;padding:0;width:30px;height:30px;top:-5px;right:-18px; background-position:5px 5px;}


/* Footer */
.cheer_footer{border-top:1px solid #d9d9d9;text-align:center;font-size:11px;line-height:16px;color:#666;padding:21px 0;}

/* Section 1 */
.cheer_sect_1{text-align:center;background:url(//img.danawa.com/new/share/img/bg_sect3.png) repeat;padding:32px 24px 30px;}
.cheer_sect_1 .main_img{width:100%; padding-bottom:15px;}
.cheer_sect_1 .main_introduce{color:#666; padding-bottom:20px;}
.cheer_sect_1 .main_introduce p + p{margin-top:12px;}
.cheer_sect_1 .process_img{width:320px;height:auto;display:block;margin:0 auto 17px;}
.cheer_sect_1 .cheer_partener{font-size:12px;color:#a96b45;line-height:16px;}
.cheer_sect_1 .logo_partener{height:10px;width:auto;}
.cheer_sect_1 .cheer_social{margin:18px 0 2px;}
.cheer_sect_1 .sns_link{display:inline-block;margin:0 3px;}
.cheer_sect_1 .sns_link img{vertical-align:top;width:78px;height:auto;}

/* Section 2 */
.cheer_sect_2{background:url(//img.danawa.com/new/share/img/bg_sect2.jpg) repeat;padding:19px 0 32px;}
.cheer_sect_2 .cheer_section{padding-bottom:30px;}
.cheer_sect_2 .main_introduce{overflow:hidden;margin-bottom:17px;zoom:1;}
.cheer_sect_2 .intro_img{float:left;}
.cheer_sect_2 .gift_img{width:86px;height:auto;display:block;margin: 34px 0 0 29px;}
.cheer_sect_2 .intro_txt{margin-left:128px;padding-top:12px;font-size:13px;color:#000;line-height:18px;}
.cheer_sect_2 .mark{font-weight:bold;color:#bf2a36;}
.cheer_sect_2 .main_img{width:153px;height:auto;margin:0 0 3px;}
.cheer_sect_2 .event_date{font-size:14px;line-height:18px;color:#000;font-weight:bold;text-align:center;margin:0;}
.cheer_sect_2 .event_date dl{margin:0;padding:0;text-align:left;}
.cheer_sect_2 .event_date dt,.cheer_sect_2 .event_date dd{display:inline;}
.cheer_sect_2 .date_info{display:inline-block;text-align: left;*display:inline;zoom:1;}
.cheer_sect_2 .apply_opt{text-align:center;margin: 17px 0 0;}
.cheer_sect_2 .btn_apply{background:#ef6a75;color:#fff;}
.cheer_sect_2 .btn_apply .chico_ver{background-position:100% -45px;}
.cheer_sect_2 .exam_message{color:#fff;text-align:center;font-size:12px;line-height:16px;margin-bottom:16px;}
.cheer_sect_2 .donate_caution{text-align:center;font-size:12px;line-height:16px;color:#bf2a36;margin-bottom:17px;}

.post_sect{display:none;background:#fff;margin:2px 0 0;padding:32px 0;}
.post_sect .post_section{padding:0 24px;}
.post_sect .badge_opt{margin-bottom:8px;}
.post_sect .badge_sel_text{width:267px;height:auto;margin:0 auto 6px;display:block;}
.post_sect .badge_list{overflow:hidden;width:252px;margin:0 auto;zoom:1;}
.post_sect .badge_list .selected .badge_link{position:relative;}
.post_sect .badge_list .selected .check_img{display:block;}
.post_sect .badge_item{float:left;width:50%;text-align:center;padding:6px 0;}
.post_sect .badge_link{display:inline-block;zoom:1;}
.post_sect .badge_img{width:110px;height:110px;vertical-align:top;}
.post_sect .check_img{display:none;width:110px;height:110px;background:url(//img.danawa.com/new/share/mobile/img/badge_check_sd.png) no-repeat;background:url(//img.danawa.com/new/share/mobile/img/badge_check_hd.png) no-repeat rgba(0,0,0,0.01);background-size:110px auto;position:absolute;top:0;left:0;}
.post_sect .basic_form{color:#795b4a;padding:0 24px;}
.post_sect .form_item{overflow:hidden;zoom:1;padding:4px 0;}
.post_sect .form_label{float:left;font-size:13px;line-height:20px;width:101px;padding-top:4px;letter-spacing:-1px;}
.post_sect .input_wrap{margin-left:104px;}
/*.post_sect .post_input{border:1px solid #b97d54;font-size:13px;font-family:inherit;background:#fff;color:#333;font-weight:bold;height:28px;line-height:26px;width:100%;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;*width:150px;}*/
.post_sect textarea.post_input{resize:vertical;height:100px;line-height:17px;font-size:13px;font-weight:normal;padding:6px 8px;*width:250px;}
.post_sect .has_guide{color:#999;font-weight:normal;}
.post_sect .input_caution{text-align:right;font-size:12px;line-height:16px;margin-top:6px;}
.post_sect .input_caution .num{font-weight:bold;}
.post_sect .form_caution{font-size:12px;line-height:16px;margin:2px 0 0;}
.post_sect .form_caution p:before{content:"* ";}
.post_sect .form_item_message{margin:10px 0 5px;}
.post_sect .submit_opt{text-align:center;margin-top:25px;}
.post_sect .btn_apply_post,.post_sect .btn_apply_event{background:#ef6a75;color:#fff;}
.post_sect .post_event{padding:0 0;position:relative;}
.post_sect .event_header{text-align:center;margin-bottom:13px;padding-top:10px;}
.post_sect .event_header img{vertical-align:top; width:100%;}
.post_sect .btn_close_form{border:none;width:25px;height:25px;text-indent:-300px;overflow:hidden;background-position:0 -50px;top:-21px;right:0px;position:absolute;}
.post_sect .ev_sect{padding-top:10px;margin-bottom:20px;font-size:12px;color:#666;}
.post_sect .ev_sect strong{color:#333;}
.post_sect .sect_title{font-size:14px;line-height:20px;color:#795b4a;margin-bottom:2px;}
.post_sect .sect_advice{color:#999;font-size:14px;line-height:16px;}
.post_sect .sect_advice:before{content:"- ";}
.post_sect .sns_list{overflow:hidden;padding:8px 0 0;margin-top:8px;zoom:1;}
.post_sect .sns_list .chico_btns{display:inline-block;width:28px;height:28px;vertical-align:top;margin-top:-8px;}
.post_sect .sns_list .chico_btns strong{display:block;text-indent:-200px;overflow:hidden;}
.post_sect .sns_item{float:left;color:#000;}
.post_sect .sns_item + .sns_item{margin-left:9px;}
.post_sect .ico_sns_facebook{background-position:0 0;}
.post_sect .ico_sns_twitter{background-position:-40px 0;}
.post_sect .ico_sns_katalk{background-position:-80px 0;}
.post_sect .ev_form{margin-top:6px;}
.post_sect .add_guide_list li{margin-bottom:4px; font-size:14px;}
.post_sect .gather_info{color:#333;line-height:16px;margin:8px 0;}
.post_sect .agree_select{text-align:left;font-size:14px;color:#333;font-weight:bold;margin-top:8px;}
.post_sect .agree_label{/*margin:0 5px;*/}
.post_sect .e_news{margin-top:30px;}
.post_sect .e_news_label{font-weight:bold;font-size:14px;color:#795b4a;display:block;margin-bottom:3px;}
.post_sect .e_news_label input{margin-right:4px;}
.post_sect .ev_item_url{padding:2px 0 0;}
.post_sect .ev_item_url .post_input{width:241px;}
.post_sect textarea.agree_term{resize:none;height:66px;font-size:12px;line-height:16px;margin:2px 0 5px;padding:6px 8px 0;}
.post_sect .sect_big{font-size:16px;color:#333;font-weight:bold;line-height:20px;margin-bottom:2px;}

.letter_sect{border-top:1px solid #ead8bf;padding-top:22px;}
.letter_sect .letter_section{margin:0 auto 0;width:304px;}
.letter_sect .letter_count{text-align:center;color:#fff;font-size:13px;line-height:20px;margin-bottom:12px;}
.letter_sect .letter_count .num{font-weight:bold;}
.letter_sect .letter_slider{position:relative;padding:0 25px;font-size:11px;line-height:16px;}
.letter_sect .slide_nav button{position:absolute;top:0;width:25px;height:110px;padding:0;margin:0;border:none;cursor:pointer;background:none;}
.letter_sect .slide_nav .chico_btns{height:33px;width:14px;display:block;text-indent:-300px;overflow:hidden;margin:0 auto;}
.letter_sect .btn_slide_prev{left:0;}
.letter_sect .btn_slide_prev .chico_btns{background-position:-125px 0;}
.letter_sect .btn_slide_next{right:0;}
.letter_sect .btn_slide_next .chico_btns{background-position:-175px 0;}
.letter_sect .letter_list{overflow:hidden;zoom:1;}
.letter_sect .letter_item{float:left;width:50%;}
.letter_sect .badge_thumb{text-align:center;margin-bottom:6px;}
.letter_sect .badge_thumb img{vertical-align:top;width:110px;height:110px;}
.letter_sect .user_info{color:#fff;font-weight:bold;margin:0 4px 6px;letter-spacing:-1px;}
.letter_sect .letter_text{color:#000;margin: 0 5px 0 4px;}
.letter_sect .letter_opt{text-align:center;margin-top:5px;}
.letter_sect .btn_del{background:#9d7249;color:#fff;width:62px;height:28px;border-radius:14px;text-align:center;padding:0;border:none;font-weight:bold;}

.letter_del_layer{text-align:center;top:50%;left:50%;margin:-84px 0 0 -127px;width:220px;padding-top:38px;min-height:106px;}
.letter_del_layer .layer_opt{margin-top:17px;}
.letter_del_layer .layer_opt .chbtn_mid{margin:0 3px;}
.letter_del_layer .btn_confirm{background:#ef6a75;border-color:#ef6a75;color:#fff;}
.letter_del_layer .btn_cancel{background:#fff;border-color:#b97d54;color:#976840;}
.letter_del_layer .del_input{width:160px;padding:0 0 0 6px;border:1px solid #b97d54;line-height:26px;height:26px;margin:10px 0 0;}

.sect_2_show .btn_apply .chico_ver{background-position:100% 5px;}
.sect_2_show .post_sect{display:block;}

/* Section 3 */
.cheer_sect_3{background:#cae4e8;padding:36px 0 0;color:#000;}
.cheer_sect_3 .main_img{display:block;width:234px;height:auto;margin:0 auto 16px;}
.cheer_sect_3 .main_introduce{text-align:center;}
.cheer_sect_3 .main_text{font-size:14px;color:#454545;line-height:18px; text-align: left; padding:0 24px;}
.cheer_sect_3 .exam_text{color:#fff;font-size:12px;line-height:16px;margin-top:11px;}
.cheer_sect_3 .recom_opt{text-align:center; padding-bottom:40px;}
.cheer_sect_3 .btn_recommend{background:#fff;color:#193a84;}
.cheer_sect_3 .btn_recommend .chico_ver{background-position:100% -147px;}
.cheer_sect_3 .recom_sect{background-color: #6d727d;display:none;padding:28px 0 30px;}
.cheer_sect_3 .recom_section{padding:0 24px;}
.cheer_sect_3 .recom_caution{font-size:14px;line-height:16px;color:#fff;margin-bottom:17px;}
.cheer_sect_3 .recom_caution:before{content:"* ";}
.cheer_sect_3 .form_introduce{font-size:16px;font-weight:bold;line-height:18px;color:#fff;margin-bottom:1px;}
.cheer_sect_3 .info_form_set{color:#fff;margin-bottom:18px;}
.cheer_sect_3 .agree_form_set{margin-bottom:21px;}
.cheer_sect_3 .agree_title{color:#fff;}
.cheer_sect_3 .enews_form_sect{margin-bottom:22px;}
.cheer_sect_3 .get_enews{color:#fff;}
.cheer_sect_3 .submit_opt{text-align:center;}
.cheer_sect_3 .submit_opt .chbtn_big{margin:0 2px;}
.cheer_sect_3 .btn_confirm{background:#fff;color:#2d416b;}
.cheer_sect_3 .btn_cancel{background:#2d416b;color:#fff;}

.sect_3_show .btn_recommend .chico_ver{background-position:100% -95px;}
.sect_3_show .recom_sect{display:block;}

/* Section 4 */
.cheer_sect_4{background:url(//img.danawa.com/new/share/mobile/img/bg_sect4.png) repeat;padding:40px 0 32px;border-bottom:1px solid #cb78b2}
.cheer_sect_4 .main_img{width:281px;height:auto;display:block;margin:0 auto 8px;}
.cheer_sect_4 .main_introduce{font-size:13px;line-height:18px;color:#795b4a;text-align:center;margin-bottom:12px;}
.cheer_sect_4 .main_introduce p{font-size:14px;}
.cheer_sect_4 .app_ad_list{overflow:hidden;zoom:1;}
.cheer_sect_4 .app_item{float:left;width:50%;}
.cheer_sect_4 .app_item img{width:106px;height:160px;display:block;}
.cheer_sect_4 .ban_link{display:block;}
.cheer_sect_4 .app_banner{background:url(//img.danawa.com/new/share/mobile/img/sect4_2_sd.png) no-repeat;background:url(//img.danawa.com/new/share/mobile/img/sect4_2_hd.png) no-repeat rgba(0,0,0,0.01);background-size:115px auto;padding:34px 4px 4px 4px;width:106px;height:160px;margin:0 auto;}
.cheer_sect_4 .get_app{text-align:center;margin-top:8px;}
.cheer_sect_4 .app_link{background:#cb78b2;border-color:#cb78b2;color:#fff;width:100px;padding:3px 6px;}

/* Section 5 */
.cheer_sect_5{background:#ffd15c;padding:36px 0 32px;}
.cheer_sect_5 .main_img{display:block;width:270px;height:auto;margin:0 auto 17px;}
.cheer_sect_5 .main_introduce{text-align:center;color:#795b4a;}
.cheer_sect_5 .main_introduce .main_text{font-size:13px;line-height:18px;margin-bottom:10px;}
.cheer_sect_5 .main_introduce .sub_text{font-size:12px;line-height:16px;margin-bottom:13px;}
.cheer_sect_5 .main_introduce .sub_text:before{content:"* ";}
.cheer_sect_5 .link_facebook{color:#50b848;display:inline-block;font-size:13px;line-height:20px;zoom:1;padding:0 11px 0 0;background-position:100% -195px;font-weight:bold;}
.cheer_sect_5 .apply_opt{text-align:center;margin-top:20px;}
.cheer_sect_5 .btn_apply_cover{background:#50b848;color:#fff;}
.cheer_sect_5 .btn_apply_cover .chico_ver{background-position:100% -295px;}
.cheer_sect_5 .pen_faq{color:#391b08;padding:0 24px;font-size:13px;line-height:18px;margin-top:28px;display:none;}
.cheer_sect_5 .faq_sect{margin-top:25px;}
.cheer_sect_5 .faq_sect_process{margin-top:0;}
.cheer_sect_5 .q_title{font-weight:bold;color:#50b848;font-size:14px;line-height:20px;margin-bottom:5px;}
.cheer_sect_5 .process_img{width:272px;height:auto;display:block;margin:10px auto 6px;}
.cheer_sect_5 .process_list{width:272px;overflow:hidden;text-align:center;margin:0 auto;line-height:16px;}
.cheer_sect_5 .pro_item{float:left;width:85px;margin-right:8px;}
.cheer_sect_5 .process_2{width:90px;}
.cheer_sect_5 .process_3{width:80px;margin-right:0;}
.cheer_sect_5 .about_box_txt{background:url(//img.danawa.com/new/share/mobile/img/sect5_3_sd.png) no-repeat;background:url(//img.danawa.com/new/share/mobile/img/sect5_3_hd.png) no-repeat rgba(0,0,0,0.001);background-size:52px auto;padding-left:64px;min-height:83px;}
.cheer_sect_5 .pen_list{margin-left:7px;}
.cheer_sect_5 .pen_list li{margin-top:2px;padding-left:10px;}
.cheer_sect_5 .pen_list li:before{margin:8px 0 0 -10px;background:#897f64;}
.cheer_sect_5 .box_apply{border-top:1px solid #fff;color:#391b08;padding:32px 0 0;margin-top:28px;display:none;}
.cheer_sect_5 .apply_section{width:272px;margin:0 auto;}
.cheer_sect_5 .apply_title{width:116px;height:auto;display:block;margin:0 auto 17px;}
.cheer_sect_5 .input_address_1{width:128px;float:left;margin-right:6px;*width:108px;}
.cheer_sect_5 .btn_find_address{width:95px;background:#fff;border-color:#b97d54;color:#976840;letter-spacing:-1px;padding:3px 0;}
.cheer_sect_5 .input_address_2{margin-top:4px;clear:both;width:231px;}
.cheer_sect_5 .info_input_email{width:231px;}
.cheer_sect_5 .info_form_set{margin-bottom:25px;}
.cheer_sect_5 .agree_form_set{margin-bottom:26px;}
.cheer_sect_5 .e_news_wrap{position:relative;margin:4px 0 6px;}
.cheer_sect_5 .e_news_wrap label{position:absolute;padding:0 8px;line-height:26px;top:0px;left:0;color:#999;}
.cheer_sect_5 .e_news_wrap input{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #fff;height:28px;line-height:26px;color:#000;font-weight:bold;font-size:14px;padding:0 8px;}
.cheer_sect_5 .submit_opt{text-align:center;margin-top:24px;}
.cheer_sect_5 .submit_opt .chbtn_big{margin:0 2px;}
.cheer_sect_5 .btn_confirm{background:#50b848;border-color:#50b848;color:#fff;}
.cheer_sect_5 .btn_cancel{background:#fff;border:1px solid #b97d54;color:#976840;}
.cheer_sect_5 .zipcode_search_area{margin:4px 0 0 -41px;}

.sect_5_show .btn_apply_cover .chico_ver{background-position:100% -245px;}
.sect_5_show .pen_faq,.sect_5_show .box_apply{display:block;}

.cheer_sect_5 .btn_apply_coming{background:#a5936b;width:128px;}

/* Section Last */
.cheer_sect_last{color:#666;padding:27px 24px 25px;}
.cheer_sect_last .cheer_section{}
.cheer_sect_last .head_caution{color:#000;font-size:13px;line-height:20px;margin:0 0 5px;}
.cheer_sect_last .cau_list{font-size:12px;line-height:16px;}
.cheer_sect_last .cau_list li{margin-bottom:4px;}

/* Sub Pages */
.cheer_sub_header{background:#2D416B;font-size:14px;color:#fff;position:relative;}
.cheer_sub_header .head_section{width:320px;margin:0 auto;padding:12px 0 13px;}
.cheer_sub_header .page_title{font-size:14px;line-height:20px;margin:0 20px;}
.cheer_sub_header .sect_deco{background:url(//img.danawa.com/new/share/mobile/img/bd_header.png) repeat-x;position:absolute;bottom:-3px;height:3px;left:0;width:100%;}
.cheer_sub_content{width:272px;margin:0 auto;padding:0 24px;}
.cheer_sub_content .submit_opt .chbtn_big{margin:0 2px;}
.cheer_sub_content .btn_confirm{background:#2457CA;color:#fff;}
.cheer_sub_content .btn_cancel{background:#fff;color:#2457CA;border:1px solid #2457CA;}
.cheer_sub_enews{padding:32px 0;}
.cheer_sub_enews .main_img{width:270px;height:auto;display:block;margin:0 auto 11px;}
.cheer_sub_enews .enews_introduce{text-align:center;font-size:14px;color:#666;line-height:18px;margin-bottom:13px;}
.cheer_sub_enews .email_form{margin-bottom:30px;overflow:hidden;}
.cheer_sub_enews .email_label{font-size:13px;color:#333;float:left;width:57px;letter-spacing:-1px;margin:6px 0 0;}
.cheer_sub_enews .email_input{font-size:13px;height:26px;line-height:26px;border:1px solid #adc0e9;width:197px;padding:0 8px;}
.cheer_sub_enews .has_guide{color:#999;}
.cheer_sub_enews .agree_title{color:#2d416b;font-weight:bold;font-size:14px;line-height:20px;}
.cheer_sub_enews .agree_term_frame{border-color:#d9d9d9;}
.cheer_sub_enews .term_text{height:auto;max-height:77px;}
.cheer_sub_enews .submit_opt{text-align:center;margin-top:29px;}

.cheer_sub_enews .agree_check{text-align:left;}
.cheer_sub_enews .agree_check input{vertical-align:top;}

.intro_opt{top:110px;left:35px;}
.sub_section{width:100%;margin:0 auto;}

/* story 0 - previous story */
.story0_intro .chbtn_mid{background-color: #b7602e; font-size:14px; color:#fff;}
.story0_intro .intro_opt{top:120px; right:24px;}

/* story 1 - Marimond */
.story1_sect{border-bottom:1px solid #b17956;}
.story_intro .intro_area{position:relative;zoom:1;background-color:#edecd1;}
.story_intro .intro_image{width:320px;display:block;margin:0 auto;}
.story_intro .intro_opt{width:260px; margin:0 auto; position:absolute;}
.story1_intro{background:#261D16;background:-webkit-gradient(linear,left top, right top,color-stop(49%, #261D16),color-stop(50%, #231f0e));background:linear-gradient(left,#261D16 49%,#231f0e 50%);}
.story1_intro .intro_opt{top:120px;right:24px;}
.story1_intro .chbtn_mid{background-color:#0d209b;color:#fff;font-size:14px;}
.story_detail{border-bottom:1px solid #b17956;padding:9px 0 32px;}
.story_detail .area_opt{text-align:right;padding:0 9px;margin-bottom:7px; position:relative;}
.story_detail .photo_row{overflow:hidden;zoom:1;width:280px;margin-left:24px;}
.story_detail .story_pic{float:left;width:132px;}
.story_detail .photo_row .story_pic + .story_pic{margin-left:8px;}
.story_detail .detail_text{padding:0 5px 0 23px;letter-spacing:-0.05em;line-height:18px;}
.story_detail .story_par{margin-top:19px;}
.story_detail .text_opt{text-align:center;margin-top:21px;}
.story_detail .btn_detail_link{color:#735d50;border:1px solid #bfbfbf;}
.story_detail .text_sect{margin-bottom:20px;}
.story_detail .pic_copy{clear:both;text-align:right;font-size:10px;color:#737373;}
.story_event{padding:0 0 32px;}
.story_event .letter_num_nav{margin-top:10px;}
.story_event .post_sect{border:solid #2b65e8;border-width:1px 0;margin:0;}
.story_event .event_header{margin-bottom:22px;}
.story_event .ev_sect{padding-top:2px;}
.story_event .e_news{margin-top:20px;}
.event_intro{padding:20px;font-size:13px;color:#737373;line-height:1.4;}
.event_intro .mark_r{color:#ea5c54;}
.event_intro p{margin-top:10px;}
.event_intro p:first-child{margin-top:0;}
.event_intro .ev_title{margin-bottom:22px;}
.event_intro .ev_title_img{width:100%;vertical-align:top;}
.event_intro .mark_blue{color:#5d489f;}
.event_intro .link_prize{display:inline-block;height:26px;line-height:26px;background:#fff;border:1px solid #bfbfbf;color:#735d50;font-weight:bold;margin:7px auto 0;letter-spacing:-1px;border-radius:26px;padding:0 20px;}
.event_intro .result_notice{font-size:12px;color:#737373;margin-top:5px;}
.event_intro .row_intro_pic{margin-top:20px;}
.detail_text .photo_row{margin-left:0;}
.detail_text .focus_txt{color:#735d50;font-weight:bold;margin-bottom:2px;}
.story_detail .focus_txt_r{color:#ea5c54;}
.event_summary dt{float:left;min-width:5.2em;letter-spacing:-1px; font-weight:bold; color:#565656; text-align: left;}
.event_summary dd{margin-left:6.5em;letter-spacing:-1px; text-align: left; font-weight:bold; color:#565656;}
.event_summary .sum_item {zoom:1;}
.event_summary .sum_unit{clear:both;margin:0;}
.event_summary .sum_unit .img_list_circle{width:8px;vertical-align: 1px; padding-right:5px;}
.event_summary .sum_unit dt{clear:both;margin:0;}
.event_pic_wrap .pic_img{width:100%;vertical-align:top;}
.event_pic_wrap .pic_cap{font-size:12px;color:#735d50;}
.event1_area .ev_title_img{width:100%;vertical-align:top;}
.event1_area .note_link{display:block;width:110px;height:26px;line-height:26px;background:#fff;border:1px solid #bfbfbf;color:#735d50;font-weight:bold;margin:7px auto 0;letter-spacing:-1px;border-radius:26px;}
.event1_area .event_summary{margin:21px 0 0;display:inline-block;vertical-align:top;}
.event1_area .event_summary + p{margin-top:6px;}
.event1_area .event_pic_wrap{margin:20px 0 10px;}
.event1_area .pic_img{width:185px;}
.event_result .result_txt{display:block;margin-bottom:13px;padding:0 4px;}
.event_result .result_txt img{vertical-align:top;max-width:100%; margin:15px 0 5px;}
.event_result{text-align:center;margin:0 0;padding:30px 25px 0; letter-spacing:-0.04em; color:#333; border-bottom:1px solid #e5e5e5; }
.event_result .result_comment{margin-bottom:12px;}
.event_result .result_txt_img{vertical-align:top;width:222px;}
.result_opt .chbtn_mid{color:#735d50;border-color:#bfbfbf;background:#fff;letter-spacing:-1px;margin:0 2px;padding:3px 12px;}

.cheer_sect_2 .result_opt{text-align:center;margin-top:9px;}
.cheer_sub_prize{padding:32px 0 0;}
.cheer_sub_prize .main_img{display:block;margin:0 auto 11px;width:206px;}
.cheer_sub_prize .intro_caution{text-align:center;color:#666;line-height:18px;font-size:14px;margin:0 0 23px;}
.cheer_sub_prize .btn_find_address{color:#976840;border-color:#b97d54;letter-spacing:-1px;padding:3px 12px;margin:1px 0 0 4px;overflow:hidden;vertical-align:top;}
.cheer_sub_prize .zipcode_search_area{margin:4px 0;}
.cheer_sub_prize .agree_form{margin-top:28px;}
.cheer_sub_prize .agree_term{font-size:12px;line-height:16px;color:#666;padding:6px 8px;resize:none;height:95px;}
.cheer_sub_prize .agree_check{font-size:13px;color:#000;font-weight:bold;margin-top:7px;}
.cheer_sub_prize .submit_opt{text-align:center;padding:29px 0 32px;}

/* Story 2 - Ecofemme */
.story2_intro{background:#e4d9dd;}
.story2_intro .intro_opt{bottom:20px;left:24px;}
.story2_intro .chbtn_mid{background:#5d489f;border-color:#5d489f;color:#fff;}
.story2_detail .detail_text{padding:0 20px;}
.story2_detail .focus_txt{text-align:center;margin:18px 0;line-height:18px;}
.story2_detail .detail_photo{margin:22px 0;}
.event2_area .link_prize{width:122px;}
.event2_area .event_summary{margin:21px 0px 0px;display:inline-block;vertical-align:top;}
.event2_area .row_intro_pic{margin-top:20px;}


/* Story Slider */
.story_slider{position:relative;}
.story_slider .slide_btns_area{position:relative;width:320px;height:0;margin:0 auto;}
.story_slider .slide_page{position:absolute;right:24px;top:-20px;}
.story_slider .btn_page{display:inline-block;height:10px;width:10px;vertical-align:top;border:1px solid #fff;border-radius:50%;margin:0 1px;*display:inline;*zoom:1;}
.story_slider .btn_page_now{background:#fff;}
.story_slider .btn_turn{position:absolute;background:none;top:0;width:25px;height:158px;border:none;padding:0;}
.story_slider .btn_turn .chico_btns{height:40px;width:100%;}
.story_slider .btn_turn_prev{left:0;}
.story_slider .btn_turn_prev .chico_btns{background-position:-130px -100px;}
.story_slider .btn_turn_next{right:0;}
.story_slider .btn_turn_next .chico_btns{background-position:-170px -100px;}

/* Footer - add Logos */
.campaign_info{margin:2px 0 5px;}
.org_member{font-size:12px;line-height:20px;color:#666;}
.org_member .logo_img{vertical-align:top;height:13px;width:auto;margin-top:2px;}
.join_member{width:272px;margin:17px auto 0 auto;}
.join_member .corp_item{display:inline-block;vertical-align:top;margin:2px 4px;}
.join_member .corp_img{height:15px;width:auto;vertical-align:top;}

/* Story 3 - Bantable */
.story3_intro{background:url(//img.danawa.com/new/share/mobile/img/bg_story3_1.jpg) 50% 0 repeat;}
.story3_intro .intro_opt{bottom:20px;left:24px;}
.story3_intro .chbtn_mid{background:#f2443c;border-color:#f2443c;color:#fff;}
.story3_detail .story_pic{width:86px;}
.story3_detail .focus_txt{font-size:13px;margin-bottom:2px;}
.story3_detail .text_sect{margin-bottom:19px;}
.story3_detail .photo_row{margin-bottom:20px;}
.event3_area .link_prize{width:157px;}
.event3_area .pic_img{width:90px;}
.event3_area .event_summary{margin-top:21px;}
.event3_area .row_intro_pic{margin-top:17px;}
.event3_area .result_notice{margin-top:5px;}

/* Stroy4 - Musical */
.story4_intro{background:#1a1610;}
.story4_intro .intro_opt{bottom:35px;left:141px;}
.story4_intro .chbtn_mid{background:#fff;border-color:#fff;color:#2f1a0c;}
.story4_detail .focus_txt{margin-bottom:2px;}
.story4_detail p + p{margin-top:7px;}
.story4_detail .detail_photo{margin:9px 0 0;}
.story4_detail .story_pic{width:130px;}
.story4_detail .photo_row .story_pic + .story_pic{margin-left:12px;}
.event4_area .pic_img{width:152px;}

/* Story 5 */
.story5_intro{background:#463d31;}
.story5_intro .intro_opt{top:93px;left:35px;}
.story5_intro .chbtn_mid{background:#ffcb05;border-color:#ffcb05;color:#2f1a0c;}
.story5_detail .story_pic{width:130px;}
.story5_detail .photo_row{margin-bottom:15px;}
.story5_detail .photo_row .story_pic + .story_pic{margin-left:12px;}
.story5_detail .pic_copy{width:272px;padding-top:4px;}
.story5_detail .box_intro{margin:20px 20px 18px 0;}
.event5_area .event_summary{margin-top:16px;}
.event5_area .pic_img{width:157px;}

/* Story 6 */
.story6_intro{background:#858585;}
.story6_intro .chbtn_mid{background:#ef4728;border-color:#ef4728;color:#fff;}
.story6_intro .intro_opt{top:110px;left:35px;}
.story6_detail .focus_txt{margin-bottom:2px;}
.story6_detail .detail_photo{margin-bottom:20px;}
.story6_detail .story_pic{width:130px;}
.story6_detail .photo_row .story_pic + .story_pic{margin-left:12px;}
.event6_area .pic_img{width:200px;}
.event6_area .row_intro_pic{margin-bottom:5px;}
.event6_area .event_summary{margin-top:21px;}

/* Story 7 */
.story7_intro{background:#fdece7;}
.story7_intro .intro_opt{top:110px;left:35px;}
.story7_intro .chbtn_mid{background:#f67770;border-color:#f67770;color:#fff;}
.story7_detail .focus_txt{margin-bottom:2px;}
.story7_detail .detail_photo{margin:21px 0;}
.story7_detail .story_pic{width:auto;height:90px;}
.story7_detail .photo_row .story_pic + .story_pic{margin-left:12px;}
.story7_detail p + p{margin-top:20px;}
.event7_area .link_prize{width:135px;}
.event7_area .event_summary{margin-top:21px;}
.event7_area .row_intro_pic{margin-bottom:6px;}
.event7_area .pic_img{width:182px;}

/* Story 8 */
.story8_intro{background:#b0dbe8;}
.story8_intro .intro_opt{top:110px;left:35px;}
.story8_intro .chbtn_mid{background:#f67770;border-color:#f67770;color:#fff;}
.story8_detail .detail_main_photo{padding: 0px 20px 0px 20px;}
.story8_detail .story_main_pic{width:100%;padding-bottom: 25px;}
.story8_detail .focus_txt{margin-bottom:2px;}
.story8_detail .detail_photo{margin:21px 0;}
.story8_detail .detail_text{padding-left: 20px;}
.story8_detail .story_pic{width:auto;height:90px;}
.story8_detail .photo_row .story_pic + .story_pic{margin-left:12px;}
.event8_detail p + p{margin-top:20px;}
.event8_area .link_prize{width:135px;}
.event8_area .event_summary{margin-top: 21px; letter-spacing: normal; padding-left:11px;}
.event8_area .row_intro_pic{margin-bottom:6px;}
.event8_area .pic_img{width:182px;}
.event_intro{position:relative; padding: 40px 24px 20px; border-bottom:1px solid #9abcd0;}
.event_intro .btn_ull_close_big{position:absolute; right:15px; top:10px;z-index: 1;}
.event_intro .ev_title{padding-right: 5px;}

/* Story 9 */
.story9_intro{background:#e1c8b3;}
.story9_intro .chbtn_mid{background:#c1543e;border-color:#c1543e;color:#fff;}
.story9_detail .focus_txt{margin-bottom:2px;}
.story9_detail .detail_photo{margin:21px 0;}
.story9_detail .story_pic{width:auto;height:92px;}
.story9_detail .photo_row .story_pic + .story_pic{margin-left:8px;}
.story9_detail .photo_size img{height: 95px}
.story9_detail .detail_text{letter-spacing:-0.05em;}
.event9_detail p + p{margin-top:20px;}
.event9_area .link_prize{width:200px;}
.event9_area .event_summary{margin-top: 21px; letter-spacing: normal; padding-left:20px;}
.event9_area .row_intro_pic{margin-bottom:6px;}
.event9_area .pic_img{width:190px;}
.event9_area .row_item p{letter-spacing:-0.05em;}

/* Story 10 */
.story10_intro{background:#d3e6e8;}
.story10_intro .chbtn_mid{background:#4935a1;border-color:#4935a1;color:#fff;}
.story10_detail .focus_txt{margin-bottom:2px;}
.story10_detail .focus_txt_r{color:#4935a1;}
.story10_detail .detail_photo{margin:21px 0;}
.story10_detail .story_pic{width:auto;height:92px;}
.story10_detail .photo_row .story_pic + .story_pic{margin-left:4px;}
.story10_detail .photo_size img{height: 95px}
.story10_detail .detail_text{letter-spacing:-0.05em;line-height:18px;}
.event10_area .link_prize{width:135px;}
.event10_area .event_summary{margin-top: 21px;letter-spacing:normal;padding-left:20px;}
.event10_area .row_intro_pic{margin-bottom:6px;}
.event10_area .pic_img{width:190px;}
.event10_area .row_item p{letter-spacing:-0.05em;}

/* Story 11 */
.story11_intro{background:#dbedf3;}
.story11_intro .intro_opt {top:20px;left:210px}
.story11_intro .chbtn_mid{background:#0b66be;border-color:#0b66be;color:#fff;width:60px;height:60px;border-radius:50%;padding:0;line-height:14px;}
.story11_intro .chbtn_mid span{display:inline-block;padding-top:14px;height:62px;}
.story11_detail .detail_text{padding:0 5px 0 20px}
.text_interview_sect h4{color:#333;margin-bottom:10px;}
.tit_interview{color:#333;font-weight:bold;}
.interview_left{float:left;margin-right:10px;}
.img_stroy11_right{width:49%;}
.text_ballon{width:43px;height:19px;color:#fff;font-weight:bold;display:inline-block;font-size:12px;float:left;line-height:19px;letter-spacing:-1px;text-align:center;padding-right:4px;}
.text_ballon_blue{background:url(//img.danawa.com/new/share/mobile/img/mtext_balloon_blue.png) no-repeat;background-size:43px 19px;}
.text_ballon_gray{background:url(//img.danawa.com/new/share/mobile/img/mtext_balloon_gray.png) no-repeat;background-size:43px 19px;}
.txt_question{color:#1e6ebc;margin-bottom:10px;font-weight:bold;}
.text_ballon em {margin-left:-6px}
.text_ballon2{padding-left:7px;width:38px;}
.text_ballon2 em {margin-left:-16px}
.ballon_line3{height:48px}
.ballon_line4{height:60px}
.ballon_line5{height:92px}
.ballon_line6{height:98px}
.ballon_line8{height:128px}
.ballon_line10{height:165px}
.one_line_txt{line-height:19px}
.txt_answer{color:#333;margin-bottom:13px}
.clr_bth{clear:both;}
.detail11_photo{margin:25px 0}
.event11_area .event_summary{margin-top: 21px;letter-spacing:normal;padding-left:20px;}
.event11_area .link_prize{width:120px;padding:0 5px}
.event11_area .event_pic_wrap .pic_img{max-width:80%;}

/* Story 12 */
.story12_intro {background:#dfdfdf;}
.story12_intro .chbtn_mid{background:#4935a1;border-color:#4935a1;color:#fff;}
.story12_intro .intro_opt {top:98px;left:30px;}
.story12_detail .focus_txt_r {color:#461d87;}
.story12_detail .detail_photo {margin:21px 0;}
.story_event_12 .event_pic_wrap .pic_img {max-width:65%;}
.event12_area .event_summary {margin-top:20px;}

/* Story 13 */
.story13_intro {background:#eaeff1;}
.story13_intro .chbtn_mid{background:#26a7d5;border-color:#26a7d5;color:#fff;}
.story13_detail .focus_txt_r {color:#26a7d5;}
.story13_detail .detail_photo {margin:21px 0;}
.event13_area .event_pic_wrap .pic_img {max-width:65%;}
.event13_area .event_summary {margin-top:20px;}

/* ull story 1 */
.sub_section{}
.event2_area .focus_txt{margin-top:20px; font-size:16px; color:#1a46a4; letter-spacing: -0.04em;}
.event2_area .pt15{ letter-spacing: -0.03em; font-size:14px;}
.event2_area .submit_opt{text-align: center; padding:25px 0 10px;}
.event2_area .chbtn_big{color:#fff; background-color: #0d209b; letter-spacing: -0.05em;}
.event_1_txt{color:#737373; line-height: 18px;}
.event_1_bold{color:#000;}
.event_1_bold_blue{color:#2457ca}
.event_1_bold_blue2{color:#2457ca; letter-spacing: -1px; padding:10px 0 0; text-align: left; }
.event1_pic_wrap{max-width: 80%; padding:20px;}
.event_result .chbtn_big{color:#fff; background-color: #2457ca; letter-spacing: -0.05em; margin-bottom:10px; width:70%;}
.event_result .btn_show_detail{color:#fff; background-color: #fff; border:1px solid #bfbfbf; color:#000; letter-spacing: -0.05em;}
.event_result .sub_title{font-size:16px; margin:0 26px;}
.btn_event_done{text-align: center;}
.post_sect .btn_event_done .chbtn_big{background-color: #2b65e8;}
.result_area{}
.result_area .event_header{text-align:center;margin-bottom:13px;padding:20px 15px 0;}
.event_title{width:100%;}
.result_area .btn_event_done .chbtn_big{background-color: #162379; color:#fff; font-size:16px; height:30px; line-height: 15px; margin-bottom:25px; }
.btn_area .btn_address_search{background-color: #fff; border:1px solid #2d416b; padding:3px 10px; border-radius: 12px; color:#2d416b; text-align: center; font-size:14px; font-weight:bold; margin-left:10px; margin-top:1px; letter-spacing: -1px;}
.main_introduce .font_weight_blue{font-size:14px; font-weight:bold; color:#2d416b; text-align: left;}
.cheer_section .facebook_img{width:30%;}
.cheer_section .blog_img{width:30%; margin-left:10px;}
.cheer_section .bg_main_img{width:100%; padding-top:10px;}

.post_sect2{background-color: #6d727d; margin:0;}
.post_sect2 .sect_big {color:#fff;font-size:12px; text-align: center;letter-spacing: -2px; padding:0 19px 15px;}
.post_sect2 .sect_big2 {font-size:14px; color:#fff; font-weight:bold;}
.post_sect2 .ev_label{color:#fff;}
.post_sect2 .tel_div{color:#000;}
.cheer_ds{background:url(//img.danawa.com/new/share/img/bg_sect2.png) repeat;padding:32px 24px 10px;}
.txt_style_1{color:#a96940; font-size:16px; font-weight:bold; letter-spacing: -1px; line-height:20px; text-align: left;}
.txt_style_2{color:#795b4a; font-size:14px; text-align: left; line-height: 18px;; }
.btn_cheer_area{display:block; background-color: #fff; border:1px solid #cdb09d; border-radius: 24px; margin:0 55px 0; padding:10px; margin-top:12px;}
.btn_cheer_detail{color:#a96940; font-size:16px; font-weight:bold; letter-spacing: -1px; }
.sub_section .event_result .submit_opt  {padding:25px 0;}
.row_intro_txt{font-size:14px;}
.focus_txt{font-size:16px;}
.txt_size{font-size:14px; text-align: left;}
.txt_open_date{font-size:12px;}

/* uncle_pop_email */
.cheer_popup .pop_body{padding:0; margin:0 24px 15px;}
.uncle_pop_email .pop_header {background:#2d416b;color:#fff;}
.uncle_pop_email .introduce{background:url(//img.danawa.com/new/share/img/tit_pop_uncle.jpg) no-repeat;padding:89px 0 0;margin:20px 0 25px;min-height:72px;font-size:12px;line-height:16px;color:#666;*margin-bottom:36px;}
.uncle_pop_email .introduce p{margin:0; padding-top:15px;}
.uncle_pop_email .intro_comment{display:block;margin-bottom:8px;vertical-align:top;}
.uncle_pop_email .email_form{overflow:hidden;margin-bottom:25px;zoom:1;}
.uncle_pop_email .email_label{float:left;font-size:14px;line-height:20px;font-weight:bold;color:#333;width:65px;margin-right:1px;padding-top:4px;font-weight:bold;}
.uncle_pop_email .email_input{font-size:14px;font-family:inherit;height:26px;line-height:26px;border:1px solid #adc0e9;padding:0 ;width:99%;color:#757575;background:#f4f4f4;}
.uncle_pop_email .agree_sect{margin-bottom:20px;*margin-bottom:14px;}
.uncle_pop_email .agree_head{margin:0 0 10px;font-size:12px;line-height:16px;font-weight:bold;color:#2d416b;}
.uncle_pop_email .item_wrap{border:1px solid #d9d9d9;padding:5px 8px 7px;margin:0 0 7px 0;}
.uncle_pop_email .add_guide_list{margin:0;padding:0;font-size:12px;color:#666;line-height:20px;}
.uncle_pop_email .agree_opt{text-align:right;font-size:12px;line-height:16px;}
.uncle_pop_email .agree_label{font-weight:bold;color:#000;}
.uncle_pop_email .agree_label input{vertical-align:-2px;margin:0 5px 0 0;}
.uncle_submit_opt .btn_confirm {background-position:-300px -850px;}
.uncle_submit_opt .btn_cancel {background-position:-380px -850px;}

/* ull event_1 */
.uncle_event_1_area .ev_title_img{vertical-align:top; width:100%; margin:15px 0 5px; }
.uncle_event_1_area .event_1_txt{text-align: left; padding:15px 0 0; letter-spacing: -0.04em;}
.event_1_txt .result_opt{margin:0 50px 30px;}
.event_1_txt p{margin-bottom:25px;}
.event_1_txt .event_summary{margin-top:200px;}
.event_1_txt .row_intro_pic{}
.link_prizer .txt_hide{text-indent: 0; width:100%; background-color: #2457ca; color:#fff; letter-spacing: -0.05em; border-radius: 21px; text-align: center; height:41px;font-weight: bold; line-height:41px; margin-bottom:10px;font-size:16px;}
.link_deliver .txt_hide{text-indent: 0; width:100%; background-color: #fff; color:#000; letter-spacing: -0.05em;border:1px solid #bfbfbf; border-radius: 21px;text-align: center;height:41px;font-weight: bold; line-height:41px; font-size:16px;}
.event_1_txt .uncle_event_notice{color: #2457ca;letter-spacing: -1px;padding: 10px 0 0;}
.event_result .event_pic_wrap{width:250px; margin:30px 0 20px 30px; position:absolute; top:170px;}
.event_result .event_pic_wrap img{width:100%;}
.uncle_event_1_area .row_box{position:relative;}

/* ull_story2_intro */
.ull_story2_intro .intro_area{background-color: #F8F4F1;}
.ull_story2_intro .intro_opt{right:44px;}
.ull_story2_intro .btn_view_more{background-color: #068300;}
.story_event_2 .focus_txt{color:#007c1a;}
.story_event_2 .chbtn_big{background-color: #109100;}
.story_event_2 .event_pic_wrap{position:static; margin:30px 0 20px 6px;}
.story_event_2 .btn_show_detail{color:#fff;}
.org_member .logo_bringcup{height:16px; padding-right:3px;}
/* DB에서 뿌리는 영역 CSS */
.story_event_2 .event_1_txt .event_summary{margin-top:240px;}
.uncle_event_1_area.event2 .row_intro_pic{position:absolute; top:113px; left:30px;}
.uncle_event_1_area.event2 .event_1_txt .result_opt{margin:0 32px 30px;}

/* ull_story3_intro */
.ull_story3_intro .intro_area{background-color: #FFF728;}
.ull_story3_intro .intro_opt{right:30px; top:125px;}
.ull_story3_intro .btn_view_more{background-color: #F3C406; color:#3c2f33; letter-spacing: -1px;}
.story_event_3 .focus_txt{color:#735d50;}
.uncle_event_1_area.event3 .event_pic_wrap{position:absolute; top:85px; width:195px; right:52px;}
.org_member .logo_realseereal{height:12px; vertical-align: -1px; padding-right:3px;}

/* ull_story4_intro */
.ull_story4_intro .intro_area{background-color: #FFE0DB;}
.ull_story4_intro .intro_opt{right:0; top:110px;}
.ull_story4_intro .btn_view_more{background-color: #BE5027; color:#FFE0DB; letter-spacing: -1px;}
.story_event_4 .focus_txt{color:#be5027;}
.uncle_event_1_area.event4 .event_pic_wrap{position:absolute; top:85px; width:195px; right:52px;}

/* ull_story5_intro */
.ull_story5_intro .intro_area{background-color: #d3d3d3;}
.ull_story5_intro .intro_opt a{background-color: #DBFF60;color:#383632;}
.uncle_event_1_area.event5 .event_pic_wrap{position:absolute; top:92px; width:195px; right:52px;}

/* ull_story6_intro */
.ull_story6_intro .intro_area{background-color: #F4E5D0;}
.ull_story6_intro .intro_opt a{background-color: #C63D00;color:#F4E5D0;}
.story_event_6 .focus_txt{color:#603311;}
.story_event_6 .btn_apply_event{background-color: #C63D00;}
.uncle_event_1_area.event6 .event_pic_wrap{top:130px;width:180px;left:50%;margin:0; margin-left:-90px;}

/* ull_story7_intro */
.ull_story7_intro .intro_area{background-color: #E2F5F4;}
.ull_story7_intro .intro_opt a{background-color: #046759;color:#fff;}
.story_event_7 .focus_txt{color:#098473;}
.story_event_7 .btn_apply_event{background-color: #056F61;}
.uncle_event_1_area.event7 .event_pic_wrap{top:120px;width:150px;left:50%;margin:0; margin-left:-75px;}


/* ull_story8_intro */
.ull_story8_intro .intro_area{background-color: #D3FA9F;}
.ull_story8_intro .intro_opt a{background-color: #B56D21;color:#fff;}
.story_event_8 .focus_txt{color:#9b4f58;}
.story_event_8 .focus_txt.center{text-align: center}
.uncle_event_1_area.event8 .event_pic_wrap{width:200px;top:90px;left:10px;}

/* ull_story9_intro */
.ull_story9_intro .intro_area{background-color:#4F4A47;}
.ull_story9_intro .intro_opt a{background-color: #FF8B0F;color:#4F4A47;}
.story_event_8 .focus_txt{color:#e16010;}
.story_event_8 .btn_apply_event{background-color:#E16010;}
.uncle_event_1_area.event9 .event_pic_wrap{width:250px;top:130px;left:30px;margin:0;}
.uncle_event_1_area.event9 .result_opt{margin:0 auto 30px;text-align:center;}
.uncle_event_1_area.event9 .btn_detail{background-color:#162379;color:#fff;font-size:16px;height:30px;line-height: 30px;padding:8px 20px; border-radius: 21px;display:inline-block;text-align:center;font-weight: bold;}

/* ull_story10_intro */
.ull_story10_intro .intro_area{background-color:#E3C0A2;}
.ull_story10_intro .intro_opt a{background-color: #EE587B;color:#fff;}
.story_event_10 .focus_txt{color:#dc5b74;}
.story_event_10 .btn_apply_event{background-color:#EE587B;}
.uncle_event_1_area .event_pic_wrap{width:250px;top:195px;left:30px;margin:0;}
.uncle_event_1_area .result_opt{margin:0 auto 30px;text-align:center;}
.uncle_event_1_area .btn_detail{background-color:#162379;color:#fff;font-size:16px;height:30px;line-height: 30px;padding:8px 20px; border-radius: 21px;display:inline-block;text-align:center;font-weight: bold;}
.event10.uncle_event_1_area .ev_title_img{margin-bottom:20px;}

/* ull_story11_intro */
.ull_story11_intro .intro_area{background-color:#f0f0f0;}
.ull_story11_intro .intro_opt a{background-color: #504F4F;color:#fff;}
.story_event_11 .focus_txt{color:#61646d;}
.story_event_11 .btn_apply_event{background-color:#61646D;}
.event11 .ev_title_img{margin-bottom:20px;}
.event11 .event_pic_wrap{width:250px;top:125px;left:30px;margin:0;}
.event11 .result_opt{margin:0 auto 30px;text-align:center;}
.event11 .btn_detail{background-color:#162379;color:#fff;font-size:16px;height:30px;line-height: 30px;padding:8px 20px; border-radius: 21px;display:inline-block;text-align:center;font-weight: bold;}

/* ull_story12_intro */
.ull_story12_intro .intro_area{background-color:#EBEBE1;}
.ull_story12_intro .intro_opt a{background-color: #35473B;color:#fff;}
.story_event_12 .event_intro{padding:0;}
.story_event_12 .event4 {position:relative;}
.story_event_12 .event4 .btn_detail_link{position:absolute;bottom:7.5%;left:0;right:0;margin:0 auto;width:82%;height: 6.5%;text-indent: -999em;overflow: hidden;}
.detail img{width:100%;}
.row_item .blue{color:#2457ca;}
.event12 .event_1_bold_blue{display:inline-block;padding-bottom:15px;}
.event1_normal .line{text-decoration: underline;}
.event12 .event1_normal{padding-bottom:20px;}
.sum_item{color:#565656;}
.sum_item dd{padding-bottom:10px;}
.sum_item .dd{color:#000;}

.uncle_event_1_area.event12 .event_pic_wrap{position:absolute;top:230px;}
.event12 .event_pic_wrap img{width:100%}

/* event13 */
.ull_story13_intro .intro_opt a{background-color: #404851;color:#fff;}
.ull_story13_intro .intro_area{background: url(//img.danawa.com/new/share/mobile/img/pattern_mobile.png);background-size: contain;}
.story_event_12.event13 .event4 .btn_detail_link{bottom:1.3%;height: 3%;width:93%;}
.uncle_event_1_area.event13 .event_pic_wrap{top:310px;}
.event13 .ev_title{padding-bottom:25px;}
.event13 .event_1_bold_blue{padding-bottom:0;}

/* event14 */
.ull_story14_intro .intro_area{background-color:#DBD1C4;}
.ull_story14_intro .intro_opt{top:125px;right: 15px;}
.ull_story14_intro .intro_opt a{background-color: #EB4C00;color:#fff;}
.story_event_14 .focus_txt{color:#ea561a;}
.story_event_14 .btn_apply_event{background-color:#61646D;}
.event14 .grey{color:#666;}
.event14 .orange{color:#eb2c00;}
.event14 .event2_area .chbtn_big{color:#fff; background-color: #EB591B; letter-spacing: -0.05em;}
.event14 .event2_area .focus_txt{color:#ea561a;}
.event14 .ev_title_img{margin-bottom:20px;}
.event14 .event_result .event_pic_wrap{top:42%;margin:0 auto;left:0;right:0;}
.event14 .result_opt{margin:0 auto 30px;text-align:center;}
.event14 .btn_detail{background-color:#162379;color:#fff;font-size:16px;height:30px;line-height: 30px;padding:8px 20px; border-radius: 21px;display:inline-block;text-align:center;font-weight: bold;}

.event14 .event_1_txt .event_summary{margin-top:340px;}

