@charset "euc-kr";

.screen_out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;clear:both;}
.screen_behind{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.hide_txt{display:block;overflow:hidden;text-indent:-2000px;text-align:left;}

.usedmarket_box fieldset{margin-left:30px;}
.usedmarket_box .btn_auto_arrow{top:6px; left:269px;}
.usedmarket_navi{padding:0 0 10px 0;}
ul.usedmarket_gnb{height:38px;  background-color:#353945; overflow:hidden; border-bottom:2px solid #05c092;}
ul.usedmarket_gnb li{float:left; color:#fff;}
ul.usedmarket_gnb li a{display:block; height:38px; background-position:0 0; background-repeat:no-repeat; background-image:url(//img.danawa.com/new/usedmarket/img/btn_used_gnb.jpg); text-indent:-9999em; color:#fff;}
ul.usedmarket_gnb li.usedgnb1 a{width:62px; background-position:-10px 0; margin-left:10px;}
ul.usedmarket_gnb li.usedgnb1 a.sect{background-position:-10px 100%;}
ul.usedmarket_gnb li.usedgnb2 a{width:92px; background-position:-72px 0;}
ul.usedmarket_gnb li.usedgnb2 a.sect{background-position:-72px 100%;}
ul.usedmarket_gnb li.usedgnb3 a{width:106px; background-position:-164px 0;}
ul.usedmarket_gnb li.usedgnb3 a.sect{background-position:-164px 100%;}
ul.usedmarket_gnb li.usedgnb4 a{width:96px; background-position:-270px 0;}
ul.usedmarket_gnb li.usedgnb4 a.sect{background-position:-270px 100%;}
ul.usedmarket_gnb li.usedgnb5 a{width:134px; background-position:-366px 0;}
ul.usedmarket_gnb li.usedgnb5 a.sect{background-position:-366px 100%;}
ul.usedmarket_gnb li.usedgnb6 a{width:82px; background-position:-500px 0;}
ul.usedmarket_gnb li.usedgnb6 a.sect{background-position:-500px 100%;}
ul.usedmarket_gnb li.usedgnb7 a{width:141px; background-position:-582px 0;}
ul.usedmarket_gnb li.usedgnb7 a.sect{background-position:-582px 100%;}
ul.usedmarket_gnb li.usedgnb8 a{width:47px; background-position:-723px 0;}
ul.usedmarket_gnb li.usedgnb8 a.sect{background-position:-723px 100%;}
ul.usedmarket_gnb li.usedgnb9 a{width:153px; background-position:-772px 0;}
ul.usedmarket_gnb li.usedgnb9 a.sect{background-position:-772px 100%;}
.usedmarket_snb{position:relative; border:1px solid #d9d9d9; border-top:0; padding:5px 16px 5px; width:891px;}
.usedmarket_snb .column {overflow:hidden; zoom:1; border-bottom:1px solid #e6e6e6; padding:7px 0 5px;}
.usedmarket_snb h3 {float:left; width: auto; font-size:11px; color:#13836f; border:0; height:auto; padding-right:7px;line-height:15px;}
.usedmarket_snb ul{overflow:hidden; position:relative;}
.usedmarket_snb li { float:left; padding:0 6px 0 7px; background:url("//img.danawa.com/new/section_m/oa/img/deco_lineV11.gif") no-repeat left center; margin-left:-1px;line-height:16px;}
.usedmarket_snb .double ul {width:auto; float:left;}
.usedmarket_snb .double h3.rside  {width:65px; margin:0;}
.usedmarket_snb a {color:#333; font-size:12px;}
.usedmarket_snb a:hover { text-decoration:underline;}
.usedmarket_snb .lastChild {border:none !important; background:none;}
.show_aside{height:240px; overflow:hidden; padding:0 0 10px 0;}
.show_aside .usedinfo, .show_aside .banner_box{float:left;}
.show_aside .usedinfo{width:220px; height:240px; border-top:1px solid #d9d9d9;}
.show_aside .usedinfo dt, .show_aside .usedinfo dd{border:1px solid #d9d9d9; border-top:none;}
.show_aside .usedinfo dt img{vertical-align:top;}
.show_aside .usedinfo dd{padding:10px 14px 0 14px; height:86px; overflow:hidden;}
.show_aside .usedinfo dd.lst{height:64px;}
.show_aside .usedinfo dd li{height:21px; overflow:hidden; background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_bullet.gif) no-repeat left -56px; padding:0 0 0 7px;}
.show_aside .usedinfo dd li a{font-size:12px; color:#666;}
.show_aside .usedinfo dd li a:hover{color:#13836f;}
.show_aside .banner_box{margin:0 0 0 10px;}
.show_aside .banner_a{width:463px; border:1px solid #e4e6e5; height:238px; position:relative;}
.show_aside .banner_a .btn_opacity_arrow button {background-image:url(//img.danawa.com/new/danawapc/img/bg_hover_paging.png);}
.show_aside .banner_b{width:220px; height:240px; position:relative;}
.show_aside .banner_b .btn_opacity_arrow button {background-image:url(//img.danawa.com/new/danawapc/img/bg_hover_paging.png);}
.usedbest{height:266px; overflow:hidden; padding:0 0 10px 0;}
.usedbest .leftunit, .usedbest .rightunit{border:1px solid #dcdcdc; height:265px; overflow:hidden;}
.usedbest .leftunit{float:left; width:693px;}
.usedbest .rightunit{float:right; width:218px;}
.show_promotion{padding:0 0 20px 0;}
.show_promotion li{height:230px; overflow:hidden; border:1px solid #d9d9d9; padding:0; margin:0; line-height:0px; font-size:0px; margin-bottom:10px;}
.show_promotion li p, .show_promotion li ul, .show_promotion li ul li{float:left; border:none; line-height:140%; font-size:12px;}
.show_promotion li p{width:218px; height:240px; background:url(//img.danawa.com/new/usedmarket/img/ico_promotion_bg.gif) repeat-y;}
ul.produnit_list{margin-left:4px;}
ul.produnit_list li{text-align:center; float:left;}
ul.produnit_list li img, ul.produnit_list li span{display:block;}
ul.produnit_list li span.thumnail{position:relative; margin:0 auto 0;}
ul.produnit_list li span.thumnail em{position:absolute; left:-6px; top:1px;}
ul.produnit_list li span.prod_txt{color:#666;}
ul.produnit_list li strong{color:#333;font-family:"Tahoma";}
.show_promotion li ul.produnit_list li{width:174px;padding:23px 1px 0 0;}
.show_promotion li ul.produnit_list li span.thumnail{width:130px;}
.show_promotion li ul.produnit_list li span.prod_txt{padding:15px 10px 0 10px;height:36px;line-height:18px;}
.usedbest .leftunit div.itemwrap ul.produnit_list li{width:192px; padding:16px 0 0 0; }
.usedbest .leftunit div.itemwrap ul.produnit_list li span.thumnail{width:170px;}
.usedbest .leftunit div.itemwrap ul.produnit_list li span.prod_txt{padding:15px 10px 0 10px; height:30px;line-height:15px;}
.usedbest .leftunit{float:left; width:693px; overflow:hidden;}
.usedbest .leftunit dl, .usedbest .leftunit div.itemwrap{float:left;}
.usedbest .leftunit dl{width:108px;}
.usedbest .leftunit dl dt, .usedbest .leftunit dl dd{border:1px solid #d9d9d9; margin-top:-1px; border-left:none;}
.usedbest .leftunit dl dt img{vertical-align:top;}
.usedbest .leftunit dl dd{background-color:#f3f3f3;}
.usedbest .leftunit dl dd a{display:block;font-weight:bold;color:#666;text-align:center;padding-top:2px;}
.usedbest .leftunit dl dd.sect{background-color:#fff; border-right:none;}
.usedbest .leftunit dl dd.sect a{color:#e31e10; background:url(//img.danawa.com/new/usedmarket/img/ico_goods_ar.gif) no-repeat 95px 22px;}
.usedbest .rightunit{float:right; width:218px;}
.usedbest .rightunit strong.tit{display:block; height:23px; overflow:hidden; position:relative; padding:10px 0 0 14px;}
.usedbest .rightunit strong.tit a{background:url(//img.danawa.com/new/newmain/img/icon_arrow_01.png) no-repeat 100% -248px; padding:0 5px 0 0; font-weight:normal; color:#757575; font-size:11px; position:absolute; top:13px; right:13px;}
.usedbest .rightunit ul.weektab{height:36px; overflow:hidden; width:220px;}
.usedbest .rightunit ul.weektab li{float:left; height:34px; border:1px solid #e2e2e2; border-bottom:1px solid #aeaeae; margin-left:-1px; text-align:center; position:relative; z-index:1;}
.usedbest .rightunit ul.weektab li a{height:34px; line-height:34px; font-weight:bold; color:#757575;}
.usedbest .rightunit ul.weektab li.sect{border:1px solid #aeaeae; border-bottom:none; z-index:2;}
.usedbest .rightunit ul.weektab li.sect a{color:#000;}
.usedbest .rightunit ul.weektab li.w34{width:34px;}
.usedbest .rightunit ul.weektab li.w48{width:48px;}
.usedbest .rightunit ul.weektab li.w49{width:49px;}
.usedbest .rightunit .weekitem{padding:12px 10px 0 10px;}
.usedbest .rightunit .weekitem li{position:relative; padding:0 0 10px 37px; width:198px;}
.usedbest .rightunit .weekitem li em{display:block; width:29px; height:12px; padding:2px 2px 0 0; background:url(//img.danawa.com/new/usedmarket/img/ico_counter.gif) no-repeat left top; font-size:11px; color:#fff; text-align:center; position:absolute; left:0; top:0;}
.usedbest .rightunit .weekitem li span{color:#757575; display:block; padding:0 0 2px 0;}
.usedbest .rightunit .weekitem li strong{color:#333; font-family:Tahoma, 돋움;}
.usedbest .rightunit .weekitem li.fir{padding:0 0 13px 0; overflow:hidden;}
.usedbest .rightunit .weekitem li.fir p{float:left; width:107px;}
.usedbest .rightunit .weekitem li.fir .thum{position:relative; width:80px; height:80px; margin-right:10px;}
.usedbest .rightunit .weekitem li.fir .thum em{width:42px; height:43px; color:#757575; background:url(//img.danawa.com/new/usedmarket/img/ico_bestsell.png) no-repeat; text-indent:-9999em;}
.usedbest .rightunit .weekitem li.fir p span{color:#666; padding:0 0 5px 0; line-height:140%;}
.usedbest .rightunit .weekitem li.fir p strong{color:#e31e10; font-family:Tahoma, 돋움;}

.step_location{padding:10px 0 5px 0; position:relative; min-height:20px;}
.step_location .sub_section_title{padding:10px 0 15px 0;}
.step_location div.step{position:absolute; top:20px; right:0;}
.step_location div.onlystep{top:10px;}
.step_location strong, .step_location span, .step_location select{vertical-align:middle; display:inline-block; color:#666;}
.step_location strong{font-weight:normal; background:url(//img.danawa.com/new/usedmarket/img/ico_location_bul.gif) no-repeat left 4px; padding:0 0 0 10px;}
.step_location select{width:112px;}
.used_best_tab{height:87px; overflow:hidden; padding:6px 0 15px 0;}
.used_best_tab li{float:left; height:87px; overflow:hidden;}
.used_best_tab li a{display:block;}
.used_best_tab li a:hover{margin-top:-87px;}
.used_best_tab li.sect a{margin-top:-87px;}
.usedmarket_tab ul{height:35px; overflow:hidden; padding:0 0 0 1px;}
.usedmarket_tab ul li{height:34px; overflow:hidden; background:url('//img.danawa.com/new/usedmarket/img/ico_tab_bg.gif') repeat-x; border:1px solid #c7c7c7; border-bottom:0; margin-left:-1px; float:left; position:relative; z-index:1;}
.usedmarket_tab ul li.sect{background:#fff; border:1px solid #008587; border-bottom:0; z-index:2;}
.usedmarket_tab ul li a{/*display:inline-block;*/display:block; text-align:center; padding:10px 25px 0 25px; height:24px; font-weight:bold; color:#666;*zoom:1;}
.usedmarket_tab ul li.sect a{color:#000;cursor:default;}
.usedmarket_tab ul.p3 li{width:307px;}
.usedmarket_tab ul.p4 li{width:230px;}
.usedmarket_tab .sortBar{border-top:1px solid #008587;background-position:0 -2px;height:26px; padding-top:7px; padding-bottom:2px;}
.list_header{margin-top:-1px;}
.usedmarket_partmenu{padding:14px 0 0 0; height:23px; text-align:center;}

.usedmarket_info{padding:30px 0 30px 0;}
.usedmarket_info .table_section{padding:20px 0 0 0;}
.usedmarket_info .table_section th{text-align:center; color:#fff; font-size:14px; background-color:#333; border-right:1px solid #000; padding:14px 0 12px 0;}
.usedmarket_info .table_section th.lst{border-right:1px solid #333;}
.usedmarket_info .table_section td{padding:22px 0 20px 0; border-right:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; color:#575757;}
.usedmarket_info .table_section td.fir{border-left:1px solid #e2e2e2; background-color:#f5f5f5; text-align:center; color:#333;}
.usedmarket_info .table_section td.cen{text-align:center;}
.usedmarket_info .table_section td p{color:#575757; padding:0 10px 0 15px; line-height:160%;}
.usedmarket_info .table_section td p strong{font-weight:normal; color:#1899d7;}

.option_im{padding-bottom:10px;}
.option_im .htable td input.txt{width:100%; height:18px; line-height:18px; border:1px solid #b1b1b1;}

/* New GNB */
.used_gnb{background:#353945;border-bottom:2px solid #05c092;overflow:hidden;padding-left:12px;zoom:1;}
.used_gnb li{float:left;padding:1px 2px 0;}
.used_gnb a{display:block;color:#fff;height:27px;padding-top:10px;}
.used_gnb a:active{background-color:transparent;}
.used_gnb .selected{background:url(//img.danawa.com/new/usedmarket/img/gnb_used_point.png) no-repeat 50% 100%;}
.used_gnb .gnb_txt{display:block;height:17px;background:url(//img.danawa.com/new/usedmarket/img/gnb_used.png) no-repeat;text-indent:150%;overflow:hidden;white-space:nowrap;margin:0 auto;padding:0;}
.used_gnb .gnav_1 a{width:53px;}
.used_gnb .gnav_2 a{width:78px;}
.used_gnb .gnav_3 a{width:85px;}
.used_gnb .gnav_4 a{width:95px;}
.used_gnb .gnav_5 a{width:96px;}
.used_gnb .gnav_6 a{width:96px;}
.used_gnb .gnav_7 a{width:107px;}
.used_gnb .gnav_8 a{width:96px;}
.used_gnb .gnav_9 a{width:67px;}
.used_gnb .gnav_10 a{width:89px;}
.used_gnb .gnav_1 .gnb_txt{width:19px;background-position:0 0;}
.used_gnb .gnav_2 .gnb_txt{width:47px;background-position:-40px 0;}
.used_gnb .gnav_3 .gnb_txt{width:53px;background-position:-100px 0;}
.used_gnb .gnav_4 .gnb_txt{width:65px;background-position:-170px 0;}
.used_gnb .gnav_5 .gnb_txt{width:66px;background-position:-250px 0;}
.used_gnb .gnav_6 .gnb_txt{width:64px;background-position:-340px 0;}
.used_gnb .gnav_7 .gnb_txt{width:75px;background-position:-430px 0;}
.used_gnb .gnav_8 .gnb_txt{width:64px;background-position:-530px 0;}
.used_gnb .gnav_9 .gnb_txt{width:32px;background-position:-620px 0;}
.used_gnb .gnav_10 .gnb_txt{width:55px;background-position:-670px 0;}
.used_gnb .gnav_1 .selected .gnb_txt{background-position:0 -30px;}
.used_gnb .gnav_2 .selected .gnb_txt{background-position:-40px -30px;}
.used_gnb .gnav_3 .selected .gnb_txt{background-position:-100px -30px;}
.used_gnb .gnav_4 .selected .gnb_txt{background-position:-170px -30px;}
.used_gnb .gnav_5 .selected .gnb_txt{background-position:-250px -30px;}
.used_gnb .gnav_6 .selected .gnb_txt{background-position:-340px -30px;}
.used_gnb .gnav_7 .selected .gnb_txt{background-position:-430px -30px;}
.used_gnb .gnav_8 .selected .gnb_txt{background-position:-530px -30px;}
.used_gnb .gnav_9 .selected .gnb_txt{background-position:-620px -30px;}
.used_gnb .gnav_10 .selected .gnb_txt{background-position:-670px -30px;}
.used_gnb .gnav_11 .gnb_txt{width:39px;background-position:-740px 0;}
.used_gnb .gnav_11 .selected .gnb_txt{background-position:-740px -30px;}
.used_gnb .gnav_12 .gnb_txt{width:35px;background-position:-830px 0;}
.used_gnb .gnav_12 .selected .gnb_txt{background-position:-830px -30px;}
.ugnb_v2{padding-left:20px;}
.ugnb_v2 .gnav_1 a{width:56px;}
.ugnb_v2 .gnav_2 a{width:84px;}
.ugnb_v2 .gnav_3 a{width:90px;}
.ugnb_v2 .gnav_4 a{width:100px;}
.ugnb_v2 .gnav_5 a{width:100px;}
.ugnb_v2 .gnav_6 a{width:102px;}
.ugnb_v2 .gnav_7 a{width:112px;}
.ugnb_v2 .gnav_8 a{width:102px;}
.ugnb_v2 .gnav_10 a{width:96px;}

/* Widget Week Best */
.unit_widget .unit_body{position:relative;border-top:1px solid #dcdcdc;padding:10px;}
.unit_widget .unit_nav{}
.unit_widget .unit_nav button{width:20px;height:18px;display:block;position:absolute;background:url(//img.danawa.com/new/usedmarket/img/set_rank.png) no-repeat;text-indent:-100px;cursor:pointer;overflow:hidden;top:15px;}
.unit_widget .unit_nav .btn_prev{background-position:0 0;left:10px;}
.unit_widget .unit_nav .btn_next{background-position:-30px 0;right:10px;}
.unit_widget .best_cate{overflow:hidden;height:211px;}
.unit_widget .rank_head{padding-top:4px;text-align:center;margin-bottom:13px;}
.unit_widget .rank_head strong{background:url(//img.danawa.com/new/usedmarket/img/title_best_week.png) no-repeat 0 0;height:20px;display:block;text-indent:-200px;overflow:hidden;margin:0 auto;}
.unit_widget .rank_digital .rank_head strong{width:97px;background-position:0 0;}
.unit_widget .rank_pc .rank_head strong{width:75px;background-position:0 -30px;}
.unit_widget .rank_device .rank_head strong{width:70px;background-position:0 -60px;}
.unit_widget .rank_monitor .rank_head strong{width:82px;background-position:0 -90px;}
.unit_widget .rank_notebook .rank_head strong{width:84px;background-position:0 -120px;}
.unit_widget .rank_phone .rank_head strong{width:75px;background-position:0 -150px;}
.unit_widget .ranked_list{}
.unit_widget .ranked_list li{position:relative;clear:both;padding:0 0 0 37px;margin-bottom:12px;display:block;vertical-align:top;zoom:1;overflow:hidden;}
.unit_widget .ranked_list a{color:#757575;display:block;text-decoration:none;zoom:1;}
.unit_widget .ranked_list a:hover .pd_name,.unit_widget .ranked_list a:hover .price{text-decoration:underline;}
.unit_widget .ranked_list .rank{background:url(//img.danawa.com/new/usedmarket/img/set_rank.png) no-repeat -60px 0;width:29px;height:12px;color:#fff;font-size:11px;line-height:12px;padding:2px 2px 0 0;display:block;position:absolute;text-align:center;overflow:hidden;text-decoration:none;top:2px;left:0;}
.unit_widget .ranked_list .pd_name{display:block;font-size:12px;line-height:17px;height:17px;overflow:hidden;}
.unit_widget .ranked_list .price{display:block;color:#333;font-family:Tahoma,'돋움',dotum;font-size:12px;line-height:16px;margin-top:-2px;vertical-align:baseline;}
.unit_widget .ranked_list .first{padding:0;margin-bottom:10px;height:90px;}
.unit_widget .ranked_list .first .rank{width:41px;height:41px;background-position:0 -30px;text-indent:-200px;text-align:left;top:0;left:0;}
.unit_widget .ranked_list .first .pd_name{height:auto;max-height:68px;}
.unit_widget .ranked_list .first .thumb{float:left;margin-right:9px;}
.unit_widget .ranked_list .first .price{color:#e31f11;}
.unit_widget .ranked_list .first a:hover .price{text-decoration:underline;}

.usedbest .leftunit dl dt{height:55px;background:url(//img.danawa.com/new/usedmarket/img/txt_goodprod.gif) no-repeat 0 50%;text-indent:-100px;overflow:hidden;}
.usedbest .leftunit dl dd{letter-spacing:-1px;overflow:hidden;}
.usedbest .leftunit dl dd.sect a{background-position:95px 49%;}
.usedbest .leftunit .sub_x4 dd a{height:50px;line-height:50px;}
.usedbest .leftunit .sub_x5 dd a{height:39px;line-height:39px;}
.usedbest .leftunit .sub_x6 dd a{height:32px;line-height:32px;}


/* Week Best Category Tab */
.used_best_cate{zoom:1;margin:12px 0 15px;}/* background:url(//img.danawa.com/new/usedmarket/img/bg_tab_line3.gif) repeat-x left bottom; */
.used_best_cate:after{content:"";display:block;clear:both;height:0;}
.used_best_cate li{float:left;height:87px;width:16.66%;}
.used_best_cate a{display:block;background:#f7f7f7;border:1px solid #d9d9d9;border-left-color:#f7f7f7;text-align:center;height:61px;padding-top:16px;zoom:1;}
.used_best_cate .first a{border-left-color:#d9d9d9;}
.used_best_cate .first a:hover{border-left-color:#13836f;}
.used_best_cate .acc{display:none;position:absolute;width:15px;height:9px;background:url(//img.danawa.com/new/usedmarket/img/tab_best_week.png) no-repeat 0 -70px;left:50%;margin-left:-7px;bottom:-11px;}
.used_best_cate .selected a,.used_best_cate a:hover{position:relative;border:3px solid #13836f;height:59px;padding-top:14px;}
.used_best_cate .selected .acc,.used_best_cate a:hover .acc{display:block;}
.used_best_cate .cate_name{display:block;background:url(//img.danawa.com/new/usedmarket/img/tab_best_week.png) no-repeat;height:45px;text-indent:-300px;overflow:hidden;margin:0 auto;}
.used_best_cate .item_1 .cate_name{width:104px;background-position:0 0;}
/* 
.used_best_cate .item_2 .cate_name{width:104px;background-position:-150px 0;}
 */
.used_best_cate .item_2 .cate_name{width:110px;background-position:-300px 0;}
.used_best_cate .item_3 .cate_name{width:113px;background-position:-450px 0;}
.used_best_cate .item_4 .cate_name{width:98px;background-position:-600px 0;}
.used_best_cate .item_5 .cate_name{width:129px;background-position:-750px 0;}
.used_best_cate .selected .item_1 .cate_name,.used_best_cate .item_1:hover .cate_name{background-position:0 -100px;}
/* 
.used_best_cate .selected .item_2 .cate_name,.used_best_cate .item_2:hover .cate_name{background-position:-150px -100px;}
 */
.used_best_cate .selected .item_2 .cate_name,.used_best_cate .item_2:hover .cate_name{background-position:-300px -100px;}
.used_best_cate .selected .item_3 .cate_name,.used_best_cate .item_3:hover .cate_name{background-position:-450px -100px;}
.used_best_cate .selected .item_4 .cate_name,.used_best_cate .item_4:hover .cate_name{background-position:-600px -100px;}
.used_best_cate .selected .item_5 .cate_name,.used_best_cate .item_5:hover .cate_name{background-position:-750px -100px;}
.used_sub_intro img{display:block;}
.best_cate_x4 li{width:33.3%;}
.best_cate_x5 li, .best_cate_v2 li{width:20%;}

/* GNB v.3 */
.ugnb_v3{padding-left:18px;}
.ugnb_v3 .gnav_1 a{width:60px;}
.ugnb_v3 .gnav_2 a{width:86px;}
.ugnb_v3 .gnav_3 a{width:94px;}
.ugnb_v3 .gnav_4 a{width:108px;}
.ugnb_v3 .gnav_5 a{width:112px;}
.ugnb_v3 .gnav_6 a{width:110px;}
.ugnb_v3 .gnav_8 a{width:102px;}
.ugnb_v3 .gnav_10 a{width:93px;}
.ugnb_v3 .gnav_11 a{width:85px;}
.used_gnb .gnav_new a{position:relative;}
.used_gnb .gico_new{position:absolute;top:7px;display:block;background:url(//img.danawa.com/new/usedmarket/img/gnb_used.png) no-repeat -800px 0;width:14px;height:13px;text-indent:-300px;overflow:hidden;text-align:left;}
.used_gnb .gnav_11 .gico_new{left:63px;}
.sect_introduce{margin-bottom:29px;}

/* GNB v.4 */
.ugnb_v4{padding-left:27px;text-align:center;}
.ugnb_v4 a{text-decoration:none;}
.ugnb_v4 .gnb_txt, .ugnb_v4 .gico_new{display:inline-block;vertical-align:top;text-indent:0;zoom:1;}
.ugnb_v4 .gico_new{position:static;margin-top:-2px;}
.ugnb_v4 .gnav_1 a {width: 58px;}
.ugnb_v4 .gnav_2 a {width: 87px;}
.ugnb_v4 .gnav_3 a {width: 97px;}
.ugnb_v4 .gnav_4 a {width: 107px;}
.ugnb_v4 .gnav_5 a {width: 108px;}
.ugnb_v4 .gnav_12 a {width: 90px;}
.ugnb_v4 .gnav_11 a {width: 86px;}
.ugnb_v4 .gnav_8 a {width: 105px;}
.ugnb_v4 .gnav_10 a {width: 95px;}

/* Try mall Introduce */
.intro_trymall{background:url(//img.danawa.com/new/usedmarket/img/bg_trymall.png) repeat;border:1px solid #babfca;padding:0 0 23px;}
.intro_trymall .try_sect_pic{background:#b8b2b2;text-align:left;padding:36px 10px 37px 54px;}
.intro_trymall .try_sect_pic img{vertical-align:top;}
.intro_trymall .try_sect_process{padding:36px 10px 20px 54px;margin-bottom:33px;}
.intro_trymall .try_sect_process img{vertical-align:top;}
.intro_trymall .try_sect_info{padding:0 10px 10px 54px;}
.intro_trymall .info_wrap{background:url(//img.danawa.com/new/usedmarket/img/bg_trymall_location.png) no-repeat 0 0;width:751px;height:325px;padding:58px 32px 30px;overflow:hidden;zoom:1;}
.intro_trymall .mall_info{float:left;}
.intro_trymall .location_info{float:right;}
.intro_trymall .location_info .map_img{vertical-align:top;border:1px solid #d0d0d0;}
.intro_trymall .info_table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:386px;font-size:12px;line-height:20px;}
.intro_trymall .info_table col.subject{width:87px;}
.intro_trymall .info_table th{background:#f4f4f4;font-weight:bold;text-align:left;font-size:12px;color:#555;border:1px solid #dbdbdb;border-right-width:0;padding-left:9px;}
.intro_trymall .info_table td{border:1px solid #e5e5e5;border-width:1px 0;padding-left:12px;}
.intro_trymall .info_table .tr_address{height:50px;*height:47px;}
.intro_trymall .info_table .tr_contact{height:32px;*height:29px;}
.intro_trymall .info_table .tr_time{height:74px;*height:71px;}
.intro_trymall .info_table .tr_map{height:143px;*height:140px;}
.intro_trymall .info_table .link_location{vertical-align:top;margin-right:5px;}

/* White Popup */
.wh_popup{padding:30px 45px 10px;}
.wh_pop_header{border-bottom:1px solid #666;overflow:hidden;padding:3px 0 12px;zoom:1;}
.wh_pop_header button{cursor:pointer;}
.wh_pop_header .popup_headline{float:left;font-size:16px;color:#000;line-height:24px;margin:6px 0 0;}
.wh_pop_header .header_opt{float:right;text-align:right;}
.wh_pop_header .btn_print{border:1px solid #c0c0c0;font-size:15px;font-weight:bold;color:#333;line-height:24px;background:#fff;padding:0;width:75px;height:30px;vertical-align:top;}
.wh_pop_header .btn_print span{display:inline-block;position:relative;background:url(//img.danawa.com/new/usedmarket/img/btns_whpopup.png) no-repeat 0 -76px;padding:0 0 0 25px;}
.wh_pop_header .btn_close_popup{width:25px;height:25px;background:url(//img.danawa.com/new/usedmarket/img/btns_whpopup.png) no-repeat 0 0;border:none;padding:0;vertical-align:top;margin:2px 0 0 19px;}
.wh_pop_header .btn_close_popup span{display:block;text-indent:-300px;overflow:hidden;}
.wh_pop_body{padding:30px 0;}
.wh_popup_metro .root_img{vertical-align:top;}


#dnw_content{margin-bottom:40px;}


.special_popup{margin-top: -225px}

.free_delivery {background-position:-160px -22px !important;}