/* CSS Document */

/* 게시판 - 리스트 */
.attachBox {border:1px solid #eeeded; padding:10px 20px 19px 19px; _zoom:1;}
.searchBox {margin:10px 0 10px; text-align:center; position:relative;}
.searchBox .posRight {top:0; right:0;}
.searchBox label {font-size:12px; vertical-align:middle;}
.searchBtn { background-position:0 -610px;}
.searchBtn * {background-position:right -610px; margin-left:2px;width:36px; height:24px;font-size:11px; color:#000; cursor:pointer;}
.write { background-position:right -580px;}
.write * {background-position:0 -580px; margin-right:2px; height:17px;font-size:12px; color:#000; cursor:pointer; padding:6px 10px 0 25px; font-weight:bold;}
.bbsType {border-collapse:collapse; width:100%; border-top:2px solid #989898; border-bottom:2px solid #989898; }
.bbsType th {background:#f6f6f6; padding:10px 0; text-align:center; border-bottom:1px solid #bcbcbc; color:#333;}
.bbsType tbody td {border-bottom:1px solid #dbdbdb; padding:7px; text-align:right; color:#757575; font-size:12px;}
.bbsType tbody .title {text-align:left;}
.bbsType tbody .name {text-align:center;}
.bbsType tbody .title a {font-size:12px; color:#333; font-weight:normal;}
.bbsType tbody .name a {font-size:12px; color:#757575;}
.bbsType .cnt {font-weight:bold;}
.bbsType .posRight {text-align:right; position:static;}
.bbsType tfoot td {padding:5px 0;}
.bbsType tfoot .indexBorder {border-top:1px solid #bcbcbc; background:#fafafa; padding:15px 0; text-align:center; margin-right:87px;}
.notice .title {background:url(//img.danawa.com/new/community/common_img/ico_notice.gif) no-repeat #f3f6fd 7px 9px; padding-left:25px; line-height:140%; }
.notice a, .notice a strong {color:#000; }
.bbsType tfoot .indexBorder .posRight {float:right; margin-top:-25px; margin-right:10px;}
.inputStyle {border:1px solid #bebebe; padding:5px 9px; height:12px;}

.indexBorder {text-align:center; position:relative; zoom:1;}
.indexBorder a, .indexBorder span {display:inline-block; height:20px;  margin-right:2px;  vertical-align:bottom; line-height:20px; vertical-align:middle;}
.indexBorder a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% 1px; width:20px;}
.indexBorder a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% 1px; width:20px; margin-right:4px;}
.indexBorder a.active {font-weight:bold;}

.gray a, .gray span {color:#6b6b6b; border:1px solid #fafafa; font-family:Verdana; font-size:11px; text-decoration:none;width:20px;}
.gray a:hover, .gray .next, .gray .prev {border:#c5c5c5 1px solid;}
.gray .page_on, .gray .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }

.small a, .small span {width:16px; height:15px; padding:1px 0 0 0; font-size:11px;  text-align:center;color:#6b6b6b; border:1px solid #fff; font-family:Verdana; font-size:11px; text-decoration:none; line-height:16px;}
.small a:hover, .small .next, .small .prev {border:#c5c5c5 1px solid;}
.small .page_on, .small .page_on:hover {background:#969696; color:#fff; border:1px solid #969696; }
.small a.next {background:url(//img.danawa.com/new/prod_list/img/ico_next.gif) no-repeat 50% -1px; width:16px; }
.small a.prev {background:url(//img.danawa.com/new/prod_list/img/ico_prev.gif) no-repeat 50% -1px; width:16px; margin-right:2px;}
.indexBorder .posRight {margin-left:30px; vertical-align:top; padding:0;}

/* 게시판 - 뷰페이지 */
.arti_header {position:relative; zoom:1;}
.arti_header h2 {margin:0px 0 20px 15px; padding-top:20px; font-size:16px; font-weight:bold; color:#506ccd; min-height:16px; _height:16px; }
.recommBox {background:url(//img.danawa.com/new/section_m/baby/img/bg_recomm_box.gif) no-repeat; width:46px; height:36px; right:12px; top:10px;}
.recommBox dd {font-size:11px; color:#fa6c3e; margin:5px 5px 0 0px; font-weight:bold; text-align:center;}
.titleBar {background:url(//img.danawa.com/new/section_m/baby/img/bg_title_bar.gif) no-repeat; position:relative; height:53px; border-bottom:1px solid #ededed; margin:0 0 20px 0;}
.titleBar dl {padding:8px 0 0 0; margin:0 19px;}
.titleBar dt, .titleBar dd {font-size:11px; display:inline; vertical-align:top; color:#a8a8a8;}
.titleBar dt {padding-right:7px; background:url(//img.danawa.com/new/section_m/baby/img/bg_vLine10px.gif) no-repeat right top; margin-right:7px;}
.titleBar .cnt {font-weight:bold; color:#000;}
.titleBar .posRight dt {margin-left:20px;}
.titleBar .username {top:27px;}
.titleBar a {color:#a8a8a8;}
.arti_contents {font-size:12px; line-height:150%; margin-bottom:30px;}

/* 게시판 - 쓰기페이지 */
.notice {font-size:12px; border-bottom:1px solid #dcdcdc; padding:25px 0 10px 20px; margin-bottom:20px;}
.notice strong {color:#ff3703;}
.more {background-position:right -680px; height:16px;}
.more a {background-position:left -680px; height:14px; margin-right:1px; padding:2px 3px 0; line-height:14px; vertical-align:middle; font-size:11px; color:#fff; text-decoration:none;}

.tab {overflow:hidden; margin-bottom:-1px; _zoom:1; }
.tab li {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_tap.gif) no-repeat right 0; height:35px; display:inline-block; float:left; vertical-align:top; position:relative; z-index:1; margin-right:-1px;}
.tab li span {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_tap.gif) no-repeat left 0; height:25px; display:inline-block; margin-right:1px; line-height:35px; padding:10px 15px 0;}
.tab li.active { background-position:right -40px; z-index:100;}
.tab li.active span { background-position:0 -40px;}
.tit_category, .tit_product {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_tap.gif) no-repeat; height:13px; display:block;  font-size:0; text-indent:-1000px; color:#fff; line-height:13px;}
.tit_category {background-position:0 -90px; width:43px;}
.tit_product {background-position: 0 -110px; width:22px;}

.relationBox {border:1px solid #4870a1; position:relative; margin:0 0 20px 0; _zoom:1;}
.relationBox .desc {font-size:12px; color:#4081dd; margin-top:-23px;}
#categoryChoose {margin:10px 8px 10px 10px; overflow:hidden;}
.categoryList {width:140px; float:left; margin-right:2px; display:inline;}
.categoryList dt {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_cateUIheader_pt.gif) repeat-x; height:20px; display:block; border:1px solid #2d5a93; border-bottom:0; font-size:12px; font-weight:bold; color:#fff; text-align:center; line-height:20px; vertical-align:middle;}
.categoryList select {width:140px; height:163px; overflow-y:auto ;border:1px solid #ddd;}

#categoryChoose select {overflow-y:auto;}
.relationResult {margin:10px; position:relative;}
.relationResult .select {width:630px; height:73px; vertical-align:top; overflow-y:auto; border:1px solid #ddd; font-size:12px;}
.relationResult .select ul {margin:5px;}
.relationResult .select li {height:16px;  margin-bottom:1px; overflow:hidden;}
.relationResult .select input { position:absolute; height:16px; line-height:16px; vertical-align:top; text-indent:-100px; left:-10000px;}
.relationResult .select label {background:#fff; height:16px; line-height:16px; vertical-align:top; cursor:pointer; display:block;}
.relationResult .posRight {right:0px; top:0;}
.relationResult .delete {background:url(//img.danawa.com/new/section_m/baby/img/bg_btn_delete.gif) no-repeat; width:69px; height:74px; vertical-align:top;}
.relationResult .delete span {display:none;}
.relationResult label.over {background:#3399ff; color:#fff;}
.result {width:633px; height:80px; border:1px solid #ddd;}
#productChoose {padding:10px;}
.prodSearch label {font-size:12px; color:#000; font-weight:bold; margin:0 10px;}
.listWrapper {border:1px solid #b6b6b6; margin:10px 0; padding:10px 9px; overflow-y:auto; height:180px; zoom:1;}
.productList {overflow:hidden; zoom:1;}
.productList li {width:330px; float:left; border-bottom:1px solid #e0e0e0; padding:5px 0 5px 5px; background:#fff; overflow:hidden; min-height:47px; _height:47px;}
.productList li input {position:absolute; z-index:-100; left:-10000px;}
.productList li label {display:block; cursor:pointer; width:100%;}

.productList .image {width:47px; z-index:1000; float:left; margin-right:10px; height:47px;}
.productList .image img {width:45px; height:45px; border:1px solid #dcdcdc;}
.productList li a, .productList li {font-size:12px; color:#000;}
.productList .price {font-weight:bold;color:#ff3246; margin-top:5px; display:block;}
.productList .price strong { font-size:16px;  font-family:Tahoma,Geneva,sans-serif;}
.productList .over {background:#efefef;}
.editorWrap {position:relative; zoom:1;}

/* 에디터 상품 삽입 팝레이어 */
.popInsertWrapper {position:absolute; z-index:1;}
.closeButton_popup {position:absolute; display:block; bottom:-18px; left:340px; z-index:10 }
.closeButton_popup button {width:64px; height:20px; padding:0; margin:0; background:#fff;}
.closeButton_popup img {vertical-align:top; display:block; width:64px; height:20px;}
.popInsertProduct {border:2px solid #656565; background:#fff; height:220px; overflow-y:auto; overflow-x:hidden; zoom:1; width:726px; position:relative; z-index:11;}
.popInsertProduct ul {padding-top:10px;}
.popInsertProduct li {position:relative; zoom:1;}
.popInsertProduct li.over .opacityLayer {display:block;}
.opacityLayer {background:#2d4c7c; opacity:0.7; filter:alpha(opacity=70); position:absolute; z-index:13; font-size:14px; font-weight:bold; color:#fff;  width:100%; text-align:center; cursor:pointer; display:none;}
.opacityLayer span {display:block;margin:47px 0;}

/* Select */
.onCate #productChoose {display:none;}
.onProd #categoryChoose {display:none;}

/* editor */
.writeEditor {border-top:2px solid #8b8b8b; margin:0 0 20px 0;background:#fafafa;}

.rows  {border-bottom:1px solid #b6b6b6; zoom:1; padding:5px 0; } 
.rows dt { font-weight:bold; color:#000; font-size:12px;  text-align:left; left:0; padding:10px; line-height:20px; vertical-align:middle;}
.rows dd { margin:-40px 0 0 100px; padding:10px; font-size:12px;}
.rows dd .inputStyle { width:550px; padding:3px 3px; height:15px;}
.editorWrap {margin:10px 0 ;}
.editorWrap textarea {width:725px; border:1px solid #ececec;}

.articleOption {background:#f6f6f6; margin-top:10px;border-top:1px solid #b6b6b6;}
.articleOption .notice {margin:10px 0 0 0; padding:0; border:0;}


/* 기사글 삽입 상품리스트 박스 스타일 */
.boxSquare {border:1px solid #dcdcdc; margin:15px 0; min-height:108px; _height:108px;}
.prodlist {position:relative; zoom:1;}
.prodlist img {vertical-align:top;}
.prodlist dt {margin:0px 0 5px 90px; display:block; padding-top:10px;}
.prodlist a {font-size:12px; color:#666;}
.prodlist dt a, .prodlist dt {font-weight:bold; color:#333;} 
.prodlist dd.image {position:absolute; left:0; margin:0; top:0;}
.listType1 {margin:14px 28px 14px 29px; font-size:12px;}
.listType1 .desc {margin:0 173px 0 90px; line-height:140%;}
.listType1 dd.etc {position:absolute; right:0; margin-right:85px; top:10px; font-size:11px;}
.listType1 .etc p {line-height:120%;}
.listType1 dd.option {position:absolute; right:0; top:10px; width:65px; }
.listType1 dd.option a {display:block; margin-bottom:7px;}
.prodlist .price {color:#ff3246; font-weight:bold; margin:0 0 7px 0; font-size:12px;}
.prodlist .price strong {font-size:16px;  font-family:Tahoma,Geneva,sans-serif;color:#ff3246;}
.prodlist .price .title {color:#777; font-weight:normal;}

#relatedProduct .boxSquare {margin-top:5px;}
.listType2 {margin:19px 19px 0; border-bottom:1px dotted #ccc;}
.listType2 dd.desc {font-size:11px; line-height:140%; margin:0 0 15px 90px;}
.listType2 dd.desc a {font-size:11px; color:#777; }
.listType2 dt {padding:0;}
.listType2 .price {margin:0 0 20px 90px; font-size:11px;}

.listType3 {margin:0 10px 10px; padding-top:10px; font-size:12px; min-height:102px; _height:102px; border-bottom:1px solid #bcbcbc;}
.listType3 dd.image {position:absolute; left:10px; margin:0; top:10px;}
.listType3 dt {margin:0px 0 10px 100px; display:block; padding-top:20px;}
.listType3 .desc {margin:0 85px 0 100px; line-height:140%;}
.listType3 dd.option {position:absolute; right:0; top:20px; width:65px; }
.listType3 dd.option img {display:block; margin-bottom:7px;}

/* 관련글보기 */
#relatedArticle {border-top:2px solid #8b8b8b; padding-top:7px;}
#relatedArticle .boxSquare {background:#fafafa; margin-top:5px;}
h3.service_title {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_bullet.gif) no-repeat 0 -80px; padding-left:25px; height:20px; margin:0px 0 0 8px; font-size:12px; line-height:20px; vertical-align:middle; color:#000;}
h3.service_title .userName {color:#ff5513;}
#relatedArticle .ListTypeText {margin:5px 0 0 20px; border:0; }
#relatedArticle .indexBorder {background:#fff; border-top:1px solid #e0e0e0; padding:7px 0;}

/* 스폰서링크 */
#overture_layer {position:relative; background:url(//img.danawa.com/new/d_news/img/spon_bg.gif) no-repeat 0 bottom; padding-bottom:5px; width:730px; zoom:1;}
#overture_layer h3 {background:url(//img.danawa.com/new/d_news/img/spon_bg.gif) no-repeat 0 -219px; height:19px; padding-top:10px; margin-bottom:10px;}
#overture_layer h3 strong {background:url(//img.danawa.com/new/d_news/img/bul_subcon.gif) no-repeat 0 1px; padding:0px 0 0 10px; font-size:12px; color:#333; margin:0px 0 0 10px;}
#overture_layer .posRight {top:5px; right:5px;}
#overture_layer .spon_box {border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0; background:#fff;}
.spon_box .spon_list {margin:0 9px;}
.spon_list a {font-size:12px;}
.spon_list li {background:url(//img.danawa.com/new/d_news/img/bul_point.gif) no-repeat 0 4px; padding-left:7px; margin-bottom:5px; vertical-align:top; font-size:0; zoom:1;}
.spon_list dl {font-size:12px;  line-height:140%;}
.spon_list dt {display:inline; margin-right:10px;}
.spon_list dt a { font-weight:bold; color:#2f4a91; text-decoration:underline;}
.spon_list .url {display:inline;}
.spon_list .url a {color:#999; font-size:11px;}
.spon_list .desc a { color:#666;}

/* 코멘트 */
#comment {margin:40px 0 0 0; border-top:2px solid #8b8b8b; position:relative; zoom:1;}
.cmt_header .title {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_comment.gif) no-repeat; width:405px; height:17px; margin:10px;}
.cmt_header .posRight {font-size:12px; top:15px;}
.cmt_header .cnt { font-weight:bold; color:#ff781c;}
#comment .boxSquare {background:#fafafa; border-bottom:2px solid #8b8b8b;}
.loginBox {position:relative; background:#fff; padding:20px 20px 10px 20px; font-size:12px; zoom:1; overflow:hidden;}
.loginBox input {vertical-align:middle;}
.loginBox label {margin-left:5px;}
.loginBox .inputStyle {width:104px; padding:3px 5px; height:12px;}
.loginBox .posRight a {font-size:11px; color:#333;}
.loginBox .posRight  {font-size:10px; color:#666; right:20px;}
.writeCmt {position:relative; border-bottom:1px solid #e0e0e0; background:#fff; padding:0 20px 10px 20px; zoom:1; overflow:hidden; }
.writeCmt .txtareaWrap {margin-right:75px;}
.writeCmt .txtareaWrap textarea {height:45px; border:1px solid #c5c5c5; background:#fafafa; font-size:12px; overflow-y:auto; overflow-x:hidden; width:100%; margin-right:-4px; zoom:1; text-align:left;}
.writeCmt input {position:absolute; right:20px; top:0;}
.writeCmt .counter {text-align:right; font-size:11px; color:#888; margin-top:5px; margin-right:75px;}
.writeCmt .counter .cnt{color:#666; font-weight:bold;}
#comment .indexBorder {padding:10px 0 20px 0;}

/* 코멘트 리스트 */
.cmt_list {padding:14px 19px;}
.cmt_list img {vertical-align:top;}
.cmt_list dt {visibility:hidden; height:0; line-height:0; font-size:0; width:0; position:absolute; margin:0; padding:0; text-indent:-1000px;}
.cmt_list .image img {border:1px solid #a0a0a0;}
.cmt_list .image {position:absolute; left:0; top:0;}
.cmt_list .user {margin:0px 0 10px 55px; font-size:11px; color:#999; }
.cmt_list .user .name a {font-size:12px; color:#333;}
.cmt_list .comment {margin:0 0 0 55px; font-size:12px; word-wrap:break-word; }
.cmt_list .writeCmt {margin:0px 0 0 55px; padding:0; border:0;}
.cmt_list .writeCmt input {right:0; overflow:visible; vertical-align:top; margin:0; padding:0;}

.cmt_list li {border-bottom:1px dashed #d6d6d6; margin-bottom:10px; padding-bottom:10px; zoom:1;position:relative; min-height:47px; _height:47px;}
.cmt_list .button {position:absolute; top:0; right:0; font-size:11px; color:#474747; vertical-align:top;}
.cmt_list .button button {overflow:visible; margin:0 5px; vertical-align:top; background:none;}
.cmt_list .replyType { background:url(//img.danawa.com/new/d_news/img/bul_reply.gif) no-repeat left 5px; margin-left:55px; padding-left:15px;}
.cmt_list .replyType .image {left:15px;}
.cmt_read .writeCmt {display:none;}
.cmt_write dd {display:none;}
.cmt_write dd.writeCmt {display:block; margin:0 0 0 0px;}
.cmt_write .user, .cmt_modify .user {margin-bottom:5px;}

.cmt_modify dd.comment {display:none;}
.btnWrapper {position:relative;}
.btnWrapper .posRight {top:0;}

/* textBtn 설정 */
.textBtn, .textBtn * { background-image:url(//img.danawa.com/new/section_m/baby/img/bg_deco_sprite.gif); background-repeat:no-repeat; display:inline-block; border:0; overflow:visible; white-space:nowrap;  cursor:pointer}
.btnStyle1 {background-position:right -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle1 button, .btnStyle1 input  {background-position:left -650px; font-size:12px; color:#000; height:23px; margin-right:2px; padding:1px 10px 0; vertical-align:top;}
.btnStyle2 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle2 button, .btnStyle2 input {background-position:right -650px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 10px; vertical-align:top;}
.btnStyle2 strong {background:none; color:#1272ea;}
.btnStyle3 {background-position:left -650px; height:24px; line-height:24px; vertical-align:middle;}
.btnStyle3 button, .btnStyle3 input {background-position:right -710px; font-size:12px; color:#000; font-weight:bold; height:24px; margin-left:2px; padding:1px 20px 0 5px; vertical-align:top; background-color:transparent;}

/* etc */
.ListTypeText {border-top:1px solid #ececec; margin:0 30px 15px 30px; padding-top:11px; line-height:100%;}
.ListTypeText li {background:url(//img.danawa.com/new/section_m/baby/img/bg_deco_bullet.gif) 2px -53px no-repeat; padding-left:10px; margin-bottom:5px;}
.ListTypeText li a {font-size:12px; color:#333; vertical-align:top; line-height:145%;}
.ListTypeText .cnt {font-size:12px; color:#0099ff;}
.ListTypeText .user a {font-size:11px; color:#999;}
