/* section_slide */
.section_slide{
  width:100%;
  height:436px;
  overflow:hidden;
}
.slide_wrap{
  position:relative;
  height:436px;
  .slide_item{
    float:left;
    width:100%;
    position:absolute;
    a{
      display:block;
      height:436px;
      overflow:hidden;
    }
    img{
      position:absolute;
      left:50%;
      margin-left:-951px;
    }
  }
  .btn_wrap{
    position:absolute;
    width:1100px;
    left:50%;
    top:50%;
    margin-left:-550px;
    margin-top:-25px;
    .left_btn{
      @extend %navi;
      float:left;
      background-position:0 -130px;
    }
    .right_btn{
      @extend %navi;
      float:right;
      background-position:-32px -270px;
    }
    .paging{
      color:#fff;
      font-size:15px;
      font-family:$MALGUN;
    }
  }
}
// slide_wrap

/* section_tab */
.section_tab{
  position:relative;
  height:58px;
  border-bottom:1px solid #313b54;
  margin-top:-58px;
  .tab_wrap{ 
    position:absolute;
    width:1100px;
    top:1px;
    left:50%;
    margin-left:-550px;
    @include clear;
    color:#000;

    li{
      float:left;
      width:548px;
      height:56px;
      border:1px solid #e7e9ed;
      border-bottom-color:#313b54;
      background:#e7e9ed;
      &.select{
        border-color:#313b54;
        border-bottom-color:#fff;
        background:#fff;
        a{
          color:#000;
          font-weight:bold;
        }
      }

      a{
        display:block;
        width:100%;
        height:56px;
        text-align:center;
        line-height:56px;
        font-size:20px;
        font-family:$MALGUN;
        color:#666;
        &:hover{
          text-decoration:none;
        }
      }
    }
  }
}

/* section_cate */
.section_cate{
  width:1100px;
  margin:0 auto;
  @include clear;
}
.cate_list{
  margin:20px 0;
  text-align:center;
  li{
    position:relative;
    width:106px;
    height:106px;
    margin:0 10px;
    border-radius:50%;
    overflow:hidden;
    &.select, &:hover{
      background-position-y:-110px;
      .cate_name{
        color:#fff;
        font-weight:bold;
      }
    }
    a{
      display:block;
      width:100%;
      height:100%;
    }
    .cate_name{
      display:inline-block;
      width:100%;
      left:0;
      bottom:20px;
      position:absolute;
      font-size:11px;
      color:#000;
    }
  }
}
// cate_list

/* section_contents */
.section_contents{
  width:1100px;
  margin:0 auto;
  margin-bottom:40px;
}
.contents_wrap{
  @include clear;
}
.contents_item{
  float:left;
  width:276px;
  margin-right:-1px;
  margin-bottom:-1px;
  a{
    display:block;
    border:1px solid #e1e1e1;
    padding:12px;
    &:hover{
      position:relative;
      text-decoration:none;
      border-color:$PRIMARY-COLOR;
      z-index:200;
      .content_title{
        text-decoration:underline;
      }
    }
  }
  .tumb_250{
    width:250px;
    height:250px;
  }
}
//contents_item
.content_txt{
  padding:10px;
  padding-bottom:0;
  .ship_option{
    display:inline-block;
    height:24px;
    line-height:24px;
    color:#666;
    &:before{
      content:"|";
      margin:0 10px;
      color:#cecece;
    }
  }
  .content_title{
    height:36px;
    line-height:18px;
    margin-top:5px;
    color:#000;
    font-size:14px;
    font-family:$MALGUN;
    @include ell(2);
  }
  .content_order{
    margin-top:3px;
    font-size:11px;
    color:#666;
    span{
      font-size:12px;
      color:#000;
    }
  }
}
// content_txt
.content_price{
  margin-top:-3px;
  @include clear;
  .sale{
    float:left;
    font-size:20px;
    font-family:$MALGUN;
    color:$NUM-PER;
    strong{
      font-size:40px;
      font-family:$CENTURY;
    }
    span{
      vertical-align:-20px;
    }
  }
  .price{
    float:left;
    margin:7px 0 0 10px;
    .before_price{
      color:#666;
      text-decoration:line-through;
      font-size:14px;
      font-family:$MALGUN;
      strong{
        font-weight:normal;
        font-family:$CENTURY;
      }
    }
    .after_price{
      color:#000;
      font-size:18px;
      font-family:$MALGUN;
      line-height:22px;
      strong{
        font-weight:normal;
        font-family:$CENTURY;
        font-size:22px;
      }
    }
  }
}
// content_price